doc-type-item-grid {
  width:100%;
  .item {
    &.doc-type-icon{
      flex: 0 1 25px;
    }
    &.doc-type-name{
      flex: 1 0 200px;
    }
    &.file-count {
      flex: 0 1 130px;
      position: relative;
    }
  }

  .big-doc-type-icon {
    font-size: 18px;
  }

  .title-primary {
  }
}
