<div #el class="grid-row">
  <span class="item doc-type-icon">
    <span class="big-doc-type-icon">
      <span class='tag tag-{{ docTypeColorId}}  fa fa-bookmark'></span>
    </span>
  </span>
  <span  class="item doc-type-name">
      <a  class="title-primary" title="DocType: '+ this.dataItem.item +'">{{ dataItem.item.name }}</a>
  </span>
  <span  class="item file-count">
    <num-of-files-display [dataItem]="dataItem"></num-of-files-display>
  </span>
</div>
