<div #el class="grid-row">
  <div class="item folder-icon">
    <span title="Folder" class="ion-android-folder-open"></span>
  </div>

  <div class="item folder-name  title-primary  lower-case-capitalized">
      <span>
        <a class="title-primary">{{dataItem.item.rootFolderNickName}}</a>
      </span>

      <span  class="pull-right">
        <functional-role-display [functionalRoleDTOs]="dataItem.item.associatedFunctionalRoles"></functional-role-display>
        <biz-list-display [bizListDTOs]="dataItem.item.associatedBizListItems"></biz-list-display>
        <tag-display [tagsDTOs]="dataItem.item.fileTagDtos"></tag-display>
      </span>

    <div>
        <span *ngIf="folderSummary" >
          <span>
            <a class="title-third" title="{{ folderSummary }}">
              {{  folderSummary }}
            </a>
          </span>
        </span>
        <span  class="pull-right">
                      <doc-type-display  [editable]="false" [docTypeDTOs]="dataItem.item.docTypeDtos"> </doc-type-display>
        </span>
    </div>
  </div>


  <div class="item folder-items">
    <span>
      <div> {{  filesSummary }}
      </div>
      <div>
        {{ filesPercentage }}
      </div>
    </span>
  </div>

  <!-- div class="item action  lower-case-capitalized">{{dataItem.item.crudAction}}</div>
  <div class="item timestamp">{{dataItem.item.timestamp| date:'dd-MM-yyyy HH:mm'}}</div>
  <div class="item message">{{dataItem.item.message}}</div>
  <div class="item username ">{{dataItem.item.username}}</div -->
</div>
