<span class="discover-display-icons-list" *ngIf="tagsDTOs!= null && tagsDTOs.length>0">
  <span   class="discover-display-icons-list-item" *ngFor="let tagItem of tagsDTOs; let i = index">
    <span class='tag tag-{{  tagsColorArray[i] }}' title='{{  tagItem.name}}'>
      <span class='{{ IconsConfig.tag + (tagItem.implicit ? "-o" : "") }}'>
      </span>
    </span>
     <span class="discover-display-icons-item-text">
        {{ tagItem.name}}
      </span>
  </span>
</span>
