root-folder-item-grid {
  width: 100%;

  .item {
    .ion-ios-briefcase-outline {
      position: relative;
      top:2px;
    }
    &.fieldName {
      flex: 1 0 127px;
      word-break: break-all;
    }
    &.status {
      flex: 0 0 110px;
      max-width: 110px;
    }
    &.runningEllapsedTime {
      flex: 0 0 100px;
      max-width: 100px;
    }
    &.activePhase {
      flex: 0 0 70px;
      max-width: 70px;
    }
    &.phase{
      flex: 0 0 100px;
      width:100px;
      max-width: 100px;
      min-width: 100px;
      flex-grow: 0;
      flex-shrink: 0;
      border-left: solid 1px #eaeaea;
      &.with-overflow {
        overflow: visible !important;
        white-space: nowrap !important;
      }
    }
    &.scanProgress {
      flex: 0 0 150px;
      max-width: 150px;

      .expand-icon {
        position: relative;
        top: 3px;
      }
    }
    &.phaseRate {
      flex: 0 0 80px;
      max-width: 80px;
    }
    &.phaseTime {
      flex: 0 0 80px;
      max-width: 80px;
    }
    &.processedFiles {
      border-left: solid 1px #eaeaea;
      flex: 0 0 170px;
      max-width: 170px;
    }
    &.dataCenter {
      flex: 0 0 100px;
      word-break: break-all;
      max-width: 100px;



      .fa-check {
        color : #1ab394;
      }

      .fa-close {
        color : red;
      }
    }
    &.scheduleGroup {
      flex: 0 0 100px;
      width: 100px;
      max-width: 100px;
      word-break: break-all;
    }
    &.lastScan {
      flex: 0 0 130px;
      max-width: 130px;
    }
    &.actions {
      flex: 0 0 95px;
      width: 95px;
      max-width: 95px;
    }
    &.checkbox-place {
      width: 17px;
    }
    &.iconSpace {
      flex: 0 0 20px;
      max-width: 20px;
      padding: 7px 3px !important;
      cursor: pointer;
      .fa-star-o {
        font-size: 16px;
      }
      .fa-star {
        font-size: 16px;
        color: orange;
      }
    }
    &.viewBtn {
      flex: 0 0 60px;
      max-width: 60px;
    }
    &.mediaType {
      flex: 0 0 30px;
      max-width: 30px;

      .media-type-icon {
        opacity: 0.6;

        &.SHARE_POINT:before {
          background-size: 18px;
        }

        &.ONE_DRIVE:before {
          background-size: 20px;
        }

        &.BOX:before {
          background-size: 18px;
        }

        &.FILE_SHARE:before {
          background-size: 16px;
        }
        &.EXCHANGE_365:before {
          background-size: 18px;
        }
      }
    }

  }
  .expand-line {
    position: relative;
    padding: 0px 0px;

    .grid-row .item {
   //   padding: 0px 7.8px !important;
    }

  }

  .files-type {
    font-size: 11px;
    white-space: normal;

    .file-type-icon {
      font-size: 13px;
    }
    span {
      padding-right: 10px;
      display: inline-block;
      white-space: nowrap;
    }
  }
}

.active-scans-file-type-span {
  padding-right: 10px;
  font-size: 16px;
}

.change-filter-icon {
  display: none;
  margin-left: 5px;
  font-size: 16px;
  position: relative;
  top: -12px;
  cursor: pointer;

  .fa-filter {
    position: absolute;
    color: #49647d;
    top:0px;
  }

  .fa-minus {
    font-size: 14px;
    position: absolute;
    color: #0b93d5;
    top: 3px;
    left: 1px;
  }

}

.tree-grid-item:hover {
  .change-filter-icon {
    display: inline-block;
  }
  .action-buttons {
    display: block;
  }
}
.tree-grid-item {

  .action-buttons {
    display: none;
  }
}

.first-scan-span {
  color: darkred;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 13px;
  left: 7px;
  background-color: white;
  line-height: 1;
  font-style: normal;
}


