<div #el class="grid-row">
  <div class="item iconSpace">
    <i class="fa" [ngClass]="{'fa-star': isFavorite, 'fa-star-o': !isFavorite}" (click)="changeFavorite()"></i>
  </div>
  <div class="item startIcon icon-column">
    <i class="ion-ios-briefcase-outline ">
      <span title="{{ 'ROOTFOLDER.TITLE.FIRST_SCAN_MSG' | translate }}" class="first-scan-span" *ngIf="dataItem.item.rootFolderDto.firstScan">1st</span>
    </i>
  </div>
  <div class="item fieldName">
    <div>
      <div class="title-primary">
        <a class="da-link-btn"  [routerLink]="['/scan/manage/rootfolders']" [queryParams]="{selectedRootFolderId: dataItem.item.rootFolderDto.id,findId : dataItem.item.rootFolderDto.id}"   title="{{  dataItem.item.rootFolderDto.nickName ? dataItem.item.rootFolderDto.nickName : dataItem.item.rootFolderDto.realPath }}">{{  dataItem.item.rootFolderDto.nickName ? dataItem.item.rootFolderDto.nickName : (dataItem.item.rootFolderDto.realPath ? dataItem.item.rootFolderDto.realPath : dataItem.item.rootFolderDto.mailboxGroup) }}</a>
      </div>

      <span class="title-third mouse-tooltip" title="{{  dataItem.item.rootFolderDto.nickName ? (dataItem.item.rootFolderDto.realPath ? dataItem.item.rootFolderDto.realPath : dataItem.item.rootFolderDto.mailboxGroup) :''}}">
            {{  dataItem.item.rootFolderDto.nickName ? (dataItem.item.rootFolderDto.realPath ? dataItem.item.rootFolderDto.realPath : dataItem.item.rootFolderDto.mailboxGroup)  :''}}
      </span>
      <span style="margin-left: 4px;" *ngIf="isNotAccessible" title="{{ 'ROOTFOLDER.TITLE.ACCESS_MSG' | translate }}" class="fa fa-exclamation-triangle notice"></span>
      <span style="margin-left: 4px;" *ngIf="isAccessibleUnknown"  title="{{ 'ROOTFOLDER.TITLE.UNKNOWN_ACCESS_MSG' | translate }}" class="fa fa-question"></span>
      <span style="margin-left: 4px;" *ngIf="dataItem.item.rootFolderDto.shareFolderPermissionError"  title="Share permission error" class="fa fa-user-circle error"></span>
      <span style="margin-left: 4px;"  *ngIf="dataItem.item.rootFolderDto.reingest" title="{{ 'ROOTFOLDER.TITLE.IS_MARK' | translate }}" class="fa fa-thumb-tack" ></span>

    </div>
  </div>

  <div class="item status" >
    <div>
      <status-icon [status]="runStatus"></status-icon>
      <span class="title-secondary" >{{  'STATUS.'+runStatus | translate }}</span>
    </div>
    <div class="title-forth" *ngIf="runStatus == ERunStatus.SUSPENDED">
      {{ 'PAUSE_REASON.'+pauseReason | translate }}
    </div>
  </div>

  <div class="item phase" [ngClass]="{'with-overflow' :!dataItem.item.crawlRunDetailsDto || runStatus == ERunStatus.FINISHED_SUCCESSFULLY || runStatus == ERunStatus.STOPPED}">
    <div class="title-secondary" *ngIf="dataItem.item.runningPhase" >
      <span >{{ 'SCAN.PHASE.'+dataItem.item.runningPhase.jobType | translate }}</span>
    </div>
    <div class="title-watermark" *ngIf="runStatus == ERunStatus.FINISHED_SUCCESSFULLY">
      Phases completed
    </div>
    <div class="title-watermark" *ngIf="runStatus == ERunStatus.STOPPED">
      Phases finished
    </div>
    <div class="title-watermark" *ngIf="!dataItem.item.crawlRunDetailsDto">
      Not started
    </div>
  </div>

  <div class="item scanProgress">
    <span class="scan-progress-bar-span" >
      <div style="line-height: 0px">
        <span style="display: inline-block;width:100px">
          <progressBar *ngIf="dataItem.item.runningPhase && (dataItem.item.runningPhase.phaseCounter != 0 || dataItem.item.runningPhase.phaseMaxMark != 0 )"  [progressTitle]="phasePerecentageDone"  [showPercentage]="false" [value]="dataItem.item.runningPhase.phaseCounter" [maxValue]="dataItem.item.runningPhase.phaseMaxMark" ></progressBar>
        </span>
        <span title="{{ (dataItem.isOpen ? 'ROOTFOLDER.TITLE.HIDE_DETAILS' : 'ROOTFOLDER.TITLE.SHOW_DETAILS')  | translate }}"  (click)="expandOrCollapseNode()" *ngIf="dataItem.item.crawlRunDetailsDto" class="expand-icon fa" [ngClass]="{'fa-chevron-up' : dataItem.isOpen, 'fa-chevron-down' : !dataItem.isOpen}"></span>
      </div>
      <div class="title-third" *ngIf="dataItem.item.runningPhase && (dataItem.item.runningPhase.phaseCounter != 0 || dataItem.item.runningPhase.phaseMaxMark != 0 )">

        <span *ngIf="dataItem.item.runningPhase.jobType == EJobType.SCAN && !inPendingState" >{{  dataItem.item.runningPhase.phaseCounter | number }} files</span>
        <span *ngIf="(dataItem.item.runningPhase.jobType == EJobType.INGEST || dataItem.item.runningPhase.jobType == EJobType.ANALYZE)" >
          <span *ngIf="dataItem.item.runningPhase.phaseMaxMark != 0 ">{{  dataItem.item.runningPhase.phaseCounter  | numSuffix }} / {{ dataItem.item.runningPhase.phaseMaxMark  | numSuffix }} files ({{  phasePerecentageDone }})</span>
          <span *ngIf="dataItem.item.runningPhase.phaseMaxMark == 0 ">{{  dataItem.item.runningPhase.phaseCounter | number }} files </span>
        </span>
        <span *ngIf="(dataItem.item.runningPhase.jobType == EJobType.SCAN_FINALIZE || dataItem.item.runningPhase.jobType == EJobType.INGEST_FINALIZE || dataItem.item.runningPhase.jobType == EJobType.ANALYZE_FINALIZE )"  >{{  phasePerecentageDone }}</span>

      </div>
    </span>
  </div>

  <div class="item phaseRate">
    <div class="title-secondary" title="{{ 'ROOTFOLDER.TITLE.PHASE_RATE' | translate}}">{{ runSummaryObject && runSummaryObject.tasksPerSecRateString  ? (runSummaryObject.tasksPerSecRateString  + ( runSummaryObject.tasksPerSecRunningRateString ?   ' (' + runSummaryObject.tasksPerSecRunningRateString +')' : '' )) : ''  }}</div>
  </div>

  <div class="item phaseTime">
    <div *ngIf="runSummaryObject" class="title-secondary" title="{{ 'ROOTFOLDER.TITLE.PHASE_TIME' | translate}}">
      <span *ngIf="runSummaryObject.estimatedPhaseFinish">{{  runSummaryObject.estimatedPhaseFinish | period}}</span>
    </div>
  </div>

  <div class="item processedFiles " >
    <div  *ngIf="dataItem.item.crawlRunDetailsDto">

      <!-- span title="All processed files" *ngIf="dataItem.item.runningPhase"><i class="file-type-icon fa fa-file-o"></i> {{ dataItem.item.runningPhase.phaseMaxMark }}</span -->
      <div *ngIf="fileNumStr" title="{{ fullFileNumStr }}" class="title-secondary">
        {{  fileNumStr }}
      </div>

      <div class="files-type" *ngIf="(dataItem.item.crawlRunDetailsDto.processedWordFiles > 0 || dataItem.item.crawlRunDetailsDto.processedExcelFiles > 0 ||  dataItem.item.crawlRunDetailsDto.processedPdfFiles > 0 || (dataItem.item.crawlRunDetailsDto.processedOtherFiles &&  dataItem.item.crawlRunDetailsDto.processedOtherFiles >0))">
        <span *ngIf="fileTypesMap[EFileType.msWord] && dataItem.item.crawlRunDetailsDto.processedWordFiles !== null" title="{{ 'ROOTFOLDER.TITLE.WORD_FILES' | translate}}"><i class="file-type-icon fa fa-file-word-o"></i> {{ dataItem.item.crawlRunDetailsDto.processedWordFiles | numSuffix }}</span>
        <span *ngIf="fileTypesMap[EFileType.msExcel] && dataItem.item.crawlRunDetailsDto.processedExcelFiles !== null" title="{{ 'ROOTFOLDER.TITLE.EXCEL_FILES' | translate}}"><i class="file-type-icon  fa fa-file-excel-o"></i> {{ dataItem.item.crawlRunDetailsDto.processedExcelFiles | numSuffix }}</span>
        <span *ngIf="fileTypesMap[EFileType.pdf] && dataItem.item.crawlRunDetailsDto.processedPdfFiles !== null" title="{{ 'ROOTFOLDER.TITLE.PDF_FILES' | translate}}"><i class="file-type-icon fa fa-file-pdf-o"></i> {{ dataItem.item.crawlRunDetailsDto.processedPdfFiles | numSuffix }}</span>
        <span *ngIf="dataItem.item.crawlRunDetailsDto.processedOtherFiles" title="{{ 'ROOTFOLDER.TITLE.OTHER_FILES' | translate}}"><i class="file-type-icon fa fa fa-file-o"></i> {{ dataItem.item.crawlRunDetailsDto.processedOtherFiles | numSuffix }}</span>
      </div>

    </div>
  </div>

  <div class="item mediaType">
    <span title="{{ (dataItem.item.rootFolderDto.mediaType | translate)+(dataItem.item.rootFolderDto.mediaConnectionName ? (' - ' + dataItem.item.rootFolderDto.mediaConnectionName ) : '') }}" class="media-type-icon {{ dataItem.item.rootFolderDto.mediaType }}"></span>
  </div>
  <div class="item lastScan">
    <div >
      <span *ngIf="dataItem.item.crawlRunDetailsDto" title="{{ 'ROOTFOLDER.TITLE.LAST_RUN_START' | translate}}" class="title-secondary">{{  dataItem.item.crawlRunDetailsDto.scanStartTime  | date :CommonConfig.dateTimeFormat   }}</span>
    </div>
    <div class="title-forth" *ngIf="lastRunElapsedTime" title="{{ 'ROOTFOLDER.TITLE.LAST_RUN_ELAPSED' | translate}}" >
      <span *ngIf="lastRunElapsedTime">{{  lastRunElapsedTime | period}}</span>
    </div>
  </div>

  <div class="item actions ddl-cell">
      <span  class="icon-button pause"  *ngIf="dataItem.item.crawlRunDetailsDto && dataItem.item.crawlRunDetailsDto.runOutcomeState == ERunStatus.RUNNING" title="{{ 'ROOTFOLDER.ITEM.PAUSE' | translate}}" (click)="pauseScan()"><i class="fa fa-pause"></i></span>
      <span  class="icon-button play"  *ngIf="dataItem.item.crawlRunDetailsDto && dataItem.item.crawlRunDetailsDto.runOutcomeState == ERunStatus.PAUSED" title="{{ 'ROOTFOLDER.ITEM.RESUME' | translate}}" (click)="resumeScan()"><i class="fa fa-play"></i></span>
      <span  class="icon-button stop"  *ngIf="dataItem.item.crawlRunDetailsDto && dataItem.item.crawlRunDetailsDto.runOutcomeState == ERunStatus.PAUSED" title="{{ 'ROOTFOLDER.ITEM.STOP' | translate}}" (click)="stopScan()"><i class="fa fa-stop"></i></span>
      <span  class="icon-button play"  *ngIf="!dataItem.item.crawlRunDetailsDto || (dataItem.item.crawlRunDetailsDto.runOutcomeState != ERunStatus.RUNNING && dataItem.item.crawlRunDetailsDto.runOutcomeState != ERunStatus.PAUSED)" title="{{ 'ROOTFOLDER.ITEM.RUN_ALL' | translate}}" (click)="runScanFolder()"><i class="fa fa-play"></i></span>


    <da-drop-down [openOnLeft]="true" [alsoOpenInTop]="true" [withArrow]="false" [enabled]="true" [dropDownItems]="additionalDropDownItems"  style="float: right;">
      <span  class="icon-button options" title="{{ 'ROOTFOLDER.ITEM.MORE' | translate}}" ><i class="fa fa-ellipsis-v"></i></span>
    </da-drop-down>

  </div>
</div>

<div #runs class="grid-row" *ngIf="(dataItem && dataItem.isOpen && dataItem.item.jobs && dataItem.item.jobs.length > 0 )">
  <div  style="width: 100%;padding: 0px 30px 20px 10px;">
      <last-scan-phases  [jobList]="dataItem.item.jobs" [runStatus]="runStatus" [runId]="dataItem.item.rootFolderDto.lastRunId" [exportFileName]="dataItem.item.rootFolderDto.nickName ? dataItem.item.rootFolderDto.nickName : dataItem.item.rootFolderDto.realPath">
      </last-scan-phases>
  </div>
</div>

