<div class="modal-header modal-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" (click)="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body tabbed-dialog clearfix" style="height: 277px;">
  <ul class="nav nav-tabs">
    <li> <a class="btn btn-sm" (click)="setActiveTab('general')" [ngClass]="{'btn-flat':activeTab=='general'}"> General <span class="error " [ngStyle]="{'visibility': myForm && myForm.invalid ? 'visible' : 'hidden'}"   >*</span></a></li>
    <li> <a class="btn  btn-sm" (click)="setActiveTab('scan')" [ngClass]="{'btn-flat':activeTab=='scan'}">Scan <span class="error " [ngStyle]="{'visibility': !scheduleGroupSelected||!rootFolderItem.customerDataCenterDto.id ? 'visible' : 'hidden'}"   >*</span></a></li>
    <li> <a class="btn  btn-sm" (click)="setActiveTab('fileTypes')" [ngClass]="{'btn-flat':activeTab=='fileTypes'}">File types</a></li>
    <li> <a class="btn btn-sm" (click)="setActiveTab('properties')" [ngClass]="{'btn-flat':activeTab=='properties'}">Properties</a></li>
    <li> <a class="btn  btn-sm" (click)="setActiveTab('excludedFolders')" [ngClass]="{'btn-flat':activeTab=='excludedFolders'}">Exclude</a></li>
  </ul>
  <div *ngIf="activeTab=='general'" class="col-sm-11 ">
    <form class="form-horizontal" name="generalForm" #myForm role="form">
      <div class="row">

        <div  class="form-group">
          <label for="nickName" class="col-sm-3">Nick name:</label>

          <div class="col-sm-5" style="padding-left: 2px;">
            <input type="text" class="form-control" id="nickName"  name="nickName"  [(ngModel)]="rootFolderItem.nickName" >
          </div>
          <div class="checkbox" class="col-sm-4" style="display: inline-block">
            <label ><input type="checkbox"   name="rescanActive"  [(ngModel)]="rootFolderItem.rescanActive" >Rescan active</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group "  style="position: relative">

            <label for="mediaType">Media type:</label>
            <span class="error top-right-position" >*</span>
            <select id="mediaType" class='form-control'  name="mediaType"  [(ngModel)]='rootFolderItem.mediaType' style="width: 120px;" required [attr.disabled]="editMode" (change)="mediaTypeSelectedChanged(rootFolderItem.mediaType)">
              <option *ngFor="let mOption of mediaTypeOptions" [value]="mOption">{{ mOption | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-8">

          <div class="form-group " *ngIf="rootFolderItem.mediaType == EMediaType.SHARE_POINT.toString() "  style="position: relative">

            <label  for="connection" ><i class="{{connectionIconClass}}"></i> Connection:</label>
            <span   class="error top-right-position"  >*</span>
            <input-param   name="connection" id="connection" [required]="true" [options]="true" [singleSelection]="true"  [onItemsSelected]="onMediaConnectionSelected" [actionName]="'SharePoint connection'"
                           [classType]="rootFolderItem.mediaType + 'Connection'"  [createNewSelectedItemFromText]="" [leaveTextAfterSelection]="true" [openNewObjectDialog]="openNewSharePointConnectionDialog"
                           [savedSelectedItems]="mediaConnectionSavedSelectedItems" [loadOptionItems]="loadSharePointConnectionOptionItems"
                           [createNewOptionFromItem]="createMicrosoftConnectionParamOption" ></input-param>

          </div>
          <div class="form-group " *ngIf="rootFolderItem.mediaType == EMediaType.ONE_DRIVE.toString() "  style="position: relative">

            <label  for="connection2" ><i class="{{connectionIconClass}}"></i> Connection:</label>
            <span   class="error top-right-position"  >*</span>
            <input-param   name="connection2" id="connection2" [required]="true" [options]="true" [singleSelection]="true"  [onItemsSelected]="onMediaConnectionSelected" [actionName]="'OneDrive connection'"
                           [classType]="rootFolderItem.mediaType + 'Connection'"  [createNewSelectedItemFromText]="" [leaveTextAfterSelection]="true" [openNewObjectDialog]="openNewOneDriveConnectionDialog"
                           [savedSelectedItems]="mediaConnectionSavedSelectedItems" [loadOptionItems]="loadOneDriveConnectionOptionItems"
                           [createNewOptionFromItem]="createMicrosoftConnectionParamOption" ></input-param>

          </div>
          <div class="form-group " *ngIf="rootFolderItem.mediaType == EMediaType.BOX.toString() "  style="position: relative">

            <label  for="connection3" ><i class="{{connectionIconClass}}"></i> Connection:</label>
            <span   class="error top-right-position"  >*</span>
            <input-param   name="connection3" id="connection3" [required]="true" [options]="true" [singleSelection]="true"  [onItemsSelected]="onMediaConnectionSelected" [actionName]="'Box connection'"
                           [classType]="rootFolderItem.mediaType+  'Connection'"  [createNewSelectedItemFromText]="" [leaveTextAfterSelection]="true" [openNewObjectDialog]="openNewBoxConnectionDialog"
                           [savedSelectedItems]="mediaConnectionSavedSelectedItems" [loadOptionItems]="loadBoxConnectionOptionItems"
                           [createNewOptionFromItem]="createBoxConnectionParamOption" ></input-param>

          </div>
        </div>
      </div>
      <div class="form-group"   style="position: relative; margin-bottom: 0;">
        <label for="name">  <span  class='repositoryType {{rootFolderItem.mediaType}}' style="line-height: 22px;" ></span><span style="margin-left: 32px;">Path:</span>  </label>
        <span class="error top-right-position"  >*</span>
        <div class="right-btn-outside"  >
          <a class="btn btn-flat " (click)="openBrowseServerFoldersDialog()" [ngClass]="{disabled:((editMode && isScanned) || (isMediaConnectionNeeded()&&connectionSelected==null))}" >Browse</a>
          <div >
            <input *ngIf="!editMode" type="text"  class="form-control " (change)="fullPathChanged()"  id="name" name="name"  [(ngModel)]="rootFolderItem.realPath" required [attr.readonly]="(isMediaConnectionNeeded()&&connectionSelected==null)">
            <input *ngIf="editMode" type="text"  class="form-control " (change)="fullPathChanged()" id="name" name="name"  [(ngModel)]="rootFolderItem.realPath" required [attr.readonly]="isScanned">
          </div>
        </div>
        <div  class="small" title="File access, including browsing is done by media-processors at the selected datacenter" style="display: inline-block"><i class="fa fa-info"></i> &nbsp;Selected datacenter: '{{rootFolderItem.customerDataCenterDto.name}}'</div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
  <div *ngIf="activeTab=='properties'" class="col-sm-12 ">
    <form class="form-horizontal" role="form">

      <div >
        <div class="row">
          <div  class="col-sm-4 ">
            <div  class="form-group ">
              <label for="storePurpose">Purpose:</label>
              <select id="storePurpose" class='form-control'  name="storePurpose"  [(ngModel)]='rootFolderItem.storePurpose' style="width: 120px;">
                <option *ngFor="let storePurposeOption of storePurposeOptions" [value]="storePurposeOption">{{ storePurposeOption | translate }}</option>
              </select>
            </div>
          </div>
          <div  class="col-sm-4 ">
            <div  class="form-group ">
              <label for="storeSecurity">Security:</label>

              <select id="storeSecurity" class='form-control'  name="storeSecurity" [(ngModel)]='rootFolderItem.storeSecurity' style="width: 120px;">
                <option *ngFor="let storeSecurityOption of storeSecurityOptions" [value]="storeSecurityOption">{{ storeSecurityOption | translate }}</option>
              </select>
            </div>
          </div>
          <div  class="col-sm-4 ">
            <div  class="form-group ">
              <label for="storeLocations">Location:</label>
              <select id="storeLocations" class='form-control'  name="storeLocation"   [(ngModel)]='rootFolderItem.storeLocation'>
                <option *ngFor="let storeLocationsOption of storeLocationsOptions" [value]="storeLocationsOption">{{ storeLocationsOption | translate }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div  class="col-sm-12 ">
            <div  class="form-group">
              <label for="desc">Description:</label>
              <input type="text" class="form-control" id="desc"  name="description" [(ngModel)]="rootFolderItem.description">
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div *ngIf="activeTab=='excludedFolders'"  class="col-sm-12">
    <form class="form-horizontal" role="form">
      <div *ngIf="!rootFolderItem.realPath">Set folder path first from the former tab</div>
      <div *ngIf="rootFolderItem.realPath">
        <input-param [options]="false"  [onItemsSelected]="onExcludedItemsSelected" [actionName]="'excluded root folders'"
                     [classType]="folder"  [createNewSelectedItemFromText]="createNewExcludedFolderSelectedItemFromText"
                     [rootFolder]="rootFolderItem.realPath"  [mediaConnectionId]="rootFolderItem.mediaConnectionDetailsId" [customerDataCenterId]="rootFolderItem.customerDataCenterDto.id" [mediaType="rootFolderItem.mediaType"
                     [savedSelectedItems]="excludedFoldersSavedSelectedItems" [showCheckboxes]="true"
                     [onNewItemAdded]="updateExcludedFolderSelectedItem" [onItemActiveStateChanged]="updateExcludedFolderSelectedItem" [onItemDeleted]="onExcludedFolderDeleted"></input-param>
      </div>
    </form>
  </div>
  <div *ngIf="activeTab=='scan'"  class="col-sm-10">
    <form class="form-horizontal" role="form" style="margin-top:-7px;">
      <div>
        <span class="error top-right-position" *ngIf="!rootFolderItem.customerDataCenterDto" >*</span>
        <choose-data-center [selectedDataCenter]="rootFolderItem.customerDataCenterDto" [saveLastSelected]="saveLastSelectedDataCenter"
                            [getLastSelectedFn]="getLastSelectedDataCenterFn" [setLastSelectedFn]="setLastSelectedDataCenterFn"></choose-data-center>
      </div>
      <div class="form-group"  style="margin-top:30px; ">
        <label for="name"  class="col-sm-4" style="text-align: right" >Schedule:</label>
        <div class="col-sm-8 " *ngIf="scheduleGroupSavedSelectedItems">
          <span class="error top-right-position" *ngIf="!scheduleGroupSelected" >*</span>
          <input-param [options]="true" [singleSelection]="true"  [onItemsSelected]="onScheduleGroupItemSelected" [actionName]="'schedule group'"
                       [classType]="scheduleGroup"  [createNewSelectedItemFromText]="" [leaveTextAfterSelection]="true" [openNewObjectDialog]="openNewScheduleGroupDialog"
                       [savedSelectedItems]="scheduleGroupSavedSelectedItems" [loadOptionItems]="loadScheduleGroupOptionItems"
                       [createNewOptionFromItem]="createScheduleParamOption"></input-param>
        </div>
        <div class="col-sm-offset-4 col-sm-8" *ngIf="scheduleGroupSelected" title="{{scheduleGroupSelected.cronTriggerString}}"><small>{{scheduleGroupSelectedSubdisplay}}</small></div>
      </div>

      <div class="form-group">

        <div class="col-sm-8 col-sm-offset-4">
        </div>

      </div>
    </form>
  </div>
  <div *ngIf="activeTab=='fileTypes'"  class="col-sm-12">
    <form class="form-horizontal" role="form">

      <div class="form-group " style="margin-bottom: 0">
        <div class="col-sm-3">
          <label >Types to scan:</label>
        </div>
        <div class="col-sm-4">
          <div  *ngFor="let docType of supportedDocTypes" class="checkbox">
            <label style="font-weight: normal;">&nbsp;<input type="checkbox"  name="docType"  [(ngModel)]="docType.selected">{{docType.name|translate}}</label>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label for="CountCap">Scan limit count: (optional)</label>
            <input type="text" id="CountCap" class="form-control"  name="configuredScannedFilesCount"  [(ngModel)]="configuredScannedFilesCountCap" >
          </div>
          <div class="form-group">
            <label for="CountCapMeani">Meaningful files scan limit count: (optional)</label>
            <input type="text" id="CountCapMeani" class="form-control"  name="configuredScannedMeaningfulFilesCount" [(ngModel)]="configuredScannedMeaningfulFilesCountCap" >
          </div>
        </div>
      </div>
      <div class="checkbox">
        <label ><input type="checkbox"  name="extractBizLists"  [(ngModel)]="rootFolderItem.extractBizLists" >Extract business lists after processing</label>
      </div>
    </form>
  </div>

</div>
<div class="clearfix"></div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" (click)="save(true)" >Save & Create another</button>
  <button type="button" class="btn btn-primary" (click)="save(false)" >Save</button>
  <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
</div>
