
  group-item-grid {
    width:100%;
    .item {
      &.group-icon{
        flex: 0 1 20px;
       }
      &.group-name{
        flex: 1 0 200px;
      }
      &.group-items {
        flex: 0 1 250px;
        position: relative;
      }
    }


    .title-primary {
      font-weight: 600;
      color: #23527c;
      font-size: 13px;
    }

    .title-third {
      font-size: 11px;
      color: #777 !important;
    }

    .choose-doc-type-area {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      width: 140px;
      text-align: right;
    }

    .empty-doc-type-icon {
      font-size: 12px;
      margin-top: 10px;
      background-color: #e6e6e6;
      color: #676a6c;
      padding: 2px 6px;
      border-radius: 3px;
      cursor: pointer;

      .fa-caret-right {
        padding-right: 3px;
      }

      .fa-bookmark-o {

      }
    }
  }
