<div #el class="grid-row">
  <div class="item group-icon">
    <span title="Native group" class="ion-aperture tag-ANALYSIS_GROUP"></span>
  </div>
  <div class="item group-name  title-primary  lower-case-capitalized">
      <span>
        <a class="title-primary">{{dataItem.item.groupName}}</a>
      </span>
      <marked-item-display [dataItem]="dataItem.item"></marked-item-display>
      <span  class="pull-right">
        <functional-role-display [functionalRoleDTOs]="dataItem.item.associatedFunctionalRoles"></functional-role-display>
        <biz-list-display [bizListDTOs]="dataItem.item.associatedBizListItems"></biz-list-display>
        <tag-display [tagsDTOs]="dataItem.item.fileTagDtos"></tag-display>
      </span>

      <div>
        <span *ngIf="dataItem.item.firstMemberId!=-1" >
          <span>
            <a class="title-third" title="Sample file : {{ dataItem.item.firstMemberPath + dataItem.item.firstMemberName }}">
              {{  dataItem.item.firstMemberName }}
            </a>
          </span>
        </span>
      </div>
  </div>

  <div class="item group-items">
    <span title="Total files: {{  dataItem.item.numOfFiles }}"> {{  dataItem.item.numOfFiles }} files
    </span>

    <span class="choose-doc-type-area" >
      <doc-type-display  [editable]="true" [docTypeDTOs]="dataItem.item.docTypeDtos"> </doc-type-display>
    </span>
  </div>

  <!-- div class="item action  lower-case-capitalized">{{dataItem.item.crudAction}}</div>
  <div class="item timestamp">{{dataItem.item.timestamp| date:'dd-MM-yyyy HH:mm'}}</div>
  <div class="item message">{{dataItem.item.message}}</div>
  <div class="item username ">{{dataItem.item.username}}</div -->
</div>
