<div #el class="grid-row">
  <div class="item fieldName title-primary">
    <a (click)="itemClicked()" class="da-link-btn no-special-tooltip" title="{{dataItem.item.name}}">
      <i class="icon {{userViewIcon}} grid-field-icon" style="padding-right: 10px; font-size: 14px;"></i>{{dataItem.item.name}}
    </a>
  </div>

  <div class="item fieldOwner">
    {{ dataItem.item.owner ? dataItem.item.owner.name : "System"}}
  </div>

  <div class="item fieldAccess">
    <i class="icon fa grid-field-icon { isPublic ?  'fa-globe' : 'fa-lock'}" style="font-size: 14px;"></i>
    {{ scopeText }}
  </div>

</div>
