<div *ngIf="!innerType" >
  <loader [show]="loading"></loader>

  <div class="discover-header-line">
      <span class="discover-header-title" >
        {{ discoverTypeObject.title  }}
      </span>
  </div>

  <div class="discover-body-line  top-border" *ngIf="displayObject">

    <div class="detail-page-title-div" >
      <span *ngIf="!inEditNameMode" class="detail-page-title-div-text" (click)="changeNameEditMode(true)">
        {{ displayObject.groupName }}
        <i class="detail-page-title-div-edit-icon fa fa-pencil"></i>
      </span>
      <span *ngIf="inEditNameMode">
        <input class="detail-page-title-div-input" #nameInput (blur)="changeNameEditMode(false)" [(ngModel)]="displayObject.groupName"/>
      </span>
    </div>


    <div class="detail-page-title-div" >
      <span  class="detail-page-title">Doc Type</span>
      <span>
         <doc-type-display  [editable]="false" [docTypeDTOs]="displayObject.docTypeDtos"> </doc-type-display>
      </span>

      <span class="discover-details-add-btn" *ngIf="displayObject.docTypeDtos == null || displayObject.docTypeDtos.length == 0 ">
          <span class="discover-details-add-btn-text">Add</span>
      </span>
    </div>

    <div class="inner-discover-item-list-wrapper">
        <span  class="detail-page-title">Folders -
        <span class="detail-page-more" (click)="moreFolders()">
          View More...
        </span>
      </span>
        <discover-item-list [inViewMode]="true" [parameters]="inViewParams" [discoverType]="DiscoverType.FOLDERS">
        </discover-item-list>
    </div>

    <div class="inner-discover-item-list-wrapper">
      <span  class="detail-page-title">Owners -
        <span class="detail-page-more" (click)="moreOwners()">
          View More...
        </span>
      </span>
      <discover-item-list [inViewMode]="true"  [parameters]="inViewParams" [discoverType]="DiscoverType.OWNERS">
      </discover-item-list>
    </div>

    <div class="inner-discover-item-list-wrapper">
      <span  class="detail-page-title">Files  ({{  displayObject.numOfFiles}} files) -
        <span class="detail-page-more" (click)="moreFiles()">
          View More...
        </span>
      </span>
      <discover-item-list [inViewMode]="true" [parameters]="inViewParams" [discoverType]="DiscoverType.FILES">
      </discover-item-list>
    </div>


    <div class="detail-page-title-div" >
      <span  class="detail-page-title">Data Roles</span>
      <span>
        <functional-role-display  [editable]="true" [functionalRoleDTOs]="displayObject.associatedFunctionalRoles"> </functional-role-display>
        <span class="discover-details-add-btn">
          <span class="discover-details-add-btn-text">Add</span>
      </span>
      </span>
    </div>

    <div class="detail-page-title-div" >
      <span  class="detail-page-title">Clients</span>
      <span>
         <biz-list-display  [editable]="true" [bizListDTOs]="displayObject.associatedBizListItems"> </biz-list-display>
      </span>
      <span class="discover-details-add-btn">
          <span class="discover-details-add-btn-text">Add</span>
      </span>
    </div>

    <div class="detail-page-title-div" >
      <span  class="detail-page-title">Tags</span>
      <span >
         <tag-display  [editable]="true" [tagsDTOs]="displayObject.fileTagDtos"> </tag-display>
      </span>
      <span class="discover-details-add-btn">
          <span class="discover-details-add-btn-text">Add</span>
      </span>
    </div>



    <!-- marked-item-display [dataItem]="dataItem.item"></marked-item-display -->
  </div>
</div>


<div *ngIf="innerType" >
  <discover-item-list titlePrefix="Details > " (titlePrefixClicked)="backToDetailsPage()" [parameters]="innerParams" [discoverType]="innerType" (selectedItemChanged)="onRightPageSelectedChanged($event)">
  </discover-item-list>
</div>
