discover-detail-page {
  .detail-page-title-div {
    padding: 10px 10px 5px;
  }

  .detail-page-title {
    font-size: 13px;
    color: #676a6c;
    font-weight: 600;
    padding-right: 10px;
    margin-bottom: 5px;
    display: block;

    &.no-bottom {
      margin-bottom: 0px;
    }
  }

  .detail-page-title-div-icon {
    padding-right: 5px;
    position: relative;
  }

  .detail-page-title-div-edit-icon {
    float: right;
    position: relative;
    top: 5px;
  }

  .detail-page-title-div-text {
    font-size: 14px;
    color: #23527c;
    font-weight: 600;
    border-bottom: solid 1px #cccccc;
    width: 100%;
    display: inline-block;
    padding: 2px 10px 2px 0px;
    cursor: pointer;
  }

  .detail-page-title-div-input {
    width: 100%;
    border: none;
    font-size: 14px;
    color: #23527c;
    font-weight: 600;
    padding: 2px 0px 2px 0px;
    border-bottom: solid 1px #cccccc;
  }

  .detail-page-title-div-input:focus {
    outline: none;
  }

  .discover-header-line {
    width:100%;
    height: 40px;
    background-color: #ffffff;
    position: relative;
  }

  .discover-body-line {
    position: absolute;
    top:40px;
    bottom: 0px;
    width: 100%;
    &.all-border {
      border: solid 1px #cccccc;
    }
    &.top-border {
      border-top: solid 1px #cccccc;
    }
  }

  .discover-header-title {
    font-size: 13px;
    display: inline-block;
    padding-left: 10px;
    height: 100%;
    margin: 10px 0px;
  }

  .detail-page-title-div {
    .discover-display-icons-list {
      padding-right: 5px;
    }
    .discover-display-icons-list-item {
      margin-left: 2px;
      border: solid 1px #cccccc;
      padding: 2px 10px;
      border-radius: 5px;
      margin-right: 5px;
      display: inline-block;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .discover-display-icons-item-text:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }


    .discover-display-icons-item-text {
      color: #23527c;
      display: inline;
      padding-left: 3px;
    }
  }

  .detail-page-files {
    font-size: 13px;
    color : #23527c;
    text-decoration: underline;
    cursor: pointer;
  }


  .dropdown-toggle {
    padding-bottom: 1px;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .discover-details-add-btn {
    color : #49647d;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;

    .fa-plus {
      display: none;
    }
  }

  .inner-discover-item-list-wrapper {
    padding: 10px 10px 5px;
  }

  .detail-page-more {
    font-size: 12px;
    color : #23527c;
    font-weight: bold;
    cursor: pointer;
  }
}
