toolbar {
  display: flex;
  align-items: center;

  .toolbar-title {
    display: flex;
    align-items: center;
  }
}

toolbar-actions {
  .btn-link {
    color: inherit;
    &:hover {
      color: #6f98ad !important;
      text-decoration: none;
    }
  }
}
