<div class="header-line header-line-basic">
  <!-- title -->
  <toolbar-title [title]="title" [totalElements]="totalElements" [totalFilteredElements]="totalFilteredElements"  [refreshActionItem]="refreshActionItem"></toolbar-title>
  <div class="toolbar-spacer"></div>
  <div class="left-panel">
    <!-- settings actions -->
    <toolbar-actions [actionItems]="settingsActionItems"></toolbar-actions>
    <!-- monitor actions -->
    <toolbar-actions [actionItems]="monitorActionItems"></toolbar-actions>
  </div>
  <div class="right-panel">
    <!-- search box -->
    <search-box *ngIf="searchBox" [searchTerm]="searchBox.searchTerm" [boxTitle]="searchBox.title" [boxPlaceholder]="searchBox.placeholder" (searchChanged)="onSearchChanged($event)" [notifyOnKeyup]="searchBox.notifyOnKeyup"></search-box>
    <!-- export action -->
    <toolbar-export-action [actionItem]="exportActionItem"></toolbar-export-action>
    <!-- side menu actions -->
    <toolbar-dropdown-actions [actionItem]="sideMenuActionItems"></toolbar-dropdown-actions>
  </div>
</div>
