<form class="form-horizontal" role="form" style="margin-top: 10px;">
  <div class="form-group">
    <label class="col-sm-4" style="text-align: right;" >Data center:</label>
    <div class="col-sm-8 " *ngIf="dataCenterSavedSelectedItems">
      <input-param [options]="true" [singleSelection]="true"  [onItemsSelected]="onDataCenterItemSelected" [actionName]="'Datacenter'"
                   [classType]="datacenter"  [createNewSelectedItemFromText]="" [leaveTextAfterSelection]="true" [openNewObjectDialog]="openNewDataCenterDialog"
                   [savedSelectedItems]="dataCenterSavedSelectedItems" [loadOptionItems]="loadDataCenterOptionItems"
                   [createNewOptionFromItem]="createDataCenterParamOption"></input-param>
    </div>
    <div class="col-sm-offset-4 col-sm-8" *ngIf="selectedDataCenter" ><small>{{selectedDataCenterSubdisplay}}</small></div>
  </div>

</form>
