owner-item-grid {
    width:100%;
    .item {
      &.owner-icon{
        flex: 0 1 20px;
       }
      &.owner-name{
        flex: 1 0 200px;
      }
      &.owner-items {
        flex: 0 1 80px;
        position: relative;
      }
    }


    .title-primary {
      font-weight: 600;
      color: #23527c;
      font-size: 13px;
    }

    .title-third {
      font-size: 11px;
      color: #777 !important;
    }

  }
