<div #el class="grid-row">
  <div class="item owner-icon">
    <span title="Owner" class="fa fa-user"></span>
  </div>

  <div class="item owner-name title-primary  lower-case-capitalized">
      <span>
        <a class="title-primary">{{dataItem.item.user}}</a>
      </span>
  </div>


  <div class="item owner-items">
      <div> {{  ownerSummary }}
      </div>
  </div>
</div>
