scanError-module {
  scanError-grid-header {
    width:100%;
    .grid-header {
      .item {
        &.folder{
          flex: 0 1 250px;
        }
        &.text{
          flex: 1 0 250px;
        }
        &.detailText{
          flex: 0 1 250px;
        }
        &.mediaType{
          flex: 0 1 90px;
        }
        &.runId{
          flex: 0 1 60px;
        }
        &.timeStamp{
          flex: 0 1 150px;
        }
      }
    }
  }
}
