<div class="grid-header grid-header-basic">
  <div class="item folder" [attr.data-col-name]="'folder'" [attr.data-col-sortable]="false">Folder</div>
  <div [attr.data-col-name]="'text'" [attr.data-col-sortable]="false" class="item text">Text</div>
  <div [attr.data-col-name]="'exceptionText'" [attr.data-col-sortable]="false" class="item detailText">Details</div>
  <div [attr.data-col-name]="'mediaType'" [attr.data-col-sortable]="false" class="item mediaType">Media type</div>
  <div [attr.data-col-name]="'runId'" [attr.data-col-sortable]="false" class="item runId">Run ID</div>
  <div [attr.data-col-name]="'createdOnDB'" [attr.data-col-sortable]="false" class="item timeStamp">Date time</div>
</div>

