add-edit-chart-widget-dialog {

  .preview-mode-modal-body {
    overflow-y: hidden !important;
  }






  .settings-open-btn {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    left: 10px;
    top: 5px;
    z-index: 10;
  }


  .settings-close-btn {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    right: 10px;
    top: 5px;
  }

  .settings-close-btn:hover {
    color : #000000;
  }

  .settings-open-btn:hover {
    color : #000000;
  }


  .main-body-div {
    display: flex;
    padding: 5px 15px;
    height: 100%;
    overflow-x: hidden;
  }
  .preview-div {
    width : 600px;
    border-left: solid 1px #cccccc;
    position: relative;
    transition: width 0.2s;
    margin-left: 1px;

    advanced-chart-component {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
    }
  }

  .without-settings {
    .setting-div {
      width : 0px;
    }

    .preview-div {
      width : 1000px;
      border-left : none;
      advanced-chart-component {
        position: absolute;
        left: 20px;
        right: 0px;
        top: 0px;
        bottom: 0px;
      }
    }
  }

  .setting-div {
    width : 400px;
    height: 100%;
    overflow-y: auto;
    transition: width 0.2s;
  }

  .preview-div-no-valid-msg {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .modal-header {
    height: 50px;
  }
  .modal-body {
    .control-label {
      width: 220px !important;
    }
    .modal-body-md {
      height: 250px !important;
    }
    height: 550px;
    max-height: 80vh;
    overflow: auto;
    position: relative;
    padding: 0px;
  }

}

.modal-dialog {
  .modal-content {
    border: none !important;
  }
}
