<div class="modal-header"  *ngIf="renderScreen" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div *ngIf="renderScreen && inPreviewMode" class="modal-body modal-body-md preview-mode-modal-body">
  <dashboard-widget [disableOperations]="true" [userViewDataDto]="userViewDataDtoItem"></dashboard-widget>
</div>
<div *ngIf="renderScreen && !inPreviewMode" class="modal-body modal-body-md" >
  <loader [show]="mainLoading"></loader>
  <div class="main-body-div" [ngClass]="{'without-settings' : hideSettings}">
    <ng-container *ngComponentOutlet="editComponent;
                            ndcDynamicInputs: editInputs;
                            ndcDynamicOutputs: editOutputs" >
    </ng-container>
    <div class="preview-div" *ngIf="showPreview && editComponent">
      <span *ngIf="hideSettings" class="settings-open-btn fa fa-angle-right" title="Show settings" (click)="hideShowSettings(false)">
      </span>
      <loader [show]="loading"></loader>
      <advanced-chart-component *ngIf="!loading && chartData "  [animation]="false" [chartData]="chartData" [chartInfo]="chartInfo" > </advanced-chart-component>
      <div class="preview-div-no-valid-msg"  *ngIf="!loading && !chartData">Set parameters to preview.</div>
    </div>
  </div>
</div>
<div *ngIf="renderScreen" class="modal-footer">
  <div class="left-panel">
    <div class="btn-group" ><button type="button" [disabled]="!userViewDataDtoItem" class="btn btn-flat" (click)="inPreviewMode = !inPreviewMode" >{{ inPreviewMode ?  'Edit' : 'Preview' }}</button></div>
    <!-- div class="btn-group" ><button type="button" class="btn btn-primary" (click)="showNextChartTypes()" >More chart types</button></div -->
  </div>
  <div class="right-panel">
    <!-- div class="btn-group"><button type="button" class="btn btn-primary" (click)="showPreview = !showPreview" >{{ showPreview ?  'Hide preview' : 'Show preview' }}</button></div -->
    <div class="btn-group" *ngIf="userViewDataDtoItem"><button type="button" class="btn btn-primary" (click)="save()" >{{ userViewDataDtoItem.id ?  'Save' : 'Create' }}</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
  </div>
</div>
