<span *ngIf="editable">
  <span *ngIf="docTypeDTOs!= null && docTypeDTOs.length>0"  (click)="openChooseDocTypePopup(content)">
    <span class="docType-name tag label tag-{{ docTypeColorId }} opacity-depth-2" title="{{ docTypeFullPath }}">{{  docTypeDTOs[0].name }}</span>
    <span class="docType-icon tag tag-{{ docTypeColorId }} opacity-depth-2" title="{{  docTypeFullPath }}">
      <span class="{{   IconsConfig.docTypes }}"></span>
    </span>
  </span>
  <span *ngIf="(docTypeDTOs== null || docTypeDTOs.length==0)"  (click)="openChooseDocTypePopup()">
      <span class="empty-doc-type-icon">
        <span class="fa fa-caret-right"> </span>
        <span class="{{   IconsConfig.docTypes }}"> </span>
      </span>
  </span>
</span>
<span class="discover-display-icons-list" *ngIf="(!editable && docTypeDTOs!= null && docTypeDTOs.length>0)">
  <da-drop-down [enabled]="true" [dropDownItems]="dropDownItems">
    <span  class="discover-display-icons-list-item">
      <span class='tag-icon tag tag-{{ docTypeColorId }}'  title='{{ docTypeFullPath }}'>
        <span class='{{ IconsConfig.docTypes + (docTypeDTOs[0].implicit ? "-o" : "") }}'></span>
        <span class="discover-display-icons-item-text">
          {{ docTypeFullPath }}
        </span>
      </span>
    </span>
  </da-drop-down>
</span>
