doc-type-display {
  text-align: right;
  .docType-icon {
    display: inline-block;
    font-size: 13px;
    position: absolute;
    right: 0px;
    top: -3px;
  }
  .docType-name {
    display: inline-block;
    font-weight: 600;
    color: #23527c;
    border: none ;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: -7px;
  }
}

