<div class="main-div" *ngIf="gridOptions">
  <gridster [options]="gridOptions">

      <gridster-item [item]="gridItems['rootFolderHealth']">
        <div class="da-dashboard-item" >
          <div class="da-item-header">
            Root Folders health
          </div>
          <div class="da-item-body">
            <chart-component *ngIf="rootFoldersData" [chartType]="rootFoldersData.type" [chartSeries]="rootFoldersData.series" [categories]="rootFoldersData.categories"></chart-component>
          </div>
        </div>
      </gridster-item>

      <gridster-item  [item]="gridItems['runningRate']">
        <div class="da-dashboard-item">
          <div class="da-item-header">
            Running rate file/sec
          </div>
          <div class="da-item-body">

          </div>
        </div>
      </gridster-item>

      <gridster-item  [item]="gridItems['totalFilesFound']">
        <div class="da-dashboard-item">
          <div class="da-item-header">
            Total files found
          </div>
          <div class="da-item-body">

          </div>
        </div>
      </gridster-item>

  </gridster>
</div>
