saved-user-view-grid-header {
  width: 100%;
  position: relative;
  .grid-header {
    .item {
      &.fieldName {
        flex: 1 1 200px;
        word-break: break-all;
      }
      &.fieldOwner {
        flex: 1 0 150px;
      }
      &.fieldAccess {
        flex: 1 0 100px;
      }
    }
  }
}
