<ul class="navbar navbar-expand-md navbar-inverse  nav-container  bg-color " [daDisable]="dialogOpen$ | async">

  <!--<div class="modal-shadow" [hidden]="!(dialogOpen$ | async)"></div>-->
  <a class="navbar-brand"
     rel="home" href="/dashboardForwarder"
     title="DocAuthority" tooltip-direction="bottom">
    <da-icon [iconClass]="'navbar-logo'" href="logo_sq.png"></da-icon>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto main-navbar" >

      <main-menu-item  class="nav-item "[disable]="dialogOpen$ | async"
           [menuHeader]="'Dashboard'" [iconClass]="'fa fa-th-large'"
           [items]="dashboardItems"></main-menu-item>

      <main-menu-item  class="nav-item" [disable]="dialogOpen$ | async"
           [menuHeader]="'Discover'" [iconClass]="''"
           [items]="permanentDiscoverItems"></main-menu-item>

      <main-menu-item class="nav-item" [disable]="dialogOpen$ | async"
           [menuHeader]="'Reports'" [iconClass]="'fa fa-bar-chart'"
           [items]="reportItems"></main-menu-item>

      <main-menu-item  class="nav-item" [disable]="dialogOpen$ | async"
           [menuHeader]="'Scan'" [iconClass]="''"
           [items]="scanItems"></main-menu-item>

      <main-menu-item  class="nav-item" [disable]="dialogOpen$ | async"
           [menuHeader]="'GDPR'" [iconClass]="'fa fa-user'"
           [routerLink]="RouteUrls.GDPR"></main-menu-item>


    </ul>
  </div>
  <div class="right-navbar justify-content-end">
    <ul class="navbar-nav mr-auto right-navbar">
      <license-notice></license-notice>
      <main-menu-item class="center-items nav-item" [disable]="dialogOpen$ | async" *ngIf="currentUser$ | async" [isRight]="true"
                          [menuHeader]="(currentUser$ | async)?.username" [iconClass]="''"
                          [items]="userItems"></main-menu-item>



      <da-notification (clearErrors)="clearErrors()" (clearFatals)="clearFatals()" *ngIf="isErrorCounterEnabled" [notification]="notifications$ | async"></da-notification>



    </ul>
  </div>
</ul>

