@import "../../styles/variables";

.bg-color {
  background-color: $header-background-color;
}
.center-items {
  align-self: center;
}
::ng-deep .navbar-logo {
  max-width: 120px;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  background-color: $orange_logo;
  border-radius: 2px;
}

.navbar-nav {
  align-items: center;
}

.nav-container {
  margin-right: auto;
  margin-left: auto;
//  padding: 0 5%;

  // width: 90%;
}

.main-navbar {
  margin-left: 10px;
}

.sup-header {
  padding-top: 10px;
  padding-bottom: 5px;
  background: #e1e1e1;
  box-shadow: 0 0 2px #777;
  z-index: 890;
}

.navbar-brand {
  margin-right: 10px;
  height: 30px;
}

