
//** Default label background color
$label-default-bg:            lighten(#000, 46.7%);;
//** Primary label background color
$label-primary-bg:            darken(#428bca, 6.5%);
//** Success label background color
$label-success-bg:            #5cb85c;
//** Info label background color
$label-info-bg:               #5bc0de;
//** Warning label background color
$label-warning-bg:            #f0ad4e;
//** Danger label background color
$label-danger-bg:             #d9534f;

//** Default label text color
$label-color:                 #fff;
//** Default text color of a linked label
$label-link-hover-color:      #fff;

$state-warning-text:          #8a6d3b;


.label-tag-0{
  background-color:   lighten(#8b3c56, 40%)!important;
  border-color:   lighten(#8b3c56, 40%)!important;
  &:focus
  {
    background-color: lighten(#8b3c56, 40%)!important;
    border-color:  lighten(#8b3c56, 40%)!important;
  }
  &:hover
  {
    background-color: lighten(#8b3c56, 20%)!important;
    border-color:  lighten(#8b3c56, 20%)!important;
  }

}
.label-tag-1, .label-tag-ACTIVE {
  background-color:   lighten($label-success-bg, 20%)!important;
  border-color:   lighten($label-success-bg, 20%)!important;
  &:focus
  {
    background-color: lighten($label-success-bg, 20%)!important;
    border-color:  lighten($label-success-bg, 20%)!important;
  }
  &:hover
  {
    background-color: lighten($label-success-bg, 10%)!important;
    border-color:  lighten($label-success-bg, 10%)!important;
  }

}

.label-tag-2 , .label-tag-PENDING{
  background-color:   lighten(#3c3ced, 30%)!important;
  border-color:  lighten(#3c3ced, 30%)!important;
  &:focus
  {
    background-color: lighten(#3c3ced, 30%)!important;
    border-color:  lighten(#3c3ced, 30%)!important;
  }
  &:hover
  {
    background-color: lighten(#3c3ced, 20%)!important;
    border-color: lighten(#3c3ced, 20%)!important;
  }
}

.label-tag-3, .label-tag-archived{
  background-color:   lighten($label-warning-bg, 20%)!important;
  border-color:   lighten($label-warning-bg, 20%)!important;
  &:focus
  {
    background-color: lighten($label-warning-bg, 20%)!important;
    border-color:  lighten($label-warning-bg, 20%)!important;
  }
  &:hover
  {
    background-color: lighten($label-warning-bg, 10%)!important;
    border-color: lighten($label-warning-bg, 10%)!important;
  }
}

.label-tag-4 , .label-tag-deleted{
  background-color:   lighten($label-info-bg, 30%)!important;
  border-color:   lighten($label-info-bg, 30%)!important;
  &:focus
  {
    background-color: lighten($label-info-bg, 30%)!important;
    border-color:  lighten($label-info-bg, 30%)!important;
  }
  &:hover
  {
    background-color: lighten($label-info-bg, 20%)!important;
    border-color: lighten($label-info-bg, 20%)!important;
  }

}

.label-tag-5 {
  background-color:   lighten($label-primary-bg, 20%)!important;
  border-color:   lighten($label-primary-bg, 20%)!important;
  &:focus
  {
    background-color: lighten($label-primary-bg, 20%)!important;
    border-color:  lighten($label-primary-bg, 20%)!important;
  }
  &:hover
  {
    background-color: lighten($label-primary-bg, 10%)!important;
    border-color: lighten($label-primary-bg, 10%)!important;
  }
}

.label-tag-6 {
  background-color:   lighten($label-default-bg, 20%)!important;
  border-color:   lighten($label-default-bg, 20%)!important;
  &:focus
  {
    background-color: lighten($label-default-bg, 20%)!important;
    border-color:  lighten($label-default-bg, 20%)!important;
  }
  &:hover
  {
    background-color: lighten($label-default-bg, 10%)!important;
    border-color: lighten($label-default-bg, 10%)!important;
  }

}
.label-tag-7 {
  background-color:   lighten($state-warning-text, 20%)!important;
  border-color:   lighten($state-warning-text, 20%)!important;
  &:focus
  {
    background-color: lighten($state-warning-text, 20%)!important;
    border-color:  lighten($state-warning-text, 20%)!important;
  }
  &:hover
  {
    background-color: lighten($state-warning-text, 10%)!important;
    border-color: lighten($state-warning-text, 10%)!important;
  }

}
.label-tag-8 {
  background-color:   lighten($purple, 5%)  !important;
  border-color:   lighten($purple, 5%) !important;
  &:focus
  {
    background-color: lighten($purple, 5%)  !important;
    border-color:  lighten($purple, 5%)  !important;
  }
  &:hover
  {
    background-color: lighten($purple, 2%)  !important;
    border-color: lighten($purple, 2%)  !important;
  }
}
.label-tag-9 {
  background-color:   lighten($orange, 20%) !important;
  border-color:   lighten($orange, 20%) !important;
  &:focus
  {
    background-color: lighten($orange, 20%) !important;
    border-color:  lighten($orange, 20%) !important;
  }
  &:hover
  {
    background-color: lighten($orange, 10%) !important;
    border-color: lighten($orange, 10%) !important;
  }

}
.label-tag-10 {
  background-color:   lighten($lazur, 20%) !important;
  border-color:   lighten($lazur, 20%) !important;
  &:focus
  {
    background-color: lighten($lazur, 20%) !important;
    border-color:  lighten($lazur, 20%) !important;
  }
  &:hover
  {
    background-color: lighten($lazur, 10%) !important;
    border-color: lighten($lazur, 10%) !important;
  }

}
.label-tag-11 {
  background-color:   lighten(#804374, 28%) !important;
  border-color:   lighten(#804374, 28%) !important;
  //  color:#fff;
  &:focus
  {
    background-color: lighten(#804374, 28%) !important;
    border-color:  lighten(#804374, 28%) !important;
    //    color:#fff;
  }
  &:hover
  {
    background-color: lighten(#804374, 20%) !important;
    border-color: lighten(#804374, 20%) !important;
    //   color:#fff;
  }
}
.label-tag-12 {
  background-color:   lighten(rebeccapurple, 40%) !important;
  border-color:   lighten(rebeccapurple, 40%) !important;

  &:focus
  {
    background-color: lighten(rebeccapurple, 40%) !important;
    border-color:  lighten(rebeccapurple, 40%) !important;

  }
  &:hover
  {
    background-color: lighten(rebeccapurple, 30%) !important;
    border-color: lighten(rebeccapurple, 30%) !important;

  }

}

.label-tag-13 {
  background-color:   lighten(#1ab394, 20%) !important;
  border-color:   lighten(#1ab394, 20%) !important;

  &:focus
  {
    background-color: lighten(#1ab394, 20%) !important;
    border-color:  lighten(#1ab394, 20%) !important;

  }
  &:hover
  {
    background-color: lighten(#1ab394,10%) !important;
    border-color: lighten(#1ab394, 10%) !important;

  }

}
.label-tag-14 {
  background-color:   lighten(#2ba9e1, 20%) !important;
  border-color:   lighten(#2ba9e1, 20%) !important;
  //  color:#fff;
  &:focus
  {
    background-color: lighten(#2ba9e1, 20%) !important;
    border-color:  lighten(#2ba9e1, 20%) !important;
    //    color:#fff;
  }
  &:hover
  {
    background-color: lighten(#2ba9e1, 10%) !important;
    border-color: lighten(#2ba9e1, 10%) !important;
    //   color:#fff;
  }
}
.label-tag-15 {
  background-color:   lighten(#7f5050, 28%) !important;
  border-color:   lighten(#7f5050, 28%) !important;
  //  color:#fff;
  &:focus
  {
    background-color: lighten(#7f5050, 28%) !important;
    border-color:  lighten(#7f5050, 28%) !important;
    //    color:#fff;
  }
  &:hover
  {
    background-color: lighten(#7f5050, 20%) !important;
    border-color: lighten(#7f5050, 20%) !important;
    //   color:#fff;
  }
}
.label-tag-16 {
  background-color:   lighten(#000, 58%) !important;
  border-color:   lighten(#000, 58%) !important;
  //  color:#fff;
  &:focus
  {
    background-color: lighten(#000, 58%) !important;
    border-color:  lighten(#000, 58%) !important;
    //    color:#fff;
  }
  &:hover
  {
    background-color: lighten(#000, 30%) !important;
    border-color: lighten(#000, 30%) !important;
    //   color:#fff;
  }
}
.label-tag-17 {
  background-color:   lighten(#1b6d85, 48%) !important;
  border-color:   lighten(#1b6d85, 48%) !important;
  //  color:#fff;
  &:focus
  {
    background-color: lighten(#1b6d85, 48%) !important;
    border-color:  lighten(#1b6d85, 48%) !important;
    //    color:#fff;
  }
  &:hover
  {
    background-color: lighten(#1b6d85, 30%) !important;
    border-color: lighten(#1b6d85, 30%) !important;
    //   color:#fff;
  }
}
.label-tag-18 {
  background-color:   lighten(#9d9d9d, 20%) !important;
  border-color:   lighten(#9d9d9d, 20%) !important;
  //  color:#fff;
  &:focus
  {
    background-color: lighten(#9d9d9d, 20%) !important;
    border-color:  lighten(#9d9d9d, 20%) !important;
    //    color:#fff;
  }
  &:hover
  {
    background-color: lighten(#9d9d9d, 10%) !important;
    border-color: lighten(#9d9d9d, 10%) !important;
    //   color:#fff;
  }
}

.tag {
  &.implicit {

    opacity: 0.5;
  }
}
.tag-0{
  color: #8b3c56;

}
.tag-1 , .tag-ACTIVE{
  color:#5cb85c;
  &.box
  {
    border:1px solid #5cb85c;
    background-color: transparent;
  }
}

.tag-2 , .tag-PENDING{
  color:#3c3ced;
  &.box
  {
    border:1px solid #3c3ced;
    background-color: transparent;
  }
}

.tag-3, .tag-ARCHIVED{
  color:#f0ad4e;
  &.box
  {
    border:1px solid #f0ad4e;
    background-color: transparent;
  }
}

.tag-4, .tag-DELETED {
  color:#5bc0de;
  &.box
  {
    border:1px solid #5bc0de;
    background-color: transparent;
  }
}

.tag-5 {
  color:#337ab7;
}

.tag-6 {
  color:#777;
}
.tag-7 {
  color:#8a6d3b;
}
.tag-8 {
  color:#eeaee3;
}
.tag-9{
  color:#F47521;
}
.tag-10 {
  color:#23c6c8;
}

.tag-11 {
  color:lighten(#804374, 30%);
}

.tag-12 {
  color:lighten(rebeccapurple, 30%);
}
.tag-13 {
  color:#1ab394;
}
.tag-14 {
  color:#2ba9e1;
}
.tag-15 {
  color:#7f5050;
}
.tag-16 {
  color:#000;
}
.tag-17 {
  color:#1b6d85;
}
.tag-18 {
  color:#9d9d9d;
}
.tag-ANALYSIS_GROUP
{
 color:#555555;
}
.tag-SUB_GROUP
{
 color:orange;
}


.opacity-depth-1
{
  opacity:1;
}
.opacity-depth-2
{
  opacity:1;
}
.opacity-depth-3
{
  opacity:1;
}
.opacity-depth-4
{
  opacity:1;
}
.opacity-depth-5
{
  opacity:1;
}
.opacity-depth-6
{
  opacity:1;
}

.label-tag-NEW{
  color:white;
  background: #0b58a2;
}
.label-tag-DO_NOTHING{
  color:white;
  background: #bababa;
}
.label-tag-ARCHIVE{
  color:white;
  background: #117a8b;
}
.label-tag-DELETE{
  color:white;
  background: #ED5565;
}
.label-tag-IRRELEVANT{
  color:white;
  background: #1e7e34;
}
