
body {
 // font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
 // background-color: $body-bg;
  font-size: 13px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 300px;

  ngb-datepicker {
    z-index: 100000 !important;
  }

}

/* scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 1px;
  // background: rgba(18,129,106,0.7);
  background: #ccc;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
  //  background: rgba(18,129,106,0.4);
}

.gray-bg {
  background-color:$gray;
}
.navbar{
  height: 50px;
  align-items: stretch;
  margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a , .navbar-nav li.nav-item > a{
  color: #F4F4F4;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  padding-left:20px !important;
  padding-right:20px !important;
}

.navbar-nav li.nav-item , .navbar-nav li.nav-item > a{
 // height: 100%;
}
.navbar-nav li.nav-item > a:hover, .navbar-nav li.nav-item  > a:focus {
  background-color: #293846;
  color: white;
}
.navbar-nav li.nav-item  > a:hover,  .navbar-nav li.nav-item  > a:focus {
  background-color: #293846;
  color: white;
}
.card {
  &.card-default {
    background-color: white;
    padding: 15px;
  }
  &.card-trans {
    background-color: transparent;
    padding: 15px;
    border-color: transparent;
  }
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox:after, .ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: $ibox-title-bg;
  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}

.ibox-content {
  background-color: $ibox-content-bg;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: $border-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.ng-select-menu-item-div {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 540px;
    margin: 1.75rem auto;
  }
}
*/

.search-box {
 // margin: 5px 0px;
  position: relative;
  width: 220px;
  border: solid 1px #cccccc;
  min-width: 200px;
  display: block;
  height: 26px;
  border-radius: 5px;
  font-size: 13px;
}


.search-box-input {
  width: 100%;
  padding: 3px 10px 3px 22px;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}

.search-box-icon {
  position: absolute;
  left: 5px;
  top: 5px;
}

.table-cell{
  display: table-cell;
}

.top-right-position {
  position: absolute !important;
  right: 1px;
  top: 0px;
}


.long-and-truncated {
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error {
  color : red;
}

.error-position {
  position: absolute;
  right: -5px;
  top: 0px;
}

.error-position-top {
  top: 15px;
}

.error-position-top-with-tabs {
  top: 55px;
}

.error-position-top-90 {
  top: 90px;
}

.error-position-top-110 {
  top: 110px;
}

error-position-top-245 {
  top: 245px;
}




