/* to make scrollbars always visible */
.y-only.ps.browser-scroll > .ps__scrollbar-x-rail {
  display:none;
}
.always-visible.ps.browser-scroll > .ps__scrollbar-y-rail {
  opacity: 0.6 !important;
}
.thin.ps.browser-scroll > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  border-radius: 0;
  right: -3px;
}

.thin.ps > .ps__scrollbar-y-rail {
  width: 5px; }  /*shaul*/

.thin.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .thin.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
  width: 6px; }

.thin.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .thin.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
  width: 5px; }


.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  width: 3px;
}

.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
  width: 8px;
}

.ps__thumb-y {
  right: 0;
  width: 8px;
  border-radius: 0;
  background-color: #c0c0c0;
}

.ps__rail-y {
  width: 8px;
  opacity: 0.9 !important;
}

.ps__rail-x {
  display: none !important;
}

