.bubble {
  position: fixed;
  z-index: 1000;
  border-radius: 3px;
  background: white;
  display: none;

  &.show {
    display: flex;
  }

  .arrow-wrapper {
    width: 18px;
    height: 100%;
    position: relative;

    .arrow {
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-right: 16px solid #adadad;
      position: absolute;
      left: 3px;
      top: 11px;
      z-index: 1;

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-right: 17px solid #ffffff;
        position: absolute;
        top: -17px;
        left: 1px;
      }

      &.show {
        display: block;
      }
    }
  }

  .bubble-content {
    border: 1px solid #cac5c5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.floating-bubble {
  & .close {
    position: absolute;
    top: 5px;
    right: 5px;
  }


  .main-msg-area {
    cursor: pointer;
    background-color: #f1f1f1;
    border-radius: 2px;
    height: 28px;
    margin-top: 1px;
    padding: 0px 5px;
    padding-top: 6px;


    &.after-change {
      background-color: #304051;

      .generation-message-span {
        color: #ffffff;
      }

      .failed-message-span {
        font-weight: bold;
      }
    }

    .generation-message-span {
      width: 130px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #304051;
      display: inline-block;
    }

    .complete-message-span {
      width: 90px;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #23b495;
      display: inline-block;
    }

    .failed-message-span {
      width: 50px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ff0000;
      display: inline-block;
    }

    .up-arrow-span {
      text-align: center;
      margin: 0px 10px;
    }
  }


  & .status-list-div {
    width: 600px;
    overflow: auto;
    position: absolute;
    bottom: 50px;
    z-index: 10;
    background-color: #ffffff;
    right: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: left;

    & .status-list-header {
      width: 600px;
      height: 60px;
      border-radius: 2px;
      box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.08);
      background-color: #304051;
      cursor: pointer;
      position: relative;

      .header-right-div {
        position: absolute;
        right: 0px;
        top: 12px;
        bottom: 0px;

        .down-arrow-span {
          text-align: center;
          margin: 0px 20px 0px 0px;
          position: relative;
          top: 6px;
        }

        .header-failed-message-span {
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ff0000;
          padding-right: 10px;
        }

        .header-complete-message-span {
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #23b495;
          padding-right: 10px;
        }
      }

      .header-generation-message-span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        display: inline-block;
        padding-top: 20px;
        padding-left: 20px;
      }
    }

    .expand-list-main-div {
      max-height: 300px;
      overflow: auto;
      padding: 0 0 5px 0;

      .msg-main-div {
        margin-left: 35px;
        padding: 5px;
      }

      .expand-item {
        height: 70px;
        border: solid 1px #efefef;
        display: flex;
        flex-direction: row;

        &.was-deleted {
          opacity: 0.3;
        }

        .file-type-icon-col {
          display: flex;
          flex: 0 0 75px;
          box-sizing: border-box;
          align-items: center;
          justify-content: center;
        }

        .file-name-col {
          display: flex;
          flex: 1 0 200px;
          box-sizing: border-box;
          justify-content: center;
          flex-direction: column;

          .file-name {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #304051;

            &.updated {
              font-weight: bold;
            }
          }

          .file-date {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.83;
            letter-spacing: 0.5px;
            color: #979797;
            padding-top: 5px;
          }
        }

        .status-col {
          display: flex;
          flex: 0 1 100px;
          box-sizing: border-box;
          justify-content: center;
          flex-direction: column;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.83;
          letter-spacing: 0.5px;

          .time-left-div {
            color: #979797;
          }

          .complete-div {
            color: #23b495;
            font-weight: bold;
          }

          .failed-div {
            color: #ff0000;
          }
        }

        .status-circle-col {
          display: flex;
          flex: 0 0 50px;
          box-sizing: border-box;
          align-items: center;
          justify-content: center;

          .export-completed-icon {
            cursor: pointer;
          }
        }

        .delete-icon-col {
          display: flex;
          flex: 0 0 50px;
          box-sizing: border-box;
          align-items: center;
          justify-content: center;

          .export-delete-icon {
            cursor: pointer;
          }
        }
      }

      .export-item:hover {
        border: solid 1px #23b495;
      }


    }
  }
}
