.disabled {
  a {
    color: $disabled-text-color;
  }
  color: $disabled-text-color  !important;
}

@mixin  button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border: 1px solid $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

.btn{
  font-size: 14px;

  &.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

// Info appears as gray
.btn-flat {
  @include button-variant(#676a6c,  #e6e6e6,  #e6e6e6);

  outline: none;
  &:hover{
    border-color: #c7c7c7;
  }
  &.active{
    box-shadow: none;
    color:$orange;
    border-color: transparent;
    background-color: #e6e6e6;
    outline: none;
  }
}



.btn-action {
  @include button-variant(rgb(73,100,125),  transparent,  rgb(73,100,125));
  border-radius: 6px;
  padding:3px 7px;
}

.btn-round {
  @include button-variant(#676a6c,  #FFF,  #ccc);
  border-radius: 50%  !important;
  outline: none;
  &:hover{
    border-color: #c7c7c7;
  }
  &.active{
    box-shadow: none;
    color:$orange;
    background-color: #e6e6e6;
    outline: none;
  }
}

.btn-main-opeartion {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF;
}

.btn-main-opeartion:hover,
.btn-main-opeartion:focus,
.btn-main-opeartion.focus,
.btn-main-opeartion:active,
.btn-main-opeartion.active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}


.btn {
  border-radius: $btn-border-radius;
}
.btn-no-padding
{
  padding: 0;
}
a.disabled
{
  pointer-events: none;
  cursor: default;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus
{
  pointer-events: none;
  cursor: default;
  color:#cacaca;
}

.checkbox.disabled
{
  pointer-events: none;
  cursor: default;
}

.float-e-margins .btn {
  margin-bottom: 5px;
}

.btn-w-m {
  min-width: 120px;
}

.btn-primary.btn-outline {
  color: $navy;
}

.btn-success.btn-outline {
  color: $blue;
}

.btn-info.btn-outline {
  color: $lazur;
}

.btn-collapse.btn-outline {
  color: $lazur;
}

.btn-warning.btn-outline {
  color: $yellow;
}

.btn-danger.btn-outline {
  color: $red;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-collapse.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-primary {
  background-color: $navy !important;
  border-color: $navy !important;;
  color: #FFFFFF;
  outline: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: darken($navy, 3%) !important;;
  border-color: darken($navy, 3%) !important;;
  color: #FFFFFF;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: lighten($navy, 4%);
  border-color: lighten($navy, 4%);
}

.btn-success {
  background-color: $blue;
  border-color: $blue;
  color: #FFFFFF;
}

.btn-success:focus {
  background-color: $blue;
  border-color: darken($blue, 10%);
  color: #FFFFFF;
}
.btn-success:hover
{
  background-color: darken($blue, 20%);
  border-color: darken($blue, 20%);
  color: #FFFFFF;
}
.btn-success.active:hover
{
  background-color: darken($blue, 15%);
  border-color: darken($blue, 15%);
  color: $active-text;
}
.open .dropdown-toggle.btn-success {
  background-color: lighten($blue, 8%);
  border-color: darken($blue, 8%);
  color: #FFFFFF;
}
.btn-success:active, .btn-success.active {
  background-color: darken($blue, 8%);
  border-color: darken($blue, 8%);
  color: $active-text;
}

.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: lighten($blue, 4%);
  border-color: lighten($blue, 4%);
}

.btn-info {
  background-color: $lazur;
  border-color: $lazur;
  color: #FFFFFF;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-color: darken($lazur, 3%);
  border-color: darken($lazur, 3%);
  color: #FFFFFF;
}

.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: lighten($lazur, 4%);
  border-color: lighten($lazur, 4%);
}

.btn-collapse {
  //background-color: $lazur;
  //border-color: $lazur;
  background-color: transparent;
  color: $dark-button;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-collapse:hover, .btn-collapse:focus, .btn-collapse:active, .btn-collapse.active, .open .dropdown-toggle.btn-collapse {
  //background-color: darken($lazur, 3%);
  //border-color: darken($lazur, 3%);
  //color: $dark-button;
  //border: none;
  //outline: none;
}

.btn-collapse:active, .btn-collapse.active, .open .dropdown-toggle.btn-collapse {
  background-image: none;
  //border: none;
  //outline: none;
}

.btn-collapse.disabled, .btn-collapse.disabled:hover, .btn-collapse.disabled:focus, .btn-collapse.disabled:active, .btn-collapse.disabled.active, .btn-collapse[disabled], .btn-collapse[disabled]:hover, .btn-collapse[disabled]:focus, .btn-collapse[disabled]:active, .btn-collapse.active[disabled], fieldset[disabled] .btn-collapse, fieldset[disabled] .btn-collapse:hover, fieldset[disabled] .btn-collapse:focus, fieldset[disabled] .btn-collapse:active, fieldset[disabled] .btn-collapse.active {
  //background-color: lighten($lazur, 4%);
  //border-color: lighten($lazur, 4%);
  //border: none;
  //outline: none;
}

.btn-default {
  background-color: $dark-gray !important;
  border-color: $dark-gray !important;;
  color: #FFFFFF;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: darken($dark-gray, 3%) !important;;
  border-color: darken($dark-gray, 3%) !important;;
  color: #FFFFFF;
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: lighten($dark-gray, 4%);
  border-color: lighten($dark-gray, 4%);
}

.btn-warning {
  background-color: $yellow;
  border-color: $yellow;
  color: #FFFFFF;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: darken($yellow, 3%);
  border-color: darken($yellow, 3%);
  color: #FFFFFF;
}

.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: lighten($yellow, 4%);
  border-color: lighten($yellow, 4%);
}

.btn-danger {
  background-color: $red;
  border-color: $red;
  color: #FFFFFF;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color: darken($red, 3%);
  border-color: darken($red, 3%);
  color: #FFFFFF;
}

.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: lighten($red, 4%);
  border-color: lighten($red, 4%);
}

.btn-link {
  color: inherit;
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
  color: $blue;
  text-decoration: none;
}

.btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
  background-image: none;
}

.btn-link.disabled, .btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link.disabled:active, .btn-link.disabled.active, .btn-link[disabled], .btn-link[disabled]:hover, .btn-link[disabled]:focus, .btn-link[disabled]:active, .btn-link.active[disabled], fieldset[disabled] .btn-link, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:active, fieldset[disabled] .btn-link.active {
  color: #cacaca;
}
.btn-link
{
  color: $text-color;
  &a:visited
  {
    color: $text-color;
  }
}

.btn-dropdown {
  font-size: inherit;
  background-color: inherit;
  color: $text-color;
  font-weight: 400;
}

.btn-dropdown .caret {
  margin-left: 2px;
}

.header-item > .open > .dropdown-menu {
  margin-left: 12px;
}

.panel-header.ibox-title .header-item .btn.btn-flat.btn-xs
{
  margin-top: 3px;
}

.btn-dropdown:hover, .btn-dropdown:focus, .btn-dropdown:active, .btn-dropdown.active, .open .dropdown-toggle.btn-dropdown {
}

.btn-dropdown:active, .btn-dropdown.active, .open .dropdown-toggle.btn-dropdown {
  background-image: none;
}

.btn-dropdown.disabled, .btn-dropdown.disabled:hover, .btn-dropdown.disabled:focus, .btn-dropdown.disabled:active, .btn-dropdown.disabled.active, .btn-dropdown[disabled], .btn-dropdown[disabled]:hover, .btn-dropdown[disabled]:focus, .btn-dropdown[disabled]:active, .btn-dropdown.active[disabled], fieldset[disabled] .btn-dropdown, fieldset[disabled] .btn-dropdown:hover, fieldset[disabled] .btn-dropdown:focus, fieldset[disabled] .btn-dropdown:active, fieldset[disabled] .btn-dropdown.active {
  font-weight: normal;
  color: #cacaca;
}

.btn-dropdown:hover,.open .btn-dropdown
{
  color: $blue;
}
button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover{
  outline:none !important;
}


.btn-white {
  color: inherit;
  background: white;
  border: 1px solid $border-color;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
  color: inherit;
  border: 1px solid #d2d2d2;
}

.btn-white:active, .btn-white.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
  background-image: none;
}

.btn-white.disabled, .btn-white.disabled:hover, .btn-white.disabled:focus, .btn-white.disabled:active, .btn-white.disabled.active, .btn-white[disabled], .btn-white[disabled]:hover, .btn-white[disabled]:focus, .btn-white[disabled]:active, .btn-white.active[disabled], fieldset[disabled] .btn-white, fieldset[disabled] .btn-white:hover, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white.active {
  color: #cacaca;
}


.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-rounded {
  border-radius: 50px;
}

.btn-large-dim {
  width: 90px;
  height: 90px;
  font-size: 42px;
}

button.dim {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 20px !important;
}

button.dim:active {
  top: 3px;
}

button.btn-primary.dim {
  box-shadow: inset 0px 0px 0px darken($navy,6%), 0px 5px 0px 0px darken($navy,6%), 0px 10px 5px #999;
}

button.btn-primary.dim:active {
  box-shadow: inset 0px 0px 0px darken($navy,6%), 0px 2px 0px 0px darken($navy,6%), 0px 5px 3px #999;
}

button.btn-default.dim {
  box-shadow: inset 0px 0px 0px darken($dark-gray,6%), 0px 5px 0px 0px darken($dark-gray,6%), 0px 10px 5px #999;
}

button.btn-default.dim:active {
  box-shadow: inset 0px 0px 0px darken($dark-gray,6%), 0px 2px 0px 0px darken($dark-gray,6%), 0px 5px 3px #999;
}

button.btn-warning.dim {
  box-shadow: inset 0px 0px 0px darken($yellow,6%), 0px 5px 0px 0px darken($yellow,6%), 0px 10px 5px #999;
}

button.btn-warning.dim:active {
  box-shadow: inset 0px 0px 0px darken($yellow,6%), 0px 2px 0px 0px darken($yellow,6%), 0px 5px 3px #999;
}

button.btn-info.dim {
  box-shadow: inset 0px 0px 0px darken($lazur,6%), 0px 5px 0px 0px darken($lazur,6%), 0px 10px 5px #999;
}

button.btn-info.dim:active {
  box-shadow: inset 0px 0px 0px darken($lazur,6%), 0px 2px 0px 0px darken($lazur,6%), 0px 5px 3px #999;
}

button.btn-collapse.dim {
  box-shadow: inset 0px 0px 0px darken($lazur,6%), 0px 5px 0px 0px darken($lazur,6%), 0px 10px 5px #999;
}

button.btn-collapse.dim:active {
  box-shadow: inset 0px 0px 0px darken($lazur,6%), 0px 2px 0px 0px darken($lazur,6%), 0px 5px 3px #999;
}

button.btn-success.dim {
  box-shadow: inset 0px 0px 0px darken($blue,6%), 0px 5px 0px 0px darken($blue,6%), 0px 10px 5px #999;
}

button.btn-success.dim:active {
  box-shadow: inset 0px 0px 0px darken($blue,6%), 0px 2px 0px 0px darken($blue,6%), 0px 5px 3px #999;
}

button.btn-danger.dim {
  box-shadow: inset 0px 0px 0px darken($red,6%), 0px 5px 0px 0px darken($red,6%), 0px 10px 5px #999;
}

button.btn-danger.dim:active {
  box-shadow: inset 0px 0px 0px darken($red,6%), 0px 2px 0px 0px darken($red,6%), 0px 5px 3px #999;
}

button.dim:before {
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  display: block;
  padding-top: 10px;

}

button.dim:active:before {
  top: 7px;
  font-size: 50px;
}


.show-on-hover i {
  display: none;
}
.show-on-hover:hover {
  i {
    display: block;
  }
}


.show-btn-on-hover .btn-hover,.show-btn-on-hover.btn-hover {
  display: none;
}
.show-btn-on-hover:hover {
  &.btn-hover,& .btn-hover{
    display: block;
  }
}
//
//.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
//  border-bottom-right-radius: 3px;
//  border-top-right-radius: 3px;
//
//
//}


.btn-group > .btn-group:last-child:not(:first-child) {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn ,
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
  border-left: 1px solid #bbb;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn,
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 1px solid #bbb;
}


.btn-group {
  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

.modal-dialog .nav-tabs > li > a {
  color: $text-color;
}


//.open > .dropdown-toggle.btn-flat {
//
//  background-color: red;
//
//
//}
