.k-radio, input.k-checkbox {
  display: inline;
  opacity: 0;
  width: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden
}

.k-ff .k-radio, .k-ff input.k-checkbox {
  position: absolute
}

.k-checkbox-label, .k-radio-label {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  vertical-align: text-top;
  cursor: pointer;
  border-style: solid;
  border-width: 0
}

.k-checkbox-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 1px;
  border-style: solid;
  width: 13px;
  height: 13px;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  border-color: #bbb;
  background: #fff;
  border-radius: 1px;
  color: #525252;
}

.k-checkbox:indeterminate + .k-checkbox-label:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-width: 1px;
  border-style: solid;
  width: 8px;
  height: 8px;
  font-size: 16px;
  text-align: center;
  content: " "
}

.k-checkbox:checked + .k-checkbox-label:before {
  content: "\2713"
}

.k-checkbox:disabled + .k-checkbox-label {
  cursor: auto
}

.k-radio-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-style: solid
}

.k-radio:checked + .k-radio-label:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 3px;
  left: 3px
}

.k-radio:disabled + .k-radio-label {
  cursor: auto
}

.k-rtl .k-checkbox-label, .k-rtl .k-radio-label {
  padding-right: 1.5em
}

.k-rtl .k-checkbox-label:before, .k-rtl .k-radio-label:before {
  right: 0
}

.k-rtl .k-radio:checked + .k-radio-label:after {
  right: 3px
}

input.k-checkbox + label {
  -webkit-user-select: none
}


.k-checkbox-label, .k-radio-label {
  line-height: 18px
}

.k-checkbox:indeterminate + .k-checkbox-label:before {
  border-width: 2px
}

.k-checkbox + .k-checkbox-label:before {
  z-index: 1
}

.k-checkbox:indeterminate + .k-checkbox-label:after {
  width: 10px;
  height: 10px;
  border-width: 0;
  margin-left: 0;
  top: 5px;
  left: 5px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: 2
}

.select-checkbox option::before {
  font-family: FontAwesome;
  content: "\f096";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}
.select-checkbox option:checked::before {
  font-family: FontAwesome;
  content: "\f046";
}

select[multiple]:focus option:checked {
  background: #1c92c7  linear-gradient(0deg, #1c92c7 0%, #1c92c7 100%);
}
