.uppercase {
  text-transform: uppercase;
}

.truncate, .ellipsis {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}


.lower-case-capitalized{
  text-transform: lowercase;
 }

div.lower-case-capitalized::first-letter
{
  text-transform: uppercase;
}


.center-middle-flex-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
