.label-type {
  padding:0 !important;
}
/*
body > .context-menu-list {
  &:after, &:before {
    bottom: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }

  &:before {
    border-color: rgba(143, 166, 181, 0);
    border-bottom-color: #080808;
    border-width: 10px;
    margin-left: -10px;
  }
}
*/

.context-menu-list {
  min-width: 180px!important;
  box-shadow: none;
}

.context-menu-item {
  position: relative;
  height: 32px;
  color: #2f2f2f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;

  span {
    display: flex;
    align-items: center;
    height:33px;
    padding-left: 10px;
    font-size:12px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.context-menu-icon:hover {
  color: black;
}

.context-menu-icon::before {
  color: gray;
  font-size: 12px;
}

.context-menu-icon.context-menu-hover:before {
  color: red;
}

.context-menu-icon.context-menu-icon--fa::before {
  font-size: 12px;
  color: #151515;
  width: 35px;

}
.context-menu-icon.context-menu-icon--fa.context-menu-hover:before {
  color: orangered;
}

.context-menu-item.context-menu-hover {
  background-color: #f3f3f3;
}

.context-menu-separator {
  height: 0;
}

// discover associated tags
.context-menu-tag-item {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    height: 32px;

    &:hover {
      color: black;
    }

    .name {
      display: flex;
      flex: 1;
      white-space: nowrap;
      padding-left: 10px;
    }

    .filter-btn, .delete-btn{
      display: flex;
      min-width: 20px;
      justify-content: center;
      color: gray;

      &:hover {
        color: red;
      }
    }
  }


