.dropdown-menu
{
  li a {
    overflow: hidden;
  }
}

.break-text {
  overflow: auto;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
}

.break-text-modal-header {
  overflow: inherit;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
}

.capitalize{
  text-transform: capitalize;
}
.header-panel{
  .title{
    padding-left: 20px;
  }

  .header-line {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width:100%;
    align-items:center;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .left-panel{
      display: flex;
      flex:1;
    }
    .right-panel{
      display: flex;
    }

    .header-item {
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-child {
        margin-left: 10px;
      }
    }

    .header-item.header-select-input {
      width : 280px;

      .selected-text {
        height: 22px;
        padding: 1px 5px;
        font-size: 12px;
      }

      .selected-arrow {
        top : 4px;
      }

      input {
        height: 22px;
      }
    }
  }

  .header-line-basic {
    background-color: $gray;

    .actions {
      display: flex;
      flex-direction: row;

      .disabled {
        pointer-events: auto;
      }

      .export-spinner {
        margin-left: 10px;
      }

      da-drop-down {
        .download-settings-bar {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #676a6c;
          font-size: 12px;
          margin-left: 8px;
          margin-top: 2px;
        }
      }
    }
  }

  .toolbar-spacer {
    width: 40px;
  }
}


.main-panel {
  display: flex;
  flex: 1;
  width:100%;
  overflow: hidden;
  position: relative;
  //position: absolute;
  //bottom: 0px;
  //left: 0px;
  //right: 0px;
  //top: 65px;
}

