  .da-dashboard-item {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
    height: 100%;
  }
  .dashboard-item-simple {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);

    &.till-button {
      flex: 1 0 0px;
      margin-bottom: 10px;

      .main-panel {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        top: 40px;
      }
    }
  }


  .da-dashboard-item-line {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
  //  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 8px 20px;
  }

  .da-flat-dashboard-item {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 24px;
    padding: 2px 22px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.25);
    margin-right: 10px;
  }

  .da-item-header {
    color: #666;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
    height: 42px;
    font-size: 16px;
    padding: 10px 10px;

    .header-options-btn {
      font-size: 16px;
      color: #444444;
      display: inline-block;
      padding: 5px 0px;
      cursor: pointer;
      width: 20px;
      text-align: center;
    }

    .header-options-spinner {
      width: 20px;
      text-align: center;
      margin-right: 10px;
    }
  }

  .da-item-body {
  //  margin: 0px 9px;
    display: block;
    position: absolute;
    bottom: 0px;
    top: 42px;
    left: 0;
    right: 0;
    padding: 0px 10px;
  }

  .da-item-body-padding {
    padding: 10px 0px;
  }

  .da-item-body-centered {
    left: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    bottom: 15px;
  }


  .da-top-line-button {
    padding: 2px 10px;
    color: #ffffff;
    background-color: #6f98ad;
    outline: none !important;
    border-radius:3px;
    border : solid 1px #6f98ad;
    cursor: pointer;
    font-size: 12px;

    &.left-space {
      margin-left: 5px;
    }

    &.right-space {
      margin-right: 10px;
    }

    &.light {
      background-color: #c2c2c2;
      border-color: #c2c2c2;
      color: #FFFFFF;
    }
  }



  .da-top-right-area{
    margin-left: auto;
    margin-right: 10px;
    float: right;
  }

  .da-top-line-button:hover, da-top-right-button:hover {
    background-color: lighten(#6f98ad, 4%);
    border-color: lighten(#6f98ad, 4%);
  }

  .da-top-line-button.light:hover {
    background-color: darken(#c2c2c2, 6%);
    border-color: darken(#c2c2c2, 6%);
  }



  .da-top-line-gap {
    margin-right: 10px;
  }

  .da-right-spinner {
    padding-right: 10px;
    padding-left: 4px;
    margin-left: 0px;
    position: relative;
    top: 4px;


      .fa {
        top: 10px;
      }
  }

  .da-link-btn {
    color: #0b58a2;
    cursor: pointer;

    &.disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  .tree-grid-item:hover  {
    .da-link-btn {
      text-decoration: underline;
    }
  }

  .da-top-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: -5px;

    .btn {
      padding: 0.2rem 0.75rem
    }

  }

  .da-top-line-action-buttons {
    display: inline-block;
    top: 2px;
    position: relative;
  }

  .da-main-div {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    top: 32px;
    display: flex;
    flex-direction: row;

    &.without-top-line {
      top:0px;
    }




    .da-main-div-tree-div{
      flex: 1 0 300px;
      display: flex;
      flex-direction: column;

      .da-main-div-top-line {
        flex: 0 1 50px;
      }

      .da-main-div-bottom-line {
        flex: 1 0 150px;
        height: 100%;
      }


    }


  }

  .icon-button.disabled {
    opacity: 0.4;
    cursor: default;
  }

  .header-item {
    .da-btn-group {
      margin-top: 2px;
      border: solid 1px #cccccc;
      border-radius: 5px;
      overflow: hidden;

      .inner-btn {
        padding: 2px 5px;
        border-left: solid 1px #cccccc;
        cursor: pointer;
        &.selected {
          background-color: #dddddd;
        }
      }
    }

    .icon-button {
      margin-top: 2px;
      padding: 4px 5px 0px;

      &.options {
        padding-right: 12px;
        margin-top: 0px;
        padding-top: 2px;
      }
    }

    button {
      margin-top: 2px;
    }
  }

  .icon-button {
    border-radius: 5px;
    font-size: 9px;
    padding: 0px 5px;
    cursor: pointer;
    margin: 0px 5px 0px 0px;
    color: #49647d;
    height: 22px;
    width: 22px;
    text-align: center;
    display: inline-block;


    &.refresh {
    }

    &.pause {
    }

    &.repeat {
    }

    &.stop {
    }

    &.play {
    }

    &.external-link {
    }

    &.more {
    }

    &.edit {
    }

    &.arrow-right {
    }

    &.open {
      font-size: 12px;
    }

    &.download {
      background-color: transparent !important;
      border: none;
      font-size: 14px;
      padding-top: 3px;
    }

    &.options {
      background-color: transparent !important;
      border:none;
      font-size: 16px;
      width: 10px;
      padding-top: 3px;
    }

    &.options:hover {
      color: #000000;
      background-color: transparent !important;
    }



    &.arrow-right:hover {
      color : #ffffff;
    }
  }
  .icon-button:not(.disabled):hover {
    background-color: #cccccc;
  }



    .icon-item {
    font-size: 16px;

    &.fa-toggle-on {
      color: #337ab7
    }

    &.fa-toggle-off {
      color : red;
    }
  }

  .active-button {
    padding-right: 5px;
  }

  .status-icon {
    margin-right: 5px;
    font-size: 12px;
    width:12px;
    display: inline-block;
    &.fa-pause {
      color:orange;
    }

    &.fa-check {
      color: #1ab394;
    }

    &.fa-times {
      color : #e15e67;
      position: relative;
      top : -1px;

      &.no-color {
        color: inherit;
      }
    }

    &.fa-power-off {
      color : #e15e67;
    }

    &.fa-power-off {
      color : #e15e67;
    }

    &.fa-spinner {
      position: relative;
      top : -2px;
    }
  }

  .more-link-btn {
    padding: 0px 5px;
    border : solid 1px #CCCCCC;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 45px;
    display: inline-block;
    color: #000000;
  }
  .more-link-btn:hover {
    background-color: #aaaaaa;
  }


  .header-refresh-btn {
    padding-left: 10px;
    font-size: 14px;
    cursor: pointer;
  }

  .breadcrumb-choose-step {
    color: #0b58a2;
    cursor: pointer;
  }

  .breadcrumb-current-step {
    cursor: default;
    color : #666666;
  }

  .breadcrumb-choose-step-separator {
    color : #222222;
  }

  .ibox-content {
    background-color: #fff;
    color: inherit;
    padding: 15px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    min-height: 115px;

    ibox-item {
      width: 100px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding-top: 15px;
      padding-bottom: 5px;
      border-right: 1px solid #ececec;
    }
  }


  .dashboard-drag-icon {
    padding: 5px 10px 5px 0px;
  }
