.router-outlet{
  .dropdown-menu{
    min-width: 160px;
    &.dropdown-menu-right-1 {
      //right: 0 !important;
      //left: auto !important;
    }
  }
}

.dropdown-menu {

  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  overflow: visible;
  -ms-overflow-style: auto !important;

  &.dropdown-menu-location.dropdown-menu-right {
    right: 0 !important;
  }
  .dropdown-item{
    cursor: pointer;
  }
  &.dropdown-menu-right {
    right: 0 ;
    left: auto !important;
  }
  .dropdown-item{
    padding: 0.43rem 1.5rem;
    //
    //&:hover {
    //  background-color: #e5e5e5;
    //}
  }
  .divider {
    height: 2px;
    margin: 9px 0;
    overflow: hidden;
    border-bottom: solid 1px #e5e5e5;
  }

  .submenu {
    color:#212529 !important;
    &:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #333;
      margin-top: 6px;
      margin-right: -10px;
    }
    position: relative;
    cursor: pointer;
    ~ div.sub-menu-container {display: none;
      background-color: white;
      border-style: solid;
      border-width: 1px;
      border-color: #cccccc;
      border-radius: 4px;
      position: absolute;
      max-width: 250px;
      left: 100%;
      top: 0;

      &.limit-height {
        max-height: 265px;
        overflow-y: auto;
      }
      &.pull-left {
        left: calc(-100% + 4px);
        width: 100%;
      }
      &:hover {
        display: inline-block;
      }}
    &:hover {
      ~  div.sub-menu-container {
        display: inline-block;

      }
    }
  }
}

.ddl-cell
{
  overflow: visible !important;
}

.drop-down-position {
  &.dropdown {
    .dropdown-menu {
      top: 0 !important;
      transform: none !important;
    }
  }
}

.drop-down-position {
  &.top-drop-down-wrapper {
    .dropdown-menu {
      top: auto !important;
      bottom: 20px !important;
    }
  }
}

.drop-down-position {
  &.left-drop-down-wrapper {
    .dropdown-menu {
      left: auto !important;
      right: 0 !important;
    }
  }
}
