.status-suspended-icon {
  background: url(icons/status_suspended.png) no-repeat;
  display: inline-block;
  width: 12px;
  height: 13px;
}

.status-failed-icon {
  background: url(icons/status_failed.png) no-repeat;
  display: inline-block;
  width: 11px;
  height: 11px;
}

.status-new-icon {
  background: url(icons/status_new.png) no-repeat;
  display: inline-block;
  width: 10px;
  height: 9px;
}

.status-ok-icon {
  background: url(icons/status_ok.png) no-repeat;
  display: inline-block;
  width: 12px;
  height: 10px;
}

.status-pause-icon {
  background: url(icons/status_paused.png) no-repeat;
  display: inline-block;
  width: 9px;
  height: 9px;
}

.status-running-icon {
  background: url(icons/status_running.png) no-repeat ;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 12px;
}


.export-up-icon {
  background: url(icons/up.png) no-repeat ;
  background-size: contain;
  display: inline-block;
  width: 14px;
  height: 8px;
}

.export-down-icon {
  background: url(icons/down.png) no-repeat ;
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.export-excel-icon {
  background: url(icons/icn-xsl.png) no-repeat ;
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.export-zip-icon {
  background: url(icons/icn-zip.png) no-repeat ;
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.export-completed-icon {
  background: url(icons/download-completed.png) no-repeat ;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 22px;
}

.expand-delete-icon {
  background: url(icons/delete.png) no-repeat ;
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.export-finish-icon {
  background: url(icons/downloadCompleteImg.gif) no-repeat ;
  display: inline-block;
  padding-left: 60px !important;
}
