$border-color: #e7eaec;     // IBox border
$panel-background-color: #f5f5f5;
$text-color: #676a6c;
$navy: #1ab394;
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color


input, textarea {
   &.form-control {
    background-color: #fff;
    border: 1px solid $pane-border-color;
    border-radius: 4px;
    color: $text-color;
    font-weight: 400;
    font-size: inherit;
    padding: 3px 5px;
    box-sizing: border-box;

    &:focus {
      border-color: $navy;
      outline: 0;
      box-shadow: none !important;
    }

    &.has-right-icon {
      padding-right: 30px;
    }

    &.has-right-two-icons {
      padding-right: 60px;
    }

    &.has-left-icon {
      padding-left: 30px;
    }

    &.has-success {
      border-color: $navy;
    }

    .has-warning {
      border-color: $yellow;
    }

    &.has-error {
      border-color: $red;
    }

    &.error {
      border: 1px dotted #cc5965;
    }
  }
}
