
.title-primary {
  font-size: 13px;
  font-weight: 600;
  color: #23527c;

  &.disabled {
    opacity: 0.3;
  }
}

.title-watermark {
  font-size: 13px;
  font-weight: 600;
  color: #23527c;
  opacity: 0.3;
}

.title-secondary {
  font-size: 13px;
  color:$text-color !important;
  font-weight: 600;

  &.disabled {
    opacity: 0.2;
    cursor: default;
  }
}

.title-third {
  font-size: 10px;
  font-weight: 400;
  color: #777;
}

.title-forth {
  font-size: 10px;
  font-weight: 400;
  color: #999;
}

.title-box {
  width: 100%;
  text-align: center;
  vertical-align: top;
  line-height: 35px;

  &.title-box-secondary{
    background:#f1f1f1;;
  }
}

.notice {
  color:red;
}

.primary {
  color:$navy;
}

.action-off {
  color:rgb(243,136,143);
}

.action-on {
  color:rgb(112,183,209);
}

.main-layout h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.main-layout h4 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 7px;
}

.header.header-primary {
  color: $navy;
}

.label {
  font-size: 12px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
}

label {
  font-weight: bold;
}

 .label-1 {
   background-color: #0b93d5;
   color: #FFFFFF;
 }
 .label-2 {
   background-color: yellow;

 }
 .label-notice, .badge-notice {
   background-color: red;
   color: #FFFFFF;
 }

 .label-primary{
   background-color: $navy;
 }

 .label-3 {
   background-color: deeppink;
   color: #FFFFFF;
 }


 .pie {
   position: relative;
   width: 100px;
   line-height: 100px;
   border-radius: 50%;
   background: yellowgreen;
   background-image: linear-gradient(to right, transparent 50%, #655 0);
   color: transparent;
   text-align: center;
 }

 @keyframes spin {
   to { transform: rotate(.5turn); }
 }
 @keyframes bg {
   50% { background: #655; }
 }

 .pie::before {
   content: '';
   position: absolute;
   top: 0; left: 50%;
   width: 50%; height: 100%;
   border-radius: 0 100% 100% 0 / 50%;
   background-color: inherit;
   transform-origin: left;
   animation: spin 50s linear infinite,
   bg 100s step-end infinite;
   animation-play-state: paused;
   animation-delay: inherit;
 }


 .label-primary, .badge-primary {
   background-color: $navy;
   color: #FFFFFF;
 }

 .label-success, .badge-success {
   background-color: $blue;
   color: #FFFFFF;
 }

 .label-warning, .badge-warning {
   background-color: $yellow;
   color: #FFFFFF;
 }

 .label-warning-light, .badge-warning-light {
   background-color: $yellow;
   color: #ffffff;
 }

 .label-danger, .badge-danger {
   background-color: $red;
   color: #FFFFFF;
 }

 .label-info, .badge-info {
   background-color: $lazur;
   color: #FFFFFF;
 }

 .label-inverse, .badge-inverse {
   background-color: #262626;
   color: #FFFFFF;
 }

 .label-white, .badge-white {
   background-color: #FFFFFF;
   color: #5E5E5E;
 }

 .label-white, .badge-disable {
   background-color: #2A2E36;
   color: #8B91A0;
 }
