@import "variables";
.page-full{
  display: flex;
  flex-direction: row;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.flex-vertical
{
 display: flex;
  flex-direction: column;
}
.flex-hor{
  flex-direction: row;
  flex: 1;
  display: flex;
}
.fill-width{
  width: 100%;
  flex: 1;
}

.fill-height{
  flex: 1 0 100%;
  height: 100%;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-container-row {
  display: flex;
  flex-flow: row nowrap;
  & .flex-4 {
    flex: 4;
  }

  & .flex-2 {
    flex: 2;
  }

  & .flex-1 {  //flex-grow | flex-shrink | flex-basis
    flex: 1;
  }

  & .auto {
    flex: auto;  //flex: 1 1 auto
  }
  & .initial {
    flex: initial; //flex: 0 1 auto  shrink to min size but does not grow
  }
  & .none {
    flex: none;  //flex: 0 0 auto
  }
  & .end{
    justify-content:flex-end;
  }
  & .start{
    justify-content:flex-start;
  }
  & .right{
    text-align: right;
  }
}

.full-text-selection{
  user-select: all;
  word-break: break-word;
  word-wrap: break-word;
}

//
//.row {
//  margin-left: -15px;
//  margin-right: -15px;
//  clear: both;
//}
//
//.caret {
//  display: inline-block;
//  width: 0;
//  height: 0;
//  margin-left: 2px;
//  vertical-align: middle;
//  border-top: 4px dashed;
//  border-right: 4px solid transparent;
//  border-left: 4px solid transparent;
//}
//
//.divider {
//
//  height: 1px;
//  margin: 9px 0;
//
//  border-bottom-color: #e5e5e5;
//
//}
//
//.dropdown-menu {
//  border: medium none;
//  border-radius: 3px;
//  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
//  display: none;
//  float: left;
//  font-size: 12px;
//  left: 0;
//  list-style: none outside none;
//  padding: 0;
//  position: absolute;
//  text-shadow: none;
//  top: 100%;
//  z-index: 1000;
//  border-radius: 2px;
//}

