@import 'variables';

.modal-sm-window {
  div {
    max-width: 190px;
  }
}

.modal-md-window {
  div {
    max-width: 520px;
  }
}

.modal-lg-window {
  div {
    max-width: 700px;
  }
}

.modal-xl-window {
  div {
    max-width: 1000px;
  }
}

.modal-dialog {
  .modal-body-sm {
    min-height: 70px;
  }

  .modal-body-md {
    min-height: 190px;
  }

  .modal-body-lg {
    min-height: 265px;
  }

  &.ibox {
    margin-bottom: 0;
  }

  & .modal-header {
    background-color: $header-background-color;
    display: block;

    & .modal-title {
      font-weight: 600;
      color: white;
      font-size: 14px;
    }

    & .close {
      background: inherit;
      float: right;
    }
  }

  & .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
  }

  & .modal-body {

    padding-top: 5px !important;

    .loading-tab {
      padding: 10px;
    }

    .modal-form-md {
      padding: 10px;
      min-height: 179px;
    }

    .top-msg {
      padding-bottom: 10px;
    }

    .radio {
      label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
      }
    }

    .radio input[type=radio], .radio-inline input[type=radio] {
      position: absolute;
      margin-top: 3px;
      margin-left: -20px;
    }

    .control-label {
      width: 180px;
      justify-content: flex-end;
      display: flex;
      padding-right: 30px;
      margin: 0;
    }

    .control-label-flex-start {
      justify-content: flex-start;
    }

    .control-label-checkbox {
      margin-left: 135px;
      font-weight: normal;
    }

    .control-field {
      width: fit-content;
      padding-bottom: 5px;
      padding-right: 5px;
      display: flex;
      width:100%;
    }

    .control-field-checkbox {
      margin-top: 3px;
      margin-right: 5px;
    }

    .control-field-checkbox-position {
      position: relative;
      top: 1px;
    }

    .control-field-checkbox-area {
      max-height: 100px;
      overflow: auto;
    }

    .control-field-no-lable {
      margin-left: 30px;
    }

    .control-label-checkbox-group {
      margin: 0 5px 0 5px;
      width: 50px;
      padding: 0 5px 0 5px;
    }

    .checkbox-group {
      margin-top: 10px;
    }

    .checkbox-group-long {
      padding-right: 74px;
    }

    .span-field {
      padding: 7px;
    }

    .input-number-field {
      width: 72px;
    }

    .select-field {
      width: auto;
    }

    .modal-select-field {
      min-width: 168px;
      padding-left: 2px;
      padding-right: 2px;
    }

    .parent-field {
      div {
        width: 100%;
      }
    }
  }

  & .modal-footer {
    .left-panel {
      display: flex;
      flex:1;

      .btn-group {
        margin-left: 5px;
      }
    }
    .right-panel {
      display: flex;

      .btn-group {
        margin-left: 5px;
      }
    }
  }

  .text-primary,.text-success,.text-info,.text-warning ,.text-danger, .text-muted {
    color: #676a6c;
  }


  .nav-tabs {
    padding-left: 2px;
    .nav-item-active {
      margin: 0px 2px -1px 2px;
      background-color: #e6e6e6;
      color:#676a6c;
      border:none;
      font-size: 12px;
      font-weight: 600;
    }
    .nav-item {
      cursor: pointer;
      margin: 0px 2px -1px 2px;
      color:#676a6c;
      font-size: 12px;
      font-weight: 600;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
    .nav-item:hover {
      background-color: #e6e6e6;
    }
  }

  .nav-item-active {
    border-radius: 5px;
    border: 0.5px solid #ccc;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-color: transparent;
  }
}

.modal-header-confirm {
  background-color: lighten(#2f4050, 14%);
}

.modal-confirmation-body {
  padding-left: 15px;
  padding-bottom: 5px;
}
