.da-table {

  .body, .header {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #504F4F;

    .row {
      cursor: pointer;
      display: table-row;
      line-height: 50px;
      font-size: 13px;

      .col {
        display: table-cell;
        border-bottom: 1px solid #e2e2e2;
        color: #716e6e;
        font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
        outline: 0;

        &.medium {
          min-width: 120px;
        }

        &.select-column {
          width: 60px;
          padding-left: 10px;
          box-sizing: border-box;

          .chk-box{
            border: 1px solid #d6d6d6;
            width: 12px;
            height: 12px;
          }
        }

        &.more-actions {
          width: 25px;
        }

        &.selected {
          background: #e2e2e2 !important;
        }
      }

      &:hover {
        background: #f9f9f9;
      }
    }
  }

  .header {
    .col {
      font-size:12px;
      text-transform: uppercase;
      letter-spacing: 0.075em;
    }
  }
}

