.toggle  {
  position: relative;
  width: 45px;
  background: #fff;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.toggle-checkbox {
  display: none;
}
.toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #dadada;
  border-radius: 20px;
}
.toggle-inner {
  display: block;
  margin-left: 2px;
  transition: margin 0.3s ease-in 0s;
}
.toggle-inner:before, .toggle-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 18px;
  padding: 0;
  line-height: 18px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial,
  sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.toggle-inner:before {
  content: "";
  padding-left: 10px;
  color: #FFFFFF;
}
.toggle-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-align: right;
}
.toggle-switch {
  display: block;
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  border: 1px solid #a9a9a9;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  margin-left: 0;
}
.toggle-checkbox:checked + .toggle-label .toggle-switch {
  right: 0px;
  border: 1px solid #f75706;
}

//.toggle {
//  position: relative;
//  display: inline-block;
//  width: 40px;
//  height: 20px;
//
//  /* Hide default HTML checkbox */
//  input {display:none;}
//
//  /* The slider */
//  .slider {
//    position: absolute;
//    cursor: pointer;
//    top: 0px;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    background-color: #ccc;
//    -webkit-transition: .4s;
//    transition: .4s;
//
//
//    &:before {
//      position: absolute;
//      content: "";
//      height: 14px;
//      width: 14px;
//      left: 4px;
//      bottom: 3px;
//      background-color: white;
//      -webkit-transition: .4s;
//      transition: .4s;
//    }
//
//    /* Rounded sliders */
//    &.round {
//      border-radius: 34px;
//    }
//
//    &.round:before {
//      border-radius: 50%;
//    }
//  }
//
//  input:checked + .slider {
//    background-color: #f27333;
//  }
//
//  input:checked + .slider {
//    background-color: #f27333;
//  }
//
//  input:focus + .slider {
//    box-shadow: 0 0 1px #f27333;
//  }
//
//  input:checked + .slider:before {
//    -webkit-transform: translateX(18px);
//    -ms-transform: translateX(18px);
//    transform: translateX(18px);
//  }
//}
//
//
//


