.top-arrow-box {
  position: absolute;
  top: 40px;
  right: 0px;
  background: #fff;
  border: 1px solid #c2c9ce;
  display: none;

  &.left {
    right: inherit;
    left: 0;

    &:after, &:before {
      right: inherit;
      left: 20px;
    }
    &:before {
      margin-left: -10px;
    }
  }

  &.show {
    display:block;
  }

  &:after, &:before {
    bottom: 100%;
    right: 8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(143, 166, 181, 0);
    border-bottom-color: #080808;
    border-width: 10px;
    margin-left: -11px;
  }

  .item {
    border-bottom: 1px solid #e0dfdf;
    padding: 10px 10px;
    cursor: pointer;
    line-height: initial;
    font-size: 11px;

    &:hover {
      background: #f5f5f5;
    }
  }
}
