
// Basic Colors
$navy: #1ab394;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #6f98ad;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color
$orange: #F47521;
$orange_logo: rgb(255,80,1);
$purple: #eeaee3;
$active-text: #feffa6;     // Active button text color
$white: #ffffff;
$dark-button: #111;
$default-text: #333;
$footer-text: #555;
$dark-shadow: #aaaaaa;
$modal-backdrop-opacity:0;
$header-background-color : #49647d;
$menu-item-color:green;
$menu-item-color-hover:$purple;

$font-size-base:0.815rem;  //body font size: evaluated to 13px
$font-family-sans-serif: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Various colors
$text-color: #676a6c;   // Body text
$body-color: $text-color;
$body-bg:  #2f4050;
$header-bg: lighten($body-bg, 14%);;

$disabled-text-color: #aaa;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$grid-bg: lighten($gray,5%);;
$grid-selected-bg: #f4f4f4;;
$grid-selected-bg-top: #a9a9a9;
$light-gray: #D1DADE;   // Default label, badget
$label-badget-color: #5E5E5E;
$selection-bg:  lighten($body-bg, 44%);
$selection-grid: #87c7bc;
$selection-grid-no-focus: #d5d5d5;
$selection-grid-text: darken($default-text, 14%) ;;
$selection-grid-parent: #c9c9c9;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content
$page-title-bg:#e1e1e1;
$pane-border-color: #bbb;
$panel-background-color: #f5f5f5;

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2F4050;
$nav-text-color: #a7b1c2;

//z-indexes
$modal-shadow-index: 1000;

$modal-header-padding:        15px;
$modal-inner-padding:         15px;

$images-folder: '../assets/images';


