@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x8t8du');
  src:  url('fonts/icomoon.eot?x8t8du#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x8t8du') format('truetype'),
    url('fonts/icomoon.woff?x8t8du') format('woff'),
    url('fonts/icomoon.svg?x8t8du#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-da-special-"], [class*=" icon-da-special-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-da-special-matter-icon-o:before {
  content: "\e900";
}
.icon-da-special-matter-icon:before {
  content: "\e901";
}
