tree-grid-header {
  display: flex;
  box-sizing: border-box;

  .content {
    display: flex;
    flex: 1;
    width : 100%;

    .grid-header {
      display: flex;
      flex: 1;
      flex-direction: row;
      font-weight: 600;
      align-items: left;
      color: rgb(102, 102, 102);
      border-bottom: solid 1px #cccccc;
      font-size: 10px !important;
      background: linear-gradient(#49647d 0, #2f4050 100%);
      border-bottom: solid 1px #cccccc;

      & .item {
        border-right: 1px solid white;
      }

      .item {
        white-space: nowrap;
        position: relative;
        user-select: none;
        padding: 5.2px 7.8px;
        color:#fff;

        &.icon-column {
          flex: 0 0 30px;
        }

        &.sortable {
          cursor: pointer;
          font-size: 10px !important;


          &:after{
            content:"\f0dc";
            font-family: FontAwesome;
            padding-left: 5px;
            color:#aaaaaa;
          }


          &.desc {
            &:after {
              content:"\f0dd";
              color:#ffffff;
            }
          }
          &.asc {
            &:after {
              content:"\f0de";
              color:#ffffff;
            }
          }
        }
      }
    }
  }

  .checkbox-col {
    display: flex;
    flex: 0 0 23px;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    background: linear-gradient(#49647d 0, #2f4050 100%);
    border-bottom: solid 1px #cccccc;

    .checkbox-wrapper {
      text-align: center;
      margin: 0 auto;
      color: white;
      font-size: 16px;

      .partial {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 7px;
          left: 4px;
          width: 5px;
          height: 0;
          border: 1px solid #eaeaea;
          transform: initial;
        }
      }
    }
  }

  .right-options {

    display: flex;
    justify-content: flex-end;


    }

    .btn-actions {
      color: #8f8f8f;
      display: flex;
      width: 28px;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        color: black;
      }

      &:after {
        content: '\2807';
        font-size: 18px;
        width: 10px;
      }
    }

}






