<div class="content">
  <div class="checkbox-col"  *ngIf="treeGridConfig.enableSwitchSelectionMode || selectionMode  ==TreeGridSelectionMode.multi">
    <a  *ngIf="treeGridConfig.enableSwitchSelectionMode" [hidden]="selectionMode  !== TreeGridSelectionMode.single"  (click)="onSwitchSelectionModeClicked($event)" class="checkbox-wrapper">
      <i class="fa fa-square-o  "  ></i>
    </a>
    <a [hidden]="selectionMode !== TreeGridSelectionMode.multi"  (click)="onCheckboxClicked($event)" class="checkbox-wrapper">
      <i *ngIf="checkType === checkTypes.all" class="fa fa-check-square-o checked"  ></i>
      <i *ngIf="checkType === checkTypes.partial" class="fa fa-square-o partial"  ></i>
      <i *ngIf="checkType === checkTypes.none" class="fa fa-square-o unchecked" ></i>
    </a>
  </div>
  <div #viewContainer></div>
</div>
<div class="right-options">
  <div class="btn-actions" *ngIf="treeGridConfig.showMoreActionsBtn" (click)="onBtnActionsClicked($event)"></div>
</div>
