.inner-discover-item-list-wrapper {
  discover-item-list {
    .discover-body-line {
      position: relative;
      top: initial;
      bottom: initial;
    }

    .pager-wrapper {
      display: none;
    }

    .discover-header-line {
      display: none;
    }
  }
}

discover-item-list {
    .discover-header-line {
      width:100%;
      height: 40px;
      background-color: #ffffff;
      position: relative;
    }

    .discover-body-line {
      position: absolute;
      top:40px;
      bottom: 0px;
      width: 100%;
    }

    .without-header {
      .discover-body-line {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        left: 0;
      }
    }

    .discover-header-title {
      font-size: 13px;
      display: inline-block;
      padding-left: 10px;
      height: 100%;
      margin: 10px 0px;
      display: inline-block;
    }

    .discover-header-title-prefix {
      display: inline-block;
      color : #23527c;
      font-weight: bold;
      cursor: pointer;
    }

  .export-btn {
    display: block;
    float: right;
    padding-top: 5px;
  }

  .chart-btn {
    display: block;
    float: right;
    padding-top: 5px;
  }

  .dropdown-menu.dropdown-menu-right {
    right : 0 !important;
  }

  .discover-display-icons-list {
    padding-left: 7px;
  }

  .discover-display-icons-list-item {
    padding-left: 2px;
  }

  .discover-display-icons-item-text {
    display: none;
  }



}
