<loader [show]="loading"></loader>

<div class="discover-header-line">

    <span class="discover-header-title" >
      <span class="discover-header-title-prefix" *ngIf="titlePrefix" (click)="clickOnTitlePrefix()">
        {{ titlePrefix }}
      </span>
      {{ discoverTypeObject.title  }}
    </span>

    <div class="export-btn">
      <span class="spinner-wrapper"*ngIf="isExporting"><i class="fa fa-spinner fa-spin"></i></span>
      <span class="nav-item dropdown" ngbDropdown>
          <a class="btn btn-link dropdown-toggle" ngbDropdownToggle  >
            <i class="fa fa-download"></i>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)" (click)="exportData()">Export to Excel</a>
          </ul>
        </span>
    </div>

    <!-- div class="chart-btn">
      <span class="nav-item dropdown" ngbDropdown>
            <a class="btn btn-link dropdown-toggle" ngbDropdownToggle >
              <i class="fa fa-pie-chart"></i>
            </a>
            <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void(0)" (click)="showChart()">Show Chart</a>
            </ul>
          </span>
    </div -->

</div>
<div class="discover-body-line">
  <tree-grid  *ngIf="discoverTypeObject"
    [treeGridData]="currentData"
    [treeGridEvents]="treeGridEvents"
    [treeGridItemComponent]="discoverTypeObject.treeGridItemComponent"
    [treeGridHeaderComponent]="discoverTypeObject.treeGridHeaderComponent">
  </tree-grid>
</div>
