<div class="tag-list">
  <div ng-repeat="fileTag in selectedTagsArr" class="no-linkable long-and-truncated" style="padding-right: 10px">
  <div class="tag" style="color: #555" bubble="{{fileTag.name}}">
    <span class="tag tag-{{fileTag.styleId}}" bubble="">
      <span class="fa fa-flag"></span>
    </span>
    <span>{{fileTag.name}}</span>
  </div>
</div>
<div class="tags-ddl-wrapper" >
  <span class="dropdown" ng-if="isMngDoctypeConfigUser">
    <button data-toggle="dropdown" class="btn btn-flat btn-xs dropdown-toggle" bubble="Select tags columns" aria-expanded="false"  ng-click="openTagsDDL($event)">
      <div style="display:flex;flex-direction: row;align-items: center;width: 20px;height: 18px;background: transparent;">
        <span class="caret"></span>
      </div>
    </button>
    <div class="dropdown-menu doc-type-tags-ddl rtl-dir" role="menu" ng-click="$event.stopPropagation();" >
      <div ng-if="showTagsDropdown">
        <div ng-if="recentlyUsedTagFiles.length > 0" class="recently-used-file-tags">
          <div class="title">RECENTLY USED</div>
          <ul>
            <li class="tag-item" ng-repeat="fileTag in recentlyUsedTagFiles" ng-click="toggleFileTag($event, fileTag)">
              <div class="tag-item-icon">
                <div class="check">
                  <span ng-if="selectedFiles[fileTag.id]" class="fa fa-check"></span>
                </div>
                <i class="flag">
                  <span class="tag tag-{{fileTag.styleId}}">
                  <span class="fa fa-flag"></span>
                  </span>
                </i>
              </div>
              <div class="tag-item-name long-and-truncated" bubble="{{fileTag.name}}">{{fileTag.name}}</div>
            </li>
          </ul>
        </div>
        <div class="action-panel">
          <div class="search-box tags-searchbox">
            <input type="text" placeholder="Search tag items" ng-model="searchText[docType.id]" ng-change="searchTextChange()">
              <span class="icon fa fa-search"></span>
              <span class="clear" ng-show="searchText" ng-click="clearSearchText()"></span>
            </input>
          </div>
          <div class="add-new-btn" ng-click="addNewTagClick($event, docType.id)" bubble="Add tag type">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
        <ul style="padding:0; margin: 0;">
          <li class="tag-item" ng-repeat="fileTag in filteredFileTags" ng-click="toggleFileTag($event, fileTag)">
            <div class="tag-item-icon">
              <div class="check">
                <span ng-if="selectedFiles[fileTag.id]" class="fa fa-check"></span>
              </div>
              <i class="flag">
                <span class="tag tag-{{fileTag.styleId}}">
                <span class="fa fa-flag"></span>
                </span>
              </i>
            </div>
            <div class="tag-item-name long-and-truncated" bubble="{{fileTag.name}}">{{fileTag.name}}</div>
          </li>
        </ul>
      </div>
    </div>
  </span>
  </div>
</div>



