.dropdown-menu.doc-type-tags-ddl {
  width: 200px !important;
}

.doc-types-tags-panel {

  .panel-header {

    padding: 0;

    .header-item {
      display: block !important;
    }

    .ibox-title {
      padding: 8px 15px 7px !important;
      height: 28px !important;
      display: flex;
      position: relative;

      .left-actions {
        flex: 1;

        .doc-type-tags-main-btn {
          position: absolute;
          left: calc(~"100% - 1037px");
          top: 10px;
        }
      }
      .manage-btn {
        padding-top: 5px;
        flex: 1;
      }

    }
  }

  .doc-types-tree-list {
    thead {
      display: none;
    }
    tr {
      td {
        min-width: 900px;
        padding: 0 0 0 5px !important;
        display: flex !important;

        .k-icon {
          margin-top: 7px !important
        }
        .name-column {
          display: flex;
          flex: 1;
          padding: .4em 0 !important;

          .name {
            flex: 1;
            //white-space: normal;
            .txt {
              max-width: 350px;
            }
            .icon {
              margin-top: 5px;
              padding-left: 10px;
            }
          }

          .tag-types {
            display: flex;
            justify-content: flex-end;
            padding-right: 10px;

            .tag-type {
              padding-right: 2px;
            }

            .dropdown-menu {
              max-height: 220px;
              overflow-y: auto;
            }
          }
        }

        .desc-column {
          width: 450px;
          padding: .4em 10px !important;
        }

        .tag-column {
          width: 450px;
          display: flex;
          position: relative;
          padding: .4em 10px !important;
          border-right: 1px solid #dadada;
          border-left: 1px solid #dadada;

          .tag-list {
            display: flex;
            flex-direction: row;
            width: 90%;
            flex-flow: row wrap;
            align-content: space-between;
          }
          .tags-ddl-wrapper {
            justify-content: flex-end;


            .dropdown {
              position: absolute;
              right: 10px;
              top: 5px;

              button {
                background: transparent;
                border: 1px solid #b3b3b3;

                .caret {
                  color: #979797;
                }
              }

              .dropdown-toggle {
                border: 1px solid #d8d8d8;
                width: 5px;
                height: 15px;
                background: white;

                .caret {
                  margin-left: -2px;

                  &.ng-hide {
                    display: block !important;
                  }
                }
              }
            }
            .tag {
              .fa-flag {
                padding-right: 7px;
              }
            }
          }
        }
      }
    }
  }
}


.doc-type-tags-ddl {
  max-height: 300px;
  overflow: auto;
  padding: 15px 5px;
  box-sizing: border-box;
  width: 200px !important;

  .action-panel {
    padding-top: 15px;
    display: flex;

    .tags-searchbox {
      width: inherit !important;
      padding-left: 13px;
      height: 25px;
      right: 0;

      input {
        line-height: 26px;
        height: 28px;
      }
      .icon {
        top: 9px;
        left: 19px;
      }

      .clear {
        top: 7px;
        right: 7px;
      }
    }

    .add-new-btn {
      padding: 7px 4px 10px 10px;
      cursor: pointer;

      &:hover {
        color: #6f98ad;
      }
    }
  }

  .recently-used-file-tags {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 5px;
    margin: 5px 0;
    position: relative;

    .title {
      position: absolute;
      background: #fff;
      padding: 0 8px;
      font-size: 11px;
      top: -9px;
      left: 9px;
    }

    ul {
      padding:0;
      padding-bottom: 5px;
      margin: 15px 0 0 0;
    }
  }

  .empty-item-msg {
    padding: 0 10px;
  }
  .tag-item {
    display: flex;
    position: relative;
    padding: 10px 0;
    cursor: pointer;

    &:hover {
      background: #f8f8f8;
    }

    .tag-item-icon {
      display: flex;

      .check {
        min-width:15px;
      }

      .flag {
        padding-left:2px;
        padding-right: 5px
      }
    }

    .tag-item-name {
      padding-top:1px;
      width: 150px;
    }

    .toggle-tag-btn {
      padding: 5px 5px 5px 10px;
    }

    .spinner {
      position: absolute;
      right: 5px;
      top: 15px;
      width: 15px;
      height: 15px;
    }
  }
}


//------------------------------------------
// media queries
//------------------------------------------

@media only screen and (max-width: 1600px) {

  .doc-types-tags-panel {
    .panel-header {
      .doc-type-tags-main-btn {
        left: calc(~"100% - 737px") !important;
      }
    }

    .doc-types-tree-list {
      .desc-column {
        width: 300px !important;
      }

      .tag-column {
        width: 300px !important;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {

  .doc-types-tags-panel {
    .panel-header {
      .doc-type-tags-main-btn {
        left: calc(~"100% - 637px") !important;
      }
    }
    .doc-types-tree-list {
      .desc-column {
        width: 250px !important;
      }

      .tag-column {
        width: 250px !important;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {

  .doc-types-tags-panel {
    .panel-header {
      .doc-type-tags-main-btn {
        left: calc(~"100% - 557px") !important;
      }
    }

    .doc-types-tree-list {
      tr {
        td {
          min-width: 750px !important;

          .name-column {
            flex-direction: column;

            .tag-types {
              justify-content: initial !important;
              padding-left: 9px;
            }
          }

          .desc-column {
            width: 200px !important;
          }

          .tag-column {
            width: 200px !important;
          }
        }
      }
    }
  }
}

.doc-types-tree {
  td.ddl-cell {
    white-space: normal !important;
  }
}
