<div style="display: flex; flex: 1;">
  <div style="display: flex; flex: 1;">
    <div class="name-column">
      <div class="name long-and-truncated">
        <span  class="icon fa fa-bookmark tag-{{dataItem.styleId}} opacity-depth-{{dataItem.depth}}"></span>
        <span class="txt">{{dataItem.name}}</span>
      </div>
      <div ng-if="showFlags && dataItem.tagTypeList.length > 0" class="dropdown dropdown-wrapper tag-types no-fix" ng-click="openTagsDDL($event)">
        <span class="btn-dropdown dropdown-toggle" data-toggle="dropdown">
          <span class="ddl-no-title">
            <span class="tag-type" ng-repeat="tagType in dataItem.tagTypeList">
               <span class="tag tag-{{tagType.styleId}}" bubble="{{tagType.name}}">
                   <span class="fa fa-flag"></span>
               </span>
            </span>
            <i class="fa fa-caret-down"  ></i>
          </span>
        </span>
        <ul class="dropdown-menu">
          <li style="position:relative;"  ng-repeat="tagType in dataItem.tagTypeList">
            <a class="no-linkable ">
              <span class="tag-icon tag tag-{{tagType.styleId}}">
                <span class="fa fa-flag"></span>
              </span>&nbsp;
              <span class="tag label label-o label-tag-{{tagType.styleId}}" bubble="{{tagType.name}}"> {{tagType.name}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tag-column">
      <doc-types-tags on-tag-changed="onTagChanged" ng-if="selectedTagTypeId" doc-type="dataItem" tag-types="tagTypes" selected-tag-type-id="selectedTagTypeId" move-mode="moveMode" is-mng-doctype-config-user="isMngDoctypeConfigUser"></doc-types-tags>
    </div>
    <div class="desc-column long-and-truncated">{{dataItem.description}}</div>
  </div>
</div>
