<div class="doc-types-tags-panel">

  <div class="header-item" style="margin-right: 10px; padding-bottom: 20px" >
    <h4 style="margin-top: 1px;margin-bottom: 0; display: inline-block"> DocTypes ({{totalElements}})</h4>
    <i ng-visible="filterData&&filterData.filter&&filterData.filter.field" class="fa fa-filter notice"></i>
  </div>

  <div class="panel-header">
    <div class="header-item " ng-show1="editMode" style="width: 100%">
      <div class="ibox-title">
        <doc-types-manage-menu is-mng-doctype-config-user="isMngDocTypeConfigUser"  reload-data="refreshData" tags-columns="tagsColumns" selected-doc-types-item="docTypeSelectItem" selected-tag-type-id="selectedTagTypeId" tag-types="tagTypes" tags-changes="tagsChanges" selected-doc-types-items="docTypeSelectItems" save-tags-changes="saveTagsChanges" reset-tags-changes="resetTagsChanges" show-flags="showFlags" move-mode="moveMode"></doc-types-manage-menu>
        <div style="position:relative" role="export">
          <i ng-show="exportToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
          <div class="btn-group dropdown">
            <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export to Excel" ng-class="{'disabled':exportToExcelInProgress}" ng-disabled="exportToExcelInProgress">
              <i class="fa fa-download"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right"  >
              <li> <a ng-click="onExportDocTypesToExcel();" title="Download data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp; As Excel</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix "></div>

  <doc-types-tree-list show-tags="true" tag-types="tagTypes" selected-tag-type-id="selectedTagTypeId"  show-all-doc-types="true" export-to-excel="onExportToExcel" change-selected-item="changeDocTypeSelectedItemId"  process-export-finished="exportToExcelCompleted"  filter-data="filterData"
    update-data-items="updateDataItems" is-mng-doctype-config-user="isMngDocTypeConfigUser" total-elements="totalElements" tags-changes="tagsChanges"  tags-columns="tagsColumns" get-current-url="getRightUrl" padding-bottom1="100" get-current-filter="getRightFilter" refresh-data="refreshData" items-selected="onSelectDocTypeItems" item-selected="onSelectDocTypeItem" show-flags="showFlags" move-mode="moveMode">
  </doc-types-tree-list>
</div>
