<div>


  <div class="panel-header">
    <div class="header-item pull-right" style="position:relative" role="export">
      <i ng-show="exportToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
      <!--<a href="#" ng-class="{'disabled':exportToExcelInProgress}" class="btn btn-link" ng-click="onExportDocTypesToExcel()" title="Download data in Excel format"> <i class="fa fa-download "></i></a>-->
      <div class="btn-group dropdown">
        <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export options" ng-class="{'disabled':exportToExcelInProgress}" ng-disabled="exportToExcelInProgress">
          <i class="fa fa-download"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right"  >
          <li> <a ng-click="onExportDocTypesToExcel();" title="Download data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp; As Excel</a></li>
        </ul>
      </div>
    </div>
    <div class="header-item" style="margin-right: 10px;" >
      <h4 style="margin-top: 1px;margin-bottom: 0;"> DocTypes ({{totalElements}})</h4>
      <i ng-visible="filterData&&filterData.filter&&filterData.filter.field" class="fa fa-filter notice"></i>
    </div>

    <!--<div class="header-item " style="margin-left: 10px;position: relative">-->

    <!--<input  type="text" class="form-control has-right-icon has-left-icon"  placeholder="Filter " ng-model="userFilterText" ng-enter="userFilterChanged(userFilterText)" />-->
    <!--<span ng-show="userFilterText&&userFilterText!=''" class="top-right-position" style="top:2px; ">-->
    <!--<a  class="btn btn-link btn-sm"  ng-click="clearUserFilter();" title="Clear filter" ><span class="fa fa-times"></span></a>-->
    <!--</span>-->
    <!--<span  class="top-left-position" style="top:2px; ">-->
    <!--<a  class="btn btn-link btn-sm" ng-click="userFilterChanged(userFilterText);" title="Do filter" ><span class="fa fa-search"></span></a>-->
    <!--</span>-->
    <!--</div>-->
    <div ng-show="isMngDocTypeConfigUser && editMode" class="header-item " ng-show1="editMode" style="margin-left: 30px;">

      <doc-types-manage-menu save-tags-changes="saveTagsChanges"  is-mng-doctype-config-user="isMngDocTypeConfigUser" reload-data="refreshData" selected-doc-types-item="docTypeSelectItem" selected-doc-types-items="docTypeSelectItems"></doc-types-manage-menu>
    </div>
    <div ng-show="isMngDocTypeConfigUser && !editMode" class="header-item " ng-show1="!editMode" style="margin-left: 30px">
      <a class="btn btn-flat btn-xs"  ng-click="editMode=!editMode">Manage</a>
    </div>

  </div>
  <div class="clearfix "></div>

  <doc-types-tree-list show-all-doc-types="true" export-to-excel="onExportToExcel" change-selected-item="changeDocTypeSelectedItemId" process-export-finished="exportToExcelCompleted" filter-data="filterData"
    get-current-url="getRightUrl" padding-bottom1="100" get-current-filter="getRightFilter" refresh-data="refreshData" items-selected="onSelectDocTypeItems" item-selected="onSelectDocTypeItem" total-elements="totalElements">
  </doc-types-tree-list>
</div>
