regulations-item-grid {
  width: 100%;

  .item {
    &.fieldIcon {
      flex: 0 0 30px;
    }
    &.fieldName {
      flex: 1 1 200px;
      word-break: break-all;
    }
    &.active {
      flex: 1 0 70px;
      cursor: pointer;
    }
  }

}


