<div #el class="grid-row">
  <div class="item fieldIcon icon-column">
    <i class="fa fa-book"></i>
  </div>
  <div class="item fieldName title-primary">
      {{ dataItem.item.name}}
  </div>
  <div *ngIf="!dataItem.children || dataItem.children.length ==0 " class="item active">
    <div (click)="!inSetActive && setActive(!dataItem.item.active)"  [ngClass]="{'disabled' : inSetActive}"  class="title-secondary">
      <span *ngIf="dataItem.item.active" class="no-special-tooltip" title="{{ dataItem.item.name}} is active"><span class="fa fa-toggle-on icon-item " ></span> </span>
      <span *ngIf="!dataItem.item.active"   class="notice no-special-tooltip" title="{{ dataItem.item.name}} is not active"><span class="fa fa-toggle-off notice icon-item" ></span> </span>
    </div>
  </div>
</div>

