<div>


  <div class="panel-header">
    <div class="header-item pull-right" style="position:relative" role="export">
      <div class="btn-group dropdown">
        <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export options">
          <i class="fa fa-download"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right"  >
          <li> <a ng-click="schedulesmanage.exportToExcel();" title="Download data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp; As Excel</a></li>
        </ul>
      </div>
    </div>
    <div class="header-item " style="margin-right: 10px;" >
      <h4 style="margin-top: 1px;margin-bottom: 0;"> Schedule groups ({{schedulesmanage.totalElements |number}})</h4>
    </div>
    <div ng-if="schedulesmanage.isMngScanConfigUser" class="header-item " style="margin-left: 30px;" >
      <schedules-manage-menu reload-data="schedulesmanage.reloadScheduleGroupsData" selected-list-item-to-operate="schedulesmanage.selectItem" selected-list-items-to-operate="schedulesmanage.selectItems"></schedules-manage-menu>
    </div>

  </div>
  <div class="clearfix "></div>
  <schedule-groups-grid min-details="true" include-sub-entity-data="!schedulesmanage.showOnlyActiveScheduleGroups" items-selected="schedulesmanage.onSelectScheduleGroups" item-selected="schedulesmanage.onSelectScheduleGroup" change-page="schedulesmanage.changeScheduleGroupsPage" export-to-excel="schedulesmanage.exportToExcelData"
                        page-changed="schedulesmanage.scheduleGroupPageChanged"  change-selected-item="schedulesmanage.changeSelectedItem" total-elements="schedulesmanage.totalElements"
                        find-id="schedulesmanage.findIdScheduleGroup"    refresh-data="schedulesmanage.reloadScheduleGroupsData" refresh-data-silently="schedulesmanage.syncScheduleGroupData" reload-data-to-grid="schedulesmanage.refreshScheduleGroupDisplay"
                        filter-data="schedulesmanage.filterData" process-export-finished="schedulesmanage.exportToExcelCompleted" ></schedule-groups-grid>
</div>
