<div>

  <a class="btn btn-link btn-xs"  ng-class="{disabled:!schedules.selectedListItemsToOperate||schedules.selectedListItemsToOperate.length>1||schedules.selectedListItemsToOperate.length==0}"
     ng-click="schedules.openEditDialog();"> <span class="fa fa-pencil"></span>&nbsp;Edit
  </a>
  &nbsp;
  <a class="btn btn-link btn-xs" ng-class="{disabled:!schedules.selectedListItemsToOperate||schedules.selectedListItemsToOperate.length==0}" ng-click="schedules.openDeleteDialog()">
    <span class="fa fa-trash-o"></span>&nbsp;Delete</a>

  &nbsp;&nbsp;
  <a class="btn btn-flat btn-xs"  ng-click="schedules.openAddNewDialog();"> <da-icon href="add"></da-icon>&nbsp;Add
  </a>
  &nbsp;&nbsp;
  <a class="btn btn-flat btn-xs" ng-click="schedules.openUploadItemsDialog();" title="Import items from file"> <da-icon href="import"></da-icon>&nbsp;Import
  </a>
</div>
