dashboard-widget {

  .gridster-item-content {
    padding: 0px 0px;
  }

  .da-item-header {
    cursor: grab;
  }

  .go-discover-div {
    margin-top: -2px;
  }

  .go-discover-btn {
    font-size: 12px;
    border: solid 1px #cccccc;
    padding: 1px 10px;
  }

  .dashboard-widget-header-text {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 8px;
    left: 35px;
    right: 55px;
    text-overflow: ellipsis;

    &.with-discover {
      right : 75px;
    }
  }

  .dashboard-widget-header-right-area {
    position: absolute;
    right : 5px;
  }

  .dashboard-widget-header-option-btn{
    top: 7px;
    cursor: pointer;
    margin-left: 0px;
  }

  .dashboard-widget-header-discover-btn{
    top: 8px;
    cursor: pointer;
    padding-left: 5px;
  }

  .dashboard-widget-header-info-btn {
    top: 8px;
    cursor: pointer;
  }

  dashboard-widget-pager {
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
  }

  .with-pager {
    .da-item-body {
      bottom : 50px;
    }
  }

  .navigate-by-menu-btn{
    position: absolute;
    right: 80px;
    top: 5px;
    cursor: pointer;
    width: 200px;


    da-select-input {
      .selected-text{
        height: 30px;
        padding: 5px 5px;
        font-size: 14px;
      }
    }
  }
}
.drill-down-dialog-modal-content {
  margin-top: 50px;
  position: absolute;

  .modal-sm {
    max-width: 300px;
  }

  .modal-dialog .modal-content .modal-body {
    height:  auto !important;
  }
}
