<div class="da-dashboard-item" id="{{ widgetId ? widgetId : ''}}" *ngIf="chartInfo"  [ngClass]="{'with-pager': withPager}">
  <loader [show]="loading"></loader>
  <div class="da-item-header" (mousedown)="onMouseDown($event)">
    <span class="dashboard-drag-icon" >
      <i class="fa fa-window-restore"></i>
    </span>
    <span class="dashboard-widget-header-text no-special-tooltip" [ngClass]="{'with-discover' : discoverOptions}" title="{{ userViewDataDto.name }}">{{userViewDataDto.name }}</span>

    <span class="dashboard-widget-header-right-area" >
      <span *ngIf="chartData && chartData.dataMayNotBeAccurate" class="info-btn fa fa-info-circle dashboard-widget-header-info-btn"    triggers="mouseenter:mouseleave" placement="top" container="body" ngbPopover="Displayed data is estimation (count above {{ CommonConfig['facet-count-hll.lower-bound'] }} may not be exact number)"></span>

      <da-drop-down *ngIf="discoverOptions" class="dashboard-widget-header-discover-btn gridster-item-content" title="Go discover" [openIfOnlyOne]="true" [openOnLeft]="true" [enabled]="true" [dropDownItems]="discoverOptions">
         <div class="btn-group go-discover-div">
          <button class="go-discover-btn btn btn-flat" (click)="copyToClipBoard()">
            <span class="ion-android-exit" ></span> Go discover
          </button>
        </div>
      </da-drop-down>

      <da-drop-down class="dashboard-widget-header-option-btn gridster-item-content" [openOnLeft]="true" [enabled]="true" [dropDownItems]="chartOptions" [openSubMenuOnRight]="openSubMenuOnRight">
        <span class="fa fa-ellipsis-v header-options-btn" ></span>
      </da-drop-down>
    </span>

    <!-- span class="navigate-by-menu-btn" *ngIf="showDrillDown">
      <da-select-input [disabled]="!selectionId" (itemSelected)="onDrillDownChoose($event)" [options]="dataTypeList" [selectedName]="drillDownSelectName" emptyValueMsg="Drill down"></da-select-input>
    </span -->

  </div>
  <div class="da-item-body gridster-item-content" [ngClass]="{withPager : 'with-pager'}">
    <advanced-chart-component *ngIf="chartData" (selectionChanged)="onChartSelectionChange($event)" [chartData]="chartData" [chartInfo]="chartInfo" [chartName]="userViewDataDto.name"> </advanced-chart-component>
  </div>

  <dashboard-widget-pager class="gridster-item-content" *ngIf="withPager"
    (changePage)="onPageChanged($event)"
    [totalPages]="totalPages"
    [currentPage]="currentPage">
  </dashboard-widget-pager>

</div>
