biz-list-monitor {
  biz-list-monitor-item-grid {
    width: 100%;
    .item {
      &.bizListName {
        flex: 1 0 165px;
      }
      &.activeOrInactive {
        flex: 0 1 60px;
        cursor: pointer;
        &.active-is-disable {
          cursor: default !important;
          opacity: 0.5;
        }
      }
      &.bizListType {
        flex: 0 1 100px;
      }
      &.bizListMembersNum {
        flex: 0 1 150px;
      }
      &.state {
        flex: 0 1 200px;
      }
      &.searchPhase {
        flex: 0 1 100px;
      }
      &.searchMember {
        flex: 0 1 300px;
      }
    }
  }
}
