<div #el class="grid-row">
  <div class="item bizListName" >
    <span class="da-link-btn" (click)="viewBizList()">
      {{ dataItem.item.bizListDto.name }}
    </span>
  </div>
  <div class="item activeOrInactive" [ngClass]="{'active-is-disable' : allBizListsRunning}" (click)="!allBizListsRunning && setSingleBizlistActive(!dataItem.item.bizListDto.active)">
    <div class="title-secondary">
      <span *ngIf="dataItem.item.bizListDto.active"  title="{{ dataItem.item.bizListDto.name}} is active"><span class="fa fa-toggle-on icon-item " ></span> </span>
      <span *ngIf="!dataItem.item.bizListDto.active"   title="{{ dataItem.item.bizListDto.name}} is not active" class="notice"><span class="fa fa-toggle-off notice icon-item" ></span> </span>
    </div>
  </div>
  <div class="item bizListType" >{{ dataItem.item.bizListDto.bizListItemType | translate}}</div>
  <div class="item bizListMembersNum" >{{ currentExtractItems ? currentExtractItems+' of '+ totalExtractItems :  dataItem.item.activeItemsCount }}</div>
  <div class="item state" >
    <span *ngIf="dataItem.item.crawlRunDetailsDto">
        <status-icon [status]="jobStateStr"></status-icon>
        <span *ngIf="jobStateStr">{{ 'STATUS.'+jobStateStr | translate }}</span>
    </span>
  </div>
  <div class="item searchMember" >{{  jobStateDescription  }}</div>
</div>

