<form class="form-horizontal modal-form-md" name="uploadForm" #uploadForm="ngForm" role="form">
  <div class="form-group">
    <label class="control-label">Select file to upload:</label>
  </div>
  <div class="form-group" style="display: flex;">
    <input type="text" class="form-control" disabled style="width: 90%;margin-right: 5px;" placeholder="{{file.name}}">
    <label class="btn btn-sm btn-secondary upload-btn" for="files"> <span class="fa fa-folder-open"></span>
      <input type="file" id="files" name="files" style="display: none" (change)="fileChange($event)" accept="{{fileType}}">
    </label>
  </div>
  <div class="alert alert-danger" *ngIf="validationInfo && validationInfo.importFailed">
    <strong>Error! </strong> {{validationInfo.resultDescription}}
  </div>
</form>
