<div ng-init="init();" class="fill-width fill-height">
  <div  class="row">
    <div class="col-sm-offset-1 col-sm-10 pdf-page " >
      <h4 ng-if="chartDeleted" class="notice">Chart Deleted</h4>
       <report-chart-widget ng-show="!chartDeleted"  chart-info="chartInfo" lazy-load="false" on-new-chart-saved="onNewChartSaved" read-only="readOnly"
                            allow-save-chart="chartInfo.notSaved" on-chart-deleted="onChartDeleted" style="background: white" ></report-chart-widget>
    </div>
  </div>
</div>
