.dashboard-total-files {
  .ibox-content {
    display: flex;
    .cell {
      padding: 5px 0;

      &.left {
       min-width:50%;
       margin-right: 10px;
      }

      &.right {
       display: flex;
       flex-direction: column;
      }

      h1 {
        font-size: 22px;
      }
    }
  }
}

