<div ng-init="init()" class="fill-height ">
  <div>

    <div role="top" class="row">
      <div role="left-view" class="col-md-6 col-lg-4">
        <div class="ibox float-e-margins dashboard-total-files" >
          <div class="ibox-title">
            <!--<span class="label pull-right" translate>{{statusLabelText }}</span>-->
            <h4>{{'Total files found' | translate}}</h4>
          </div>
          <div class="ibox-content" style="padding-bottom: 11px;height:115px">
            <div class="cell left">
              <h1 class="no-margins"><span>{{scannedFilesCounter.counter | commaSeparateNumber}}</span></h1>
              <small>mapped</small>
            </div>
            <div class="cell right" ng-if="aggregatedProcessedSize.counter > 0">
              <h1 class="no-margins"><span>{{aggregatedProcessedSize.counter * 1024 * 1024 | bytes}}</span></h1>
              <small title="{{processedFilesCount.counter | commaSeparateNumber}} processed files">{{processedFilesCount.counter | commaSeparateNumber }} processed {{processedFilesPercentStr}}</small>
              <small title="{{analyzedFilesCounter.counter | commaSeparateNumber}} analyzed files">{{analyzedFilesCounter.counter | commaSeparateNumber }} analyzed {{analyzedFilesPercentStr}}</small>
            </div>
          </div>
        </div>
      </div>

      <div role="right-view" class="col-md-6 col-lg-4">
        <list-report  count-report="analyedSystemStatistics" my-height="115"
                      caption="'System document statistics'"></list-report>
      </div>

      <div role="right-view" class="col-md-6 col-lg-4">
        <list-report  count-report="systemProgressStatistics" my-height="115"
                      caption="'System datamap progress'"></list-report>
      </div>
    </div>



    <div role="charts row" class="row" style="height: 420px;">
      <div role="left-view" class="col-sm12 col-md-6 col-lg-4 ">
        <highcharts-histogram-chart chart-type="'pie'" histogram-data="groupSizeHistogram.data"
                         chart-title="'Documents per group size range'" my-height="420"></highcharts-histogram-chart>
      </div>
      <div role="right-view" class="col-sm12 col-md-6 col-lg-4 ">
        <highcharts-histogram-chart chart-type="'bar'" histogram-data="fileAccessHistogram.data"
                         chart-title="'Files count per modification date'" my-height="420"></highcharts-histogram-chart>

      </div>
      <div role="right-view" class="col-sm12 col-md-6 col-lg-4 " >
        <highcharts-histogram-chart chart-type="'pie'" histogram-data="fileTypeHistogram.data"
                         chart-title="'Scanned file types'" my-height="420"></highcharts-histogram-chart>

      </div>
    </div>
  </div>
</div>

