<div ng-init="init()" class="fill-height ">
  <div >

    <div role="top" class="row">
      <div role="left-view" class="col-md-6 col-lg-4">
        <div class="ibox float-e-margins dashboard-total-files" >
          <div class="ibox-title">
            <!--<span class="label pull-right" translate>{{statusLabelText }}</span>-->
            <h4>{{'Total files found' | translate}}</h4>
          </div>
          <div class="ibox-content" style="padding-bottom: 11px;">
            <div class="cell left">
              <h1 class="no-margins"><span>{{scannedFilesCounter.counter | commaSeparateNumber}}</span></h1>
              <small>mapped</small>
            </div>
            <div class="cell right" ng-if="aggregatedProcessedSize.counter > 0">
              <h1 class="no-margins"><span>{{aggregatedProcessedSize.counter * 1024 * 1024 | bytes}}</span></h1>
              <small title="{{processedFilesCount.counter | commaSeparateNumber}} processed files">{{processedFilesCount.counter | commaSeparateNumber }} processed {{processedFilesPercentStr}}</small>
              <small title="{{analyzedFilesCounter.counter | commaSeparateNumber}} analyzed files">{{analyzedFilesCounter.counter | commaSeparateNumber }} analyzed {{analyzedFilesPercentStr}}</small>
            </div>
          </div>
        </div>
      </div>

      <div role="middle-view" class="col-md-6 col-lg-2" >
        <item-report caption="sensitiveFilesCounter.name" value="sensitiveFilesCounter.counter" my-height="87"></item-report>
      </div>
      <div role="middle-view" class="col-md-6 col-lg-3" >

        <highcharts-histogram-chart class="fill-height" chart-type="'stacked100'" histogram-data="sensitiveHistogram" my-height="85"
                         forced-colors="{'Sensitive files': '#B52E31'}" series-colors="['#A0A700']"
                         chart-title="'Sensitive files statistics'"></highcharts-histogram-chart>


      </div>
      <div role="middle-view" class="col-md-6 col-lg-3">

        <list-report report-counter-data="scanStatisticsAcls" caption="'Scan statistics'"></list-report>

      </div>
    </div>
    <div role="2nd line" class="row">

      <div role="right-view" class="col-sm-6  right">
        <div class="row">
          <div role="right-view" class="col-xs-12">
               <div class="ibox float-e-margins">
            <div class="ibox-title"><h5>Specific scan criteria</h5></div>
            <div class="ibox-content" style="height: 120px;overflow-y: auto">
              <multi-list-report ng-if="scanCriteria.type=='LIST'" report-data="scanCriteria"></multi-list-report>
            </div>
          </div>
          </div>
        </div>
        <div class="row">
          <div role="right-view" class="col-xs-12">
            <list-report string-report="scanConfiguration"
                         caption="'Scan configuration'"></list-report>
          </div>
        </div>
      </div>
      <div role="middle-view" class="col-sm-6  middle" >
        <div class="row">
          <div role="right-view" class="col-xs-12">
            <div class="ibox ">
              <div class="ibox-title"><h5>Root folders status</h5>&nbsp;
                  <span ng-if="rootTotalElements">
                  ({{rootTotalElements}})
                </span>
              </div>
              <div class="ibox-content"  >
                <root-folders-grid  fix-height="212px" items-selected="onSelectRootFolders" total-elements="rootTotalElements" refresh-data="refreshRootFolders" template-view="true" ></root-folders-grid>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div role="charts row" class="row" style="height: 420px;">
      <div role="left-view" class="col-sm12 col-md-6 col-lg-4 ">
        <highcharts-histogram-chart chart-type="'bar'" histogram-data="groupSizeHistogram.data"
                         chart-title="'File count per group size range'" my-height="420"></highcharts-histogram-chart>
      </div>
      <div role="right-view" class="col-sm12 col-md-6 col-lg-4 ">
        <highcharts-histogram-chart chart-type="'bar'" histogram-data="fileAccessHistogram.data"
                         chart-title="'Files count per modification date'" my-height="420"></highcharts-histogram-chart>

      </div>
      <div role="right-view" class="col-sm12 col-md-6 col-lg-4 " >
        <highcharts-histogram-chart chart-type="'pie'" histogram-data="fileTypeHistogram.data"
                         chart-title="'Scanned file types'" my-height="420"></highcharts-histogram-chart>

      </div>
    </div>
  </div>
</div>

