<div ng-init="init()" class="fill-height ">
  <div>

    <div role="charts row" class="row" style="height: 420px;">
      <div role="left-view" class="col-sm12 col-md-6 col-lg-4 ">
        <list-report  count-center-report="userDocumentStatistics" my-height="420"
                     caption="'User document statistics'"></list-report>
      </div>
      <div role="right-view" class="col-sm12 col-md-6 col-lg-4 ">
        <highcharts-histogram-chart chart-type="'bar'" histogram-data="fileAccessHistogram.data"
                         chart-title="'Files count per modification date'" my-height="420"></highcharts-histogram-chart>

      </div>
      <div role="right-view" class="col-sm12 col-md-6 col-lg-4 " >
        <highcharts-histogram-chart chart-type="'pie'" histogram-data="fileTypeHistogram.data"
                         chart-title="'Scanned file types'" my-height="420"></highcharts-histogram-chart>

      </div>
    </div>
  </div>
</div>

