<div ng-init="init();">
  <h3 class="pdf-header"  style="display:inline-block">Saved charts</h3>

  <div class="header-item pull-right" role="download chart toolbar">
    <div class="btn-group " >
      <a class="btn btn-link dropdown-toggle btn-sm"  data-toggle="dropdown" title="Export chart" >
        <i class="fa fa-download"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right" style="width: 130px;" >
        <!--<li> <a ng-click="exportToExcel();" title="Download report data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>-->
        <li ng-if="!msie11"><a ng-click="exportToPdf();" title="Download report as pdf" class="btn btn-link"><i class="fa fa-file-pdf-o"></i>&nbsp;As PDF</a></li>
        <li ><a ng-click="exportToExcel();" title="Download report as excel" class="btn btn-link"><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>
      </ul>


    </div>
  </div>

  <div class="header-item pull-right" style="padding-right: 20px;margin-top: 2px;">
    <a class="btn btn-flat btn-xs" ng-click="openUploadItemsDialog();" title="Import items from file"> <span class="fa fa-upload"></span>&nbsp;Import
    </a>
  </div>

  <div role="charts row" class="row">
   <div ng-repeat="chart in savedCharts track by chart.id" class="col-sm12 col-md-6 col-lg-6 pdf-page " >
      <report-chart-widget chart-info="chart" lazy-load="lazyLoad[$index]" initiated="initiated[$index]" disable-animation="disableAnimation[$index]" allow-save-chart="true"
                            on-new-chart-saved="onNewChartSaved" on-chart-deleted="onChartDeleted" on-chart-created="onChartCreated[$index]"  style="background: white"></report-chart-widget>
    </div>
  </div>
  <div ng-show="savedCharts&&savedCharts.length==0">No saved  charts yet</div>

</div>
