<div class="ibox  panels-container ddl-cell" style="padding: 0;" >
  <div  style="padding: 0;border:0px;overflow: visible;position: relative;">
     <div class="panel-header " style="background: white">
        <div role="title-row"  class="header-item " style="display: block; position: relative;height:30px;">
          <div >
            <a  ng-if="isMngReportsUser&&!readOnly&&!editTitleMode&&(!isSavedChart() || dirty)&&!disableSaveButtonOnChange"  class="btn btn-primary btn-xs pull-right" ng-click="saveChart()" style="margin-left: 10px;">Save</a>
            <!--<a  ng-if="isMngReportsUser&&!readOnly&&!editTitleMode&&isSavedChart()&&dirty&&!disableSaveButtonOnChange"  class="btn btn-primary btn-xs pull-right" ng-click="saveChart(false)" style="margin-left: 10px;;">Save</a>-->
            <a ng-show="isMngReportsUser&&!editTitleMode && !readOnly && isChartOwner"
               class="btn btn-link btn-sm pull-right" ng-click="setEditTitleMode(!editTitleMode);">
              <i class="fa fa-pencil"></i>
            </a>
            <h4  ng-show="!editTitleMode" ng-click="$event.stopPropagation();" class="ellipsis header-item-title" style="max-width: 80% ">{{chartInfo.name}}

            </h4>
            <page-filter-tags ng-if="showFilterComponent" ng-show="!editTitleMode"  active-filters-only="true" show-filter-option="false" style="padding-left: 20px" filter-service="getFilterService"></page-filter-tags>
          </div>
          <div  ng-show="editTitleMode && !readOnly && isMngReportsUser">
            <input ng-show="editTitleMode" focus-if="editTitleMode" select-text-if="editTitleMode"  ng-click="$event.stopPropagation();" style="position: absolute; top:0; left:0"  class="form-control has-right-two-icons edit-chart-title-input" ng-model="newChartTitle" ng-change="newChartTitleChange(newChartTitle)"
                   ng-enter="editChartTitle()"  ng-esc="cancelEditChartTitle()" ng-blur1="editChartTitle()" type="text"
                   placeholder="New title"/>
           <span ng-show="newChartTitle&&newChartTitle!=''" class="btn-group top-right-position" style="top:2px; ">
               <a  class="btn btn-link btn-sm" ng-click="cancelEditChartTitle();"   title="Cancel edit title" ><span class="fa fa-times"></span></a>
               <a class="btn btn-link btn-sm" ng-show1="!editChartTitleOnChangeEnabled"  ng-click="editChartTitle();" title="Save title" ><span class="fa fa-check"></span></a>
            </span>
            </div>
        </div>
        <div role="title-row" class="ibox-title" >
          <div ng-show="!readOnly;" class="header-item pull-right" role="viewLeft ddl">
            <div    class="btn-group dropdown" >
              <button class="button-menu-ddl dropdown-toggle btn-xs"  data-toggle="dropdown" >
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu" role="menu"  style="width: 120px;" >
                <li ng-if="isChartOwner"><a ng-click="setEditTitleMode(!editTitleMode)">Change title</a></li>
                <li ng-if="isMngReportsUser">  <a ng-click="toggleHiddenToChart()" class="btn btn-link btn-xs"  >
                  <i ng-show="!chartInfo.hidden " class="fa fa-check" title="Show in Reports menu" ></i>
                      Send to menu
                </a></li>
                <li ng-if="isMngReportsUser && !isSetScopeDisabled()">
                  <a ng-click="setPublic()" class="btn btn-link btn-xs">
                    <i ng-show="isChartGlobal()" class="fa fa-check" title="Public chart"></i>
                    Public
                  </a>
                </li>
                <li ng-if="isSavedChart()&&!readOnly&& isMngReportsUser" class="divider"></li>
                <li ng-if="isSavedChart()&&!readOnly&& isMngReportsUser"><a ng-click="copySavedChart();">Copy chart</a></li>
                <li ng-if="isSavedChart()&&!readOnly&& isMngReportsUser && isChartOwner"><a ng-click="deleteSavedChart();">Delete chart</a></li>
                <li class="divider "></li>
                <li ><a  ng-click="openInReportPage();">Open in discover page</a></li>
              </ul>
            </div>
          </div>
          <div class="header-item pull-right" role="download chart toolbar" >
            <div class="btn-group dropdown" >
              <a class="btn btn-link dropdown-toggle btn-xs"  data-toggle="dropdown" title="Export chart" >
                <span class="fa fa-download"></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" style="width: 130px;" >
                <li> <a ng-click="exportToExcel();" title="Download chart data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>
                <li><a ng-click="exportToImage();" title="Download chart data as image" class="btn btn-link"><i class="fa fa-image"></i>&nbsp;As image</a></li>
                <li  ng-if="!msie11"><a ng-click="exportToPdf();" title="Download chart data as pdf" class="btn btn-link"><i class="fa fa-file-pdf-o"></i>&nbsp;As PDF</a></li>
              </ul>
            </div>
          </div>
          <div class="header-item pull-right " ng-if="readOnly || !isMngReportsUser">
            <a ng-click="openInReportPage()" class="btn btn-link btn-xs"  ><i class="ion-android-exit"></i> Go discover</a>
          </div>
            <div class="header-item " role="viewLeft ddl">
               <div role="data entries # ddl" class="btn-group dropdown" >
                    <button class="btn btn-flat btn-xs dropdown-toggle noFixPosition" data-toggle="dropdown" style="padding-top: 0px;" >
                      {{chartInfo.maximumNumberOfEntries}} <span class="hidden-md-mid1-up"> {{chartInfo.mainEntityType | translate}}s</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >
                  <li><a  ng-click="changeChartMaxData(5);">5</a></li>
                  <li><a  ng-click="changeChartMaxData(10);">10</a></li>
                  <li><a  ng-click="changeChartMaxData(15);">15</a></li>
                  <li><a  ng-click="changeChartMaxData(20);">20</a></li>
                  <li><a  ng-click="changeChartMaxData(30);">30</a></li>
                </ul>
                </div>
            </div>
          <div class="header-item hidden-md-mid1-up" ng-if="!readOnly&&isMngReportsUser" role="add as top link">
            <a ng-click="toggleHiddenToChart()" class="btn btn-link btn-xs"  >
              <i ng-show="!chartInfo.hidden " class="fa fa-check-square-o " title="Show in Reports menu" ></i>
              <i ng-show="chartInfo.hidden " title="Do not show in Reports menu"  class="fa fa-square-o" ></i>
             Send to menu
            </a>
          </div>
          <div class="header-item hidden-md-mid1-up" ng-if="!readOnly&&isMngReportsUser" role="set public/private">
            <a ng-click="setPublic()" class="btn btn-link btn-xs" ng-disabled="isSetScopeDisabled()">
              <i ng-show="isChartGlobal()" class="fa fa-check-square-o" title="Public chart"></i>
              <i ng-show="!isChartGlobal()" class="fa fa-square-o" title="Private chart"></i>
              Public
            </a>
          </div>
          <div class="header-item " role="show chart type">
              <a ng-show="displayType == 'bar'" title="Change to pie chart" ng-click="changeChartType('pie');" class="btn btn-link btn-xs" ><i class="fa fa-pie-chart"></i>
                <span class="hidden-md-mid1-up">&nbsp;Pie</span></a>
              <a ng-show="displayType == 'pie'" title="Change to bar chart" ng-click="changeChartType('bar');" class="btn btn-link btn-xs" ><i class="fa fa-bar-chart"></i>
                <span class="hidden-md-mid1-up">&nbsp;Bars</span></a>
          </div>
          <div  class="header-item" style="position:relative" title="{{getFollowUpTitle(selectItemRight) }}">
            <span class="followup-options" title="{{ getFollowUpTitle(selectItemRight) }}">
              <button class="btn btn-flat btn-xs dropdown-toggle " ng-disabled="isFollowUpDisabled()"   data-toggle="dropdown"  >Drill down
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu"  style="overflow-y: scroll;height: 320px;" >
                <li ng-class="{disabled:isFollowUpOptionDisabled(opt)}" ng-repeat="opt in followUpOptions | orderBy: 'title' " ng-show="viewPermitted(opt)" >
                  <a  ng-click="doFollowUp(opt)">{{opt.title}}</a>
                </li>
              </ul>
            </span>
          </div>
          <div class="header-item " ng-show="showOthersEnabled"  role="show others">
            <a ng-click="toggleOthersToChart()" class="btn btn-link btn-xs"  >
              <i ng-show="chartInfo.showOthers " class="fa fa-check-square-o " title="Include others in chart" ></i>
              <i ng-show="!chartInfo.showOthers " title="Do not include others in chart"  class="fa fa-square-o" ></i>
              Others <i ng-show="chartInfo.showOthers &&showOthersWarning " class="notice fa fa-asterisk" title="Others calculation maybe inaccurate due to overlapping"></i>
            </a>
          </div>
          <div class="header-item "  ng-if="unassociateEnabled" role="show unassociated">
            <a ng-click="toggleShowUnAssociatedToChart()" class="btn btn-link btn-xs"  >
              <i ng-show="showUnassociated" class="fa fa-check-square-o " title="Include unassociated in chart" ></i>
              <i ng-show="!showUnassociated " title="Do not include associated in chart"  class="fa fa-square-o" ></i>
              {{unassociatedText|translate}}
            </a>
          </div>
          <div  class="header-item" role="Hide selected bars" style="position:relative; ">
            <div class="btn-group1">
              <a class="btn btn-link btn-xs  " ng-if="removedValueIds.length>0" title="{{showRemovedValues?'Show all':'Hide selected'}}Show hide {{removedValueIds.length}} values" ng-click="toggleRemovedValues();" ><i class="fa fa{{!showRemovedValues?'-check':''}}-square-o"></i>&nbsp;hide {{removedValueIds.length}} items</a>
              <a class="btn btn-link btn-xs  " ng-click="clearRemoveSelectedValues();" title="Clear hidden items list" style="margin-left: -10px;"  ng-show="removedValueIds.length>0"><i class="fa fa-times"></i></a>
              <a class="btn btn-flat btn-xs  " ng-click="removeSelectedValue();"  ng-disabled="isRemoveSelectedValueDisabled()">Hide</a>

            </div>
          </div>
          <div class="header-item hidden-md-mid1-up" role="add as top link" ng-if="enableShowTotal">
            <a ng-click="toggleShowTotalCount()" class="btn btn-link btn-xs"  >
              <i ng-show="showTotalCount " title="Do not show total count" class="fa fa-check-square-o "  ></i>
              <i ng-show="!showTotalCount " title="Show total count" class="fa fa-square-o" ></i>
              Show total count
            </a>
          </div>
        </div>
     </div>
      <highcharts-histogram-chart class="fill-height" ng-click="$event.stopPropagation();" chart-type="displayType" histogram-data="chartData" on-series-click="onHighchartSeriesClick" on-chart-created="onChartCreated"
                   save-as-pdf="exportToPdf" save-as-image="exportToImage" save-as-excel="exportToExcel" my-height="420" disable-animation="disableAnimation"
                   chart-title="chartInfo.name" show-total-count="showTotalCount" hide-title="'true'" include-others="chartInfo.showOthers&&showOthersEnabled"></highcharts-histogram-chart>
       <div style="position: absolute;top:30%;text-align: center;width:100%" ng-if="!initiated"><a ng-click="setLazyLoad(false)" class="h-align">Click to load data</a></div>
  </div>
</div>
