<div ng-init="init()">
  <h3 class="pdf-header"  style="display:inline-block">
    <span style="padding-right:20px">Datamap ({{docTypesCount}})</span>

    <page-filter-tags  left="false" get-filter-name="getFilterDisplayedName" filter-service="getFilterService" read-only="true" show-saved-filters="true" ></page-filter-tags>
    <span class="header-item "  role="show unassociated">
      <a ng-click="toggleShowUnAssociatedToChart()" class="btn btn-link btn-xs"  title="Show unassociated files"  >&nbsp;
        <i ng-show="showUnAssociated " class="fa fa-check-square-o " ></i>
        <i ng-show="!showUnAssociated " class="fa fa-square-o" ></i>
        Show {{'Unassociated'|translate}}

      </a>
    </span>
    </h3>
  <div role="charts row" class="row tree-graph">
    <!--<tree-view-graph histogram-data="data" my-height="1400" ></tree-view-graph>-->

  </div>

</div>
