<div class="ibox  panels-container ddl-cell" style="padding: 0;" >
  <div class=" panel-resizable" style="padding: 0;border:0px;overflow: visible">
    <div class="panel-header " style="background: white">
      <div role="title-row"  class="header-item show-on-hover" style="display: block" >
        <div >
           <a  ng-if="allowSaveChart&&!editTitleMode&&dirty&&isMngReportsUser"  class="btn btn-primary btn-xs pull-right" ng-click="saveChart(false)" style="margin-left: 10px;">Save</a>
           <a ng-show="!editTitleMode && !readOnly && isMngReportsUser && isChartOwner"
             class="btn btn-link btn-sm pull-right" ng-click="setEditTitleMode(!editTitleMode);">
            <i class="fa fa-pencil"></i>
          </a>
          <h4   ng-show="!editTitleMode" ng-click="$event.stopPropagation();" class="ellipsis header-item-title">  <span ng-show="actualViewResolutionText">  {{actualViewResolutionText}}</span> {{chartInfo.name}}

          </h4>
          <h4>
              <span ng-show="actualStartTime"> - <span class="primary">{{actualStartTime|date:titleTimeFormat: 'UTC'}}</span> to <span class="primary">{{actualEndTime|date:titleTimeFormat: 'UTC'}}</span>
              <span ng-show="!chartInfo.viewTo"> (Now)</span><span ng-show="actualSampleCount&&false"> ({{actualSampleCount}} samples)</span></span>
          </h4>
            <h4  ng-show="hasFilter()&&!editTitleMode" role="filter state ddl" class="btn-group dropdown filter " >
                         <button class="btn btn-dropdown dropdown-toggle noFixPosition11"  style="padding-bottom: 0; padding-top: 0;line-height: 10px;" data-toggle="dropdown" >
                           <span class="fa fa-filter "  ></span>
                           <span class="caret"></span>
                         </button>
                  <ul class="dropdown-menu" role="menu" style="text-overflow: ellipsis;max-width:300px;" aria-labelledby="split-button" >
                    <li ng-repeat="filterText in jsonFilter.text"><a class="ellipsis" title="{{filterText.key |translate}}:&nbsp;{{filterText.value|translate}}">{{filterText.key |translate}}:&nbsp;{{filterText.value|translate}}</a></li>
                  </ul>
            </h4>


        </div>
        <div style="position: relative;"  ng-show="editTitleMode && !readOnly && isMngReportsUser">
          <input ng-show="editTitleMode" focus-if="editTitleMode" select-text-if="editTitleMode"  ng-click="$event.stopPropagation();" class="form-control has-right-two-icons edit-chart-title-input" ng-model="newChartTitle"
                 ng-enter="editChartTitle()"  ng-esc="cancelEditChartTitle()" ng-blur1="editChartTitle()" type="text"
                 placeholder="Type new title"/>
           <span ng-show="newChartTitle&&newChartTitle!=''" class="btn-group top-right-position" style="top:2px; ">
                 <a class="btn btn-link btn-sm"  ng-click="cancelEditChartTitle();" title="Cancel edit title" ><span class="fa fa-times"></span></a>
               <a class="btn btn-link btn-sm" ng-show1="!editChartTitleOnChangeEnabled"  ng-click="editChartTitle();" title="Save title" ><span class="fa fa-check"></span></a>

            </span>
        </div>


      </div>
      <div role="title-row" class="ibox-title" >
        <div ng-show="isSavedChart()&&!readOnly;" class="header-item pull-right" role="viewLeft ddl">
          <div    class="btn-group dropdown" >
            <button class="button-menu-ddl dropdown-toggle btn-xs"  data-toggle="dropdown" >
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu" role="menu"  style="width: 220px;">
              <li ng-if="isChartOwner"><a ng-click="setEditTitleMode(!editTitleMode)">Change title</a></li>
              <li><a ng-click="toggleShowInMenuAsShortcut()" class="btn btn-link btn-xs">
                <i ng-show="showInMenuState" class="fa fa-check " title="Show in Reports menu" ></i>
               Send to menu
              </a></li>
              <li class="divider"></li>
              <li><a ng-click="copySavedChart();">Copy chart</a></li>
              <li ng-if="isChartOwner"><a ng-click="deleteSavedChart();">Delete chart</a></li>

            </ul>
          </div>
        </div>

        <div class="header-item pull-right" role="download chart toolbar" >
          <div class="btn-group dropdown" >
            <a class="btn btn-link dropdown-toggle btn-xs"  data-toggle="dropdown" title="Export chart" >
              <span class="fa fa-download"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="width: 130px;" >
              <li> <a ng-click="exportToExcel();" title="Download chart data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>
              <li><a ng-click="exportToImage();" title="Download chart data as image" class="btn btn-link"><i class="fa fa-image"></i>&nbsp;As image</a></li>
              <li  ng-if="!msie11"><a ng-click="exportToPdf();" title="Download chart data as pdf" class="btn btn-link"><i class="fa fa-file-pdf-o"></i>&nbsp;As PDF</a></li>
            </ul>


          </div>
        </div>
        <div class="header-item " role="max number of samples" ng-if="false">
          <div role="data entries # ddl" class="btn-group dropdown" >
            <button class="btn btn-flat btn-xs dropdown-toggle noFixPosition" data-toggle="dropdown" style="padding-top: 0px;" >
              {{chartInfo.viewSampleCount?chartInfo.viewSampleCount:'samples'}} samples
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >
              <li><a  ng-click="changeChartMaxData(5);">5</a></li>
              <li><a  ng-click="changeChartMaxData(10);">10</a></li>
              <li><a  ng-click="changeChartMaxData(15);">15</a></li>
              <li><a  ng-click="changeChartMaxData(20);">20</a></li>
              <li><a  ng-click="changeChartMaxData(30);">30</a></li>
            </ul>
          </div>
        </div>
       <div class="header-item " role="change date resolution">
         <span>Resolution:</span>
         <div class="btn-group">

            <div role="data entries # ddl" class="btn-group dropdown" >
              <button class="btn btn-flat btn-xs dropdown-toggle noFixPosition" data-toggle="dropdown" style="padding-top: 0px;" >
                 <span >{{viewResolutionMsText}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >
                <li><a  ng-click="changeChartResolutionData('hours');">Hours</a></li>
                <li><a  ng-click="changeChartResolutionData('days');">Days</a></li>
                <li><a  ng-click="changeChartResolutionData('weeks');">Weeks</a></li>
                <li><a  ng-click="changeChartResolutionData('months');">Months</a></li>
                <li><a  ng-click="changeChartResolutionData('quarters');">Quarters</a></li>
                <li><a  ng-click="changeChartResolutionData('years');">Years</a></li>

              </ul>
            </div>
           <input class="btn btn-flat btn-xs " style="width: 45px;padding-bottom: 0px;" required title="Resolution step" ng-maxlength="5" min="1"
                  ng-blur="changeChartResolutionStep(inputResolutionStep)" ng-model="inputResolutionStep"  type="number" ng-enter="changeChartResolutionStep(inputResolutionStep);" ng-change="changeChartResolutionStep(inputResolutionStep);" />

         </div>
       </div>

        <div class="header-item " role="change Date">
          <div class="btn-group">

            <div role="data entries # ddl" class="btn-group dropdown" >
              <button class="btn btn-flat btn-xs dropdown-toggle noFixPosition" data-toggle="dropdown" style="padding-top: 0px;" >
              Dates <span class="hidden-md-mid1-up"> </span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >
                <!--<li><a  ng-click="changeDate(0,'DAYS');">Today</a></li>-->
                <li><a  ng-click="changeDate(1,'WEEKS');">Last week</a></li>
                <li><a  ng-click="changeDate(1,'MONTHS');">Last month</a></li>
                <li><a  ng-click="changeDate(3,'MONTHS');">Last 3 months</a></li>
                <li><a  ng-click="changeDate(1,'YEARS');">Last year</a></li>
              </ul>
           </div>
            <a class="btn btn-flat btn-xs " ng-click="openChangeDateDialog();" style="padding-bottom: 0"><i class="fa fa-calendar"></i></a>

          </div>
        </div>
        <div class="header-item " role="chart type">
            <div role="data entries # ddl" class="btn-group dropdown" title="Change chart display type" >
              <button class="btn btn-link btn-xs dropdown-toggle noFixPosition" data-toggle="dropdown" style="padding-top: 0px;" >
                <span ng-show="chartInfo.chartDisplayType == 'TREND_BAR'"   ><i class="fa fa-bar-chart"></i>
                  <span class="">Bars</span></span>
                <span ng-show="chartInfo.chartDisplayType == 'TREND_BAR_STACKED'"  ><i class="fa fa-bar-chart"></i>
                  <span class="">Stacked bars</span></span>
                <span ng-show="chartInfo.chartDisplayType == 'TREND_LINE'"   ><i class="fa fa fa-line-chart"></i>
                  <span class="">Lines</span></span>
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >
                <li><a  ng-click="changeChartType('TREND_BAR_STACKED')">Stacked bars</a></li>
                <li><a  ng-click="changeChartType('TREND_LINE');">Lines</a></li>
                <li><a  ng-click="changeChartType('TREND_BAR');">Bars</a></li>

              </ul>
            </div>
        </div>
        <div class="header-item " role="Visuals">
          <div role="data entries # ddl" class="btn-group dropdown" title="Change visuals" >
            <button class="btn btn-link btn-xs dropdown-toggle noFixPosition" ng-disabled="!totalSeriesExists" data-toggle="dropdown" style="padding-top: 0px;" >
              Visuals
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >

              <li><a  ng-click="toggleSeriesVisibility(getTotalSeriesID());">  <i ng-show="!viewConfiguration.totalSeriesHidden" class="fa fa-check " ></i>Show total</a></li>
              <li><a  ng-click="toggleSeriesVisibility(getOthersSeriesID());"> <i ng-show="!viewConfiguration.otherSeriesHidden" class="fa fa-check " ></i>Show others</a></li>
              <li role="separator" class="divider"></li>
              <li><a  ng-click="changeSeriesType(getTotalSeriesID(),'line')"><i ng-show="viewConfiguration.totalSeriesType=='line'" class="fa fa-check " ></i>Total type line</a></li>
              <li><a  ng-click="changeSeriesType(getTotalSeriesID(),'area')"><i ng-show="viewConfiguration.totalSeriesType=='area'" class="fa fa-check" ></i>Total type area</a></li>
              <li><a  ng-click="changeSeriesType(getTotalSeriesID(),'column')"><i ng-show="viewConfiguration.totalSeriesType=='column'" class="fa fa-check " ></i>Total type bar</a></li>
              <li role="separator" class="divider"></li>
              <li><a  ng-click="changeSeriesType(getOthersSeriesID(),'line')"><i ng-show="viewConfiguration.otherSeriesType=='line'" class="fa fa-check " ></i>Others type line</a></li>
              <li><a  ng-click="changeSeriesType(getOthersSeriesID(),'area')"><i ng-show="viewConfiguration.otherSeriesType=='area'" class="fa fa-check " ></i>Others type area</a></li>
              <li><a  ng-click="changeSeriesType(getOthersSeriesID(),'column')"><i ng-show="viewConfiguration.otherSeriesType=='column'" class="fa fa-check " ></i>Others type bar</a></li>

            </ul>
          </div>
        </div>
        <div class="header-item hidden-md-mid1-up" ng-if="!readOnly" role="add as top link">
          <a ng-click="toggleShowInMenuAsShortcut()" class="btn btn-link btn-xs"  >
            <i ng-show="showInMenuState" class="fa fa-check-square-o" title="Show in Reports menu" ></i>
            <i ng-show="!showInMenuState" title="Do not show in Reports menu"  class="fa fa-square-o" ></i>
           Send to menu
          </a>
        </div>



      </div>
    </div>

    <div class="show-btn-on-hover">
      <a  ng-if="initiated" title="Show earlier" class="btn btn-round btn-sm  btn-hover top-most-1" style="bottom:30px;left:20px;position: absolute" ng-click="goBackwardInDates()"><i class="ion-ios-arrow-back"></i></a>
      <a  ng-if="initiated" title="Show later" class="btn btn-round btn-sm  btn-hover top-most-1" style="bottom:30px;right:20px;position: absolute;" ng-click="goForwardInDates()"><i class="ion-ios-arrow-forward"></i></a>

    <multi-highchart-histogram-chart class="fill-height" ng-click="$event.stopPropagation();" chart-type="chartInfo.chartDisplayType" histogram-data="histogramData" on-series-click="onSeriesClick" on-legened-item-click="onLegenedItemClick"
                     save-as-pdf="exportToPdf" save-as-image="exportToImage" save-as-excel="exportToExcel" my-height="420" is-trend-chart="true" value-axis-type="valueAxisType"
                     chart-title="chartTitleForDownload" hide-title="'true'" get-chart-object="getChartObject"></multi-highchart-histogram-chart>


    <div style="position: absolute;top:30%;text-align: center;width:100%" ng-if="!initiated"><a ng-click="setLazyLoad(false)" class="h-align">Click to load data</a></div>
    </div>
  </div>
</div>
