<div ng-init="init();" class="fill-width fill-height">
  <div  class="row">
    <div class="col-sm-offset-1 col-sm-10 pdf-page " >
      <h4 ng-if="chartDeleted" class="notice">Chart Deleted</h4>
      <trend-chart-widget ng-show="!chartDeleted"  chart-info="chartInfo" lazy-load="false" on-chart-saved="onChartSaved" read-only="true"
                           on-chart-deleted="onChartDeleted" style="background: white" ></trend-chart-widget>
    </div>
  </div>
</div>