<div ng-init="init();">
  <h3 class="pdf-header"  style="display:inline-block">Trend charts</h3>
  <div class="header-item pull-right" ng-if="!msie11" role="download chart toolbar">
    <div class="btn-group ">
      <a class="btn btn-link dropdown-toggle btn-sm"  data-toggle="dropdown" title="Export chart" >
        <i class="fa fa-download"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right" style="width: 130px;" >
        <!--<li> <a ng-click="exportToExcel();" title="Download report data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>-->
        <li ng-if="!msie11"><a ng-click="exportToPdf();" title="Download report as pdf" class="btn btn-link"><i class="fa fa-file-pdf-o"></i>&nbsp;As PDF</a></li>
      </ul>


    </div>
  </div>
  <div role="charts row" class="row">
    <div ng-repeat="chart in savedCharts" class="col-sm12 col-md-6 col-lg-6 pdf-page " style="position: relative" >
      <trend-chart-widget chart-info="chart" lazy-load="lazyLoad[$index]" on-chart-saved="onChartSaved" on-chart-deleted="onChartDeleted" allow-save-chart="true" style="background: white"></trend-chart-widget>
    </div>
  </div>
  <div ng-show="savedCharts&&savedCharts.length==0">No saved  charts yet</div>

</div>
