
<!-- Main view  -->
<div ng-init="Init()" class="fill-height overflow-hidden"  >
  <div class="form-group has-feedback">

    <input class="form-control input-lg" ng-model="search" placeholder="Search" change="findNode()" tabindex="1"  />
    <span class="fa fa-search form-control-feedback"></span>
  </div>

  <div ng-if="alerts" ><alert ng-repeat="alert in alerts.alerts" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert></div>

  <folders-tree ></folders-tree>


</div>
