<div *ngIf="activeScanMode == ActiveScanMode.ROOT_FOLDERS">
  <root-folder [breadCrumbs]="breadCrumbslist" (switchAutomaticRefresh)="onSetAutomaticRefresh()" [inAutomaticRefresh]="inAutomaticRefresh" [params]="rFolderParams" (parametersChanged)="onParametersChanged($event)" (pageChanged)="onRfPageChanged($event)"></root-folder>
</div>

<div *ngIf="activeScanMode == ActiveScanMode.SCHEDULE_GROUPS">
  <schedule-group [breadCrumbs]="breadCrumbslist" (switchAutomaticRefresh)="onSetAutomaticRefresh()" [inAutomaticRefresh]="inAutomaticRefresh" [params]="sGroupParams" (parametersChanged)="onParametersChanged($event)" (pageChanged)="onSgPageChanged($event)" >
  </schedule-group>
</div>

<div *ngIf="activeScanMode == ActiveScanMode.SCAN_HISTORY">
  <scan-history [withRootFolderSummary]="true"  [breadCrumbs]="breadCrumbslist" (switchAutomaticRefresh)="onSetAutomaticRefresh()" [inAutomaticRefresh]="inAutomaticRefresh" [params]="sHistoryParams" (parametersChanged)="onParametersChanged($event)" (pageChanged)="onSHistoryPageChanged($event)" >
  </scan-history>
</div>

