<span>
      <span class="status-icon" *ngIf="status == ERunStatus.RUNNING || status == EJobState.RUNNING || status == EJobState.IN_PROGRESS" title="Processing running">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
      <span class="status-icon" *ngIf="status == ERunStatus.STOPPING" title="Stopping">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
      <span *ngIf="status == ERunStatus.STOPPED" class="status-icon fa fa-stop"></span>
      <span *ngIf="status == ERunStatus.PENDING" class="status-icon fa fa-pause"></span>
      <span *ngIf="status == ERunStatus.SUSPENDED " class="status-icon  fa fa-power-off"></span>
      <span *ngIf="status == ERunStatus.PAUSED || status == EJobState.PAUSED" class="status-icon  fa fa-pause"></span>
      <span *ngIf="status == ERunStatus.FINISHED_SUCCESSFULLY || status == EJobState.DONE || status == ERunStatus.OK " class="status-icon fa fa-check"></span>
      <span *ngIf="status == ERunStatus.FAILED" class="status-icon fa fa-times"></span>
</span>
