server-component-history-grid-header {
  width: 100%;
  .item {
    &.dateColumn {
      flex: 1 0 100px;
      word-break: break-all;
    }
    &.countColumn {
      flex: 0 1 150px;
      word-break: break-all;
    }
    &.diskSpace {
      flex: 0 1 200px;
      word-break: break-all;
    }
  }
}
