<div class="grid-header grid-header-basic"  *ngIf="componentColumn">
  <div *ngIf="componentColumn.showTimestamp" class="item dateColumn">
    Timestamp
  </div>
  <div *ngIf="componentColumn.showDiskSpace" class="item diskSpace">
    Disk space utilization
  </div>

  <div *ngIf="componentColumn.showIngestTaskRequests" class="item countColumn">
    Ingest task requests
  </div>


  <div *ngIf="componentColumn.showAnalyzeTaskRequests" class="item countColumn">
    Analyze task requests
  </div>


  <div *ngIf="componentColumn.showAppServerIngestThroughput" class="item countColumn">
    Ingest throughput
  </div>

  <div *ngIf="componentColumn.showAppServerThroughput" class="item countColumn">
    Analyze throughput
  </div>

  <div *ngIf="componentColumn.showScanRequests" class="item countColumn">
    Map requests
  </div>

  <div *ngIf="componentColumn.showScanResponses" class="item countColumn">
    Map responses
  </div>

  <div *ngIf="componentColumn.showIngestResponses" class="item countColumn">
    Ingest responses
  </div>

  <div *ngIf="componentColumn.showIngestRequests" class="item countColumn">
    Ingest requests
  </div>

  <div *ngIf="componentColumn.showRealTimeRequests" class="item countColumn">
    Realtime requests
  </div>

  <div *ngIf="componentColumn.showRealTimeResponses" class="item countColumn">
    Realtime responses
  </div>

  <div *ngIf="componentColumn.showControlResponses" class="item countColumn">
    Control responses
  </div>

  <div *ngIf="componentColumn.showContentCheckRequests" class="item countColumn">
    Content check requests
  </div>

  <div *ngIf="componentColumn.showThroughput" class="item countColumn">
    Throughput
  </div>

  <div *ngIf="componentColumn.showStartScanTaskRequests" class="item countColumn">
    Start map
  </div>

  <div *ngIf="componentColumn.showPhysicalMemory" class="item diskSpace">
    Memory
  </div>

  <div *ngIf="componentColumn.showSystemCpuLoad" class="item diskSpace">
    System CPU
  </div>

</div>
