@import "savedWidgetGridHeader/savedWidgetGridHeader";
@import "savedWidgetItemGrid/savedWidgetItemGrid";
saved-widgets {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 30px;
  left: 210px;
  bottom: 30px;
}



