<div class="flex-container-col">
  <div class="header-panel">
    <div class="header-line header-line-basic">
      <toolbar-title [title]="'USER_VIEW_DATA.SAVED_WIDGETS.TITLE' | translate" [totalElements]="totalElements" ></toolbar-title>
      <div class="toolbar-spacer"></div>
      <div class="left-panel">
        <toolbar-actions [actionItems]="settingsActionItems"></toolbar-actions>
        <div class="toolbar-spacer"></div>
        <div class="header-item header-select-input">
          <span style="width: 205px;">Select dashboard: </span>
          <da-select-input (itemSelected)="dashboardChanged($event)" [options]="dashboardList" [selectedName]="selectedDashboard && selectedDashboard.name" ></da-select-input>
        </div>
      </div>
      <div class="right-panel">
        <search-box *ngIf="searchBoxConfig" [searchTerm]="searchBoxConfig.searchTerm" [boxTitle]="searchBoxConfig.title" [boxPlaceholder]="searchBoxConfig.placeholder" (searchChanged)="onSearchChanged($event)" [notifyOnKeyup]="searchBoxConfig.notifyOnKeyup"></search-box>
        <toolbar-export-action [actionItem]="exportActionItem"></toolbar-export-action>
      </div>
    </div>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid
               [treeGridData]="savedWidgetsData"
               [inTreeMode]="false"
               [treeGridEvents]="treeGridEvents"
               [hostComponent]="this"
               [hostComponentParams]="{dashboard: selectedDashboard}"
               [keepOpenNodes]="true"
               [initialSortDirection] = "initialSortDirection"
               [initialSortFieldName]="initialSortFieldName"
               [treeGridHeaderComponent]="SavedWidgetGridHeaderComponent"
               [treeGridItemComponent]="SavedWidgetItemGridComponent"
               [localFilterFunction]="localFilterFunction">
    </tree-grid>
  </div>
</div>
