<div class="flex-container-col  dashboard-item-simple1">
  <div class="header-panel">
    <div class="da-main-div-top-line1" *ngIf="withRootFolderSummary">
      <div  class="da-dashboard-item-line">
        <root-folder-summary [summaryObject]="rootFolderSummaryObject"  class="root-folder-summary-div"></root-folder-summary>
      </div>
    </div>
    <toolbar [title]="'Schedule groups'" [totalElements]="totalSGroupItems" [refreshActionItem]="refreshActionItem" [monitorActionItems]="monitorActionItems" [searchBox]="searchBox" [exportActionItem]="exportActionItem" [sideMenuActionItems]="sideMenuActionItems"></toolbar>
  </div>

<div class="main-panel">
  <loader *ngIf="loading"  [show]="loading"></loader>
  <tree-grid
      [treeGridData]="currentSgData"
      [treeGridEvents]="groupTreeGridEvents"
      [treeGridConfig]="treeConfig"
      [selectionMode]="TreeGridSelectionMode.multi"
      [treeGridItemComponent]="ScheduleGroupItemGridComponent"
      [treeGridHeaderComponent]="ScheduleGroupGridHeaderComponent"
      [initialSortDirection] = "initialSortDirection"
      [initialSortFieldName]="initialSortFieldName">
   </tree-grid>
 </div>
</div>
