<dashboard-item [gridItem]="gridItem" [chartTitle]="caption" >
  <div class="da-item-body-padding">
    <table style="width:100%">
      <tr>
        <td class="col-xs-4" *ngFor="let report of reportCounterData">
          <h5 style="padding-right: 10px">{{ report.name | translate }}</h5>
          <h4>{{ report.counter | number}}</h4>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="stringListReport">
    <div *ngFor="let repo of stringListReport">
      <div><h5>{{ repo.name | translate }}: </h5></div>
      <div>{{ repo.description}}</div>
      <div *ngFor="let reportString of repo.stringList">
        {{ reportString}}
      </div>
    </div>
    <br/>
  </div>
  <div *ngFor="let str of stringReport" >
    {{ str.name | translate }} : {{ str.value | translate }}
  </div>
  <table *ngIf="countReport" class="list-report-count-table">
    <tr *ngFor="let countObj of countReport"  class="list-report-count-item">
      <td *ngIf="countObj.name && (countObj.counter >= 0)" class="list-report-name-td">{{ countObj.name | translate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td *ngIf="countObj.name && (countObj.counter >= 0) " class="list-report-value-td"> <B>{{ countObj.counter | number}}</B></td>
      <td *ngIf="!countObj.name"></td>
      <td *ngIf="!countObj.name"></td>
    </tr>
  </table>

  <div *ngIf="countCenterReport" class="list-center-report-count-div">
    <div *ngFor="let countObj of countCenterReport"  class="list-report-center-count-item-div">
      <div>{{ countObj.name | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div> <B>{{ countObj.counter | number}}</B></div>
    </div>
  </div>
</dashboard-item>


