list-report {
  .list-report-count-item {
    font-size: 14px;
    font-weight: normal;
    padding-bottom:5px;
  }

  .list-report-name-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list-report-value-td {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70px;
  }

  .list-report-count-table {
  }

  .list-center-report-count-div {
    text-align: center;
    width: 100%;
  }

  .list-report-center-count-item-div {
    padding-bottom: 20px;
  }

}
