<div #el class="grid-row">
  <div class="item folder-icon">
    <span title="Folder" class="ion-ios-briefcase-outline"></span>
  </div>

  <div class="item folder-name">
    <div class="title-primary lower-case-capitalized">{{( dataItem.item.rootFolderDto.nickName ? dataItem.item.rootFolderDto.nickName : dataItem.item.rootFolderDto.path)}}</div>
    <div>
      {{ folderSummary }}
    </div>
  </div>


  <div class="item media-type">
    <div class="item mediaType ">
      <span title="{{ dataItem.item.rootFolderDto.mediaType | translate }}" class="media-type-icon {{ dataItem.item.rootFolderDto.mediaType }}"></span>
    </div>
  </div>

  <div class="item files">
    <span class="file-type-span" *ngIf="dataItem.item.crawlRunDetailsDto"><i class="file-type-icon fa fa-file-word-o"></i> {{ dataItem.item.crawlRunDetailsDto.processedWordFiles }}</span>
    <span class="file-type-span" *ngIf="dataItem.item.crawlRunDetailsDto"><i class="file-type-icon  fa fa-file-excel-o"></i> {{ dataItem.item.crawlRunDetailsDto.processedExcelFiles }}</span>
    <span class="file-type-span" *ngIf="dataItem.item.crawlRunDetailsDto"><i class="file-type-icon fa fa-file-pdf-o"></i> {{ dataItem.item.crawlRunDetailsDto.processedPdfFiles }}</span>
  </div>

</div>
