folder-status-item-grid {
    width:100%;
    .item {
      &.folder-icon{
        flex: 0 1 25px;
        font-size: 20px;
       }
      &.folder-name{
        flex: 1 0 150px;
      }
      &.media-type {
        flex: 0 1 50px;
        text-align: center;
      }
      &.files {
        flex: 0 1 200px;
        text-align: center;

        .file-type-span {
          padding-left: 10px;
          position: relative;
          top: 5px;
        }
      }
    }


    .title-primary {
      font-weight: 600;
      color: #23527c;
      font-size: 13px;
    }

  }
