
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal col-md-10" name="myForm" role="form">
    <div ng-if="!isMediaProcessorOnly()" class="form-group">
      <label class="control-label col-sm-4">Component type:</label>
      <div class="col-sm-8" style="margin-top: 8px;">
        <span>{{serverComponent.claComponentType | translate}}</span>
       </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="instanceId">Instance ID:</label>
      <div ng-show="editInstanceId" class="col-sm-8" style="margin-top: 8px; position: relative">
           <span class="error top-right-position" ng-show="!serverComponent.instanceId" >*</span>
          <input ng-show="editInstanceId" ng-click="$event.stopPropagation();" autofocus="true" id="instanceId" name="instanceId" class="block form-control" required ng-model="serverComponent.instanceId" type="text"/>
      </div>
      <div class="col-sm-8" style="padding-top: 7px;" ng-if="!editInstanceId"><span>{{serverComponent.instanceId}}</span></div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="location">Location:</label>
      <div class="col-sm-8" style="margin-top: 8px;">
        <!--<span class="error top-right-position" ng-show=" myForm.location.$error.required" >*</span>-->
        <input  ng-click="$event.stopPropagation();"  autofocus="true" id="location" name="location" class="block form-control" ng-model="serverComponent.location"
                type="text"
        />
      </div>
    </div>

    <div class="form-group" ng-if="isMediaProcessor()">
      <label class="control-label col-sm-4" for="location">Active:</label>
      <div class="col-sm-8" style="margin-top: 8px;">
        <div class="toggle btn-active-component">
          <input type="checkbox" name="toggle" class="toggle-checkbox" id="toggle-group-dashboard" ng-model="serverComponent.active">
          <label class="toggle-label" for="toggle-group-dashboard">
            <span class="toggle-inner"></span>
            <span class="toggle-switch"></span>
          </label>
        </div>
      </div>
    </div>

    <!--<div class="form-group">-->
      <!--<label class="control-label col-sm-4" for="name">Name:</label>-->
      <!--<div class="col-sm-8" style="position: relative">-->
        <!--<span class="error top-right-position" ng-show=" myForm.name.$error.required" >*</span>-->
        <!--<input  ng-click="$event.stopPropagation();"    id="name" name="name" class="block form-control" ng-model="serverComponent.state"-->
                <!--ng-enter="save()" type="text" required-->
                <!--placeholder="Tag name"/>-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label class="control-label col-sm-4" for="desc">Description:</label>-->
      <!--<div class="col-sm-8">-->
        <!--<input type="text" class="form-control" id="desc" ng-model="serverComponent.location">-->
      <!--</div>-->
    <!--</div>-->
    <div ng-if="isMediaProcessor()"  style="position:relative; min-height: 85px;">
      <span class="error top-right-position" ng-show="!serverComponent.customerDataCenterDto" >*</span>
      <choose-data-center selected-data-center="serverComponent.customerDataCenterDto" save-last-selected="$parent.saveLastSelectedDataCenter"
                          get-last-selected-fn="getLastSelectedDataCenterFn" set-last-selected-fn="setLastSelectedDataCenterFn"></choose-data-center>
    </div>

  </form>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
