
<div class="modal-header dialog-header-confirm " draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
  {{title}}
  </h4>
</div>
<div class="modal-body" style="padding: 10px;min-height: 250px;">
  <div class="col-sm-8" >
      <div class="form-group" ng-if="!readOnlyMode" >
        <label class="control-label " >Folder:</label>
         <div style="position:relative">
            <input type="text" class="form-control has-right-icon" placeholder="Folder path to exclude" id="name" ng-model="selectedFolder" >
            <a class="btn btn-flat top-right-position" ng-click="openBrowseServerFoldersDialog()">Browse</a>
          </div>
      </div>

      <div style="margin-top:10px;min-height:160px;">
    <div class="panel-header1 ibox-title1 clearfix">

        <h4 ng-if="rootFolderId"> Excluded folders ({{totalListItemElements}})</h4>
        <h4 ng-if="!rootFolderId&&selectedFolders&&selectedFolders.length>0"> Excluded folders ({{selectedFolders.length}})</h4>

      <div  ng-if="rootFolderId&&!readOnlyMode" class="header-item " ng-show="editMode" style="margin-left: 15px;">
          <excluded-root-folders-manage-menu root-folder-id="rootFolder.id" root-folder-path="rootFolder.path"
                                             reload-data="reloadDataListItems" selected-list-items-to-operate="excludedFoldersSelectedItems" grid-find-id="gridFindId"></excluded-root-folders-manage-menu>
      </div>

      <div class="header-item1pull-right" style="position:relative;display: none;" role="export">
        <i ng-show="exportToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <a href="#" ng-class="{'disabled':exportToExcelInProgress}" class="btn btn-link" ng-click="onExportToExcel()" title="Download data in Excel format"> <i class="fa fa-download "></i></a>
      </div>
     </div>
    <div ng-if="!rootFolderId">
      <div ng-repeat="selectedFolder in selectedFolders" class="show-on-hover"  style="position: relative;"><span class="fa fa-folder-o"></span>&nbsp;{{selectedFolder}}
        <a class='btn btn-link btn-sm top-right-position' ><i class='fa fa-times' ng-click="removeSelectedItem(selectedItem)"></i></a></div>
    </div>
      <div ng-if="rootFolderId">
        <excluded-root-folders-grid  restrictedEntityDisplayTypeName=""  filter-data="filterData" resize-height-value="500"
           restricted-entity-id="rootFolderId" item-selected="onSelectItem"  refresh-data="reloadDataListItems"
           items-selected="onSelectItems" export-to-excel="exportToExcel" lazy-first-load="listItemsLazyFirstLoad" total-elements="totalListItemElements">
        </excluded-root-folders-grid>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button"  class="btn btn-primary" ng-click="add()" ng-if="!rootFolderId">Add</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>

</div>