
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{editMode?'Edit':'Add'}} {{connection.mediaType|translate}} connection
  </h4>
</div>
<div class="modal-body tabbed-dialog clearfix " style="height:370px;">
  <ul class="nav nav-tabs">
    <li> <a class="btn btn-sm" ng-click="setActiveTab('general')" ng-class="{'btn-flat':activeTab=='general'}"> General <span class="error " ng-visible=" !myForm.$valid" >*</span></a></li>
    <li> <a class="btn  btn-sm" ng-click="setActiveTab('test')" ng-class="{'btn-flat':activeTab=='test'}">Test Connection</a></li>
  </ul>
  <div ng-show="activeTab=='general'" class="col-sm-10 ">
     <form class="form-horizontal " name="myForm" role="form">
    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Media type:</label>
      <div class="col-sm-8" style="position: relative">
        <div style="margin-top: 7px;">
          <span style=" margin-right: 20px;">{{connection.mediaType|translate}}</span>
          <span  class='repositoryType {{connection.mediaType}}' ></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Name:</label>
      <div class="col-sm-8" style="position: relative">

        <input  ng-click="$event.stopPropagation();"  id="name" name="name" class="block form-control" ng-model="connection.name"   type="text"  />

      </div>
    </div>

     <!--<div class="form-group">-->
      <!--<label class="control-label col-sm-4" for="url">Url:</label>-->
      <!--<div class="col-sm-8" style="position: relative">-->
           <!--<input  ng-click="$event.stopPropagation();" id="url" name="url" class="block form-control" ng-model="connection.url"/>-->
      <!--</div>-->
    <!--</div>-->
    <div class="form-group">
      <label class="control-label col-sm-4" for="connectionParams"  >JWT Server Authentication:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.connectionParams.$error.required" >*</span>
        <textarea autocomplete="none" style="height: 150px;" ng-click="$event.stopPropagation();"  autocomplete="off" id="connectionParams" name="connectionParams" class="block form-control" ng-model="connection.jwt"
              ng-change="jwtChanged();" type="text" required />

      </div>
    </div>
       <div class="form-group">
         <label class="control-label col-sm-4" for="name">Application ID:</label>
         <div class="col-sm-8 control-text" style="position: relative">

         {{connection.username}}
           <div class="small" ng-if="!connection.username">This value will be automatically set after successful test connection</div>
         </div>
       </div>
  </form>
  </div>
  <div ng-show="activeTab=='test'" class="col-sm-11 ">
      <div ng-show="!myForm.$valid">Not all connection params are set</div>
    <form class="form-horizontal " ng-show="myForm.$valid" name="testForm" role="form">
      <div class="form-group" >
        <label class="control-label col-sm-4" > </label>

        <div class="col-sm-12" style="position: relative">
          <span class="error top-right-position" ng-show=" !selectedDataCenter"  >*</span>
          <choose-data-center selected-data-center="selectedDataCenter"></choose-data-center>
          <div class="col-sm-offset-4" style="margin-top:-10px;">
            <div class="col-sm-8" style="position: relative">
              <button class="btn btn-flat btn-sm" ng-click="testConnection()" ng-class="{disabled:!selectedDataCenter}"
                      ng-class="{'disabled':testConnectionInProgress}" ng-disabled="testConnectionInProgress">Test Connection</button>
              <i ng-show="testConnectionInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
            </div>
            <span >
             <span class="error top-right-position" ng-show="!testForm.connectionParams.$error.required && testForm.$error.connectionParams" >Malformed jwt</span>
            <span class="primary" ng-if="connectivityTest"><i class=" fa fa-check"></i> Success</span>
            <span class="notice" ng-if="!connectivityTest&&connectivityTest!=null" title="{{failureMessage}}">Failed</span>
          </span>
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-top: 30px;">
        <label class="control-label col-sm-4" for="connectionUsername"  >Application Id:</label>
        <div class="col-sm-8" style="position: relative">
          <input autocomplete="none" ng-click="$event.stopPropagation();"  autocomplete="off" id="connectionUsername" name="connectionUsername" class="block form-control" ng-model="connection.username"   type="text"  />
          <div class="small">This value will be automatically set after successful test connection</div>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="clearfix"></div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
