<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body" style="margin: 0 35px;">
  <form class="form-horizontal" name="departmentForm" role="form">
    <div class="row">
      <div class="form-group" style="position: relative;">
        <label for="name" class="col-sm-3">Name:</label>
        <span class="error top-right-position" ng-show=" departmentForm.name.$error.required">*</span>
        <div class="col-sm-9" style="padding-left: 2px;">
          <input type="text" class="form-control" id="name" name="name" ng-model="department.name" required>
        </div>
      </div>
    </div>
    <div class="row" ng-if="!editMode">
      <div class="form-group" style="position: relative;">
        <label for="parent" class="col-sm-3">Parent:</label>
        <div class="col-sm-9" style="padding-left: 2px;">
          <select class="form-control" id="parent" ng-model="department.parentId" ng-options="departmentOption.id as departmentOption.name | translate for departmentOption in departmentList track by departmentOption.id"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group" style="position: relative;">
        <label for="desc" class="col-sm-3">Description:</label>
        <div class="col-sm-9" style="padding-left: 2px;">
          <input type="text" class="form-control" id="desc" ng-model="department.description"></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
