
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal col-md-10" name="myForm" role="form">

    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Name:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.name.$error.required" >*</span>
        <input  ng-click="$event.stopPropagation();"  autofocus="true" id="name" name="name" class="block form-control" ng-model="dataCenter.name"
                ng-enter="save()" type="text" required
                placeholder=""/>

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="desc">Description:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="desc" ng-model="dataCenter.description">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-4">
        <div class="checkbox">
          <label ><input type="checkbox"  ng-model="dataCenter.defaultDataCenter" title="On first use, set this data center as default" >Default</label>

        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="location">Location:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="location" ng-model="dataCenter.location">
      </div>
    </div>

  </form>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button" ng-if="createNew" class="btn btn-primary" ng-if="!editMode" ng-click="save(true)" >Save & Create another</button>
  <button type="button"  class="btn " ng-class="{'btn-primary':!createNew,'btn-default':createNew}" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
