
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{editMode?'Edit':'Add'}} {{connection.mediaType|translate}} connection
  </h4>
</div>
<div class="modal-body tabbed-dialog clearfix " style="height:380px;">
  <ul class="nav nav-tabs">
    <li> <a class="btn btn-sm" ng-click="setActiveTab('general')" ng-class="{'btn-flat':activeTab=='general'}"> General <span class="error " ng-visible=" !myForm.$valid" >*</span></a></li>
    <li> <a class="btn  btn-sm" ng-click="setActiveTab('test')" ng-class="{'btn-flat':activeTab=='test'}">Test Connection</a></li>
  </ul>
  <div ng-show="activeTab=='general'" class="col-sm-10 ">
   <form class="form-horizontal " name="myForm" role="form">
    <div class="form-group">
       <label class="control-label col-sm-4" for="name">Media type:</label>
      <div class="col-sm-8" style="position: relative">
        <div style="margin-top: 7px;">
            <span style=" margin-right: 20px;">{{connection.mediaType|translate}}</span>
         <span  class='repositoryType {{connection.mediaType}}'></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Name:</label>
      <div class="col-sm-8" style="position: relative">

        <input  ng-click="$event.stopPropagation();"  id="name" name="name" class="block form-control" ng-model="connection.name"
                type="text"  />

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="connectionUsername">Domain:</label>
      <div class="col-sm-8" style="position: relative">
        <input  ng-click="$event.stopPropagation();" id="domain" name="domain" class="block form-control" ng-model="connection.sharePointConnectionParametersDto.domain"
                ng-change="connectivityTest=null;" type="text" />

      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-4" for="connectionUsername"  >Username:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.connectionUsername.$error.required" >*</span>
        <input autocomplete="none" ng-click="$event.stopPropagation();" focus-if="initiated" autocomplete="off" id="connectionUsername" name="connectionUsername" class="block form-control" ng-model="connection.sharePointConnectionParametersDto.username"
                ng-change="connectivityTest=null;" type="text" required />

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="connectionPassword">Password:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.connectionPassword.$error.required" >*</span>
        <input  autocomplete="new-password" ng-click="$event.stopPropagation();"  id="connectionPassword" name="connectionPassword" class="block form-control" ng-model="connection.sharePointConnectionParametersDto.password"
                ng-change="connectivityTest=null;" type="password" required />

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="url">Url:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show="myForm.url.$error.required" >*</span>

        <input  ng-click="$event.stopPropagation();" id="url" name="url" class="block form-control" ng-model="connection.sharePointConnectionParametersDto.url"
                ng-change="connectivityTest=null;" type="url" required />
        <span class="error" style="font-size: 12px" ng-show="  !myForm.url.$error.required && myForm.$error.url" >Malformed url</span>

      </div>
    </div>

  </form>
  </div>
  <div ng-show="activeTab=='test'" class="col-sm-11 ">
    <div ng-show="!myForm.$valid">Not all connection params are set</div>
    <div class="form-group"  ng-show="myForm.$valid">
      <div class="col-sm-12">
        <span class="error top-right-position" ng-show=" !selectedDataCenter" >*</span>
        <choose-data-center selected-data-center="selectedDataCenter"></choose-data-center>
      </div>
      <div class="col-sm-8 col-sm-offset-4" style="position: relative">
        <button class="btn btn-flat btn-sm" ng-click="testConnection()" ng-class="{disabled:!myForm.$valid}"
                ng-class="{'disabled':testConnectionInProgress}" ng-disabled="testConnectionInProgress || !selectedDataCenter" >Test connection</button>
        <i ng-show="testConnectionInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <span >

          <span class="primary" ng-if="connectivityTest"><i class=" fa fa-check"></i> Success</span>
          <span class="notice" ng-if="!connectivityTest&&connectivityTest!=null" title="{{failureMessage}}">Failed</span>
        </span>
      </div>
    </div>
  </div>

</div>
<div class="clearfix"></div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
