
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body" style="min-height: 260px;">
  <div  style="margin: 0 35px;">
    <div  style="border-right: #f4f4f4">
      <ul class="nav nav-tabs">
        <li> <a class="btn btn-sm" ng-click="setActiveTab('general')" ng-class="{'btn-flat':activeTab=='general'}">General <span class="error " ng-visible=" !generalForm.$valid" >*</span></a></li>
        <li> <a class="btn  btn-sm" ng-click="setActiveTab('recurrence')" ng-class="{'btn-flat':activeTab=='recurrence'}">Recurrence <span class="error " ng-visible=" !scheduleConfigIsValid()" >*</span></a></li>
      </ul>
    </div>
    <div style="min-height: 20px"></div>
    <div ng-show="activeTab=='general'" class="col-sm-8 ">
      <form class="form-horizontal" name="generalForm" role="form">
        <div class="form-group">
              <div class="checkbox">
              <label ><input type="checkbox"  ng-model="scheduleGroup.active" >Active</label>
            </div>
        </div>
        <div class="form-group" style="position: relative;">
          <label for="name">Name:</label>
          <span class="error top-right-position" ng-show=" generalForm.name.$error.required" >*</span>
          <input type="text" class="form-control" id="name" name="name" ng-model="scheduleGroup.name" ng-keypress="autoGeneratedName =false" required>
        </div>
        <div class="form-group">
          <label for="desc">Description:</label>
          <input type="text" class="form-control" id="desc" ng-model="scheduleGroup.schedulingDescription" ng-keypress="autoGeneratedDesc =false">
        </div>

      </form>
    </div>
    <div ng-show="activeTab=='recurrence'"  class="col-sm-12">
      <schedule-config-display schedule-config="scheduleConfig" selected-schedule-type="selectedScheduleType"
                               get-user-schedule-data="getUserScheduleConfigData" is-valid="scheduleConfigIsValid" ></schedule-config-display>
    </div>
  </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
