.new-root-folder-dialog {
  .exchange-365-support {
    .field-wrapper {
      position: relative;
      display: flex;
      width:315px;

      .limit-scan-input {
        display:inline-block;
        width:255px;
        border:1px solid #bbbaba;
        border-radius: 3px;
        padding-top: 7px;
      }

      .icon-wrapper {
        padding: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .error {
          color: red;
          padding: 3px;
        }
      }

      .date-picker-wrapper {
        display: none;
        position:absolute;
        top: -200px;
        left: -45px;

        .btn-close {
          position: absolute;
          top: 0;
          left: 302px;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F5F5F5;
          border: 1px solid #E2E2E2;
          cursor: pointer;

          &:hover {
            color: green;
          }
        }
      }

       &.show-picker {
        .date-picker-wrapper {
          display: block;
        }
      }
    }

  }
}
