
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body tabbed-dialog clearfix new-root-folder-dialog" style="height: 310px;padding-right:10px;padding-left:10px;min-height: 325px">
      <ul class="nav nav-tabs smaller">
         <li> <a class="btn btn-sm" ng-click="setActiveTab('general')" ng-class="{'btn-flat':activeTab=='general'}"> General <span class="error " ng-visible=" !generalForm.$valid" >*</span></a></li>
        <li> <a class="btn  btn-sm" ng-click="setActiveTab('scan')" ng-class="{'btn-flat':activeTab=='scan'}">Scan <span class="error " ng-visible=" !scheduleGroupSelected||!rootFolderItem.customerDataCenterDto.id" >*</span></a></li>
        <li> <a class="btn  btn-sm" ng-click="setActiveTab('fileTypes')" ng-class="{'btn-flat':activeTab=='fileTypes'}">File types <span class="error " ng-visible=" !limitScanDateValid" >*</span></a></li>
         <li> <a class="btn btn-sm" ng-click="setActiveTab('properties')" ng-class="{'btn-flat':activeTab=='properties'}">Properties</a></li>
        <li> <a class="btn  btn-sm" ng-click="setActiveTab('excludedFolders')" ng-class="{'btn-flat':activeTab=='excludedFolders'}">Advanced <span class="error " ng-visible=" !advancedForm.$valid" >*</span></a></li>

     </ul>
     <div ng-show="activeTab=='general'" class="col-sm-11 ">
      <form class="form-horizontal" name="generalForm" role="form">
        <div class="row" ng-if="installationMode == 'standard'">
          <div class="form-group">
            <label for="name" class="control-label col-sm-3" style="text-align: left">Department:</label>
            <div class="col-sm-9" style="padding-left: 2px;">
              <span class="error top-right-position" ng-show="generalForm.department.$error.required" >*</span>
              <input-param name="department" id="department" options="true" single-selection="true" on-items-selected="onDepartmentSelected" action-name="{{'Department'}}"
                           class-type="Department" create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewDepartmentDialog"
                           saved-selected-items="departmentSavedSelectedItems" load-option-items="loadDepartmentOptionItems"
                           no-create-new-object-button="!isMngDepartmentConfigUser"
                           create-new-option-from-item="createDepartmentParamOption" required="true"></input-param>
            </div>
          </div>
        </div>
        <div class="row" ng-if="installationMode == 'legal'">
          <div class="form-group">
            <label for="name" class="control-label col-sm-3" style="text-align: left">Matter:</label>
            <div class="col-sm-9" style="padding-left: 2px;">
              <span class="error top-right-position" ng-show="generalForm.department.$error.required" >*</span>
              <input-param name="matter" id="matter" options="true" single-selection="true" on-items-selected="onDepartmentSelected" action-name="{{'Matter'}}"
                           class-type="Matter" create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewDepartmentDialog"
                           saved-selected-items="departmentSavedSelectedItems" load-option-items="loadDepartmentOptionItems"
                           create-new-option-from-item="createDepartmentParamOption" required="true"></input-param>
            </div>
          </div>
        </div>
        <div class="row">
          <div  class="form-group">
            <label for="nickName" class="control-label col-sm-3" style="text-align: left">Nick name:</label>
            <div class="col-sm-5" style="padding-left: 2px;">
              <input type="text" class="form-control" id="nickName" ng-model="rootFolderItem.nickName">
            </div>
            <div class="checkbox" class="col-sm-4" style="display: inline-block">
              <label ><input type="checkbox"  ng-model="rootFolderItem.rescanActive" >Rescan active</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group "  style="position: relative">

              <label for="mediaType">Media type:</label>
              <span class="error top-right-position" ng-show=" generalForm.mediaType.$error.required" >*</span>
              <select id="mediaType" class='form-control' ng-model='rootFolderItem.mediaType' style="width: 145px;" ng-change="mediaTypeSelectedChanged(rootFolderItem.mediaType)"
                      ng-options=' mediaTypeOption | translate for  mediaTypeOption in mediaTypeOptions' required ng-disabled="editMode"
              ></select>
            </div>
          </div>
          <div class="col-sm-1"> </div>
          <div class="col-sm-8">

            <div class="form-group " ng-if="rootFolderItem.mediaType == EMediaType.SHARE_POINT.toString() "  style="position: relative">

              <label  for="connection" ><i class="{{connectionIconClass}}"></i> Connection:</label>
              <span   class="error top-right-position" ng-show=" generalForm.connection.$error.required" >*</span>
                <input-param  name="connection" id="connection" required="true" options="true" single-selection="true"  on-items-selected="onMediaConnectionSelected" action-name="{{'SharePoint connection'}}"
                           class-type="{{rootFolderItem.mediaType|translate}} Connection"  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewSharePointConnectionDialog"
                           saved-selected-items="mediaConnectionSavedSelectedItems" load-option-items="loadSharePointConnectionOptionItems"
                           create-new-option-from-item="createMicrosoftConnectionParamOption" ></input-param>

            </div>
            <div class="form-group " ng-if="rootFolderItem.mediaType == EMediaType.ONE_DRIVE.toString() "  style="position: relative">

              <label  for="connection2" ><i class="{{connectionIconClass}}"></i> Connection:</label>
              <span   class="error top-right-position" ng-show=" generalForm.connection2.$error.required" >*</span>
              <input-param   name="connection2" id="connection2" required="true" options="true" single-selection="true"  on-items-selected="onMediaConnectionSelected" action-name="{{'OneDrive connection'}}"
                             class-type="{{rootFolderItem.mediaType|translate}} Connection"  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewOneDriveConnectionDialog"
                             saved-selected-items="mediaConnectionSavedSelectedItems" load-option-items="loadOneDriveConnectionOptionItems"
                             create-new-option-from-item="createMicrosoftConnectionParamOption" ></input-param>

            </div>
            <div class="form-group " ng-if="rootFolderItem.mediaType == EMediaType.BOX.toString() "  style="position: relative">

              <label  for="connection3" ><i class="{{connectionIconClass}}"></i> Connection:</label>
              <span   class="error top-right-position" ng-show=" generalForm.connection3.$error.required" >*</span>
              <input-param   name="connection3" id="connection3" required="true" options="true" single-selection="true"  on-items-selected="onMediaConnectionSelected" action-name="{{'Box connection'}}"
                             class-type="{{rootFolderItem.mediaType|translate}} Connection"  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewBoxConnectionDialog"
                             saved-selected-items="mediaConnectionSavedSelectedItems" load-option-items="loadBoxConnectionOptionItems"
                             create-new-option-from-item="createBoxConnectionParamOption" ></input-param>

            </div>
            <div class="form-group " ng-if="rootFolderItem.mediaType == EMediaType.EXCHANGE365.toString() "  style="position: relative">

              <label  for="connection4" ><i class="{{connectionIconClass}}"></i> Connection:</label>
              <span   class="error top-right-position" ng-show=" generalForm.connection4.$error.required" >*</span>
              <input-param   name="connection4" id="connection4" required="true" options="true" single-selection="true"  on-items-selected="onMediaConnectionSelected" action-name="{{'MS-Exchange 365 connection'}}"
                class-type="{{rootFolderItem.mediaType|translate}} Connection"  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewExchange365ConnectionDialog"
                saved-selected-items="mediaConnectionSavedSelectedItems" load-option-items="loadExchange365ConnectionOptionItems"
                create-new-option-from-item="createExchange365ConnectionParamOption" ></input-param>

            </div>
          </div>
        </div>
        <div ng-if="!isExchange365Selected() && !isOneDriveSelected()" class="form-group"   style="position: relative; margin-bottom: 0;">
          <label for="name">  <span  class='repositoryType {{rootFolderItem.mediaType}}' style="line-height: 22px;" ></span>
            <span style="margin-left: 32px;">Path:</span>
           </label>
          <span class="error top-right-position" ng-show=" generalForm.name.$error.required" >*</span>
          <div class="right-btn-outside"  >
            <a class="btn btn-flat " ng-click="openBrowseServerFoldersDialog()" ng-class="{disabled:((editMode && isScanned) || (isMediaConnectionNeeded()&&connectionSelected==null))}" >Browse</a>
            <div >
                <input ng-if="!editMode" type="text"  class="form-control " ng-change="fullPathChanged()"  id="name" name="name" ng-model="rootFolderItem.realPath" required ng-readonly="(isMediaConnectionNeeded()&&connectionSelected==null)">
                <input ng-if="editMode" type="text"  class="form-control " ng-change="fullPathChanged()" id="name" name="name" ng-model="rootFolderItem.realPath" required ng-readonly="isScanned">
            </div>
          </div>
        </div>

        <div ng-if="isExchange365Selected() ||isOneDriveSelected()" class="form-group"   style="position: relative; margin-bottom: 0;">
          <label for="name">  <span  class='repositoryType {{rootFolderItem.mediaType}}' style="line-height: 22px;" ></span><span style="margin-left: 32px;">Email group name:</span></label>
          <span class="error top-right-position" ng-show=" generalForm.mailboxGroup.$error.required" >*</span>
          <div class="right-btn-outside"  >
              <input ng-if="!editMode" type="text"  class="form-control " ng-change="fullPathChanged()" id="mailboxGroup" name="mailboxGroup" ng-model="rootFolderItem.mailboxGroup" required>
              <input ng-if="editMode" type="text"  class="form-control " ng-change="fullPathChanged()" id="mailboxGroup" name="mailboxGroup" ng-model="rootFolderItem.mailboxGroup" required ng-readonly="isScanned">
          </div>
        </div>

        <div  class="small" title="File access, including browsing is done by media-processors at the selected data center" style="display: inline-block"><i class="fa fa-info"></i> &nbsp;Selected datacenter: '{{rootFolderItem.customerDataCenterDto.name}}'</div>
        <div class="clearfix"></div>
      </form>
    </div>
    <div ng-show="activeTab=='properties'" class="col-sm-12 ">
      <form class="form-horizontal" role="form">

        <div >
          <div class="row">
          <div  class="col-sm-4 ">
            <div  class="form-group ">
              <label for="storePurpose">Purpose:</label>
              <select id="storePurpose" class='form-control' ng-model='rootFolderItem.storePurpose' style="width: 120px;"
                      ng-options=' storePurposeOption | translate for  storePurposeOption in storePurposeOptions'
              ></select>
            </div>
            </div>
          <div  class="col-sm-4 ">
            <div  class="form-group ">
              <label for="storeSecurity">Security:</label>

              <select id="storeSecurity" class='form-control' ng-model='rootFolderItem.storeSecurity' style="width: 120px;"
                      ng-options=' storeSecurityOption | translate for  storeSecurityOption in storeSecurityOptions'
              ></select>
              </div>
              </div>
            <div  class="col-sm-4 ">
              <div  class="form-group ">
              <label for="storeLocations">Location:</label>
               <select id="storeLocations" class='form-control' ng-model='rootFolderItem.storeLocation'
                 ng-options=' storeLocationsOption | translate for  storeLocationsOption in storeLocationsOptions'
                ></select>
            </div>
           </div>
          </div>
          <div class="row">
              <div  class="col-sm-12 ">
                  <div  class="form-group">
                    <label for="desc">Description:</label>
                    <input type="text" class="form-control" id="desc" ng-model="rootFolderItem.description">
                  </div>
              </div>
          </div>
          <!--<div  class="form-group col-sm-2">-->
          <!--</div>-->
          <!--<div  class="form-group col-sm-5 ">-->

          <!--</div>-->
          <!--<div class="form-inline">-->
              <!--<div class="form-group">-->
                <!--<label for="desc">Description:</label>-->
                <!--<input type="text" class="form-control" id="desc" ng-model="rootFolderItem.description">-->
              <!--</div>-->
          <!--</div>-->
        </div>

      </form>
    </div>
    <div ng-show="activeTab=='excludedFolders'"  class="col-sm-12">
      <form class="form-horizontal" role="form" name="advancedForm">
        <div class="row" ng-if="!isExchange365Selected() && !isOneDriveSelected()">
          <div  class="col-sm-12 ">
            <div  class="form-group">
              <label ng-show="!rootFolderItem.realPath">Set folder path first from the former tab</label>

              <input-param ng-show="rootFolderItem.realPath" options="false"  on-items-selected="onExcludedItemsSelected" action-name="{{'Excluded root folders'}}"
                           class-type="{{isMediaConnectionNeeded() ? 'folder' : 'fileShare'}}"  create-new-selected-item-from-text="createNewExcludedFolderSelectedItemFromText"
                           root-folder="rootFolderItem.realPath"  media-connection-id="rootFolderItem.mediaConnectionDetailsId" customer-data-center-id="rootFolderItem.customerDataCenterDto.id" media-type="rootFolderItem.mediaType"
                           saved-selected-items="excludedFoldersSavedSelectedItems" show-checkboxes="false"
                           on-new-item-added="updateExcludedFolderSelectedItem" on-item-active-state-changed="updateExcludedFolderSelectedItem" on-item-deleted="onExcludedFolderDeleted"></input-param>
           <!--<label >-->
          <!--Excluded folders:&nbsp; {{editMode?configuredExcludedFoldersCount:!configuredExcludedFoldersCount||configuredExcludedFoldersCount==0?'None':configuredExcludedFoldersCount}}-->
          <!--</label>-->
         <!--<a  class="btn btn-flat btn-sm" style="margin-left: 40px" ng-click="openManageExcludedFoldersDialog()"><span ng-if="!editMode">Add</span><span ng-if="editMode">Manage</span></a>-->
            </div>
          </div>
      </div>
        <div class="row">
          <div  class="col-sm-6">
            <div  class="form-group">
              <label for="treeLevel">Mapping concurrency depth:</label>
              <div style="position: relative;display: inline-block;width: 80px;">
                <input type="number" min="0" name="depthInput" class="form-control" id="treeLevel" ng-model="rootFolderItem.scanTaskDepth" style="width: 60px;">
                <span class="error top-right-position" ng-show="!advancedForm.depthInput.$valid" >*</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div ng-show="activeTab=='scan'"  class="col-sm-10">
      <form class="form-horizontal" role="form" style="margin-top:-7px;">
        <div>
          <span class="error top-right-position" ng-show="!rootFolderItem.customerDataCenterDto" >*</span>
          <choose-data-center selected-data-center="rootFolderItem.customerDataCenterDto" save-last-selected="saveLastSelectedDataCenter"
                              get-last-selected-fn="getLastSelectedDataCenterFn" set-last-selected-fn="setLastSelectedDataCenterFn"></choose-data-center>
        </div>
        <div class="form-group"  style="margin-top:30px; ">
          <label for="name"  class="col-sm-4" style="text-align: right" >Schedule:</label>
        <div class="col-sm-8 " ng-if="scheduleGroupSavedSelectedItems">
          <span class="error top-right-position" ng-show="!scheduleGroupSelected" >*</span>
          <input-param options="true" single-selection="true"  on-items-selected="onScheduleGroupItemSelected" action-name="{{'schedule group'}}"
                       class-type="scheduleGroup"  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewScheduleGroupDialog"
                       saved-selected-items="scheduleGroupSavedSelectedItems" load-option-items="loadScheduleGroupOptionItems"
                       create-new-option-from-item="createScheduleParamOption"></input-param>
           </div>
          <div class="col-sm-offset-4 col-sm-8" ng-show="scheduleGroupSelected" title="{{scheduleGroupSelected.cronTriggerString}}"><small>{{scheduleGroupSelectedSubdisplay}}</small></div>
        </div>

        <div class="form-group">

          <div class="col-sm-8 col-sm-offset-4">
            <!--<div ng-show="!scheduleGroupSelected">Not selected</div>-->
            <!--<div ng-show="scheduleGroupSelected">{{scheduleGroupSelected.name}}</div>-->
            <!--<div ng-show="scheduleGroupSelected" title="{{scheduleGroupSelected.cronTriggerString}}"><small>{{scheduleGroupSelectedSubdisplay}}</small></div>-->
          </div>

        </div>
      </form>
    </div>
  <div ng-show="activeTab=='fileTypes'"  class="col-sm-12">
    <form class="form-horizontal" role="form">

      <div class="form-group " style="margin-bottom: 0">
        <div class="col-sm-3" >
          <label>Map types:</label>
          <div style="padding-bottom: 15px;">
            <div ng-repeat="fileType in supportedMapFileTypes" class="checkbox">
              <label style="font-weight: normal;">&nbsp;<input type="checkbox"  ng-model="fileType.selected" ng-change="fileTypeChanged(true,fileType.name,fileType.selected)">{{fileType.name|translate}}</label>
            </div>
          </div>
        </div>
        <div class="col-sm-3" >
          <label>Ingest types:</label>
          <div style="padding-bottom: 15px;">
            <div ng-repeat="fileType in supportedIngestFileTypes" class="checkbox">
              <label style="font-weight: normal;">&nbsp;<input type="checkbox"  ng-model="fileType.selected" ng-change="fileTypeChanged(false,fileType.name,fileType.selected)">{{fileType.name|translate}}</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
           <div class="form-group">
              <label for="CountCap">Scan limit count: (optional)</label>
              <input type="text" id="CountCap" class="form-control" ng-model="configuredScannedFilesCountCap" >
           </div>
          <div class="form-group">
            <label for="CountCapMeani">Meaningful files scan limit count: (optional)</label>
            <input type="text" id="CountCapMeani" class="form-control" ng-model="configuredScannedMeaningfulFilesCountCap" >
          </div>
          <div class="exchange-365-support form-group" ng-if="isExchange365SupportEnabled() && isExchange365Selected()">
            <label>Scan files since: (optional)</label>
            <div class="field-wrapper" ng-class="{'show-picker':showLimitScanDatePicker}" >
              <div class="form-control limit-scan-input"placeholder="dd/mm/yyyy">{{limitScanDateStartTimeStr}}</div>
              <div class="btn-filter-open icon-wrapper">
                <i class="fa fa-calendar" ng-click="openLimitScanDateDialog()"></i>
                <div class="error" ng-if="!limitScanDateValid">*</div>
              </div>
              <div class="date-picker-wrapper">
                <div class="btn-close" ng-click="closeLimitScanDatePicker()">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div uib-datepicker ng-model="pickerDate" class="well well-sm" datepicker-options="pickerOptions" ng-change="limitScanDateChanged(pickerDate)"></div>
              </div>
              <div class="icon-wrapper" ng-if="limitScanDateStartTime" ng-click="clearLimitScanDate()"><span class="fa fa-times"></span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- div class="checkbox">
        <label ><input type="checkbox"  ng-model="rootFolderItem.extractBizLists" >Extract business lists after processing</label>
      </div -->
    </form>
  </div>

</div>
<div class="clearfix"></div>
<div class="modal-footer" >
  <button type="button" ng-if="!editMode" class="btn btn-primary" ng-click="save(true)" >Save & Create another</button>
  <button type="button" class="btn btn-primary" ng-click="save(false)" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
