
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body" style="min-height: 260px;">
  <div  style="margin: 0 15px;">
    <div  style="border-right: #f4f4f4">
      <ul class="nav nav-tabs">
        <li> <a class="btn btn-sm" style="padding:10px 15px 10px 20px;"  ng-click="setActiveTab('general')" ng-class="{'btn-flat':activeTab=='general'}">General <span class="error " ng-visible=" !generalForm.$valid" >*</span></a></li>
        <li> <a class="btn  btn-sm" style="padding:10px 15px 10px 20px;" ng-click="setActiveTab('templateRoles')" ng-class="{'btn-flat':activeTab=='templateRoles'}">Role template <span class="error "   ng-visible=" !isTemplateRoleValid()" >*</span></a></li>
        <li> <a class="btn  btn-sm" style="padding:10px 15px 10px 20px;" ng-click="setActiveTab('ldapGroup')" ng-class="{'btn-flat':activeTab=='ldapGroup'}">Ldap group</a></li>
        <li> <a class="btn  btn-sm" style="padding:10px 15px 10px 20px;"  ng-click="setActiveTab('groupManager')" ng-class="{'btn-flat':activeTab=='groupManager'}">Group manager</a></li>
      </ul>
    </div>
    <div style="min-height: 20px"></div>
    <div ng-show="activeTab=='general'" class="col-sm-8 ">
      <form class="form-horizontal" name="generalForm" role="form">
        <div class="form-group" style="position: relative;">
          <label for="name">Name:</label>
          <span class="error top-right-position" ng-show=" generalForm.name.$error.required" >*</span><input type="text" class="form-control" id="name" name="name" ng-model="functionalRoleSummaryInfo.functionalRoleDto.name" ng-keypress="autoGeneratedName =false" required>
        </div>
        <div class="form-group">
          <label for="desc">Description:</label>
          <input type="text" class="form-control" id="desc" ng-model="functionalRoleSummaryInfo.functionalRoleDto.description" ng-keypress="autoGeneratedDesc =false">
        </div>

      </form>
    </div>
    <div ng-show="activeTab=='templateRoles'"  class="col-sm-8">
      <div class="form-group" style="position: relative;">
        <label for="name">Role template:</label>
      </div>
      <input-param options="true" single-selection="true"  on-items-selected="onTemplateRoleItemSelected" action-name="{{'Role templates'}}" no-create-new-object-button="false"
                   class-type=""  create-new-selected-item-from-text1="" leave-text-after-selection="true" show-checkboxes="true" open-new-object-dialog="openNewTemplateRoleDialog"
                   saved-selected-items="userTemplateRolesSavedSelectedItems" load-option-items="loadTemplateRoleOptionItems"
                   create-new-option-from-item="createTemplateRoleParamOption"></input-param>
    </div>
    <div ng-show="activeTab=='ldapGroup'" class="col-sm-8">
       <div class="form-group" style="position: relative;">
         <label for="name">Ldap group:</label>
        </div>
        <input-param options="true" single-selection="true"  on-items-selected="onLdapGroupItemSelected" action-name="{{'Ldap group'}}" no-create-new-object-button="true"
                     class-type="ldap group"  create-new-selected-item-from-text="createNewLdapGroupSelectedItemFromText" leave-text-after-selection="true" show-checkboxes="false" open-new-object-dialog=""
                     saved-selected-items="userFunctionalRoleLdapSavedSelectedItems" load-option-items="loadLdapGroupOptionItems" create-empty-item="true"
                     create-new-option-from-item=""></input-param>

    </div>
    <div ng-show="activeTab=='groupManager'" class="col-sm-8">
        <div class="form-group" style="position: relative;">
          <label for="name">Group manager:</label>
        </div>

        <input-param options="true" single-selection="true"  on-items-selected="onLdapGroupManagerSelected" action-name="{{'Ldap group'}}" no-create-new-object-button="true"
                     class-type="ldap user"  create-new-selected-item-from-text="createNewGroupManagerSelectedItemFromText" leave-text-after-selection="true" show-checkboxes="false" open-new-object-dialo1g=""
                     saved-selected-items="userManagerSelectedItem" refresh-list1=""
                     create-new-option-from-item1=""></input-param>
      </div>
  </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
