
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body" style="min-height: 260px;">
  <div  style="margin: 0 15px;">
    <div  style="border-right: #f4f4f4">
      <ul class="nav nav-tabs">
        <li> <a class="btn btn-sm" style="padding:10px 15px 10px 20px;"  ng-click="setActiveTab('general')" ng-class="{'btn-flat':activeTab=='general'}">General <span class="error " ng-visible=" !generalForm.$valid" >*</span></a></li>
        <li> <a class="btn  btn-sm" style="padding:10px 15px 10px 20px;" ng-click="setActiveTab('templateType')" ng-class="{'btn-flat':activeTab=='templateType'}">Type</a></li>
        <li> <a class="btn  btn-sm" style="padding:10px 15px 10px 20px;" ng-click="setActiveTab('systemRoles')" ng-class="{'btn-flat':activeTab=='systemRoles'}">System Roles <span class="error " ng-visible=" !isSystemRolesValid()" >*</span></a></li>
      </ul>
    </div>
    <div style="min-height: 20px"></div>
    <div ng-show="activeTab=='general'" class="col-sm-8 ">
      <form class="form-horizontal" name="generalForm" role="form">
        <div class="form-group" style="position: relative;">
          <label for="name">Name:</label>
          <span class="error top-right-position" ng-show=" generalForm.name.$error.required" >*</span><input type="text" class="form-control" id="name" name="name" ng-model="templateRole.name" ng-keypress="autoGeneratedName =false" required>
        </div>
        <div class="form-group">
          <label for="desc">Description:</label>
          <input type="text" class="form-control" id="desc" ng-model="templateRole.description" ng-keypress="autoGeneratedDesc =false">
        </div>
      </form>
    </div>
    <div ng-show="activeTab=='templateType'"  class="col-sm-8">
      <form class="form-horizontal" name="templateTypeForm" role="form">
        <div class="form-group" style="position: relative;margin-bottom: 4px">
          <label for="name">Can be used by:</label>
        </div>
        <div class="form-group">
          <div class="col-sm-8 radio-group2">
            <label for="{{$index}}" ng-repeat="type in templateTypes" ng-class="{'disabled' : editMode}">
              <input type="radio" id="{{$index}}" name="templateTypeList"  ng-disabled="editMode" ng-model="templateRole.templateType" ng-value="type.value" >
              <span>{{type.text|translate}}</span>
            </label>
          </div>
          </div>
      </form>
    </div>
    <div ng-show="activeTab=='systemRoles'"  class="col-sm-8">
      <input-param options="true" single-selection="false"  on-items-selected="onSystemRoleItemSelected" action-name="{{'System roles'}}" no-create-new-object-button="true"
                   class-type=""  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewSystemRoleDialog"
                   saved-selected-items="userSystemRolesSavedSelectedItems" load-option-items="loadSystemRoleOptionItems"
                   create-new-option-from-item="createSystemRoleParamOption"></input-param>
    </div>
  </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
