.svg-common() {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-client--src--assets--svg--edit {
	.svg-common();
	background-position: 0 0;
}

.svg-client--src--assets--svg--edit-dims {
	width: 24px;
	height: 24px;
}

.svg-client--src--assets--svg--flag {
	.svg-common();
	background-position: 50% 0;
}

.svg-client--src--assets--svg--flag-dims {
	width: 24px;
	height: 24px;
}

.svg-client--src--assets--svg--folder {
	.svg-common();
	background-position: 0 100%;
}

.svg-client--src--assets--svg--folder-dims {
	width: 24px;
	height: 24px;
}

.svg-client--src--assets--svg--folder-check {
	.svg-common();
	background-position: 50% 100%;
}

.svg-client--src--assets--svg--folder-check-dims {
	width: 24px;
	height: 24px;
}

.svg-client--src--assets--svg--group {
	.svg-common();
	background-position: 100% 0;
}

.svg-client--src--assets--svg--group-dims {
	width: 24px;
	height: 24px;
}

