<div class="filter-area-div">
  <div *ngIf="filterTitle" class="filter-item-name" [ngClass]="{'collapse-title' : collapsible, 'is-filtered': isFiltered}" >
    <span (click)="changeCollapse()" *ngIf="collapsible" class="cbox-collapse-icon fa" [ngClass]="{'fa-caret-down' : !isCollapsed , 'fa-caret-right' : isCollapsed}" ></span>
    <span (click)="changeCollapse()">{{ filterTitle }}</span>
    <span  *ngIf="isFiltered"  (click)="clearAll()" class="clear-filters fa fa-trash-o" title="Clear filters"></span>
  </div>
  <div *ngIf="!isCollapsed">
    <li *ngIf="!afterFilterList">
      Loading....
    </li>
    <li *ngFor="let option of afterFilterList" class="checkbox-filter-option" [ngClass]="{'is-disabled' : option.disabled || isDisabled}" >
      <span (click)="!(option.disabled || isDisabled) && clickOnFilterOption($event, option)"  >
        <i *ngIf="option.selected" class="filter-field-check fa fa-check-square-o "  ></i>
        <i *ngIf="!option.selected"   class="filter-field-check fa fa-square-o" ></i>
        <span [attr.title]=" (option.tooltipText ? option.tooltipText : option.displayText) | translate" class="filter-field-item no-special-tooltip" >{{ option.displayText | translate}}</span>
      </span>
      <div *ngIf="option.children">
        <li *ngFor="let childOption of option.children"   style="display: block; text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 10px">
          <span (click)="!(option.disabled || isDisabled) && clickOnFilterOption($event, childOption)"  >
            <i *ngIf="childOption.selected" class="filter-field-check fa fa-check-square-o "  ></i>
            <i *ngIf="!childOption.selected"   class="filter-field-check fa fa-square-o" ></i>
            <span [attr.title]="(childOption.tooltipText? childOption.tooltipText : childOption.displayText) | translate" class="filter-field-item no-special-tooltip"  >{{ childOption.displayText | translate}}</span>
          </span>
        </li>
      </div>
    </li>
  </div>
</div>
