checkBoxFilter {
  .filter-area-div {
      padding: 5px 0px;
      color : #666;
    }
  .filter-field-item {
    cursor: pointer;
    font-size: 13px;
    padding-bottom: 5px;
    position: relative;
    display: inline-block
  }
  .filter-item-name {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #666666;
    cursor: pointer;
    position: relative;

    .clear-filters {
      display: none;
      position: absolute;
      right: 10px;
      top: 3px;
      color: #444444;
      font-size: 14px;
    }
  }

  .filter-item-name:hover {
    .clear-filters {
      display: inline-block;
    }
  }

  .filter-item-name.is-filtered {
    color : red;
  }

  .filter-field-check {
    width: 20px !important;
    cursor: pointer;
  }

  .filter-field-check.fa-check-square-o{
    color : #222222;
  }

  .collapse-title {
    cursor: pointer;
  }

  .cbox-collapse-icon {
    width: 10px;
  }

  .checkbox-filter-option {
    display: block;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.is-disabled {
      opacity: 0.5;
    }
  }

  @-moz-document url-prefix() {
    .checkbox-filter-option {
      text-overflow: inherit !important;
    }
  }
}






