<div class="modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <form class="form-horizontal modal-form-md" name="generalForm" #departmentGeneralForm="ngForm" role="form">
    <div  class="form-group form-group-position-relative">
      <label class="control-label" for="departmentName">{{ 'NAME' | translate}}:</label>
      <div class="control-field">
        <input type="text" class="form-control" id="departmentName" name="departmentName" [(ngModel)]="departmentItem.name" required minlength="1" maxlength="100" #departmentName="ngModel" placeholder="Department name">
      </div>
      <div class="error error-position" *ngIf="departmentName.invalid">*</div>
    </div>
    <div  class="form-group" *ngIf="isNew && mainDepartments">
      <label class="control-label" for="departmentParent">{{ 'PARENT' | translate}}:</label>
      <div class="control-field">
        <da-select-input id="departmentParent" (itemSelected)="onParentChanged($event)" [options]="mainDepartments" [selectedName]="selectedParent && selectedParent.name" ></da-select-input>
      </div>
    </div>
    <div  class="form-group">
      <label class="control-label" for="departmentDescription">{{ 'DESCRIPTION' | translate}}:</label>
      <div class="control-field">
        <textarea class="form-control" id="departmentDescription" name="departmentDescription" [(ngModel)]="departmentItem.description" maxlength="255"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group" *ngIf="isNew"><button type="button" class="btn btn-primary" (click)="save(true)" >{{ 'SAVE_CREATE' | translate}}</button></div>
    <div class="btn-group"><button type="button" class="btn btn-primary" (click)="save(false)" >{{ 'SAVE' | translate}}</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="cancel()">{{ 'CANCEL' | translate}}</button></div>
  </div>
</div>
