<div class="modal-header"  >
  <span class="modal-title">Component historical data</span>
  <a  class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <server-component-history [openComponent]="data.openComponent"></server-component-history>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="close()">Close</button>
</div>
