<div class="setting-div">
  <ul class="nav nav-tabs" style="position:relative;">
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='chartType', 'nav-item': activeTab!='chartType'}"><a
      class="nav-link" data-toggle="tab" (click)="setActiveTab('chartType')">Type <span class="error"
                                                                                       [ngStyle]="{'visibility': !selectedDisplayType ? 'visible' : 'hidden'}">*</span></a>
    </li>
    <li *ngIf="selectedDisplayType"
        [ngClass]="{'nav-item-active nav-item': activeTab=='mainParam', 'nav-item': activeTab!='mainParam'}"><a
      class="nav-link" data-toggle="tab" (click)="setActiveTab('mainParam')">Parameters <span class="error"
                                                                                              [ngStyle]="{'visibility': ((mainParamForm && mainParamForm.invalid) || !selectedDataType || !selectedDataUnit || (selectedSeriesType.id == SeriesType.BY_TOP_ITEMS && !selectedSeriesField) || gotEmptySegmentFilter(selectedSegmentList))  ? 'visible' : 'hidden'}">*</span></a>
    </li>
    <li
      *ngIf="selectedDisplayType && selectedChartTypeId == DashboardService.MULTIPLE_FIXED_HISTOGRAM && selectedDataType && selectedChartDisplayTypeId != ChartDisplayType.PIE && selectedSeriesType.id == SeriesType.MANUALY"
      [ngClass]="{'nav-item-active nav-item': activeTab=='namesTab', 'nav-item': activeTab!='namesTab'}"><a
      class="nav-link" data-toggle="tab" (click)="setActiveTab('namesTab')">Labels <span class="error"
                                                                                        [ngStyle]="{'visibility': (gotEmptySegmentNameFilter(selectedSegmentList) || !totalDisplayName ) ? 'visible' : 'hidden'}">*</span></a>
    </li>
    <li
      *ngIf="selectedDisplayType && selectedChartTypeId == DashboardService.MULTIPLE_FIXED_HISTOGRAM && selectedDataType"
      [ngClass]="{'nav-item-active nav-item': activeTab=='moreParam', 'nav-item': activeTab!='moreParam'}"><a
      class="nav-link" data-toggle="tab" (click)="setActiveTab('moreParam')">More <span class="error"
                                                                                        [ngStyle]="{'visibility': false ? 'visible' : 'hidden'}">*</span></a>
    </li>

  </ul>
  <div [hidden]="activeTab!='chartType'">

    <div class="select-display-type-div">
      <ng-template ngFor let-dtItem [ngForOf]="chartDisplayTypeList">
        <div class="display-type-item" *ngIf="(!dtItem.needFilters || filterList.length>0)"
             (click)="onDisplayTypeChanged(dtItem)" [ngClass]="{'selected' : dtItem == selectedDisplayType}">
                <span class="display-type-icon  {{ dtItem.icon}}">
                </span>
          <span class="display-type-text">
                  <div class="display-type-name">{{ dtItem.name}}</div>
                  <div class="display-type-description">{{ dtItem.description}}</div>
                </span>
        </div>
      </ng-template>
    </div>
  </div>

  <div [hidden]="activeTab!='mainParam'">
    <form *ngIf="userViewDataDtoItem" class="form-horizontal modal-form-md" name="mainParamForm" #mainParamForm="ngForm"
          role="form">

      <div class="form-group form-group-position-relative">
        <label class="control-label" for="userViewName">Chart title:</label>
        <div class="control-field">
          <input type="text" class="form-control" maxlength="255" id="userViewName" name="userViewName"
                 [(ngModel)]="userViewDataDtoItem.name" (change)="updatePreview(chartInfo, true)" (keyup)="updatePreview(chartInfo, true)" required minlength="1" #userViewName="ngModel">
        </div>
        <div class="error error-position" *ngIf="userViewName.invalid">*</div>
      </div>

      <div *ngIf="(selectedChartTypeId == DashboardService.SINGLE_VALUE_CHART) && filterList " class="histogram-div">
        <div class="form-group form-group-position-relative">
          <label class="control-label">Group by:</label>
          <div class="control-field">
            <da-select-input (itemSelected)="onSingleDataTypeChanged($event, true)"
                             [options]="dataTypeListForSingleValue"
                             [selectedName]="selectedDataType && selectedDataType.name"></da-select-input>
          </div>
          <div class="error error-position" *ngIf="!selectedDataType">*</div>
        </div>


        <div class="form-group form-group-position-relative">
          <label class="control-label">Units:</label>
          <div class="control-field">
            <da-select-input (itemSelected)="onDataUnitChanged($event)" [onlyForDisplay]="(dataUnitList.length < 2)"
                             [options]="dataUnitList"
                             [selectedName]="selectedDataUnit && selectedDataUnit.name"></da-select-input>
          </div>
          <div class="error error-position" *ngIf="!selectedDataUnit">*</div>
        </div>

        <div class="form-group form-group-position-relative" *ngIf="selectedFilter">
          <label class="control-label">Filter:</label>
          <div class="histogram-value">
                <span class="segment-item-input">
                  <da-select-input (itemSelected)="onFilterChanged($event)"
                                   [withNoneValue]="selectedChartDisplayTypeId == ChartDisplayType.SINGLE_VALUE"
                                   [options]="filterList" [selectedName]="selectedFilter.name"></da-select-input>
                </span>
          </div>
        </div>
      </div>

      <div *ngIf="(selectedChartTypeId == DashboardService.MULTIPLE_FIXED_HISTOGRAM)" class="histogram-div">


        <div class="form-group form-group-position-relative">
          <label class="control-label">Group by:</label>
          <div class="control-field">
            <da-select-input (itemSelected)="onDataTypeChanged($event)" [options]="dataTypeList"
                             [selectedName]="selectedDataType && selectedDataType.name"></da-select-input>
          </div>
          <div class="error error-position" *ngIf="!selectedDataType">*</div>
        </div>


        <div class="form-group form-group-position-relative"
             *ngIf="selectedDataType && selectedDataType.isDateField">
          <label class="control-label">Date partition:</label>
          <div class="control-field">
            <da-select-input (itemSelected)="onDatePartitionChanged($event)" [options]="datePartitionList"
                             [selectedName]="selectedDatePartition && selectedDatePartition.name"></da-select-input>
          </div>
          <div class="error error-position" *ngIf="!selectedDatePartition">*</div>
        </div>



        <div class="form-group form-group-position-relative">
          <label class="control-label">Units:</label>
          <div class="control-field">
            <da-select-input (itemSelected)="onDataUnitChanged($event)" [onlyForDisplay]="(dataUnitList.length < 2)"
                             [options]="dataUnitList"
                             [selectedName]="selectedDataUnit && selectedDataUnit.name"></da-select-input>
          </div>
          <div class="error error-position" *ngIf="!selectedDataUnit">*</div>
        </div>

        <div class="form-group form-group-position-relative"
             *ngIf="selectedChartDisplayTypeId == ChartDisplayType.PIE ">
          <label class="control-label">Filter:</label>
          <div class="histogram-value">
                <span class="segment-item-input">
                  <da-select-input (itemSelected)="onFilterChanged($event)" [withNoneValue]="true"
                                   [options]="filterList" [selectedName]="selectedFilter.name"></da-select-input>
                </span>
          </div>
        </div>


        <div *ngIf="selectedChartDisplayTypeId != ChartDisplayType.PIE" class="form-group form-group-position-relative">
          <label class="control-label">Series type:</label>
          <div class="control-field series-type-field">
            <div *ngFor="let sType of seriesTypeList" class="series-type-item" (click)="selectedSeriesType = sType;updatePreview(chartInfo);">
              <i class="series-type-radio-btn fa"  [ngClass]="{'fa-circle-o' : selectedSeriesType != sType , 'fa-check-circle-o' : selectedSeriesType == sType }"> </i>
              <span> {{ sType.name }} </span>
            </div>
            <!-- da-select-input (itemSelected)="onSeriesTypeChanged($event)"
                             [options]="seriesTypeList"
                             [selectedName]="selectedSeriesType && selectedSeriesType.name"></da-select-input -->
          </div>
        </div>


        <div *ngIf="selectedChartDisplayTypeId != ChartDisplayType.PIE && selectedSeriesType.id == SeriesType.BY_TOP_ITEMS" class="form-group form-group-position-relative">
          <label class="control-label">Series field:</label>
          <div class="control-field">
            <da-select-input (itemSelected)="onSeriesFieldChanged($event)"
                             [options]="seriesList"
                             [selectedName]="selectedSeriesField && selectedSeriesField.name"></da-select-input>
          </div>
          <div class="error error-position" *ngIf="!selectedSeriesField">*</div>
        </div>


        <div class="form-group form-group-position-relative"
             *ngIf="selectedChartDisplayTypeId != ChartDisplayType.PIE && selectedSeriesType.id == SeriesType.MANUALY && ( filterList.length > 0 || (selectedSegmentList && selectedSegmentList.length > 0))">
          <label class="control-label">Series:</label>
          <div class="histogram-value">
            <div class="total-segment-div" *ngIf="selectedSegmentList && selectedSegmentList.length > 0 "
                 (click)="withTotal = !withTotal;updatePreview(chartInfo);">
              <span class="total-segment-div-check fa"
                    [ngClass]="{'fa-check-square-o':withTotal,'fa-square-o':!withTotal}"> </span>
              <span>Unfiltered</span>
            </div>
            <div *ngIf="selectedSegmentList == null">
              Loading...
            </div>
            <div *ngFor="let segment of selectedSegmentList;let ind = index" class="segment-item">
                  <span class="segment-item-input">
                    <da-select-input (itemSelected)="onSegmentChanged($event,ind)" [openInTop]="(ind > 2)"
                                     emptyValueMsg="-- Select saved filter --" [options]="filterList"
                                     [selectedName]="segment && segment.name"></da-select-input>
                    <div class="error error-position" *ngIf="!segment">*</div>
                  </span>
              <span class="remove-segment fa fa-close" title="Delete series" (click)="removeSegment(ind)"></span>
            </div>
            <div class="btn-group" *ngIf="filterList.length > 0" title="Add new series" (click)="addHistogram()">
              <button class="btn btn-primary add-new-series-btn" type="button">Add</button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div [hidden]="activeTab!='moreParam'">
    <form *ngIf="userViewDataDtoItem && selectedDataType" class="form-horizontal modal-form-md" name="moreParamForm"
          #moreParamForm="ngForm" role="form">

      <div class="form-group form-group-position-relative"
           *ngIf="selectedChartTypeId == DashboardService.MULTIPLE_FIXED_HISTOGRAM">
        <label class="control-label">Max items:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onItemNumberChanged($event)" style="width: 60px;"
                           [canChooseNotOnlyFromList]="true" [options]="itemNumberList"
                           [selectedName]="itemNumber"></da-select-input>

          <span class="show-other-main-span" (click)="returnOther = !returnOther;updatePreview(chartInfo);">
                <span class="show-other-check  fa"
                      [ngClass]="{'fa-check-square-o':returnOther,'fa-square-o':!returnOther}"> </span>
                <span>Show others</span>
              </span>
        </div>
        <div class="error error-position" *ngIf="!itemNumber">*</div>
      </div>

      <div  class="form-group form-group-position-relative" *ngIf="selectedSeriesType.id == SeriesType.BY_TOP_ITEMS">
        <label class="control-label" >Number of series</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onSeriesItemsNumberChanged($event)" style="width: 60px;"
                           [canChooseNotOnlyFromList]="true" [options]="itemNumberList" [selectedName]="seriesItemsNum" ></da-select-input>

        </div>
      </div>


      <div class="form-group form-group-position-relative"
           *ngIf="selectedChartTypeId == DashboardService.MULTIPLE_FIXED_HISTOGRAM && selectedChartDisplayTypeId != ChartDisplayType.GRID">
        <label class="control-label">Color palette:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onColorPaleteChanged($event)" [options]="colorPaletteList"
                           [selectedName]="selectedColorPalete && selectedColorPalete.name"></da-select-input>
        </div>
        <div class="error error-position" *ngIf="!selectedColorPalete">*</div>
      </div>


      <!-- div class="form-group form-group-position-relative"
           *ngIf="selectedChartTypeId == DashboardService.MULTIPLE_FIXED_HISTOGRAM && selectedDataType.isDateField && selectedPeriodMethod.id == PERIOD_METHOD_TIME_SEGMENTS">
        <label class="control-label">Period in:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onPeriodTypeChanged($event)" [options]="periodTypeList"
                           [selectedName]="selectedPeriodType && selectedPeriodType.name"></da-select-input>
        </div>
        <div class="error error-position" *ngIf="!selectedPeriodType">*</div>
      </div -->

      <div class="form-group form-group-position-relative"
           *ngIf="selectedChartTypeId == DashboardService.MULTIPLE_FIXED_HISTOGRAM">
        <label class="control-label">Pagination:</label>
        <div class="control-field">
          <div class="total-segment-div" (click)="withPagenation = !withPagenation;updatePreview(chartInfo)">
            <span class="total-segment-div-check fa"
                  [ngClass]="{'fa-check-square-o':withPagenation,'fa-square-o':!withPagenation}"> </span>
            <span>Enable</span>
          </div>
        </div>
      </div>

      <div class="form-group form-group-position-relative"
           *ngIf="selectedChartTypeId == DashboardService.MULTIPLE_FIXED_HISTOGRAM && selectedChartDisplayTypeId != ChartDisplayType.GRID">
        <label class="control-label">Data labels:</label>
        <div class="control-field">
          <div class="total-segment-div" (click)="withLabels = !withLabels;updatePreview(chartInfo);">
            <span class="total-segment-div-check fa"
                  [ngClass]="{'fa-check-square-o':withLabels,'fa-square-o':!withLabels}"> </span>
            <span>Enable</span>
          </div>
        </div>
      </div>


      <div class="form-group form-group-position-relative"
           *ngIf="selectedChartTypeId == DashboardService.MULTIPLE_FIXED_HISTOGRAM && selectedChartDisplayTypeId != ChartDisplayType.GRID">
        <label class="control-label">3D view:</label>
        <div class="control-field">
          <div class="total-segment-div" (click)="show3d = !show3d;updatePreview(chartInfo);">
            <span class="total-segment-div-check fa"
                  [ngClass]="{'fa-check-square-o':show3d,'fa-square-o':!show3d}"> </span>
            <span>Enable</span>
          </div>
        </div>
      </div>



    </form>
  </div>


  <div [hidden]="activeTab!='namesTab'">
    <form *ngIf="userViewDataDtoItem && selectedDataType" class="form-horizontal modal-form-md" name="moreParamForm"
          #moreParamForm="ngForm" role="form">

      <div *ngIf="withTotal || !selectedSegmentList || selectedSegmentList.length == 0" class="form-group form-group-position-relative">
        <label class="control-label names-tab-label" for="userViewName">Unfiltered:</label>
        <div class="control-field">
          <input type="text" placeholder="Display name" name="translateTotalName" (blur)="updatePreview(chartInfo)"
                 class="form-control" maxlength="255" [(ngModel)]="totalDisplayName">
        </div>
        <div class="error error-position" *ngIf="!totalDisplayName">*</div>
      </div>

      <ng-template ngFor let-segment [ngForOf]="selectedSegmentList">
        <div *ngIf="segment != null" class="form-group form-group-position-relative">
          <label class="control-label names-tab-label" for="userViewName">{{ segment.name }}:</label>
          <div class="control-field">
            <input type="text" placeholder="Display name" name="translateName{{ segment.id }}" (blur)="updatePreview(chartInfo)"
                   class="form-control" maxlength="255" [(ngModel)]="segment.filterDescriptor.name">
          </div>
          <div class="error error-position" *ngIf="!segment.filterDescriptor.name">*</div>
        </div>
      </ng-template>

    </form>
  </div>
</div>
