search-box {
  .search-box {
    position: relative;
    width: 220px;
    border: solid 1px #cccccc;
    min-width: 200px;
    display: block;
    height: 26px;
    border-radius: 5px;
    font-size: 13px;
    overflow: hidden;
  }


  .main-search-box-div {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
  }

  .search-box-div {
    position: relative;
    width: 320px;
    border: solid 1px #cccccc;
    border-radius: 3px;
  }

  .search-box-input {
    width: 100%;
    padding: 3px 20px 3px 22px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
  }

  .search-box-icon {
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
  }

  .search-box-clear-icon {
    position: absolute;
    right: 7px;
    top: 3px;
    cursor: pointer;
    font-style: normal;
  }

  .search-box-clear-icon:after {
    content: "\2715";
  }



}
