<div class="main-search-box-div" >
  <div class="search-box">
    <input class="search-box-input" (keydown.enter)="doSearch()" title="{{ boxTitle }}" (keyup)="onKeyup()" [(ngModel)]="searchText" placeholder="{{ boxPlaceholder }}" >
    <i class="search-box-icon fa fa-search" (click)="doSearch()"></i>
    <i class="search-box-clear-icon clear" *ngIf="showClearBtn"  (click)="clearSearch()"></i>
  </div>
</div>
