<form class="form-horizontal modal-form-md" name="uploadSuccessForm" #uploadSuccessForm="ngForm" role="form">
  <div class="form-group">
    <label class="control-label">File name:</label>
    <div class="control-text">
      {{file.name}}
    </div>
  </div>
  <hr>
  <div class="form-group">
    <label class="control-label">Imported:</label>
    <div class="control-text">
      {{importInfo.importedRowCount}}&nbsp;&nbsp;
      <i *ngIf="importInfo.importedRowCount > 0" class="fa fa-check-square primary inner-control-label-icon"></i>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Warnings:</label>
    <div class="control-text">
      {{importInfo.warningRowCount}}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Faulty:</label>
    <div class="control-text">
      {{importInfo.errorRowCount}}
    </div>
  </div>
</form>
