@import "./forms/resolve/resolve";
@import "./forms/workflow/GDPR-edit-workflow-item";
@import "./history/GDPR-item-history";
@import "./grid/GDPR-grid";

gdpr{
  display: flex;
  flex-direction: column;
  height: 100%;

  .data {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 15px;
  }
}

