schedule-group-screen  {
//  position: absolute;
//  top: 0px;
//  right: 0px;
//  left: 0px;
//  bottom: 0px;
////  margin: 30px 10px 10px;
//  .empty-msg-div{
//    opacity: 0.2;
//    font-size: 48px;
//    font-weight: bold;
//    text-align: center;
//  }
//
//  .empty-msg-icon {
//    font-size: 136px;
//    padding: 80px 0px 50px;
//  }
//
//
//
//  .active-scan-action-buttons {
//    padding-top: 2px;
//    display: inline-block;
//    top: 2px;
//    position: relative;
//  }
//
//
//  .dropdown-menu {
//    max-height: 400px;
//    overflow-y: auto;
//  }
//
//  .title {
//    //  padding: 30px 0;
//  }
//
//
//  .dropdown-menu.dropdown-menu-right {
//    right: 0 !important;
//  }
//
//  .header-div {
//    position: absolute;
//    top: 0px;
//    left: 0px;
//    right: 0px;
//    height: 95px;
//  }
//
//
//
//  .export-btn {
//    margin-left: auto;
//    display: flex;
//    justify-content: flex-end;
//
//    .spinner-wrapper {
//      position: relative;
//      padding-right: 5px;
//
//      .fa {
//        position: absolute;
//        top: 10px;
//      }
//    }
//  }
//
//  .data {
//    display: flex;
//    flex: 1;
//    flex-direction: column;
//    padding-right: 20px;
//    position: relative;
//
//    .header {
//      min-height: 70px;
//      display: flex;
//      align-items: center;
//      font-size: 14px;
//      font-weight: 600;
//      color: rgb(103, 106, 108);
//    }
//    tree-grid {
//      flex: 1 auto;
//    }
//  }
//

}
