<div class="da-main-div without-top-line" >
  <filter-div  [filtersList]="filtersList" (filterChanged)="onFilterChanged($event)"></filter-div>


  <div class="da-main-div-tree-div">

    <div class="da-main-div-top-line" *ngIf="withRootFolderSummary">
      <root-folder-summary  (statusFilterChanged)="onStatusFilterChanged($event)" [summaryObject]="rootFolderSummaryObject"  class="root-folder-summary-div"> </root-folder-summary>
    </div>

    <div class="da-main-div-bottom-line">
      <div  class="da-dashboard-item">
        <loader *ngIf="loading" [show]="loading"></loader>
        <div class="header-panel">
          <div class="header-line" >
            <div class="left-panel">
              <div class="header-item"  >
                <h4>
                  <span *ngFor="let breadcrumbItem of breadCrumbs; let ind = index" style="display: inline-block">
                    <span [ngClass]="{'breadcrumb-choose-step' : breadcrumbItem.clickFunc , 'breadcrumb-current-step' :  !breadcrumbItem.clickFunc}" (click)="breadcrumbItem.clickFunc && breadcrumbItem.clickFunc()">
                      {{ breadcrumbItem.title }}
                    </span>
                    <span  *ngIf="!breadcrumbItem.clickFunc"> ({{ totalSHistoryItems | number }})</span>
                    <span *ngIf="ind < breadCrumbs.length-1" class="breadcrumb-choose-step-seperator"> > </span>
                  </span>
                  <i (click)="loadData(true)" class="header-refresh-btn fa fa-refresh"></i>
                </h4>
              </div>
            </div>
            <div class="right-panel">
              <div class="header-item"  >
                <search-box [searchTerm]="searchTerm" [boxTitle]="'HISTORY.SEARCH_TITLE' | translate" [boxPlaceholder]="'HISTORY.SEARCH_PLACE_HOLDER' | translate" (searchChanged)="onSearchChange($event)" >
                </search-box>
              </div>

              <div class="header-item"  >
                <da-drop-down [openOnLeft]="true" [enabled]="true" [dropDownItems]="exportDropDownItems">
                  <span  class="icon-button download"   title="{{ 'EXPORT_TITLE' | translate}}" ><i class="fa fa-download"></i></span>
                </da-drop-down>
              </div>

              <!-- div class="header-item"  >
                <da-drop-down [openOnLeft]="true" [enabled]="true" [dropDownItems]="sHistoryDropDownItems">
                  <span class="icon-button options"><i class="fa fa-ellipsis-v" title="Additional options"></i></span>
                </da-drop-down>
              </div -->

            </div>
          </div>
        </div>
        <div class="da-item-body" style="overflow-y: auto">
          <div style="right: 0;position: absolute;left: 0;top: 0;bottom: 0;">

            <tree-grid
              [initialSortDirection] = "initialSortDirection"
              [initialSortFieldName]="initialSortFieldName"
              [treeGridData]="currentShData"
              [treeGridEvents]="sHistoryTreeGridEvents"
              [treeGridConfig]="treeConfig"
              [keepOpenNodes]="true"
              [treeGridItemComponent]="ScanHistoryItemGridComponent"
              [treeGridHeaderComponent]="ScanHistoryGridHeaderComponent">
            </tree-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
