date-dialog {
  text-align: center;
  .date-select-div {
    width: 100%;
  }

  .date-input {
    width: 180px !important;
  }

  form-group {
    flex : 1 0 auto !important;
  }

  .date-select-label {
    padding: 20px 0px 5px;
  }

  .time-chooser-div {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 200px;
  }

  ngb-timepicker {
    display: inline-block;
    .form-control {
      display: block !important;
      width: 100% !important;
    }
  }

  .invalid-indication {
    color: red;
    display: inline-block;
    margin-left: 5px;
  }

  .invalid-msg {
    color: red;
    font-size: 12px;
    padding-top: 20px;
  }
}
