<div class="modal-header" >
  <span class="modal-title">Choose date</span>
  <a  class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <form class="form-inline" #myForm="ngForm" style="width: 100%">
    <div class="form-group" style="width: 100%">
      <div class="date-select-div">
        <div class="date-select-label">
          Date:
        </div>
        <div class="input-group">
          <input class="form-control  date-input" required placeholder="yyyy-mm-dd"
                 name="fromD" (select)="invalidMsg = null" (navigate)="invalidMsg = null" [(ngModel)]="fromDate" #cFTime="ngModel"  ngbDatepicker #fromD="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="fromD.toggle()" type="button"></button>
          </div>
          <span class="invalid-indication" *ngIf="!cFTime.valid">*</span>
        </div>
        <div class="date-select-label">
          Time:
        </div>
        <div>
          <ngb-timepicker (change)="invalidMsg = null" required name="fTime" [(ngModel)]="fromTime" [spinners]="false" #fTime="ngModel" ></ngb-timepicker>
          <span class="invalid-indication" *ngIf="!fTime.valid">*</span>
        </div>
      </div>
    </div>
  </form>
  <div  class="invalid-msg">
    <span *ngIf="invalidMsg">* {{ invalidMsg }}</span>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="saveDate()">OK</button>
  <button type="button" class="btn btn-primary" (click)="close()">Cancel</button>
</div>

