<div class="row" style="margin: 10% auto;width:70%">
  <div class="col-xs-3">
    <!--<span  style="background: #FF5001;    opacity: 0.4;">-->
      <!--<img class="fill-width fill-height " src="/assets/images/logo_sq.png"> </span>-->
    <!--<da-icon class="navbar-logo" href="logo_sq.png" ></da-icon>-->
    </div>
  <div class="col-xs-7 col-sm-9">
      <h3 style="font-size: x-large;margin-bottom: 40px">Go discover!</h3>
      <split-view-filter >
      <user-search-box  do-user-search="doUserSearch"  focus-on-init="true" search-term="searchTerm"></user-search-box>
      <div style="margin-top: 30px;">
        <div style="display: inline-block">
          <navigate-by-menu class-name="btn btn-sm btn-flat" on-change-func="viewLeftChanged" title="Navigate by" view-options="viewLeftOptions" view-permitted="viewPermitted"></navigate-by-menu>

          <span>&nbsp;{{leftPaneType.value |translate}}</span>
        </div>

        <div style="display: inline-block; margin-left: 150px;">
          <navigate-by-menu class-name="btn btn-sm btn-flat"  class-name="'btn sm btn-flat'" on-change-func="viewRightChanged" title="View" view-disabled="viewRightDisabled" view-options="viewRightOptions" view-permitted="viewPermitted"></navigate-by-menu>

          <span>&nbsp;{{rightPaneType.value |translate}}</span>
        </div>
        <a class="btn btn-main-opeartion pull-right" ng-click="go();">Go discover</a>
      </div>
      <div style="margin-top: 40px;">
        <div ng-repeat="view in views">
          <a ui-sref="report({left:view.leftEntityDisplayTypeName,right:view.rightEntityDisplayTypeName, view:view.id})" ui-sref-opts="{reload: true,inherit:false}">{{view.name}}</a></div>
      </div>
      </split-view-filter>
  </div>
</div>
