<div role="file 1st-line-view dashboard" class="row pdf-page file-details" >
  <div role="left-view" class="col-xs-12 ">
    <div class="form-horizontal" role="form" style="margin-left: 15px;">
      <div class="form-group"><div class="col-md-4">   Status:</div>
        <div class="col-md-8">
          <span><i class="fa fa-check label-{{isAnalyzed?'primary':'primary'}}"></i>&nbsp;{{fileProcessingState|translate}}</span>
          <a ng-if="viewContentAuthorized &&!openFileCheckRequired" class="btn btn-link" title="Open file" href="{{fileOpenUrl}}" target="_top"><span class="fa fa-download"> </span></a>
          <a ng-if="viewContentAuthorized && openFileCheckRequired" class="btn btn-link" title="Open file" ng-click='isFileContentAuthorized(dataItem.id)'><span class="fa fa-download"> </span></a>
        </div>
      </div>
      <div class="form-group"  ng-if="ingestionErrorInfo"><div class="col-md-4">  Ingestion error info:</div><div class="col-md-8">{{ingestionErrorInfo}}</div></div>

      <div ng-if="isEmail || isAttachment">
        <div class="form-group"><div class="col-md-4">   Sent date:</div><div class="col-md-8"><span ng-if="mailSentDate">{{mailSentDate | date:'dd-MMM-yy HH:mm'}}</span></div></div>
        <div class="form-group"><div class="col-md-4">   Sender:</div><div class="col-md-8">{{mailSender || 'None'}}</div></div>
        <div class="form-group"><div class="col-md-4" style="padding-top:5px;">   Recipients:</div><div class="col-md-8 file-info-recipient-row"><div class="recipient-items long-and-truncated">{{mailRecipientsShortList}}</div><div class="count" ng-if="mailRecipients.length>1">({{mailRecipients.length}})</div><div class="show-more" ng-if="mailRecipients.length> 3" ng-click="showRecipients()"><a class="btn btn-flat btn-sm">Show More</a></div></div></div>
      </div>

      <div class="form-group"><div class="col-md-4">   Type:</div>
        <div class="col-md-8" style="display: flex; align-items: center;">
          <div style="position: relative;">
            <div file-type-html type='{{fileType}}' style="position: relative; left: -7px; font-size: 22px;" ng-style="fileType=='SCANNED_PDF' && {'font-size':'13px'}" ></div>
            <div ng-if='isAttachment' class="paper-clip-icon" style="position: absolute; top: 1px; left: -1px"></div>
          </div>
          <div>{{fileType|translate}}</div>
        </div>
      </div>
      <div class="form-group"><div class="col-md-4">   Size:</div><div class="col-md-8">{{fileSize| bytes}}</div></div>
      <div class="form-group"><div class="col-md-4">   Full Path:</div><div class="col-md-8"><span title="{{rootFolderMediaType|translate}}"  class='line-with-text repositoryType {{rootFolderMediaType}}'></span><span style="margin-left: 30px;">&nbsp; {{fileFullPath}}</span></div></div>
      <div class="form-group"><div class="col-md-4">   Author:</div><div class="col-md-8">{{fileAuthor}}</div></div>
      <div class="form-group"><div class="col-md-4">   Owner:</div><div class="col-md-8">{{fileOwner}}</div></div>

    </div>
    <div class="form-group"><div class="col-md-4">  <h3>Group:</h3> </div><div class="col-md-8">
      <h3 ng-if="!fileGroupId">Ungrouped</h3>
      <h3> {{fileGroupName}}&nbsp;<a class="btn btn-flat btn-sm" ng-if="fileGroupId" ng-click="viewGroupReport(fileGroupId,fileGroupName)">Go discover</a></h3>
    </div></div>

  </div>
</div>

<div role="file 2nd-line-view dashboard" class="row pdf-page"  style="margin-top: 15px;" >

  <div role="left-view" class="col-md-4  col-xs-12 ">
    <item-report  box-class="'file-info-date-box'"  caption="'Creation date'" sub-title1="'in '+foldersCount+'  folders'"  value="creationDate" field-type="'date'"> </item-report>
  </div>
  <div role="right-view" class="col-md-4  col-xs-12">
    <item-report  box-class="'file-info-date-box'"  caption="'Last modification date'" sub-title1="'in '+foldersCount+'  folders'"  value="lastModifiedDate" field-type="'date'"> </item-report>
  </div>
  <div role="right-view" class="col-md-4  col-xs-12">
    <item-report box-class="'file-info-date-box'" caption="'Last access date'" sub-title1="'in '+foldersCount+'  folders'"  value="lastAccessDate" field-type="'dateTime'"> </item-report>
  </div>
</div>

<div ng-if="(isAttachment || (isEmail && fileNumOfAttachments > 0))" class="row pdf-page" style="margin-bottom: 30px;">
  <div role="left-view" class="col-xs-12 ">
    <div class="panel-header ibox-title"  style="padding-bottom: 2px;">

      <div class="header-item">
        <h3 style="display: inline-block;" >Email and attachments </h3>
        <span ng-if="fileNumOfAttachments > 0">
          &nbsp;({{fileNumOfAttachments}})
        </span>
      </div>
      <div class="header-item  pull-right " role="collapse expand grid" >
        <a class="btn btn-link btn-sm" ng-click="showMailGrid=!showMailGrid" title ="Expand / collapse this section"><i class="fa {{showDupGrid?'fa-chevron-up':'fa-chevron-down'}} "></i></a>
      </div>
      <div class="header-item pull-right " style="position:relative;" role="export" >
        <i ng-show="exportMailToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <div class="btn-group dropdown">
          <a class="btn btn-link dropdown-toggle btn-sm "  data-toggle="dropdown" title="Download data in Excel format"
            ng-class="{'disabled':exportMailToExcelInProgress}" ng-disabled="exportMailToExcelInProgress">
            <i class="fa fa-download"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu " >
            <li> <a ng-click="onExportMailToExcel();" title="Export {{right}} data to Excel" class="btn btn-link" >Export to Excel</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-show="showMailGrid">
      <files-grid restrictedEntityDisplayTypeName="mail" template-view="true" fix-height="220px"   restricted-entity-id="mailId"  export-to-excel="exportMailToExcel" process-export-finished="exportMailToExcelCompleted"></files-grid>
    </div>
  </div>
</div>

<div ng-if="fileDuplicationsCount>1" class="row pdf-page" style="margin-bottom: 30px;">
  <div role="left-view" class="col-xs-12 ">
    <div class="panel-header ibox-title"  style="padding-bottom: 2px;">

      <div class="header-item  ">
        <h3 style="display: inline-block;" >Identical copies</h3>
            <span>
              &nbsp;({{fileDuplicationsCount}})
            </span>
      </div>
      <div class="header-item  pull-right " role="collapse expand grid" >
        <a class="btn btn-link btn-sm" ng-click="showDupGrid=!showDupGrid" title ="Expand / collapse this section"><i class="fa {{showDupGrid?'fa-chevron-up':'fa-chevron-down'}} "></i></a>
      </div>
      <div class="header-item pull-right " style="position:relative;" role="export" >
        <i ng-show="exportDupToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <div class="btn-group dropdown">
          <a class="btn btn-link dropdown-toggle btn-sm "  data-toggle="dropdown" title="Download data in Excel format"
             ng-class="{'disabled':exportDupToExcelInProgress}" ng-disabled="exportDupToExcelInProgress">
            <i class="fa fa-download"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu " >
            <li> <a ng-click="onExportDuplicationsToExcel();" title="Export {{right}} data to Excel" class="btn btn-link" >Export to Excel</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-show="showDupGrid">
    <files-grid restrictedEntityDisplayTypeName="file" dup-data="true" template-view="true" fix-height="220px"  restricted-entity-id="fileContentId" export-to-excel="exportDupToExcel" process-export-finished="exportDupToExcelCompleted"
    ></files-grid>
  </div>
  </div>
</div>

<div role="file 3rd row"  class="row pdf-page" >
  <div role="left-view" class="col-xs-12 ">
    <div class="form-horizontal" role="form">

      <div class="form-group"><div class="col-md-4">   Search patterns:</div>
        <div class="col-md-8">
        <span ng-if="!searchPatternsCounting||searchPatternsCounting.length==0">None</span>
          <div style="max-height: 250px;overflow-y: auto;display:inline-block">
            <div ng-repeat="pattern in searchPatternsCounting" style="padding-bottom: 5px">
              Search pattern <b>'{{pattern.patternName}}'</b> was found <b>{{pattern.patternCount}}</b> times.
            </div>
          </div>
        <br>
        <a  class="btn btn-flat" ng-click="findPatternsInFile()" ng-if="viewContentAuthorized&&(searchPatternsCounting&&searchPatternsCounting.length>0)">Show in file</a>
        </div>
          <highlight-results style="margin-top: 10px;" class="col-md-12" file-snippets="filePatternsSnippets" show-file-search-sinippets="showFilePatternsSnippets" excel-locations="excelPatternSnippetsLocations"
                             file-modified-since-scanned="fileModifiedSinceScanned" ></highlight-results>

        <!--<a ng-show="filePatternsSnippets" ng-click="showFilePatternsSnippets=!showFilePatternsSnippets">Toggle show results</a>-->
        <!--</div>-->
          <!--<div ng-show="showFilePatternsSnippets">-->

        <!--<div ng-if="fileModifiedSinceScanned" class="notice">File was modified since scanned. Results here are up-to-date</div>-->
            <!--<p ng-if="filePatternsSnippets.length==0" >No results found</p>-->
        <!--<ul class="highlightedContent" style="margin-left: 10px;">-->
          <!--<li ng-repeat=" res in filePatternsSnippets track by $index"   ng-bind-html="res"><a class="btn btn-link" ></a>-->
        <!--</ul>-->
        <!--<p ng-repeat=" location in excelPatternSnippetsLocations  track by $index"  ><b>Sheet:</b> {{location.sheetName}}  <b>Locations:</b>{{location.cells}}</p>-->
      <!--</div>-->

      <div class="form-group da-cond-show"><div class="col-md-4">    Proposed Titles:</div><div class="col-md-8">
        <span ng-if="!proposedTitles||proposedTitles.length==0">None</span>
        <div ng-repeat="title in proposedTitles">
          {{title}}
        </div>
      </div></div>

    </div>
  </div>
 </div>
</div>
<div ng-if="isViewTagAssociationUser" role="file third row "  class="row  pdf-page" >
  <div role="left-view" class="col-xs-12 ">
    <div class="ibox">
      <div class="ibox-title">
        <span class="label  pull-right" translate=""></span>
        <h4 class="ng-binding">Tags&nbsp;</h4>
      </div>
      <div class="ibox-content">
        <span ng-if="!fileTags||fileTags.length==0">None</span>

        <div ng-repeat="tag in fileTags" class="row" style="padding-bottom: 20px;">
                  <span class="col-sm-6">
                    <span class='tag tag-{{tag.type.id}}' ><span class="{{tagIcon}}{{tag.isExplicit?'':'-o' }}"></span></span>
                    &nbsp {{tag.type.name}}:<span  class="tag label label{{tag.isExplicit?'':'-o'}} label-tag-{{tag.type.id}}"> {{tag.name}}</span>
                  </span>
          <span class="col-sm-6 ellipsis small" title="{{tag.description}}" >{{tag.description}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
<div ng-if="isViewDocTypeAssociationUser" role="file forth row DocTypes"   class="row  pdf-page" >
  <div role="left-view" class="col-xs-12 ">
    <div class="ibox">
      <div class="ibox-title">
        <span class="label  pull-right" translate=""></span>
        <h4 class="ng-binding">DocTypes&nbsp;</h4>
      </div>
      <div class="ibox-content">
        <span ng-if="!fileDocTypes||fileDocTypes.length==0">None</span>

        <div ng-repeat="docType in fileDocTypes" class="row" style="padding-bottom: 20px;">
                  <span class="col-sm-6">
                    <span class='tag tag-{{docType.styleId}} opacity-depth-{{docType.depth}}' >
                      <span class="{{docTypeIcon}}{{docType.isExplicit?'':'-o' }}"></span>
                    </span>
                    <!--&nbsp {{docType.name}}:-->
                    <span  class="tag label label{{docType.isExplicit?'':'-o'}} label-tag-{{docType.styleId}}  opacity-depth-{{docType.depth}}"> {{docType.name}}</span>
                  </span>
          <span class="col-sm-6 ellipsis small" title="{{docType.description}}" >{{docType.description}}</span>
        </div>

      </div>
    </div>
  </div>
</div>


<div ng-if="isViewDepartmentAssociationUser" role="file forth row Department" class="row pdf-page">
  <div role="left-view" class="col-xs-12 ">
    <div class="ibox">
      <div class="ibox-title">
        <span class="label  pull-right" translate=""></span>
        <h4 class="ng-binding">Department&nbsp;</h4>
      </div>
      <div class="ibox-content">
        <span ng-if="!fileDepartment">None</span>

        <div class="row" style="padding-bottom: 20px;">
          <span class="col-sm-6">
            <span class='tag tag-{{fileDepartment.styleId}} opacity-depth-{{fileDepartment.depth}}' >
              <span class="{{departmentIcon}}{{fileDepartment.isExplicit?'':'-o' }}"></span>
            </span>
            <span  class="tag label label{{fileDepartment.isExplicit?'':'-o'}} label-tag-{{fileDepartment.styleId}}  opacity-depth-{{fileDepartment.depth}}"> {{fileDepartment.name}}</span>
          </span>
          <span class="col-sm-6 ellipsis small" title="{{fileDepartment.description}}" >{{fileDepartment.description}}</span>
        </div>

      </div>
    </div>
  </div>
</div>

<div ng-if="isViewMatterAssociationUser" role="file forth row Department" class="row pdf-page">
  <div role="left-view" class="col-xs-12 ">
    <div class="ibox">
      <div class="ibox-title">
        <span class="label  pull-right" translate=""></span>
        <h4 class="ng-binding">Matter&nbsp;</h4>
      </div>
      <div class="ibox-content">
        <span ng-if="!fileDepartment">None</span>

        <div class="row" style="padding-bottom: 20px;">
          <span class="col-sm-6">
            <span class='tag tag-{{fileDepartment.styleId}} opacity-depth-{{fileDepartment.depth}}' >
              <span class="{{matterIcon}}{{fileDepartment.isExplicit?'':'-o' }}"></span>
            </span>
            <span  class="tag label label{{fileDepartment.isExplicit?'':'-o'}} label-tag-{{fileDepartment.styleId}}  opacity-depth-{{fileDepartment.depth}}"> {{fileDepartment.name}}</span>
          </span>
          <span class="col-sm-6 ellipsis small" title="{{fileDepartment.description}}" >{{fileDepartment.description}}</span>
        </div>

      </div>
    </div>
  </div>
</div>



<div ng-if="isViewFuncRoleAssociationUser" role="file forth row FunctionalRoles"   class="row  pdf-page" >
  <div role="left-view" class="col-xs-12 ">
    <div class="ibox">
      <div class="ibox-title">
        <span class="label  pull-right" translate=""></span>
        <h4 class="ng-binding">Data roles&nbsp;</h4>
      </div>
      <div class="ibox-content">
        <span ng-if="!fileFunctionalRoles||fileFunctionalRoles.length==0">None</span>
        <div ng-repeat="functionalRole in fileFunctionalRoles" class="row" style="padding-bottom: 20px;">
                  <span class="col-sm-6">
                    <span class='tag tag-{{functionalRole.styleId}} opacity-depth-{{functionalRole.depth}}' >
                      <span class="{{functionalRoleIcon}}{{functionalRole.isExplicit?'':'-o' }}"></span>
                    </span>
                    <span  class="tag label label{{functionalRole.isExplicit?'':'-o'}} label-tag-{{functionalRole.styleId}}  opacity-depth-{{functionalRole.depth}}"> {{functionalRole.name}}</span>
                  </span>
          <!--<span class="col-sm-6 ellipsis small" title="{{functionalRole.description}}" >{{functionalRole.description}}</span>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div  ng-if="isViewBizListAssociationUser" role="file fifth row BizList Associations"  class="row  pdf-page" >
  <div role="left-view" class="col-xs-12 ">
    <div class="ibox">
      <div class="ibox-title">
        <span class="label  pull-right" translate=""></span>
        <h4 class="ng-binding">Clients associations&nbsp;</h4>
      </div>
      <div class="ibox-content">
        <span ng-if="!clientAssociations||clientAssociations.length==0">None</span>

        <div ng-repeat="association in clientAssociations" class="row" style="padding-bottom: 20px;">
                  <span class="col-sm-6">
                    <span class='tag tag-{{association.bizListId}} ' >
                      <span class="{{associationIcon}}{{association.isExplicit?'':'-o' }}"></span>
                    </span>

                    <span  class="tag label label{{association.isExplicit?'':'-o'}} label-tag-{{association.bizListId}} "> {{association.name}}</span>
                  </span>
          <span class="col-sm-6 ellipsis small" title="{{association.description}}" >{{association.description}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
<div ng-if="isViewBizListAssociationUser" role="file fifth row Biz list extractions"  class="row  pdf-page" ng-repeat="extractionSummaryTypeList in extractionSummaryPerType">
  <div role="left-view" class="col-xs-12 ">
    <div class="ibox">
      <div class="ibox-title">
        <span class="label  pull-right" translate=""></span>
        <h4 class="ng-binding">{{extractionSummaryTypeList[0].bizListItemType|translate}} extractions</h4>
      </div>
      <div class="ibox-content">
        <div ng-repeat="extractionSummary in extractionSummaryTypeList" >
            <h5>{{extractionSummary.bizListItemType|translate}} >   {{extractionSummary.bizListName}} ({{extractionSummary.count}}) </h5>
               <p>
                   <div ng-repeat="sampleExtraction in extractionSummary.sampleExtractions" class="row" style="padding-bottom: 20px;">
                          <span class="col-sm-6">
                             <span class='tag tag-222' ng-if="aggregated"><span class="{{clientExtractionIcon}}"></span>&nbsp; Aggregated list</span>
                             <span class='tag tag-222' ng-if="!aggregated"><span class="{{clientExtractionIcon}} tag tag-{{extractionSummary.bizListId}}"></span>&nbsp;{{sampleExtraction.name}}</span>
                          </span>

                   </div>
                  <a ng-if="extractionSummary.count-extractionSummary.sampleExtractions.length>0" >More {{extractionSummary.count-extractionSummary.sampleExtractions.length}}</a>
              </p>

      </div>
        <a class="btn btn-flat" ng-click="findExtractionsInFileContent();" ng-if="viewContentAuthorized &&extractionSummaryNotAggRuleExists&&(extractionSummaryPerType||extractionSummaryPerType.length==0)" style="margin-bottom: 10px;">Show in file</a>
        <highlight-results  file-snippets="fileExtractionSinippets" show-file-search-sinippets="showFileExtractionSinippets" excel-locations="excelExtractionSnippetLocations"
                           file-modified-since-scanned="fileModifiedSinceScanned" ></highlight-results>
        <!--<a ng-show="fileExtractionSinippets" ng-click="showFileExtractionSinippets=!showFileExtractionSinippets">Toggle show results</a>-->
        <!--<div ng-show="showFileExtractionSinippets">-->

            <!--<div ng-if="fileModifiedSinceScanned" class="notice">File was modified since scanned. Results here are up-to-date</div>-->
          <!--<p ng-if="fileExtractionSinippets.length==0" >No results found</p>-->
            <!--<ul class="highlightedContent">-->
              <!--<li ng-repeat=" res in fileExtractionSinippets track by $index" ng-bind-html="res" ></li>-->

            <!--</ul>-->
            <!--<p ng-repeat=" location in excelExtractionSnippetLocations  track by $index" ><b>Sheet:</b> {{location.sheetName}}  <b>Locations:</b>{{location.cells}}</p>-->
        <!--</div>-->
    </div>
  </div>
  </div>
</div>
<div ng-if="isViewBizListAssociationUser" role="file fifth row Biz list consumer rule extractions" ng-show="!extractionSummaryPerType||extractionSummaryPerType.length==0||bizListExtractionSummaryLoading"  class="row  pdf-page" >
  <div role="left-view" class="col-xs-12 ">
    <div class="ibox">
      <div class="ibox-title">
        <span class="label  pull-right" translate=""></span>
        <h4 class="ng-binding">Extractions&nbsp;</h4>
      </div>
      <div class="ibox-content">
        <span ng-if="!bizListExtractionSummaryLoading">None</span>
        <span ng-if="bizListExtractionSummaryLoading" >Loading...</span>
       </div>
    </div>
  </div>
</div>

<div role="file forth row "  class="row  pdf-page" style="padding-bottom:20px; " >
  <div role="left-view" class="col-xs-6 ">
    <div class="form-group"><div class="col-md-4">   {{acl_readsTitle}}: ({{aclReadData?aclReadData.length:0}})</div>
      <div class="col-md-8" style="max-height: 300px; overflow-y:auto; ">
         <span ng-repeat="aclRead in aclReadData"><div style="width: 300px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; padding-bottom:5px;" title="{{aclRead}}">{{aclRead}}</div></span>
      </div>
    </div>
  </div>
  <div role="left-view" class="col-xs-6 ">
    <div class="form-group"><div class="col-md-4">    {{acl_writesTitle}}:  ({{aclWriteData?aclWriteData.length:0}})</div>
      <div class="col-md-8" style="max-height: 300px; overflow-y:auto; ">
        <span ng-repeat="aclWrite in aclWriteData"><div style="width: 300px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; padding-bottom:5px;" title="{{aclWrite}}">{{aclWrite}}</div></span>
      </div>
    </div>
  </div>
</div>

<div role="file fifth row " ng-if="showSharePermissions" class="row  pdf-page" style="padding-bottom:20px; " >
  <div role="left-view" class="col-xs-8 ">
    <div class="form-group"><div class="col-md-3">   Read share permissions: ({{ sharePermissionsData ? sharePermissionsData.length:0 }})</div>
      <div class="col-md-8">
        <span ng-repeat="sPerm in sharePermissionsData">
          <div style="width: 500px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; padding-bottom:5px;" title="{{sPerm.user}} - {{ sPerm.textPermissions.join(',')}}">
            {{sPerm.user}} - {{ sPerm.textPermissions.join(',')}}
          </div>
        </span>
      </div>
    </div>
  </div>
</div>


<div role="file sixth row "  class="row  pdf-page" style="padding-bottom:20px; "  ng-show="viewContentAuthorized">
      <div style="margin-top: 20px;">
        <div class="col-sm-4" style="padding-right: 0;" ><input   type="text" class="form-control " style="display: inline-block" placeholder="Search in file" ng-model="searchText" ng-enter="highlightFileContent(searchText)"/></div>
        <a class="btn btn-flat "  ng-click="highlightFileContent(searchText);"><i class="fa fa-search"></i></a>

           <highlight-results style="margin-top: 10px;" class="col-md-12" file-snippets="filehighlightedContentHtml" show-file-search-sinippets="showFileSearchSinippets" excel-locations="excelLocations"
                           file-modified-since-scanned="fileModifiedSinceScanned" search-text="searchText"></highlight-results>
     </div>
</div>
