@import "./recipient-dialog/recipient-dialog.less";

.main-item-details-div {
  width: 100%;
  padding: 0px 30px 10px;

  .panels-mini {
    .ibox-title {
      padding: 14px 0px 7px 10px;
    }
  }
}
.file-info-date-box {
  h1 {
    font-size: 25px;
  }
}
.chart-rows-wrapper {
  display: flex;
  white-space: pre-line;
  flex-flow: row wrap;

  .chart-wrapper {
    width: ~"calc(100% * (1/2) - 10px)";
    display: inline-block;
  }

  .chart-wrapper:nth-child(odd) {
    margin-right: 20px;
  }
}
.file-info-recipient-row {
  display: flex;
  align-items: center;

  .recipient-items {
    max-width: 600px;
  }
  .show-more {
    cursor: pointer;
    color:#f8ac59;
    margin-left: 10px;

    &:hover {
      color: #00b3ee;
    }
  }
  .count {
    padding: 0 10px;
  }
}


.file-detail-row {
  display:flex;
  flex-direction:row;

  .chart-wrapper {
    width: 50%;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}


  @media print {

    @page {
      size: auto !important;
      margin-top: 30px !important;
    }

    .page-title {
      display: none !important;
    }

    .file-detail-row {
      display: inline-block;
      width: 100%;

      .chart-wrapper {
        width: 100%;
        display: block;
      }
    }

    .panels-mini .ibox-title {
      padding-left: 20px !important;
    }

    .btn-group.dropdown {
      display: none;
    }

    .title-row {
      display: none;
    }

    .col-xs-12 {
      width: 100% !important;
    }

    .btn {
      display: none;
    }

    .panel-header {
      .ibox-title:nth-child(2) {
        display: none;
      }
    }
  }
