<div ng-init="init();" class="fill-height  h-align  main-item-details-div" id="print-content">
  <div ng-show="!initiated&&!itemDeleted">Loading</div>
  <h3 ng-show="itemDeleted">{{contextName.toString()}} deleted</h3>
  <div  ng-show="initiated&&!itemDeleted"  class=" " >
    <div ng-switch="isFileReport()">
      <div ng-switch-when="true" >
        <div role="details" class="pdf-page">
          <div style="padding-bottom: 10px;" >
            <h3 class="fileItem break-text" style="display:block">{{contextTitleName}}&nbsp;'{{name}}' details&nbsp;
           </h3>
            <div class="header-item pull-right" ng-if="!msie11" role="download chart toolbar">
              <div class="btn-group dropdown">
                <a class="btn btn-link dropdown-toggle btn-sm"  data-toggle="dropdown" title="Export chart" >
                  <i class="fa fa-download"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="width: 130px;" >
                  <!--<li> <a ng-click="exportToExcel();" title="Download chart data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>-->
                  <li><a ng-click="exportToPdf();" title="Download chart data as pdf" class="btn btn-link"><i class="fa fa-file-pdf-o"></i>&nbsp;As PDF</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="main-file-details-pdf">
          <div ng-include="'/app/splitViews/fileItemDetails.tpl.html'"></div></div>
        </div>
      <div ng-switch-when="false">

        <div class="pdf-page">
          <div role="details" class="">
            <div style="padding-bottom: 10px;" >
              <h3 class="pdf-header break-text" style="display:block;">
                <i ng-if="!isFolderReport();" class="{{entityIcon}} tag-{{type}}"></i>
                <folder-type-html ng-if="isFolderReport();"type=type style="padding-right: 10px"></folder-type-html>
                <span>&nbsp;{{contextTitleName}}&nbsp;'{{displayedName}}' details</span>
                <a ng-if="isGroupReport()" class="btn btn-flat btn-sm" ng-click="viewGroupReport(id,name)">Go discover</a>
              </h3>


              <div class="header-item pull-right" role="download chart toolbar">
                <!-- span>
                  <a class="btn btn-link btn-sm" title="Print page" ng-click="printPage();"  >
                    <i class="fa fa-print"></i>
                  </a>
                </span -->


                <div class="btn-group dropdown">
                  <a class="btn btn-link dropdown-toggle btn-sm"  data-toggle="dropdown" title="Export chart" >
                    <i class="fa fa-download"></i>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" style="width: 130px;" >
                    <li> <a ng-click="exportToExcel();" title="Download report data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>
                    <li  ng-if="!msie11"><a ng-click="exportToPdf();" title="Download report as pdf" class="btn btn-link"><i class="fa fa-file-pdf-o"></i>&nbsp;As PDF</a></li>
                    <li><a ng-click="printPage();" title="Print page" class="btn btn-link"><i class="fa fa fa-print"></i>&nbsp;Print</a></li>
                    <li ng-if="isGroupReport();" class="da-cond-show ">
                      <a href="{{'/api/group/'+id+'/ingest/maturityStats'}}" class="btn btn-link"  target="_self" >Group maturity</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div role="1st-line-view dashboard" class="row " style="margin-left: 0px" >
            <div role="tmp-filler" class="col-sm-6  col-xs-12 " style="padding-left: 0; margin-right: 18px; margin-left: 0px; width: calc(50% - 10px);">

                <div ng-if="isUserGroup" role="Joined group " class="ibox float-e-margins " >
                  <div class="ibox-title show-on-hover" >
                    <div style="position: relative">
                        <h4 class="">Type: Joined-group ({{joinedGroupChilds.length}} member groups) <span ng-if="groupProcessing" class="fa fa-cog" title="Group is currently processed."></span> </h4>
                        <a  ng-if="mngGroupAuthorized" class="top-right-position"  ng-click="deleteUserGroup()" title="Split this group back to original groups"><i class="fa fa-trash-o" ></i></a>
                    </div>
                  </div>
                  <div class="ibox-content" style="padding-top:0;padding-bottom:0px;overflow: auto;height:87px;">
                    <div class="form-horizontal" role="form">

                      <div class="form-group " >

                          <div ng-repeat="joinedGroupChild in joinedGroupChilds"   style="position: relative; display: flex; margin-top: 3px;" class="show-on-hover" ng-class1="{freezeRow:joinedGroupChild.groupProcessing}">
                            <span class="{{entityIcon}} tag-{{joinedGroupChild.groupType}}" style="width: 18px"></span>
                            <span title="{{joinedGroupChild.groupName}}" class="ellipsis" style="flex: 1; margin-right: 15px;">{{joinedGroupChild.groupName}} </span>
                            <span style=" margin-right: 15px;">({{joinedGroupChild.numOfFiles}} files)</span>
                            <a ng-if="mngGroupAuthorized" class="top-right-position btn-link" style="margin-top: 3px;" ng-click="removeChildGroupFromJoindGroup(joinedGroupChild.id)"><i class="fa fa-times"></i></a>
                          </div>

                      </div>


                    </div>
                  </div>
                </div>
                <div ng-if="isSubGroup" role="Sub group cluster" class="ibox float-e-margins " >
                  <div class="ibox-title show-on-hover" >
                    <div style="position: relative">
                        <h4 class="">Type: Sub-group cluster ({{subGroupMembers.length}} member groups) </h4>
                    </div>
                  </div>
                  <div class="ibox-content" style="padding: 0 5px 17px 5px;overflow: auto;min-height:87px;">
                      <div ng-repeat="subGroupMember in subGroupMembers"  style="display: flex; margin-top: 3px;" >
                        <span class="{{entityIcon}} tag-{{subGroupMember.groupType}}" style="width: 18px"></span>
                        <span title="{{subGroupMember.groupName}}" class="ellipsis" style="flex: 1; margin-right: 5px;">{{subGroupMember.groupName}} </span>
                        <span style=" margin-right: 5px;">({{subGroupMember.numOfFiles}} files)</span>
                        <a class="btn btn-flat btn-xs" ng-click="viewGroupReport(subGroupMember.id,subGroupMember.groupName)" style="width: 90px">Go discover</a>
                      </div>
                  </div>
                </div>


            </div>
            <div role="left-view" class="chart-wrapper col-sm-6  col-xs-12 " style="padding-left: 0;padding-right: 0;width: calc(50% - 25px);">
              <item-report ng-if="isFolderReport()" caption="'Files'" sub-title="'in '+foldersCount+'  folders'"  value="filesCount" field-type="'number'"> </item-report>
              <item-report ng-if="isGroupReport()" caption="'Files'"  value="filesCount" field-type="'number'"> </item-report>
            </div>
            <!--<div role="right-view" class="col-sm-6  col-xs-12">-->
              <!--<item-report data-title="'Folders'" sub-title1="'sub folders'"  value="foldersCount" field-type="'number'"> </item-report>-->
            <!--</div>-->

          </div>
        </div>

        <div class="chart-rows-wrapper">
          <div class="chart-wrapper" ng-if="isFolderReport();">
            <highcharts-histogram-chart chart-type="'bar'" histogram-data="chartsData.fileType" chart-title="'File types'" my-height="220"></highcharts-histogram-chart>
          </div>
          <div class="chart-wrapper" ng-if="isGroupReport();">
            <highcharts-histogram-chart chart-type="'bar'" histogram-data="chartsData.fileExtension" chart-title="'File Extensions'" my-height="220"></highcharts-histogram-chart>
          </div>
          <div class="chart-wrapper">
            <highcharts-histogram-chart chart-type="'bar'" histogram-data="chartsData.fileAccess"
                             chart-title="'Files count per modification date'" my-height="220"></highcharts-histogram-chart>
          </div>
          <div class="chart-wrapper" ng-if="charts.tagType">
            <report-chart-widget  chart-info="charts.tagType" chart-data="chartsData.tagType" read-only="true"  style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="charts.docType">
            <report-chart-widget  chart-info="charts.docType" read-only="true"  chart-data="chartsData.docType" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="charts.department">
            <report-chart-widget  chart-info="charts.department" read-only="true"  chart-data="chartsData.department" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="charts.matter">
            <report-chart-widget  chart-info="charts.matter" read-only="true"  chart-data="chartsData.department" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="isFolderReport();">
            <report-chart-widget chart-info="charts.group" read-only="true"  chart-data="chartsData.group" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="isGroupReport();">
            <report-chart-widget chart-info="charts.rootFolder" read-only="true"  chart-data="chartsData.rootFolder" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="isFolderReport();" >
            <report-chart-widget chart-info="charts.groupFullyContained" read-only="true"  on-data-bind="onDataBindGroups" chart-data="chartsData.groupFullyContained" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="isFolderReport();">
            <report-chart-widget chart-info="charts.groupNotFullyContained" read-only="true"  on-data-bind="onDataBindGroups" chart-data="chartsData.groupNotFullyContained" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper">
            <report-chart-widget  chart-info="charts.owner" read-only="true"  chart-data="chartsData.owner" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="charts.bizListItemClientsExtraction" >
            <report-chart-widget  chart-info="charts.bizListItemClientsExtraction" read-only="true"  chart-data="chartsData.bizListItemClientsExtraction" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="charts.bizListItemClients">
            <report-chart-widget  chart-info="charts.bizListItemClients" read-only="true"  chart-data="chartsData.bizListItemClients" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper" ng-if="charts.bizListItemConsumersExtractionRule">
            <report-chart-widget  chart-info="charts.bizListItemConsumersExtractionRule" read-only="true"  chart-data="chartsData.bizListItemConsumersExtractionRule" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper"  ng-if="charts.functionalRole">
            <report-chart-widget  chart-info="charts.functionalRole" read-only="true"  chart-data="chartsData.functionalRole" style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper">
            <report-chart-widget  chart-info="charts.aclRead" read-only="true" chart-data="chartsData.aclRead"  style="background: white"></report-chart-widget>
          </div>
          <div class="chart-wrapper">
            <report-chart-widget  chart-info="charts.aclWrite" read-only="true"  chart-data="chartsData.aclWrite"  style="background: white"></report-chart-widget>
          </div>
        </div>

        <div role="file fifth row " ng-if="isFolderReport() && showSharePermissions" class="row  pdf-page" style="padding-bottom:20px; " >
          <div class="col-xs-8 " role="left-view">
            <div class="form-group"><div class="col-md-2">   Read share permissions: ({{ sharePermissionsData ? sharePermissionsData.length:0 }})</div>
              <div class="col-md-8">
                <span ng-repeat="sPerm in sharePermissionsData">
                  <div style="width: 500px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; padding-bottom:5px;" title="{{sPerm.user}} - {{ sPerm.textPermissions.join(',')}}">
                    {{sPerm.user}} - {{ sPerm.textPermissions.join(',')}}
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="!id">No details. Missing ID</div>
      </div>
    </div>

  </div>
</div>
