 <div class="side-menu" #sideMenu  (scroll)="onSideMenuScroll($event)">
   <div *ngIf="isGeneralAdminUser || isViewLdapConnections">
     <h3>General</h3>
     <a *ngIf="isGeneralAdminUser" class="item" routerLink="/settings/licenseKey">License key</a>
     <a *ngIf="isGeneralAdminUser" class="item" routerLink="/settings/mailSettings">Mail settings</a>
     <a *ngIf="isViewLdapConnections" class="item" routerLink="/settings/ldapConnections" style="text-align: left"><span class="da-i ng-isolate-scope fa fa-user-circle-o"></span>&nbsp;Ldap connections</a>
   </div>
   <div>
     <h3 *ngIf="isScanUser || true" style="padding-top: 7px">Operations</h3>
     <!--a class="item" routerLink="/settings/schedules" ><span class="da-i ion-clock"></span>&nbsp;Schedule groups old</a-->
     <a class="item" routerLink="/settings2/ScheduleGroups" routerLinkActive="selected"><span class="da-i ion-clock"></span>&nbsp;Schedule groups</a>
     <a *ngIf="isScanUser" class="item" routerLink="/settings/mediaConnections" ><span class="da-i fa fa-plug"></span>&nbsp;Media connections</a>
     <a *ngIf="isScanUser" class="item" routerLink="/settings/customerDataCenters" style="text-align: left"><span class="da-i fa fa-university"></span>&nbsp;Data centers</a>
   </div>
   <div>
     <h3 *ngIf="isViewDocTypeTreeUser || isViewTagTypesUser || isDepartmentsUser || isMattersUser || isDateFiltersUser || isSearchPatternsUser || isPatternCategoriesUser || isRegulationsUser" style="padding:10px 0 5px 0;">Discover</h3>
     <a *ngIf="isDepartmentsUser" class="item" routerLink="/settings2/Departments" routerLinkActive="selected"><span class="da-i fa fa-building"></span>&nbsp;Departments</a>
     <a *ngIf="isMattersUser" class="item" routerLink="/settings2/Matters" routerLinkActive="selected"><span class="da-i icon-da-special-matter-icon" style="margin-left: -3px"></span>&nbsp;Matters</a>
     <a *ngIf="isViewDocTypeTreeUser" class="item" routerLink="/settings2/DocTypes" routerLinkActive="selected"><span class="da-i fa fa-bookmark" ></span>&nbsp;DocTypes</a>
     <a *ngIf="isViewTagTypesUser" class="item" routerLink="/settings/tagtypes" routerLinkActive="selected"><span class="da-i fa fa-flag-checkered"></span>&nbsp;Tag types</a>
     <a *ngIf="isDateFiltersUser" class="item" routerLink="/settings2/DateFilters" routerLinkActive="selected"><span class="da-i fa fa-calendar-plus-o"></span>&nbsp;Date partitions</a>
     <a *ngIf="isSearchPatternsUser" class="item" routerLink="/settings2/SearchPatterns" routerLinkActive="selected"><span class="da-i ion-ios-keypad-outline"></span>&nbsp;Search patterns</a>
     <a *ngIf="isPatternCategoriesUser" class="item" routerLink="/settings2/PatternCategories" routerLinkActive="selected"><span class="da-i fa fa-cubes"></span>&nbsp;Pattern categories</a>
     <a *ngIf="isRegulationsUser" class="item" routerLink="/settings2/Regulations" routerLinkActive="selected"><span class="da-i fa fa-book"></span>&nbsp;Regulations</a>
     <a *ngIf="isFiltersUser" class="item" routerLink="/settings2/SavedFilters" routerLinkActive="selected"><span class="da-i fa fa-filter"></span>&nbsp;Saved filters</a>
     <a *ngIf="isFiltersUser" class="item" routerLink="/settings2/SavedViews" routerLinkActive="selected"><span class="da-i fa fa-image"></span>&nbsp;Views</a>
   </div>
   <div>
     <h3 *ngIf="isDashboardsUser" style="padding:10px 0 5px 0;">Dashboard</h3>
     <a *ngIf="isDashboardsUser" class="item" routerLink="/settings2/SavedDashboards" routerLinkActive="selected"><span class="da-i fa fa-television"></span>&nbsp;Saved dashboards</a>
     <a *ngIf="isDashboardsUser" class="item" routerLink="/settings2/SavedWidgets" routerLinkActive="selected"><span class="da-i fa fa-th-large"></span>&nbsp;Widgets</a>
   </div>
   <div *ngIf="isTechSupportUser">
     <h3  style="padding:10px 0 5px 0;">Tech</h3>
     <a class="item" routerLink="/settings2/LogLevels" routerLinkActive="selected"><span class="da-i fa fa-ticket" ></span>&nbsp;Log levels</a>
   </div>
 </div>
 <div class="main-container">
   <router-outlet ></router-outlet>
 </div>


