settings {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 22px;
  margin-left: -5px;

  .side-menu {
    height: 100%;
    width: 180px;
    min-width: 180px;
    margin-top: 1px;
    overflow-y: auto;

    h3 {
      color: #676A6C;
    }

    .item {
      display: block;
      padding: 9px 7px 6px 8px;
      font-size: 12px;
      color: rgb(103, 106, 108);
      font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 600;

      &.selected {
        border-left: 4px solid #f46f17;
      }

      &:hover {
        cursor: pointer;
        background-color: #eeeeee;
        text-decoration: none;
      }
    }
  }

  .main-container {

    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 15px;

    .header {
      padding-bottom:3px;
      width: 100%;
      cursor: pointer;

      .settings-breadcrumb {
        margin-top: -3px;
      }

      .header-line {
        display: flex;
        align-items: center;

        h4 {
          margin: 0 !important;
        }
      }

      .header-item {
        padding-top: 12px;
      }
    }

    .outlet {
      flex: 1;
      width: 100%;
    }
  }
}
