<div >
  <label *ngIf="!singleSelection" > {{actionName|translate}} <span *ngIf="classType">{{classType|translate}}s</span>:
    <span *ngIf="savedItemExceededMax">{{totalItems}}</span>
    <span *ngIf="!savedItemExceededMax&&showCheckboxes">
    ({{checkedSelectedItems.length}}/{{allSelectedItems.length}} checked)</span>
    <span *ngIf="!savedItemExceededMax&&!showCheckboxes">
    {{checkedSelectedItems.length}}</span>
  </label>
  <div *ngIf="!singleSelection" role="menu" class="btn-group pull-right"  >
    <button  data-toggle="dropdown"  class="button-menu-ddl dropdown-toggle">
      <span class="fa fa-ellipsis-v" ></span>
    </button>
    <ul class="dropdown-menu">
      <li> <a class="btn btn-xs btn-link" (click)="changeCheckAll(true)" [attr.disabled]="savedItemExceededMax"><i class="fa fa-check"></i>&nbsp; Check all</a></li>
      <li> <a class="btn btn-xs btn-link" (click)="changeCheckAll(false)" [attr.disabled]="savedItemExceededMax"><i class="fa fa-square-o"></i>&nbsp;Uncheck all</a></li>
      <li> <a class="btn btn-xs btn-link" (click)="removeAllUnchecked()" [attr.disabled]="savedItemExceededMax"><i class="fa fa-trash-o"></i>&nbsp;Remove unchecked</a></li>
      <li class="divider"></li>
      <li> <a class="btn btn-xs btn-link" *ngIf="createNewSelectedItemFromText!=null" (click)="openUploadFromFileDialog()" title="Import from csv or text file">Import from file</a></li>
      <li class="dropdown-submenu" *ngIf="importListFromEntityFilterDataFn">
        <a (click)="$event.preventDefault();">Import from filter</a>
        <ul class="dropdown-menu">
          <li>
            <a (click)="importListFromEntityFilterDataFn(importAutoEntity1)">Load current {{importAutoEntity1.toString()|translate}}</a>
            <a (click)="importListFromEntityFilterDataFn(importAutoEntity2)">Load current {{importAutoEntity2.toString()|translate}}</a>
          </li>
        </ul>
      </li>
      <li> <a class="btn btn-xs btn-link" (click)="exportToExcel()" >Export</a></li>
    </ul>
  </div>
  <div *ngIf="!singleSelection" role="selected items" style="max-height: 115px; overflow: auto;margin-bottom: 10px;" [ngStyle]="savedItemExceededMax ? { 'max-height':'141px' } : { 'max-height': '115px' }" scroll-to-bottom scroll-data="allSelectedItems">
    <div  class='checkbox show-on-hover' [ngClass]="{'disabled':savedItemExceededMax}"  style="position: relative;" *ngFor='let selectedItem of allSelectedItems ' >
      <label><input *ngIf="showCheckboxes" [ngClass]="{'disabled':savedItemExceededMax}" type='checkbox' [(ngModel)]='selectedItem.active'  (change)="checkedChange(selectedItem)"  />
        <span title='{{selectedItem.item.title?selectedItem.item.title:(selectedItem.item.subdisplay?selectedItem.item.subdisplay:selectedItem.item.display?selectedItem.item.display:selectedItem.item.id)}}'>{{(selectedItem.item.display?selectedItem.item.display:selectedItem.item.id)}}</span></label>

      <a *ngIf="!savedItemExceededMax" class='btn btn-link btn-sm top-right-position' title="Remove this item"  style="top:3px;"><i class='fa fa-times' (click)="removeSelectedItem(selectedItem)"></i></a>
    </div>

  </div>
  <div *ngIf="savedItemExceededMax" style="margin-top: 10px;"><span>Total of {{totalItems}}</span> <a class="btn btn-flat btn-sm"  (click)="openAllValueItemsInDialog()" >Manage</a></div>

  <div *ngIf="!savedItemExceededMax&& options!='true'" role="input no options" style="margin-top: 10px;">
    <div *ngIf="classType!='folder'"  style="position: relative;">
      <input type="text" class="form-control has-right-icon" [(ngModel)]="selectedItem" id='param' autocomplete="off" name="{{name}}"
             (enter)="addNewByUserText(selectedItem)" type="text" select-text-if="textEntered" (keypress)="textEntered=false;"
             placeholder="New {{actionName|translate}}"/>
      <span *ngIf="selectedItem&&selectedItem!=''" class="btn btn-link top-right-position" style="top:2px; ">
          <a  (click)="addNewByUserText(selectedItem);" title="Add" ><span class="fa fa-check"></span></a>
          </span>
    </div>
    <div class="right-btn-outside" *ngIf="classType=='folder'">
      <a class="btn btn-flat " (click)="openBrowseServerFoldersDialog()" >Browse</a>
      <div >
        <input type="text" class="form-control" [(ngModel)]="selectedItem" name="{{name}}"  autocomplete="off" [attr.required]="required"
               (enter)="addNewByUserText(selectedItem)" type="text" select-text-if="textEntered" (keypress)="textEntered=false;"
               placeholder="New {{actionName|translate}}"/>
      </div>
    </div>
  </div>

  <!-- ui-select ng-if="!savedItemExceededMax&&options=='true'" allow-free-text="false" ng-required="required" name="{{name}}" role="input with options"
             ng-model="selectedItem" on-select="optionSelected($item, $model,$select)" sortable="true" autofocus="true"
             theme="bootstrap" reset-search-input="true" >

    <ui-select-match placeholder="Select {{createNewSelectedItemFromText? 'or type':''}} {{classType|translate}}" class="ellipsis" >{{getSelectedText(selectedItem.display)}}</ui-select-match>

    <ui-select-choices theme="select2" multiple="!singleSelection" tagging  repeat="actionOption in (itemsOptions | filter: $select.search) track by $index "
                       refresh="refreshUserText($select)" refresh-delay="0">
      <div title="{{actionOption.display }}" ng-bind-html="actionOption.display | highlight: $select.search" ng-class="{ 'btn btn-flat btn-sm' :actionOption.id==CREATE_NEW_OBJECT}"></div>
      <small title="{{actionOption.title?actionOption.title: (actionOption.subdisplay ? actionOption.subdisplay :'')}}">
        {{actionOption.subdisplay?actionOption.subdisplay :''}}
      </small>
    </ui-select-choices>
  </ui-select -->

</div>
