<div>
    <div class="panel-header" >
      <div class="header-item pull-right" style="position:relative" role="export">
        <div class="btn-group dropdown">
          <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export options" ng-class="{'disabled':exportToExcelInProgress}" ng-disabled="exportToExcelInProgress">
            <i class="fa fa-download"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu pull-right"  >
            <li> <a ng-click="onExportTagTypesToExcel();" title="Download data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp; As Excel</a></li>
          </ul>
        </div>
      </div>
      <div class="header-item " style="margin-right: 10px;" >
        <h4 style="margin-top: 1px;margin-bottom: 0;"> Tag types ({{totalElements}})</h4>
        <i ng-visible="filterData&&filterData.filter&&filterData.filter.field" class="fa fa-filter notice"></i>
      </div>

      <!--<div class="header-item " style="margin-left: 10px;position: relative">-->

      <!--<input  type="text" class="form-control has-right-icon has-left-icon"  placeholder="Filter " ng-model="userFilterText" ng-enter="userFilterChanged(userFilterText)" />-->
      <!--<span ng-show="userFilterText&&userFilterText!=''" class="top-right-position" style="top:2px; ">-->
      <!--<a  class="btn btn-link btn-sm"  ng-click="clearUserFilter();" title="Clear filter" ><span class="fa fa-times"></span></a>-->
      <!--</span>-->
      <!--<span  class="top-left-position" style="top:2px; ">-->
      <!--<a  class="btn btn-link btn-sm" ng-click="userFilterChanged(userFilterText);" title="Do filter" ><span class="fa fa-search"></span></a>-->
      <!--</span>-->
      <!--</div>-->
      <div  ng-if="isMngTagConfigUser" class="header-item " ng-show="editMode" style="margin-left: 30px;">

        <tags-manage-menu  refresh-data="refreshData" refresh-needed="true" selected-tag-item="tagTypeSelectItem" selected-tag-items="tagTypeSelectItems" parse-tag-item="parseTagItem"></tags-manage-menu>
      </div>
      <div ng-if="isMngTagConfigUser" class="header-item " ng-show="!editMode" style="margin-left: 30px">
        <a class="btn btn-flat btn-xs"  ng-click="editMode=!editMode">Manage</a>
      </div>

    </div>
    <div class="clearfix "></div>
    <!--<tag-types-manage style="display: block;"></tag-types-manage>-->
    <tag-Types-tree-list export-to-excel="onExportToExcel" change-selected-item="changeTagTypeSelectedItem" process-export-finished="exportToExcelCompleted" filter-data="filterData" parse-tag-item="parseTagItem"
                         get-current-url="getRightUrl" get-current-filter="getRightFilter" refresh-data="refreshData" items-selected="onSelectTagTypeItems" item-selected="onSelectTagTypeItem" total-elements="totalElements"></tag-Types-tree-list>

</div>
