<div class="modal-header"  [daDraggable] draggableSelector=".modal-content">
  <h4 class="modal-title" id="modal-basic-title">Choose Doc Type</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeMe()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="doc-type-choose-popup-body modal-body">
  <tree-grid  [treeGridData]="currentData"
              [treeGridEvents]="treeGridEvents"
              [treeGridItemComponent]="docTypeTreeGridItemComponent">
  </tree-grid>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeMe()">Cancel</button>
  <button type="button" [disabled]="!selectedItem" class="btn btn-outline-dark" (click)="choose()">Choose</button>
</div>
