log-levels-grid-header {
  width: 100%;
  position: relative;
  .grid-header {
    .item {
      &.fieldName {
        flex: 1;
      }
      &.fieldLevelType {
        width:150px;
      }
    }
  }
}
