<div class="grid-header grid-header-basic">
  <div class="item fieldName" [attr.data-col-name]="'name'" [attr.data-col-sortable]="true">Name</div>
  <div class="item fieldLevelType" [attr.data-col-name]="'configuredLevel'" [attr.data-col-sortable]="true">Level</div>
</div>


