@import '../../../../../../styles/variables';

tree-grid-pager {

  .pager-wrapper {
    background-color: #f5f5f5;
    border-top: 1px solid #dedbdb;
    display:flex;
    padding: 10px 20px;

    .pager-icon-first {
      background-position: 4px -93px;

      &.disabled{
        background-position: -18px -93px;
      }
    }

    .pager-icon-prev {
      background-position: 4px -49px;

      &.disabled{
        background-position: -18px -49px;
      }
    }

    .pager-icon-next {
      background-position: 5px -12px;

      &.disabled{
        background-position: -16px -12px;
      }
    }

    .pager-icon-last {
      background-position: 6px -70px;

      &.disabled{
        background-position: -15px -70px;
      }
    }

    .pager-icon {
     // background-image: url(#{$images-folder}/sprite.png);
      cursor: pointer;
      display: inline-block;
      width: 25px;
      height: 25px;
      overflow: hidden;
      background-image: url(../../../../../../assets/images/sprite.png);
      font-size: 0;
      line-height: 0;
      text-align: center;
      margin-right: 4px;
      border-radius: 50%!important;
      border: 1px solid #e5e1e1;

      &.disabled{
        cursor: default;
      }
    }

    .page-number{
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 25px;
      border: 1px solid #d6d5d5;
      margin-right: 4px;
      border-radius: 50%!important;
      background: #fff;
    }

    .page-num-input {
      width:70px;
      height: 30px;
      position: relative;
      top: -3px;
      margin: 0px 4px 0px 8px;
    }

    .pager-text-total {
      padding-top: 3px;
      padding-right: 10px;
    }
  }
}
