<div class="pager-wrapper" *ngIf="showPager">
  <div class="pager-icon pager-icon-first" [ngClass]="{disabled:paging.currentPage == 1}" (click)="(paging.currentPage != 1) && moveToPage('first')"></div>
  <div class="pager-icon pager-icon-prev" [ngClass]="{disabled:paging.currentPage == 1}" (click)="(paging.currentPage != 1) && moveToPage('prev')"></div>
  <input type="text" (keypress)="verifyKey($event)" class="form-control page-num-input" id="pageNumInput" name="pageNumInput" maxlength="10" [(ngModel)]="displayPageNumber" required minlength="1" #pageNum="ngModel" placeholder="">
  <span class="pager-text-total" *ngIf="paging.totalPages">/ {{ paging.totalPages }}</span>
  <div class="pager-icon pager-icon-next" [ngClass]="{disabled:paging.currentPage == paging.totalPages}" (click)="(paging.currentPage != paging.totalPages) && moveToPage('next')"></div>
  <div class="pager-icon pager-icon-last" [ngClass]="{disabled:paging.currentPage == paging.totalPages}" (click)="(paging.currentPage != paging.totalPages) && moveToPage('last')"></div>
</div>

