<div class="grid-header grid-header-basic">
  <div class="item fieldName"  [attr.data-col-name]="'name'" [attr.data-col-sortable]="true">Name</div>
  <div class="item fieldOwner"  [attr.data-col-name]="'owner;name'" [attr.data-col-sortable]="true">Owner</div>
  <div class="item fieldAccess"  [attr.data-col-name]="'globalFilter;name'" [attr.data-col-sortable]="true">Scope</div>
</div>
