
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body">
  <div style="padding: 0 10px 0 5px">{{msg}}</div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="dontShowMsgAgain" id="chkDontShowMsgAgain" style="margin-right: 6px;">Do not show this message again.</label>
  </div>
</div>
<div class="modal-footer" >
  <button type="button"  class="btn btn-primary" ng-click="ok()" >Continue</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
