
<div class="modal-header dialog-header-confirm " draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body" style="padding: 10px;" role="bbb" ng-init="init()">
  <div class="form-group col-sm-9" >
    <label class="control-label" for="path1">Folder:</label>

      <input  ng-click="$event.stopPropagation();" focus-if="initiated" id="path1" class="block form-control" ng-model="selectedFolder"
              type="text" ng-enter="search(selectedFolder)" ng-keyup="search(selectedFolder)"
              placeholder="Select a folder or enter path"/>

  </div>
  <div class="clearfix"></div>

  <div class="col-sm-12" style="overflow:auto;margin-top:20px;">
      <server-folders-tree style="overflow:auto;"  restrictedEntityDisplayTypeName="{{mediaType}}"  media-connection-id="mediaConnectionId" reload-data-to-tree="reloadDataRight" refresh-data="refreshDataRight"
                           item-selected="onSelectFolder" find-id="findIdRight" items-selected="onSelectItemsRight" lazy-first-load="lazyFirstLoad" restricted-entity-type-id="dataCenterId"
                           restricted-entity-id="rootFolder" padding-bottom="0"  find-by-path="findByPath" initialized="treeInitialized">
      </server-folders-tree>

  </div>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button"  class="btn btn-primary" ng-click="save()" >Select & Close</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
