
  <div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">
     {{title}}
    </h4>
  </div>
  <div class="modal-body height-xs">
    <p style="white-space: pre">{{bodyText}}</p>
    <input  ng-click="$event.stopPropagation();" focus-if="initiated" class="block form-control" ng-model="inputText"
           ng-enter="save()" type="text"
           placeholder="{{placeholderText}}"/>

    <div ng-if="checkboxList" style="margin-top:  20px;">
      <div ng-repeat="chk in checkboxList" class="form-control">
        <label class="" for="{{$index}}">
          <input type="checkbox" ng-model="selectedValues[$index]" id="{{$index}}">{{chk.name}}</label>
      </div>
    </div>

    <div ng-if="radioList" style="margin-top:  20px;">
      <div ng-repeat="rad in radioList" class="form-control">
        <label class="" for="{{$index}}">
          <input type="radio" ng-model="selectedRadio" id="{{$index}}" ng-value="rad">{{rad.name}}</label>
      </div>
    </div>
  </div>
  <div class="modal-footer" >
    <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

  </div>
