
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button class="close" ng-click="cancel()" type="button">×</button>
  <h4 class="modal-title">
    <span>Confirmation</span>
  </h4>
</div>
<div class="modal-body height-sm">
  <div ng-bind-html="data.msg"></div>
  <div style="padding: 10px 0px">
    <input type="text" size="3" placeholder="Type 'YES'" class="form-control" ng-model="yesInput">
  </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary"  ng-class="{'disabled' : ( yesInput.toLowerCase() != 'yes' )}" ng-click="ok()" >Ok</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
