
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">

  <form class="form-horizontal col-md-10" name="ldapForm" role="form">
    <div class="form-group">
      <label class="control-label col-sm-4" > </label>
      <div class="col-sm-8 checkbox" style="position: relative;">
        <label> <input type="checkbox" name="enableLdapConnection" ng-model="ldapConnection.enabled">Active</label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Name:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" ldapForm.name.$error.required" >*</span>
        <input  ng-click="$event.stopPropagation();"  id="name" name="name" required class="block form-control" ng-model="ldapConnection.name"
                type="text"  />

      </div>
    </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="connectionHost">Host:</label>
          <div class="col-sm-8" style="position: relative">
            <span class="error top-right-position" ng-show=" ldapForm.connectionHost.$error.required" maxlength="4">*</span>
            <input  ng-click="$event.stopPropagation();" id="connectionHost" name="connectionHost" class="block form-control" ng-model="ldapConnection.host" required
                    ng-change="connectivityTest=null;" type="text"  />
          </div>
        </div>


        <div class="form-group ">
          <label class="control-label col-sm-4" for="connectionPort">Port:</label>
          <div class="col-sm-8" style="position: relative">
            <span class="error top-right-position" ng-show=" ldapForm.connectionPort.$error.required" >*</span>
            <input type="number"  ng-click="$event.stopPropagation();" id="connectionPort" name="connectionPort" class="form-control" ng-model="ldapConnection.port" required
                   ng-change="connectivityTest=null;" type="text"  />

          </div>
        </div>



      <div  class="form-group ">
        <label class="control-label col-sm-4" for="serverDialect">Type:</label>
        <div class="col-sm-8"  style="position: relative">
          <span class="error top-right-position" ng-show=" ldapForm.serverDialect.$error.required" >*</span>
            <select id="serverDialect" class='form-control ' ng-model='ldapConnection.serverDialect' required name="serverDialect"
                    ng-options=' ldapOption | translate for  ldapOption in LdapServerDialectOptions'
            ></select>
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="connectionUsername"  >Username:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" ldapForm.connectionUsername.$error.required" >*</span>
        <input  autocomplete="none"  ng-click="$event.stopPropagation();" focus-if="initiated" autocomplete="off" id="connectionUsername" name="connectionUsername" class="block form-control" ng-model="ldapConnection.manageDN"
                ng-change="connectivityTest=null;" type="text" required />

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="connectionPassword">Password:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" ldapForm.connectionPassword.$error.required" >*</span>
        <input   autocomplete="new-password" ng-click="$event.stopPropagation();"  id="connectionPassword" name="connectionPassword" class="block form-control" ng-model="ldapConnection.managerPass"
                ng-change="onPasswordChange" type="password" required />

      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" > </label>
      <div class="col-sm-8 checkbox" style="position: relative;">
        <label> <input type="checkbox" ng-model="ldapConnection.ssl" ng-value="true"  ng-change="connectivityTest=null;">Use SSL</label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" > </label>
      <div class="col-sm-8 col-sm-offset-4" style="position: relative">
        <button class="btn btn-flat btn-sm" ng-click="testConnection()" ng-class="{disabled:!ldapForm.$valid}"
          ng-class="{'disabled':testConnectionInProgress}" ng-disabled="testConnectionInProgress" >Test connection</button>
        <i ng-show="testConnectionInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <span >
          <span class="primary" ng-if="connectivityTest"><i class=" fa fa-check"></i> Success</span>
          <span class="notice" ng-if="!connectivityTest&&connectivityTest!=null" title="{{failureMessage}}">Failed</span>
        </span>
      </div>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
