
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    License key details for server id
    <a clipboard text='serverId' title='copy server id to clipboard' style='color:#999;' >'{{serverId}}'&nbsp;<span class='fa fa-copy gray' ></span></a>
  </h4>
</div>
<div class="modal-body">
  <!--<div class="notice" ng-show="!uploadStringSuccess&&!uploadFileSuccess" style="margin-left: 10px;" ng-bind-html="licenseAlertMessage"></div>-->
  <div class="form-horizontal"  name="myForm" role="form">
    <div class="row " >
      <div >
        <label class="control-label light-font-weight col-sm-2" >Issued to:</label>
        <div class="col-sm-4"> <label class="form-control-static">{{registeredTo}}</label> </div>
      </div>
      <div >
        <label class="control-label light-font-weight col-sm-2" >Created:</label>
        <div class="col-sm-4"> <label class="form-control-static">{{creationDate|date:dateFormat}}</label> </div>
      </div>
    </div>
    <div class="row " style="margin-top: 30px;" >
      <!--<generic-grid fields="fields" data="gridData"></generic-grid>-->
      <label class="control-label light-font-weight col-sm-2" >Restrictions:</label>
      <div class=" col-sm-8" style="height:140px; max-height:140px; overflow-y:auto">
        <!--<div>-->
        <!--<label class="control-label light-font-weight col-sm-7" >Server id:</label>-->
        <!--<div class="col-sm-5"> <label class="form-control-static">{{lic.serverId}}</label> </div>-->
        <!--</div>-->
        <div >
          <label class="control-label light-font-weight col-sm-7" >Scan expiry:</label>
          <div class="col-sm-5"> <label class="form-control-static">{{crawlerExpiry|date:dateFormat}}</label> </div>
        </div>
        <div >
          <label class="control-label light-font-weight col-sm-7" >Login expiry:</label>
          <div class="col-sm-5"> <label class="form-control-static">{{loginExpiry|date:dateFormat}}</label> </div>
        </div>

        <div >
          <label class="control-label light-font-weight col-sm-7" >Max files:</label>
          <div class="col-sm-5"> <label class="form-control-static">{{maxFiles}}</label> </div>
        </div>
        <div >
          <label class="control-label light-font-weight col-sm-7" >Max root folders:</label>
          <div class="col-sm-5"> <label class="form-control-static">{{maxRootFolders}}</label> </div>
        </div>
      </div>
    </div>
    <div class="row " style="margin-top: 30px;" >
      <div class="form-group">
        <label class="control-label light-font-weight col-sm-4" for="name">Enter license key:</label>
        <div class="col-sm-7" style="position: relative">
          <div class="right-btn-outside">
            <a class="btn btn-flat" ng-class="{ disabled:!licText}"  ng-click="uploadLicKey()">Load</a>
            <div style='font-family: "Courier New",Courier,monospace; font-size: 11px;'>
             <textarea ng-click="$event.stopPropagation();" focus-if="initiated" id="name" name="name" class="block form-control"
                       ng-model="licText" ng-change="uploadLicKeyChanged()"
                       ng-enter="uploadLicKey()" type="text" spellcheck="false" ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" >
        <label class="control-label light-font-weight col-sm-4" >Upload license file:</label>
        <div class="col-sm-8">
          <form id="uploadFileForm" method="POST" enctype="multipart/form-data" >
            <label class="btn btn-flat btn-file" for="files" style="width:140px;cursor: hand"> Browse & Upload
              <input type="file"  id="files" name="files"  accept="*" bind-file ng-model="theFile"  class="block" style="visibility: hidden;"/>
            </label>
          <span>
            <span ng-show="theFile"> {{theFile.name }} &nbsp;&nbsp;&nbsp;&nbsp; <small> Size:  {{theFile.size}} bytes</small></span>
          </span>
          </form>
        </div>
      </div>
    </div>
    <div class="row" role="load response" style="height: 40px;">
      <div class="col-sm-offset-2 col-sm-10">
        <span ng-show="uploadFileSuccess||uploadStringSuccess" class="">  <i class="fa fa-check  label-primary"></i>License key valid</span>
        <span ng-show="uploadError" class="notice">  <i  class="fa fa-times fa-lg notice"></i> {{errorUploadMsg}}</span>
      </div >
    </div>
    <!--<div ng-visible="showDetails" class="row ">-->
      <!--<div class="col-sm-6">-->
        <!--<label class="control-label light-font-weight col-sm-7" >Creation date:</label>-->
        <!--<div class="col-sm-5"> <label class="form-control-static">{{creationDate|date:dateFormat}}</label> </div>-->
      <!--</div>-->
      <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
      <!--&lt;!&ndash;<label class="control-label light-font-weight col-sm-7" >Apply date:</label>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-sm-5"> <label class="form-control-static">{{applyDate|date:dateFormat}}</label> </div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--<div class="col-sm-6">-->
        <!--<label class="control-label light-font-weight col-sm-7" >Registered to:</label>-->
        <!--<div class="col-sm-5"><label class="form-control-static">{{lic.registeredTo}}</label> </div>-->
      <!--</div>-->
      <!--<div class="col-sm-6">-->
        <!--<label class="control-label light-font-weight col-sm-7" >Issuer:</label>-->
        <!--<div class="col-sm-5"> <label class="form-control-static">{{lic.issuer}}</label> </div>-->
      <!--</div>-->

      <!--<div class="clearfix"></div>-->
    <!--</div>-->
  </div>
</div>
<div class="modal-footer" >

  <button type="button" class="btn btn-primary" ng-class="{'disabled':!uploadFileSuccess&&!uploadStringSuccess}"  ng-click="apply()">Apply</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
