
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
   Mail notification settings
  </h4>
</div>
<div class="modal-body" style="min-height: 370px;">
  <div  style="margin: 0 35px;">
    <div  style="border-right: #f4f4f4">
      <ul class="nav nav-tabs">
        <li> <a class="btn btn-sm" ng-click="setActiveTab('general')" ng-class="{'btn-flat':activeTab=='general'}">General&nbsp; <span class="error " ng-visible=" !generalForm.$valid" >*</span></a></li>
        <li> <a class="btn  btn-sm" ng-click="setActiveTab('SMTP')" ng-class="{'btn-flat':activeTab=='SMTP'}">SMTP Server &nbsp; <span class="error " ng-visible=" !smtpForm.$valid" >*</span></a></li>
      </ul>
    </div>
    <div style="min-height: 20px"></div>
    <div ng-show="activeTab=='general'" class="col-sm-10 ">
      <form class="form-horizontal" name="generalForm" role="form">
        <div class="form-group">
          <div class="checkbox">
            <label ><input type="checkbox"  ng-model="mailSettings.enabled" >Enabled</label>
          </div>
        </div>
        <div class="form-group" style="position: relative; margin-top:30px;">
          <label for="addresses">Mail Addresses of notification receivers:</label>

          <small class="pull-right">&nbsp;&nbsp;(Comma separated)</small>
          <input type="text" ng-pattern="/^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},?)+$/"  class="form-control" id="addresses" name="addresses" ng-model="mailSettings.addresses" >
          <span class="error pull-right" ng-show="generalForm.addresses.$invalid" >Invalid</span>
        </div>
        </form>
      <!--<span ng-show="!initiated">Loading...</span>-->
    </div>
    <div ng-show="activeTab=='SMTP'"  class="col-sm-11">
      <form class="form-horizontal" name="smtpForm" role="form" autocomplete="off">
        <div class="row">
          <div class="col-sm-8">
             <div class="form-group">
            <label class="control-label col-sm-3" for="connectionHost">Host:</label>
            <div class="col-sm-9" style="position: relative">
              <span class="error top-right-position" ng-show=" smtpForm.connectionHost.$error.required" >*</span>
              <input  ng-click="$event.stopPropagation();" id="connectionHost" name="connectionHost" class="block form-control" ng-model="connection.host" required
                      ng-change="connectivityTest=null;" type="text" placeholder="Host" />

            </div>
          </div>
          </div>
          <div class="col-sm-4">
              <div class="form-group ">
            <label class="control-label col-sm-3" for="connectionPort">Port:</label>
            <div class="col-sm-9" style="position: relative">
              <span class="error top-right-position" ng-show=" smtpForm.connectionPort.$error.required" >*</span>
              <input type="number"  ng-click="$event.stopPropagation();" id="connectionPort" name="connectionPort" class="form-control" ng-model="connection.port" required
                      ng-change="connectivityTest=null;" type="text" placeholder="Port" />
               </div>
          </div>
          </div>
        </div>
          <div class="form-group" style="margin-top: -8px;">
            <label class="control-label col-sm-4" for="encryption" >Encryption:</label>
            <div class="checkbox col-sm-2">
              <label style="font-weight: normal;"><input type="checkbox" ng-model="connection.useSsl" ng-value="true" ng-change="encryptionChanged('ssl')" >SSL</label>
            </div>
            <div class="checkbox col-sm-3">
              <label style="font-weight: normal;"><input type="checkbox" ng-model="connection.useTls" ng-value="true" ng-change="encryptionChanged('tls')">TLS</label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" > </label>
            <div class="col-sm-8 checkbox" style="position: relative;">
                 <label> <input type="checkbox" ng-model="connection.smtpAuthentication" ng-value="true"  ng-change="connectivityTest=null;">Use authentication</label>
             </div>
          </div>
        <fieldset ng-class="{disabled:!connection.smtpAuthentication}">
          <div role="username" class="form-group" ng-class="{disabled:!connection.smtpAuthentication}">
            <label class="control-label col-sm-4" for="connectionUsername">Username:</label>
            <div class="col-sm-8" style="position: relative">
              <span class="error top-right-position" ng-show=" smtpForm.connectionUsername.$error.required" >*</span>
              <input  autocomplete="none" ng-click="$event.stopPropagation();"  id="connectionUsername" name="connectionUsername" class="block form-control" ng-model="connection.username"
                      ng-change="connectivityTest=null;" type="text" ng-required="connection.smtpAuthentication"  autocomplete="off" />

            </div>
          </div>
          <div role="password" class="form-group" ng-class="{disabled:!connection.smtpAuthentication}">
            <label class="control-label col-sm-4" for="connectionPassword">Password:</label>
            <div class="col-sm-8" style="position: relative">
              <span class="error top-right-position" ng-show=" smtpForm.connectionPassword.$error.required" >*</span>
              <input   autocomplete="new-password" ng-click="$event.stopPropagation();"  id="connectionPassword" name="connectionPassword" class="block form-control" ng-model="connection.password"
                      ng-change="connectivityTest=null;" type="password"  ng-required="connection.smtpAuthentication" autocomplete="off" />

            </div>
          </div>
        </fieldset>
          <div class="form-group">
            <label class="control-label col-sm-4" > </label>
            <div class="col-sm-8 col-sm-offset-4" style="position: relative">
              <button class="btn btn-flat btn-sm" ng-click="testConnection()" ng-class="{disabled:!smtpForm.$valid}"
                ng-class="{'disabled':testConnectionInProgress}" ng-disabled="testConnectionInProgress" >Test connection</button>
              <i ng-show="testConnectionInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
              <span >
             <span class="error top-right-position" ng-show="  !smtpForm.url.$error.required && smtpForm.$error.url" >Malformed url</span>
          <span class="primary" ng-if="connectivityTest"><i class=" fa fa-check"></i> Success</span>
          <span class="notice" ng-if="!connectivityTest&&connectivityTest!=null" title="{{failureMessage}}">Failed</span>
        </span>
            </div>
          </div>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
