
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body" >

  <pageable-checkable-items-grid element-name="object-item-values-grid" create-fields-builder="createFields" items-selected="onSelectedItems" item-selected="onSelectedItem"
                                 get-dirty-items="getDirtyItemsFromGrid" add-item="addDirtyItemToGrid" refresh-data="refreshGridData" restricted-entity-id="objectId" on-checkbox-changed="editObjectValueItemActiveState"
                                 get-data-url-builder="getDataUrlBuilder" load-data="loadData"></pageable-checkable-items-grid>
  <pageable-checkable-items-manage-menu selected-items-to-execute-on="selectedItems" refresh-data="refreshData" object-id="objectId"
                                        add-item="addNewObjectValueItem" edit-item="editObjectValueItem" delete-item="deleteObjectValueItem"></pageable-checkable-items-manage-menu>
  <div >
    <input-param options="false" single-selection="true"  on-items-selected="onNewItemAdded" action-name="{{actionName}}"
                 class-type="{{classType}}" load-option-items="loadOptionItems" create-new-selected-item-from-text="createNewSelectedItemFromText"></input-param>
  </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" ng-if="!objectId">Save changes</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>

</div>