
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal col-md-12" name="myForm" role="form" style="margin-top: 30px;">

    <div class="form-group">
      <label class="control-label col-md-2" for="startDate">From:</label>
      <div class="col-md-4">

        <div class="input-group datepicker"  style="position: relative">

          <input type="text" class="form-control " uib-datepicker-popup="{{format}}"   ng-model="startDate" is-open="startopened" datepicker-options="dateOptions" ng-change="dateChanged()"
                 required close-text="Close" ng-focus="startopened=true" placehoder="{{dateTimeFormat}}" id="startDate" name="startDate" alt-input-formats="altInputFormats"/>

          <span class="input-group-btn">
            <button type="button" class="btn btn-flat" ng-click="open1()"><i class="fa fa-calendar"></i></button>
          </span>
        </div>

      </div>
      <label class="control-label col-md-2" for="startDate">To:</label>
      <div class="col-md-4">
        <div class="input-group datepicker"  style="position: relative">
          <input type="text" class="form-control " uib-datepicker-popup="{{format}}" ng-model="endDate" is-open="endopened" datepicker-options="dateOptions"
                 close-text="Close" ng-change="dateChanged()" ng-focus="endopened=true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-flat" ng-click="open2()"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
       </div>
    </div>
<div class="col-xs-12">
  <div class="error " ng-show=" myForm.startDate.$error.required" >'From date' is required</div>
  <div class="error" ng-show=" myForm.$error.startDatehigher" >'Start date' should be earlier or equals to today</div>
  <div class="error " ng-show=" myForm.$error.endDatehigher&&!myForm.$error.startDatehigher" >'End Date' should be later than start date</div>
</div>
  </form>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Set</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
