
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal row" name="myForm" role="form" style="margin-top: 30px;">
      <div class="col-md-7">
        <label class="dialog-form-title" >Date</label>
        <div uib-datepicker ng-model="theDate" class="well well-sm" datepicker-options="dateOptions"  ng-model="theDate"  style="display: inline-block" ng-change="dateChanged()"></div>
      </div>

      <div class="col-md-5">
        <label class="dialog-form-title" >Time</label>
        <div uib-timepicker ng-model="theDate" ng-change="dateChanged()" class="well well-sm" style="display: inline-block" show-meridian="false"></div>
      </div>
  </form>

  <div class="col-xs-12">
    <div class="error" ng-show=" myForm.$error.startDatehigher" >Selected date should be earlier or equals to now</div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <!--<button type="button" class="btn btn-primary float-left" ng-click="clear()" >Remove</button>-->
  <button type="button" class="btn btn-primary" ng-click="save()" >Set</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
