
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    <span ng-if="isMngReportsUser">Save new chart</span>
    <span ng-if="!isMngReportsUser">View chart</span>
  </h4>
</div>
<div class="modal-body height-md">
  <report-chart-widget  chart-info="data" disable-save-button-on-change="true" edit-chart-title-on-change-enabled="true" save-chart="saveNewChart"  ></report-chart-widget>
</div>
<div class="modal-footer" >
  <button ng-if="isMngReportsUser" type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
