<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body">
  <p>{{bodyText}}</p>
  <div ng-show="!fileLoaded" >
    <div class="col-sm-3">
      <form id="uploadFileForm" method="POST" enctype="multipart/form-data" style="padding: 3px;">

        <label class="btn btn-success btn-file" for="files" style="width:140px;cursor: hand"> Choose file ...
          <input type="file"  id="files" name="files"  accept=".csv,.txt" bind-file ng-model="theFile"  class="block" style="visibility: hidden;"/>
        </label>

      </form>
    </div>
    <div class="col-sm-8">
      <h4 ng-show="theFile"> {{theFile.fullPath }} &nbsp;&nbsp;&nbsp;&nbsp; <small> Size:  {{theFile.size}} bytes</small></h4>
      <div style="max-height: 180px; overflow: auto;">{{fileData}}</div>
      <div>{{fileError}}</div>
    </div>

  </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" ng-class="{disabled:!fileRecords||fileRecords.length==0}">Save ({{fileRecords?fileRecords.length:'0'}}) new items</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>




