
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
   Upload {{itemsName}} from csv file
  </h4>
</div>
<div class="modal-body" style="min-height: 315px; ">
  <div class="ibox  panels-container " style="padding: 0;" >
    <div class=" panel-resizable" style="padding: 0;border:0px;background:#fff ;">
      <div  style="background:#fff ;">
        <div role="Choose file" ng-show="!fileUploaded&&!fileValidated" >
          <h3 style="margin-left: 20px;margin-bottom: 20px;">Load list of {{itemsName}} from csv file</h3>
          <div class="col-sm-3">
            <form id="uploadFileForm" method="POST" enctype="multipart/form-data" style="padding: 3px;">

              <label class="btn btn-success btn-file" for="files" style="width:140px;cursor: hand"> Choose file ...
                <input type="file"  id="files" name="files"  accept=".csv" bind-file ng-model="theFile"  class="block" style="visibility: hidden;"/>
              </label>

            </form>
          </div>
          <div class="col-sm-8">
            <h4 ng-show="theFile"> {{theFile.name }} &nbsp;&nbsp;&nbsp;&nbsp; <small> Size:  {{theFile.size}} bytes</small></h4>
            <div>{{fileError}}</div>

          </div>
          <div class="col-sm-12" style="margin-top: 135px;">
            <div class="form-group col-sm-offset-3">
               <span class="checkbox"  ng-show="!fileUploaded&&!fileValidated&&createStubsOptionEnabled" style=" display:inline-block;"  title="Missing references, like data-center or schedule groups will fail record import.<br />Mark this checkbox to automatically create those missing references to allow the import">
                  <label > <input type="checkbox"   ng-value="true" ng-model="createStubs"  />
                    Auto create missing items</label>
               </span>
            </div>
          </div>
        </div>
        <div role="import validation result" ng-show="fileValidated&&!fileUploaded" style="padding: 0 15px;">
            <div class="clearfix"  >
              <div role="toolbar-row" class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-4" >File name:</label>
                  <div class="control-text col-sm-8" >
                    {{theFile.name}}
                   </div>
                </div>

                <div class="form-group" ng-show="!importFailed">
                <label class="control-label col-sm-4" >Found:</label>
                <div class="control-text col-sm-8" >
                  {{validationImportedRowCount+validateErrorsCount+validateWarningsCount+validateDuplicateRowCount}} {{itemsName}}
                </div>
              </div>
                <hr />
                 <div class="form-group" ng-show="!importFailed">
                <label class="control-label col-sm-4" >OK:</label>
                <div class="control-text col-sm-8" >
                  {{validationImportedRowCount}} &nbsp;<span ng-show="validationImportedRowCount>0"  class="fa fa-check label-primary" title=""></span>
                </div>
              </div>
                <div class="form-group" ng-show="!importFailed">
                <label class="control-label col-sm-4" >Warnings:</label>
                <div class="control-text col-sm-8" >
                  {{validateWarningsCount}} &nbsp;<span ng-show="validateWarningsCount>0"  class="fa fa-check label-primary" title=""></span>
                </div>
              </div>
                <div class="form-group" ng-show="!importFailed">
                <label class="control-label col-sm-4" >Duplications:</label>
                <div class="control-text col-sm-8" >
                  {{validateDuplicateRowCount}}&nbsp;<span ng-show="validateDuplicateRowCount>0&&updateDuplicates"  class="fa fa-check label-primary" title=""></span>
                 <span class="checkbox" ng-show="!importFailed&&validateDuplicateRowCount>0" style="margin-top: 0; padding: 0 ; display:inline-block;">
                  <label > <input type="checkbox"   ng-value="true" ng-model="updateDuplicates"  />Update duplications</label>
                </span>
                </div>
              </div>
                <div class="form-group" ng-show="!importFailed">
                  <label class="control-label col-sm-4" >Faulty:</label>
                  <div class="control-text col-sm-8" >
                    {{validateErrorsCount}}&nbsp;
                    <span ng-show="createStubsOptionEnabled&&(validateDuplicateRowCount>0||validateErrorsCount>0)" style=" display:inline-block;" title="Missing references, like data-center or schedule groups will fail record import.<br />Mark this checkbox to automatically create those missing references to allow the import">
                       <span class="checkbox " style="margin-top: 0; padding: 0 2px; display:inline-block;">
                            <label > <input type="checkbox"   ng-value="true" ng-model="createStubs" ng-change="reValidateUploadFileToServer(createStubs)"  />Auto create missing items</label>
                        </span>
                    </span>
                  </div>
                </div>
              </div>


            </div>
            <div class="notice" ng-if="importFailed">{{importResultDescription}}</div>
        </div>
        <div role="import result" ng-show="fileUploaded" style="padding: 0 15px;">
           <div class="clearfix"  >
              <div role="toolbar-row" class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-4" >File name:</label>
                  <div class="control-text col-sm-8" >
                    {{theFile.name}}
                  </div>
                </div>
                  <hr />
                <div class="form-group" >
                  <label class="control-label col-sm-4" >Imported:</label>
                  <div class="control-text col-sm-8" >
                    {{importedRowCount+warningRowCount}}&nbsp;<span ng-show="importedRowCount>0" class="fa fa-check label-primary" title=""></span>
                  </div>
                </div>
                <div class="form-group" >
                  <label class="control-label col-sm-4" >Warnings:</label>
                  <div class="control-text col-sm-8" >
                    {{warningRowCount}}&nbsp;
                  </div>
                </div>
                <div class="form-group" >
                  <label class="control-label col-sm-4" >Faulty:</label>
                  <div class="control-text col-sm-8" >
                    {{errorsRowCount}}
                  </div>
                </div>

              </div>
           </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" >

  <!--<button type="button" class="btn btn-primary" ng-show="!fileUploaded&&!fileValidated" ng-click="validateUploadFileToServer()" ng-class="{'disabled':!theFile}" ng-disabled="!theFile">Validate upload</button>-->
  <button type="button" class="btn btn-primary pull-left" ng-show="!fileUploaded&&theFile&&!fileValidated" ng-click="fileValidated=true" ng-class="{'disabled':!theFile}" ng-disabled="!theFile">Next</button>
   <button type="button" class="btn btn-default pull-left" ng-show="!fileUploaded&&fileValidated" ng-click="fileValidated=false" >Back</button>
  <button ng-show="!importFailed&&!fileUploaded&&fileValidated" class="btn btn-default pull-left" ng-click="downloadValidationResultExcel()">
    <i class="fa fa-download"></i>&nbsp;View validation log
  </button>
  <button  ng-show="fileUploaded&&!importFailed"  class="btn btn-default pull-left"  ng-click="downloadImportResultExcel()">
   <i class="fa fa-download"></i>&nbsp;View import log
  </button>
  <button type="button" class="btn btn-primary" ng-show="!fileUploaded&&fileValidated&&!importFailed" ng-click="uploadFileToServer()"
          ng-class="{'disabled':fileUploadedInProgress||fileUploaded||(!fileUploaded&&(validationImportedRowCount+validateWarningsCount)==0 && (validateDuplicateRowCount>0 &&!updateDuplicates ))}" >
    <i class="fa fa-{{fileUploadedInProgress?'spinner fa-spin':'upload'}}"></i>&nbsp;Import ({{validationImportedRowCount+validateWarningsCount+(validateDuplicateRowCount>0 &&updateDuplicates?validateDuplicateRowCount:0 )}})</button>

  <button type="button"  class="btn btn-default" ng-show="!fileUploaded" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-show="fileUploaded"  ng-click="cancel()">Close</button>

</div>
