:host {
  padding-top: 10px;
  padding-bottom: 5px;
  background: #e1e1e1;
  box-shadow: 0 0 2px #777;
  z-index: 890;
  position: absolute;
  width: 100%;
  height: 37px;
}

.sun-header-main-div {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
}

