<!-- Main view  -->
<div class="panels-container fill-height fill-width" ng-init="init()">
  <div class="row ">
    <div class="col-sm-6 ">
      <img src="assets/images/corpRisk1-1.png" class="img-static-2x2" alt="image">
    </div>
    <div class="col-sm-6 ">
      <img src="assets/images/corpRisk1-2.png" class="img-static-2x2" alt="image">
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-6 ">
      <img src="assets/images/corpRisk2-1.png" class="img-static-2x2" alt="image">
    </div>
    <div class="col-sm-6 ">
      <img src="assets/images/corpRisk2-2.png" class="img-static-2x2" alt="image">
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-6 ">
      <img src="assets/images/corpRisk3-1.png" class="img-static-2x2" alt="image">
    </div>
    <div class="col-sm-6 ">
      <img src="assets/images/corpRisk3-2.png" class="img-static-2x2" alt="image">
    </div>
  </div>
</div>
