gdpr-grid {

  gdpr-open-item-grid-header {

    width:100%;

    .item {

      &.type{
        flex:1;

        .btn {
          padding: 0 5px;
          background: #d1d1d1;
          margin: 2px;
          font-size:12px;
        }
      }
      &.name{
        /* Two values: flex-grow | flex-basis */
        flex:4 150px;
        flex-direction: column;
      }
      &.status{
        flex: 1 1 90px;
      }
      &.createdDate{
        flex: 1 1 100px;
      }
      &.numOfFiles{
        flex: 0 0 120px;
      }
    }
  }
}
