<div class="grid-header">
  <div class="item icon-column" ></div>
  <div class="item name" [attr.data-col-name]="'name'"></div>
  <div class="item status" [attr.data-col-name]="'status'">Status</div>
  <div class="item createdDate" [attr.data-col-name]="'createdDate'">Created</div>
  <div class="item numOfFiles" [attr.data-col-name]="'numOfFiles'">Progress / # files</div>
</div>

