gdpr-grid {
  gdpr-approved-item-grid {
    width:100%;

    .item {
      &.name{
        /* Two values: flex-grow | flex-basis */
        flex:4 150px;
        flex-direction: column;
      }
      &.status{
        flex: 1 1 100px;
      }
      &.submitted-date{
        flex: 1 1 100px;
      }
      &.numOfFiles{
        flex: 0 0 120px;
      }
    }
  }
}
