<div #el class="grid-row" >
  <div class="item icon-column" title="{{dataItem.item.internalDto.workflowType}}"><i class="fa fa-user"></i></div>
  <div class="item name title-primary">
    <div >
      {{dataItem.item.internalDto.requestDetails.firstName}} {{dataItem.item.internalDto.requestDetails.lastName}}
    </div>
    <div >
      <span class="title-third">{{dataItem.item.internalDto.requestDetails.email}}</span>
    </div>
  </div>
  <div class="item status title-secondary" >{{'STATUS.'+dataItem.item.state | translate}}</div>
  <div class="item submitted-date">{{dataItem.item.internalDto.dateLastStateChange| date : 'dd-MMM-yy HH:mm'}}</div>
  <div class="item numOfFiles" >
    <span *ngIf="dataItem.item.actionFilesMaxProgress >0 ">
    {{dataItem.item.approvalFilesProgress}} / {{dataItem.item.actionFilesMaxProgress}}</span>
  </div>
</div>
