<div class="main-div" *ngIf="gridOptions">
  <gridster [options]="gridOptions">
    <button type="button" class="btn btn-primary" style="margin-bottom: 10px" (click)="resetWidgets()">Reset widgets</button>

      <!-- gridster-item [item]="gridItems['rootFolderHealth']">
        <div class="da-dashboard-item" >
          <div class="da-item-header">
            Root Folders health
          </div>
          <div class="da-item-body">
            <chart-component *ngIf="rootFoldersData" [chartType]="rootFoldersData.type" [chartSeries]="rootFoldersData.series" [categories]="rootFoldersData.categories"></chart-component>
          </div>
        </div>
      </gridster-item>

      <gridster-item  [item]="gridItems['runningRate']">
        <div class="da-dashboard-item">
          <div class="da-item-header">
            Running rate file/sec
          </div>
          <div class="da-item-body">

          </div>
        </div>
      </gridster-item>

      <gridster-item  [item]="gridItems['totalFilesFound']">
        <div class="da-dashboard-item">
          <div class="da-item-header">
            Total files found
          </div>
          <div class="da-item-body">

          </div>
        </div>
      </gridster-item -->

    <gridster-item [item]="gridItems['totalFiles']" id="totalFiles" *ngIf="!gridItems['totalFiles'].isHidden">
      <dashboard-item class="dashboard-total-files" [gridItem]="gridItems['totalFiles']" chartTitle="Total files found" >
        <div class="cell left" *ngIf="aggregatedProcessedSize">
          <h1 class="no-margins"><span>{{scannedFilesCounter.counter | number }}</span></h1>
          <small>mapped</small>
        </div>
        <div class="cell right" *ngIf="aggregatedProcessedSize && aggregatedProcessedSize.counter > 0">
          <h1 class="no-margins"><span>{{aggregatedProcessedSize.counter * 1024 * 1024 | bytes }}</span></h1>
          <small title="{{processedFilesCount.counter | number }} processed files">{{processedFilesCount.counter | number }} processed {{processedFilesPercentStr}}</small>
          <small title="{{analyzedFilesCounter.counter | number }} processed files">{{analyzedFilesCounter.counter | number }} analyzed {{analyzedFilesPercentStr}}</small>
        </div>
      </dashboard-item>
    </gridster-item>


    <gridster-item [item]="gridItems['documentStatistics']" id="documentStatistics" *ngIf="!gridItems['documentStatistics'].isHidden">
        <list-report  [gridItem]="gridItems['documentStatistics']" [countReport]="analyedSystemStatistics" caption="System document statistics"></list-report>
    </gridster-item>



    <gridster-item [item]="gridItems['datamapProgress']" id="datamapProgress"  *ngIf="!gridItems['datamapProgress'].isHidden">
        <list-report  [countReport]="systemProgressStatistics"  [gridItem]="gridItems['datamapProgress']" caption="System datamap progress"></list-report>
    </gridster-item>

    <gridster-item  [item]="gridItems['documentsPerGroup']" id="documentsPerGroup" *ngIf="!gridItems['documentsPerGroup'].isHidden">
      <dashboard-chart [disabled]="!showGroupSizeHistogram" [gridItem]="gridItems['documentsPerGroup']"  [chartType]="ChartTypes && ChartTypes.PIE" [chartData]="groupSizeHistogram && groupSizeHistogram.data" chartTitle="Documents per group size range"></dashboard-chart>
    </gridster-item>


    <gridster-item [item]="gridItems['filesPerModification']" id="filesPerModification"  *ngIf="!gridItems['filesPerModification'].isHidden">
      <dashboard-chart [gridItem]="gridItems['filesPerModification']"   [chartType]="ChartTypes && ChartTypes.BAR" [chartData]="fileAccessHistogram && fileAccessHistogram.data" chartTitle="Files count per modification date"></dashboard-chart>
    </gridster-item>

    <gridster-item [item]="gridItems['scannedFiles']" id="scannedFiles" *ngIf="!gridItems['scannedFiles'].isHidden">
      <dashboard-chart [gridItem]="gridItems['scannedFiles']"  [chartType]="ChartTypes && ChartTypes.PIE" [chartData]="fileTypeHistogram && fileTypeHistogram.data" chartTitle="Scanned file types"></dashboard-chart>
    </gridster-item>

  </gridster>
</div>
