system-dashboard {
  .main-div {
    width: 100%;
    height: 100%;
  }

  gridster {
    background-color: transparent;
  }

  gridster-item {
    background-color: transparent;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
  }

  .dashboard-total-files {
    .da-item-body {
      display: flex;
      .cell {
        padding: 5px 0;

        &.left {
          min-width:50%;
          margin-right: 10px;
        }

        &.right {
          display: flex;
          flex-direction: column;
        }

        h1 {
          font-size: 22px;
        }
      }
    }
  }

}
