<div class="modal-header break-text-modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <form class="form-horizontal modal-form-md" name="generalForm" #matterGeneralForm="ngForm" role="form">
    <div  class="form-group form-group-position-relative">
      <label class="control-label" for="matterName">{{ 'NAME' | translate}}:</label>
      <div class="control-field">
        <input type="text" class="form-control" id="matterName" name="matterName" [(ngModel)]="matterItem.name" required minlength="1" maxlength="100" #matterName="ngModel" placeholder="Matter name">
      </div>
      <div class="error error-position" *ngIf="matterName.invalid">*</div>
    </div>
    <div  class="form-group" *ngIf="subMattersOptions && subMattersOptions.length > 0">
      <label class="control-label">Sub matters:</label>
      <div class="control-field control-field-checkbox-area">
        <checkBoxFilter [filterOptions]="subMattersOptions" (filterChanged)="onSubMatterSelectionChanged($event)" style="width: inherit;"></checkBoxFilter>
      </div>
    </div>

    <div  class="form-group">
      <label class="control-label" for="matterDescription">{{ 'DESCRIPTION' | translate}}:</label>
      <div class="control-field">
        <textarea class="form-control" id="matterDescription" name="matterDescription" [(ngModel)]="matterItem.description"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group"><button type="button" class="btn btn-primary" (click)="save()" >{{ 'SAVE' | translate}}</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="cancel()">{{ 'CANCEL' | translate}}</button></div>
  </div>
</div>
