matters-grid-header {
  width: 100%;
  position: relative;
  .grid-header {
    margin-left: 25px;

    .item {
      &.fieldName {
        flex: 1 0 150px;
      }
      &.fieldDescription {
        flex: 1 0 250px;
      }
    }
  }
}
