@import "variables";
gdpr-history-workflow-item {

  .items-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    min-width: 350px;
    position: relative;
    overflow: hidden;

    .tabs {
      display: flex;
      border-bottom:none;
      flex-flow: row wrap;
      justify-content: left;
      margin-left: 10px;
      .item {
        display: flex;
        border-bottom: 1px solid #d7d7d7;
        border-right: 0;
        margin-bottom: -1px;
        line-height: 28px;
        padding: 0 20px;
        cursor: pointer;
        position: relative;
        font-size: 12px;
        white-space: nowrap;
        align-items: center;
        &.selected {
          border: 1px solid #d7d7d7;
          border-bottom: none;
          border-radius: 3px;
          font-weight: bold;
        }
      }
    }

    .list-header {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      padding-top: 0;
      .title {
        display: none;
        flex: 1;
        padding-left: 30px;
       // font-weight: 700;
        color: $navy;
      }

      .actions {
        .btn-close {
          display: none;
          cursor: pointer;

          &:hover {
            color: #2e84c3;
          }
        }
      }
    }

    .list-items {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow-x: hidden;

      .item {
        padding: 10px 30px;
        cursor: pointer;

        .item-header {
          display: flex;
          flex-direction: row;
        //  font-weight: 700;

          .info {
            padding-right: 15px;

            &.actor {
              flex: 1;
            }
          }
        }

        .comment {
          color: gray;
          font-size: 11px;
        }

        &:hover {
          background: #f7f7f7;
          .item-header {
       //     color: #2e84c3
          }
        }
      }
    }

    .footer {
      padding: 10px;

      .btn-add-comment {
        float: right;
        position: relative;

        .comment-dialog {
          display: none;
          position: absolute;
          bottom: -3px;
          right: -3px;
          height: 384px;
          background: white;
          border: 1px solid #ccc;
          width: 305px;
          z-index: 200;
          padding: 20px;

          .title {
            font-weight: bold;
            padding: 10px 0;
          }

          .comment {
            padding-bottom: 20px;

            textarea {
              height: 240px;
            }
          }

          .footer {
            float: right;
          }
        }

        &.show-comment-dialog {
          .comment-dialog {
            display: block;
          }
        }
      }
    }

    .item-details {
      position: absolute;
      right: -100%;
      top: 50px;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease-in-out;
      background: #F3F3F4;

      .header {
        display: flex;
        flex-direction: row;

        .title {
          flex: 1;
          font-weight: 700;
          padding: 10px 30px 20px 30px;
          color: #67afe9;
        }
        .btn-back {
          cursor: pointer;

          &:hover{
            color: #2e84c3;
          }
        }
      }

      .info {
        .row {
          display: flex;
          flex-direction: row;
          padding: 10px 30px 10px 45px;

          .name {
            width: 120px;
            font-weight: 600;
          }
        }
      }
    }

    .workflow-info{

      padding-left: 30px;

      .title {
        padding: 10px 0;
        font-weight: bold;
      }
      .prop {
        display: flex;
        padding: 10px 0;

        .name {
          width: 100px;
        }
      }
    }


    &.show-item-detail {
      .item-details {
        right: 0;
      }
      .list-items {
        display: none;
      }
    }
  }

  &.float {
    .items-wrapper {
      border-left: 2px solid #334250;
      margin-left: 25px;

      .list-header {
        margin-bottom: 15px;
        padding-top: 0px;

        .title {
          display: block;
        }
        .btn-close {
          display: block !important;
        }
      }
    }
  }
}
