<div class="items-wrapper"  [ngClass]="{'show-item-detail':showDetailsPanel}" *ngIf="workflow">
  <div class="list-header">
    <H3 class="title  truncate">{{workflow.requestDetails.firstName}} {{workflow.requestDetails.lastName}}</H3>
    <div class="actions">
       <div class="btn-close" (click)="hide()"><i class="fa fa-times"></i></div>
    </div>
  </div>
  <div class="tabs">
    <div class="item" [ngClass]="{'selected':selectedTab === 'details'}" (click)="onTabItemClick('details')">Details</div>
    <div class="item" [ngClass]="{'selected':selectedTab === 'activities'}" (click)="onTabItemClick('activities')">Activities</div>
    <div class="item" [ngClass]="{'selected':selectedTab === 'comments'}" (click)="onTabItemClick('comments')">Comments</div>
  </div>
  <div class="item-details" *ngIf="selectedItem">
    <div class="header">
      <div class="title">
        <span>{{selectedItem.dateModified | date:'dd-MMM-yy HH:mm'}}</span>
        <span>{{selectedItem.actor}}</span>
      </div>
      <div class="btn-back" (click)="closeDetailsPanel()"><i class="fa fa-arrow-right"></i></div>
    </div>
    <div class="info">
      <div class="row">
        <div class="name">Action Type:</div>
        <div class="val">{{selectedItem.actionType}}</div>
      </div>
      <div class="row">
        <div class="name">Actor:</div>
        <div class="val">{{selectedItem.actor}}</div>
      </div>
      <div class="row">
        <div class="name">Update Time:</div>
        <div class="val">{{selectedItem.dateModified | date:'dd-MMM-yyy HH:mm'}}</div>
      </div>
      <div class="row">
        <div class="name">Update Time:</div>
        <div class="val">{{selectedItem.comment || 'NO Commennt'}}</div>
      </div>
    </div>
  </div>
  <div class="workflow-info" *ngIf="selectedTab === 'details'">
    <div class="title">Person details</div>
    <div class="prop">
      <div class="name">Person ID:</div>
      <div class="val">{{workflow.id}}</div>
    </div>
    <div class="prop">
      <div class="name">Email:</div>
      <div class="val">{{workflow.requestDetails.email}}</div>
    </div>
    <div class="prop">
      <div class="name">First name:</div>
      <div class="val">{{workflow.requestDetails.firstName}}</div>
    </div>
    <div class="prop">
      <div class="name">Last name:</div>
      <div class="val">{{workflow.requestDetails.lastName}}</div>
    </div>
    <div class="prop">
      <div class="name">Birth date:</div>
      <div class="val">{{workflow.requestDetails.birthdate}}</div>
    </div>
  </div>
  <div  class="list-items browser-scroll always-visible thin y-only" [hidden]="selectedTab === 'details'" *ngIf="activityList">
    <div class="item" *ngFor="let activityItem of activityList">
      <div (click)="openDetailsPanel(activityItem)">
        <div class="item-header">
          <div class="info">{{activityItem.dateCreated | date:'dd-MMM-yy HH:mm'}}</div>
          <div class="info actor truncate">{{activityItem.actor}}</div>
        </div>
        <div class="comment truncate">{{activityItem.comment || 'NO COMMENT'}}</div>
      </div>
    </div>
  </div>
  <div class="footer">
      <div class="btn-add-comment" [hidden]="selectedTab !== 'comments'" [ngClass]="{'show-comment-dialog': showAddCommentDialog}">
        <button class="btn btn-primary add-commit" (click)="onAddCommnetButtonClicked()">Add comment</button>
        <div class="comment-dialog" (clickOutside)="onAddCommentDialogClickedOutside($event)">
          <div class="comment">
            <div class="title">Add Comment</div>
            <div><textarea  class="form-control" name="pendingComment" [(ngModel)]="pendingComment" required maxlength="3200" ></textarea></div>
          </div>
          <div class="footer">
            <button class="btn btn-flat" (click)="onAddCommnetDialogCloseClick();">Cancel</button>
            <button class="btn btn-main-opeartion btn-md" (click)="setApproveRequest(pendingComment);" >Add Comment</button>
          </div>
        </div>
      </div>
    </div>
</div>
