  <div class="modal-header">
    <span class="modal-title"><i class="fa fa-check-square-o"></i> {{title}}</span>
    <a  class="close" aria-label="Close" (click)="close(false)">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>

  <div class="model-body">
    <div #viewContainer>
    </div>
  </div>

  <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-default" (click)="onOk($event)">Yes</button>-->
    <!--<button type="button" class="btn btn-primary" (click)="onCancel($event)">No</button>-->
  <!--</div>-->

