dialog-wrapper {
  .modal-header {
    background-color: $header-background-color;
    color: white;
  }


  .confirm-button {
    color: white;
    &.confirm-yes {
      background-color: $yes-border-background-color;;
      border-color: $yes-border-background-color;
    }
    &.confirm-no {
      background-color: $no-background-border-color;
      border-color: $no-background-border-color;
    }
  }

}
