<div class="modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <form class="form-horizontal modal-form-md" name="regulationGeneralForm" #regulationGeneralForm="ngForm" role="form">
    <div  class="form-group form-group-position-relative">
      <label class="control-label" for="regulationName">Name:</label>
      <div class="control-field">
        <input type="text" class="form-control" maxlength="255" id="regulationName" name="regulationName" [(ngModel)]="regulationItem.name" required minlength="1" #regulationName="ngModel" placeholder="Regulation name">
      </div>
      <div class="error error-position" *ngIf="regulationName.invalid">*</div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group"><button type="button" class="btn btn-primary" (click)="save()" >Save</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
  </div>
</div>
