saved-user-view-item-grid {
  width: 100%;
  position: relative;
  .item {
    &.fieldName {
      flex: 1 0 345px;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      max-width: 760px;
    }
    &.fieldOwner {
      flex: 1 0 190px;
      margin-right: 100px;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      max-width: 900px;
    }
    &.fieldAccess {
      flex: 1 0 150px;
      margin-right: 100px;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      max-width: 900px;
    }
  }
}
