<div #el class="grid-row">
  <div class="item fieldName title-primary">
    <a *ngIf="routerLink" [queryParams]="queryParams" [routerLink]="[routerLink]" class="da-link-btn no-special-tooltip" title="{{dataItem.item.name}}">
      <i class="icon {{userViewIcon}} grid-field-icon" style="padding-right: 10px; font-size: 14px;"></i>{{dataItem.item.name}}
    </a>
    <a (click)="itemClicked()" *ngIf="!routerLink" class="da-link-btn no-special-tooltip" title="{{dataItem.item.name}}">
      <i class="icon {{userViewIcon}} grid-field-icon" style="padding-right: 10px; font-size: 14px;"></i>{{dataItem.item.name}}
    </a>
  </div>

  <div class="item fieldOwner">
    {{ dataItem.item.owner ? dataItem.item.owner.name : "System"}}
  </div>

  <div class="item fieldAccess" *ngIf="dataItem.item.globalFilter">
    <i class="icon fa fa-globe grid-field-icon" style="font-size: 14px;"></i>
    {{ 'Public' }}
  </div>

  <div class="item fieldAccess" *ngIf="!dataItem.item.globalFilter">
    <i class="icon fa fa-lock grid-field-icon" style="font-size: 14px;"></i>
    {{ 'Private' }}
  </div>
</div>
