<form class="form-horizontal"  role="form" >
  <div class="form-group ">
    <div class="col-md-2">  <label class="control-label" for="scheduleType">Reoccur:&nbsp;</label></div>
    <div class="col-md-9">
      <select *ngIf="!readOnlyMode" id="scheduleType" name="scheduleType" class='form-control col-sm-6' [(ngModel)]='selectedScheduleType' style="width:100px;">
          <option *ngFor="let scheduleTypeOption of scheduleTypeOptions"  value="{{ scheduleTypeOption }}">
            {{  scheduleTypeOption}}
          </option>
      </select>
      <span *ngIf="readOnlyMode" >{{scheduleConfig.type}} </span>
    </div>
  </div>
  <!--</form>-->
  <!--<form class="form-inline" role="form">-->
  <div class="form-group ">
    <div class="col-md-2"> <label class="control-label" for="every">Every:</label></div>
    <div class="col-md-9">

      <input *ngIf="!readOnlyMode" type="text" class="form-control" name="every" id="every" [(ngModel)]="every" style="width:60px;display: inline-block">
      <span *ngIf="readOnlyMode" >{{scheduleConfig.every}} </span>
      <span *ngIf="isHourly()">hours</span>
      <span *ngIf="isDaily()">days</span>
      <span *ngIf="isWeekly()">weeks</span>
      &nbsp;
      <span class="error" *ngIf="!isValidEvery()" >*</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">   <label class="control-label" for1="atHH">At:</label></div>
    <div class="col-md-9">
      <div>
          <span *ngIf="readOnlyMode &&!isHourly()" >{{scheduleConfig.hour}} </span>
          <span *ngIf="isHourly()" >XX </span>

          <span *ngIf="readOnlyMode" >{{scheduleConfig.minutes}} </span>

          <select *ngIf="!readOnlyMode && !isHourly()" class="form-control" name="HHselect" style="width: 80px;display: inline-block;"  [(ngModel)]="atHH">
            <option *ngFor="let option of startingTimeHoursRange"  value="{{ option }}">{{ option }}</option>
            <option value="">HH</option>
          </select>
        :
          <select *ngIf="!readOnlyMode" [(ngModel)]="atMM" name="MMselect" class="form-control" style="width: 80px;display: inline-block;">
            <option *ngFor="let option of startingTimeHMinutesRange"  value="{{ option }}">{{ option }}</option>
            <option value="">MM</option>
          </select>
        &nbsp;
        <span class="error " *ngIf=" !isValidAtHH()||!isValidAtMM() " >*</span>
      </div>
    </div>
  </div>

  <div class="form-group " *ngIf="isWeekly()">
      <div class="col-md-2">   <label class="control-label" >Days:</label></div>
      <div class="col-md-10 checkbox-group">
                <span *ngIf="!readOnlyMode">
                  <span *ngFor="let day of dayNameOptions" class="checkbox" >
                    <label><input type="checkbox"  [(ngModel)]="day.selected">{{day.value}}</label>
                  </span>
                </span>

                <span *ngIf="readOnlyMode">
                  <span *ngFor="let day of dayNameOptions">
                    <span *ngIf="day.selected">
                      {{day.value|translate}}&nbsp;
                    </span>
                  </span>
                </span>
        <span class="error" *ngIf=" !isValidDayOfTheWeek()" >*</span>
      </div>
  </div>

</form>
