
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">

    <div class="" >
      <!--<label class="control-label col-sm-3" >List:</label>-->
      <div class="col-sm-12" style="margin-top: 7px;" >
        <span >Start analyze entity extraction of {{bizListType | translate}} </span>
        <div style="margin-top: 15px;"><a ng-click="showAdvancedOptions=!showAdvancedOptions" >Advanced options <i class="fa fa-{{showAdvancedOptions?'chevron-up':'chevron-down'}}"></i></a></div>
      </div>
    </div>

  <form class="form-horizontal" name="myForm" role="form" ng-show="showAdvancedOptions">
    <div class="form-group" >
      <label class="control-label col-sm-6" for="group_size_minimum"  >Min group size:</label>
      <div class="col-sm-5">
        <input  ng-click="$event.stopPropagation();" id="group_size_minimum" name="group_size_minimum"  min="0" class="block form-control" ng-model="group_size_minimum"
                type="number"/>
      </div>
      <div class="col-sm-1">
        <span class="error" ng-show="!myForm.group_size_minimum.$valid">*</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="name">Single dominant list in %</label>
      <div class="col-sm-5">
        <input  ng-click="$event.stopPropagation();"  min="0" max="100" name="singleBli_dominant_percentage" class="block form-control" ng-model="singleBli_dominant_percentage"
                type="number"/>
      </div>
      <div class="col-sm-1">
        <span class="error" ng-show="!myForm.singleBli_dominant_percentage.$valid">*</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="name">Single others in %</label>
      <div class="col-sm-5">
        <input  ng-click="$event.stopPropagation();"  min="0" max="100" name="singleBli_others_percentage"  class="block form-control" ng-model="singleBli_others_percentage"
                type="number"/>
      </div>
      <div class="col-sm-1">
        <span class="error" ng-show="!myForm.singleBli_others_percentage.$valid">*</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="name">Single others max count</label>
      <div class="col-sm-5">
        <input  ng-click="$event.stopPropagation();"  min="0"  name="singleBli_others_maxCount"  class="block form-control" ng-model="singleBli_others_maxCount"
                type="number"/>
      </div>
      <div class="col-sm-1">
        <span class="error" ng-show="!myForm.singleBli_others_maxCount.$valid">*</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="name"  >Multiple match min count</label>
      <div class="col-sm-5">
        <input  ng-click="$event.stopPropagation();"  min="0" name="multiMatch_bli_minCount"  class="block form-control" ng-model="multiMatch_bli_minCount"
                type="number"/>
      </div>
      <div class="col-sm-1">
        <span class="error" ng-show="!myForm.multiMatch_bli_minCount.$valid">*</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="name" >Multiple match of other in %</label>
      <div class="col-sm-5">
        <input  ng-click="$event.stopPropagation();" min="0" max="100" name="multiMatch_bli_others_percentage"   class="block form-control" ng-model="multiMatch_bli_others_percentage"
                type="number"/>
      </div>
      <div class="col-sm-1">
       <span class="error" ng-show="!myForm.multiMatch_bli_others_percentage.$valid">*</span>
        </div>
    </div>
  </form>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Start</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>