.bizListsManagement {

  .biz-list-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 284px;
    height: 100% !important;
    overflow: hidden;

    .clients-wrapper {
      position: absolute;
      top: 10px;
      bottom: 50px;
      width: 100%;
      overflow-y: auto;

      .list-per-type {
        padding-bottom: 30px;

        &:last-child {
          padding-bottom: 10px;
        }
      }
    }

    .actions-wrapper {
      position: absolute;
      bottom: 10px;
      height: 37px;
      width: calc(100% - 5px);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #cfcfcf;
    }

  }

  .biz-list-page {
     .main {
       .header {
         padding-bottom: 20px;

         .selected-list-title {
           font-size: 25px;

           .total-items {
             font-size: 21px;
             color: #777;
             padding-left: 3px;
           }

           .inactive {
             color: @disabled-text-color;
             .total-items {
               color: @disabled-text-color;
             }
           }
         }
         .actions {
           display: flex;
           margin: 20px 0 auto 0;

           .in-action {
             font-size: 12px;
             padding-left: 15px;
             position: relative;
             top: 2px;
             color: #616161;

             span {
               font-size: 12px;
               position: relative;
               top: 1px;
             }
           }
         }
       }

       .panel-header {
         padding-left: 5px;

         &.ibox-title {
           padding-top: 0!important;

           .btn {
             margin-top: 1px;
           }
         }
         .ddl-export {
          ul {
            min-width: 0;
            left: -55px;
          }

           li {
             a {
               padding: 3px 10px 0 5px;
               i {
                 &:before {
                   padding-right: 8px;
                 }
               }
             }
           }
         }
       }
     }
   }
}
