<div  class="panels-container fill-height biz-list-page" >

  <div  kendo-splitter class="splitter-element" role="main-view"  k-orientation="'horizontal'"  ng-style="{height:contentHeight(-90)}"
        k-panes='[{ collapsible: false, size: "17%" }
                                                      , { collapsible: false }]'   >
    <div class="sidebar-nav biz-list-sidebar">
      <div class="actions-wrapper">
        <biz-list-manage-menu  biz-list-type="" biz-list-types="listAllowedTypes" reload-data="loadLists" refresh-display="refreshGridDisplay"></biz-list-manage-menu>
      </div>
      <div class="clients-wrapper">
          <div ng-repeat="listType in listPerType" class="list-per-type">
            <div class="list-per-type-item">
              <h3><i class="{{bizListTypeIcon(listType[0].bizListItemType)}}"></i>&nbsp;{{listType[0].bizListItemType | translate}}</h3>
              <ul class="nav navbar-nav-vertical nav-items-md" style="padding-left: 20px;">
                <li class="show-on-hover" ng-class="{active:list.id==selectedNavId}" ng-repeat="list in listType" style="position: relative;">
                  <a ng-click="changeSelectedNav(list);"  ng-class="{inactive:!list.active}"><span bubble="{{list.description}}">{{list.name}}</span><span ng-if="list.itemsCount>0" style="padding-left:5px">({{list.itemsCount}})</span></a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="main" ng-style1="{height:contentHeight(-40)}">

      <div class="header">
        <div class="selected-list-title">
          <span>{{selectedNavItem.bizListItemType == "CONSUMERS" ? "Consumer" : "Clients"}}</span>
          <span> > </span>
          <span ng-class="{inactive:!selectedNavItem.active}">
            <span class="selected-list-name" bubble="{{selectedNavItem.description}}">{{selectedNavItem.name}}</span>
            <span class="total-items" ng-if="selectedNavItem.itemsCount>0">({{selectedNavItem.itemsCount}})</span>
          </span>
        </div>
        <div class="actions">
          <a ng-if="isMngBizListsUser" class="btn btn-link btn-xs" ng-click="editBizList(selectedNavItem);"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
          <a ng-if="isMngBizListsUser" class="btn btn-link btn-xs" ng-click="deleteBizList(selectedNavItem);"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
          <div ng-if="isMngBizListsUser && selectedNavItem.bizListItemType == 'CLIENTS'" class="dropdown">
            <a class="btn btn-link btn-xs" data-toggle="dropdown" class="dropdown-toggle"> Actions&nbsp;<span class="caret"></span></a>
            <ul class="dropdown-menu rich">
              <!-- li ng-if="isRunScansUser && !isRunning"><a ng-click="startExtractionForList(selectedNavId,selectedNavName);"><i class="fa fa-play icon"></i> Extract entities </a></li>
              <li ng-if="isRunScansUser && isRunning"><a ng-click="pauseExtractionForList(selectedNavId,selectedNavName);"><i class="fa fa-pause icon"></i> Extract entities </a></li>
              <li ng-if="isRunScansUser &&  isRunning"><a ng-click="stopExtractionForList(selectedNavId,selectedNavName);"><i class="fa fa-stop icon"></i> Extract entities </a></li -->
              <!--<li><a ng-click="startGroupClassification(selectedNavType);"><i class="fa fa-play icon"></i>Analyze entity extraction</a></li>-->
              <!-- li ng-if=" selectedNavItem.bizListItemType == 'CLIENTS' && isRunScansUser" class="divider"></li -->
              <li ng-if=" selectedNavItem.bizListItemType == 'CLIENTS'"><a ng-click="autoGenerate(selectedNavItem)"><i class="fa fa-magic icon" ></i>Auto generate</a></li>
              <li ng-if=" selectedNavItem.bizListItemType == 'CLIENTS'"><a  ng-click="approveAllPending(selectedNavItem)"><i class="fa fa-check icon"></i>Approve all pending</a></li>
            </ul>
          </div>
          <div class="in-action" ng-if="isRunning">
            <i class="fa fa-cog fa-spin fa-fw"></i>
            <span>Running ({{runningPhase}})</span>
          </div>
        </div>
      </div>

      <biz-list-manage  ng-show1="initiated"  biz-list-type="selectedNavType" biz-list="selectedNavItem" total-list-item-elements="totalListItemElements" edit-mode="true" reload-data-to-biz-list-grid="refreshBizListGridDisplay"
                       change-show-only-active-items="changeShowOnlyActiveItems" template-view="!changeGridView"></biz-list-manage>

    </div>

  </div>
</div>
