<div>
    <a class="btn btn-link btn-xs" ng-if="isClientsBizList()" ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length>1||selectedListItemsToOperate.length==0}" ng-click="openEditBizListSelectedItemsDialog();"><i class="fa fa-pencil"></i>&nbsp;Edit
    </a>
    <a class="btn btn-link btn-xs" ng-if="isClientsBizList()" ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length==0}" ng-click="openDeleteSelectedBizListItems()">
      <i class="fa fa-trash-o"></i>&nbsp;Delete</a>
    <a class="btn btn-link btn-xs" ng-if="isClientsBizList()"  ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length==0}" ng-click="addApproveToSelectedItems();"><i class="fa fa-check"></i>&nbsp;Approve
    </a>
    <a class="btn btn-flat btn-xs" style="margin-left: 20px;" ng-if="isClientsBizList()" ng-click="openNewBizListItemDialog();"><i class="fa fa-plus"></i>&nbsp;Add
    </a>
  <!--&nbsp;-->
    <!--<a class="btn btn-flat btn-xs" ng-click="openUploadBizListItemsDialog();" title="Import items from file"><i class="fa fa-upload"></i>&nbsp;Import-->
    <!--</a>-->
  <!--&nbsp;-->
    <!--<a class="btn btn-flat btn-xs" ng-if="isClientsBizList()" ng-click="openUploadBizListItemsFromFoldersNameDialog();" title="Auto generate items from folder names">Auto generate</a>-->

</div>
