<div>
   <div class="panel-header ibox-title clearfix">
     <div class="header-item pull-right" style="position:relative" role="export">
       <div class="ddl-export dropdown no-fix">
         <a class="btn btn-link dropdown-toggle btn-sm "  data-toggle="dropdown" title="Import or Export data">
           <i class="fa fa-download"></i>
           <span class="caret"></span>
         </a>
         <ul class="dropdown-menu " >
           <li><a href="#" ng-class="{'disabled':exportToExcelInProgress}" ng-click="onExportToExcel()" title="Download data in Excel format"> <i class="fa fa-download "></i>Export</a></li>
           <li><a ng-click="openUploadBizListItemsDialog();" title="Import items from file"><i class="fa fa-upload"></i>Import</a></li>
         </ul>
       </div>
     </div>

     <div class="header-item " ng-visible="!isConsumerBizList();">
       <a ng-click="setShowOnlyActiveItems(!showOnlyActiveItems)" class="btn btn-link btn-sm"  >
         <i ng-show="showOnlyActiveItems " class="fa fa-check-square-o " title="Show items with status 'Active' only" ></i>
         <i ng-show="!showOnlyActiveItems " title="Show all items"  class="fa fa-square-o" ></i>
         &nbsp;Only Active items
       </a>
     </div>
      <div class="header-item " ng-show="editMode" style="margin-left: 15px;">
        <biz-list-items-manage-menu biz-list-id="bizList.id" biz-list-name="bizList.name"  biz-list-type="bizListType"  remote-selected-items-manage-support="true"
                                    reload-data="reloadDataListItems" selected-list-items-to-operate="bizListSelectedItems" grid-find-id="gridFindId"  style="display:inline-block"></biz-list-items-manage-menu>
      </div>
      <!--<div class="header-item " ng-show="editMode&&!isConsumerBizList()">-->
        <!--<a  class="btn btn-link btn-xs" ng-click="approveAllListItems()" ng-class="{disabled:!totalListItemElements||totalListItemElements.length<=0}" title="Approve all pending items"><i class="fa fa-thumbs-o-up"></i> Approve all pendings</a>-->
      <!--</div>-->



  </div>
   <div class="grid">
     <!--<biz-list-items-manage-grid style="height:100%" restrictedEntityDisplayTypeName="{{bizListType}}"-->
      <!--restricted-entity-id="bizListId" item-selected="onSelectItem"  refresh-data="reloadDataListItems" refresh-data="refreshDataListItems"  change-selected-item="changeBizListSelectedItem"-->
       <!--items-selected="onSelectItems" export-to-excel="exportToExcel" lazy-first-load="listItemsLazyFirstLoad" total-elements="totalListItemElements"></biz-list-items-manage-grid>-->

   </div>
</div>

