
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal" name="myForm" role="form">

    <div class="form-group" >
      <label class="control-label col-sm-2" >Type:</label>
      <div class="col-sm-8" >
        <div style="margin-top:8px;"  ng-if="editMode">{{bizListType | translate}}
        </div>
        <select class="form-control" required ng-if="!editMode" ng-model="bizListType" ng-change="onBizListTypeChange(bizListType)" style="width:140px"
                ng-options="typeOption | translate for typeOption in bizListTypes">
        </select>
      </div>
      <div class="col-sm-1">
        <span class="error" ng-show="myForm.bizListType.$error.required" class="help-inline">*</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>


      <div class="col-sm-8">
        <input  ng-click="$event.stopPropagation();" id="name" name="name"  class="block form-control" ng-model="name" required
                type="text"
                placeholder="List name"/>
      </div>
      <div class="col-sm-1">
        <span class="error" ng-show=" myForm.name.$error.required">*</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Active:</label>
      <div class="col-sm-8" style="margin-top: 8px;">
        <div class="toggle btn-active-component" title="Extract this business lists after root folder processing">
          <input type="checkbox" name="toggle" class="toggle-checkbox" id="toggle-group-dashboard" ng-model="active">
          <label class="toggle-label" for="toggle-group-dashboard">
            <span class="toggle-inner"></span>
            <span class="toggle-switch"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="desc">Description:</label>
      <div class="col-sm-8">
        <textarea   id="desc" class="block form-control" ng-model="description" ></textarea>
      </div>
    </div>

    <div class="form-group" ng-visible="isConsumerBizList()">
      <label class="control-label col-sm-2" for="desc">Template:</label>
      <div class="col-sm-8"  >
        <div style="margin-top:8px;"  ng-if="editMode">{{bizLisTemplateType | translate}}
        </div>
        <select class="form-control"  ng-if="!editMode" name="selectBizListTemplateType" ng-model="bizListTemplateType" ng-change="onBizListTemplateTypeChange(bizListTemplateType)"
                ng-options="typeOption.name | translate for typeOption in bizListTemplateTypes"  ng-required='isConsumerBizList()'>
        </select>
        <small ng-visible="bizListTemplateType.description">{{bizListTemplateType.description}}</small>
      </div>
      <div class="col-sm-1">
        <span class="error" ng-show="myForm.selectBizListTemplateType.$error.required">*</span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
