
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal" name="myForm" role="form">
    <div class="form-group" >
      <label class="control-label col-sm-3" >List:</label>
      <div class="col-sm-8" style="margin-top: 7px;" >
        <span >{{bizListType | translate}} > {{bizListName}}</span>

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="name">Name:</label>
      <div class="col-sm-8">
        <span class="error top-right-position" ng-show=" myForm.name.$error.required">*</span>
        <input  ng-click="$event.stopPropagation();" id="name" name="name" required  class="block form-control" ng-model="name"
                type="text"
                placeholder="Item name"/>
      </div>

    </div>
    <div class="form-group" >
      <label class="control-label col-sm-3" >Business ID:</label>
      <div class="col-sm-8" >
        <span class="error top-right-position" ng-show="myForm.businessId.$error.required">*</span>
        <input  ng-click="$event.stopPropagation();"  focus-if="initiated"  id="businessId" name="businessId"  required class="block form-control" ng-model="businessId"
                type="text"
                placeholder="Business ID"/>

      </div>
    </div>
    <div class="form-group" >
      <label class="control-label col-sm-3" >State:</label>
      <div class="col-sm-8 radio-group2" >
          <label ng-repeat="stateOption in states" >
              <input type="radio"   ng-model="$parent.state"  ng-value="stateOption" >
              <span>{{stateOption|translate}}</span>
           </label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" >Aliases ({{aliases.length}}):</label>
      <div class="col-sm-8">
       <ul class="list-unstyled" style="max-height: 150px;overflow: auto;padding: 3px 0;">
         <li ng-if="aliases.length==0" style="margin-top: 7px;">None</li>
         <li ng-repeat="alias in  aliases" style="position: relative;">{{alias.name}}<a ng-click="removeAilas(alias);" class="btn btn-link btn-xs top-right-position"><i class="fa fa-times" title="delete list"></i></a></li>
       </ul>
        <a class="pull-right btn btn-xs btn-flat"  ng-show="!aliasEditMode" style="margin: 5px;" ng-click="aliasEditMode=!aliasEditMode"><i class="fa fa-plus"></i>&nbsp;Add</a>
          <div style="position: relative;">
            <input ng-show="aliasEditMode"  ng-click="$event.stopPropagation();" focus-if="aliasEditMode"  class="form-control" ng-model="newAlias"
                        ng-enter="addAlias()" type="text"
                        placeholder="New alias"/>
            <span ng-show="newAlias&&newAlias!=''" class="btn btn-link top-right-position" >
               <a class1="btn btn-xs" ng-click="addAlias();" title="Add" ><i class="fa fa-check"></i></a>
               <!--<a  class="btn btn-xs" ng-click="newAlias='';$event.stopPropagation();" ><i class="fa fa-times"></i></a>-->
            </span>

          </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
