
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    Upload list items to: {{bizListType |translate}} > {{bizListName}}
  </h4>
</div>
<div class="modal-body">
  <div class="ibox  panels-container fill-height" style="padding: 0;" >
    <div class=" panel-resizable fill-height" style="padding: 0;border:0px;background:#fff ;">
      <!--<div class="panel-header "  ng-if="!fileLoaded" style="background: white">-->
        <!--<div role="title-row"  >-->
          <!--<div style=" width:100%;">-->
            <!--<h4  style="display: inline-block;"  ng-click="$event.stopPropagation();">-->
              <!--{{bizListType |translate}} > {{bizListName}}-->
            <!--</h4>-->
          <!--</div>-->
        <!--</div>-->
       <!--</div>-->
      <div  style="background:#fff ;">
        <div ng-show="!fileLoaded&&!foldersMode" >
          <h3 style="margin-left: 20px;margin-bottom: 20px;">Load list items from csv file</h3>
          <div class="col-sm-3">
            <form id="uploadFileForm" method="POST" enctype="multipart/form-data" style="padding: 3px;">

              <label class="btn btn-success btn-file" for="files" style="width:140px;cursor: hand"> Choose file ...
                  <input type="file"  id="files" name="files"  accept=".csv" bind-file ng-model="theFile"  class="block" style="visibility: hidden;"/>
              </label>

            </form>
          </div>
          <div class="col-sm-8">
            <h4 ng-show="theFile"> {{theFile.name }} &nbsp;&nbsp;&nbsp;&nbsp; <small> Size:  {{theFile.size}} bytes</small></h4>
            <div>{{fileData}}</div>
            <div>{{fileError}}</div>
          </div>

      </div>
        <div style="margin-right: 40px;margin-left: 40px;">

            <form class="form-horizontal" role="form" ng-show="!fileLoaded&&foldersMode" >
              <h3 style="margin-bottom: 20px;">Create list items automatically from folders names</h3>
          <div class="form-group">
            <label class="control-label col-sm-2" for="path">Folder full path:</label>
            <div class="col-sm-6">
              <input  ng-click="$event.stopPropagation();" ng-keypress="importErrorMsg=null;" focus-if="initiated" id="path" class="block form-control" ng-model="folderPath"
                      ng-enter="save()" type="text"
                      placeholder="Full path"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="level">Start level:</label>
            <div class="col-sm-5">
              <input  ng-click="$event.stopPropagation();" ng-keypress="importErrorMsg=null;" style="width: 100px;" focus-if="initiated" id="level" class="form-control" ng-model="level"
                      type="number" min="1" max="3"
                      placeholder="Start level"/>
            </div>
          </div>
         <div class="form-group">
           <div class="col-sm-offset-2 col-sm-8">
             If the business list should be inferred from the folder names directly below the folder you entered, leave it as level 1
           </div>
         </div>
              <div class="notice" ng-show="importErrorMsg">{{importErrorMsg}}</div>
        </form>
        </div>
       <div style="padding: 0 15px;">
        <div class="" ng-show="fileLoaded" >
        <div class="panel-header clearfix" >
          <div role="toolbar-row" class="header-item"  >
            <h3>{{theFile.name}} preview ({{importedRowCount}}) </h3>
          </div>
          <div  class="header-item" ng-if="duplicateRowCount" style="margin-left: 30px;">
            <h3  class="primary">removed duplications ({{duplicateRowCount}}) </h3>
          </div>
          <div  class="header-item"  ng-if="errorsRowCount">
            <h3 class="notice">errors ({{errorsRowCount}}) </h3>
          </div>
        </div>
        <!--<div class="panel-header ibox-title clearfix">-->
          <!--<div class="header-item " >-->
            <!--Loaded records ({{importedRowCount}})-->
          <!--</div>-->
          <!--&lt;!&ndash;<div class="header-item " >&ndash;&gt;-->
            <!--&lt;!&ndash;<biz-list-items-manage-menu biz-list-id="selectedNavId" biz-list-name="selectedNavName"  biz-list-type="selectedNavType" reload-data="reloadDataListItems" selected-list-item-to-operate="selectItem" selected-list-items-to-operate="selectItems" style="display:inline-block"></biz-list-items-manage-menu>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->


        <!--</div>-->
          <div class="notice" ng-if="importErrorMsg">{{importErrorMsg}}</div>
        <div class="grid fill-height" >
          <!--<biz-list-manage-grid style="height:400px" restrictedEntityDisplayTypeName="'bizListType'"  item-selected="onSelectItem"  reload-data-to-grid="reloadDataListItems"-->
                                <!--items-selected="onSelectItems" ></biz-list-manage-grid>-->
        </div>

      </div>
      </div>
    </div>
   </div>
</div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-show="!fileLoaded&&!foldersMode" ng-click="uploadFileToServer()" ng-class="{'disabled':!theFile}" ng-disabled="!theFile">Upload</button>
  <button type="button" class="btn btn-primary" ng-show="!fileLoaded&&foldersMode" ng-click="createListItemsFromFolderNames()" ng-class="{'disabled':!folderPath}" ng-disabled="!folderPath">Create</button>
  <button type="button"  ng-show="importId&&!isConsumerBizList()" class="btn btn-primary" ng-click="save(false)" ng-class="{'disabled':importedRowCount==0}" ng-disabled="importedRowCount==0">Add items ({{importedRowCount}})</button>
  <button type="button"  ng-show="importId" class="btn btn-primary" ng-click="save(true)" ng-class="{'disabled':importedRowCount==0}" ng-disabled="importedRowCount==0" >Add items ({{importedRowCount}}) & Approve</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
