@import "serverComponentHistoryItemGrid/serverComponentHistoryItemGrid";
@import "serverComponentHistoryGridHeader/serverComponentHistoryGridHeader";

server-component-history {
  .component-history-header {
    font-size: 16px;
    font-weight: 600;
  }

  .inner-btn:first-child {
    border-left: none !important;
  }
}
