
  <div class="flex-container-col main-div">
    <div class="header-panel">
      <div class="header-line" >
        <div class="left-panel">
          <div class="header-item component-history-header">
              <span>
                  Status of {{ openComponent.mainTitle }}
              </span>
              <span> ({{ totalSCHompItems | number }})</span>
              <i (click)="loadData(true)" class="header-refresh-btn fa fa-refresh"></i>
          </div>
        </div>
        <div class="right-panel">

          <div class="header-item">
            <div class="btn-group da-btn-group">
              <div class="inner-btn" [ngClass]="{'selected' : !showInGraphMode}" (click)="updateGraphMode(false)">
                <i class="fa fa-table"></i>
              </div>
              <div class="inner-btn" [ngClass]="{'selected' : showInGraphMode}" (click)="updateGraphMode(true)">
                <i class="fa fa-line-chart"></i>
              </div>
            </div>
          </div>


          <div class="header-item"  >
            <da-drop-down *ngIf="!isExporting"  [openOnLeft]="true" [enabled]="true" [dropDownItems]="exportDropDownItems">
              <span  class="icon-button download"   title="Export options"><i class="fa fa-download"></i></span>
            </da-drop-down>
            <span class="header-options-spinner  da-right-spinner" *ngIf="isExporting"><i class="fa fa-spinner fa-spin"></i></span>
          </div>

        </div>
      </div>
    </div>

  <div class="main-panel" style="height: 50vh">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid *ngIf="!showInGraphMode" class="latest-design"
                [treeGridData]="currentSCHData"
                [treeGridEvents]="schTreeGridEvents"
                [treeGridConfig]="treeConfig"
                [hostHeaderParams]="{componentType : openComponent.claComponentDto.claComponentType}"
                [hostComponentParams]="{componentType : openComponent.claComponentDto.claComponentType}"
                [treeGridHeaderComponent]="ServerComponentHistoryGridHeaderComponent"
                [treeGridItemComponent]="ServerComponentHistoryItemGridComponent">
    </tree-grid>
    <chart-component style="width:100%" *ngIf="showInGraphMode" [chartType]="ChartTypes.LINE" [chartSeries]="currentSCHChartSeries"></chart-component>
   </div>
  </div>

