<div class="da-main-div without-top-line"   >
  <filter-div (collapsedChanged)="onCollapseChanged($event)" (filterChanged)="onFilterChanged($event)" [filtersList]="filtersList" [isVisible]="finishLoadInitialData"></filter-div>

  <div class="da-main-div-tree-div">
    <div class="da-main-div-top-line">
      <root-folder-summary  (statusFilterChanged)="onStatusFilterChanged($event)" [summaryObject]="rootFolderSummaryObject"  class="root-folder-summary-div"> </root-folder-summary>
    </div>

    <div class="da-main-div-bottom-line">
      <div  class="da-dashboard-item">
        <loader *ngIf="loading"  [show]="loading"></loader>
        <div class="header-panel">
          <div class="header-line" >
            <div class="left-panel">
              <div class="header-item"  >
                <h4>
                  <span *ngFor="let breadcrumbItem of breadCrumbs; let ind = index" >
                    <span [ngClass]="{'breadcrumb-choose-step' : breadcrumbItem.clickFunc , 'breadcrumb-current-step' :  !breadcrumbItem.clickFunc}" (click)="breadcrumbItem.clickFunc && breadcrumbItem.clickFunc()">
                      {{ breadcrumbItem.title }}
                    </span>
                    <span  *ngIf="!breadcrumbItem.clickFunc"> ({{ (totalRootFolderItems | number)+ ( (rootFolderSummaryObject && rootFolderSummaryObject.totalRootFoldersCount && isWithFilter) ? '/'+ (rootFolderSummaryObject.totalRootFoldersCount | number) : '') }})</span>
                    <span *ngIf="ind < breadCrumbs.length-1" class="breadcrumb-choose-step-seperator"> > </span>
                  </span>
                  <i (click)="loadData(true)" class="header-refresh-btn fa fa-refresh"></i>
                </h4>
              </div>

              <div class="toolbar-spacer"></div>

              <div class="header-item"  >
                  <a  (click)="allCanPlay && runScanFolder()" [ngClass]="{'disabled' : !allCanPlay}"  class="btn btn-xs btn-link" title="{{ 'ROOTFOLDER.TITLE.START_SELECTED' | translate}}">
                    <da-icon href="play"></da-icon>
                  </a>
                &nbsp;
                  <a (click)="allCanPause && pauseScan()" [ngClass]="{'disabled' : !allCanPause}"   class="btn btn-xs btn-link" title="{{ 'ROOTFOLDER.TITLE.PAUSE_SELECTED' | translate}}">
                    <da-icon href="pause"></da-icon>
                  </a>
                &nbsp;
                  <a (click)="allCanStop && stopScan()"  [ngClass]="{'disabled' : !allCanStop}"  class="btn btn-xs btn-link" title="{{ 'ROOTFOLDER.TITLE.STOP_SELECTED' | translate}}">
                    <da-icon href="stop"></da-icon>
                  </a>
                <!-- span  class="icon-button more"  [ngClass]="{'disabled' : !allCanMore}"   title="More scan options"  ><i class="fa fa-ellipsis-h"  (click)="allCanMore && moreOptions()"></i></span -->
              </div>

            </div>
            <div class="right-panel">

              <div class="header-item"  >
                <search-box [searchTerm]="searchTerm" [boxTitle]="'ROOTFOLDER.SEARCH_TITLE' | translate" [boxPlaceholder]="'ROOTFOLDER.SEARCH_PLACE_HOLDER' | translate" (searchChanged)="onSearchChange($event)" >
                </search-box>
              </div>

              <div class="header-item"  >
                <da-drop-down [openOnLeft]="true" [enabled]="true" [dropDownItems]="exportDropDownItems">
                  <span  class="icon-button download"   title="{{ 'EXPORT_TITLE' | translate }}"><i class="fa fa-download"></i></span>
                </da-drop-down>
              </div>

              <div class="header-item"  >
                  <da-drop-down [openOnLeft]="true" [enabled]="true" [dropDownItems]="rootFolderDropDownItems">
                    <span class="icon-button options"><i class="fa fa-ellipsis-v" title="{{ 'ADDITIONAL_OPTIONS' | translate }}"></i></span>
                  </da-drop-down>
              </div>

            </div>
          </div>
        </div>
        <div class="da-item-body" style="overflow-y: auto">
          <div style="right: 0;position: absolute;left: 0;top: 0;bottom: 0;">

            <div class="empty-msg-div" *ngIf="currentData && currentData.items && currentData.items.length ==0 && pageNumber==1">
              <div class="empty-msg-icon fa fa-file-o"></div>
              <div>
                {{ emptyDataError }}
              </div>
            </div>

            <tree-grid *ngIf="(currentData && currentData.items && currentData.items.length > 0) || (pageNumber > 1)"
                       class="checkbox-select"
                       [inTreeMode]="false"
                       [selectionMode]="TreeGridSelectionMode.multi"
                       [initialSortDirection] = "initialSortDirection"
                       [initialSortFieldName]="initialSortFieldName"
                       [treeGridConfig]="treeConfig"
                       [hostComponentParams]="treeParameters"
                       [treeGridData]="currentData"
                       [treeGridEvents]="treeGridEvents"
                       [treeGridItemComponent]="ActiveScanGridComponent"
                       [treeGridHeaderComponent]="ActiveScanGridHeaderComponent">
            </tree-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
