@import "item-grid/root-folder-item-grid";
@import "grid-header/root-folder-item-grid-header";


root-folder {
  tree-grid {
    .header-panel {
      min-width: 1200px !important;
    }
    .content-panel {
      min-width: 1200px !important;
    }

    .scrollable-panel {
      overflow-y: scroll !important;
    }
  }
}


.isMsIe11 {
  root-folder {
    tree-grid {
      .header-panel {
        min-width: 1350px !important;
      }
      .content-panel {
        min-width: 1350px !important;
      }
    }
  }
}
