server-component-history-item-grid {
  width: 100%;
  .item {
    &.dateColumn {
      flex: 1 0 100px;
      word-break: break-all;
    }
    &.countColumn {
      flex: 0 1 150px;
      word-break: break-all;
    }
    &.diskSpace {
      flex: 0 1 200px;
      word-break: break-all;
    }
  }

  .percentage-text{
    display: inline-block;
  }
  .percentage-ruler {
    width: 70px;
    height: 5px;
    border: 1px solid #c9c2c2;
    margin-top: 7px;
    margin-right: 10px;
    display: inline-block;

    .percentage {
      background: #1ab394;
      width: 0;
      height: 100%;
    }
  }
}
