<div #el class="grid-row" *ngIf="componentColumn">
  <div *ngIf="componentColumn.showTimestamp" class="item dateColumn">
    {{  dataItem.item.timestamp | date : CommonConfig.dateTimeFormat }}
  </div>
  <div *ngIf="componentColumn.showDiskSpace" class="item diskSpace">
    <div [innerHtml]="dataItem.item.diskSizeStr"></div>
  </div>

  <div *ngIf="componentColumn.showIngestTaskRequests" class="item countColumn">
    <span style="margin-left:5px;" title="<div class='table'>
        <div class='row'>
          <div class='col'>Total ingest requests:</div>
          <div class='col right'>{{dataItem.item.ingestTaskRequests  | number}}</div>
        </div>
       <div class='row'>
          <div class='col'>Failed requests:</div>
          <div class='col right'>{{dataItem.item.ingestTaskRequestFailure | number}}</div>
        </div>
        <div class='row'>
           <div class='col'>Completed successfully:</div>
           <div class='col right'>{{dataItem.item.ingestTaskRequestsFinished | number}}</div>
        </div>
        <div class='row'>
          <div class='col'>Completed with errors:</div>
          <div class='col right'>{{dataItem.item.ingestTaskRequestsFinishedWithError | number}}</div>
        </div>

      </div>">
      <span>{{dataItem.item.ingestTaskRequestsFinished | number }}</span>
      <span *ngIf="dataItem.ingestTaskRequestsFinishedWithError > 0">/({{dataItem.item.ingestTaskRequestsFinishedWithError  | number }})</span>
      <span *ngIf="dataItem.ingestTaskRequestFailure > 0">/({{dataItem.item.ingestTaskRequestFailure | number }})</span>
      <span>
        <span>/</span>{{dataItem.item.ingestTaskRequests | number }}
      </span>
    </span>
  </div>


  <div *ngIf="componentColumn.showAnalyzeTaskRequests" class="item countColumn">
    <span style="margin-left:5px;" title="<div class='table'>
        <div class='row'>
          <div class='col'>Total analyze requests:</div>
          <div class='col right'>{{dataItem.item.analyzedTaskRequests  | number}}</div>
        </div>
       <div class='row'>
          <div class='col'>Failed requests:</div>
          <div class='col right'>{{dataItem.item.analyzedTaskRequestFailure | number}}</div>
        </div>
        <div class='row'>
           <div class='col'>Completed successfully:</div>
           <div class='col right'>{{dataItem.item.ingestTaskRequestsFinished | number}}</div>
        </div>
      </div>">
      <span>{{dataItem.item.analyzedTaskRequestsFinished | number }}</span>
      <span *ngIf="dataItem.ingestTaskRequestFailure > 0">/({{dataItem.item.analyzedTaskRequestFailure | number:0}})</span>
       <span>
         /<span>{{dataItem.item.analyzedTaskRequests | number }}</span>
       </span>
    </span>
  </div>


  <div *ngIf="componentColumn.showAppServerIngestThroughput" class="item countColumn">
    <span style="margin-left:5px;" title="<div class='table'>
        <div class='row'>
          <div class='col'>Ingest running rate:</div>
          <div class='col right'>{{dataItem.item.ingestRunningThroughput  | number}}</div>
        </div>
       <div class='row'>
          <div class='col'>Average ingest rate:</div>
          <div class='col right'>{{dataItem.item.averageIngestThroughput | number}}</div>
        </div>
      </div>">
      <span>{{dataItem.item.ingestRunningThroughput | number }}</span> /
      <span>{{dataItem.item.averageIngestThroughput | number }}</span>
    </span>
  </div>


  <div *ngIf="componentColumn.showAppServerThroughput" class="item countColumn">
    <span style="margin-left:5px;" title="<div class='table'>
        <div class='row'>
          <div class='col'>Running rate:</div>
          <div class='col right'>{{dataItem.item.analyzedRunningThroughput  | number}}</div>
        </div>
       <div class='row'>
          <div class='col'>Average rate:</div>
          <div class='col right'>{{dataItem.item.averageAnalyzedThroughput | number}}</div>
        </div>
      </div>">
      <span>{{dataItem.item.analyzedRunningThroughput | number }}</span> /
      <span>{{dataItem.item.averageAnalyzedThroughput | number }}</span>
    </span>
  </div>

  <div *ngIf="componentColumn.showScanRequests" class="item countColumn">
    <server-component-broker-template [item]="dataItem.item" [brokerNameField]="'scan_requests'"></server-component-broker-template>
  </div>

  <div *ngIf="componentColumn.showScanResponses" class="item countColumn">
    <server-component-broker-template [item]="dataItem.item" [brokerNameField]="'scan_responses'"></server-component-broker-template>
  </div>

  <div *ngIf="componentColumn.showIngestResponses" class="item countColumn">
    <server-component-broker-template [item]="dataItem.item" [brokerNameField]="'ingest_responses'"></server-component-broker-template>
  </div>

  <div *ngIf="componentColumn.showIngestRequests" class="item countColumn">
    <server-component-broker-template [item]="dataItem.item" [brokerNameField]="'ingest_requests'"></server-component-broker-template>
  </div>

  <div *ngIf="componentColumn.showRealTimeRequests" class="item countColumn">
    <server-component-broker-template [item]="dataItem.item" [brokerNameField]="'realtime_requests'"></server-component-broker-template>
  </div>

  <div *ngIf="componentColumn.showRealTimeResponses" class="item countColumn">
    <server-component-broker-template [item]="dataItem.item" [brokerNameField]="'realtime_responses'"></server-component-broker-template>
  </div>

  <div *ngIf="componentColumn.showControlResponses" class="item countColumn">
    <server-component-broker-template [item]="dataItem.item" [brokerNameField]="'control_responses'"></server-component-broker-template>
  </div>

  <div *ngIf="componentColumn.showContentCheckRequests" class="item countColumn">
    <server-component-broker-template [item]="dataItem.item" [brokerNameField]="'contentcheck_requests'"></server-component-broker-template>
  </div>

  <div *ngIf="componentColumn.showThroughput" class="item countColumn">
    <span style="margin-left:5px" title="`<div class='table'>
        <div class='row'>
           <div class='col'>Map rate:</div>
           <div class='col right'>{{dataItem.item.scanRunningThroughput | number}}</div>
        </div>
        <div class='row'>
          <div class='col'>Ingest rate:</div>
          <div class='col right'>{{dataItem.item.ingestRunningThroughput | number}}</div>
        </div>
      </div>">
      <span>{{ dataItem.item.ingestRunningThroughput | number }}</span> /
      <span>{{ dataItem.item.scanRunningThroughput | number }}</span>
    </span>
  </div>

  <div *ngIf="componentColumn.showStartScanTaskRequests" class="item countColumn">
    <span style="margin-left:5px;" title="<div class='table'>
        <div class='row'>
          <div class='col'>Active maps:</div>
          <div class='col right'>{{dataItem.item.activeScanTasks || 0 | number}}</div>
        </div>
        <div class='row'>
           <div class='col'>Finished maps:</div>
           <div class='col right'>{{dataItem.item.startScanTaskRequestsFinished | number}}</div>
        </div>
        <div class='row'>
          <div class='col'>Total maps:</div>
          <div class='col right'>{{dataItem.item.startScanTaskRequests | number}}</div>
        </div>
        <hr />
        <div class='row'>
          <div class='col'>Completed tasks:</div>
          <div class='col right'>{{dataItem.item.scanTaskResponsesFinished | number}}</div>
        </div>
        <div class='row'>
          <div class='col'>Completed tasks with errors:</div>
          <div class='col right'>{{dataItem.item.scanTaskFailedResponsesFinished | number}}</div>
        </div>
      </div>">
          <span>{{dataItem.item.activeScanTasks || 0 | number}}</span>/
          <span>{{dataItem.item.startScanTaskRequestsFinished | number}}</span>/
           <span>{{dataItem.item.startScanTaskRequests | number}}</span>&nbsp;-
          <span>{{dataItem.item.scanTaskResponsesFinished | number}}</span>
          <span *ngIf="dataItem.item.scanTaskFailedResponsesFinished > 0">{{dataItem.item.scanTaskFailedResponsesFinished  | number}}</span>
    </span>
  </div>

  <div *ngIf="componentColumn.showPhysicalMemory" class="item diskSpace">
    <span style="margin-left:5px" title="<div class='table'>
        <div class='row'>
          <div class='col'>Used memory size:</div>
          <div class='col right'>{{dataItem.item.usedPhysicalMemorySize | bytes}}</div>
        </div>
        <div class='row'>
           <div class='col'>Total memory size:</div>
           <div class='col right'>{{dataItem.item.totalPhysicalMemorySize | bytes}}</div>
        </div>
      </div>">
        <span>{{dataItem.item.usedPhysicalMemorySize | bytes }} / {{dataItem.item.totalPhysicalMemorySize | bytes }} ({{dataItem.item.memoryPercentage}}%)</span>
    </span>
  </div>


  <div *ngIf="componentColumn.showSystemCpuLoad" class="item diskSpace">
    <div class="system-cpu">


      <div class="percentage-ruler">
        <div class="percentage" [ngStyle]="{'width': (dataItem.item.systemCpuLoad * 100)+'%' }"></div>
      </div>


      <div class="percentage-text">{{dataItem.item.systemCpuLoad  * 100 | number  }}%</div>
    </div>
  </div>

</div>
