@import '../styles/variables';

.main-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #f3f3f4;

  .router-outlet {
    //margin-right: auto;
    //margin-left: auto;
    padding: 15px 15px;
    //width: 90%;
    position: absolute;
    top: 86px;
    bottom: 32px;
    right: 0%;
    left: 0%;
    overflow-y: auto;

  }
}
