<div class="main-layout"  [ngClass]="{'isMsIe11' : msie11 }">
  <loader [show]="showLoader" >
  </loader>
  <app-header  ></app-header>

  <div  [hidden]="(isV1Route$ | async)">
    <div class="modal-shadow" [hidden]="!(dialogOpen$ | async)"> dialog open: {{dialogOpen$ | async}}</div>
    <app-sub-header></app-sub-header>
    <div class="router-outlet gray-bg " >
         <router-outlet></router-outlet>
    </div>
  </div>

  <da-doc-1-frame></da-doc-1-frame>
  <app-footer></app-footer>

</div>
