.recipients {
  overflow-y: auto;
  height: 250px;
  overflow-x: hidden;
  padding-right: 25px;

  .recipient-item-wrapper {
    display: flex;
    padding: 5px 0;

    .icon {
      width: 25px;
      padding-top: 3px;
    }
    .recipient-item {
      flex: 1;
    }
  }
}
