<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="close()">×</button>
  <h4 class="modal-title">
    Recipients ({{recipients.length}})
  </h4>
</div>
<div class="modal-body tabbed-dialog clearfix" style="height: 277px;">
  <div class="recipients">
    <div class="recipient-item-wrapper" ng-repeat="recipient in recipients">
       <div class="icon {{recipientIcon}}"></div>
      <div class="recipient-item long-and-truncated" title="{{recipient.address}}">{{recipient.address}}</div>
    </div>
  </div>


</div>
<div class="clearfix"></div>
<div class="modal-footer" >
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
