scan-history {
  scan-history-item-grid {
    width: 100%;
    .item {
      &.id {
        flex: 0 1 50px;
      }
      &.nickName {
        flex: 0 1 200px;
        word-break: break-all;
      }
      &.path {
        flex: 1 0 150px;
        word-break: break-all;

        .notice-info {
          color : #F47521;
          padding-left: 5px;
        }
      }
      &.state {
        flex: 0 1 150px;
      }
      &.runTrigger {
        flex: 0 1 100px;
      }
      &.sGroup {
        flex: 0 1 150px;
      }
      &.startTime {
        flex: 0 1 150px;
      }
      &.period {
        flex: 0 0 100px;
      }
      &.endTime {
        flex: 0 1 150px;
      }
      &.viewBtn {
        flex: 0 1 40px;
      }

    }
  }
}
