<div #el class="grid-row">
  <!-- div class="item id" >{{ dataItem.item['id'] }}</div-->
  <div class="item nickName title-primary" >
    <span title="{{ dataItem.item.rootFolderDto.nickName +'<br>Run id: ' + dataItem.item['id']}}">
      <span *ngIf="isScheduleGroupRun" class="ion-clock"></span>
      {{ dataItem.item.rootFolderDto.nickName }}
    </span>
  </div>
  <div class="item path title-secondary" >
    {{ isBizListExtraction ? dataItem.item.stateString : dataItem.item.rootFolderDto.realPath }}
    <span *ngIf="!dataItem.item.accessible" class="fa fa-exclamation-triangle notice-info" style="padding-right:5px" title="{{ 'HISTORY.TITLE.INACCESSIBILITY_INDICATOR' | translate }}"></span>
  </div>
  <div class="item state" >
    <status-icon [status]="runStatus"></status-icon>
    {{ 'STATUS.'+ runStatus | translate }}
  </div>
  <div class="item viewBtn">
    <span title="{{ (dataItem.isOpen ? 'HISTORY.TITLE.HIDE_DETAILS' : 'HISTORY.TITLE.SHOW_DETAILS') | translate }}" (click)="expandOrCollapseNode()" *ngIf="!isScheduleGroupRun" class="expand-icon fa" [ngClass]="{'fa-chevron-up' : dataItem.isOpen, 'fa-chevron-down' : !dataItem.isOpen}"></span>
  </div>
  <div class="item runTrigger" >{{ (dataItem.item.manual ? 'TRIGGER.MANUAL' : 'TRIGGER.SYSTEM') | translate}}</div>

  <div class="item sGroup" >{{ dataItem.item.scheduleGroupName ?  dataItem.item.scheduleGroupName : ''}}</div>
  <div class="item startTime" >{{ dataItem.item.scanStartTime | date: CommonConfig.dateTimeFormat }}</div>
  <!-- div class="item period" >{{ lastRunElapsedTime | period}}</div -->
  <div class="item endTime" title="{{ lastRunElapsedTime | period }}">{{  dataItem.item.scanEndTime | date:  CommonConfig.dateTimeFormat }}</div>
</div>

<div #runs class="grid-row" *ngIf="(dataItem.isOpen && dataItem.item.jobs)">
  <div  style="width: 100%;padding: 0px 10px;margin-bottom: 20px">
    <last-scan-phases [runStatus]="dataItem.item.runOutcomeState"  [jobList]="dataItem.item.jobs" [runId]="dataItem.item.id" [exportFileName]="(dataItem.item.rootFolderDto.nickName ? dataItem.item.rootFolderDto.nickName : dataItem.item.rootFolderDto.realPath)">
    </last-scan-phases>
  </div>
</div>
