
  <li class="nav-item"   ngbDropdown  #myDrop="ngbDropdown" (openChange)="onDropDownOpenChanged($event)" display="dynamic" placement="{{isRight?'bottom-right':'bottom-left'}}" *ngIf="menuItemGroups && menuItemGroups.length>0 ">
    <a class="nav-link" ngbDropdownToggle [daDisable]="disable">
      <i class="{{iconClass}}"></i> {{menuHeader}}
    </a>
    <div ngbDropdownMenu  >
      <div *ngFor="let group of menuItemGroups; let index = index" >

        <div   da-menu-item [isRight]="isRight" *ngFor="let item of group" [item]="item"></div>
        <div class="divider" *ngIf="index < menuItemGroups.length - 1"></div>

      </div>

    </div>

  </li>

  <li class="nav-item " *ngIf="(routerLinkAuthorized$ | async) && routerLinkUrl">

    <a class="nav-link"  [routerLink]="['/'+routerLink]"  [daDisable]="disable">
      <i class="{{iconClass}}" ></i> {{menuHeader}}
    </a>
  </li>


