<div  class="chart-main-div {{ chartDisplayType }}">
  <div class="no-chart-msg-div" *ngIf="showNoChartMsg && chartDisplayType != ChartDisplayType.GRID && chartDisplayType != ChartDisplayType.SINGLE_VALUE ">
    <div class="no-chart-msg">
      No chart available for the current criteria.
    </div>
  </div>
  <chart-header [path]="headerPath" [bColor]="headerPathColor">
  </chart-header>
  <highcharts-chart *ngIf="(chartDisplayType != ChartDisplayType.GRID && chartDisplayType != ChartDisplayType.SINGLE_VALUE && options && !showNoChartMsg)"
    [Highcharts]="Highcharts"
    [options]="options"
    [callbackFunction]="chartCallback"
    style="width: 100%; height: 100%; display: block;" >
  </highcharts-chart>
  <div *ngIf="chartDisplayType == ChartDisplayType.SINGLE_VALUE" class="chart-with-only-text-msg center-middle-flex-div">
    {{ textMessage }}
  </div>
  <div *ngIf="chartDisplayType == ChartDisplayType.GRID" class="chart-with-grid">
    <table>
      <thead>
        <tr>
          <th>{{ chartInfo.xAxisTitle }}</th>
          <th *ngFor="let seriesObj of chartData.series">
            {{ seriesObj.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoryName of chartData.categories;let ind = index">
          <td>{{ categoryName }}</td>
          <td *ngFor="let parsedSeriesDataArr of parsedDataSeries">
            {{ parsedSeriesDataArr[ind] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
