advanced-chart-component {

  .no-chart-msg-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .no-chart-msg {
    font-size: 16px;
    color: #444444;
  }
  highcharts-chart {
    svg {
      font-family: inherit !important;
    }
  }
  .highcharts-tooltip span {
    height:auto;
    max-width:300px;
    width: 300px;
    overflow:auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space:normal !important;
    background-color: #ffffff !important;
  }


  .chart-main-div {
    width: 100%;
    height: 100%;
    display: block;
  }

  .chart-with-only-text-msg {
    font-weight: normal;
    color : #333333;
    font-size: 28px;
  }

  .chart-with-grid {
    overflow: auto;
    height: 100%;
    table {
      width: 100%;
      table-layout: auto;

      td:first-child, th:first-child {
        padding-left: 15px;
      }
      thead {
        th{
          border-bottom-width: 1px;
          font-size: 12px;
          text-transform: uppercase;
          color: #9a9a9a;
          font-weight: 400;
          padding: 10px 5px 10px 8px;
          vertical-align: middle;
        }
      }
      tbody {
        tr:nth-of-type(odd) {
          background-color: #f9f9f9;
        }
        td {
          border-top: 1px solid #ddd;
          padding: 9px 8px;
          vertical-align: middle;
        }
      }
    }
  }


  .sunburst {
    .highcharts-drillup-button {
      display: none;
    }
  }
}

.with-pager {
  advanced-chart-component {
    table {
      thead {
        th {
          padding: 8px 5px 8px 8px;
        }
      }
      tbody {
        td {
          padding: 7px 8px;
        }
      }
    }
  }
}



