advanced-export-dialog {
  .export-max-records-msg {
    font-size: 12px;
    color: #666666;
  }

  .export-dialog-radio{
    cursor: pointer;
  }

  .export-tab{
    height: 150px;
  }

  .header-msg {
    padding-bottom: 10px;
  }

  .download-ready-msg {
    padding-right: 30px;
    cursor: pointer;
  }

  .error {
    display: inline-block;
    padding-left: 10px;
  }
  .edit-icon {
    width: 20px;
    display: inline-block;
    position: relative;
    top: -5px;
    padding-left: 10px;
    cursor: pointer;
  }

  .file-name-text {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  .file-name-input {
    width: 200px;
    display: inline-block;
  }

  .form-group {
    display: flex;
    align-items: center;

    .control-label {
      width: 100px;
      justify-content: flex-end;
      display: flex;
      padding-right: 30px;
      margin: 0;
    }

    .control-field {
      width: 300px;
      font-weight: bold;
      display : inline-block;
      padding-top: 4px;
    }

    .parent-field {
      div {
        width: 100%;
      }
    }
  }

  .export-dialog-option {
    cursor: pointer;
    padding-bottom: 10px;

    input[type="radio"] {
      position: relative;
      top: 3px;
    }

    &.disabled {
      opacity: 0.7;
    }

    label {
      padding-left: 10px;
      display: inline;
      cursor: pointer;
    }

    .range-input {
      margin-left: 10px;
      padding-left: 10px;
    }

    .range-error{
      color: red;
      font-size: 12px;
      padding-left: 10px;
    }
  }
}
