<div *ngIf="showMe">
  <div class="modal-header" [daDraggable] draggableSelector=".modal-content">
    <span class="modal-title">Advance export</span>
    <a  class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">

    <div  style="margin: 10px 35px 0px;" >
      <div *ngIf="data.suggestItemNumber">
        You are about to export more then {{ CommonConfig.minimum_items_to_open_export_popup }} records.<br>
        This may take time and result in considerably large file.<br><br>
      </div>
      <div  class="col-sm-10 export-tab">
        <div class="export-dialog-option" [ngClass]="{disabled : dataSizeReachTrashold}">
          <input [(ngModel)]="selectOption" [disabled]="dataSizeReachTrashold" class="export-dialog-radio" id="all" name="scanPart"  type="radio" value="all">
          <label for="all"> Export all records {{ data.userParams.itemsNumber? '('+ data.userParams.itemsNumber + ' records)' : '' }}</label>
        </div>

        <div class="export-dialog-option" >
          <input [(ngModel)]="selectOption" class="export-dialog-radio" id="range" name="scanPart"  type="radio" value="range">
          <label for="range"> Export number of records </label>
          <input  type="text" [(ngModel)]="recordsNumber"  (focus)="selectOption = 'range'"  (ngModelChange)="checkRecordsNumber()"  (keyup)="checkRecordsNumber()"  class="range-input form-control">
          <div class="range-error" *ngIf="selectOption == SELECT_OPTIONS.RANGE && rangeErrorMsg">{{ rangeErrorMsg}}</div>
        </div>

        <div class="export-max-records-msg" *ngIf="dataSizeReachTrashold">
          Excel document can contain up to {{ CommonConfig.MAX_EXCEL_RECORDS_IN_FILE | number }} records
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="download-ready-msg" (click)="data.userParams.downloadWhenReady = !data.userParams.downloadWhenReady" title="Leave this tab open for automatic download to take place.">
      <i class="fa" [ngClass]="{'fa-check-square-o' : data.userParams.downloadWhenReady, 'fa-square-o' : !data.userParams.downloadWhenReady}"></i>
      Download when ready
    </div>
    <button type="button" class="btn btn-primary" (click)="runExport()">Continue</button>
    <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
  </div>
</div>
