<div class="modal-header break-text-modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <form class="form-horizontal modal-form-md" name="generalForm" #departmentGeneralForm="ngForm" role="form">
    <div  class="form-group form-group-position-relative">
      <label class="control-label" for="departmentName">{{ 'NAME' | translate}}:</label>
      <div class="control-field">
        <input type="text" class="form-control" id="departmentName" name="departmentName" [(ngModel)]="departmentItem.name" required minlength="1" maxlength="100" #departmentName="ngModel" placeholder="Department name">
      </div>
      <div class="error error-position" *ngIf="departmentName.invalid">*</div>
    </div>
    <div  class="form-group" *ngIf="subDepartmentsOptions && subDepartmentsOptions.length > 0">
      <label class="control-label">Sub departments:</label>
      <div class="control-field control-field-checkbox-area">
        <checkBoxFilter [filterOptions]="subDepartmentsOptions" (filterChanged)="onSubDepartmentSelectionChanged($event)"></checkBoxFilter>
      </div>
    </div>

    <div  class="form-group">
      <label class="control-label" for="departmentDescription">{{ 'DESCRIPTION' | translate}}:</label>
      <div class="control-field">
        <textarea class="form-control" id="departmentDescription" name="departmentDescription" [(ngModel)]="departmentItem.description"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group"><button type="button" class="btn btn-primary" (click)="save()" >{{ 'SAVE' | translate}}</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="cancel()">{{ 'CANCEL' | translate}}</button></div>
  </div>
</div>
