inner-patterns-list {

  .pattern-list-div {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border : solid 1px #cccccc;
    position: relative;
    top: 10px;
  }

  .pattern-list-table {
    width: 100%;
    table-layout: fixed;

    .pattern-icon {
      font-size: 18px;
    }

    tr:first-child {
      color : #444444;

      td {
        padding: 10px 10px;
        font-weight: 600;
      }
    }

    tr:not(:first-child) {
      border-top: solid 1px #cccccc;
      td {
        padding: 5px 10px;
      }
    }

    tr {
      td {
        white-space: normal;
        word-break: break-word;
        word-wrap: break-word;
        vertical-align: top;
      }
    }

  }

}
