<div class="pattern-list-div">
  <table  class="pattern-list-table">
    <tr>
      <td style="width:40px"></td>
      <td style="width:35%">Search pattern</td>
      <td style="width:70px">Active</td>
      <td style="width:45%">Description</td>
      <td style="width:40%">Regulations</td>
    </tr>
    <tr *ngFor="let pattern of patternList">
      <td><i class="pattern-icon ion-ios-keypad-outline"></i></td>
      <td>{{ pattern.name  }}</td>
      <td>{{ pattern.active ? 'On' : 'Off'  }}</td>
      <td>{{ pattern.description  }}</td>
      <td>{{ pattern.regulationStr }}</td>
    </tr>
  </table>
</div>
