<div>
  <div class="panel-header">
    <div class="header-item pull-right" style="position:relative" role="export">
      <div class="btn-group dropdown">
        <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export options" >
          <i class="fa fa-download"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right"  >
          <li> <a ng-click="onExportToExcel();" title="Download data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp; As Excel</a></li>
        </ul>
      </div>
    </div>
    <div class="header-item " style="margin-right: 30px;" >
      <h4 style="margin-top: 1px;margin-bottom: 0;"> Media processors ({{serverComponentTotalElements}})</h4>
      <span style="padding:0 5px;"> of&nbsp;</span>
      <h4 class="selected-item-name"> {{selectedDataCenterItem.name}}</h4>
    </div>
    <div ng-if="isMngScanConfigUser" class="header-item ">
        <ng-include src="'/common/directives/manageMenu.tpl.html'" ></ng-include>
    </div>
  </div>
  <server-components-grid fix-height="300px" include-sub-entity-data="showAllServerComponents"  items-selected="onSelectServerComponents" item-selected="onSelectServerComponent" change-page="changeServerComponentsPage" export-to-excel="exportMediaProcessorToExcel"
                          page-changed="serverComponentPageChanged"  change-selected-item="changeServerComponentSelectedItem" total-elements="serverComponentTotalElements"
                          find-id="findIdServerComponent" refresh-data="refreshData" restricted-entity-id="selectedDataCenterItem.id" lazy-first-load="lazyLoad"
                          filter-data="filterData" restricted-entity-display-type-name="MEDIA_PROCESSOR" process-export-finished="exportMediaProcessorsToExcelCompleted" ></server-components-grid>
</div>
