log-level-item-grid {
   width: 100%;

  .grid-row {
    padding: 3px 0;

    .name {
      flex: 1;
      display: flex;
      align-items: center;
      padding-left: 10px;
    }

    .level {
      width: 150px;
      min-width:150px;
      display: flex;

      a.dropdown-toggle {
        padding-left: 8px !important;
      }
    }

    .level-ddl-item {
      display: flex;
      padding-left: 0;

      .checkbox {
        width: 30px;
        padding-left: 10px;
      }
    }
  }
}


