<div #el class="grid-row">
  <div class="name long-and-truncated"><div class="long-and-truncated" title="{{dataItem.item.name}}">{{dataItem.item.name}}</div></div>
  <div class="level">
    <span class="nav-item dropdown" ngbDropdown autoClose="outside" >
      <da-drop-down [withChangedPosition]="true" [openOnLeft]="true" [withArrow]="true" [enabled]="true" [dropDownItems]="levelDropDownItems">
                    <span>
                      {{ 'LOG_LEVELS.TYPES.'+ dataItem.item.configuredLevel  | translate }}
                    </span>
      </da-drop-down>
     </span>
  </div>
</div>

