search-pattern-admin-item-grid {
  width: 100%;

  .item {
    &.fieldIcon {
      flex: 0 0 30px;

    }
    &.category {
      flex: 0 0 150px;
      word-break: break-all;
    }
    &.subCategory {
      flex: 0 0 150px;
      word-break: break-all;
    }
    &.fieldName {
      flex: 1 1 300px;
      word-break: break-all;
    }
    &.active {
      flex: 0 0 60px;
      cursor: pointer;
    }
    &.regulations {
      flex: 1 1 200px;
      word-break: break-all;
    }
  }

  .inner-link-btn {
    cursor: pointer;
    color: #23527c;
  }
  .inner-link-btn:hover {
    text-decoration: underline;
  }
  .disable-power-icon {
    font-size: 12px;
    padding-left: 5px;
    color: #fd7e14;
  }

}


