<div #el class="grid-row">
  <div class="item fieldIcon icon-column">
    <i class="ion-ios-keypad-outline"></i>
  </div>
  <div class="item fieldName">
    <div class="title-primary">
      {{ dataItem.item.name}}
    </div>

    <div class="title-third">
      {{ dataItem.item.description}}
    </div>
  </div>
  <div class="item active" >
    <div class="title-secondary no-special-tooltip" [ngClass]="{'disabled' : inSetActive}"  (click)="!inSetActive && setActive(!dataItem.item.active)">
      <span *ngIf="dataItem.item.active" class="no-special-tooltip" title="{{ dataItem.item.name}} is active"><span class="fa fa-toggle-on icon-item " ></span> </span>
      <span *ngIf="!dataItem.item.active"   title="{{ dataItem.item.name}} is not active" class="notice no-special-tooltip"><span class="fa fa-toggle-off notice icon-item" ></span> </span>
    </div>
  </div>
  <div  class="item category title-secondary">
    <a [queryParams]="{selectedItemId: dataItem.item.categoryId}"  [routerLink]="['/settings2/PatternCategories']" class="inner-link-btn title-secondary no-special-tooltip"   title="{{  dataItem.item.categoryName }}">{{ dataItem.item.categoryName}}</a>
  </div>
  <div class="item subCategory title-secondary">
    <a [queryParams]="{selectedItemId: dataItem.item.subCategoryId}"  [routerLink]="['/settings2/PatternCategories']" class="inner-link-btn title-secondary no-special-tooltip"   title="{{  dataItem.item.subCategoryName }}">{{ dataItem.item.subCategoryName}}</a>
    <i *ngIf="!dataItem.item.subCategoryActive" class="disable-power-icon fa fa-exclamation-triangle" title="Sub category is not active."></i>
  </div>
  <div class="item regulations title-primary">
    <span *ngFor="let regId of dataItem.item.regulationIds; let ind = index">
      {{ ind>0 ? ',' : ''}}
      <a [queryParams]="{selectedItemId: regId}"  [routerLink]="['/settings2/Regulations']" class="inner-link-btn no-special-tooltip"   title="{{  regulationStrs[ind] }}">  <i class="fa fa-book"></i> {{ regulationStrs[ind] }}</a>
    </span>

  </div>
</div>

