<div class="modal-header"  [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <form class="add-docType-form form-horizontal" #docTypeForm="ngForm" role="form">
    <div class="form-group" style="height: 30px" [hidden]="editMode">
      <label class="control-label" for="name">Parent:</label>
      <div class="control-field parent-field">
        <div *ngIf="parentId">
           <span>{{parentName}}</span>
           <a class="pull-right btn btn-xs btn-flat" (click)="removeParent()" *ngIf="parentId">Locate at top</a>
        </div>
        <div *ngIf="!parentId" style="line-height: 22px">First level DocType</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Name:</label>
      <div class="control-field name-field" >
        <input  class="form-control" (click)="$event.stopPropagation();" #docTypeName id="name" name="name" (enter)="save()" type="text" [(ngModel)]="inputText" required minlength="1" #name="ngModel" placeholder="DocType name"/>
      </div>
      <div class="error" *ngIf="name.invalid">*</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="desc">Description:</label>
      <div class="control-field">
        <textarea class="form-control" id="desc" name="desc" [(ngModel)]="description" #desc="ngModel" ></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" [hidden]="editMode" class="btn btn-primary" (click)="save(true)">Save & Create another</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save </button>
  <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
</div>


