<form class="form-horizontal" role="form" style="margin-top: 10px;">
  <div class="form-group">
    <label for="name"  class="col-sm-4" style="text-align: right;" >Data center:</label>
    <div class="col-sm-8 " ng-if="choose_dc.dataCenterSavedSelectedItems">
      <input-param options="true" single-selection="true"  on-items-selected="choose_dc.onDataCenterItemSelected" action-name="{{'Datacenter'}}"
                   class-type="datacenter"  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="choose_dc.openNewDataCenterDialog"
                   saved-selected-items="choose_dc.dataCenterSavedSelectedItems" load-option-items="choose_dc.loadDataCenterOptionItems"
                   create-new-option-from-item="choose_dc.createDataCenterParamOption"></input-param>
    </div>
    <div class="col-sm-offset-4 col-sm-8" ng-show="choose_dc.selectedDataCenter" ><small>{{choose_dc.selectedDataCenterSubdisplay}}</small></div>
  </div>
  <!--<div class="form-group" >-->

    <!--<div class="col-sm-8 col-sm-offset-4" style="min-height: 35px;">-->
      <!--&lt;!&ndash;<div ng-show="!choose_dc.selectedDataCenter">Not selected</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div ng-show="choose_dc.selectedDataCenter">{{choose_dc.selectedDataCenter.name}}</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div ng-show="choose_dc.selectedDataCenter" ><small>{{choose_dc.selectedDataCenterSubdisplay}}</small></div>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->


</form>
