<form class="form-horizontal"  role="form" >
  <div class="form-group ">
    <div class="col-md-2">  <label class="control-label" for="scheduleType">Reoccur:&nbsp;</label></div>
    <div class="col-md-9">
      <select ng-show="!readOnlyMode" id="scheduleType" class='form-control col-sm-6' ng-model='selectedScheduleType' style="width:100px;"
              ng-options=' scheduleTypeOption  | translate  for  scheduleTypeOption in scheduleTypeOptions'
      ></select>
      <span ng-show="readOnlyMode" >{{scheduleConfig.type}} </span>
    </div>
  </div>
  <!--</form>-->
  <!--<form class="form-inline" role="form">-->
  <div class="form-group " ng-if="!isWeekly() && !isCustom()">
    <div class="col-md-2"> <label class="control-label" for="every">Every:</label></div>
    <div class="col-md-9">

      <input ng-show="!readOnlyMode" type="text" class="form-control" id="every" ng-model="every.value" style="width:60px;display: inline-block">
      <span ng-show="readOnlyMode" >{{scheduleConfig.every}} </span>
      <span ng-if="isHourly()">hours</span>
      <span ng-if="isDaily()">days</span>
      <span ng-if="isWeekly()">weeks</span>
      &nbsp;
      <span class="error" ng-show="!isValidEvery()" >*</span>
    </div>
  </div>
  <div class="form-group" ng-show="!isCustom()">
    <div class="col-md-2">   <label class="control-label" for1="atHH">At:</label></div>
    <div class="col-md-9">
      <div>
          <!--<input type="number" ng-show="!readOnlyMode && !isHourly()" class='form-control' id="atHH" pattern1="^([0-9]|0[0-9]|1[0-9]|2[0-3])" min="0" max="23" placeholder="HH" ng-model="atHH" style="width:60px;display: inline-block">-->
          <span ng-show="readOnlyMode &&!isHourly()" >{{scheduleConfig.hour}} </span>
          <span ng-show="isHourly()" >XX </span>

          <span ng-show="readOnlyMode" >{{scheduleConfig.minutes}} </span>

          <select ng-show="!readOnlyMode && !isHourly()" class="form-control" style="width: 60px;display: inline-block;"
                  ng-model="atHH"
                  ng-options="option for option in startingTimeHoursRange" >
            <option value="">HH</option>
          </select>
        :
          <select ng-show="!readOnlyMode" class="form-control" style="width: 60px;display: inline-block;"
            ng-model="atMM"
            ng-options="option for option in startingTimeHMinutesRange" >
            <option value="">MM</option>
          </select>
        &nbsp;
        <span class="error " ng-show=" !isValidAtHH()||!isValidAtMM() " >*</span>
      </div>
    </div>
  </div>
  <div class="form-group " ng-show="isWeekly()">
    <div class="col-md-2">   <label class="control-label" >Days:</label></div>
    <div class="col-md-10 checkbox-group">
              <span ng-show="!readOnlyMode" ng-repeat="day in dayNameOptions" class="checkbox" >
                <label><input type="checkbox"  ng-model="day.selected">{{day.value|translate}}</label>
              </span>
              <span ng-show="readOnlyMode" ng-repeat="day in dayNameOptions"><span ng-show="day.selected">{{day.value|translate}}&nbsp;</span> </span>
      <span class="error" ng-show=" !isValidDayOfTheWeek()" >*</span>
    </div>
  </div>
  <div  class="form-group" ng-show="isCustom()">
    <label class="control-label" for="customCronExpression">Configuration:</label>
    <span class="error right-position" ng-if="!isValidCustom()">*</span>
    <div class="control-field">
      <input type="text" class="form-control" id="customCronExpression" name="customCronExpression" ng-model="customCronConfig" required placeholder="Cron expression (0 0 1 * * *)">
    </div>
  </div>
<!--  <div ng-show="isCustom()" class="form-group">-->
<!--    <span class="span-field">{{cronExpressionText}}</span>-->
<!--  </div>-->

</form>
