<span>
    <span class="show-percentage-span title-third"  *ngIf="showPercentage">{{ percentageText}}</span>
    <span title="{{ progressTitle}}" class="progress-bar-box" [ngClass]="{'left-with-no-radius': leftWithNoRadius, 'right-with-no-radius': rightWithNoRadius}">

      <div class="{{maxValue == value ? 'progress-value-box-full' : 'progress-value-box'}}" [ngStyle]="{'background-color' : color, 'width'  : (value *100 / maxValue)+'%'}"></div>
      <div class="display-text-div">
        <span *ngIf="displayText">{{ displayText }}</span>

      </div>
    </span>
  </span>
