progressBar {
  .progress-bar-box {
    height: 6px;
    width: 100%;
    position: relative;
    display: inline-block;
    background-color: #e5eaef;
    border-radius: 2px;

    &.left-with-no-radius {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }

    &.right-with-no-radius {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  }

  .progress-value-box {
    height: 6px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .right-with-no-radius {
    .progress-value-box, .progress-value-box-full {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  }

  .left-with-no-radius {
    .progress-value-box, .progress-value-box-full {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
  }

  .progress-value-box-full {
    height: 6px;
    border-radius: 2px;
  }

  .display-text-div {
    width: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    color: #444444;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .show-percentage-span {
    padding-left: 10px;
  }
}
