<span class="discover-display-icons-list" *ngIf="functionalRoleDTOs!= null && functionalRoleDTOs.length>0">

  <da-drop-down [enabled]="editable" *ngFor="let role of functionalRoleDTOs; let i = index"  [dropDownItems]="dropDownItems">
    <span  class="discover-display-icons-list-item" >
      <span class='tag-icon tag tag-{{ functionalRoleColorArray[i]}}' title='{{ role.displayName }}'>
        <span class='{{ IconsConfig.funcRole + (role.implicit ? "-o" : "") }}'></span>
      </span>
      <span class="discover-display-icons-item-text">
          {{ role.displayName }}
        </span>
    </span>
  </da-drop-down>
</span>
