<div class="modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title"><i class="fa fa-check-square-o"></i> {{title}}</span>
  <a  class="close" aria-label="Close" (click)="close(false)">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-confirmation-body modal-body break-text">
  <div [innerHtml]="message" class="full-text-selection"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="close(true)">Yes</button>
  <button type="button" class="btn btn-default" (click)="close(false)">No</button>
</div>

