<a class="dropdown-item no-special-tooltip" *ngIf="item && item.title &&  item.itemUrl && !item.overrideRouter && !(item.children && item.children.length>0)"
   [attr.title]="getTitle()"
   [routerLink]="[item.itemUrl]"
   [queryParams]="item.queryParams">
  <ng-container *ngTemplateOutlet="linkDisplay"></ng-container>
</a>
<a class="dropdown-item item" [attr.title]="item.title"
   *ngIf="item && !item.divider &&  item.itemUrl  && item.overrideRouter"
   [attr.href]="item.itemUrl + '?' + (item.queryParams || '')  " [attr.target]="item.target || '_self'">
  <ng-container *ngTemplateOutlet="linkDisplay"></ng-container>
</a>
<a class="dropdown-item item" *ngIf="item && !item.divider && !item.children && !item.itemUrl"   [attr.title]="getTitle()"
   href="javascript:void(0)"
   (click)="item.clickExpression()">
  <ng-container *ngTemplateOutlet="linkDisplay"></ng-container>
</a>
<div *ngIf="item && !item.divider && item.children&& item.children.length > 0" class="submenu-link-div" >
  <a class="dropdown-item submenu" id="childItemsDropdown"   [attr.title]="getTitle()">{{item.title}}</a>
  <div class="sub-menu-container" [ngClass]="{'pull-left': isRight, 'limit-height': item.isDynamic}" (mousedown)="clickOnSubDiv($event)" aria-labelledby="childItemsDropdown">

    <div da-menu-item *ngFor="let item of item.children"  [item]="item"></div>
  </div>
  </div>
<div class="divider" *ngIf="item && item.divider"></div>

<ng-template #linkDisplay>
  <i class="fa {{item.iconClass  ? item.iconClass +' icon-right-space' : ''}}" ></i>{{item.title}}
</ng-template>
