date-filter-item-grid {
  width: 100%;

  .item {
    &.fieldIcon {
      flex: 0 1 20px;
    }
    &.fieldName {
      flex: 0 1 300px;
      word-break: break-all;
    }
    &.items {
      flex: 1 0 100px;

    }
  }

}


