<div #el class="grid-row">
  <div class="item fieldIcon">
    <i class="fa fa-calendar-plus-o"></i>
  </div>

  <div class="item fieldName">
    <div class="title-primary">
      {{ dataItem.item.name}}
    </div>

    <div class="title-third">
      {{ dataItem.item.description}}
    </div>
  </div>


  <div class="item items">
    <table>
      <ng-template ngFor let-ind="index" let-rangeItem [ngForOf]="dataItem.item.dateRangeItemDtos">
        <tr *ngIf="!(ind == dataItem.item.dateRangeItemDtos.length -1 && rangeItem.start.type == DateRangePointType.RELATIVE &&  rangeItem.start.relativePeriodAmount ==0)">
          <td>
            <div class="title-secondary">
              {{ rangeItem.name }}
            </div>
          </td>
          <!-- td style="padding-left: 10px">
            <div class="title-third">
              <span *ngIf="rangeItem.start && rangeItem.start.type == DateRangePointType.RELATIVE">
                  From :{{  rangeItem.start.relativePeriodAmount }} {{ rangeItem.start.relativePeriod | translate}}
              </span>
              <span *ngIf="rangeItem.start && rangeItem.start.type == DateRangePointType.ABSOLUTE">
                  From :{{  rangeItem.start.absoluteTime | date }}
              </span>
              <span *ngIf="rangeItem.end && rangeItem.end.type == DateRangePointType.RELATIVE && !(rangeItem.end.relativePeriodAmount== 0 )">
                  {{rangeItem.start && ( rangeItem.start.type == DateRangePointType.RELATIVE || rangeItem.start.type == DateRangePointType.ABSOLUTE) ? 'until' : 'Until'}} :{{  rangeItem.end.relativePeriodAmount }} {{ rangeItem.end.relativePeriod | translate }}
              </span>
              <span *ngIf="rangeItem.end && rangeItem.end.type == DateRangePointType.RELATIVE && rangeItem.end.relativePeriodAmount== 0 ">
                  {{rangeItem.start && ( rangeItem.start.type == DateRangePointType.RELATIVE || rangeItem.start.type == DateRangePointType.ABSOLUTE) ? 'until' : 'Until'}} : Today
              </span>
              <span *ngIf="rangeItem.end && rangeItem.end.type == DateRangePointType.ABSOLUTE">
                  {{rangeItem.start && ( rangeItem.start.type == DateRangePointType.RELATIVE || rangeItem.start.type == DateRangePointType.ABSOLUTE) ? 'until' : 'Until'}} :{{  rangeItem.end.absoluteTime | date }}
              </span>
            </div>
          </td -->
        </tr>
      </ng-template>
    </table>
  </div>

</div>

