<div class="discover-filter-block">
  <div class="filter-item-name">{{ filterTypeObject.name }}</div>
  <div  *ngFor="let mItem of mList" class="filter-field-item"(click)="selectMItem(mItem)">
    <i class="fa metadata-item-check" [ngClass]="{'fa-square-o' : !mItem.selected , 'fa-check-square-o' : mItem.selected}"> </i>
    <i *ngIf="filterTypeObject.iconClass" class="metadata-item-icon  {{ filterTypeObject.iconClass}} tag-{{ mItem.item.id}}"  ></i>
    <span>{{ mItem.item.name}}</span>
  </div>
</div>
