@import "item-grid/scanError-item-grid";
@import "grid-header/scanError-grid-header";

scanError-module {


  .export-btn {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;

    .spinner-wrapper {
      position: relative;
      padding-right: 5px;

      .fa {
        position: absolute;
        top: 10px;
      }
    }
  }



  .data {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 20px;
    position: relative;

    .header {
      min-height: 70px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color: rgb(103, 106, 108);
    }
    tree-grid {
      flex: 1 auto;
    }
  }

}
