<div class="flex-container-col">
  <div class="header-panel">
    <!--<loader [show]="loading"></loader>-->

    <h3>
                  <span *ngFor="let breadcrumbItem of breadCrumbs; let ind = index" >
                    <span [ngClass]="{'breadcrumb-choose-step' : breadcrumbItem.clickFunc , 'breadcrumb-current-step' :  !breadcrumbItem.clickFunc}" (click)="breadcrumbItem.clickFunc && breadcrumbItem.clickFunc()">
                      {{ breadcrumbItem.title }}
                    </span>
                    <span  *ngIf="!breadcrumbItem.clickFunc && totalItems > 0">({{totalItems |number}})</span>
                    <span *ngIf="ind < breadCrumbs.length-1" class="breadcrumb-choose-step-seperator"> > </span>
                  </span>
    </h3>

    <div class="header-line" >
      <div class="left-panel">
        <div class="header-item"  >
          <filterBox  (filterChanged)="onMediaTypeFilterChanged($event)" [filterOptions]="filterMediaTypeOptions" allMsg="All Types" noneMsg="Media type" noneTooltipMsg="Filter by media type">
          </filterBox>
        </div>
      </div>


     <div class="export-btn">
       <span *ngIf="isExporting"class="spinner-wrapper"><i class="fa fa-spinner fa-spin"></i></span>
       <span class="nav-item dropdown" ngbDropdown   placement="bottom-left">
         <a class="btn btn-link dropdown-toggle" ngbDropdownToggle  >
           <i class="fa fa-download"></i>
         </a>
         <ul class="dropdown-menu dropdown-menu-location dropdown-menu-right" ngbDropdownMenu>
           <a (click)="exportData()" class="dropdown-item" href="javascript:void(0)">Export to Excel</a>
         </ul>
       </span>
     </div>
    </div>
  </div>
  <div class="main-panel">
   <tree-grid
     [initialSortDirection] = "initialSortDirection"
     [initialSortFieldName]="initialSortFieldName"
     [treeGridData]="currentData"
     [treeGridEvents]="treeGridEvents"
     [treeGridHeaderComponent]="ScanErrorGridHeaderComponent"
     [treeGridItemComponent]="ScanErrorItemGridComponent">
   </tree-grid>
  </div>
</div>

