docTypes-grid-header {
  width: 100%;
  position: relative;
  .grid-header {
    margin-left: 25px;

    .item {
      &.fieldName {
        flex: 3;
      }
      &.fieldTags {
        flex: 0 0 350px;
        max-width: 50%;
      }
      &.fieldDescription {
        flex: 0 0 350px;
        max-width: 50%;
      }
    }
  }
}
