.settings-page {
  .panel-header {
    padding: 10px 0 5px 0 !important;
  }

  .inner-page {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .sidebar-nav {
    width: 175px;
    min-width: 175px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .main {
    position: absolute;
    top: 0;
    bottom: 0;
    right:  10px;
    overflow-y: auto;
    left: 195px;
    &.customerDataCenters {
      right: -15px !important;
    }

    .datacenter-wrapper {
      position: absolute;
      top: 40px;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
      padding-right: 25px;
      overflow-x: hidden;
    }
  }
}
