<div class="settings-page" ng-init="init()" class="panels-container">

  <div class="inner-page">

    <div class="sidebar-nav">

      <div  style="margin-bottom:10px;margin-top: 10px;">
        <h3 ng-if="tabEnabled[ESettingsTabType.licenseKey] || tabEnabled[ESettingsTabType.mailSettings] || tabEnabled[ESettingsTabType.ldapConnections]" >General</h3>
        <ul class="nav navbar-nav-vertical nav-items-md" >
          <li><a ng-click="openLicenseKeyDialog();" ng-if="tabEnabled[ESettingsTabType.licenseKey]" style="font-size:12px">License key</a></li>
          <!--<li ><a ng-if="tabEnabled['ldapSettings']" ng-click="openLDapSettingsDialog()">LDAP settings</a>-->
          <li  ng-if="tabEnabled[ESettingsTabType.mailSettings]"><a ng-click="openMailSettingsDialog();" style="font-size:12px">Mail settings</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.ldapConnections]" ng-class="{'active':activeTab==ESettingsTabType.ldapConnections}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.ldapConnections)" style="text-align: left; padding:7px 8px 8px 7px;"><da-icon href="ldapConnection"></da-icon>&nbsp;Ldap connections</a></li>
         </ul>
      </div>

      <div  style="margin-bottom:10px;margin-top: 10px;">
        <h3 ng-if="tabEnabled[ESettingsTabType.scheduleGroups] || tabEnabled[ESettingsTabType.mediaConnections]|| tabEnabled[ESettingsTabType.customerDataCenters] " >Operations</h3>
        <ul class="nav navbar-nav-vertical nav-items-md" >
          <!--li ng-if="tabEnabled[ESettingsTabType.schedules]" ng-class="{'active':activeTab==ESettingsTabType.schedules}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.schedules)" style="text-align: left;padding:7px 8px 8px 7px;"><da-icon href="scheduleGroup"></da-icon>&nbsp;Schedule groups old</a></li-->
          <li ng-if="tabEnabled[ESettingsTabType.scheduleGroups]" ng-class="{'active':activeTab==ESettingsTabType.scheduleGroups}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.scheduleGroups)" style="text-align: left;padding:7px 8px 8px 7px;"><da-icon href="scheduleGroup"></da-icon>&nbsp;Schedule groups</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.mediaConnections]" ng-class="{'active':activeTab==ESettingsTabType.mediaConnections}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.mediaConnections)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="mediaConnection"></da-icon>&nbsp;Media connections</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.customerDataCenters]" ng-class="{'active':activeTab==ESettingsTabType.customerDataCenters}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.customerDataCenters)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="dataCenter"></da-icon>&nbsp;Data centers</a></li>
        </ul>
      </div>

      <div ng-if="tabEnabled[ESettingsTabType.docTypes] || tabEnabled[ESettingsTabType.tagTypes] || tabEnabled[ESettingsTabType.settingsDepartments] || tabEnabled[ESettingsTabType.settingsMatters] || tabEnabled[ESettingsTabType.patternCategories] || tabEnabled[ESettingsTabType.regulations] || tabEnabled[ESettingsTabType.searchPatterns] || tabEnabled[ESettingsTabType.savedFilters] || tabEnabled[ESettingsTabType.savedViews]"  style="margin-bottom:10px;margin-top: 10px;">
        <h3 style="padding-top:3px;padding-bottom:5px">Discover</h3>
        <ul class="nav navbar-nav-vertical nav-items-md" >
          <li ng-if="tabEnabled[ESettingsTabType.settingsDepartments]" ng-class="{'active':activeTab==ESettingsTabType.settingsDepartments}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.settingsDepartments)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="department"></da-icon>&nbsp;Departments</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.settingsMatters]" ng-class="{'active':activeTab==ESettingsTabType.settingsMatters}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.settingsMatters)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="matter"></da-icon>&nbsp;Matters</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.docTypes]"  ng-class="{'active':activeTab==ESettingsTabType.docTypes}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.docTypes)" style="text-align: left; padding:7px 8px 8px 7px;"><da-icon href="docTypes"></da-icon>&nbsp;DocTypes</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.tagTypes]" ng-class="{'active':activeTab==ESettingsTabType.tagTypes}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.tagTypes)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="tagType"></da-icon>&nbsp;Tag types</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.dateFilters]" ng-class="{'active':activeTab==ESettingsTabType.dateFilters}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.dateFilters)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="dateFilters"></da-icon>&nbsp;Date partitions</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.searchPatterns]" ng-class="{'active':activeTab==ESettingsTabType.searchPatterns}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.searchPatterns)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="searchPatterns"></da-icon>&nbsp;Search patterns</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.patternCategories]" ng-class="{'active':activeTab==ESettingsTabType.patternCategories}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.patternCategories)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="patternCategories"></da-icon>&nbsp;Pattern categories</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.regulations]" ng-class="{'active':activeTab==ESettingsTabType.regulations}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.regulations)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="regulations"></da-icon>&nbsp;Regulations</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.savedFilters]" ng-class="{'active':activeTab==ESettingsTabType.savedFilters}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.savedFilters)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="filters"></da-icon>&nbsp;Saved filters</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.savedViews]" ng-class="{'active':activeTab==ESettingsTabType.savedViews}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.savedViews)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="views"></da-icon>&nbsp;Views</a></li>
        </ul>
      </div>

      <div ng-if="tabEnabled[ESettingsTabType.savedDashboards] || tabEnabled[ESettingsTabType.savedWidgets]"  style="margin-bottom:10px;margin-top: 10px;">
        <h3 style="padding-top:3px;padding-bottom:5px">Dashboard</h3>
        <ul class="nav navbar-nav-vertical nav-items-md" >
          <li ng-if="tabEnabled[ESettingsTabType.savedDashboards]" ng-class="{'active':activeTab==ESettingsTabType.savedDashboards}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.savedDashboards)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="dashboards"></da-icon>&nbsp;Saved dashboards</a></li>
          <li ng-if="tabEnabled[ESettingsTabType.savedWidgets]" ng-class="{'active':activeTab==ESettingsTabType.savedWidgets}"> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.savedWidgets)" style="text-align: left; padding:5px 8px 8px 7px;"><da-icon href="widgets"></da-icon>&nbsp;Widgets</a></li>
        </ul>
      </div>

      <div ng-if="isTechSupportUser"  style="margin-bottom:10px;margin-top: 10px;">
        <h3 style="padding-top:3px;padding-bottom:5px">Tech</h3>
        <ul class="nav navbar-nav-vertical nav-items-md" >
          <li> <a class="btn btn-sm" ng-click="setActiveTab(ESettingsTabType.logLevels)" style="text-align: left; padding:7px 8px 8px 7px;"><da-icon href="logLevels"></da-icon>Log levels</a></li>
        </ul>
      </div>
    </div>

    <div class="main {{activeTab}}">
      <h4 ng-if="isLoginLicenseExpired">
        Login license expired. &nbsp;
        <a ng-click="openLicenseKeyDialog();" ng-if="tabEnabled[ESettingsTabType.licenseKey]" style="font-size:12px">Set license key</a>
      </h4>
      <!--<div  ng-if="activeTab==ESettingsTabType.schedules">-->
        <!--<p style="margin-bottom: 30px;">Operations > Schedule groups </p>-->
        <!--<manage-schedule-groups on-selected-item="onSelectedItem" excel-file-name="'Schedule groups'" change-selected-item="changeScheduleGroupSelectedItemId"></manage-schedule-groups>-->
      <!--</div>-->
      <div  ng-if="activeTab==ESettingsTabType.ldapConnections">

        <manage-ldap-connection on-selected-item="onSelectedItem" excel-file-name="'Mail settings'" change-selected-item="changeSelectedLdapId"></manage-ldap-connection>
      </div>
      <div  ng-if="activeTab==ESettingsTabType.mediaConnections">
        <p style="margin-bottom: 30px;">Operations > Media connections </p>
        <manage-media-connections on-selected-item="onSelectedItem" export-name="'media_connections'" excel-file-name="'Media_connections_'" change-selected-item="changeSelectedMediaConnectionId"></manage-media-connections>
      </div>
      <div ng-if="activeTab==ESettingsTabType.customerDataCenters">

        <div class="datacenter-wrapper" >
          <manage-customer-data-centers select-item="selectedItem" on-selected-item="onSelectedItem" export-name="'customer_data_center'" excel-file-name="'Customer_data_centers_'" change-data-center-selected-item="changeSelectedCustomerDataCenterId"></manage-customer-data-centers>
          <media-processors-manage style="padding-top:20px;"selected-data-center-item="selectedCustomerDataCenter"></media-processors-manage>
        </div>
      </div>
      <div  ng-if="activeTab==ESettingsTabType.tagTypes">

        <manage-tag-types on-selected-item="onSelectedItem"  change-tag-type-selected-item="changeSelectedItemId" edit-mode="true"></manage-tag-types>
      </div>
    </div>
  </div>
</div>
