ddl-tag-items {

  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 2px;

  .selected-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-flow: row wrap;
    align-content: space-between;

    .tag-item {
      color: #555;
      cursor: pointer;

      .tag {
        padding-right: 5px;
      }
    }
  }

  .ddl-items {

    border: 1px solid #e4e2e2;
    background: white;

    .dropdown-toggle {
      color: #939090;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.doc-type-ddl-items-menu {
  max-height: 290px;
  overflow: auto  !important;
  width: 225px;
  padding: 5px 5px 15px 5px;
  right: 0 !important;

  .tag-item {
    display: flex;
    padding: 7px 0;
    font-size: 12px;
    color: #555;
    cursor: pointer;

    &:hover {
      background: #f8f8f8;
    }

    .check {
      min-width: 15px;
    }

    .flag {
      padding-left: 2px;
      padding-right: 5px
    }

    .name {
      padding-top: 1px;
      width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .action-panel {
    display: flex;
    padding: 10px 0;

    .searchbox {
      position: relative;
      padding: 1px;
      width: inherit !important;
      padding-left: 13px;
      height: 25px;
      right: 0;

      input {
        line-height: 26px;
        height: 28px;
        border: 1px solid #c0bbbb;
        border-radius: 4px;
        padding-right: 25px;
        padding-left: 25px;
        box-sizing: border-box;
        width: 100%;
      }

      .icon {
        top: 9px;
        left: 19px;
        position: absolute;
        cursor: pointer;
        font-size: 12px;
      }

      .clear {
        top: 7px;
        right: 7px;
        position: absolute;
        cursor: pointer;
      }
    }

    .add-new-btn {
      cursor: pointer;
      padding: 5px 10px;
    }
  }

  .recently-used-tag-items {
    padding-top: 10px;

    .inner-wrapper {
      padding: 15px 0 5px 0;
      border-top: 1px solid #c5c5c5;
      border-bottom: 1px solid #c5c5c5;
      margin: 5px 0;
      position: relative;

      .title {
        position: absolute;
        background: #fff;
        padding: 0 8px;
        font-size: 11px;
        top: -9px;
        left: 9px;
      }
    }
  }
}
