<div class="selected-items">
  <div *ngFor="let fileTag of selectedItemsArr" class="no-linkable long-and-truncated" style="padding-right: 10px">
    <div class="tag-item">
      <span class="tag tag-{{styleId}}">
        <span class="fa fa-flag"></span>
      </span>
      <span>{{fileTag.name}}</span>
    </div>
  </div>
</div>

<div #dropdown="ngbDropdown" class="ddl-items" (openChange)="onDropDownOpen()" ngbDropdown  ngbDropdownReposition [fixPos]='true' autoClose="outside" *ngIf="selectedTagTypeId">
  <a class="dropdown-toggle" ngbDropdownToggle></a>
  <ul ngbDropdownMenu class="dropdown-menu ddl-items-menu doc-type-ddl-items-menu dropdown-menu-right">
    <div *ngIf="recentlyUsedTagItemsArr.length > 0" class="recently-used-tag-items">
      <div class="inner-wrapper">
        <div class="title">RECENTLY USED</div>
        <div *ngFor="let tagItem of recentlyUsedTagItemsArr" class="tag-item" (click)="toggleFileTag($event, tagItem)">
          <div class="check">
            <span *ngIf="selectedItems[tagItem.id]" class="fa fa-check-square-o"></span>
            <span *ngIf="!selectedItems[tagItem.id]" class="fa fa-square-o"></span>
          </div>
          <div class="flag">
          <span class="tag tag-{{styleId}}">
            <span class="fa fa-flag"></span>
          </span>
          </div>
          <div class="name long-and-truncated">{{tagItem.name}}</div>
        </div>
      </div>
    </div>

    <div class="action-panel">
      <div class="searchbox">
        <input type="text" placeholder="Search tag items" [(ngModel)]="searchedText" (input)="searchTextChange()"/>
        <span class="icon fa fa-search"></span>
        <span class="clear" ng-show="searchedText" (click)="clearSearchText()"></span>
      </div>
      <div class="add-new-btn" *ngIf="isMngTagConfigUser" (click)="addNewTagClick()" title="Add tag">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <div *ngFor="let tagItem of filteredTagItemsArr" class="tag-item"  (click)="toggleFileTag($event, tagItem)">
      <div class="check">
        <span *ngIf="selectedItems[tagItem.id]" class="fa fa-check-square-o"></span>
        <span *ngIf="!selectedItems[tagItem.id]" class="fa fa-square-o"></span>
      </div>
      <div class="flag">
        <span class="tag tag-{{styleId}}">
          <span class="fa fa-flag"></span>
        </span>
      </div>
      <div class="name long-and-truncated">{{tagItem.name}}</div>
    </div>
  </ul>
</div>

