<div #el class="grid-row" >
  <div class="item fieldName  title-primary  lower-case-capitalized">
  </div>
  <div class="item dataCenter  title-primary  lower-case-capitalized">

  </div>
  <div class="item scheduleGroup title-primary  lower-case-capitalized">
  </div>

  <div class="item status" >
  </div>

  <div class="item scanProgress">
  </div>
</div>
