
system-components {
  system-components-grid {
    width: 100%;
    .item {
      &.fieldName {
        flex: 1 0 150px;
        word-break: break-all;
      }
      &.dataCenter {
        flex: 0 1 150px;
      }
      &.scheduleGroup {
        flex: 0 1 150px;
        word-break: break-all;
      }
      &.status {
        flex: 0 1 100px;
      }
      &.scanProgress {
        flex: 0 1 200px;
        padding-top: 5px !important;

        .scan-progress-bar {
          width: 30%;
          display: inline-block;
        }
      }
      &.processedFiles {
        flex: 0 1 200px;
      }
      &.mediaType {
        flex: 0 1 100px;
        .media-type-icon {
          margin-left: 10px;
          display: inline-block;
          position: relative;
          line-height: 0px;
          height: 15px;
          width: 25px;
        }
      }
      &.actions {
        flex: 0 0 71px;
      }
    }
  }
}
