<span *ngIf="enabled" class="da-drop-down-span " (openChange)="onDropDownOpenChanged($event)" ngbDropdown  ngbDropdownReposition  [fixPos]='withChangedPosition'  [ngClass]="{'open-top' : isInBottom, 'open-bottom' : !isInBottom}"  #myDrop="ngbDropdown"  placement="{{ (isInBottom ? 'top' : 'bottom' ) + (openOnLeft ? '-left' : '-right') }}">

  <span [ngClass]="{'with-arrow-area': withArrow}" #openBtn ngbDropdownAnchor  (click)="changeDropDown($event)">
      <ng-container *ngTemplateOutlet="contentPlace"></ng-container>
      <span *ngIf="withArrow" class="drop-down-caret fa fa-caret-down"></span>
  </span>

  <div ngbDropdownMenu  [ngStyle]="{'width' : (dropDownWidth ? dropDownWidth : 'initial')}">
     <ng-template ngFor let-dropDownItem [ngForOf]="dropDownItems">

      <a *ngIf="!dropDownItem.children  && dropDownItem.title && dropDownItem.href && dropDownItem.useRegularHref" href="{{dropDownItem.href}}" class="dropdown-item" [ngClass]="{'disabled': dropDownItem.disabled}" title="{{ dropDownItem.toolTip }}">
        <i *ngIf="dropDownItem.iconClass"  class="dropdown-icon {{dropDownItem.iconClass}}"></i>
        {{ dropDownItem.title}}
      </a>

       <a *ngIf="!dropDownItem.children  && dropDownItem.title && dropDownItem.href && !dropDownItem.useRegularHref" [routerLink]="[dropDownItem.href]" [queryParams]="dropDownItem.hrefParams ? dropDownItem.hrefParams : {}" class="dropdown-item" [ngClass]="{'disabled': dropDownItem.disabled}" title="{{ dropDownItem.toolTip }}">
        <i *ngIf="dropDownItem.iconClass"  class="dropdown-icon {{dropDownItem.iconClass}}"></i>
        {{ dropDownItem.title}}
      </a>

       <span *ngIf="!dropDownItem.children  && dropDownItem.title && !dropDownItem.href " class="dropdown-item" [ngClass]="{'disabled': dropDownItem.disabled}" (click)="!dropDownItem.disabled && itemClick(dropDownItem)"  title="{{ dropDownItem.toolTip }}">
        <i *ngIf="dropDownItem.iconClass"  class="dropdown-icon {{dropDownItem.iconClass}}"></i>
        {{ dropDownItem.title}}
      </span>

      <div *ngIf="!dropDownItem.children  && !dropDownItem.title" class="divider">
      </div>
      <div *ngIf="dropDownItem.children" class="submenu-link-div">
        <div class="dropdown-item submenu"  [ngClass]="{'disabled': dropDownItem.disabled}">
          <i *ngIf="dropDownItem.iconClass" class="dropdown-icon {{dropDownItem.iconClass}}"></i>
          {{ dropDownItem.title}}
        </div>
        <div class="sub-menu-container"   [ngClass]="{'pull-left':(openOnLeft && !openSubMenuOnRight), 'open-top' : isInBottom}">
           <ng-template ngFor let-subItem [ngForOf]="dropDownItem.children">
             <div *ngIf="!subItem.children  && !subItem.title" class="divider"></div>

             <a *ngIf="subItem.title && subItem.href  && subItem.useRegularHref"  href="{{subItem.href }}"  [ngClass]="{'disabled': subItem.disabled}" class="dropdown-item" >
                <i *ngIf="subItem.iconClass" class="dropdown-icon {{ subItem.iconClass }}"></i>
                {{ subItem.title }}
             </a>

             <a *ngIf="subItem.title && subItem.href && !subItem.useRegularHref"  [routerLink]="[subItem.href]"  [queryParams]="subItem.hrefParams ? subItem.hrefParams : {}"  [ngClass]="{'disabled': subItem.disabled}" class="dropdown-item" >
                <i *ngIf="subItem.iconClass" class="dropdown-icon {{ subItem.iconClass }}"></i>
                {{ subItem.title }}
             </a>

             <span *ngIf="subItem.title && !subItem.href"  [ngClass]="{'disabled': subItem.disabled}" class="dropdown-item" (click)="!subItem.disabled && itemClick(subItem)">
                <i *ngIf="subItem.iconClass" class="dropdown-icon {{ subItem.iconClass }}"></i>
                {{ subItem.title }}
             </span>

           </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
</span>
<span *ngIf="!enabled">
  <ng-container *ngTemplateOutlet="contentPlace"></ng-container>
</span>
<ng-template #contentPlace><ng-content></ng-content></ng-template>
