da-drop-down,.drop-down-position {

  margin-right: 5px;
  margin-left: 5px;

  .da-drop-down-span  {
    display: inline-block;
  }

  .submenu-link-div {
    position: relative;
  }

  .dropdown-menu {
    .dropdown-item {
      padding-left: 10px;

      .dropdown-icon {
        display: inline-block;
        width: 20px;
      }

      &.disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
  .sub-menu-container {
    &.open-top {
      top: initial !important;
      bottom: 0px;
      top: auto !important;
    }
    .dropdown-icon {
      display: inline-block;
      width: 20px;
    }

    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    overflow: visible;

    .submenu {
      ~ div.sub-menu-container {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      }

    }
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .dropup::after {
    display: none !important;
  }

  .drop-down-caret {
    padding-left: 3px;
  }

  .with-arrow-area {
    cursor: pointer;
  }

  .dropdown-menu .submenu ~ div.sub-menu-container.open-top {
    top: auto !important;
  }

  .dropdown-menu .submenu ~ div.sub-menu-container.pull-left {
    left: calc(-100% - 36px);
    width: calc(100% + 40px);
  }
}


//.tree-grid-item:hover ,.da-item-header:hover {
//  .drop-down-caret {
//    display: inline-block;
//  }
//}



