<div  *ngIf="isAsyncOperationRunning"  class="running-status-container floating-bubble" style="position: relative">
  <div (click)="statusListIsOpen=!statusListIsOpen" class="main-msg-area">
    {{operations.length}} {{ operations.length == 1 ? 'process' : 'processes' }} running
  </div>

  <div *ngIf="statusListIsOpen" class="status-list-div">
    <div class="status-list-header" (click)="closeList()">
      <span class="header-generation-message-span" *ngIf="operations.length > 0">
            {{operations.length}} {{ operations.length == 1 ? 'process' : 'processes' }} running
      </span>
      <div class="header-right-div">
        <span class="down-arrow-span export-down-icon" (click)="statusListIsOpen = false">
        </span>
      </div>
    </div>
    <div class="expand-list-main-div">
      <ng-template ngFor let-p [ngForOf]="operations">
        <div class="expand-item" >
          <div class="process-status-icon-col" [ngClass]="{'fa fa-spinner fa-spin' : p.startTime}">
          </div>
          <div class="file-name-col" >
            <div class="file-name" >
              {{p.description}}
            </div>
          </div>
          <div class="process-status-col" *ngIf="p.state != ScheduledOperationState.FAILED">
            <div *ngIf="p.startTime" >Running</div>
            <div *ngIf="!p.startTime" >Pending</div>
          </div>
          <div class="process-status-col-failed" *ngIf="p.state == ScheduledOperationState.FAILED">
            <div>Failed</div>
          </div>

          <div class="delete-icon-col">
            <div class="expand-delete-icon" *ngIf="((!p.startTime &&  p.operationType == ASSOCIATION_FOR_FILES_BY_FILTER) || p.state == ScheduledOperationState.FAILED)" (click)="deleteProcess(p)" title="Delete process">
            </div>
          </div>

        </div>
      </ng-template>
      <small class="msg-main-div">Refresh the page in order to see results, once process is finished</small>
    </div>
  </div>
</div>



