da-running-task-status {
  .running-status-container{
    display: flex;
    flex-direction: row;

    .expand-item {
      overflow: hidden;
    }

    .process-status-icon-col{
      display: flex;
      flex: 0 0 40px;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
    .expand-delete-icon {
      cursor: pointer;
    }

    .process-status-col {
      font-size: 14px;
      font-weight: normal;
      display: flex;
      flex: 0 1 100px;
      box-sizing: border-box;
      justify-content: center;
      flex-direction: column;
    }

    .process-status-col-failed {
      font-size: 14px;
      font-weight: normal;
      display: flex;
      flex: 0 1 100px;
      box-sizing: border-box;
      justify-content: center;
      flex-direction: column;
      color: red;
    }


  }
}
