<footer>
  <div class="container">
    <p class="ver" >
      <small>DocAuthority ©2019 <span [hidden]="!version$">({{version$| async}})</span></small>
    </p>

    <da-running-task-status></da-running-task-status>

    <download-indicator></download-indicator>
  </div>
</footer>
