app-footer {
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  left:0;
  right:0;
  height: 30px;
  text-align: center;
  z-index: 10;

  .container {
    margin-left: 5%;
    max-width: 90%;
    display : flex; // flex box
    justify-content : space-between; // horizontal alignment
    align-content   : center; //

    .ver {
      line-height: 30px;
    }
  }
}
