<div class="actions" *ngIf="actionItem">
  <da-drop-down [openOnLeft]="true" [enabled]="true" [dropDownItems]="actionItem.children">
    <span class="icon-button options" title="{{actionItem.title}}"><da-icon href="{{actionItem.href}}"></da-icon></span>
  </da-drop-down>
</div>
