
  gdpr-menu {
    display: flex;
    border-bottom: 1px solid #d7d7d7;
    padding-top: 10px;
    margin-bottom: 30px;

    .caption {
      font-weight: 600;
      font-size: 16px;
      padding-bottom: 15px;
    }

    .item {
      line-height: 40px;
      padding: 0 10px;
      cursor: pointer;
      position: relative;

      &.selected {
        border: 1px solid #d7d7d7;
        border-top: 2px solid #E96935;
        border-bottom: 1px solid #F3F3F4;
        margin-bottom: -1px;
      }

      a {
        text-decoration: none;
        padding-left: 5px;
        color: gray;
      }
    }
  }

