<div class="item" routerLinkActive="selected">
  <a class="tab" routerLink="../open-workflows" >Open workflows
    ({{openWorkflowsCounter}})
  </a>
</div>
<div class="item" routerLinkActive="selected">
  <a class="tab" routerLink="../approval-workflows">Pending approval
    ({{approvalWorkflowsCounter}})
  </a>
</div>
<div class="item" routerLinkActive="selected">
  <a class="tab" routerLink="../pending-workflows">Action execution
    ({{pendingWorkflowsCounter}})
  </a>
</div>
<div class="item" routerLinkActive="selected">
  <a class="tab" routerLink="../closed-workflows">Closed
    ({{closedWorkflowsCounter}})
  </a>
</div>



