audit-module {
  audit-item-grid {
    width:100%;

    .item {

      &.auditType{
        flex: 0 1 150px;
      }
      &.action{
        flex: 0 1 150px;
      }
      &.timestamp{
        flex: 0 1 150px;
      }
      &.message{
        flex: 1 0 150px; //flex-grow: 1;shrink 0 ;flex-basis: 150px;
        //   min-width: 150px;
      }
      &.username{
        flex: 0 1 150px;
      }
    }
  }
}

//
//@media screen and (max-width: 1100px) {
//  audit-module {
//    audit-item-grid {
//      .item {
//        &.auditType{
//          width: 120px;
//        }
//        &.action{
//           width: 120px;
//        }
//        &.timestamp{
//         width: 120px;
//        }
//        &.username{
//         width: 120px;
//        }
//      }
//    }
//  }
//}
