<div #el class="grid-row">
  <div class="item auditType  title-primary  lower-case-capitalized">{{ auditType }}</div>
  <div class="item action  lower-case-capitalized">{{dataItem.item.crudAction}}</div>
  <div class="item timestamp">{{dataItem.item.timestamp| date: CommonConfig.dateTimeFormat}}</div>
  <div class="item message">{{dataItem.item.message}}</div>
  <div class="item username ">{{dataItem.item.username}}</div>
</div>

