  schedule-groups-item-grid {
    width: 100%;
    .item {
      &.fieldIcon {
        flex: 0 0 30px;
      }
      &.fieldName {
        flex: 4 0 150px;
      }
      &.fieldPeriod {
        flex: 2 1 250px;
      }
      &.fieldActive {
        flex: 0 0 70px;
        cursor: pointer;
      }
      &.fieldType {
        flex: 0 0 90px;
      }
      &.fieldDescription {
        flex: 1 1 250px;
      }
      &.fieldFolders {
        flex: 0 0 90px;
      }
    }
  }

