<div #el class="grid-row">
  <div class="item fieldIcon icon-column">
    <i class="ion-clock"></i>
  </div>
  <div class="item fieldName title-primary" (click)="openEditDialog()">
    {{ dataItem.item.scheduleGroupDto.name }}
  </div>
  <div class="item fieldPeriod">
    {{ summaryText }}
  </div>
  <div class="item fieldActive">
    <div class="title-secondary" (click)="setActive(!dataItem.item.scheduleGroupDto.active)">
      <a *ngIf="dataItem.item.scheduleGroupDto.active"  title="{{ dataItem.item.scheduleGroupDto.name}} is active"><span class="fa fa-toggle-on icon-item"></span></a>
      <a *ngIf="!dataItem.item.scheduleGroupDto.active" title="{{ dataItem.item.scheduleGroupDto.name}} is not active" class="notice"><span class="fa fa-toggle-off notice icon-item"></span></a>
    </div>
  </div>
  <div class="item fieldType title-secondary">
    {{ dataItem.item.scheduleGroupDto.scheduleConfigDto.scheduleType | translate }}
  </div>
  <div class="item fieldDescription">
    {{ dataItem.item.scheduleGroupDto.schedulingDescription }}
  </div>
  <div class="item fieldFolders">
    <i class="ion-ios-briefcase-outline grid-field-icon" style="padding-right: 10px ; font-size: 18px"></i>
    {{dataItem.item.scheduleGroupDto.rootFolderIds.length | number }}
  </div>
</div>

