<div class="actions" *ngIf="actionItem">
  <da-drop-down *ngIf="!actionItem.disabled" [openOnLeft]="true" [enabled]="true" [dropDownItems]="actionItem.children">
        <span class="icon-button download download-settings-bar" title="{{actionItem.title}}">
          <da-icon href="{{actionItem.href}}"></da-icon>
          <span class="caret"></span>
        </span>
  </da-drop-down>
  <span class="export-spinner" *ngIf="actionItem.disabled"><i class="fa fa-spinner fa-spin"></i></span>
</div>
