@import "../savedUserViewItemGrid/savedUserViewItemGrid";
@import "../savedUserViewGridHeader/savedUserViewGridHeader";
saved-views {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 30px;
  left: 210px;
  bottom: 30px;
}



