
<!-- Main view  -->
<div ng-init="Init(true)" class="fill-height overflow-hidden">

  <div ng-if="alerts" ><alert ng-repeat="alert in alerts.alerts" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert></div>

  <groups-grid expand-group="onExpandDetails"  grid-view="true"></groups-grid>


</div>
