date-partition-dialog {
  .modal-body {
    height: 330px;

    .date-range-title-div {
      padding: 10px;
    }

    .date-range-title {
      font-weight: bold;
    }

    .date-range-title-description {
      font-size: 11px;
      color:#aaaaaa;
    }

    .range-div {
      max-height: 287px;
      overflow: auto;
    }
  }
}
