<div class="modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <ul class="nav nav-tabs">
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='general', 'nav-item': activeTab!='general'}"><a class="nav-link" data-toggle="tab" (click)="setActiveTab('general')" >{{  'DIALOG.TITLE.GENERAL' | translate }}<span class="error" [ngStyle]="{'visibility': name.invalid  ? 'visible' : 'hidden'}">*</span></a></li>
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='rangeItems', 'nav-item': activeTab!='rangeItems'}"><a class="nav-link" data-toggle="tab" (click)="setActiveTab('rangeItems')" >{{ 'DIALOG.TITLE.RANGE_ITEMS' | translate}}<span class="error" [ngStyle]="{'visibility': !rangeIsValid ? 'visible' : 'hidden'}">*</span></a></li>
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='advanced', 'nav-item': activeTab!='advanced'}"><a class="nav-link" data-toggle="tab" (click)="setActiveTab('advanced')" >{{ 'DIALOG.TITLE.ADVANCED' | translate}}</a></li>
  </ul>
  <div [hidden]="activeTab!='general'" >
    <form class="form-horizontal modal-form-md" name="generalForm" #datePartitionForm="ngForm" role="form">
      <div  class="form-group form-group-position-relative">
        <label class="control-label" for="name">{{ 'NAME' | translate}}:</label>
        <div class="control-field">
          <input type="text"  class="form-control" id="name" name="name" [(ngModel)]="data.datePartitionDto.name" required minlength="1" #name="ngModel" placeholder="Name">
        </div>
        <div class="error error-position" *ngIf="name.invalid">*</div>
      </div>

      <div  class="form-group">
        <label class="control-label" for="desc">{{ 'DESCRIPTION' | translate}}:</label>
        <div class="control-field">
          <input type="text"  class="form-control" id="desc" name="desc" [(ngModel)]="data.datePartitionDto.description" #desc="ngModel" placeholder="Description">
        </div>
      </div>
    </form>
  </div>
  <div [hidden]="activeTab!='rangeItems'" class="range-div">
    <form class="form-horizontal panel-selectable" name="rangeItemsForm" role="form">
      <div class="date-range-title-div">
        <span class="date-range-title">Date ranges: </span><span class="date-range-title-description">(Ordered oldest to newest)</span>
      </div>
      <div class="table" *ngIf="isStartFromEver()" (click)="setActiveDateRangeItem(data.datePartitionDto.dateRangeItemDtos[0])" [ngClass]="{active:data.datePartitionDto.dateRangeItemDtos[0]==activeDateRangeItem }" style="margin-bottom: 0;line-height: 37px;">

        <div class="table-cell" style="width: 84px;">
          <!-- a  (click)="toggleStartFromEver();" style="margin-left: 95px;line-height: 27px;"> <span [hidden]="!isStartFromEver()" ><i class="fa fa-toggle-on"></i> Start from ever</span><span [hidden]="isStartFromEver()"><i class="fa fa-toggle-off"></i>  Do not Start from ever</span></a -->
        </div>
        <div *ngIf="!editEverTitleMode" class="table-cell"  style="width: 297px;"><div class="ellipsis" style="width: 100%;padding-left: 3px;">{{data.datePartitionDto.dateRangeItemDtos[0].name}}</div></div>
        <div   class="table-cell" style="position: relative">
          <div *ngIf="editEverTitleMode" >
            <input  class="form-control has-right-two-icons edit-chart-title-input" name="everTitleInput" [(ngModel)]="newEverTitle"
                    (keyup.enter)="editEverTitle()"  (click)="$event.stopPropagation();" (keyup.esc)="cancelEditEverTitle()"  type="text">
            <span  class="btn-group top-right-position" style="top:2px; ">
                   <a  class="btn btn-link btn-sm" (click)="cancelEditEverTitle();"   title="Cancel edit title" ><span class="fa fa-times"></span></a>
                   <a class="btn btn-link btn-sm"  (click)="editEverTitle();" title="Save title" ><span class="fa fa-check"></span></a>
              </span>
          </div>
        </div>
        <div   class="table-cell" style="position: relative">
          <a *ngIf="!editEverTitleMode" class="btn btn-link btn-xs" title="{{ 'DIALOG.TITLE.EDIT_TITLE' | translate }}" (click)="setEditEverTitleMode(!editEverTitleMode);"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-link btn-xs" title="{{ 'DIALOG.TITLE.ADD_POINT_BELLOW' | translate }}" (click)="setActiveDateRangeItem(data.datePartitionDto.dateRangeItemDtos[0]);createNewPoint()"><i class="fa fa-plus"></i></a>
        </div>
      </div>
      <ng-template ngFor let-ind="index" let-dateRangeItem [ngForOf]="data.datePartitionDto.dateRangeItemDtos">
        <div *ngIf="shouldBe(ind,(ind == data.datePartitionDto.dateRangeItemDtos.length-1))" [ngClass]="{active:dateRangeItem==activeDateRangeItem }" (click)="setActiveDateRangeItem(dateRangeItem)" style="position: relative;line-height: 37px;padding: 0 10px" >
          <date-relative-absolute-selector [dateRangeItem]="dateRangeItem" [itemTitle]="dateRangeItem.name" [dateRangePoint]="dateRangeItem.start" (onDeletePoint)="deletePoint(dateRangeItem)" (onPointChange)="pointChange($event)" (onValidityChange)="onRangeItemValidityChange(dateRangeItem,$event)" (onPointTitleChange)="pointTitleChange($event)"  [disableTitleEditMode]="$last">
            <a class="btn btn-link btn-xs" title="{{ 'DIALOG.TITLE.ADD_POINT_BELLOW' | translate }}"  (click)="setActiveDateRangeItem(dateRangeItem);createNewPoint()"><i class="fa fa-plus"></i></a>
          </date-relative-absolute-selector>
        </div>
      </ng-template>


      <div style="margin: 20px 0;">
        <button class="btn btn-flat btn-sm" (click)="createNewPoint()">{{ 'DIALOG.TITLE.ADD_POINT' | translate }}</button>
      </div>
    </form>
  </div>

  <div [hidden]="activeTab!='advanced'">
    <form class="form-horizontal modal-form-md" role="form">
      <div class="form-group" style="position: relative;">
        <a  (click)="toggleStartFromEver();" style="margin-left: 0px;line-height: 27px;color: #337ab7;cursor: pointer"> <span *ngIf="isStartFromEver()" ><i class="fa fa-toggle-on"></i> {{ 'DIALOG.TITLE.START_EVER' | translate }}</span><span *ngIf="!isStartFromEver()"><i class="fa fa-toggle-off"></i>  {{ 'DIALOG.TITLE.NOT_START_EVER' | translate }}</span></a>
      </div>
      <div class="form-group">
        <a  (click)="toggleUpToToday();" style="margin-left: 0px;line-height: 27px;color: #337ab7;;cursor: pointer"> <span *ngIf="isUpToToday()" ><i class="fa fa-toggle-on"></i> {{ 'DIALOG.TITLE.TODAY_ON' | translate }}</span><span *ngIf="!isUpToToday()"><i class="fa fa-toggle-off"></i> {{ 'DIALOG.TITLE.TODAY_OFF' | translate }}</span></a>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)="saveDatePartition()" >Save</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>

