<div class="manage-functional-roles1 ">
  <functional-role-crud-grid   include-sub-entity-data="!manage_fr.showOnlyActiveScheduleGroups" items-selected="manage_fr.onSelectScheduleGroups" item-selected="manage_fr.onSelectScheduleGroup" change-page="manage_fr.changeScheduleGroupsPage" export-to-excel="manage_fr.exportToExcelData"
                              page-changed="manage_fr.scheduleGroupPageChanged"  change-selected-item="manage_fr.changeFunRoleSelectedItem" total-elements="manage_fr.totalElements"
                              find-id="manage_fr.findIdScheduleGroup" template-view="true"   refresh-data="manage_fr.reloadDataListItems" refresh-data-silently="manage_fr.syncScheduleGroupData" reload-data-to-grid="manage_fr.refreshScheduleGroupDisplay"
                              filter-data="manage_fr.filterData" process-export-finished="manage_fr.exportToExcelCompleted" ></functional-role-crud-grid>
</div>
