doctype-item-grid {

  width: 100%;
  .item {
    &.fieldIcon {
      flex: 0 0 30px;
    }

    &.fieldName {
      flex: 2 0 150px;
    }
    &.selectTag {
      flex: 0 0 350px;
    }
    &.tagsField {
      flex: 2 1 250px;
    }

  }
  position: relative;

  .name-column {
    display: flex;
    flex: 1;
    padding: 1px 0 !important;
    height: 32px;

    .name {
      flex: 1;
      display: flex;
      align-items: center;
  //    max-width: 50%;

      .icon {
        padding-right: 5px;
      }
    }

    .tag-types {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;

      .dropdown-toggle {
        padding: 5px 7px;

        .tag {
         padding: 0 2px;
        }
      }
    }
  }

  .desc-column {
    flex: 1 0 400px;
    padding: .4em 10px !important;
  }

  .tag-items-column {
    flex: 0 0 400px;
    display: flex;
    position: relative;
    padding: 2px 10px 2px 10px !important;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;

    .tag-list {
      display: flex;
      flex-direction: row;
      width: 90%;
      flex-flow: row wrap;
      align-content: space-between;
    }
    .tags-ddl-wrapper {
      justify-content: flex-end;

      .dropdown {
        position: absolute;
        right: 10px;
        top: 5px;

        button {
          background: transparent;
          border: 1px solid #b3b3b3;

          .caret {
            color: #979797;
          }
        }

        .dropdown-toggle {
          border: 1px solid #d8d8d8;
          width: 5px;
          height: 15px;
          background: white;

          .caret {
            margin-left: -2px;

            &.ng-hide {
              display: block !important;
            }
          }
        }
      }
      .tag {
        .fa-flag {
          padding-right: 7px;
        }
      }
    }
  }



  .modal-row {
    z-index: 10;
    cursor: move;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
  }
}

.ddl-tag-items-menu {
  max-height: 235px;
  overflow: auto;
  padding: 10px 15px 10px 10px;

  .tag-item {
    display: flex;
    padding: 7px 0;
    font-size: 12px;
    color: #555;
    cursor: default;

    .tag {
      padding-right: 5px;
    }

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      min-width: 0;
      width: 150px;

      &.label-o{
        background: transparent!important;
        border: 1px solid;
        border-radius: 3px;
        padding: 1px 2px;
      }
    }

    &:hover {
      background: #f8f8f8;
    }
  }
}
