<div #el class="grid-row">
  <div class="modal-row" *ngIf="hostComponent.moveMode" (click)="onModalClick()"></div>
  <div class="name-column"  [ngStyle]="{'flex' : '1 0 '+ nameWidthStr }">
    <div class="name">
      <div class="icon fa fa-bookmark tag-{{getDocTypeStyleId(dataItem.item)}} opacity-depth-{{getDocTypeDepth(dataItem.item)}}"></div>
      <div class="title-primary long-and-truncated no-special-tooltip" title="{{dataItem.item.fullName}}">{{dataItem.item.name}}</div>
    </div>
    <div *ngIf="dataItem.item.tagItems.length > 0 && hostComponent.showFlags" class="tag-types"  ngbDropdown  ngbDropdownReposition [fixPos]='true' autoClose="outside" >
      <a class="btn btn-link" ngbDropdownToggle  >
        <span *ngFor="let tagType of dataItem.item.tagItems" title="{{tagType.typeName}} - {{tagType.name}}">
           <span class="tag tag-{{tagType.styleId}}">
               <span class="fa fa-flag"></span>
           </span>
        </span>
      </a>
      <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right ddl-tag-items-menu" style="right: 0 !important">
        <div *ngFor="let tagType of dataItem.item.tagItems" class="tag-item">
          <div class="tag tag-{{tagType.styleId}}">
            <span class="fa fa-flag"></span>
          </div>
          <div class="name label long-and-truncated label-o label-tag-{{tagType.styleId}}" title="{{tagType.typeName}} - {{tagType.name}}">{{tagType.name}}</div>
        </div>
      </ul>
    </div>
  </div>
  <div class="tag-items-column">
    <ddl-tag-items
      *ngIf="isMngDocTypeConfigUser"
      [docType]="dataItem.item"
      [isMngTagConfigUser]="isMngTagConfigUser"
      [onTagItemSelected]="onTagItemsSelected"
      [selectedTagTypeId]="hostComponent.selectedTagTypeId">
    </ddl-tag-items>
  </div>
  <div class="desc-column long-and-truncated">
    <span title="{{dataItem.item.description}}">{{dataItem.item.description}}</span>
  </div>
</div>
