<div>
  <div class="panel-header">
    <div class="header-item pull-right" style="position:relative" role="export">
      <i ng-show="manage_dc.exportToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
      <!--<a href="#" ng-class="{'disabled':exportToExcelInProgress}" class="btn btn-link" ng-click="onExportDocTypesToExcel()" title="Download data in Excel format"> <i class="fa fa-download "></i></a>-->
      <div class="btn-group dropdown">
        <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export options" ng-class="{'disabled':manage_dc.exportToExcelInProgress}" ng-disabled="manage_dc.exportToExcelInProgress">
          <i class="fa fa-download"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right"  >
          <li> <a ng-click="manage_dc.exportToExcel();" title="Download data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp; As Excel</a></li>
        </ul>
      </div>
    </div>
    <div class="header-item " style="margin-right: 10px;" >
      <h4 style="margin-top: 1px;margin-bottom: 0;"> Data centers ({{manage_dc.totalElements}})</h4>
    </div>
    <div ng-if="manage_dc.isMngScanConfigUser" class="header-item " style="margin-left: 30px;" >
      <customer-data-center-manage-menu  reload-data="manage_dc.reloadDataListItems" selected-list-item-to-operate="manage_dc.selectItem" selected-list-items-to-operate="manage_dc.selectItems"></customer-data-center-manage-menu >
    </div>

  </div>
  <div class="clearfix "></div>
  <customer-data-centers-grid fix-height="300px" min-details="true" include-sub-entity-data="!manage_dc.showOnlyActiveScheduleGroups" items-selected="manage_dc.onSelectScheduleGroups" item-selected="manage_dc.onSelectScheduleGroup" change-page="manage_dc.changeScheduleGroupsPage" export-to-excel="manage_dc.exportToExcelData"
                               page-changed="manage_dc.scheduleGroupPageChanged"  change-selected-item="manage_dc.changeDataCenterSelectedItem" total-elements="manage_dc.totalElements"
                               find-id="manage_dc.findIdScheduleGroup"    refresh-data="manage_dc.reloadDataListItems" refresh-data-silently="manage_dc.syncScheduleGroupData" reload-data-to-grid="manage_dc.refreshScheduleGroupDisplay"
                               filter-data="manage_dc.filterData" process-export-finished="manage_dc.exportToExcelCompleted" ></customer-data-centers-grid>
</div>

