date-relative-absolute-selector  {
  .readable-title {
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .editable-title {
    width: 184px;
  }


}

.isMsIe11 {
    .readable-title {
      width: 130px !important;
    }

    .editable-title {
      width: 174px !important;
    }
}


.periods-menu {
  width:90px !important;

  .periods-menu-item  {
    cursor: pointer;
  }

  .periods-menu-item:hover {
    background-color: #eaeaea;
  }

}
