<div [ngClass]="{'isMsIe11': msie11}">
  <div class="table-cell"  style="width: 74px;color: #337ab7;cursor: pointer">
    <a  (click)="toggleIsAbsolute()" >
      <span [hidden]="dateRangePoint.type == DateRangePointType.ABSOLUTE">
        <i class="fa fa-toggle-off"></i> {{ 'DATE_SELECT.RELATIVE' | translate }}
      </span>
      <span [hidden]="dateRangePoint.type != DateRangePointType.ABSOLUTE">
        <i class="fa fa-toggle-on"></i> {{ 'DATE_SELECT.ABSOLUTE' | translate }}
      </span>
    </a>
  </div>
  <div role="relative end" *ngIf="dateRangePoint.type != DateRangePointType.ABSOLUTE" class="table-cell" style="width:157px;">
    <span role="change date resolution" >
                <span class="error pull-right"  [hidden]="isValid" >*</span>
                <div class="btn-group" style="margin-bottom:3px">
                  <div role="data entries # ddl" class="btn-group" ngbDropdown ngbDropdownReposition >
                    <button class="btn btn-flat btn-sm noFixPosition" ngbDropdownToggle style="min-width: 80px;" >
                         <span >{{dateRangePoint.relativePeriod|translate }}</span>
                         <span *ngIf="!dateRangePoint.relativePeriod">{{ 'SELECT' | translate }}</span>
                    </button>
                    <ul ngbDropdownMenu  class="periods-menu">
                         <li (click)="changeRelativePeriod(period)" *ngFor="let period of relativeTimePeriodOptions" class="periods-menu-item" style="padding: 10px" >{{ period | translate}}</li>
                    </ul>
                  </div>
                  <input class="btn btn-flat btn-sm " style="width: 60px;" [disabled]="!dateRangePoint.relativePeriod"  [required]="dateRangePoint.type != DateRangePointType.ABSOLUTE" title="{{ 'DATE_SELECT.TITLE.RESOLUTAION_STEP'  | translate }}" max="5" min="1"
                         [(ngModel)]="dateRangePoint.relativePeriodAmount" id="inputRelativeStep" name="inputRelativeStep" type="number"
                         (change)="relativeStepChanged();" />

                </div>
    </span>
  </div>
  <div role="absolute end" [hidden]="dateRangePoint.type != DateRangePointType.ABSOLUTE" class="table-cell" style="vertical-align: middle;width:157px">

    <span class="error pull-right " [hidden]="isValid" >*</span>
    <div style="width: 146px;">

      <div class="input-group datepicker"  style="position: relative; line-height: 17px;">

        <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="absoluteDateChanged()"  (change)="absoluteDateChanged()" id="absoluteDateInput" name="absoluteDateInput"
               [(ngModel)]="absoluteDate" ngbDatepicker container="body" #absoluteDateInput="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn fa fa-calendar" (click)="absoluteDateInput.toggle()" type="button"></button>
        </div>

        <!-- input type="text" class="form-control "  uib-datepicker-popup="{{dateFormat}}"  ng-required="isAbsolute()"  ng-model="absoluteDate" is-open="absoluteopened" datepicker-options="datePickerOptions" ng-change="absoluteDateChanged()"
               close-text="Close" ng-focus="absoluteopened=true" placehoder="{{dateFormat}}" id="absoluteDate" name="absoluteDate" alt-input-formats="altInputFormats"/>

        <span class="input-group-btn">
                    <button type="button" class="btn btn-flat" ng-click="openAbsolute()" style="vertical-align:top"><i class="fa fa-calendar"></i></button>
                  </span -->
      </div>
    </div>
  </div>
  <div *ngIf="!editTitleMode" class="table-cell"><div title="{{itemTitle}}" class="ellipsis  readable-title">{{itemTitle}}</div></div>

  <div  *ngIf="editTitleMode" class="table-cell  editable-title" style="position: relative">
    <input  (focus)="editTitleMode" select-text-if="editTitleMode"  (click)="$event.stopPropagation();" class="form-control has-right-two-icons edit-chart-title-input" [(ngModel)]="newTitle"
            (keyup-enter)="editTitle()"  (keyup-esc)="cancelEditTitle()" type="text"
            placeholder="New title"/>
      <span class="btn-group top-right-position" style="top:4px; ">
               <a  class="btn btn-link btn-sm" (click)="cancelEditTitle();"   title="{{ 'DATE_SELECT.TITLE.CANCEL_EDIT_TITLE'  | translate }}" ><span class="fa fa-times"></span></a>
               <a class="btn btn-link btn-sm"  (click)="editTitle();" title="{{ 'DATE_SELECT.TITLE.SAVE_TITLE'  | translate }}" ><span class="fa fa-check"></span></a>
      </span>
  </div>
  <div class="table-cell" >

    <a [hidden]="editTitleMode || disableTitleEditMode" class="btn btn-link btn-xs" (click)="setEditTitleMode(!editTitleMode);" title="{{ 'DATE_SELECT.TITLE.EDIT_TITLE'  | translate }}"><i class="fa fa-pencil"></i></a>
    <a [hidden]="editTitleMode" class="btn btn-link  btn-xs" (click)="onDeletePoint.emit([dateRangeItem,dateRangePoint])" title="{{ 'DATE_SELECT.TITLE.DELETE_ITEM'  | translate }}"><i  class="fa fa-trash-o" ></i></a>
    <span>
      <ng-content></ng-content>
    </span>
  </div>
</div>

