ingestError-module {
  ingestError-grid-header {
    width:100%;
    .grid-header {
      .item {
        &.baseName{
          flex: 0 1 250px;
        }
        &.fileType{
          flex: 0 0 70px;
        }
        &.fileExtension{
          flex: 0 0 100px;
        }
        &.rootFolder{
          flex: 0 1 200px;
        }
        &.folder{
          flex: 0 1 150px;
        }
        &.text{
          flex: 0 1 100px;
        }
        &.mediaType{
          flex: 0 1 90px;
        }
        &.errorType{
          flex: 0 1 150px;
        }
        &.detailText{
          flex: 1 0 150px;
        }
        &.timeStamp{
          flex: 0 1 150px;
        }
      }
    }
  }
}
