<div class="grid-header grid-header-basic">
  <div class="item baseName" [attr.data-col-name]="'fullPath'" [attr.data-col-sortable]="false">File name</div>
  <div [attr.data-col-name]="'fileType'" [attr.data-col-sortable]="false" class="item fileType">File type</div>
  <div [attr.data-col-name]="'extension'" [attr.data-col-sortable]="false" class="item fileExtension">File extension</div>
  <div class="item rootFolder" [attr.data-col-name]="'claFile.rootFolderId'" [attr.data-col-sortable]="false">Root folder</div>
  <div class="item folder" [attr.data-col-name]="'claFile.docFolder'" [attr.data-col-sortable]="false">Folder</div>
  <div [attr.data-col-name]="'type'" [attr.data-col-sortable]="false" class="item text">Text</div>
  <div [attr.data-col-name]="'text'" [attr.data-col-sortable]="false" class="item errorType">Error type</div>
  <div [attr.data-col-name]="'mediaType'" [attr.data-col-sortable]="false" class="item mediaType">Media type</div>
  <div class="item detailText" [attr.data-col-name]="'exception_text'" [attr.data-col-sortable]="false">Details</div>
  <div [attr.data-col-name]="'createdOnDB'" [attr.data-col-sortable]="false" class="item timeStamp">Date time</div>
</div>
