<div class="flex-container-col">
  <div class="header-panel">
    <toolbar *ngIf="isMngDepartmentsUser"   [exportActionItem]="exportActionItem" [settingsActionItems]="actionItems" [title]="'DEPARTMENTS.TITLE' | translate" [totalFilteredElements]="filterCount" [totalElements]="totalElements" [searchBox]="searchBoxConfig"></toolbar>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid *ngIf="!loading"
               [localFilterFunction]="localFilterFunction"
               (onFilteredCountChanged)="filterCountChange($event)"
               [treeGridData]="departments"
               [keepOpenNodes]="true"
               [inTreeMode]="true"
               [treeGridEvents]="treeGridEvents"
               [hostComponent]="this"
               [initialSortDirection]="initialSortDirection"
               [initialSortFieldName]="initialSortFieldName"
               [treeGridHeaderComponent]="departmentsGridHeaderComponent"
               [treeGridItemComponent]="departmentsItemGridComponent">
    </tree-grid>
  </div>
</div>


