<div>
  <div class="panel-header">
    <div class="header-item pull-right" style="position:relative" role="export">
      <i ng-show="exportToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
      <div class="btn-group dropdown">
        <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export options" ng-class="{'disabled':exportToExcelInProgress}" ng-disabled="exportToExcelInProgress">
          <i class="fa fa-download"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
          <li> <a ng-click="onExportMattersToExcel();" title="Download data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>
        </ul>
      </div>
    </div>
    <div class="header-item" style="margin-right: 10px;" >
      <h4 style="margin-top: 1px;margin-bottom: 0;"> Matters ({{totalElements}})</h4>
      <i ng-visible="filterData&&filterData.filter&&filterData.filter.field" class="fa fa-filter notice"></i>
    </div>
  </div>
  <div class="clearfix "></div>
  <matters-tree show-all-matters="true" export-to-excel="onExportToExcel" change-selected-item="changeMatterSelectedItemId" process-export-finished="exportToExcelCompleted" filter-data="filterData"
    get-current-url="getRightUrl" padding-bottom1="100" get-current-filter="getRightFilter" refresh-data="refreshData" items-selected="onSelectMatterItems" item-selected="onSelectMatterItem" total-elements="totalElements">
  </matters-tree>
</div>
