<div class="flex-container-col">
  <div class="flex-container-row top-items-area">
    <div class="dashboard-item-simple summary-box" >
      <div class="header-panel">
        <div class="header-line" >
          <div class="header-item">
            <h3>App</h3>
          </div>
        </div>
      </div>
      <div class="main-panel">
        <div class="ibox-content">
          <div class="ibox-item" *ngIf="serverComponentsSummary && serverComponentsSummary.dbs > 0">
            <div class="icon fa fa-check-square primary"></div>
            <div class="title">DB</div>
          </div>
          <div class="ibox-item"  *ngIf="serverComponentsSummary && serverComponentsSummary.brokers > 0">
            <div *ngIf="serverComponentsSummary.brokerFailed == 0 " class="icon fa fa-check-square primary"></div>
            <div *ngIf="serverComponentsSummary.brokerFailed > 0 " class="icon fa fa-exclamation-triangle notice primary"></div>
            <div class="title">Broker</div>

          </div>
          <div class="ibox-item"  *ngIf="serverComponentsSummary && serverComponentsSummary.appServers > 0">
            <div class="icon fa fa-check-square primary"></div>
            <div class="title">File cluster</div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-item-simple summary-box" style="margin-left: 10px">
      <div class="header-panel">
        <div class="header-line" >
          <div class="header-item">
            <h3>Media processors</h3>
          </div>
        </div>
      </div>
      <div class="main-panel">
        <div class="ibox-content">
          <div class="ibox-item">
            <div class="num ok" *ngIf="serverComponentsSummary">{{serverComponentsSummary.mpLive}}</div>
            <div class="title">Live</div>
          </div>
          <div class="ibox-item" *ngIf="serverComponentsSummary && serverComponentsSummary.mpFailed > 0">
            <div class="num error">{{serverComponentsSummary.mpFailed}}</div>
            <div class="title">Failed</div>
          </div>
          <div class="ibox-item" *ngIf="serverComponentsSummary && serverComponentsSummary.mpDisabled > 0">
            <div class="num disabled">{{serverComponentsSummary.mpDisabled}}</div>
            <div class="title">Disabled</div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-item-simple summary-box"  style="margin-left: 10px">
      <div class="header-panel">
        <div class="header-line" >
          <div class="header-item">
            <h3>Solr nodes</h3>
          </div>
        </div>
      </div>
      <div class="ibox-content">
        <div class="ibox-item">
          <div class="num ok" *ngIf="serverComponentsSummary">{{serverComponentsSummary.solrLive}}</div>
          <div class="title">Live</div>
        </div>
        <div class="ibox-item" *ngIf="serverComponentsSummary && serverComponentsSummary.solrFailed > 0">
          <div class="num error">{{serverComponentsSummary.solrFailed}}</div>
          <div class="title">Failed</div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-item-simple till-button">
    <div class="header-panel">
      <div class="header-line" >
        <div class="left-panel">
          <div class="header-item"  >
            <h3>
              <span *ngFor="let breadcrumbItem of breadCrumbs; let ind = index" >
                <span [ngClass]="{'breadcrumb-choose-step' : breadcrumbItem.clickFunc , 'breadcrumb-current-step' :  !breadcrumbItem.clickFunc}" (click)="breadcrumbItem.clickFunc && breadcrumbItem.clickFunc()">
                  {{ breadcrumbItem.title }}
                </span>
                <span  *ngIf="!breadcrumbItem.clickFunc"> ({{ totalSCompItems | number }})</span>
                <span *ngIf="ind < breadCrumbs.length-1" class="breadcrumb-choose-step-seperator"> > </span>
              </span>
              <i (click)="loadData(true)" class="header-refresh-btn fa fa-refresh"></i>
            </h3>
          </div>
          <div class="header-item"  >
            <div class="btn-group" style="padding: 6px 10px">
              <button class="btn btn-flat btn-xs" (click)="chooseDates()" >
                {{ filterBySearchDateTime ?  'Change date' : 'Choose date' }}
              </button>
            </div>
            <div *ngIf="filterBySearchDateTime" class="btn-group" style="padding: 3px 10px">
              <span > {{ filterBySearchDateTime | date : CommonConfig.dateTimeFormat }}  </span>
            </div>
            <a *ngIf="filterBySearchDateTime" class="btn btn-link btn-xs clear-date-btn" (click)="clearDate()" >
              <span class="fa fa-close" ></span>
            </a>
          </div>
        </div>
        <div class="right-panel">
          <div class="header-item"  >
            <da-drop-down *ngIf="!isExporting"  [openOnLeft]="true" [enabled]="true" [dropDownItems]="exportDropDownItems">
              <span  class="icon-button download"   title="Export options"><i class="fa fa-download"></i></span>
            </da-drop-down>
            <span class="header-options-spinner  da-right-spinner" *ngIf="isExporting"><i class="fa fa-spinner fa-spin"></i></span>
          </div>

        </div>
      </div>
    </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid class="latest-design"
                [inTreeMode]="true"
                [treeGridData]="currentScData"
                [treeGridEvents]="scTreeGridEvents"
                [keepOpenNodes]="true"
                [treeGridConfig]="treeConfig"
                [treeGridItemComponent]="ServerComponentItemGridComponent">
     </tree-grid>
   </div>
  </div>
</div>
