@import "serverComponentItemGrid/serverComponentItemGrid";
server-component {
  .top-items-area {
    padding-bottom: 10px;
    flex: 0 0 170px;
  }
  .summary-box {
    .ibox-content {
      display: flex;
      flex-direction: row;
      .ibox-item:last-child {
        border-right: none !important;
      }
      .ibox-item {
        width: 100px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding-top: 15px;
        padding-bottom: 5px;
        border-right: 1px solid #ececec;

        .icon {
          font-size: 32px;
        }
        .title {
          padding-top: 7px;
        }

        .num.ok {
          color: #5d5d5d;
        }

        .num.error {
          color: red;
        }

        .num {
          font-size: 23px;
        }
      }
    }
  }
}
