<div class="modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">Upload {{component}} from {{fileType}} file</span>
  <a  class="close" aria-label="Close" (click)="cancel('cancel')">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <upload-file-form [hidden]="!isUploadStage()" [validateUploadFn]="validateUploadFn" [fileType]="data.fileType" (validated)="onFileValidated($event)"></upload-file-form>
  <upload-file-valid-form *ngIf="file && validationInfo" [hidden]="!isValidStage()" [file]="file" [validationInfo]="validationInfo" [component]="component" [allowDuplicates]="allowDuplicates" (updateDuplicates)="setUpdateDuplicates($event)"></upload-file-valid-form>
  <upload-file-success-form *ngIf="file && importInfo" [hidden]="!isSuccessStage()" [file]="file" [importInfo]="importInfo"></upload-file-success-form>
</div>
<div class="modal-footer">
  <div class="left-panel">
    <div class="btn-group" *ngIf="isValidStage()">
      <button type="button" class="btn btn-default" (click)="back()" title="Back"><!--i class="fa fa-arrow-left"></i-->Back</button>
    </div>
    <div class="btn-group" *ngIf="isUploadStage() && file && !newFileSelected">
      <button type="button" class="btn btn-default" (click)="next()" title="Next"><!--i class="fa fa-arrow-right"></i-->Next</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" *ngIf="isValidStage()" (click)="downloadValidationLog()" title="Download validation log"><i class="fa fa-download"></i>&nbsp;View validation log</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" *ngIf="isSuccessStage()" (click)="downloadImportLog()" title="Download import log"><i class="fa fa-download"></i>&nbsp;View Import log</button>
    </div>
  </div>
  <div class="right-panel">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" *ngIf="isValidStage()" [ngClass]="{disabled : validationInfo.importedRowCount == 0 && (!updateDuplicates || validationInfo.duplicateRowCount == 0)}" (click)="import()" title="Import ({{updateDuplicates ? validationInfo.importedRowCount + validationInfo.duplicateRowCount : validationInfo.importedRowCount}} {{component | lowercase}})"><i class="fa fa-upload"></i>&nbsp;Import ({{updateDuplicates ? validationInfo.importedRowCount + validationInfo.duplicateRowCount : validationInfo.importedRowCount}})</button>
    </div>
    <div class="btn-group" *ngIf="isSuccessStage()">
      <button type="button" class="btn btn-primary" (click)="cancel('ok')">Close</button>
    </div>
    <div class="btn-group" *ngIf="isUploadStage() || isValidStage()">
      <button type="button" class="btn btn-default" (click)="cancel('cancel')">Cancel</button>
    </div>
  </div>
</div>
