gdpr-resolve {

  display: flex;
  flex-direction: column;
  flex: 1;
  .card {
    width: 600px;
    .commentInner {
      display: flex;
      flex-direction: row;
      i {
        width: 40px;
        font-size: 30px;
      }
    }
    i {
  //    width: 40px;
      font-size: 20px;
    }
    textarea {
      flex: 1;
      height: 100px;
      margin: 6px;
    }
    h5{
    //  margin-left: 55px;
      margin-top: 15px;
    }
  }
  .submit-approval{
    background: white;

    margin: 6px;
    margin-top: 15px;
   border-radius: 5px;

  }
  .inner-content {
    margin-top: 10px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .approval-msg {
      border-bottom: 1px solid #dbd9d9;
      display: flex;
      justify-content: center;
      font-size: 20px;
      padding: 10px;
      margin-bottom: 20px;
      margin-top: -30px;
    }

    .actions-wrapper {
      display: flex;
      flex-direction: row;
    //  padding-top: 20px;
      margin-top: 20px;
    //  border-bottom: 1px solid #cecece;
      .card {
        margin-top: 40px;

      }
      .action-dialog {
        display: none;
        position: absolute;
        top: 35px;
        background: white;
        border:1px solid #ccc;
        width: 525px;
        z-index: 200;
        padding: 20px;

        .title {
          font-weight: bold;
          padding: 10px 0;
        }

        .comment {
          padding-bottom: 20px;

          textarea {
            height: 100px;
          }
        }
        .footer {
          float: right;
        }
      }

      .btn {
        padding: 4px 6px !important;
      }

      .btn-remove {
        color: gray;
        display: flex;
        align-items: center;
        cursor:pointer;

        &:hover {
          color: red;
        }
      }

      .right-buttons {
     //   margin-top: 40px;
        display: flex;
        flex-direction: row;
        flex:1;
        position: relative;

        .action-item {
          margin-right: 5px;
        }

        .action-dialog {
          left: 0;

          .applyTo {
            .options {
              label {
                padding: 10px;
                cursor: pointer;
              }
            }
          }
        }

        &.show-dialog {
          .action-dialog {
            display: block;
          }
        }
      }

      .left-buttons {
        display: flex;

        .btn-approval {
          position: relative;
          &.show-dialog {
            .action-dialog {
              display: block;
              right: 0;

              .title {
                color: gray;
                text-align: left;
              }
            }
          }
        }
      }

      .tabs-wrapper {
        display: flex;
        flex-direction: row;
     //   padding-top: 30px;
     //   border-bottom: 1px solid #d7d7d7;

        .tabs {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;

          border-bottom: 0;

          .item {
            display: flex;
            border-bottom: 1px solid #d7d7d7;
            border-right: 0;
            margin-bottom: -1px;
            line-height: 28px;
            padding: 0 20px;
            cursor: pointer;
            position: relative;
            font-size: 12px;
            white-space: nowrap;
            align-items: center;

            &.stretch {
              flex: 1;
            }
            &:last-child {
          //    border-right: 1px solid #d7d7d7;
            }

            &.selected {
              border: 1px solid #d7d7d7;
              border-bottom: none;
              border-radius: 3px;
              font-weight: bold;
            }
          }
        }
      }

      // ----- actions wrappers  -------

      .main-actions {
        max-width: 850px;
        margin-right: 10px;
      }

      .pending-actions {
        max-width: 35%;
        margin-right: 10px;
      }

      .other-actions {
        flex: 1;
        display: flex;
        align-items: flex-end;


        .discussion-btn {
          color: #428bca;
          cursor: pointer;
          padding: 5px 10px 5px 10px;

          &.selected {
            font-weight: bold;
          }
        }
      }

      .submit-action {

      }

    }

    .history-wrapper {
      height: calc(100% - 195px);
    }
  }
}
