<div *ngIf="!workflowItem || !workflowItem.id">No such GDPR workflow provided</div>
<div class="fill-width inner-content"  *ngIf="workflowItem as data">
  <div *ngIf="data && data.id" >

    <h2 (click)="goToGrid()" style="cursor:pointer"><i class="fa fa-user-o"></i> <span class="header header-primary"> {{data.requestDetails.firstName}} {{data.requestDetails.lastName}}</span> </h2>
    <h4>
       <span  *ngIf="workflowItem.state ===  WorkflowState.GDPR_RESOLVE">
         <span class="label label-1"><i class="fa fa-sun-o"></i> In progress</span>
    </span>
      <span  *ngIf="workflowItem.state ===  WorkflowState.GDPR_PENDING_APPROVAL">
      <span class="label label-2"><i class="fa fa-code-fork"></i>  Waiting for approval</span>
    </span>
      <span *ngIf="workflowItem.state ===  WorkflowState.GDPR_PENDING_ACTION">
      <span  class="label" style="background: greenyellow"> <i class="fa fa-bullhorn"></i> Waiting for action execution</span>
    </span> Resolving actions on files</h4>
    <!--<div class="submit-approval card card-default " *ngIf="readyForSubmitReadyForApproval">-->
      <!--<div role="submit workflow" >-->workflowItem
        <!--<div *ngIf="workflowItem.state ===  WorkflowState.GDPR_RESOLVE || workflowItem.state ===  WorkflowState.GDPR_DISCOVER "  >-->


              <!--<h2> The workflow is ready !!</h2>-->
              <!--<h5 style="margin-left: 55px;margin-top: 15px;">All files are marked with action.</h5>-->
              <!--<div class="commentInner"><i class="fa fa-comment-o"></i><textarea placeholder="Your comment here..."  class="form-control" name="actionComment" [(ngModel)]="approvalComment" required maxlength="3200" ></textarea></div>-->

            <!--<button class="btn btn-main-opeartion btn-md pull-right" (click)="setPendingApproveRequest(approvalComment)">Submit for approval</button>-->

        <!--</div>-->
        <!--<div *ngIf="workflowItem.state ===  WorkflowState.GDPR_PENDING_APPROVAL" class="btn-approval" [ngClass]="{'show-dialog': showApprovalDialog}" >-->
          <!--<button class="btn btn-main-opeartion btn-md " (click)="onApprovalButtonClicked()">Submit approve</button>-->
          <!--<div class="action-dialog" (clickOutside)="onApprovalDialogClickedOutside($event)">-->
            <!--<div class="comment">-->
              <!--<div class="title">Comment</div>-->
              <!--<div><textarea  class="form-control" name="pendingComment" [(ngModel)]="pendingComment" required maxlength="3200" ></textarea></div>-->
            <!--</div>-->
            <!--<div class="footer">-->
              <!--<button class="btn btn-flat" (click)="onApprovalDialogCloseClick();">Cancel</button>-->
              <!--<button class="btn btn-main-opeartion btn-md" (click)="setApproveRequest(pendingComment);" >Approve</button>-->
              <!--<button class="btn btn-main-opeartion btn-md" (click)="setApproveRequestAndReadyForAction(pendingComment);" >Approve && Send to execution</button>-->
              <!--<button class="btn btn-main-opeartion btn-md" (click)="setReopenApproveRequest(pendingComment);" >Reopen</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="actions-wrapper">

      <div class="main-actions">
        <div role="filter tabs" class="tabs-wrapper">
          <div class="tabs">
            <div class="item stretch" (click)="filterByFileAction(null)" [ngClass]="{'selected' : !currentFilterAction}">
              <span>All ({{totalFiles?totalFiles:'?'}})</span>
            </div>
            <div *ngFor="let action of tabActions" class="item" [ngClass]="{'selected' : currentFilterAction==action.action}" (click)="filterByFileAction(action.action)">
              {{action.title}} ({{this.actionsFileCount?this.actionsFileCount.get(action.action)?this.actionsFileCount.get(action.action):0:'?'}})
            </div>
          </div>
          <div class="other-actions">
            <div class="discussion-btn" (click)="showWorkflowActivities()" [ngClass]="{'selected' : isWorkflowActivitiesVisible}">Show discussions</div>
          </div>
        </div>

      <div class="card card-default" *ngIf="workflowItem.state !=  WorkflowState.GDPR_PENDING_ACTION">
        <h2>Set action for files</h2>
        <h5 >Select from the screen below and click the relevant action</h5>
        <!--<div class="commentInner"><i class="fa fa-comment-o"></i><textarea placeholder="Your comment here..."  class="form-control" name="actionComment" [(ngModel)]="actionComment" required maxlength="3200" ></textarea></div>-->

        <div role="tag actions buttons" class="  right-buttons" [ngClass]="{'show-dialog': selectedBtn !== null}">

          <div *ngFor="let action of actions;" class="action-item" >
            <button class="btn btn-default btn-md {{action.btnCls}}"   (click)="onActionButtonClicked($event, action)"><i class="fa {{action.iconCls}}"></i>  {{action.title}}</button>
          </div>
          <div class="action-dialog" *ngIf="selectedActionBtn" [style.left.px]="actionDialogLeftPos" (clickOutside)="onActionDialogClickedOutside($event)">
            <div class="applyTo">
              <div class="title">Apply {{selectedActionBtn.title}} to:</div>
              <div class="options">
                <label for="applyToLeft">
                  <input type="radio" id="applyToLeft" value="{{selectedItemLeftEntity}}" name="applyTo" [(ngModel)]="currentActionData.applyTo">
                  <span>{{selectedItemLeftEntity}}</span>
                </label>
                <label for="applyToRight" *ngIf="selectedItemRightEntity">
                  <input type="radio" id="applyToRight" value="{{selectedItemRightEntity}}" name="applyTo" [(ngModel)]="currentActionData.applyTo">
                  <span>{{selectedItemRightEntity}}</span>
                </label>
                <label for="applyToFilter">
                  <input type="radio" id="applyToFilter" value="null" name="applyTo" [(ngModel)]="currentActionData.applyTo">
                  <span>All filtered files</span>
                </label>
              </div>
            </div>
            <div class="comment">
              <div class="title">Comment</div>
              <div><textarea  class="form-control" name="actionComment" [(ngModel)]="currentActionData.comment" required maxlength="3200" ></textarea></div>
            </div>
            <div class="footer">
              <button class="btn btn-flat" (click)="onActionDialogCloseClick()">Cancel</button>
              <button class="btn btn-main-opeartion btn-md" (click)="setAction(selectedActionBtn.action,currentActionData.comment);onActionDialogCloseClick();" >Apply</button>
            </div>
          </div>

        </div>

        </div>
      </div>
      <div class="pending-actions"  *ngIf="workflowItem.state ===  WorkflowState.GDPR_PENDING_APPROVAL">
        <div role="filter tabs" class="tabs-wrapper">
          <div  class="tabs">
            <div *ngFor="let fileState of fileStatesTabs" class="item stretch" (click)="toggleFilterByFileState(fileState)" >
              <i class="fa fa{{fileState.active?'-check':''}}-square-o"></i>&nbsp; {{fileState.title}} ({{this.statesFileCount?this.statesFileCount.get(fileState.state):'?'}})
            </div>
          </div>
        </div>
        <div class="card card-default">
          <h2>Approve actions assigned to files</h2>
          <h5 >Select from the screen below and click:</h5>
          <div role="approval states buttons" class="right-buttons" *ngIf="workflowItem.state ==  WorkflowState.GDPR_PENDING_APPROVAL"  [ngClass]="{'show-dialog': selectedBtn !== null}">
          <div *ngFor="let fileState of fileStatesBtn;" class="action-item" >
            <button class="btn btn-default btn-md {{fileState.btnCls}}" (click)="onFileStateButtonClicked($event, fileState)"><i class="fa {{fileState.iconCls}}"></i>  {{fileState.title}}</button>
          </div>
          <div class="action-dialog" *ngIf="selectedFileStateBtn" [style.left.px]="fileStateDialogLeftPos" (clickOutside)="onFileStateDialogClickedOutside($event)">
            <div class="applyTo">
              <div class="title">Apply {{selectedFileStateBtn.title}} to:</div>
              <div class="options">
                <label for="applyToLeft">
                  <input type="radio" id="applyStateToLeft" value="{{selectedItemLeftEntity}}" name="applyStateTo" [(ngModel)]="currentFileStateData.applyTo">
                  <span>{{selectedItemLeftEntity}}</span>
                </label>
                <label for="applyToRight" *ngIf="selectedItemRightEntity">
                  <input type="radio"  id="applyStateToRight" value="{{selectedItemRightEntity}}" name="applyStateTo" [(ngModel)]="currentFileStateData.applyTo">
                  <span>{{selectedItemRightEntity}}</span>
                </label>
                <label for="applyToFilter">
                  <input type="radio" id="applyStateToFilter" value="null" name="applyStateTo" [(ngModel)]="currentFileStateData.applyTo">
                  <span>All filtered files</span>
                </label>
              </div>
            </div>
            <div class="comment">
              <div class="title">Comment</div>
              <div><textarea  class="form-control" name="actionComment" [(ngModel)]="currentFileStateData.comment" required maxlength="3200" ></textarea></div>
            </div>
            <div class="footer">
              <button class="btn btn-flat" (click)="onFileStateDialogCloseClick()">Cancel</button>
              <button class="btn btn-main-opeartion btn-md" (click)="setFileState(selectedFileStateBtn.state,currentFileStateData.comment);onFileStateDialogCloseClick();" >Apply</button>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="submit-action">
        <div role="submit workflow" class="left-buttons">
          <div *ngIf="workflowItem.state ===  WorkflowState.GDPR_RESOLVE || workflowItem.state ===  WorkflowState.GDPR_DISCOVER " class="btn-approval" [ngClass]="{'show-dialog': showApprovalDialog}" >
            <button class="btn btn-main-opeartion btn-md " (click)="onApprovalButtonClicked()">Submit for approval</button>
            <div class="action-dialog" (clickOutside)="onApprovalDialogClickedOutside($event)">
              <div class="comment">
                <div class="title">Comment</div>
                <div><textarea  class="form-control" name="actionComment" [(ngModel)]="approvalComment" required maxlength="3200" ></textarea></div>
              </div>
              <div class="footer">
                <button class="btn btn-flat" (click)="onApprovalDialogCloseClick();">Cancel</button>
                <button class="btn btn-main-opeartion btn-md" (click)="setPendingApproveRequest(approvalComment);" >Submit</button>
              </div>
            </div>
          </div>
          <div *ngIf="workflowItem.state ===  WorkflowState.GDPR_PENDING_APPROVAL" class="btn-approval" [ngClass]="{'show-dialog': showApprovalDialog}" >
            <button class="btn btn-main-opeartion btn-md " (click)="onApprovalButtonClicked()">Submit approve</button>
            <div class="action-dialog" (clickOutside)="onApprovalDialogClickedOutside($event)">
              <div class="comment">
                <div class="title">Comment</div>
                <div><textarea  class="form-control" name="pendingComment" [(ngModel)]="pendingComment" required maxlength="3200" ></textarea></div>
              </div>
              <div class="footer">
                <button class="btn btn-flat" (click)="onApprovalDialogCloseClick();">Cancel</button>
                <button class="btn btn-main-opeartion btn-md" (click)="setApproveRequest(pendingComment);" >Approve</button>
                <button class="btn btn-main-opeartion btn-md" (click)="setApproveRequestAndReadyForAction(pendingComment);" >Approve && Send to execution</button>
                <button class="btn btn-main-opeartion btn-md" (click)="setReopenApproveRequest(pendingComment);" >Reopen</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="discover-iframe-wrapper"></div>
  <div class="history-wrapper" *ngIf="isWorkflowActivitiesVisible">
    <gdpr-history-workflow-item
      [workflow]="data"
      [workflowId]="data.id">
    </gdpr-history-workflow-item>
  </div>
</div>


