<div class="modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <form class="form-horizontal modal-form-md" name="generalForm" #logLevelForm="ngForm" role="form">
    <div  class="form-group form-group-position-relative">
      <label class="control-label" for="logLevelName">Name:</label>
      <div class="control-field">
        <input type="text" class="form-control" id="logLevelName" name="logLevelName" [(ngModel)]="logLevelItem.name" required minlength="1" #logLevelName="ngModel" placeholder="Name">
      </div>
      <div class="error error-position" *ngIf="logLevelName.invalid">*</div>
    </div>
    <div  class="form-group">
      <label for="logLevelType" class="control-label">Level:</label>
      <div class="control-field">
        <select class="modal-select-field select-field form-control" id="logLevelType" name="level" [(ngModel)]="logLevelItem.configuredLevel">
          <option *ngFor="let levelType of enumLevelTypes;" [value]="levelType">{{ 'LOG_LEVELS.TYPES.'+levelType  | translate }}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group" *ngIf="!inEditMode"><button type="button" class="btn btn-primary" (click)="save(true)" >Save & Create another</button></div>
    <div class="btn-group"><button type="button" class="btn btn-primary" (click)="save(false)" >Save</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
  </div>
</div>
