<div class="modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-lg">
  <ul class="nav nav-tabs">
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='general', 'nav-item': activeTab!='general'}"><a class="nav-link" data-toggle="tab" (click)="setActiveTab('general')" >General <span class="error" [ngStyle]="{'visibility': scheduleGroupGeneralForm && scheduleGroupGeneralForm.invalid ? 'visible' : 'hidden'}">*</span></a></li>
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='recurrence', 'nav-item': activeTab!='recurrence'}"><a class="nav-link" data-toggle="tab" (click)="setActiveTab('recurrence')" >Recurrence <span class="error" [ngStyle]="{'visibility': scheduleGroupRecurrenceForm && scheduleGroupRecurrenceForm.invalid || !isValidDayOfTheWeek() ? 'visible' : 'hidden'}">*</span></a></li>
  </ul>
  <div [hidden]="activeTab!='general'">
    <form class="form-horizontal modal-form-md" name="generalForm" #scheduleGroupGeneralForm="ngForm" role="form">
      <div class="form-group">
        <label class="control-label-checkbox control-label"><input class="control-field-checkbox" type="checkbox" name="scheduleGroupActive" [(ngModel)]="scheduleGroupItem.active">Rescan active</label>
      </div>
      <div  class="form-group form-group-position-relative">
        <label class="control-label" for="scheduleGroupName">Name:</label>
        <div class="control-field">
          <input type="text" class="form-control" id="scheduleGroupName" name="scheduleGroupName" [(ngModel)]="scheduleGroupItem.name" required minlength="1" #scheduleGroupName="ngModel" placeholder="Schedule group name">
        </div>
        <div class="error error-position" *ngIf="scheduleGroupName.invalid">*</div>
      </div>
      <div  class="form-group">
        <label class="control-label" for="scheduleGroupDescription">Description:</label>
        <div class="control-field">
          <textarea class="form-control" id="scheduleGroupDescription" name="scheduleGroupDescription" [(ngModel)]="scheduleGroupItem.schedulingDescription"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div [hidden]="activeTab!='recurrence'">
    <form class="form-horizontal modal-form-md" name="recurrenceForm" #scheduleGroupRecurrenceForm="ngForm" role="form">
      <div  class="form-group">
        <label for="scheduleGroupType" class="control-label">Reoccur:</label>
        <div class="control-field">
          <select class="select-field form-control" id="scheduleGroupType" name="scheduleGroupType" [(ngModel)]="scheduleGroupItem.scheduleConfigDto.scheduleType" (change)="onReoccurChange()">
            <option *ngFor="let scheduleType of scheduleTypeOptions" [value]="scheduleType">{{ scheduleType | translate }}</option>
          </select>
        </div>
      </div>
      <div *ngIf="!isWeekly() && !isCustom()" class="form-group">
        <label class="control-label">Every:</label>
        <div class="control-field" *ngIf="isHourly()">
          <input type="number" class="input-number-field form-control" id="scheduleGroupEveryHourly" name="scheduleGroupEveryHourly" [(ngModel)]="scheduleGroupItem.scheduleConfigDto.every" required min="1" max="24" #scheduleGroupEveryHourly="ngModel" (change)="onEveryChange()">
          <span class="span-field">hours</span>
          <span class="error" *ngIf="scheduleGroupEveryHourly.invalid"> *</span>
        </div>
        <div class="control-field" *ngIf="isDaily()">
          <input type="number" class="input-number-field form-control" id="scheduleGroupEveryDaily" name="scheduleGroupEveryDaily" [(ngModel)]="scheduleGroupItem.scheduleConfigDto.every" required min="1" max="31" #scheduleGroupEveryDaily="ngModel" (change)="onEveryChange()">
          <span class="span-field">days</span>
          <span class="error" *ngIf="scheduleGroupEveryDaily.invalid"> *</span>
        </div>
      </div>
      <div class="form-group" *ngIf="!isCustom()">
        <label for1="scheduleGroupTime" class="control-label">At:</label>
        <div class="control-field">
          <span class="span-field" *ngIf="isHourly()">XX</span>
          <select [hidden]="isHourly()" class="select-field form-control" id="scheduleGroupHour" name="scheduleGroupHour" [(ngModel)]="scheduleGroupItem.scheduleConfigDto.hour" schedule_hour_validator #scheduleGroupHour="ngModel">
            <option *ngFor="let hour of startingTimeHoursRange"  value="{{ hour.value }}">{{ hour.display }}</option>
            <option value="-1" disabled hidden>HH</option>
          </select>
          <span class="span-field">:</span>
          <select class="select-field form-control" id="scheduleGroupMinutes" name="scheduleGroupMinutes" [(ngModel)]="scheduleGroupItem.scheduleConfigDto.minutes" schedule_minutes_validator #scheduleGroupMinutes="ngModel">
            <option *ngFor="let minutes of startingTimeMinutesRange"  value="{{ minutes.value }}">{{ minutes.display }}</option>
            <option value="-1" disabled hidden>MM</option>
          </select>&nbsp;
          <span class="error" *ngIf="(scheduleGroupHour && scheduleGroupHour.invalid ) || (scheduleGroupMinutes && scheduleGroupMinutes.invalid)"> *</span>
        </div>
      </div>
      <div *ngIf="isWeekly()" class="form-group">
        <label class="control-label checkbox-group-long">Days:</label>
      </div>
      <div *ngIf="isWeekly()" class="form-group">
        <div class="control-field control-field-no-lable">
          <div *ngFor="let day of daysOptions" class="checkbox">
            <label class="control-label-checkbox-group control-label-checkbox control-label">
              <input class="control-field-checkbox" type="checkbox" [(ngModel)]="day.selected" [ngModelOptions]="{standalone: true}">{{day.value | translate}}
            </label>
          </div>
          <span class="error" *ngIf="!isValidDayOfTheWeek()"> *</span>
        </div>
      </div>
      <div *ngIf="isCustom()" class="form-group">
        <label class="control-label" for="customCronExpression">Configuration:</label>
        <div class="control-field">
          <input type="text" class="form-control" id="customCronExpression" name="customCronExpression" [(ngModel)]="scheduleGroupItem.scheduleConfigDto.customCronConfig"
                 required minlength="9" placeholder="Cron expression (0 0 1 * * *)">
        </div>
        <span class="error" *ngIf="!isValidCustom()"> *</span>
      </div>
      <div *ngIf="isCustom()" class="form-group">
        <span class="span-field">{{cronExpressionText}}</span>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)="save()" >Save</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
