<span class="da-i {{ !isSpriteSvg && !isPngIcon ?  iconName : '' }}">
  <span *ngIf="isSpriteSvg">
    <svg>
                        <use [attr.href]="'/assets/svg/sprites/svg-defs.svg' + iconName.replace('__','#')"></use>
                     </svg>
  </span>
  <img *ngIf="isPngIcon" class="da-i {{iconClass}}" src="/assets/images/{{iconName}}">
</span>
