<div class="grid-header grid-header-basic">
  <!-- div class="item id" [attr.data-col-name]="'id'" [attr.data-col-sortable]="true" >Id</div -->
  <div class="item nickName">{{ 'HISTORY.HEADER.NAME' | translate}}</div>
  <div class="item path" [attr.data-col-name]="'rootFolderId'" [attr.data-col-sortable]="true"  >{{ 'HISTORY.HEADER.PATH' | translate}}</div>
  <div class="item state" [attr.data-col-name]="'runStatus'" [attr.data-col-sortable]="true" >{{ 'HISTORY.HEADER.STATE' | translate}}</div>
  <div class="item viewBtn"></div>
  <div class="item runTrigger" >{{ 'HISTORY.HEADER.TRIGGER' | translate}}</div>
  <div class="item sGroup" [attr.data-col-name]="'scheduleGroupId'" [attr.data-col-sortable]="true" >{{ 'HISTORY.HEADER.SG' | translate}}</div>
  <div class="item startTime" [attr.data-col-name]="'startTime'" [attr.data-col-sortable]="true">{{ 'HISTORY.HEADER.START' | translate}}</div>
  <!-- div class="item period" >Elapsed Time</div -->
  <div class="item endTime" [attr.data-col-name]="'stopTime'" [attr.data-col-sortable]="true" >{{ 'HISTORY.HEADER.END' | translate}}</div>
</div>
