scan-history {
  scan-history-grid-header {
    width: 100%;
    .grid-header {
      .item {
        &.id {
          flex: 0 1 50px;
        }
        &.nickName {
          flex: 0 1 200px;
        }
        &.path {
          flex: 1 0 150px;
        }
        &.state {
          flex: 0 1 150px;
        }
        &.runTrigger {
          flex: 0 1 100px;
        }
        &.sGroup {
          flex: 0 1 150px;
        }
        &.startTime {
          flex: 0 1 150px;
        }
        &.period {
          flex: 0 0 100px;
        }
        &.endTime {
          flex: 0 1 150px;
        }
        &.viewBtn {
          flex: 0 1 40px;
        }


      }
    }
  }
}
