pattern-categories-grid-header {
  width: 100%;
  position: relative;
  .grid-header {
    .item {
      &.fieldIcon {
        flex: 0 0 25px;
      }
      &.fieldName {
        flex: 1 0 200px;
        word-break: break-all;
      }
    }
  }
}
