.ddl-media-types {
  a {
    padding: 3px 10px !important;
  }
}

.manage-media-connections {
  .icon-column {
    padding-top: 1px;
  }
  .name-column {
    width: 100%;
    word-wrap:break-word;
  }
  .type-column {
     width: 280px;
  }
  .user-name-column {
    width: 250px;
  }
  .domain-column {
    width: 250px;
  }
}


//------------------------------------------
// media queries
//------------------------------------------

@media only screen and (max-width: 1600px) {

  .manage-media-connections {
    .name-column {
      width: 50%;
    }
    .type-column {
      width: 20%;
    }
    .user-name-column {
      width: 20%;
    }
    .domain-column {
      width: 20%;
    }
  }

}



