<div  class="panels-container fill-height " >


  <div class="main" ng-style="{height:contentHeight(-40)}">
    <div class="panel-header clearfix" >
      <div role="toolbar-row"  >
        <h3 style="display: inline-block;" >Media type connections
                  <span ng-if="totalListItemElements">
                  ({{totalListItemElements}})
                </span></h3>


      </div>
    </div>
    <div class="panel-header ibox-title clearfix">
      <div class="header-item pull-right" style="position:relative" role="export">
        <i ng-show="exportToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <a href="#" ng-class="{'disabled':exportToExcelInProgress}" class="btn btn-link" ng-click="onExportToExcel()" title="Download data in Excel format"> <i class="fa fa-download "></i></a>
      </div>



      <div class="header-item "  style="margin-left: 15px;">
        <media-type-connection-manage-menu  reload-data="reloadDataListItems" selected-list-items-to-operate="mediaTypeConnectionSelectedItems" refresh-display="refreshConnectionsGridDisplay"
                                      first-selected-list-item-to-operate="mediaTypeConnectionSelectedItem" grid-find-id="gridFindId"  style="display:inline-block"></media-type-connection-manage-menu>
      </div>





    </div>
    <media-type-connections-grid   ng-show="initiated" total-elements="totalListItemElements" filter-data="filterData" refresh-data="reloadDataListItems" find-id="gridFindId" reload-data-to-grid="refreshConnectionsGridDisplay"
                            item-selected="onMediaTypeConnectionSelectItem" items-selected="onMediaTypeConnectionSelectItems" change-selected-item="" export-to-excel="exportToExcel"   template-view="!changeGridView">

    </media-type-connections-grid>
  
  </div>


</div>