<div class="manage-media-connections">
  <div class="panel-header">
    <div class="header-item pull-right" style="position:relative" role="export">
      <i ng-show="manage.exportToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
      <!--<a href="#" ng-class="{'disabled':exportToExcelInProgress}" class="btn btn-link" ng-click="onExportDocTypesToExcel()" title="Download data in Excel format"> <i class="fa fa-download "></i></a>-->
      <div class="btn-group dropdown">
        <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export options" ng-class="{'disabled':manage.exportToExcelInProgress}" ng-disabled="manage.exportToExcelInProgress">
          <i class="fa fa-download"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right"  >
          <li> <a ng-click="manage.exportToExcel();" title="Download data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp; As Excel</a></li>
        </ul>
      </div>
    </div>
    <div class="header-item " style="margin-right: 10px;" >
      <h4 style="margin-top: 1px;margin-bottom: 0;"> Media connections ({{manage.totalElements}})</h4>
    </div>
    <div ng-if="manage.isMngScanConfigUser" class="header-item " style="margin-left: 30px;" >
      <media-type-connection-manage-menu  reload-data="manage.reloadDataListItems" selected-list-item-to-operate="manage.selectItem" selected-list-items-to-operate="manage.selectItems"></media-type-connection-manage-menu >
    </div>

  </div>
  <div class="clearfix "></div>
  <media-type-connections-grid min-details="true" include-sub-entity-data="!manage.showOnlyActiveScheduleGroups" items-selected="manage.onSelectScheduleGroups" item-selected="manage.onSelectScheduleGroup" change-page="manage.changeScheduleGroupsPage" export-to-excel="manage.exportToExcelData"
                        page-changed="manage.scheduleGroupPageChanged"  change-selected-item="manage.changeScheduleGroupSelectedItem" total-elements="manage.totalElements"
                        find-id="manage.findIdScheduleGroup"  template-view="true"   refresh-data="manage.reloadDataListItems" refresh-data-silently="manage.syncScheduleGroupData" reload-data-to-grid="manage.refreshScheduleGroupDisplay"
                        filter-data="manage.filterData" process-export-finished="manage.exportToExcelCompleted" ></media-type-connections-grid>
</div>

