<div>
  <a class="btn btn-link btn-xs"  ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length>1||selectedListItemsToOperate.length==0}" ng-click="openEditSelectedItemDialog();"><i class="fa fa-pencil"></i>&nbsp;Edit
  </a>
  &nbsp;
  <a class="btn btn-link btn-xs"  ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length==0}" ng-click="openDeleteSelectedItems()">
    <i class="fa fa-trash-o"></i>&nbsp;Delete</a>
  &nbsp;
  <div    class="btn-group dropdown" >
    <button class="btn btn-flat btn-xs dropdown-toggle "  data-toggle="dropdown" >
      <i class="fa fa-plus"></i>&nbsp;Add
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu ddl-media-types" role="menu"  style="width: 220px;" >
      <li><a  ng-click="openNewMicrosoftConnectionDialog(EMediaType.SHARE_POINT);"><i class="repositoryType SHARE_POINT"></i>&nbsp;{{EMediaType.SHARE_POINT.toString()|translate}}</a></li>
      <li><a  ng-click="openNewMicrosoftConnectionDialog(EMediaType.ONE_DRIVE);"><i class="repositoryType ONE_DRIVE"></i>&nbsp;{{EMediaType.ONE_DRIVE.toString()|translate}}</a></li>
      <li><a  ng-click="openNewBoxConnectionDialog();"><i class="repositoryType BOX"></i>&nbsp;{{EMediaType.BOX.toString()|translate}}</a></li>
      <li><a  ng-click="openNewExchange365ConnectionDialog();" ng-if="isExchange365SupportEnabled"><i class="repositoryType EXCHANGE_365"></i>&nbsp;{{EMediaType.EXCHANGE365.toString()|translate}}</a></li>
      <li><a  ng-click="openNewMipConnectionDialog(EMediaType.MIP);" ng-if="isLabelingEnabled"><i class="repositoryType MIP"></i>&nbsp;{{EMediaType.MIP.toString()}}</a></li>
     </ul>
  </div>
  &nbsp; &nbsp;&nbsp;
  &nbsp;&nbsp;
  <a class="btn btn-flat btn-xs" ng-click="openUploadItemsDialog();" title="Import items from file"> <da-icon href="import"></da-icon>&nbsp;Import
  </a>
</div>
