<ng-form name="myForm"  class="table" style="margin-bottom: 0" >
  <div class="table-cell"  style="width: 74px;">
  <a  ng-click="toggleIsAbsolute()" > <span ng-show="isAbsolute()"><i class="fa fa-toggle-on"></i> Absolute</span><span ng-show="!isAbsolute()"><i class="fa fa-toggle-off"></i> Relative</span></a>
  </div>
  <div role="relative end" ng-if="!isAbsolute()" class="table-cell" style="width:157px;">
    </label>
              <span   role="change date resolution" >
                   <span class="error pull-right"  ng-show=" !myForm.$valid" >*</span>
                <div class="btn-group" style="margin-bottom:3px">
                  <div role="data entries # ddl" class="btn-group dropdown" >
                    <button class="btn btn-flat btn-sm dropdown-toggle noFixPosition" data-toggle="dropdown" style="min-width: 90px;" >
                         <span >{{dateRangePoint.relativePeriod|translate }}</span>
                          <span ng-if="!dateRangePoint.relativePeriod">Select</span>

                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >
                         <li ng-repeat="period in relativeTimePeriodOptions"><a  ng-click="changeRelativePeriod(period);">{{period|translate}}</a></li>
                    </ul>
                  </div>
                  <input class="btn btn-flat btn-sm " style="width: 55px;" ng-disabled="!dateRangePoint.relativePeriod"  ng-required="!isAbsolute()" title="Resolution step" ng-maxlength="5" min="1"
                         ng-model="dateRangePoint.relativePeriodAmount" id="inputRelativeStep" name="inputRelativeStep" type="number"
                         ng-change="relativeStepChanged();" />

                </div>
              </span>

  </div>
  <div role="absolute end" ng-show="isAbsolute()" class="table-cell" style="vertical-align: middle;width:157px">

    <span class="error pull-right " ng-show=" myForm.absoluteDate.$error.required||myForm.absoluteDate.$invalid" >*</span>
    <div style="width: 146px;">

      <div class="input-group datepicker"  style="position: relative; line-height: 17px;">
        <input type="text" class="form-control "  uib-datepicker-popup="{{dateFormat}}"  ng-required="isAbsolute()"  ng-model="absoluteDate" is-open="absoluteopened" datepicker-options="datePickerOptions" ng-change="absoluteDateChanged()"
               close-text="Close" ng-focus="absoluteopened=true" placehoder="{{dateFormat}}" id="absoluteDate" name="absoluteDate" alt-input-formats="altInputFormats"/>

                  <span class="input-group-btn">
                    <button type="button" class="btn btn-flat" ng-click="openAbsolute()" style="vertical-align:top"><i class="fa fa-calendar"></i></button>
                  </span>
      </div>
    </div>
  </div>
  <div ng-show="!editTitleMode" class="table-cell"><div title="{{itemTitle}}" class="ellipsis" style="width: 140px;">{{itemTitle}}</div></div>
  <div  ng-show="editTitleMode" class="table-cell" style="position: relative">
    <input  focus-if="editTitleMode" select-text-if="editTitleMode"  ng-click="$event.stopPropagation();" class="form-control has-right-two-icons edit-chart-title-input" ng-model="newTitle" ng-change="newTitleChange(itemTitle)"
           ng-enter="editTitle()"  ng-esc="cancelEditTitle()" ng-blur1="editTitle()" type="text"
           placeholder="New title"/>
    <span  class="btn-group top-right-position" style="top:2px; ">
               <a  class="btn btn-link btn-sm" ng-click="cancelEditTitle();"   title="Cancel edit title" ><span class="fa fa-times"></span></a>
               <a class="btn btn-link btn-sm"  ng-click="editTitle();" title="Save title" ><span class="fa fa-check"></span></a>
     </span>
  </div>
  <div class="table-cell" >

    <a ng-show="!editTitleMode&&!disableTitleEditMode" class="btn btn-link btn-xs" ng-click="setEditTitleMode(!editTitleMode);" title="Edit title"><i class="fa fa-pencil"></i></a>
    <a ng-show="!editTitleMode" class="btn btn-link  btn-xs" ng-click="onDeletePoint(dateRangeItem,dateRangePoint)" title="Delete this item"><i  class="fa fa-trash-o" ></i></a>
    <span ng-transclude></span>
   </div>
</ng-form>
