<div >
  <label ng-if="!singleSelection">{{actionName|translate}}<span ng-show="classType">{{classType|translate}}s</span>:
    <span ng-show="savedItemExceededMax">{{totalItems}}</span>
    <span ng-show="!savedItemExceededMax&&showCheckboxes">({{checkedSelectedItems.length}}/{{allSelectedItems.length}} checked)</span>
    <span ng-show="!savedItemExceededMax&&!showCheckboxes">{{checkedSelectedItems.length}}</span>
  </label>
  <div ng-if="!singleSelection" role="menu" class="btn-group pull-right">
    <button data-toggle="dropdown" class="button-menu-ddl dropdown-toggle">
      <span class="fa fa-ellipsis-v"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-if="showCheckboxes"><a class="btn btn-xs btn-link" ng-click="changeCheckAll(true)" ng-disabled="savedItemExceededMax"><i class="fa fa-check"></i>&nbsp;Check all</a></li>
      <li ng-if="showCheckboxes"><a class="btn btn-xs btn-link" ng-click="changeCheckAll(false)" ng-disabled="savedItemExceededMax"><i class="fa fa-square-o"></i>&nbsp;Uncheck all</a></li>
      <li ng-if="showCheckboxes"><a class="btn btn-xs btn-link" ng-click="removeAllUnchecked()" ng-disabled="savedItemExceededMax"><i class="fa fa-trash-o"></i>&nbsp;Remove unchecked</a></li>
      <li ng-if="showCheckboxes" class="divider"></li>
      <li> <a class="btn btn-xs btn-link" ng-if="createNewSelectedItemFromText!=null" ng-click="openUploadFromFileDialog()" title="Import from csv or text file">Import from file</a></li>
      <li class="dropdown-submenu" ng-show="importListFromEntityFilterDataFn">
        <a ng-click="$event.preventDefault();">Import from filter</a>
        <ul class="dropdown-menu">
          <li>
            <a ng-click="importListFromEntityFilterDataFn(importAutoEntity1)">Load current {{importAutoEntity1.toString()|translate}}</a>
            <a ng-click="importListFromEntityFilterDataFn(importAutoEntity2)">Load current {{importAutoEntity2.toString()|translate}}</a>
          </li>
        </ul>
      </li>
      <li><a class="btn btn-xs btn-link" ng-click="exportToExcel()" >Export</a></li>
    </ul>
  </div>
  <div ng-if="!singleSelection" role="selected items" style="max-height: 115px; overflow: auto;margin-bottom: 10px;" ng-style="savedItemExceededMax ? { 'max-height':'141px' } : { 'max-height': '115px' }" scroll-to-bottom scroll-data="allSelectedItems">
    <div  class='checkbox show-on-hover' ng-class="{'disabled':savedItemExceededMax}"  style="position: relative;" ng-repeat='selectedItem in allSelectedItems ' >
      <label><input ng-show="showCheckboxes" ng-class="{'disabled':savedItemExceededMax}" type='checkbox' ng-model='selectedItem.active'  ng-change="checkedChange(selectedItem)"  />
        <span title='{{selectedItem.item.title?selectedItem.item.title:(selectedItem.item.subdisplay?selectedItem.item.subdisplay:selectedItem.item.display?selectedItem.item.display:selectedItem.item.id)}}'>{{(selectedItem.item.display?selectedItem.item.display:selectedItem.item.id)}}</span></label>
      <a ng-show="!savedItemExceededMax" class='btn btn-link btn-sm top-right-position' title="Remove this item"  style="top:3px;"><i class='fa fa-times' ng-click="removeSelectedItem(selectedItem)"></i></a>
    </div>
  </div>
  <div ng-if="savedItemExceededMax" style="margin-top: 10px;"><span>Total of {{totalItems}}</span> <a class="btn btn-flat btn-sm"  ng-click="openAllValueItemsInDialog()" >Manage</a></div>

  <div ng-if="!savedItemExceededMax&& options!='true'" role="input no options" style="margin-top: 10px;">
    <div ng-if="classType!='folder'"  style="position: relative;">
        <input type="text" class="form-control has-right-icon" ng-model="selectedItem" id='param' autocomplete="off" name="{{name}}" ng-enter="addNewByUserText(selectedItem)"
               type="text" select-text-if="textEntered" ng-keypress1="textEntered=false;" placeholder="New {{actionName|translate}}"/>
          <span ng-show="selectedItem&&selectedItem!=''" class="btn btn-link top-right-position" style="top:2px; ">
          <a ng-click="addNewByUserText(selectedItem);" title="Add" ><span class="fa fa-check"></span></a>
          </span>
    </div>
    <div class="right-btn-outside" ng-if="classType=='folder'">
      <a class="btn btn-flat " ng-click="openBrowseServerFoldersDialog()" >Browse</a>
      <div >
        <input type="text" class="form-control" ng-model="selectedItem" name="{{name}}"  autocomplete="off" ng-required="required" ng-enter="addNewByUserText(selectedItem)"
               type="text" select-text-if="textEntered" ng-keypress1="textEntered=false;" placeholder="New {{actionName|translate}}"/>
      </div>
    </div>
  </div>

  <ui-select ng-if="!savedItemExceededMax&&options=='true'" allow-free-text="false" ng-required="required" name="{{name}}" role="input with options"
             ng-model="selectedItem" on-select="optionSelected($item, $model,$select)" sortable="true" autofocus="true" theme="bootstrap" reset-search-input="true" >
    <ui-select-match class="ellipsis {{selectedItem.displayClass?selectedItem.displayClass:''}}" placeholder="{{getSelectedText()}}" style="outline: none; box-shadow: none"> <i class="{{selectedItem.icon}}" ng-if="selectedItem.icon"></i> {{getSelectedText(selectedItem.display)}}</ui-select-match>
    <ui-select-choices class="select-grouping-lable-none" group-by="'groupByLable'" theme="select2" multiple="!singleSelection" tagging repeat="actionOption in (itemsOptions | filter: $select.search) track by $index" refresh="refreshUserText($select)" refresh-delay="0">
      <div style="padding-bottom: 5px;padding-top: 5px;">
          <div class="{{actionOption.displayClass}}">
            <i class="{{actionOption.icon}}" ng-if="actionOption.icon"></i>
            <span ng-bind-html="actionOption.display | highlight: $select.search" ng-class="{ 'btn btn-flat btn-sm' :actionOption.id==CREATE_NEW_OBJECT}" title="{{actionOption.display }}"></span>
          </div>
          <small title="{{actionOption.title?actionOption.title: (actionOption.subdisplay ? actionOption.subdisplay : '')}}">{{actionOption.subdisplay ? actionOption.subdisplay :''}}</small>
      </div>
    </ui-select-choices>
  </ui-select>
</div>
