<div>

  <a class="btn btn-flat btn-xs"  ng-click="openNewItemDialog();"> <da-icon href="add"></da-icon>&nbsp;Add
  </a>
  &nbsp;
  <a class="btn btn-link btn-xs" ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length==0}" ng-click="openDeleteItemsDialog()">
    <da-icon href="delete"></da-icon>&nbsp;Delete</a>

  &nbsp;&nbsp;
  <a class="btn btn-link btn-xs"  ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length>1||selectedListItemsToOperate.length==0}"
     ng-click="openEditItemsDialog(selectedListItemToOperate);"> <da-icon href="edit"></da-icon>&nbsp;Edit
  </a>

  &nbsp;&nbsp;
  <a class="btn btn-flat btn-xs" ng-if="!hideImport" ng-click="openUploadItemsDialog();" title="Import items from file"> <da-icon href="import"></da-icon>&nbsp;Import
  </a>
</div>
