<div class="grid-header">
  <div class="item icon-column" ></div>
  <div class="item name" [attr.data-col-name]="'name'"></div>
  <div class="item status" [attr.data-col-name]="'status'">Status</div>
  <div class="item submitted-date" [attr.data-col-name]="'submitted-date'">Submitted</div>
  <div class="item numOfFiles" [attr.data-col-name]="'numOfFiles'">Progress / # files</div>
</div>

