<div class="floating-bubble" style="position: relative">
<div *ngIf="statusListIsOpen" class="status-list-div">
    <div class="status-list-header" (click)="closeList()">
      <span class="header-generation-message-span"   *ngIf="processingCount > 0">
            Generating {{ processingCount }} files...
      </span>
      <div class="header-right-div">
        <span class="header-complete-message-span" *ngIf="(downloadedCount > 0)" >
          {{ downloadedCount }} Completed
        </span>

        <span class="header-failed-message-span" *ngIf="(failedCount > 0)" >
          {{ failedCount }} Failed
        </span>

        <span class="down-arrow-span export-down-icon">
        </span>
      </div>
    </div>
    <div class="expand-list-main-div">
      <ng-template ngFor let-file [ngForOf]="exportList">
        <div *ngIf="!file.wasDeleted" class="expand-item" >
          <div class="file-type-icon-col">
            <span class="{{getFileTypeClassName(file.userParams.fileType)}}"></span>
          </div>
          <div class="file-name-col" >
            <div class="file-name"  [ngClass]="{'updated' : file.changedLately}">
              {{ file.userParams.fileName}}
            </div>
            <div class="file-date">
              {{ file.createdDate | date :'dd-MMM-yy HH:mm'  }}
            </div>
          </div>
          <div class="status-col" >
            <div class="time-left-div"  *ngIf="file.status == ServerExportStatus.NEW ||  file.status == ServerExportStatus.IN_PROGRESS">
              {{ (file.progress ? file.progress : 0) + '%' }}
            </div>
            <div class="complete-div" *ngIf="file.status == ServerExportStatus.DONE">
              Completed
            </div>
            <div class="failed-div" *ngIf="file.status == ServerExportStatus.FAILED">
              Failed
            </div>
          </div>
          <div class="status-circle-col">
            <div *ngIf="(file.status == ServerExportStatus.NEW || file.status == ServerExportStatus.IN_PROGRESS)">
              <circle-progress [percent]="file.progress">
              </circle-progress>
            </div>
            <div *ngIf="(file.status == ServerExportStatus.DONE)" class="export-completed-icon" (click)="openFile(file,true)" title="Download file">
            </div>
          </div>

          <div class="delete-icon-col">
            <div class="expand-delete-icon" *ngIf="file.id"  (click)="deleteFile(file)" title="{{ file.status === ServerExportStatus.DONE ? 'Delete file' : 'Cancel export' }}">
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="download-indicator-container" #tooltip="ngbTooltip" triggers="manual" [ngbTooltip]="'Generating file ...'"  >
      <div class="main-msg-area" (click)="statusListIsOpen = true;" *ngIf="(!statusListIsOpen && (processingCount > 0 || downloadedCount > 0 || failedCount > 0 ))" [ngClass]="{'export-finish-icon': showChangeIndication}">
          <span *ngIf="processingCount > 0"  class="generation-message-span">
            Generating {{ processingCount }} files...
          </span>
          <span *ngIf="(downloadedCount > 0)" class="complete-message-span">
            {{ downloadedCount }} Completed
          </span>
          <span *ngIf="(failedCount > 0)" class="failed-message-span">
            {{ failedCount }} Failed
          </span>
          <span  class="up-arrow-span export-up-icon">
          </span>
      </div>
  </div>
</div>


