download-indicator {



  ngb-tooltip-window {
    .tooltip-inner {
      background-color: #ffffff !important;
      color: #444444;
      font-weight: bold;
      border: orange 1px solid;
    }

    .arrow:before {
      border-top-color: orange !important;
    }
  }
}

