log-levels {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 30px;
  left: 210px;
  bottom: 30px;

  .header-panel {
    min-width: initial !important;
    .header-line {
      background-color: transparent !important;
      .left-panel {
        align-items: center;

        toolbar-actions {
          padding: 0 0 0 25px;
          margin-right: 20px;
        }
      }
    }
    .checkbox-col {
      flex: inherit !important;
      padding: 0 4px 0 9px !important;
    }
  }

  .main-panel {
    background: white;
    tree-grid {
      .scrollable-panel {
        overflow-x: hidden;
        .content-panel {
          min-width: initial !important;

          .checkbox-wrapper {
            display: flex;
            align-items: center;
            padding-left: 5px;
          }
        }

      }
    }
  }
}



