<div class="flex-container-col">
  <div class="header-panel">
    <div class="header-line header-line-basic">
      <!--<tree-grid-selection-switcher [hostComponent]="this"></tree-grid-selection-switcher>-->
      <toolbar-title [title]="'Log levels'" [totalElements]="totalElements" [totalFilteredElements]="filterCount"></toolbar-title>
      <div class="left-panel">
        <toolbar-actions [actionItems]="actionItems"></toolbar-actions>
        <span *ngIf="!hideActionItems" class="nav-item dropdown btn-set-levels" ngbDropdown autoClose="outside" >
           <a class="btn btn-flat btn-xs dropdown-toggle" ngbDropdownToggle >Set Level</a>
           <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-location dropdown-menu-right">
              <div *ngFor="let levelType of enumLevelTypes;" class="dropdown-item level-ddl-item" (click)="changeLevel(levelType)">
                <div class="name">{{ 'LOG_LEVELS.TYPES.'+levelType  | translate }}</div>
              </div>
           </ul>
        </span>
      </div>
      <div class="right-panel">
        <search-box (searchChanged)="onSearchChanged($event)" [boxPlaceholder]="'Search name,log level'" [notifyOnKeyup]="false"></search-box>
      </div>
    </div>
  </div>
  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <!--[treeGridContextMenuComponent]="logLevelContextMenuComponent"-->
    <tree-grid *ngIf="!loading"
      [localFilterFunction]="localFilterFunction"
      (onFilteredCountChanged)="filterCountChange($event)"
      [initialSortFieldName] = "'name'"
      [treeGridData]="logLevelsData"
      [treeGridEvents]="treeGridEvents"
      [keepScrollLocation]="true"
      [hostComponent]="this"
      [treeGridConfig]="treeConfig"
      [treeGridHeaderComponent]="logLevelsGridHeaderComponent"
      [treeGridItemComponent]="logLevelItemGridComponent">
    </tree-grid>
  </div>
</div>

