add-edit-search-pattern-dialog {
  .modal-body {
    height: 330px;
    overflow-y: hidden;
    padding-bottom: 0px;
  }


  .regulation-item{
    padding: 3px 5px ;
    cursor: pointer;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .fa {
      width:20px;
    }
  }

  .regulations-form {
    max-height: 287px;
    overflow-y: auto;
  }

  da-select-input {
    .selected-text-span {
      max-width: 300px;
    }
  }

}
