<div class="modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <ul class="nav nav-tabs">
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='pattern', 'nav-item': activeTab!='pattern'}"><a class="nav-link" data-toggle="tab" (click)="setActiveTab('pattern')" >Pattern<span class="error" [ngStyle]="{'visibility': patternForm && patternForm.invalid ? 'visible' : 'hidden'}">*</span></a></li>
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='category', 'nav-item': activeTab!='category'}"><a class="nav-link" data-toggle="tab" (click)="setActiveTab('category')" >Category <span class="error" [ngStyle]="{'visibility': loading || !textSearchPattern.subCategoryId || !textSearchPattern.categoryId ? 'visible' : 'hidden'}">*</span></a></li>
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='regulations', 'nav-item': activeTab!='regulations'}"><a class="nav-link" data-toggle="tab" (click)="setActiveTab('regulations')" >Regulations <span class="error" [ngStyle]="{'visibility': loading ? 'visible' : 'hidden'}">*</span></a></li>
  </ul>
  <div [hidden]="activeTab!='pattern'">
    <form class="form-horizontal modal-form-md" name="generalForm" #patternForm="ngForm" role="form">

      <div  class="form-group form-group-position-relative">
        <label class="control-label" for="patternName">Name:</label>
        <div class="control-field">
          <input type="text"  class="form-control" id="patternName" name="patternName" maxlength="255" [(ngModel)]="textSearchPattern.name" required minlength="1" #patternName="ngModel" placeholder="Pattern name">
        </div>
        <div class="error error-position" *ngIf="patternName.invalid">*</div>
      </div>

      <div  class="form-group">
        <label class="control-label" for="patternName">Description:</label>
        <div class="control-field">
          <input type="text"  class="form-control" id="patternDescription" maxlength="255" name="patternDescription" [(ngModel)]="textSearchPattern.description"  #patternDescription="ngModel" placeholder="Pattern description">
        </div>
      </div>

      <div  class="form-group">
        <label class="control-label" for="patternName">State:</label>
        <div class="control-field">
            <div class="title-secondary active-button"   (click)="textSearchPattern.active = !textSearchPattern.active">
              <span *ngIf="textSearchPattern.active"  title="Search pattern is active"><span class="fa fa-toggle-on icon-item " ></span> </span>
              <span *ngIf="!textSearchPattern.active"   title="Search pattern is not active" class="notice"><span class="fa fa-toggle-off notice icon-item" ></span> </span>
            </div>
        </div>
      </div>

      <!--div  class="form-group">
        <label class="control-label" for="patternName">Type:</label>
        <div class="control-field">
           {{ textSearchPattern.patternType | translate}}
        </div>
      </div -->

      <div  class="form-group form-group-position-relative">
        <label class="control-label" for="patternName">Regex:</label>
        <div class="control-field">
          <input [disabled]="inEditMode" type="text" class="form-control"  maxlength="512" id="patternRegex" name="patternRegex" [(ngModel)]="textSearchPattern.pattern" required minlength="1" #patternRegex="ngModel" placeholder="Regex">
        </div>
        <div class="error error-position" *ngIf="patternRegex.invalid">*</div>
      </div>

      <div  class="form-group"  *ngIf="isTechSupport || textSearchPattern.validatorClass">
        <label class="control-label" for="patternClass">Validator class:</label>
        <div class="control-field">
          <input [disabled]="!isTechSupport" type="text" class="form-control" id="patternClass" maxlength="255" name="patternClass" [(ngModel)]="textSearchPattern.validatorClass"  #patternClass="ngModel" placeholder="Pattern validator class">
        </div>
        <div class="error" *ngIf="patternClass.invalid">*</div>
      </div>

    </form>
  </div>
  <div [hidden]="activeTab!='category'">
    <div class="loading-tab" *ngIf="loading">
      Loading...
    </div>
    <form *ngIf="!loading" class="form-horizontal modal-form-md" name="categoryForm" #categoryForm="ngForm" role="form">

      <div  class="form-group form-group-position-relative">
        <label class="control-label" for="patternName">Category</label>
        <div class="control-field">
          <da-select-input [newPopupComponent]="AddEditPatternCategoryDialogComponent" [newPopupData]="newCategoryData" (itemSelected)="onCategoryChanged($event)" [options]="_categoriesList" [selectedName]="textSearchPattern.categoryName" ></da-select-input>
        </div>
        <div class="error error-position" *ngIf="!textSearchPattern.categoryId">*</div>
      </div>
      <div  class="form-group form-group-position-relative">
        <label class="control-label" for="patternName">Sub category</label>
        <div class="control-field">
          <da-select-input [disabled]="!textSearchPattern.categoryId" [newPopupComponent]="AddEditPatternCategoryDialogComponent" [newPopupData]="newSubCategoryData" (itemSelected)="onSubCategoryChanged($event)"   [options]="_subCategoriesList" [selectedName]="textSearchPattern.subCategoryName" ></da-select-input>
        </div>
        <div class="error error-position" *ngIf="!textSearchPattern.subCategoryId">*</div>
      </div>
    </form>
  </div>

  <div [hidden]="activeTab!='regulations'">
    <div class="loading-tab" *ngIf="loading">
      Loading...
    </div>
    <form *ngIf="!loading" class="form-horizontal modal-form-md" name="regulationsForm" class="regulations-form" #regulationsForm="ngForm" role="form">
      <div *ngFor="let regulation of regulationsList" class="regulation-item no-special-tooltip"  title="{{ regulation.name }}" (click)="clickOnRegulation(regulation.id)">
        <span class="fa" [ngClass]="{'fa-check-square-o':regulationsMap[regulation.id],'fa-square-o':!regulationsMap[regulation.id]}"> </span>
        <span>{{ regulation.name }}</span>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)="save()" >Save</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
