<div class="chart-header-div" >
  <div *ngFor="let pathItem of pathItems" [ngStyle]="{'background-color' : bColor}" class="path-item-div">
    <span class="path-item-span">
      <span class="path-item">
      {{ pathItem }}
      </span>
    </span>
    <span class="right-arrow"  [ngStyle]="{'border-left-color' : bColor}"></span>
  </div>

  <div class="btn-group copy-to-clipboard-div" title="Copy to clipboard" *ngIf="path && (pathItems.length > 0 )">
    <button class="copy-to-clipboard btn btn-flat" (click)="copyToClipBoard()">
      Copy to clipboard
    </button>
  </div>

</div>
