chart-header {
  position: absolute;
  z-index: 1000;

  .chart-header-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10px;
  }


  .copy-to-clipboard-div {
    margin-top: 9px;
  }

  .copy-to-clipboard {
    font-size: 12px;
    border: solid 1px #cccccc;
    padding: 1px 10px;
  }


  .path-item-div {
    color : white;
    margin-right: 10px;
    position: relative;
    padding-left: 10px;
    margin-top: 10px;

    .path-item {
      position: relative;
      top: 1px;
    }


    .path-item-span {
    }

    .right-arrow {
      border-style: dashed;
      border-color: transparent;
      border-width: 0.11em;
      display: -moz-inline-box;
      display: inline-block;
      font-size: 105px;
      height: 0;
      line-height: 0;
      position: relative;
      vertical-align: middle;
      width: 0;
      background-color: #fff;
      border-left-width: 0.1em;
      border-left-style: solid;
      left: 5px;
    }
  }



}
