
.isMsIe11 {
    .expand-arrow-place {
      flex: 0 0 35px  !important;
    }
}

tree-grid-painter ul li {

  .tree-grid-item {

    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e0e0e0;
    cursor: default;

    .expand-arrow-place {
      display: flex;
      flex: 0 0 25px;
    }

    .k-icon {
      display: flex;
      flex: 0 0 25px;
      color: #525151;
      font-size: 14px;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      padding-left: 10px;

      &.open {
        transform: rotate(35deg);
      }
    }

    .content {
      display: flex;
      flex: 1;
      width: 100%;

      .checkbox-col {
        display: flex;
        flex: 0 0 23px;
        box-sizing: border-box;
        cursor: pointer;

        .checkbox-wrapper {
          width:15px;
          text-align: center;
          margin: 0 auto;
          line-height: 35px;
          font-size: 16px;

          .partial {
            color: #c2bfbf;
          }
        }
      }

      .btn-actions {
        color: #8f8f8f;
        display: flex;
        flex: 0 0 29px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
          border: 1px solid #d6deec;
        }

        .options {
          width: 10px;

          &:after {
            content: '\2807';
            font-size: 18px;
          }
        }
      }

      .btn-more-info {
        color: #8f8f8f;
        display: flex;
        flex: 0 0 23px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;

        &:hover {
          color: black;
        }

        .options {
          width: 10px;

          &:after {
            content: '\2807';
            font-size: 23px;
          }
        }
      }

      .component-wrapper {
        flex:1;

        .grid-row {
          display: flex;
          flex: 1;
          flex-direction: row;
          position: relative;
          .item {
            word-wrap: break-word;
            align-items: flex-start;
            white-space: normal;
            overflow: hidden;
            padding: 5.2px 7.8px;
            line-height: 21px;

            &.icon-column {
              font-size: 18px;
              flex: 0 0 30px;
              overflow: visible;
            }

            .expand-icon {
              font-size: 16px;
              color: #6f98ad;
              margin-left: 10px;
              cursor: pointer;
            }
          }
        }
      }
    }

    &.selected {
      border-bottom: 1px solid #1ab394;
      background: linear-gradient(#f4f4f4 0%, #a9a9a9 100%)  !important;
      color: #12816a !important;

      .checkbox-col {
        .checkbox-wrapper {
          .partial {
            color: #aaa7a7;
          }
        }
      }
    }

    &.marked {
      background: #aad7cf  !important;
    }

    &.marked.selected {
      background: linear-gradient(#f4f4f4 0%, #009688 100%) !important;
    }

    &.right-clicked {
        background: #EEF6FF;
    }
  }
}






