<div #el class="tree-grid-item " [attr.data-id]="dataItem.id" [ngClass]="{'selected': (selectionMode === TreeGridSelectionMode.single && isItemSelected)}">
  <div *ngIf="showPlusIcon" class="k-icon fa" [ngClass]="{'fa-caret-down' : dataItem && dataItem.isOpen, 'fa-caret-right': !dataItem || !dataItem.isOpen}" (click)="onPlusClicked($event, dataItem)"></div>
  <div *ngIf="!showPlusIcon && inTreeMode"  class="expand-arrow-place"></div>
  <div class="content"  >
    <div class="checkbox-col" [hidden]="selectionMode === TreeGridSelectionMode.single && !treeGridConfig.enableSwitchSelectionMode"
         [style.visibility]="(treeGridConfig.enableSwitchSelectionMode && selectionMode !== TreeGridSelectionMode.single) || selectionMode === TreeGridSelectionMode.multi ? 'unset' : 'hidden'" (click)="onMarkChanged($event)" >
      <a class="checkbox-wrapper" [contextMenu]="checkboxContextMenu"  >
        <i *ngIf="isItemMarked" class="fa fa-check-square-o checked"  ></i>
        <i *ngIf="isItemPartialMarked" class="fa fa-check-square-o checked partial"  ></i>
        <i *ngIf="!isItemMarked && !isItemPartialMarked" class="fa fa-square-o unchecked" ></i>
      </a>
      <context-menu [disabled]="!showPlusIcon"  #checkboxContextMenu>
        <ng-template contextMenuItem (execute)="onCheckboxOptionClicked(TreeGridExcludeItemType.item)" [enabled]="showPlusIcon && isItemMarked">Exclude me</ng-template>
        <ng-template contextMenuItem let-item (execute)="onCheckboxOptionClicked(TreeGridExcludeItemType.children)" [enabled]="showPlusIcon && isItemMarked">Exclude children</ng-template>
      </context-menu>
    </div>
    <div class="component-wrapper" (click)="onItemSelected($event)" (contextmenu)="showItemContextMenu($event)">
      <div #viewContainer></div>
    </div>
    <div *ngIf="treeGridConfig.showMoreActionsBtn" class="btn-actions" (click)="showItemContextMenu($event)">
      <div class="options"></div>
    </div>
  </div>
</div>

