<div #el class="grid-row">
  <div class="item active" *ngIf="(!dataItem.children || dataItem.children.length ==0) && (dataItem.item.parentId != null)">
    <div class="title-secondary"    [ngClass]="{'disabled' : inSetActive}"  (click)="!inSetActive && setActive(!dataItem.item.active)">
      <span *ngIf="dataItem.item.active" class="no-special-tooltip" title="{{ dataItem.item.name}} is active"><span class="fa fa-toggle-on icon-item " ></span> </span>
      <span *ngIf="!dataItem.item.active" title="{{ dataItem.item.name}} is not active" class="notice no-special-tooltip"><span class="fa fa-toggle-off notice icon-item" ></span> </span>
    </div>
  </div>
  <div class="item fieldIcon">
    <i class="fa fa-cubes"></i>
  </div>
  <div class="item fieldName">
      {{ dataItem.item.name}}
  </div>
  <div class="item viewBtn">
    <span *ngIf="( dataItem.item.patterns && dataItem.item.patterns.length > 0 )" title="{{ (dataItem.isOpen ? 'Hide patterns' : 'Show patterns') }}" (click)="expandOrCollapseNode()" class="expand-icon fa" [ngClass]="{'fa-chevron-up' : dataItem.isOpen, 'fa-chevron-down' : !dataItem.isOpen}"></span>
  </div>
</div>
<div class="grid-row" *ngIf="(dataItem && dataItem.isOpen && dataItem.item.patterns &&  (dataItem.item.patterns.length > 0 ) )">
  <div  style="width: 100%;padding: 0px 30px 20px 10px;">
    <inner-patterns-list [patternList]="dataItem.item.patterns" >
    </inner-patterns-list>
  </div>
</div>
