pattern-categories-item-grid {
  width: 100%;

  .item {
    &.fieldIcon {
      flex: 0 0 25px;
    }
    &.fieldName {
      flex: 0 1 200px;
      word-break: break-all;
    }
    &.active {
      flex: 0 1 40px;
      cursor: pointer;
    }
    &.viewBtn {
      flex: 0 1 40px;

    }
  }

}


