<div class="toolbar-title">
  <!-- title -->
  <div class="header-title"><h4 class="ng-binding">{{title}} <span *ngIf="totalElements>=0">({{  totalFilteredElements !== null && totalFilteredElements !== undefined && totalFilteredElements < totalElements ? totalFilteredElements+'/' :'' }}{{totalElements | number}})</span></h4></div>
  <!-- refresh action -->
  <div class="actions" *ngIf="refreshActionItem">
    <a class="btn btn-xs" [ngClass]="{'disabled':refreshActionItem.disabled}" (click)="onClickAction(refreshActionItem)" title="{{refreshActionItem.title}}"><da-icon href="{{refreshActionItem.href}}"></da-icon></a>
  </div>
</div>

