<div  class="fill-height " style="padding-top: 2px;">
  <div ng-show="isImmediateActionRunning" style="display: inline-block; margin: 0 8px;" title="action status: {{currentImmediateActionProgressPercentage}}% applying: {{status.applyCounter}} / {{status.applyCounterMaxMark}}">

    Immediate action&nbsp;


    <div   style="width: 200px;display: inline-block; vertical-align: top;margin-top: 8px;" >
      <uib-progressbar max="100"  value="currentImmediateActionProgressPercentage" style="height: 5px;margin: 0;">

      </uib-progressbar>
    </div>

    <button ng-show="!enableStartImmediateActionButton" class="btn btn-link btn-sm" ng-click="stopImmediateAction()" title = "Stop immediate action" style="padding: 0;vertical-align: top;">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div></div>
</div>
