@import "item-grid/audit-item-grid";
@import "grid-header/audit-grid-header";

audit-module {

  //.dropdown-menu.dropdown-menu-right {
  //  right: 0 !important;
  //}

  .export-btn {

    .spinner-wrapper {
      position: relative;
      padding-right: 5px;

      .fa {
        position: absolute;
        top: 10px;
      }
    }
  }

  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;

  }

}
