<div class="flex-container-col">
  <div class="header-panel">
    <h3 class="title">Audit <span *ngIf="totalItems > 0">({{totalItems |number}})</span></h3>
    <div class="header-line" >
      <div class="left-panel">
        <filterBox  (filterChanged)="onAuditTypeFilterChanged($event)" allMsg="All Types" noneMsg="Audit Type" noneTooltipMsg="Filter by audit type" [filterOptions]="filterAuditTypeOptions">
        </filterBox>

        <filterBox  (filterChanged)="onAuditActionFilterChanged($event)" allMsg="All Actions" noneMsg="Audit Action" noneTooltipMsg="Filter by audit action" [filterOptions]="filterActionOptions">
        </filterBox>

      </div>
      <div class="right-panel">
        <div class="export-btn">
          <span class="spinner-wrapper"*ngIf="isExporting"><i class="fa fa-spinner fa-spin"></i></span>
          <span class="dropdown" ngbDropdown>
          <a class="btn btn-link dropdown-toggle" ngbDropdownToggle  >
            <i class="fa fa-download"></i>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-location dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)" (click)="exportData()">Export to Excel</a>
          </ul>
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel">
  <loader *ngIf="loading"  [show]="loading"></loader>
  <tree-grid
    [treeGridData]="currentData"
    [treeGridEvents]="treeGridEvents"
    [treeGridItemComponent]="AuditItemGridComponent"
    [treeGridHeaderComponent]="AuditGridHeaderComponent"
    [initialSortDirection] = "initialSortDirection"
    [initialSortFieldName]="initialSortFieldName">
  </tree-grid>
</div>
</div>
