<div class="modal-header">
  <span class="modal-title">Choose widget to add</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <loader [show]="loading"></loader>
  <div *ngIf="widgetItems && widgetItems.length == 0 " class="empty-widget-items-div">
    No available public widgets, to add public widgets please refer to settings page.
  </div>
  <div class="widget-item-div" *ngIf="widgetItems && widgetItems.length > 0 ">
    <div class="search-div" >
      <input class="search-div-input form-control" [(ngModel)]="searchWidgetTxt" placeholder="Search" type="text">
      <span class="search-div-icon fa fa-search"></span>
      <a class="search-div-clear fa fa-times" (click)="searchWidgetTxt='';$event.stopPropagation()" *ngIf="searchWidgetTxt"></a>
    </div>
    <div class="widget-item" (click)="onSelectedChanged(wItem)"  *ngFor="let wItem of widgetItems | searchPipe:'name':searchWidgetTxt " [ngClass]="{'selected' : wItem == selectedItem}">
          <span class="widget-item-icon {{ wItem.icon  }}">
          </span>
          <span class="widget-item-text">
            <div class="widget-item-name">
              {{ wItem.name}}
              <span *ngIf="wItem.globalFilter" title="Public widget{{  wItem.owner ? ', owner: '+wItem.owner.name : ''}}" class="fa fa-globe widget-item-public"></span>
            </div>
          </span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group"><button type="button" class="btn btn-primary" [ngClass]="{'disabled' : !selectedItem }"  (click)="selectedItem && save()" >Add</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
  </div>
</div>
