add-public-widget-dialog {
  .modal-body {
    max-height: 400px;
    height: 400px;
    overflow-y: auto;
  }

  .search-div{
    position: relative;
    width: 100%;
    margin-bottom: 10px;

    .search-div-input {
      padding-right: 25px;
      padding-left: 25px;
      box-sizing: border-box;
      width: 100%;
      display: inline-block;
      height: 30px;
      font-size: 16px;
    }
    .search-div-icon {
      position: absolute;
      left: 7px;
      top: 9px;
      cursor: pointer;
      font-size: 12px;
    }

    .search-div-clear {
      position: absolute;
      top: 9px;
      right: 10px;
      cursor: pointer;
      color: #cccccc;
    }
  }




  .empty-widget-items-div {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .widget-item-div{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-top: 13px;

    .widget-item {
      flex: 1 0 45px;
      padding-top: 2px;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 2px;
      cursor: pointer;
      padding-left: 10px;
      display: flex;
      align-items: center;
      justify-content: left;
      flex-direction: row;
      max-height: 45px;
    }

    .widget-item.selected {
      background-color: rgb(221,222,235) !important;
    }

    .widget-item:last-child {
      border-bottom: none;
    }

    .widget-item:hover {
      background-color: #EFEFEF;
    }

    .widget-item-text {
    }

    .widget-item-name {
      font-size: 14px;
      font-weight: bold;
    }

    .widget-item-public {
      margin-left: 5px;
    }

    .widget-item-icon {
      font-size: 26px;
      display: inline-block;
      width: 35px;
    }

  }
}
