<div #el class="grid-row">
  <span class="item department-icon">
    <span class="big-department-icon">
      <span class='tag tag-{{ departmentColorId}}  fa fa-building'></span>
    </span>
  </span>
  <span  class="item department-name">
      <a  class="title-primary" title="Department: '+ this.dataItem.item +'">{{ dataItem.item.name }}</a>
  </span>
  <span  class="item file-count">
    <num-of-files-display [dataItem]="dataItem"></num-of-files-display>
  </span>
</div>
