<span style="margin-left:5px" title="<div class='table'>
        <div class='row'>
          <div class='col'>Enqueue count:</div>
          <div class='col right'>{{item[brokerNameField]['EnqueueCount'] | number}}</div>
        </div>

            <div class='row'>
          <div class='col'>Dequeue count:</div>
          <div class='col right'>{{item[brokerNameField]['DequeueCount'] | number }}</div>
        </div>
        </hr>
        <div class='row'>
          <div class='col'>Average enqueue time:</div>
          <div class='col right'>{{item[brokerNameField]['AverageEnqueueTime'] | number }}</div>
        </div>

            <div class='row'>
          <div class='col'>Min enqueue time:</div>
          <div class='col right'>{{item[brokerNameField]['MinEnqueueTime'] | number}}</div>
        </div>
          <div class='row'>
          <div class='col'>Max enqueue time:</div>
          <div class='col right'>{{item[brokerNameField]['MaxEnqueueTime']  | number}}</div>
        </div>
         </hr>
             <div class='row'>
          <div class='col'>Consumer count:</div>
          <div class='col right'>{{item[brokerNameField]['ConsumerCount'] | number}}</div>
        </div>
      </div>">
  <span>{{item[brokerNameField]['DequeueCount'] }}</span>
  <span>
    <span>/</span>{{item[brokerNameField]['EnqueueCount']}}
  </span>
  <span>
    ({{ item[brokerNameField]['EnqueueCount'] && item[brokerNameField]['DequeueCount'] ? item[brokerNameField]['EnqueueCount'] - item[brokerNameField]['DequeueCount'] : 0}})
  </span>
</span>
