filter-div  {
  flex: 0 1 200px;
  margin-right: 15px;

  .filter-header {
    cursor: pointer;
  }

  .filter-favorite-div {
    padding: 10px 0px;
    cursor: pointer;
  }
  .filter-icon {
    display: inline-block;
    padding-right: 10px;
    &.fa-star {
      color: orange;
    }
  }

  .filter-header-span {
    position: relative;
    top:4px;
  }

  &.hide-filter {
    flex: 0 1 30px;
    height: 100px;
    cursor: pointer;

    .main-div-filter-div {

      .open-filter-btn {
        writing-mode: vertical-rl;
        padding-top: 10px;
        font-size: 16px;
        padding-left: 3px;
        height: 100px;
      }

      .da-item-header {
        display: none;
      }
      .da-item-body {
        display: none;
      }
    }
  }

  .main-div-filter-div {
    width: 100%;
    height: 100%;
  }

  .filter-area-clear-btn {
    padding: 10px 0px;
    .da-top-line-button {
      width: 100%;
      padding-left: 0px;
    }
  }
  .filter-close-icon {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }

  .filter-erase-icon {
    float: right;
    font-size: 16px;
    cursor: pointer;
    padding-right: 10px;
  }

  .filter-opened-icon {
    padding-right: 0px;
    color: #999999;
    position: relative;
    top: -1px;

    &.active {
      color : red;
      cursor: pointer;
    }
  }
   .filter-area-div{
     margin: 0 0px;
   }
  .filter-closed-icon  {
    font-size: 16px;
    padding-right: 5px;
    color: #999999;
    cursor: pointer;
    &.active {
      color : red;
    }
  }

  .clear-all-filters {
    padding-left: 5px;
    position: relative;
    cursor: pointer;
  }

}
