<div class="main-div-filter-div" [ngClass]="{'hide-filter'  : !showFilter}">
  <div  class="da-dashboard-item" >
    <div *ngIf="!showFilter" class="open-filter-btn" (click)="setShowFilter(true)">
      <span class="filter-closed-icon fa fa-filter"   [ngClass]="{'active' : isOnFilter}"></span>
      <span   > {{ 'FILTERS_TITLE' | translate }}&nbsp;</span>
      <span *ngIf="isOnFilter" (click)="clearAllFilters($event)" class="clear-all-filters fa fa-trash-o" title="Clear all filters"></span>
    </div>
    <h5 class="da-item-header filter-header" (click)="setShowFilter(false)">
      <span class="filter-header-span">
        <span class="filter-opened-icon fa fa-filter" [ngClass]="{'active' : isOnFilter}"></span>
        {{ 'FILTERS_TITLE' | translate }}
        <span *ngIf="isOnFilter" (click)="clearAllFilters($event)" class="clear-all-filters fa fa-trash-o" title="Clear all filters"></span>
      </span>

      <span class="filter-close-icon fa fa-angle-left"> </span>
    </h5>
    <div *ngIf="isVisible" style="overflow: hidden">
        <div class="da-item-body" *ngIf="filtersList"  style="overflow-y:auto">

      <!-- div class="filter-area-clear-btn">
        <button type="button" class="da-top-line-button"  (click)="clearAllFilters()">
          <i class="fa fa-filter" style="margin-right: 5px"></i>
          Clear all Filters
        </button>
      </div -->



      <div *ngFor="let fItem of filtersList" class="filter-area-div" >

        <div *ngIf="fItem.type == FilterTypes.favoriteBox" class="filter-favorite-div no-special-tooltip" (click)="changeFilter(fItem)" >
          <span  title="{{ fItem.filterTooltip ? fItem.filterTooltip: ''}}" *ngIf="fItem.filterOptions[0].selected" class="filter-field-check fa fa-check-square-o no-special-tooltip"></span>
          <span  title="{{ fItem.filterTooltip ? fItem.filterTooltip: ''}}" *ngIf="!fItem.filterOptions[0].selected"   class="filter-field-check fa fa-square-o no-special-tooltip"></span>
          <i *ngIf="fItem.filterIcon" class="filter-icon {{fItem.filterIcon}}"></i>
          <span class="filter-field-item no-special-tooltip"  title="{{ fItem.filterTooltip ? fItem.filterTooltip: ''}}">{{ fItem.filterTitle }}</span>
        </div>


        <checkBoxFilter *ngIf="fItem.type == FilterTypes.checkbox" (collapseChanged)="onCollapseChanged($event,fItem)" [isCollapsed]="fItem.isCollapsed" [collapsible]="true" (filterChanged)="onFilterChanged($event,fItem.filterField)" [isDisabled]="fItem.isDisabled"  [filterOptions]="fItem.filterOptions" [filterTitle]="fItem.filterTitle">
        </checkBoxFilter>

        <selectBtnFilter *ngIf="fItem.type == FilterTypes.selectBtn" (collapseChanged)="onCollapseChanged($event,fItem)" [isCollapsed]="fItem.isCollapsed" [withClearAll]="true" [collapsible]="true"  (filterChanged)="onFilterChanged($event,fItem.filterField)"  [shortTitle]="fItem.shortTitle" [filterOptions]="fItem.filterOptions" [filterTitle]="fItem.filterTitle">
        </selectBtnFilter>


      </div>
    </div>
    </div>
  </div>
</div>
