scanError-module {
  scanError-item-grid {
    width:100%;
    .item {
      &.folder{
        flex: 0 1 250px;
      }
      &.text{
        flex: 1 0 250px;
        word-break: break-all;
        display: inline-block;
        word-wrap: break-word;
      }
      &.detailText{
        flex: 0 1 250px;
        word-break: break-all;
        display: inline-block;
        word-wrap: break-word;
      }
      &.mediaType{
        flex: 0 0 90px;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      &.runId{
        flex: 0 1 60px;
      }
      &.timeStamp{
        flex: 0 1 150px;
      }
    }
  }
}
