<div #el class="grid-row">
  <div class="item folder">{{dataItem.item.folder}}</div>
  <div class="item text">{{dataItem.item.text}}</div>
  <div class="item detailText">{{dataItem.item.detailText}}</div>
  <div class="item mediaType">
    <span class="media-type-icon {{ dataItem.item.mediaType }}" title="{{ (dataItem.item.mediaType | translate) }}">
    </span>
  </div>
  <div class="item runId">{{dataItem.item.runId}}</div>
  <div class="item timeStamp">{{dataItem.item.timeStamp| date:myEnvironment.dateTimeFormat}}</div>
</div>
