@import "./open-item-grid/open-item-grid";
@import "./open-item-grid/grid-header/open-item-grid-header";
@import "./approved-item-grid/grid-header/approved-item-grid-header";
@import "./approved-item-grid/approved-item-grid";
@import "./grid-actions/GDPR-grid-actions";

gdpr-grid {
  display: flex;
  flex-direction: column;
  height: 100%;

  .gdpr-splitter {
    display: flex;
    flex: 1;
    flex-direction: row;

    .left-panel {
      flex: 1;
      display: flex;
      flex-direction: column;

      .grid-wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;

        tree-grid {
          display: flex;
          flex: 1;
          flex-direction:column;
        }
      }
    }
    .right-panel {
      padding-top: 20px;
    }
  }
}

