  <!--<loader [show]="loading"></loader>-->
  <gdpr-menu></gdpr-menu>
  <h3>Open GDPR workflows</h3>
  <div class="gdpr-splitter">
    <div class="left-panel">
      <gdpr-grid-actions
        [markedItems]="markedItems"
        [currentPath]="currentPath"
        (notifyWorkflowItemChange)="onNotifyWorkflowItemChange(message)"
        [selectedItem]="selectedItem">
      </gdpr-grid-actions>

      <div class="grid-wrapper">
        <tree-grid *ngIf="!currentPath || currentPath === GDPRRoutePaths.openWorkflows "
          [treeGridData]="currentData"
          [treeGridEvents]="treeGridEventHandlers"
          [treeGridConfig]="treeGridConfig"
          [treeGridItemComponent]="OpenItemGridComponent"
          [treeGridHeaderComponent]="OpenItemGridHeaderComponent">
        </tree-grid>
        <tree-grid *ngIf=" currentPath == GDPRRoutePaths.approvalWorkflows ||  currentPath == GDPRRoutePaths.pendingActionWorkflows  "
         [treeGridData]="currentData"
         [treeGridEvents]="treeGridEventHandlers"
         [treeGridConfig]="treeGridConfig"
         [treeGridItemComponent]="ApprovedItemGridComponent"
         [treeGridHeaderComponent]="ApprovedItemGridHeaderComponent">
        </tree-grid>
      </div>
    </div>
    <div class="right-panel">
      <gdpr-history-workflow-item class="float" *ngIf="selectedItem"
        [workflow]="selectedItem.internalDto"
        [workflowId]="selectedItemId">
      </gdpr-history-workflow-item>
    </div>
  </div>



