<span class="discover-display-icons-list" *ngIf="bizListDTOs!= null && bizListDTOs.length>0">
  <span   class="discover-display-icons-list-item"  *ngFor="let bizList of bizListDTOs; let i = index">
    <span class='tag tag-{{  bizListColorArray[i] }}' title='{{  bizList.name}}'>
      <span class='{{IconsConfig.bizList + ( bizList.implicit ? "-o" : "" )}}'>
      </span>
      <span class="discover-display-icons-item-text">
        {{ bizList.name }}
      </span>
    </span>
  </span>
</span>
