
:host {
 a {
   &.title-primary {
     &:not(.disabled) {
       font-weight: 600;
       color: #23527c;
     }
   }
 }
  //.disabled {
  //  a {
  //    color: $disabled-text-color;
  //  }
  //  color: $disabled-text-color;
  //}
}
