<div *ngIf="!workflowItem || !workflowItem.id">No such GDPR workflow provided</div>
<div class="fill-width" *ngIf="workflowItem as data">

  <div *ngIf="data && data.id">
    <h3>Discover <span
      class="header header-primary">{{data.requestDetails.firstName}} {{data.requestDetails.lastName}}</span> files</h3>

    <div class="row">
      <div class="col-6">
        <div class="card card-default ">
          <h4>The following person data permutation will be searched: </h4>
          <ul style="list-style: none">
            <li *ngFor="let permutation of permutations">
              <a class="btn btn-link title-primary" [ngClass]="{'disabled' : !hasValue(permutation)} "
                 (click)="onPermutationClick(permutation)">
                <i [ngClass]="permutation.selected?'fa fa-check-square':'fa fa-square-o'"></i>
                <span *ngFor="let key of permutation.keys; let index = index">
                <span>{{key}}</span>
                  <span *ngIf="index < (permutation.keys.length - 1)"> and </span>
                    </span>
              </a>
              {{valuesOf(permutation)}}
            </li>
            <!--<li *ngFor="let field of checkboxListOptions;let i=index; " (click)="onFieldClicked(i)">-->
            <!--<a class="btn btn-link" >-->
            <!--<i [ngClass]="field.selected?'fa fa-check-square':'fa fa-square-o'"></i>-->
            <!--<span class="name"><span class="title-secondary">{{field.key}}</span> - <span class="title-primary">{{field.value}}</span></span>-->
            <!--</a>-->
            <!--</li>-->

          </ul>
          <div>
            <button class="btn btn-primary btn-md" (click)="discover()">Try</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card card-trans fill-height">
          <!--<div>Currently there are {{data.filters.length}} filter populations-->
          <!--<a *ngIf="data.filters.length>0" class="btn btn-link " (click)="deleteAllWorkflowFiles()" title="Clear all saved filter"><i class="fa fa-trash"></i></a></div>-->
          <!--<div>-->
          <!--<button [disabled]="!hasCriteria()" class="btn btn-flat btn-md" (click)="addFilesToWorkflow()" >Add files</button>-->
          <!--</div>-->

          <div *ngIf="data.filters.length==0" style="margin-top: 40px;">
            <label>
              If you approve the search data, click:
              <da-action-comment [buttonText]="'Next'" (closeButtonClicked)="onDialogClose($event)"
                                 [(comment)]="comment"></da-action-comment>
              <!--<button  class="btn btn-primary save" (click)="startHandlingFiles(comment)" title="Start handling file">Next</button>-->
            </label>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
<div class="discover-iframe-wrapper fill-width" style="margin-top: 50px;"></div>


