<div class="modal-header break-text-modal-header" [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <form class="form-horizontal modal-form-md" name="generalForm" #userViewGeneralForm="ngForm" role="form">
    <div  class="form-group form-group-position-relative">
      <label class="control-label" for="name">{{ 'NAME' | translate}}:</label>
      <div class="control-field">
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="userViewItem.name" [disabled]="isScopeEditor" required minlength="1" #name="ngModel" placeholder="Set name">
      </div>
      <div class="error error-position" *ngIf="name.invalid">*</div>
    </div>
    <div class="form-group form-group-radio" *ngIf="isScopeEditor">
      <div class="dialog-option">
        <input type="radio" id="private" value="false" [(ngModel)]="globalFilter" name="private">
        <label for="private"> {{ 'PRIVATE' | translate}}</label>
      </div>
      <div class="dialog-option">
        <input type="radio" id="public" value="true" [(ngModel)]="globalFilter" name="public">
        <label for="public"> {{ 'PUBLIC' | translate}}</label>
      </div>
    </div>
    <div class="form-group form-group-position-relative" *ngIf="showRemoveContainerDiv">
      <label class="control-label" >Target:</label>
      <div style="width:100%">
        <div class="dialog-option">
            <input type="radio" id="removeOwner" value="true" [(ngModel)]="removeContainer" name="private">
            <label for="removeOwner"> Widgets library</label>
        </div>
        <div class="dialog-option">
            <input type="radio" id="keepOwner" value="false" [(ngModel)]="removeContainer" name="public">
            <label for="keepOwner"> This dashboard</label>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group"><button type="button" class="btn btn-primary" (click)="save()" >{{ 'SAVE' | translate}}</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="cancel()">{{ 'CANCEL' | translate}}</button></div>
  </div>
</div>
