saved-user-view-editor-dialog {
  .form-group-radio {
    margin-left: 115px;
  }

  .dialog-option {
    cursor: pointer;
    padding-bottom: 10px;
    margin-left: 20px;

    input[type="radio"] {
      position: relative;
      top: 3px;
    }

    &.disabled {
      opacity: 0.7;
    }

    label {
      padding-left: 3px;
      display: inline;
      font-weight: normal;
    }

    .range-input {
      margin-left: 10px;
      padding-left: 10px;
    }

    .range-error{
      color: red;
      font-size: 12px;
      padding-left: 10px;
    }
  }
}
