<div class="main-div" *ngIf="gridOptions">
  <gridster [options]="gridOptions">
    <button type="button" class="btn btn-primary" style="margin-bottom: 10px" (click)="resetWidgets()">Reset widgets</button>

    <gridster-item [item]="gridItems['userDocumentStat']" id="userDocumentStat"  *ngIf="!gridItems['userDocumentStat'].isHidden">
      <list-report [gridItem]="gridItems['userDocumentStat']" [countCenterReport]="userDocumentStatistics"  caption="User document statistics"></list-report>
    </gridster-item>

    <gridster-item [item]="gridItems['fileCountPerModification']" id="fileCountPerModification"  *ngIf="!gridItems['fileCountPerModification'].isHidden">
      <dashboard-chart [gridItem]="gridItems['fileCountPerModification']" [chartType]="ChartTypes && ChartTypes.BAR" [chartData]="fileAccessHistogram && fileAccessHistogram.data" chartTitle="Files count per modification date"></dashboard-chart>
    </gridster-item>

    <gridster-item [item]="gridItems['scannedFileTypes']" id="scannedFileTypes"  *ngIf="!gridItems['scannedFileTypes'].isHidden">
      <dashboard-chart [gridItem]="gridItems['scannedFileTypes']"  [chartType]="ChartTypes && ChartTypes.PIE" [chartData]="fileTypeHistogram && fileTypeHistogram.data" chartTitle="Scanned file types"></dashboard-chart>
    </gridster-item>

  </gridster>
</div>
