user-dashboard {
  .main-div {
    width: 100%;
    height: 100%;
  }

  gridster {
    background-color: transparent;
  }

  gridster-item {
    background-color: transparent;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
  }
}
