da-alert {
  .advanced-div {
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    background-color: white;
    border: solid 1px #cccccc;
    border-radius: 5px;
    background-color: #eeeeee;
  }

  .alert-body {
    min-height: 50px;
    max-height: 600px;
    //overflow-y: auto;
    margin-left: 10px;
  }

  & .Error {
    background-color: #d2322d !important;
  }
  & .Info {
    background-color: lightgray !important;
  }

  & .Fatal {
    background-color: darkred !important;
  }

  & .Warning {
    background-color: darkorange !important;
  }
}
