<div class="modal-header {{alertType}}"  [daDraggable] draggableSelector=".modal-content">
    <span class="modal-title">
      <i class="fa" [ngClass]="{'fa-exclamation-triangle' : alertType === AlertTypeEnum.Error, 'fa-info' : alertType === AlertTypeEnum.Info}"></i> {{title}}
    </span>
  <a class="close" aria-label="Close" (click)="close(false)">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body alert-body" >
  <div [innerHtml]="message" class="full-text-selection"></div>
  <div *ngIf="isTechSupport && err"  style="padding-top: 20px" class="da-link-btn" (click)="showMore = !showMore">{{ !showMore ? 'Show more...' : 'Less...' }}</div>
  <div *ngIf="isTechSupport && showMore" class="advanced-div break-text full-text-selection">
    URL: {{  err.url }} <br>
    type: {{ err.name }} <br>
    Status: {{ err.status }}<br>
    Message: {{ err.message }}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="close(true)">{{closeButtonText || 'OK'}}</button>
</div>
