<div #el class="grid-row">
  <div class="item file-icon">
    <span class="{{ fileTypeClass }}"></span>
  </div>
  <div class="item file-name  title-primary  lower-case-capitalized">
      <span>
        <a class="title-primary">{{dataItem.item.baseName}}</a>
      </span>
    <span  class="pull-right">
        <functional-role-display [functionalRoleDTOs]="dataItem.item.associatedFunctionalRoles"></functional-role-display>
        <biz-list-display [bizListDTOs]="dataItem.item.associatedBizListItems"></biz-list-display>
        <tag-display [tagsDTOs]="dataItem.item.fileTagDtos"></tag-display>
      </span>

    <div>
        <span *ngIf="dataItem.item.groupName" >
          <span>
            <i class="ion-aperture tag-ANALYSIS_GROUP"></i>
            <a class="title-third" title="Group Name : {{ dataItem.item.groupName }}">
              {{  dataItem.item.groupName}}
            </a>
          </span>
        </span>
        <span  class="pull-right">
          <doc-type-display [editable]="false" [docTypeDTOs]="dataItem.item.docTypeDtos"></doc-type-display>
        </span>
    </div>
  </div>

  <div class="item file-size">
    <div  title="Last modified date"> {{ dataItem.item.fsLastModified | date : myEnvironment.dateFormat }}</div>
    <div  title="File size">  {{  bytesStr}} </div>
  </div>


</div>
