<!doctype html>
<!--[if lt IE 7]>      <html class="no-js iexplorer lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js iexplorer lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js iexplorer lt-ie9> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js iexplorer"> <!--<![endif]-->
  <head ng-controller="HtmlHeadCtrl">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/v1/">
    <title page-title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->

    <link rel="stylesheet" href="vendor/kendo/kendo.bootstrap.min.css">
    <link rel="stylesheet" href="vendor/kendo/kendo.common-bootstrap.min.css">

    <!-- separator -->

    <!-- build:css(.) app/app.css -->
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->

  </head>
  <body class="da-cond-hidden" ng-controller="AppCtrl"   ng-init="Init()"  resize>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="{{ msie11 ? 'isMsIe11' : '' }} " style="min-height: 100%;" >
      <!-- The following div use for hidden clicks -->
      <div class="hidden-div-for-clicks"></div>
       <div ng-include="'/app/header.tpl.html'" ></div>

      <section role="main" class="container main-body  {{$state.current.name?'gray-bg':''}}  {{$state.current.name}} " style="min-height: 100%;width:100%;" >
        <div  ui-view class="main-grid main-body-grid" ng-class="{'no-margin': !showHeader}"  ng-style="{'min-height':heightInPx(-60)} ">


        </div>
      </section>


      <footer class="footer"   ng-show="showHeader" style="display: none">
        <div class="container" ng-if="showHeader">
          <!--<p class="pull-right"><a back-to-top="">Back to top</a></p>-->
          <p class="pull-left" >
          <small>DocAuthority ©2019 ({{myVersion}})</small>
          </p>

          <immediate-actions-status-bar  class="pull-right"></immediate-actions-status-bar>
        </div>
      </footer>
    </div>



    <!-- build:js(.) app/vendor.js -->

      <!-- bower:js -->
      <!-- endbower -->
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/highcharts/modules/offline-exporting.js"></script>
    <script src="vendor/kendo.custom.min.js"></script>
    <!-- endbuild -->


    <!--<script src="vendor/kendo/kendo.all.min.js"></script>-->


    <!-- build:js(.) app/app.js -->

      <!-- injector:js -->
      <!-- endinjector -->

    <!-- endbuild -->
</body>
</html>
