.modal-lg {
  max-width: 80vw !important;
}
server-component-item-grid {
  width: 100%;
  .item {
    &.fieldName {
      flex: 1 0 150px;
      word-break: break-all;
    }
    &.pending {
      flex: 0 1 150px;
      word-break: break-all;
    }
    &.dequeued {
      flex: 0 1 150px;
      word-break: break-all;
    }
    &.enqTime {
      flex: 0 1 150px;
      word-break: break-all;
    }
    &.status {
      flex: 0 1 100px;
      word-break: break-all;
    }
    &.lastResponse {
      flex: 0 1 150px;
      word-break: break-all;
    }
    &.memory {
      flex: 0 1 150px;
      word-break: break-all;
    }
    &.cpu {
      flex: 0 1 150px;
      word-break: break-all;

      .percentage-text{
        display: inline-block;
      }
      .percentage-ruler {
        width: 70px;
        height: 5px;
        border: 1px solid #c9c2c2;
        margin-top: 7px;
        margin-right: 10px;
        display: inline-block;

        .percentage {
          background: #1ab394;
          width: 0;
          height: 100%;
        }
      }
    }
    &.upTime {
      flex: 0 1 150px;
      word-break: break-all;
    }
    &.actions {
      flex: 0 0 60px;
      word-break: break-all;
    }
  }
}
