<div #el class="grid-row">
  <div class="item fieldName">
    <div class="type-name title-primary">
      <span title="{{dataItem.item.mainTitleBubble}}">{{dataItem.item.mainTitle}}
      </span>
    </div>
    <div class="external-net-address long-and-truncated"> {{dataItem.item.subTitle }} </div>
  </div>

  <div class="item pending">
    <div *ngIf="(dataItem.item.isAppServer && dataItem.item.extraMetrics  && (dataItem.item.extraMetrics.optimizeIndexesRunning == true) )">
      <div class="title-third" title="Optimize indexes">Optimizing</div>
      <div class="title-secondary">
        <span>Running</span>
      </div>
    </div>


    <div *ngIf="(dataItem.item.isSolrRootNode && dataItem.item.diskSizeWarning)|| (dataItem.item.isDataCenter && dataItem.item.diskSizeWarning) || dataItem.item.isSolrNode || dataItem.item.isAppServer || dataItem.item.isMediaProcessor">
      <div class="title-third">Disk space utilization</div>

      <div class="title-secondary">
             <span>
               <span title="{{dataItem.item.diskSizeTooltip}}">{{ dataItem.item.solrDiskSpace }}</span>
               <span *ngIf="dataItem.diskSizeWarning"  title="Free disk space for device is bellow threshold"  class="fa fa-exclamation-triangle notice-info"> </span>
             </span>
      </div>
    </div>



    <div *ngIf="dataItem.item.isBrokerInfo || dataItem.item.isBroker">
      <div class="title-third">Pending</div>
      <div class="title-secondary">
           <span title="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Map:</div>
                  <div class='col right'>{{(dataItem.item.scanEnqueueCount !== null && dataItem.item.scanDequeueCount !== null )? dataItem.item.scanEnqueueCount - dataItem.item.scanDequeueCount : ''}}</div>
                </div>
                <div class='row'>
                  <div class='col'>Ingest:</div>
                  <div class='col right'>{{(dataItem.item.ingestEnqueueCount !== null && dataItem.item.ingestDequeueCount  !== null )? dataItem.item.ingestEnqueueCount - dataItem.item.ingestDequeueCount : ''}}</div>
                </div>
            </div>">
            <span>{{(dataItem.item.scanEnqueueCount !== null && dataItem.item.scanDequeueCount !== null)? dataItem.item.scanEnqueueCount - dataItem.item.scanDequeueCount  : ''}}</span> / <span>{{(dataItem.item.ingestEnqueueCount !== null &&  dataItem.item.ingestDequeueCount !== null)? dataItem.item.ingestEnqueueCount - dataItem.item.ingestDequeueCount : ''}}</span>
           </span>
      </div>
    </div>
  </div>




  <div class="item dequeued">
      <div *ngIf="dataItem.item.isMediaProcessor || dataItem.item.isDataCenter">
        <div class="title-third">Processed</div>
        <div class="title-secondary">
             <span title="
                <div class='table'>
                  <div class='row'>
                    <div class='col'>Map:</div>
                    <div class='col right'>{{dataItem.item.scanTaskFinished | number }}</div>
                  </div>
                  <div class='row'>
                    <div class='col'>Ingest:</div>
                    <div class='col right'>{{dataItem.item.ingestTaskFinished | number }}</div>
                  </div>
              </div>">
              <span>{{dataItem.item.scanTaskFinished | number }}</span> / <span>{{dataItem.item.ingestTaskFinished | number }}</span>
             </span>
        </div>
      </div>


      <div *ngIf="dataItem.item.isAppServer && dataItem.item.extraMetrics">
        <div class="title-third">Processed</div>
        <div class="title-secondary" >
             <span title="
                <div class='table'>
                  <div class='row'>
                    <div class='col'>Ingest :</div>
                    <div class='col right'>{{dataItem.item.extraMetrics.ingestTaskRequestsFinished + dataItem.item.extraMetrics.ingestTaskRequestFailure | number:0}}</div>
                  </div>
                  <div class='row'>
                    <div class='col'>Analyzed :</div>
                    <div class='col right'>{{dataItem.item.extraMetrics.analyzedTaskRequestsFinished + dataItem.item.extraMetrics.analyzedTaskRequestFailure | number:0}}</div>
                  </div>
              </div>">
              <span>{{ dataItem.item.extraMetrics.ingestTaskRequestsFinished + dataItem.item.extraMetrics.ingestTaskRequestFailure | number:0}}</span> / <span>{{dataItem.item.extraMetrics.analyzedTaskRequestsFinished + dataItem.item.extraMetrics.analyzedTaskRequestFailure | number:0}}</span>
             </span>
        </div>
      </div>


      <div *ngIf="(dataItem.item.isBrokerInfo || dataItem.item.isBroker)">
        <div class="title-third">Dequeued</div>
        <div class="title-secondary">
           <span title="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Map:</div>
                  <div class='col right'>{{dataItem.item.scanDequeueCount | number | checkNull}}</div>
                </div>
                <div class='row'>
                  <div class='col'>Ingest:</div>
                  <div class='col right'>{{dataItem.item.ingestDequeueCount | number | checkNull }}</div>
                </div>
            </div>">
            <span>{{dataItem.item.scanDequeueCount | number | checkNull}}</span> / <span>{{dataItem.item.ingestDequeueCount | number |checkNull}}</span>
           </span>
        </div>
      </div>
  </div>

  <div class="item enqTime">

    <div *ngIf="((dataItem.item.isAppServer || dataItem.item.isMediaProcessor) && dataItem.item.extraMetrics) || dataItem.item.isDataCenter">
      <div class="title-third">Throughput</div>
    </div>
    <div *ngIf="(dataItem.item.isBrokerInfo  || dataItem.item.isBroker)">
      <div class="title-third">Enq. time</div>
    </div>


    <div class="title-secondary" *ngIf="dataItem.item.isAppServer && dataItem.item.extraMetrics">
           <span title="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Ingest running rate:</div>
                  <div class='col right'>{{dataItem.item.extraMetrics.ingestRunningThroughput | limitBig : 8 }}</div>
                </div>
                <div class='row'>
                  <div class='col'>Analyzed running rate:</div>
                  <div class='col right'>{{dataItem.item.extraMetrics.analyzedRunningThroughput | limitBig : 8}}</div>
                </div>
            </div>">
            <span>{{dataItem.item.extraMetrics.ingestRunningThroughput | limitBig : 5}}</span> / <span>{{dataItem.item.extraMetrics.analyzedRunningThroughput | limitBig : 5}}</span>
           </span>
    </div>
    <div class="title-secondary" *ngIf="(dataItem.item.isMediaProcessor && dataItem.item.extraMetrics) || dataItem.item.isDataCenter">
           <span title="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Map rate:</div>
                  <div class='col right'>{{dataItem.item.mapRate | number}}</div>
                </div>
                <div class='row'>
                  <div class='col'>Ingest rate:</div>
                  <div class='col right'>{{dataItem.item.ingestRate | number}}</div>
                </div>
            </div>">
            <span>{{dataItem.item.mapRate | number}}</span> / <span>{{dataItem.item.ingestRate | number}}</span>
           </span>
    </div>
    <div class="title-secondary" *ngIf="dataItem.item.isBrokerInfo || dataItem.item.isBroker">
           <span title="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Map average enqueue time:</div>
                  <div class='col right'>{{dataItem.item.scanAverageEnqueueTime | period}}</div>
                </div>
                <div class='row'>
                  <div class='col'>Ingest average enqueue time:</div>
                  <div class='col right'>{{dataItem.item.ingestAverageEnqueueTime | period}}</div>
                </div>
            </div>">
            <span>{{dataItem.item.scanAverageEnqueueTime | period}}</span> / <span>{{dataItem.item.ingestAverageEnqueueTime | period}}</span>
           </span>
    </div>
  </div>
  <div class="item status">
    <div class="title-third" *ngIf="dataItem.item.claComponentDto.state">Status</div>

    <div class="data title-secondary long-and-truncated"  *ngIf="dataItem.item.claComponentDto.state">
      <status-icon [status]="dataItem.item.claComponentDto.state"></status-icon>

      <span *ngIf="dataItem.item.isStateOk" class="status-icon fa fa-check"></span>
      <span *ngIf="dataItem.item.isStateError" class="status-icon fa fa-times "></span>
      <span *ngIf="dataItem.item.isStatePending" class="status-icon  fa fa-pause "></span>
      <span *ngIf="dataItem.item.isStateDisabled && !dataItem.item.isStateNone" class="status-icon fa fa-ban "></span>
      <span *ngIf="dataItem.item.isStatePartial" class="status-icon fa fa-exclamation-triangle notice-info"></span>

      <span class="txt" title="{{dataItem.item.claComponentDto.state|translate}}">
             <span *ngIf="dataItem.isStatePending">Pending</span>
             <span *ngIf="!dataItem.isStatePending">{{dataItem.item.claComponentDto.state|translate}}</span>
           </span>
    </div>
  </div>
  <div class="item lastResponse">
    <div class="title-third" *ngIf="dataItem.item.lastResponseElapsedTimeSpan">Last response</div>
    <div class="txt title-secondary" *ngIf="dataItem.item.lastResponseElapsedTimeSpan">
      <span *ngIf="dataItem.item.lastResponseElapsedTime > showNotificationWarinigPeriod" title="Component didn't response 10 minutes prior to the search" class="fa fa-exclamation-triangle notice"></span>
      <span title="{{ dataItem.item.claComponentDto.lastResponseDate | date: 'dd-MMM-yy HH:mm' }}">{{ dataItem.item.lastResponseElapsedTimeSpan || '' }}</span>
    </div>
  </div>

  <div class="item memory">
    <div class="title-third" *ngIf="dataItem.item.extraMetrics && dataItem.item.extraMetrics.usedPhysicalMemorySize && dataItem.item.extraMetrics.totalPhysicalMemorySize">Memory</div>
    <div *ngIf="dataItem.item.extraMetrics && dataItem.item.extraMetrics.usedPhysicalMemorySize && dataItem.item.extraMetrics.totalPhysicalMemorySize">
          <span class="txt" title="<div class='table'>
            <div class='row'>
              <div class='col'>Used memory size:</div>
              <div class='col right'>{{dataItem.item.extraMetrics.usedPhysicalMemorySize | bytes}}</div>
            </div>
            <div class='row'>
               <div class='col'>Total memory size:</div>
               <div class='col right'>{{dataItem.item.extraMetrics.totalPhysicalMemorySize | bytes}}</div>
            </div>
          </div>">{{dataItem.item.extraMetrics.usedPhysicalMemorySize | bytes }} / {{dataItem.item.extraMetrics.totalPhysicalMemorySize | bytes }}</span>
    </div>
  </div>

  <div class="item cpu">
    <div class="title" *ngIf="dataItem.item.extraMetrics && (dataItem.item.extraMetrics.systemCpuLoad !== null && dataItem.item.extraMetrics.systemCpuLoad !== undefined) ">CPU</div>
    <div *ngIf="dataItem.item.extraMetrics && (dataItem.item.extraMetrics.systemCpuLoad !== null && dataItem.item.extraMetrics.systemCpuLoad !== undefined)" class="system-cpu" title="{{dataItem.item.extraMetrics.systemCpuLoad * 100 | number : '.2' }}%">
      <div class="percentage-ruler">
        <div class="percentage" [ngStyle]="{'width': (dataItem.item.extraMetrics.systemCpuLoad * 100)+'%' }"></div>
      </div>
      <div class="percentage-text txt">{{dataItem.item.extraMetrics.systemCpuLoad * 100 | number : '.0-2' }}%</div>
    </div>
  </div>

  <div class="item upTime">
    <div class="title-third" *ngIf=" dataItem.item.lastStateChangeElapsedTimeSpan">{{dataItem.item.claComponentDto.state == 'OK' ? 'Up time' : 'Down time'}}</div>
    <div class="txt title-secondary" *ngIf=" dataItem.item.lastStateChangeElapsedTimeSpan"><span title="{{ dataItem.item.claComponentDto.stateChangeDate | date: 'dd-MMM-yy HH:mm' }}">{{ dataItem.item.lastStateChangeElapsedTimeSpan || '' }}</span></div>
  </div>

  <div class="item actions">
    <span  class="icon-button open"   title="Open historic data" (click)="openMoreData()" ><i class="fa  fa-chevron-circle-down"></i></span>

    <da-drop-down *ngIf="additionalDropDownItems" [openOnLeft]="true" [alsoOpenInTop]="true" [withArrow]="false" [enabled]="true" [dropDownItems]="additionalDropDownItems"  style="float: right;">
      <span  class="icon-button options" title="More Options" ><i class="fa fa-ellipsis-v"></i></span>
    </da-drop-down>

  </div>



</div>
