
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body tabbed-dialog">
  <ul class="nav nav-tabs">
    <li> <a class="btn btn-sm" ng-click="setActiveTab('files')" ng-class="{'btn-flat':activeTab=='files'}">Files <span class="error " ng-visible=" !filesAreSelected()" >*</span></a></li>
    <li> <a class="btn btn-sm" ng-click="setActiveTab('selectGroup')" ng-class="{'btn-flat':activeTab=='selectGroup'}">Select group <span class="error " ng-visible=" !groupSelected" >*</span></a></li>
  </ul>
  <div ng-show="activeTab=='files'" class="col-sm-11 ">
    <form class="form-horizontal" name="filesForm" role="form">
      <div style="position: relative">
        <label class="control-label" >{{selectedFilesCount()}} / {{filesList.length}} files will be added &nbsp;<a ng-click="showFilesList=!showFilesList"> <i class="fa fa-chevron-{{!showFilesList?'down':'up'}}"></i></a></label>
        <span class="error top-right-position" ng-show="!filesAreSelected()" >*</span>
        <div   ng-if="filesList&&showFilesList"  style="max-height: 150px;min-height: 80px; margin-top: 20px;position: relative;overflow-y: scroll;overflow-x: hidden">

          <div ng-repeat="chk in filesList" >
            <label class="ellipsis" for="l{{$index}}">
              <input type="checkbox" ng-model="selectedFiles[$index]" id="l{{$index}}" title="{{chk.name}}" >&nbsp;{{chk.name}}</label>
          </div>

        </div>
        <div ng-if="filesLeftOutNumber>0" style="margin-top: 20px;">{{filesLeftOutNumber}} selected files were already grouped</div>
      </div>
    </form>
  </div>
  <div ng-show="activeTab=='selectGroup'" class="col-sm-11 ">
    <form class="form-horizontal" name="groupForm" role="form">
      <div class="form-group">
        <label for="name"  class="col-sm-4" >Select group:</label>
        <div class="col-sm-8">
          <div ng-show="!groupSelected">Not selected</div>
          <div ng-show="groupSelected" class="ellipsis">{{groupSelected.name}}</div>
          <div ng-show="groupSelected" ><small>{{groupSelectedSubdisplay}}</small></div>
        </div>
      </div>
      <div >
        <input-param options="true" single-selection="true"  on-items-selected="onGroupItemSelected" action-name="{{'group'}}"
                     class-type="group"  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewGroupDialog"
                     saved-selected-items1="" load-option-items="loadGroupOptionItems"
                     create-new-option-from-item="createGroupParamOption"></input-param>
      </div>
    </form>
  </div>

</div>
<div class="clearfix"></div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()">Create</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
