<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
   {{title}}
  </h4>
</div>
<div class="modal-body">
  <loader show="loading"></loader>
  <form class="form-horizontal col-md-10" name="myForm" role="form" ng-show="!loading">
    <div class="form-group">
      <label class="control-label col-sm-4" for="type">Type:</label>
      <div class="col-sm-8" style="margin-top: 8px;">
        <span class="tag-{{tagTypeStyleId}}" id="type"><i class="fa fa-flag"></i></span>
        &nbsp {{tagItem.type.name}}: {{tagItem.name}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="action">Action type:</label>
      <div class="col-sm-8">
        <select class="form-control" id="action" ng-model="actionOptionSelected">
          <option value="add" selected>Assign tag to files</option>
          <option value="remove">Remove tag from files</option>
        </select>
      </div>
    </div>
    <div ng-if="displayType.value != 'all_files'" class="form-group">
      <label class="control-label col-sm-4" for="action">Target:</label>
      <div class="col-sm-8" style="margin-top: 8px;">
        <div>
          <label style="font-weight: normal;">
            <input type="radio" ng-model="applyToSelectedItemsOnly" ng-value="true" style="margin-top: 3px;" ng-hide="noFilter || selectedFiles == totalFiles" ng-click="setApplyToSelectedItemsOnly(true)">
            <span ng-hide="noFilter || selectedFiles == totalFiles" style="position: absolute;padding-left: 3px;max-width: 260px;display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" title="Files of selected {{selectionTxt.isLeftPane ? selectionTxt.leftTypeTxt : selectionTxt.rightTypeTxt}} <b>{{selectionTxt.isLeftPane ? selectionTxt.leftName : selectionTxt.rightName}}</b>{{selectionTxt.isLeftPane ? '' : ' in '+selectionTxt.leftTypeTxt+' '}}<b>{{selectionTxt.isLeftPane ? '' : selectionTxt.leftName}}</b>{{noFilter ? '' : ' and filtered with current filter'}}">Files of selected {{selectionTxt.isLeftPane ? selectionTxt.leftTypeTxt : selectionTxt.rightTypeTxt}} <b>{{selectionTxt.isLeftPane ? selectionTxt.leftName : selectionTxt.rightName}}</b>{{selectionTxt.isLeftPane ? "" : " in "+selectionTxt.leftTypeTxt+" "}}<b>{{selectionTxt.isLeftPane ? "" : selectionTxt.leftName}}</b>{{noFilter ? "" : " and filtered with current filter"}}</span>
            <span ng-show="noFilter || selectedFiles == totalFiles">Selected files of {{selectionTxt.isLeftPane ? selectionTxt.leftTypeTxt : selectionTxt.rightTypeTxt}} <b>{{selectionTxt.isLeftPane ? selectionTxt.leftName : selectionTxt.rightName}}</b>{{selectionTxt.isLeftPane ? "" : " in "+selectionTxt.leftTypeTxt+" "}}<b>{{selectionTxt.isLeftPane ? "" : selectionTxt.leftName}}</b></span>
          </label>
        </div>
        <div ng-hide="noFilter || selectedFiles == totalFiles">
          <label style="font-weight: normal;">
            <input type="radio" ng-model="applyToSelectedItemsOnly" ng-value="false" style="margin-top: 3px;" ng-click="setApplyToSelectedItemsOnly(false)">
            <span style="position: absolute;padding-left: 3px;max-width: 260px;display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;" title="All files of all {{selectionTxt.isLeftPane ? selectionTxt.leftTypeTxt.trim() : selectionTxt.rightTypeTxt.trim()}}s{{selectionTxt.isLeftPane ? '' : ' in '+selectionTxt.leftTypeTxt+' '}}<b>{{selectionTxt.isLeftPane ? '' : selectionTxt.leftName}}</b>{{noFilter ? '' : ' and filtered with current filter'}}">All files of all {{selectionTxt.isLeftPane ? selectionTxt.leftTypeTxt.trim() : selectionTxt.rightTypeTxt.trim()}}s{{selectionTxt.isLeftPane ? "" : " in "+selectionTxt.leftTypeTxt+" "}}<b>{{selectionTxt.isLeftPane ? "" : selectionTxt.leftName}}</b>{{noFilter ? "" : " and filtered with current filter"}}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group" style="margin-bottom: 0px;">
      <h5 ng-if="actionOptionSelected == 'add'" style="margin-left: 106px;">This operation will effect <b>{{(applyToSelectedItemsOnly ? selectedAddFiles : addFiles) | number}}</b> files out of {{(applyToSelectedItemsOnly ? selectedFiles : totalFiles) | number}}.</h5>
      <h5 ng-if="actionOptionSelected == 'remove'" style="margin-left: 106px;">This operation will effect <b>{{(applyToSelectedItemsOnly ? selectedExplicitTagFiles : explicitTagFiles) | number}}</b> files out of {{(applyToSelectedItemsOnly ? selectedFiles : totalFiles) | number}}.</h5>
    </div>
    <div ng-if="(applyToSelectedItemsOnly ? (selectedExplicitTagFiles != 0) : (explicitTagFiles != 0))" class="form-group" style="margin-bottom: 0px;">
      <h5 style="margin-left: 106px;">({{(applyToSelectedItemsOnly ? selectedExplicitTagFiles : explicitTagFiles) | number}} files are already assigned explicitly with this tag)</h5>
    </div>
    <div ng-if="tagItem.type.singleValueTag && actionOptionSelected == 'add'" class="form-group">
      <div ng-if="explicitTagTypeFiles > 0" class="checkbox" style="margin-left: 100px;">
        <label ng-class="{disabled:(applyToSelectedItemsOnly ? (selectedExplicitFiles == 0) : (explicitFiles == 0))}">
          <input type="checkbox" ng-model="overrideExplicit" ng-disabled="(applyToSelectedItemsOnly ? (selectedExplicitFiles == 0) : (explicitFiles == 0))" ng-change="setOverrideExplicit()">
          <span style="position: absolute;padding-left: 3px;">Override {{(applyToSelectedItemsOnly ? selectedExplicitFiles : explicitFiles) | number}} files with explicit assignments</span>
        </label>
      </div>
      <!--div ng-if="tagTypeFiles > 0" class="checkbox" style="margin-left: 100px;">
        <label ng-class="{disabled:(applyToSelectedItemsOnly ? (selectedImplicitFiles == 0) : (implicitFiles == 0))}">
          <input type="checkbox" ng-model="overrideImplicit" ng-disabled="(applyToSelectedItemsOnly ? (selectedImplicitFiles == 0) : (implicitFiles == 0))"  ng-change="setOverrideImplicit()">
          Override {{applyToSelectedItemsOnly ? selectedImplicitFiles : implicitFiles}} files with implicit association assignments
        </label>
      </div-->
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="assign()" ng-disabled="((actionOptionSelected == 'add') ? (applyToSelectedItemsOnly ? (loading || actionOptionSelected==null || selectedAddFiles==0) : (loading || actionOptionSelected==null || addFiles==0)) : ((actionOptionSelected == 'remove') ? (applyToSelectedItemsOnly ? (loading || actionOptionSelected==null || selectedExplicitTagFiles==0) : (loading || actionOptionSelected==null || explicitTagFiles==0)) : (loading || actionOptionSelected==null)))">Apply</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
