
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    Choose label to apply
  </h4>
</div>
<div class="modal-body tabbed-dialog height-xs">
  <form class="form-horizontal col-sm-10" name="myForm" role="form">
     <!-- div class="form-group">
      <label class="control-label col-sm-4" for="name">Name:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.name.$error.required" >*</span>
        <input  ng-click="$event.stopPropagation();" focus-if1="initiated" autofocus="true" id="name" name="name" class="block form-control" ng-model="inputText"
                ng-enter="save()" type="text"
                placeholder="Label name/empty"/>
      </div>
    </div -->
    <div class="form-group" style="height: 200px;">
      <div>What would you like to do:</div>
      <div class="col-sm-8 radio-group2" style="margin-top: 20px;">
        <label for="byTags">
          <input type="radio" id="byTags" name="templateTypeList"  ng-model="selectedOption" ng-value="0" >
          <span>Apply file tags as labels</span>
        </label>

        <label for="byName">
          <input type="radio" id="byName" name="templateTypeList"  ng-model="selectedOption" ng-value="1" >
          <span>Apply a specific label:</span> </span>
        </label>
        <input-param style="margin-left: 20px" ng-show="selectedOption == 1" name="labelName" id="labelName" options="true" single-selection="true" on-items-selected="onLabelSelected" action-name="{{'Labels'}}" class-type="label"
                     load-option-items="loadLabelOptionItems"
                     leave-text-after-selection="true"
                     no-create-new-object-button="true"
                     required="true"></input-param>
      </div>
    </div>
    <div class="small">This operation will effect all files satisfying the page filter</div>
  </form>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button" ng-class="{'disabled':!selectedLabelId && selectedOption==1}"  class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
