
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body" style="min-height: 260px;">
  <div  style="margin: 0 35px;">
    <div  style="border-right: #f4f4f4">
      <ul class="nav nav-tabs">
        <li> <a class="btn btn-sm" ng-click="setActiveTab('general')" ng-class="{'btn-flat':activeTab=='general'}">General <span class="error " ng-visible=" !generalForm.$valid" >*</span></a></li>
        <li> <a class="btn  btn-sm" ng-click="setActiveTab('rangeItems')" ng-class="{'btn-flat':activeTab=='rangeItems'}">Range items <span class="error "   ng-visible="!isRangeItemsFormValid" >*</span></a></li>
        <li> <a class="btn  btn-sm" ng-click="setActiveTab('advanced')" ng-class="{'btn-flat':activeTab=='advanced'}">Advanced</a></li>

      </ul>
    </div>
    <div style="min-height: 20px"></div>
    <div ng-show="activeTab=='general'" class="col-sm-8 ">
      <form class="form-horizontal" name="generalForm" role="form">
        <div class="form-group" style="position: relative;">
          <label for="name">Name:</label>
          <span class="error top-right-position" ng-show=" generalForm.name.$error.required" >*</span>
          <input type="text" class="form-control" id="name" name="name" ng-model="datePartitionDto.name"  required>
        </div>
        <div class="form-group">
          <label for="desc">Description:</label>
          <input type="text" class="form-control" id="desc" ng-model="datePartitionDto.description" >
        </div>

      </form>
    </div>
    <div ng-show="activeTab=='rangeItems'"  class="col-sm-12 ">
      <label>Date ranges:</label>
      <form class="form-horizontal panel-selectable" name="rangeItemsForm" role="form">
        <div class="table" ng-show="isStartFromEver()" ng-click="setActiveDateRangeItem(datePartitionDto.dateRangeItemDtos[0])" ng-class="{active:datePartitionDto.dateRangeItemDtos[0]==activeDateRangeItem }" style="margin-bottom: 0;line-height: 37px;">
           <div class="table-cell" style="width: 84px;">
               <!--<a  ng-click="toggleStartFromEver();" style="margin-left: 95px;line-height: 27px;"> <span ng-show="isStartFromEver()" ><i class="fa fa-toggle-on"></i> Start from ever</span><span ng-show="!isStartFromEver()"><i class="fa fa-toggle-off"></i>  Do not Start from ever</span></a>-->
            </div>
          <div ng-show="!editEverTitleMode" class="table-cell"  style="width: 319px;"><div class="ellipsis" style="width: 100%;padding-left: 3px;">{{datePartitionDto.dateRangeItemDtos[0].name}}</div></div>
          <div   class="table-cell" style="position: relative">
            <div ng-show=" editEverTitleMode" >
                <input  focus-if="editEverTitleMode" select-text-if="editEverTitleMode"  ng-click="$event.stopPropagation();" class="form-control has-right-two-icons edit-chart-title-input" ng-model="newEverTitle" ng-change="newEverTitleChange(newEverTitle)"
                        ng-enter="editEverTitle()"  ng-esc="cancelEditEverTitle()"  type="text"
                        placeholder="New title"/>
                <span  class="btn-group top-right-position" style="top:2px; ">
                   <a  class="btn btn-link btn-sm" ng-click="cancelEditEverTitle();"   title="Cancel edit title" ><span class="fa fa-times"></span></a>
                   <a class="btn btn-link btn-sm"  ng-click="editEverTitle();" title="Save title" ><span class="fa fa-check"></span></a>
                </span>
            </div>
          </div>
          <div   class="table-cell" style="position: relative">
                  <a ng-show="!editEverTitleMode" title="Edit title" class="btn btn-link btn-xs" ng-click="setEditEverTitleMode(!editEverTitleMode);"><i class="fa fa-pencil"></i></a>
                  <a class="btn btn-link btn-xs" title="Add item below" ng-click="setActiveDateRangeItem(datePartitionDto.dateRangeItemDtos[0]);createNewPoint()"><i class="fa fa-plus"></i></a>
          </div>
        </div>
        <div ng-repeat="dateRangeItem in datePartitionDto.dateRangeItemDtos  " ng-if="shouldBe($index,$last)" ng-class="{active:dateRangeItem==activeDateRangeItem }" ng-click="setActiveDateRangeItem(dateRangeItem)" style="position: relative;line-height: 37px;padding: 0 10px" >
          <date-relative-absolute-selector date-range-item="dateRangeItem" item-title="dateRangeItem.name" date-range-point="dateRangeItem.start" on-delete-point="deletePoint" on-point-change="pointChange" on-validity-change="onRangeItemValidityChange" on-point-title-change="pointTitleChange"  disable-title-edit-mode="$last">
            <a class="btn btn-link btn-xs" title="Add item below"  ng-click="setActiveDateRangeItem(dateRangeItem);createNewPoint()"><i class="fa fa-plus"></i></a>
          </date-relative-absolute-selector>

        </div>


          <div style="margin: 20px 0;">
            <button class="btn btn-flat btn-sm" ng-click="createNewPoint()">Add item</button>
          </div>


     </form>
    </div>
    <div ng-show="activeTab=='advanced'" class="col-sm-8 ">
      <form class="form-horizontal"  role="form">
        <div class="form-group" style="position: relative;">
            <a  ng-click="toggleStartFromEver();" style="margin-left: 95px;line-height: 27px;"> <span ng-show="isStartFromEver()" ><i class="fa fa-toggle-on"></i> Start from ever</span><span ng-show="!isStartFromEver()"><i class="fa fa-toggle-off"></i>  Do not Start from ever</span></a>
        </div>
        <div class="form-group">

            <a  ng-click="toggleUpToToday();" style="margin-left: 95px;line-height: 27px;"> <span ng-show="isUpToToday()" ><i class="fa fa-toggle-on"></i> Today - ON</span><span ng-show="!isUpToToday()"><i class="fa fa-toggle-off"></i> Today - OFF</span></a>

        </div>

      </form>
    </div>
  </div>
</div>
<div style="clear: both"></div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary pull-left"  ng-show="editMode" ng-click="delete()"  >Delete</button>
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
