
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <div  style="margin: 0 35px;">
        <form class="form-horizontal  col-md-12" name="nameForm" role="form"  >

          <div class="form-group " style="position:relative;">
        <label  for="name">Name:</label>
        <div class="row" >
          <div class="col-md-8">
            <span class="error top-right-position"  ng-show="nameForm.name.$error.required" >*</span>
            <input  ng-click="$event.stopPropagation();"  id="name" name="name" required class="block form-control" ng-model="dateRangeDto.name"
                    type="text"
                    placeholder=""/>
          </div>
        </div>
      </div>
          <div class="clearfix"></div>
      </form>
      <form class="form-horizontal  col-md-12" name="myForm" role="form"  >

        <div ng-if="!onePointMode&&startDateReadOnlyMode" class="row" style="margin-bottom: 15px;">
          <label>Start date: </label>
          <span>{{startSummaryText()}}</span>
        </div>
        <div role="pick a from" ng-show="!onePointMode&&!startDateReadOnlyMode"  class="form-group  "  style="min-height: 100px;" >
          <label>Start date:</label>
          <span>{{startSummaryText()}}</span>
          <div class="row1 radio-group2">
            <div  role="relative start" class="col-md-5">
              <label><input type="radio" ng-model="isStartAbsoluteRadioChecked" ng-value="false" ng-change="onStartAbsoluteRadioCheckedChange()">
               <span>Relative</span>
              </label>
              <span  ng-show="!isStartAbsoluteRadioChecked" role="change date resolution" style="position: relative">
                 <span class="error pull-right" style="margin-right: 16px;" ng-show="myForm.inputStartRelativeStep.$error.required" style="right:-13px;">*</span>
                 <div class="btn-group">

                  <div role="data entries # ddl" class="btn-group dropdown" >
                    <button class="btn btn-flat btn-sm dropdown-toggle noFixPosition" data-toggle="dropdown"  style="min-width: 90px;" >
                      <span ng-show="dateRangeDto.start.relativePeriod" >{{dateRangeDto.start.relativePeriod|translate }}</span>
                      <span ng-show="!dateRangeDto.start.relativePeriod" >{{'Ever'|translate }}</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >
                      <li ng-repeat="period in relativeTimePeriodOptions"><a  ng-click="changeStartRelativePeriod(period);">{{period|translate}}</a></li>
                      <li><a  ng-click="changeStartRelativePeriod(null);">{{'Ever'|translate}}</a></li>
                    </ul>
                  </div>
                  <input class="btn btn-flat btn-sm " style="width: 55px;" ng-disabled="!dateRangeDto.start.relativePeriod" ng-required="isStartTimeRelative()&&dateRangeDto.start.relativePeriod&&!startDateReadOnlyMode&&!onePointMode" title="Resolution step" ng-maxlength="5" min="1"
                         ng-blu1r="changeStartRelativeStep(inputRelativeStep)" name="inputStartRelativeStep" id="inputStartRelativeStep" ng-model="dateRangeDto.start.relativePeriodAmount"  type="number"
                         ng-enter1="changeStartRelativeStep(inputRelativeStep);" ng-change="relativeStepChanged();" />

                </div>

              </span>

            </div>
            <div  role="absolute start" class="col-md-5">
               <label><input type="radio" ng-model="isStartAbsoluteRadioChecked" ng-value="true" ng-change="onStartAbsoluteRadioCheckedChange()"> <span>Specific</span>
               </label>
              <div ng-show="isStartAbsoluteRadioChecked" style="position: relative">
                <span class="error pull-right" style="margin-left: 16px;" ng-show="myForm.startDate.$error.required||myForm.startDate.$invalid" >*</span>
                <div class="input-group datepicker"  style="position: relative">

                  <input type="text" class="form-control " uib-datepicker-popup="{{dateFormat}}" ng-required="isStartTimeAbsolute()"  ng-model="startDate" is-open="startopened" datepicker-options="datePickerOptions" ng-change="dateChanged()"
                          close-text="Close" ng-focus="startopened=true" placehoder="{{dateFormat}}" id="startDate" name="startDate"  />

                  <span class="input-group-btn">
                    <button type="button" class="btn btn-flat" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
             </div>
            <!--<div class="col-md-3">-->
                <!--<label><input type="radio" ng-model="dateRangeDto.start.type" ng-value="null"> <span>Ever</span></label>-->
            <!--</div>-->
          </div>
        </div>

        <div role="pick a to" class="form-group  "  style="min-height: 100px;" >
          <div ng-if="onePointMode">  <label><input type="checkbox" ng-model="ever" ng-value="true" ng-change="setFromEver(ever)"> From beginning of time</label></div>
          <!--<label ng-if="onePointMode">Set oldest date:</label>-->
          <label ng-if="!onePointMode||(onePointMode && ever)">End date:</label>
          <span  ng-if="!onePointMode||(onePointMode && ever)">{{endSummaryText()}}</span>
          <div class="row1 radio-group2">
            <div role="relative end" class="col-md-5">
              <label><input type="radio" ng-model="isEndAbsoluteRadioChecked" ng-value="false" ng-change="onEndAbsoluteRadioCheckedChange()">
                <span>Relative</span>
              </label>
              <span  ng-show="!isEndAbsoluteRadioChecked" role="change date resolution" >
                   <span class="error pull-right"  ng-show=" myForm.inputEndRelativeStep.$error.required" style="margin-right: 16px;">*</span>
                <div class="btn-group">
                  <div role="data entries # ddl" class="btn-group dropdown" >
                    <button class="btn btn-flat btn-sm dropdown-toggle noFixPosition" data-toggle="dropdown" style="min-width: 90px;" >
                      <span ng-show="!dateRangeDto.end.relativePeriod" >{{'Today'|translate }}</span>
                      <span ng-show="dateRangeDto.end.relativePeriod">{{dateRangeDto.end.relativePeriod|translate }}</span>

                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >
                      <li><a  ng-click="changeEndRelativePeriod(null);" >{{'Today'|translate}}</a></li>
                      <li ng-repeat="period in relativeTimePeriodOptions"><a  ng-click="changeEndRelativePeriod(period);">{{period|translate}}</a></li>

                    </ul>
                  </div>
                  <input class="btn btn-flat btn-sm " style="width: 55px;" ng-disabled="!dateRangeDto.end.relativePeriod"  ng-required="isEndTimeRelative()&&dateRangeDto.end.relativePeriod" title="Resolution step" ng-maxlength="5" min="1"
                         ng-blur1="changeEndRelativeStep(inputEndRelativeStep)" ng-model="dateRangeDto.end.relativePeriodAmount" id="inputEndRelativeStep" name="inputEndRelativeStep" type="number" ng-enter1="changeEndRelativeStep(inputEndRelativeStep);"
                         ng-change="relativeStepChanged();" />

                </div>
              </span>

            </div>
            <div role="absolute end" class="col-md-5">
              <label><input type="radio" ng-model="isEndAbsoluteRadioChecked" ng-value="true" ng-change="onEndAbsoluteRadioCheckedChange()"> <span>Specific</span>
              </label>
              <span class="error pull-right " ng-show=" myForm.endDate.$error.required||myForm.endDate.$invalid" style="margin-left: 16px;">*</span>
              <div ng-show="isEndAbsoluteRadioChecked">

                <div class="input-group datepicker"  style="position: relative">
                 <input type="text" class="form-control " uib-datepicker-popup="{{dateFormat}}" ng-required="isEndTimeAbsolute()"  ng-model="endDate" is-open="endopened" datepicker-options="datePickerOptions" ng-change="dateChanged()"
                         close-text="Close" ng-focus="endopened=true" placehoder="{{dateFormat}}" id="endDate" name="endDate" alt-input-formats="altInputFormats"/>

                  <span class="input-group-btn">
                    <button type="button" class="btn btn-flat" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>

           </div>

        </div>
        <!-- div ng-show="!onePointMode&&enableInvertRange" role="invert range checkbox" class="form-group">
          <div class=" col-sm-5">
            <label><input type="checkbox" ng-model="invertRange" ng-value="true"> Invert range</label>
          </div>
        </div -->

        <div role="validation message"   style="height:30px;">
          <div ng-show="myForm.$valid">{{summaryText()}}</div>
          <div class="error" ng-show="  myForm.$error.startLessThenToday" >'Start date' should be earlier or equals to today.</div>
          <div class="error" ng-show=" (myForm.$error.endLessThenToday && !myForm.endDate.$error.required&&!myForm.endDate.$invalid) " >'End date' should be earlier or equals to today.</div>
          <div class="error " ng-show=" myForm.$error.endDatehigher&&!myForm.$error.endLessThenToday" >'End date' should be later than start date.</div>

        </div>




      </form>
      <div class="clearfix"></div>
  </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>

</div>
