
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
  Name generation details for group: {{name}}
  </h4>
</div>
<div class="modal-body group-naming-tokens">
  <div role="token data" class="row  panels-container" >
    <div class="panel-resizable ">
      <div class="panel-header clearfix ibox-title" >
          <div class="header-item">
         <h3>  New name: {{newName}}</h3>
         </div>
          <div class="header-item pull-right ">
            <a class="btn btn-link" ng-click="exportToExcel()"> <i  class="fa fa-download "></i></a>
          </div>
      </div>
       <div class="col-sm-12">
        <h4>Titles Tokens <span>{{data.titleBasedTokens.length}}</span></h4>
        <group-naming-token-data-grid style="max-height: 120px;" data="data.titleBasedTokens">
        </group-naming-token-data-grid>
      </div>
      <div class="col-sm-12">
        <h4>Filenames Tokens <span>{{data.filenameBasedTokens.length}}</span></h4>
        <group-naming-token-data-grid style="max-height: 120px;" data="data.filenameBasedTokens">
        </group-naming-token-data-grid>
      </div>
      <div class="col-sm-12">
        <h4>Directories Tokens <span>{{data.parentDirBasedTokens.length}}</span></h4>
        <group-naming-token-data-grid style="max-height: 120px;" data="data.parentDirBasedTokens">
        </group-naming-token-data-grid>
      </div>
      <div class="col-sm-12">
        <h4>2nd-level Directories Tokens<span>{{data.grandparentDirBasedTokens.length}}</span></h4>
        <group-naming-token-data-grid style="max-height: 120px;" data="data.grandparentDirBasedTokens">
        </group-naming-token-data-grid>
      </div>
      <div class="col-sm-12">
        <h4>Combined Tokens List<span>{{data.combinedListTokens.length}}</span></h4>
        <group-naming-token-data-grid style="max-height: 120px;" data="data.combinedListTokens">
        </group-naming-token-data-grid>
      </div>
<!--
      <div class="col-sm-12">
        <h4>Top Token<span>{{data.topToken?'1':0}}</span></h4>
        <group-naming-token-data-grid style="max-height: 120px;" data="[data.topToken]">
        </group-naming-token-data-grid>
      </div>
-->
    </div>
  </div>
  <div role="factors" class="group-naming-factors">
    <h4>Factors:</h4>
    <form class="form-inline" role="form">
      <ol>
      <li class="form-group">
        <label for="titleTokenFactorTfidf">Tf-Idf:</label>
        <input type="number" class="form-control" name="titleTokenFactorTfidf" ng-model="formData.titleTokenFactorTfidf" id="titleTokenFactorTfidf" >
      </li>
      <li class="form-group">
        <label for="titleTokenFactorTf">Tf:</label>
        <input type="number" class="form-control" name="titleTokenFactorTf" ng-model="formData.titleTokenFactorTf" id="titleTokenFactorTf" >
      </li>
      <li class="form-group">
        <label for="titleTokenFactorLength">Length factor:</label>
        <input type="number" class="form-control" name="titleTokenFactorLength" ng-model="formData.titleTokenFactorLength" id="titleTokenFactorLength" >
      </li>
      <li class="form-group">
        <label for="titleTokenFactorNumWords">Num Words factor:</label>
        <input type="number" class="form-control"  name="titleTokenFactorNumWords" ng-model="formData.titleTokenFactorNumWords" id="titleTokenFactorNumWords" >
      </li>
      <li class="form-group">
        <label for="titleBoostFactor">Title Boost:</label>
        <input type="number" class="form-control"  name="titleBoostFactor" ng-model="formData.titleBoostFactor" id="titleBoostFactor" >
      </li>
      <li class="form-group">
        <label for="titleScoreFactor">Title Score:</label>
        <input type="number" class="form-control"  name="titleScoreFactor" ng-model="formData.titleScoreFactor" id="titleScoreFactor" >
      </li>
      <li class="form-group">
        <label for="titleOrderFactor">Title Order:</label>
        <input type="number" class="form-control"  name="titleOrderFactor" ng-model="formData.titleOrderFactor" id="titleOrderFactor" >
      </li>

      <li class="form-group">
        <label for="optimalTitleLength">Optimal T-Len:</label>
        <input type="number" class="form-control"  name="optimalTitleLength" ng-model="formData.optimalTitleLength" id="optimalTitleLength" >
      </li>
      <li class="form-group">
        <label for="minRatedTitleLength">Min Rated T-Len:</label>
        <input type="number" class="form-control" name="minRatedTitleLength" ng-model="formData.minRatedTitleLength" id="minRatedTitleLength" >
      </li>
      <li class="form-group">
        <label for="maxRatedTitleLength">Max Rated T-Len:</label>
        <input type="number" class="form-control" name="maxRatedTitleLength" ng-model="formData.maxRatedTitleLength" id="maxRatedTitleLength" >
      </li>
      <li class="form-group">
        <label for="topTitlesBoostValue">Top Titles Boost:</label>
        <input type="number" class="form-control" name="topTitlesBoostValue" ng-model="formData.topTitlesBoostValue" id="topTitlesBoostValue" >
      </li>
      <li class="form-group">
        <label for="fileNameBoostValue">Filename Boost:</label>
        <input type="number" class="form-control" name="fileNameBoostValue" ng-model="formData.fileNameBoostValue" id="fileNameBoostValue" >
      </li>
      <li class="form-group">
        <label for="parentDirBoostValue">Directory Boost:</label>
        <input type="number" class="form-control" name="parentDirBoostValue" ng-model="formData.parentDirBoostValue" id="parentDirBoostValue" >
      </li>
      <li class="form-group">
        <label for="grandParentDirBoostValue">2nd-level Dir Boost:</label>
        <input type="number" class="form-control" name="grandParentDirBoostValue" ng-model="formData.grandParentDirBoostValue" id="grandParentDirBoostValue" >
      </li>
    </ol>
    </form>
  </div >

</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Rerun</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>