
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body tabbed-dialog1">


  <div  class="col-sm-10 ">
    <form class="form-horizontal" name="groupForm" role="form">
      <div class="form-group1" style="position: relative;"  >
        <label for="name">File group name:</label>
        <span class="error top-right-position" ng-show=" groupForm.name.$error.required" style="right: 20px;" >*</span>
        <input type="text" class="form-control" id="name" name="name" ng-model="newGroupName" placeholder="New file group name"  required>
      </div>
      <div style="margin-top: 20px;height: 175px;position: relative;">
        <span class="error top-right-position" ng-show="!minGroupsAreSelected()" style="right: 20px;">*</span>
        <input-param options="true" single-selection="false"  on-items-selected="onGroupItemsSelected" action-name="{{'Join'}}"
                     class-type="marked file group"  create-new-selected-item-from-text1="" leave-text-after-selection="false"
                     saved-selected-items="initialGroupValues" load-option-items="loadGroupOptionItems" show-checkboxes="true" no-create-new-object-button="true"
                     create-new-option-from-item="createGroupParamOption"></input-param>
      </div>
      <div style="margin-top: 20px;"><label>Total files:</label> {{selectedGroupsTotalNumberOfFiles}}</div>
    </form>
  </div>

</div>
<div class="clearfix"></div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()">Create</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
