
<div class="modal-header dialog-header-confirm " draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    <i ng-if="filterMode" class="fa fa-filter"></i> &nbsp; {{title}}
  </h4>
</div>
<div class="modal-body" style="padding: 10px;position: relative">
    <a class="btn btn-flat btn-xs" style="position: absolute;left:45%; top:22px;" ng-show="openManageAssociationPage"
       ng-click="openManageAssociationPage(bizList.id,changeBizListSelectedItem);">Manage ...</a>
    <biz-list-manage biz-list-selected-item-id="selectedId" biz-list-selected-item-name="selectedName" edit-mode="false" biz-list-type="bizListType" biz-list="bizList"
                     change-biz-list-selected-item="changeBizListSelectedItem"  template-view="!changeGridView" change-show-only-active-items="changeShowOnlyActiveItems"></biz-list-manage>
</div>
<div class="modal-footer" >
  <button type="button" ng-if="!filterMode" ng-show="allowSelect" class="btn btn-primary" ng-click="save()" >Assign & Close</button>
  <button type="button" ng-if="filterMode" ng-show="allowSelect" class="btn btn-primary" ng-click="save()" >  <i class="fa fa-filter"></i> &nbsp;Filter & Close</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
