
<div class="modal-header dialog-header-confirm " draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    <i ng-if="filterMode" class="fa fa-filter"></i> &nbsp; {{title}}
  </h4>
</div>
<div class="modal-body" style="padding: 10px;">

  <manage-doc-types  show-tags="false" doc-type-select-item="selected" edit-mode="editMode" change-doc-type-selected-item-id="changeDocTypeSelectedItemId"></manage-doc-types>
</div>
<div class="modal-footer" >
  <button type="button" ng-if="!filterMode" ng-show="allowSelect" class="btn btn-primary" ng-click="save()" >Assign & Close</button>
  <button type="button" ng-if="filterMode" ng-show="allowSelect" class="btn btn-primary" ng-click="save()" >  <i class="fa fa-filter"></i> &nbsp;Filter & Close</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
