
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
   {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal col-md-10" name="myForm" role="form">
    <div class="form-group">
      <label class="control-label col-sm-4" for="type">Type:</label>
      <div class="col-sm-8" style="margin-top: 8px;">
        <span class="tag-{{getTagTypeStyleId(selectedTagType)}}"><i class="fa fa-flag-checkered"></i></span>
        &nbsp {{selectedTagType.name}}
        <!--<div class="btn-group dropdown">-->
        <!--<button class="btn btn-dropdown dropdown-toggle  noFixPosition" id="type" data-toggle="dropdown" disabled="true">-->
        <!--<span class="tag-{{selectedTagType.id}}"><i class="fa fa-flag-checkered"></i></span>-->
        <!--&nbsp {{selectedTagType.name}}-->
        <!--<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu" role="menu" aria-labelledby="split-button" style="overflow-y: scroll;height: 320px;" >-->
        <!--<li ng-repeat="tagType in tagTypes" ng-click="setSelectedTagType(tagType);"><a>-->
        <!--<span class="tag-{{tagType.id}}"><i class="fa fa-flag-checkered"></i></span>-->
        <!--&nbsp {{tagType.name}}</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Name:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.name.$error.required" >*</span>
        <input  ng-click="$event.stopPropagation();" focus-if1="initiated1"  autofocus="true" id="name" name="name" class="block form-control" ng-model="inputText"
                ng-enter="save()" type="text" required
                placeholder="Tag name"/>

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="desc">Description:</label>
      <div class="col-sm-8">
        <textarea   id="desc" class="block form-control" ng-model="description" />
      </div>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-if="!editMode" ng-click="save(true)" >Save & Create another</button>
  <button type="button" class="btn " ng-class="{'btn-primary':editMode,'btn-default':!editMode}" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
