
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal col-md-10" name="myForm" role="form">


    <div class="form-group">
      <label class="control-label col-sm-4" for="name">Name:</label>
      <div class="col-sm-8" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.name.$error.required" >*</span>
        <input  ng-click="$event.stopPropagation();" focus-if1="initiated" autofocus="true" id="name" name="name" class="block form-control" ng-model="inputText"
                ng-enter="save()" type="text" required
                placeholder="Tag type name"/>

      </div>
    </div>
    <div class="form-group" >
      <div class="col-sm-8 col-sm-offset-4">
        <div class="checkbox" >
          <label ><input type="checkbox" ng-disabled="editMode"  ng-model="singleValueTag" title="Tag type can be associated with single value of this type" >Single value type</label>

        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-4">
        <div class="checkbox">
          <label ><input type="checkbox"  ng-model="sensitive" title="Tag type represents sensitive data" >Sensitive data</label>

        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="desc">Description:</label>
      <div class="col-sm-8">
        <textarea   id="desc" class="block form-control" ng-model="description" ></textarea>
      </div>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
