<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal" name="myForm" role="form">
     <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
       <div class="col-sm-8" style="position: relative">
         <span class="error top-right-position" ng-show=" myForm.name.$error.required" style="right: -20px;">*</span>
         <input  ng-click="$event.stopPropagation();" focus-if="initiated" id="name" name="name" class="block form-control" ng-model="savedFilter.name" ng-enter="save()" type="text" required placeholder="Filter name" style="min-width: 395px;"/>
      </div>
    </div>
    <div class="form-inline" role="form" ng-show="isView" style="margin-left: -11px;">
      <label class="control-label col-sm-2" for="name">Left:</label>
      <div class="col-sm-4" >
        <select class="form-control" ng-model="leftOptionSelected" ng-options="leftOption as leftOption.title for leftOption in lefts | orderBy: 'title'" ng-change="leftOptionSelectedChanged()"></select>
      </div>
      <label class="control-label col-sm-1" for="name">Right:</label>
      <div class="col-sm-4" >
        <select class="form-control" ng-model="rightOptionSelected">
          <option ng-class="{'disabled':rightOption.disabled==true}" ng-disabled="rightOption.disabled==true" ng-repeat="rightOption in rights | orderBy: 'title'" value="rightOption" ng-selected="rightOption == rightOptionSelected">{{rightOption.title}}</option>
        </select>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Add</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
