<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    <i ng-if="filterMode" class="fa fa-filter"></i> &nbsp; {{title}}
  </h4>
</div>
<div class="modal-body" style="padding: 10px;">
  <form name="generalForm" role="form">
    <div class="row">
      <div class="col-sm-11">
        <label class="control-label" style="text-align: left">Select Matter:</label>
        <input-param name="matter" id="matter" options="true" single-selection="true" on-items-selected="onMatterSelected" action-name="{{'matter'}}" class-type="matter" create-new-selected-item-from-text1=""
                     leave-text-after-selection="true" no-create-new-object-button="true" saved-selected-items="matterSavedSelectedItems" load-option-items="loadMatterOptionItems" required="true"></input-param>
        <span class="error top-right-position" ng-show="generalForm.matter.$error.required" >*</span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer" >
  <button type="button" ng-if="!filterMode" class="btn btn-primary" ng-click="save()">Select & Close</button>
  <button type="button" ng-if="filterMode" class="btn btn-primary" ng-click="save()"><i class="fa fa-filter"></i>&nbsp;Filter & Close</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
