
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal" name="myForm" role="form">
    <h4>Refine group {{originalGroupName}}</h4>
    <p>Divide tokens by , . Set tokens according to priority</p>
    <div class="form-group">
      <!--<label class="control-label col-sm-2" for="name">Name:</label>-->
      <div class="col-sm-10" style="position: relative">
        <span title="Minimum 3 chars for token" class="error top-right-position" ng-show=" myForm.name.$error.required || myForm.name.$error.pattern || incorrectTokens " >*</span>
        <input  pattern=".{3,}" g-click="$event.stopPropagation();" ng-change="checkIncorrectToken()" focus-if="initiated" id="name" name="name" class="block form-control" ng-model="inputText"
                ng-enter="save()" type="text" required
                placeholder="Tokens"/>
        <div style="font-size: 12px;height: 15px" class="error">
          <span ng-show=" myForm.name.$error.required || myForm.name.$error.pattern || incorrectTokens ">Minimum 3 charts for search! </span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" ng-if="editMode" class="btn btn-default pull-left" ng-click="removeAll()">Remove all</button>

</div>
