
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body tabbed-dialog row" >
    <ul class="nav nav-tabs">
        <li> <a class="btn btn-sm"  ng-click="active='actionType'" ng-class="{'btn-flat':active=='actionType'}">Action type</a></li>
        <li> <a class="btn  btn-sm " ng-click="active='actionParams'" ng-class="{'btn-flat':active=='actionParams'}">Parameters <span class="error " ng-visible=" !actionParamValid()" >*</span></a></li>
        <li  ng-show="isFilePropertyUpdateActionSelected() "> <a class="btn  btn-sm " ng-click="active='operation'" ng-class="{'btn-flat':active=='operation'}">Operation <span class="error " ng-visible=" !operationValid()" >*</span></a></li>
      </ul>
    <div  ng-show="active=='actionType'"  class="col-sm-8 ">

      <form class="form-horizontal " role="form">
        <div class="form-group">
          <label for="name">Action type:</label>
          <select class='form-control' ng-model='actionOptionSelected'
                  ng-options='actionOption as actionOption | translate for actionOption in actions '></select>
        </div>
        <div class="form-group">
          <div >
            <div class="checkbox">
              <label ng-class="{disabled:!allowForSelectedItems}"><input type="checkbox"  ng-disabled="!allowForSelectedItems" ng-model="applyToSelectedItemsOnly" >Apply to selected items only</label>
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <h5 >This operation will effect {{!applyToSelectedItemsOnly?effectedItemsAll:effectedItemsSelected}} files.</h5>
        </div>
      </form>
    </div>
    <div ng-show="active=='actionParams'"  class="col-sm-8">
      <div ng-show="!actionOptionSelected ">Set action type first</div>
      <form ng-show="actionOptionSelected " name="paramForm" class="form-horizontal" role="form">
        <div class="form-group" ng-show="isServerTargetFolderActionSelected()">
          <label for="path">{{actionOptionSelected|translate}} target:</label>
          <div class="right-btn-outside">
            <a class="btn btn-flat"  ng-click="openBrowseServerFoldersDialog()">Browse</a>
            <div >
                <input  ng-click="$event.stopPropagation();" focus-if="initiated" id="path" name="path" class="block form-control has-right-icon" ng-model="targetParam"
                      ng-enter1="start()" type="text"
                      placeholder="Target path"/>
            </div>

          </div>
        </div>
        <div  ng-show="isFilePropertyUpdateActionSelected()" style="margin-top: -15px;margin-bottom: -25px;">
          <div class="form-group">
          <label for="path">{{actionOptionSelected|translate}} temp folder:</label>
          <div class="right-btn-outside">
            <a class="btn btn-flat"  ng-click="openBrowseServerFoldersDialog()">Browse</a>
            <div >
              <input  ng-click="$event.stopPropagation();" focus-if="initiated" id="tempFolder" name="tempFolder" class="block form-control has-right-icon" ng-model="targetParam"
                      ng-enter1="start()" type="text"
                      placeholder1="Type new path for temp folder..."/>
            </div>
          </div>
          </div>
          <div class="form-group">
              <label  for="param">Property name:</label>

              <input  ng-click="$event.stopPropagation();"  id="propertyName" class="block form-control" ng-model="propertyName"
                     type="text"
                      placeholder="Property name"/>
          </div>
          <div class="form-group">
            <label  for="param">Property value:</label>

            <input  ng-click="$event.stopPropagation();"  id="propertyValue" class="block form-control" ng-model="propertyValue"
                    type="text"
                    placeholder1="Type property value ..."/>
          </div>

        </div>
        <div class="form-group" ng-show="isPermissionActionSelected()">

            <input-param options="false"  on-items-selected="onAclItemsSelected" action-name="{{actionOptionSelected.toString()}}"
                             class-type="user" load-option-items="loadAclsOptionItems" create-new-selected-item-from-text="createNewAclSelectedItemFromText" show-checkboxes="true"
                            import-list-from-entity-filter-data-fn="autoImportParamsFromFilterData"  import-auto-entity-1="autoImportEntity1" import-auto-entity2="autoImportEntity2"
                            saved-selected-items="aclSavedSelectedItems"  initiate-view-all-dialog-open-state="initiateViewAllDialogOpenState" ></input-param>



        </div>
        <div class="form-group" ng-show="!isPermissionActionSelected()&&!isServerTargetFolderActionSelected()&&!isFilePropertyUpdateActionSelected()">
          <label  for="param">{{actionOptionSelected|translate}} parameters:</label>

          <input  ng-click="$event.stopPropagation();" focus-if="initiated" id="param" class="block form-control" ng-model="inputParamsText"
                  ng-enter1="start()" type="text"
                  placeholder1="Type param value..."/>
        </div>
      </form>
    </div>
    <div ng-show="active=='operation'"  class="col-sm-8">
      <div ng-show="!actionOptionSelected ">Set action type first</div>
      <form ng-show="actionOptionSelected " name="operationForm" class="form-horizontal" role="form">
        <div  ng-show="isFilePropertyUpdateActionSelected()">

          <div class="form-group">
            <label class="control-label col-sm-3" >Operation:</label>
            <div class="col-sm-8 radio-group2" >
              <label ng-repeat="operationOption in operations" >
                <input type="radio"   ng-model="$parent.operation"  ng-value="operationOption" >
                <span>{{operationOption|translate}}</span>
              </label>
            </div>
          </div>

        </div>
      </form>
    </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="start()" >Start</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>

