
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    Immediate action progress
  </h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form" style="margin-bottom: 30px;">
    <div >
      Creating script started.<br/><br/>Script can be found at:<br/>{{scriptFolders}}
      <br/><br/>
      Leave this dialog open if you want to download the scripts to your computer.
    </div>

  </form>
  <span   ng-show="actionInProgress" style="margin: 40px;"><i class="fa fa-spin fa-cog"></i> Preparing...</span>
</div>
<div class="modal-footer" >

  <a  class="btn btn-primary pull-left"  ng-class="{'disabled':actionInProgress}" title='Open file' href="{{downLoadUrl}}" target='_top'><i class='fa fa-download ng-hide' ></i> Download script files</a>

  <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>

</div>
