audit-module {
  audit-grid-header {
    width:100%;

    .grid-header {

      .item {

        &.auditType {
          flex: 0 1 150px;
        }
        &.action {
          flex: 0 1 150px;
        }
        &.timestamp {
          flex: 0 1 150px;
        }
        &.message {
          flex: 1  150px; //flex-grow: 1;flex-basis: 150px;
     //     min-width: 150px;
        }
        &.username {
          flex: 0 1 150px;
        }
      }
    }
  }
}

//@media screen and (max-width: 1100px) {
//  audit-module {
//    audit-grid-header {
//      .grid-header {
//        .item {
//          &.auditType {
//            min-width: 120px;
//          }
//          &.action {
//            min-width: 120px;
//          }
//          &.timestamp {
//            min-width: 120px;
//          }
//          &.username {
//            min-width: 120px;
//          }
//        }
//      }
//    }
//  }
//}
