<div class="grid-header grid-header-basic">
  <div class="item auditType" [attr.data-col-name]="'subSystem'" [attr.data-col-sortable]="true">Type</div>
  <div class="item action" [attr.data-col-name]="'action'" [attr.data-col-sortable]="true">Action</div>
  <div class="item timestamp" [attr.data-col-name]="'timeStampMs'"  [attr.data-col-sortable]="true">Date</div>
  <div class="item message" [attr.data-col-name]="'message'" [attr.data-col-sortable]="true">Details</div>
  <div class="item username" [attr.data-col-name]="'username'"  [attr.data-col-sortable]="true">Username</div>
</div>

