<div class="flex-container-col ">

  <div class="header-panel">
    <div class="header-item" style="margin-top: 20px;margin-bottom: 10px;" >
          <span  *ngIf="bizListSummary" class="biz-list-summary">
            <span class="da-flat-dashboard-item">
            <span  class="active-button"  >
                <span *ngIf="bizListSummary.schedulingFlagOn" (click)="setBizListActive(false)"><span class="fa fa-toggle-on icon-item " ></span></span>
                <span *ngIf="!bizListSummary.schedulingFlagOn"  (click)="setBizListActive(true)" ><span class="fa fa-toggle-off icon-item" ></span></span>
            </span>
             {{ 'BIZ_LIST_MON.SCAN_EVERY_MSG' | translate }}{{  bizListSummary.everyInMillis | period  }}
          </span>

           <span class="da-flat-dashboard-item" *ngIf="bizListSummary.lastRunTime">
               {{ 'BIZ_LIST_MON.LAST_SCAN_MSG' | translate }}{{  bizListSummary.lastRunTime | date : CommonConfig.dateTimeFormat  }}
           </span>


            <span class="da-flat-dashboard-item"  *ngIf="bizListSummary.schedulingFlagOn">
              {{ 'BIZ_LIST_MON.NEXT_SCAN_MSG' | translate }}{{  bizListSummary.nextRunTime | date :CommonConfig.dateTimeFormat  }}
            </span>

        </span>
    </div>

    <div class="header-line" >
      <div class="left-panel">
        <div class="header-item"  >
              <h4>
                <span class="breadcrumb-current-step" >
                  {{ 'BIZ_LIST_MON.MAIN_TITLE' | translate}}
                </span>
                <i (click)="loadData(true)" class="header-refresh-btn fa fa-refresh"></i>
              </h4>
        </div>

        <div class="toolbar-spacer"></div>

        <div class="header-item"  >
                  <span  class="btn btn-xs" [ngClass]="{'disabled' : isRunning }"  title="{{ (isFinished ? 'BIZ_LIST_MON.TITLE.RUN_ALL' : 'BIZ_LIST_MON.TITLE.RESUME_ALL') | translate }}" (click)="!isRunning  && runAll()">
                    <da-icon href="play"></da-icon>
                  </span>
          <span class="btn btn-xs" [ngClass]="{'disabled' : !isRunning}"  title="{{ 'BIZ_LIST_MON.TITLE.PAUSE_ALL' | translate  }}" (click)="isRunning && pauseAll()">
                    <da-icon href="pause"></da-icon>
                  </span>
          <span class="btn btn-xs"  *ngIf="isTechSupport" [ngClass]="{'disabled' : !isPaused}" title="Stop all" (click)="isPaused && stopAll()">
                    <da-icon href="stop"></da-icon>
                  </span>
          <!-- span  class="icon-button more"  [ngClass]="{'disabled' : !allCanMore}"   title="More scan options"  ><i class="fa fa-ellipsis-h"  (click)="allCanMore && moreOptions()"></i></span -->
        </div>
      </div>
      <div class="right-panel">

        <div class="header-item"  >
          <button type="button" class="da-top-line-button light right-space" (click)="addBizList()">
            <i class="fa fa-plus" style="margin-right: 5px"></i>
            Add
          </button>
        </div>

        <div class="header-item"  >
          <da-drop-down [openOnLeft]="true" [enabled]="true" [dropDownItems]="exportDropDownItems">
            <span  class="icon-button download"   title="Export options" ><i class="fa fa-download"></i></span>
          </da-drop-down>
        </div>

        <!-- div class="header-item"  >
          <da-drop-down [openOnLeft]="true" [enabled]="true" [dropDownItems]="bLMonitorDropDownItems">
            <span class="icon-button options"><i class="fa fa-ellipsis-v" title="Additional options"></i></span>
          </da-drop-down>
        </div -->


      </div>
    </div>
  </div>
  <div class="main-panel dashboard-item-simple">
      <loader *ngIf="loading"  [show]="loading"></loader>
      <!--<div class="da-main-div">-->
      <!--<div class="da-main-div-tree-div">-->

      <!--<div class="da-item-body" style="overflow-y: auto">-->
        <!--<div style="right: 0;position: absolute;left: 0;top: 0;bottom: 0;">-->

          <tree-grid
            [treeGridData]="currentBLMonitorData"
            [hostComponentParams]="treeParameters"
            [treeGridEvents]="treeGridEvents"
            [treeGridConfig]="treeConfig"
            [selectionMode]="TreeGridSelectionMode.single"
            [treeGridItemComponent]="BizListMonitorItemGridComponent"
            [treeGridHeaderComponent]="BizListMonitorGridHeaderComponent">
          </tree-grid>
        <!--</div>-->
      <!--</div>-->

  <!--</div>-->
<!--</div>-->
  </div>
</div>
