@import "biz-list-monitor-item-grid/biz-list-monitor-item-grid";
@import "biz-list-monitor-grid-header/biz-list-monitor-grid-header";

biz-list-monitor {
  //.biz-list-summary {
  //  position: relative;
  //  top: 5px;
  //}
  //
  //.active-button {
  //  cursor: pointer;
  //}

  loader {
    .loader-wrapper {
      top : -5px;
    }
  }
}
