
<div class="modal-header modal-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" (click)="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body" style="min-height: 260px;">
  <div  style="margin: 0 35px;">
    <div  style="border-right: #f4f4f4">
      <ul class="nav nav-tabs">
        <li> <a class="btn btn-sm" (click)="setActiveTab('general')" [ngClass]="{'btn-flat':activeTab=='general'}">General <span class="error " *ngIf="myForm && myForm.invalid" >*</span></a></li>
        <li> <a class="btn  btn-sm" (click)="setActiveTab('recurrence')" [ngClass]="{'btn-flat':activeTab=='recurrence'}">Recurrence <span class="error " *ngIf=" !sConfigDisplay.isValid()">*</span></a></li>
      </ul>
    </div>
    <div style="min-height: 20px"></div>
    <div [hidden]="activeTab!='general'" class="col-sm-8 "  >
      <form class="form-horizontal" #myForm="ngForm" name="generalForm" id="generalForm" role="form"  >
        <div class="form-group">
              <div class="checkbox">
              <label ><input type="checkbox"  name="activeChkbox" [(ngModel)]="scheduleGroup.active" >Active</label>
            </div>
        </div>
        <div class="form-group" style="position: relative;" >
          <label for="name">Name:</label>
          <span class="error top-right-position" *ngIf="name.invalid && (name.dirty || name.touched)" >*</span>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="scheduleGroup.name" required minlength="1"   #name="ngModel"   (changed)="autoGeneratedName =false" >
        </div>
        <div class="form-group">
          <label for="desc">Description:</label>
          <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="scheduleGroup.schedulingDescription" (changed)="autoGeneratedDesc =false">
        </div>

      </form>
    </div>
    <div [hidden]="activeTab!='recurrence'"  class="col-sm-12">
      <schedule-config-display #sConfigDisplay [scheduleConfig]="scheduleConfig" [selectedScheduleType]="selectedScheduleType"></schedule-config-display>
    </div>
  </div>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" (click)="save()" >Save</button>
  <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
</div>
