<div class="header-item filter-box-main-div"  ngbDropdown  autoClose="outside" >
  <div class="btn-group dropdown" >
    <button class="btn btn-flat btn-xs no-special-tooltip filter-box-button" title="{{selectedStateTooltip}}"  ngbDropdownToggle>
      <span class="filter-box-selected-state">{{selectedState}}</span>
    </button>
    <ul class="dropdown-menu menu-div"  ngbDropdownMenu >
      <div *ngIf="withSearch" class="search-box">
        <input class="search-input"  [(ngModel)]="searchText">
        <i class="search-icon fa fa-search"></i>
      </div>
      <checkBoxFilter [searchText]="searchText" [filterOptions]="filterOptions" [searchText]="searchText" (filterChanged)="onFilterChanged()">
      </checkBoxFilter>
    </ul>
  </div>
</div>
