filterBox {
  .filter-box-button{
    line-height: 1.2 !important;
  }
  .filter-box-selected-state {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-top: 2px;
  }
  .search-box {
    margin: 5px 0px;
    border: solid 1px #cccccc;
    position: relative;
    width: 100%;
    min-width: 200px;
    display: block;
    height: 30px;
    border-radius: 5px;
  }
  .search-input {
    position: absolute;
    left: 5px;
    right: 30px;
    height: 28px;
    border: none;
    outline: none;
    outline-width: 0px;
  }

  .search-icon {
    position: absolute;
    right: 7px;
    top: 7px;
  }

  .menu-div {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 0px 10px;
  }

  .dropdown-menu {
    max-height: 400px;
    overflow: auto;
  }
}






