<dashboard-item [gridItem]="gridItem" [chartTitle]="caption" >
  <div class="da-item-body-padding">
    <h1 class="no-margins">
      <span title="{{textValue}}">{{textValue}}</span>
      <span *ngIf="valueHtml" [innerHtml]="valueHtml"></span></h1>
      <small *ngIf="subTitle">{{subTitle }}</small>
      <span *ngIf="subTitleHtml"  [innerHtml]="subTitleHtml"></span>
  </div>
</dashboard-item>
