@import "item-grid/pattern-categories-item-grid";
@import "grid-header/pattern-categories-grid-header";
pattern-categories {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 30px;
  left: 210px;
  bottom: 30px;
}



