
<div class="flex-container-col">
  <div class="header-panel">
    <toolbar [title]="'Pattern categories'" [searchBox]="searchBoxConfig" [totalElements]="totalElements" [totalFilteredElements]="filterCount" [settingsActionItems]="settingsActionItems" [exportActionItem]="exportActionItem"></toolbar>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid [treeGridData]="categoryData"
               [localFilterFunction]="localFilterFunction"
               (onFilteredCountChanged)="filterCountChange($event)"
               [inTreeMode]="true"
               [treeGridEvents]="treeGridEvents"
               [hostComponent]="this"
               [keepOpenNodes]="true"
               [initialSortDirection] = "initialSortDirection"
               [initialSortFieldName]="initialSortFieldName"
               [treeGridHeaderComponent]="PatternCategoriesGridHeaderComponent"
               [treeGridItemComponent]="PatternCategoriesItemGridComponent">

    </tree-grid>
  </div>
</div>


