<div class="flex-container-col">
  <div class="header-panel">
    <toolbar [title]="'USER_VIEW_DATA.SAVED_CHARTS.TITLE' | translate" [totalElements]="totalElements" [settingsActionItems]="settingsActionItems" [exportActionItem]="exportActionItem" [searchBox]="searchBoxConfig"></toolbar>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid
               [treeGridData]="savedChartsData"
               [inTreeMode]="false"
               [treeGridEvents]="treeGridEvents"
               [hostComponent]="this"
               [keepOpenNodes]="true"
               [initialSortDirection] = "initialSortDirection"
               [initialSortFieldName]="initialSortFieldName"
               [treeGridHeaderComponent]="SavedUserViewGridHeaderComponent"
               [treeGridItemComponent]="SavedUserViewItemGridComponent"
               [localFilterFunction]="localFilterFunction">
    </tree-grid>
  </div>
</div>
