.add-tagItem-window{
  div {
    max-width: 550px;
  }
}

add-tagItem-dialog {

  .modal-body {
    min-height: 190px !important;
    padding: 25px 0 0 0 !important;
  }

  .add-tagItem-form {
    padding: 5px 0 10px 0;

    label {
      font-weight: bold;
    }

    .form-group {
      display: flex;
      align-items: center;

      .control-label {
        width: 180px;
        justify-content: flex-end;
        display: flex;
        padding-right: 30px;
        margin: 0;
      }

      .tag-type-name {
        padding-left: 10px;
      }
      .control-field {
        width: 290px;
        padding-bottom: 5px;
      }

      .error {
        color: red;
        padding-left: 5px;
      }
    }
  }
}
