<div class="modal-header"  [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel($event)">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <form class="add-tagItem-form form-horizontal" #tagItemForm="ngForm" role="form">
    <div class="form-group">
      <label class="control-label" for="name">Tag:</label>
      <div class="control-field">
        <span class="tag-{{tagTypeStyleId}}"><i class="fa fa-flag-checkered"></i></span>
        <span class="tag-type-name">{{tagTypeName}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name">Name:</label>
      <div class="control-field name-field" >
        <input class="form-control" (click)="$event.stopPropagation();" #tagItemName id="name" name="name"  type="text" [(ngModel)]="inputText" required minlength="1" #name="ngModel" placeholder="Tag name"/>
      </div>
      <div class="error" *ngIf="name.invalid">*</div>
    </div>
    <div class="form-group">
      <label class="control-label" for="desc">Description:</label>
      <div class="control-field">
        <textarea class="form-control" id="desc" name="desc" [(ngModel)]="description" #desc="ngModel" ></textarea>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save($event, true)">Save & Create another</button>
  <button type="button" class="btn btn-default" (click)="save($event)">Save </button>
  <button type="button" class="btn btn-default" (click)="cancel($event)">Cancel</button>
</div>


