<div class="grid-header grid-header-basic">
  <div class="item fieldIcon"></div>
  <div class="item fieldName" [attr.data-col-name]="'name'" [attr.data-col-sortable]="true">Name</div>
  <div class="item fieldPeriod" >Schedule details</div>
  <div class="item fieldActive" [attr.data-col-name]="'active'" [attr.data-col-sortable]="true">Active</div>
  <div class="item fieldType" [attr.data-col-name]="'scheduleType'">Type</div>
  <div class="item fieldDescription">Description</div>
  <div class="item fieldFolders" [attr.data-col-name]="'rootFoldersCount'">Root folders</div>
</div>

