<div class="job-list-div">
  <table  class="job-list-table">
    <tr>
      <td style="width:150px">{{ 'LAST_SCAN.HEADER.NAME' | translate}}</td>
      <td style="width:120px">{{ 'LAST_SCAN.HEADER.STATUS' | translate}}</td>
      <td style="width:100%">{{ 'LAST_SCAN.HEADER.DETAILS' | translate}}</td>
      <td style="width:130px">{{ 'LAST_SCAN.HEADER.START' | translate}}</td>
      <td style="width:130px">{{ 'LAST_SCAN.HEADER.ELAPSED' | translate}}</td>
      <td style="width:120px">{{ 'LAST_SCAN.HEADER.PROGRESS' | translate}}</td>
      <td style="width:80px">{{ 'LAST_SCAN.HEADER.RATE' | translate}}</td>
      <td style="width:100px;position: relative">{{ 'LAST_SCAN.HEADER.ERRORS' | translate}}
        <div class="right-btn-area" >
          <da-drop-down *ngIf="!isExporting"  [openOnLeft]="true" [enabled]="true" [dropDownItems]="exportDropDownItems">
            <span class="fa fa-download export-top-btn" title="Export options"></span>
          </da-drop-down>
          <span class="header-options-spinner  da-right-spinner" *ngIf="isExporting"><i class="fa fa-spinner fa-spin"></i></span>
        </div>
      </td>
      <td *ngIf="isTechSupport" style="width:30px">
        <da-drop-down *ngIf="topOptionDropDownItems && (runStatus == ERunStatus.RUNNING)" [openOnLeft]="true" [enabled]="true" [dropDownItems]="topOptionDropDownItems">
          <span class="fa fa fa-ellipsis-v options-btn" ></span>
        </da-drop-down>
      </td>
    </tr>
    <tr *ngFor="let job of jobList">
      <td   title="{{ job.jobType +' (id: '+ job.jobId +')'}}">{{ 'SCAN.PHASE.'+job.jobType | translate }}</td>
      <td>
        <span *ngIf="job.isRunning">
          <span class="fa fa-spinner fa-spin" ></span>&nbsp;
          <span>{{ 'STATUS.'+job.jobState | translate }}</span>
        </span>
        <span *ngIf="!job.isRunning" >
          <span *ngIf="!job.isPending">
            <span *ngIf="!job.isPending">
              <span *ngIf="job.isEnded && !job.isEndedWithError && !job.isCancelled && !job.isStopped" class="status-icon fa fa-check"></span>
              <span *ngIf="job.isEndedWithError || job.isPausedWithError" class="status-icon fa fa-times" title="{{ job.completionStatus }}"></span>
              <span *ngIf="job.isStopped" class="status-icon fa fa-stop"  title="{{ job.completionStatus}}"></span>
              <span *ngIf="job.isPaused && !job.isTimeOut && !job.isPausedWithError" class="status-icon  fa fa-pause" ></span>
              <span *ngIf="job.isTimeOut" class="status-icon  fa fa-pause" title="{{ job.completionStatus }}"></span>
              <span *ngIf="job.isCancelled" class="status-icon fa fa-times no-color" title="{{job.completionStatus}}"></span>
              <!-- span *ngIf="job.isPending" class="fa fa-pause" title="{{job.jobState}}"></span -->
            </span>
          </span>
          <span *ngIf="job.isEnded || job.isTimeOut || job.isPausedWithError" >{{ 'STATUS.'+ job.completionStatus | translate }}</span>
          <span *ngIf="(job.isPaused && !job.isTimeOut && !job.isPausedWithError) || job.isPending" >{{ 'STATUS.'+job.jobState | translate }}</span>
        </span>
      </td>
      <td class="job-description">{{ job.stateDescription }}</td>
      <td>
        <span *ngIf="job.phaseStart">{{ job.phaseStart | date:myEnvironment.dateTimeFormat}}</span>
      </td>
      <td>
        <span *ngIf="!job.isRunning && job.lastRunElapsedTimeSpan" title="Net running time. Ended at {{ job.phaseLastStopTime | date:myEnvironment.dateTimeFormat  }}" > {{ job.lastRunElapsedTimeSpan | period}}</span>
        <span *ngIf="job.isRunning && job.lastRunElapsedTimeSpan" title="{{  job.jobType | translate }} running - net time" >{{ job.lastRunElapsedTimeSpan | period }}</span>
      </td>
      <td>
        <span *ngIf="!job.isNew && !job.isCancelled " >{{ job.phaseCounter}}<span *ngIf='job.phaseMaxMark' >/{{ job.phaseMaxMark }}</span>
        </span>
      </td>
      <td>
        <span *ngIf='job.tasksPerSecRate'  title='tasks per second since job started'>
          {{  job.tasksPerSecRate | number : '.2-2'}}
          <span *ngIf='job.runningRateDurationInMsc && job.isInProgress'>({{ job.tasksPerSecRunningRate | number : '.2-2'}})
          </span>
        </span>
      </td>
      <td>
        <span *ngIf='job.failedTasksCount' >{{ job.failedTasksCount }}</span>
      </td>
      <td *ngIf="isTechSupport">
        <da-drop-down *ngIf="(isTechSupport && job.jobState && (job.jobState !== EJobState.DONE) && (job.jobState !== EJobState.NEW))" [dropDownItemsFunc]="getDropDownItems" [showItem]="job" [openOnLeft]="true" [alsoOpenInTop]="true" [withArrow]="false" [enabled]="true" [additionalParams]="[job.jobId,job.jobType]">
          <span class="fa fa fa-ellipsis-v options-btn" title="More Options" ></span>
        </da-drop-down>
      </td>
    </tr>
  </table>
</div>
