last-scan-phases {
  .right-btn-area {
    position: absolute;
    right: 0px;
    top: 10px;
  }
  .job-description {
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
  }
  .job-list-div {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    border : solid 1px #cccccc;
    position: relative;
    top: 10px;
  }

  .job-list-table {
    width: 100%;
    table-layout: fixed;

    tr:first-child {
      color : #444444;

      td {
        padding: 10px 10px;
        font-weight: 600;
      }
    }

    tr:not(:first-child) {
      border-top: solid 1px #cccccc;
      td {
        padding: 5px 10px;
      }
    }

  }

  .export-top-btn {
    color: #444444;
    display: inline-block;
    padding: 5px 0px;
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
    text-align: center;
  }
  .options-btn {
    font-size: 14px;
    color: #444444;
    display: inline-block;
    padding: 3px 0px;
    cursor: pointer;
    margin-right: 10px;
  }
}

.tree-grid-item:hover {
  .job-list-div {
    background-color: #ffffff;
  }
}
