 <h3 class="title" *ngIf="editMode">Edit GDPR request</h3>
  <h3 class="title" *ngIf="!editMode">Add GDPR request</h3>

  <form *ngIf="worflowItem$ | async as data" #f="ngForm" class="card col-lg-7 col-md-10 col-xs-12" style="padding:20px;" novalidate >
    <div class="form-group row" >
      <label class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-6">
        <select class="form-control"
          name="type"
          [(ngModel)]="data.workflowType">
          <option *ngFor="let type of GDPR_WORKFLOW_TYPE | keys" [value]="type.key">{{type.value}}</option>
        </select>
      </div>

    </div>
    <div class="form-group row" >
      <label class="col-sm-2 col-form-label">Reason</label>
      <div class="col-sm-6">
        <select class="form-control"
          name="reason"
          [(ngModel)]="data.requestDetails.reason">
          <option *ngFor="let reason of GDPR_OPEN_WORKFLOW_REASON | keys" [value]="reason.key">{{reason.value}}</option>
        </select>

      </div>
    </div>
  <hr/>
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">ID Number</div>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="data.requestDetails.idNumber"  name="idNumber" required maxlength="50" #idNumber="ngModel" />
        <small [hidden]="idNumber.valid || (idNumber.pristine && !f.submitted)" class="text-danger">
          *
        </small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">First name</div>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="data.requestDetails.firstName"  name="firstName" required maxlength="50" #firstName="ngModel" />
        <small [hidden]="firstName.valid || (firstName.pristine && !f.submitted)" class="text-danger">
         *
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Last name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="data.requestDetails.lastName" name="lastName" required maxlength="50" #lastName="ngModel" />
        <small [hidden]="lastName.valid || (lastName.pristine && !f.submitted)" class="text-danger">
         *
        </small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">Email</div>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="data.requestDetails.email" name="email" required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
        <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
          Email is required and format should be <i>john@doe.com</i>.
        </small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2 col-form-label">Phone</div>
      <div class="col-sm-10">
        <input type="text" class="form-control"  [(ngModel)]="data.requestDetails.phone" required  name="phone" #phone="ngModel" />
        <small [hidden]="phone.valid || (phone.pristine && !f.submitted)" class="text-danger">
          Phone is required and format should be: 123-456-7890.
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="data.requestDetails.address" name="address" required maxlength="200" #address="ngModel" />
        <small [hidden]="address.valid || (address.pristine && !f.submitted)" class="text-danger">
          Address is required (minimum 5 characters).
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Birth data</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  [(ngModel)]="data.requestDetails.birthdate" name="birthdate" #birthdate="ngModel" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Comment</label>
      <div class="col-sm-10">
        <textarea  class="form-control" name="comment" [(ngModel)]="comment"  maxlength="3200" ></textarea>
      </div>
    </div>


    <div style="margin-top: 20px;">
       <button class="btn btn-primary save" (click)="save(data,comment,true)" ><span *ngIf="!editMode">Create</span><span *ngIf="editMode">Update</span></button>
      <button class="btn btn-flat cancel" (click)="cancel()">Cancel</button>

    </div>
  </form>
