
<div class="container fill-width" ng-init="init()" style1="margin-top: -26px; min-height: 100%">
  <div class="row top-panel">
      <div class="box">
      <h4 class="ibox-title">
        <span>App</span>
      </h4>
      <div class="ibox-content">
        <div class="item" ng-if="serverComponentsSummary.dbs > 0">
          <div class="icon fa fa-check-square primary"></div>
          <div class="title">DB</div>
        </div>
        <div class="item"  ng-if="serverComponentsSummary.brokers > 0">
          <div ng-if="!isBrokerStatusError" class="icon fa fa-check-square primary"></div>
          <div ng-if="isBrokerStatusError" class="icon fa fa-exclamation-triangle notice primary"></div>
          <div class="title">Broker</div>

        </div>
        <div class="item"  ng-if="serverComponentsSummary.appServers > 0">
          <div class="icon fa fa-check-square primary"></div>
          <div class="title">File cluster</div>
        </div>
      </div>
    </div>
      <div class="box">
      <h4 class="ibox-title">
        <span>Media processors</span>
      </h4>
      <div class="ibox-content">
        <div class="item">
          <div class="num ok">{{serverComponentsSummary.mpLive}}</div>
          <div class="title">Live</div>
        </div>
        <div class="item" ng-if="serverComponentsSummary.mpFailed > 0">
          <div class="num error">{{serverComponentsSummary.mpFailed}}</div>
          <div class="title">Failed</div>
        </div>
        <div class="item" ng-if="serverComponentsSummary.mpDisabled > 0">
          <div class="num disabled">{{serverComponentsSummary.mpDisabled}}</div>
          <div class="title">Disabled</div>
        </div>
      </div>
    </div>
      <div class="box" >
        <h4 class="ibox-title">
          <span>Solr nodes</span>
        </h4>
        <div class="ibox-content">
          <div class="item">
            <div class="num ok">{{serverComponentsSummary.solrLive}}</div>
            <div class="title">Live</div>
          </div>
          <div class="item" ng-if="serverComponentsSummary.solrFailed > 0">
            <div class="num error">{{serverComponentsSummary.solrFailed}}</div>
            <div class="title">Failed</div>
          </div>
        </div>
      </div>
  </div>
  <div role="server components grid" class="row" >

    <div class="panel-header ibox-title"  style="padding-bottom: 2px;">
      <div class="header-item pull-right " role="collapse expand grid" >
        <a class="btn btn-link btn-sm" ng-click="showServerComponentsGrid=!showServerComponentsGrid" title ="Expand / collapse this section"><i class="fa {{showServerComponentsGrid?'fa-chevron-up':'fa-chevron-down'}} "></i></a>
      </div>
      <div  class="header-item pull-right " role="export" style="position:relative;"  >
        <i ng-show="exportServerComponentsToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <div class="btn-group dropdown">
          <a class="btn btn-link dropdown-toggle btn-sm "  data-toggle="dropdown" title="Download data in Excel format"
             ng-class="{'disabled':exportServerComponentsToExcelInProgress}" ng-disabled="exportServerComponentsToExcelInProgress">
            <i class="fa fa-download"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu " >
            <li> <a ng-click="onExportServerComponentsToExcel();" title="Export {{right}} data to Excel" class="btn btn-link" >Export to Excel</a></li>
          </ul>
        </div>
      </div>

      <!-- div  class="header-item pull-right " style="position:relative;"  >
        <div class="btn-group">
          <a class="btn btn-link dropdown-toggle btn-sm " href="/active-mq-url" target="_blank"  title="Open ActiveMQ console">
            <i class="fa fa-envira"></i>
          </a>
        </div>
      </div -->

      <div class="header-item " style="min-width: 120px;;" role="viewNav ddl">
        <h4 >Server components
            <span ng-if="serverComponentTotalElements">
                  ({{serverComponentTotalElements |number}})
                </span>
        </h4>
      </div>


      <div  class="header-item " role="edit" style="position:relative;margin-left: 40px;"  >
        <a class="btn btn-link btn-sm"  ng-class="{disabled:!isMediaProcessorSelected()}"
           ng-click="openEditServerComponentDialog(selectedServerComponent);">   <i class="fa fa-pencil"></i>&nbsp;Edit
        </a>
      </div>

      <div class="header-item " role="Filter by date" style="margin-top: -2px;">
        <span class="btn btn-link btn-xs" title="Select date time to view system components status in the specific time">Choose date:</span>
        <div class="btn-group dropdown" style="display: none" >
          <button class="btn btn-flat btn-xs dropdown-toggle noFixPosition" data-toggle="dropdown" style="padding-top: 1px; margin-top:0; border-left: 0; border-radius: 0; border-right: 1px solid #c3c3c3;  border-top-left-radius: 2px;border-bottom-left-radius: 2px;" >
            <span >{{resolutionType | translate}}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" style="min-width:60px;" >
            <li><a  ng-click="changeResolutionType('MINUTES');">Minutes</a></li>
            <li><a  ng-click="changeResolutionType('HOURS');">Hours</a></li>
            <li><a  ng-click="changeResolutionType('DAYS');">Days</a></li>
            <li><a  ng-click="changeResolutionType('WEEKS');">Weeks</a></li>
            <li><a  ng-click="changeResolutionType('MONTHS');">Months</a></li>
            <li><a  ng-click="changeResolutionType('QUARTERS');">Quarters</a></li>
            <li><a  ng-click="changeResolutionType('YEARS');">Years</a></li>
          </ul>
        </div>
        <div class="resolution-step-wrapper" style="display: none">
          <input class="sc-input-resolution-step btn btn-flat btn-xs" required title="Resolution step" ng-maxlength="5" ng-blur="changeResolutionStep(inputResolutionStep)" ng-model="inputResolutionStep"  type="text" ng-enter="changeResolutionStep(inputResolutionStep);" ng-change="changeResolutionStep(inputResolutionStep);" />
          <div class="fa fa-caret-up caret-up" ng-click="onCaretUp()"></div>
          <div class="fa fa-caret-down caret-down" ng-click="onCaretDown()"></div>
        </div>
        <div class="btn-filter-open"><i class="fa fa-calendar" ng-click="openChangeDateDialog()"></i></div>
        <div ng-if="statusDateTime>0" class="btn btn-flat displayed-date">
          <span style="background: #29B194; color: white"> {{ statusDateTime? (statusDateTime | date : dateTimeFormat) : ''}} </span>
          <span class="btn-date-close" ng-click="removeDateFilter()"><i class="fa fa-times"></i></span>
        </div>
    </div>
    </div>
    <div class="clearfix"></div>
    <div ng-show="showServerComponentsGrid">
      <server-components-tree-list  fix-height="500px"  items-selected="onSelectServerComponents" item-selected="onSelectServerComponent" change-page="changeServerComponentsPage"
                            page-changed="serverComponentPageChanged"   change-selected-item="changeServerComponentSelectedItemId" total-elements="serverComponentTotalElements"
                              find-id="findIdServerComponent"   refresh-data="serverComponentsReloadData" refresh-data-silently="syncServerComponentData" reload-data-to-grid="refreshServerComponentDisplay"
                            filter-data="filterData" is-broker-status-error="isBrokerStatusError" filter-by-search-date-time="statusDateTime"></server-components-tree-list>
    </div>

  </div>
  <div ng-visible="selectedServerComponentType && (selectedServerComponentType !== EClaComponentType.DATA_CENTER) && (selectedServerComponentType !== EClaComponentType.SOLR_ROOT_NODE)  && (selectedServerComponentType !== EClaComponentType.BROKER)"  role="server components status grid" class="row" style="margin-top: 25px;">

    <div class="panel-header ibox-title"  style="padding-bottom: 2px;">
      <div class="header-item pull-right " role="collapse expand grid" >
        <a class="btn btn-link btn-sm" ng-click="showServerComponentsStatusGrid=!showServerComponentsStatusGrid" title ="Expand / collapse this section"><i class="fa {{showServerComponentsStatusGrid?'fa-chevron-up':'fa-chevron-down'}} "></i></a>
      </div>
      <div  class="header-item pull-right " role="export" style="position:relative;"  >
        <i ng-show="exportServerComponentsStatusToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <div class="btn-group dropdown">
          <a class="btn btn-link dropdown-toggle btn-sm "  data-toggle="dropdown" title="Download data in Excel format"
             ng-class="{'disabled':exportServerComponentsStatusToExcelInProgress}" ng-disabled="exportServerComponentsStatusToExcelInProgress">
            <i class="fa fa-download"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu " >
            <li> <a ng-click="onExportServerComponentsStatusToExcel();" title="Export {{right}} data to Excel" class="btn btn-link" >Export to Excel</a></li>
          </ul>
        </div>
      </div>

      <div class="header-item " style="min-width: 120px;;" role="viewNav ddl">
        <h4 >Status of <span class="selected-item-name">{{selectedServerComponentName|translate}}</span>
            <span ng-if="serverComponentStatusTotalElements">
                  ({{serverComponentStatusTotalElements |number}})
                </span>
        </h4>
      </div>



    </div>
    <div class="clearfix"></div>
    <div class="server-components-status-wrapper" ng-show="showServerComponentsStatusGrid">
    </div>
    <div style="height:35px"></div>


  </div>


</div>

