.serverComponentsMonitor {

  .server-component-row {
    .dropdown-wrapper {
      cursor: pointer;
    }
  }

  .mp-caret {
    margin-left: 0px;
    position: relative;
    top: -5px;
  }

  .mp-main-title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .server-component-row:hover {
    .caret {
      display: inline-block;
    }
  }
  .choose-date-btn {
    padding-left: 20px;
    position: relative;
    top: -3px;
  }

  .resolution-step-wrapper {
    position:relative;
    display:inline-block;
    color: #676a6c;
    background-color: #e6e6e6;
    width: 60px;
    border-color: #e6e6e6;

    .caret-up {
      position: absolute;
      top: 1px;
      right: 0;
      width: 17px;
      text-align: center;
      height: 11px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .caret-down {
      position: absolute;
      bottom: 1px;
      right: 0;
      width: 17px;
      text-align: center;
      height: 11px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }


    .sc-input-resolution-step {
      width: 45px;
      margin-top:0 !important;
      border-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  .btn-filter-open {
    background: #E5E5E5;
    padding: 1px 6px 2px 6px;
    border-radius: 2px;
    display: inline-block;
    height: 21px;
    margin-left: 1px;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
      color: #29B194;
    }
  }


  .displayed-date{
    font-size: 12px;
    position: relative;
    padding: 1px 5px;
    margin-left: 10px !important;
    background: none;
    border: none;
    color: white;
    cursor: default;

    .btn-date-close {
      padding-left: 6px;
      display: inline-block;
      cursor: pointer;
      color: #5d5d5d;
    }
  }

  .top-panel {
      .box {
        margin-bottom: 20px;
        padding-right: 10px !important;
        padding-left: 0 !important;
        min-width: 155px;
        float: left;

        &:nth-child(3n+3) {
          padding-right: 0 !important;
        }

        .ibox-content {
          min-height: 115px;

          .item {
            width: 100px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding-top: 15px;
            padding-bottom: 5px;
            border-right: 1px solid #ececec;

            &:last-child {
              border: 0;
            }

            .icon{
              font-size: 32px;
            }

            .num {
              font-size: 23px;

              &.ok {
                color: #5d5d5d;
              }
              &.error {
                color: #f56969;
              }
              &.disabled {
                color: #c3c3c3;
              }
            }

            .title {
              padding-top: 7px;
            }
          }
        }
      }
    }

  .system-cpu {
    display: flex;
    flex-direction: row;

    .percentage-ruler {
      width: 100px;
      height: 5px;
      border: 1px solid #c9c2c2;
      margin-top: 7px;
      margin-right: 10px;

      .percentage {
        background: #1ab394;
        width: 0;
        height: 100%;
      }
    }
  }

  .server-components-tree-list {
    thead {
      display: none;
    }
    tbody {
      td:first-child {
        text-overflow: clip;
      }
      td {
        width: 100% !important;

        .server-component-row {
          width: 100%;
          min-height: 30px;
          display: flex;
          flex-direction: row;

          .clm {
            display: flex;
            flex-direction: column;
            &.level-1 {
              padding-left: 20px;
            }


            .title {
              font-size: 12px;
              padding-bottom: 3px;
              color:#676a6c;
            }

            .txt {
              font-size: 12px;
              color:#676a6c;
            }
          }


          .component-type {
            min-width: 280px;
            flex: 1;

            .type-name {
              max-width: 260px;
              padding-bottom: 3px;

              .mp-main-title {
                max-width: 250px;
              }
            }
            .external-net-address {
               font-size: 11px;
               max-width: 260px;
            }
          }

          .component-type.level-1 {
            min-width: 260px;

            .type-name {
              max-width: 240px ;

              .mp-main-title {
                max-width: 230px ;
              }
            }

            .external-net-address {
              max-width: 240px ;
            }
          }

          .third-column {
            width: 160px;
          }

          .second-column {
            width: 160px;
          }

          .status {
            width: 160px;
          }

          .last-response {
            width: 160px;
          }

          .memory {
            width: 160px;
          }

          .cpu {
            width: 160px;


          }

          .uptime {
            width: 140px;
          }
        }

        .system-cpu {
          justify-content: center;

          .percentage-ruler {
            width: 80px !important;
          }
        }
      }

      tr {
        &.k-state-selected {
          .percentage-ruler {
            border: 1px solid #ececec;
          }
        }
      }
    }
  }


}

@media only screen and (max-width: 1700px)  {
  .server-components-tree-list {
      .server-component-row {


        .component-type {
          min-width: 130px !important;

          .type-name {
            max-width: 110px !important;

            .mp-main-title {
              max-width: 100px !important;
            }
          }

          .external-net-address {
            max-width: 110px !important;
          }
        }

        .component-type.level-1 {
          min-width: 110px !important;

          .type-name {
            max-width: 90px !important;

            .mp-main-title {
              max-width: 80px !important;
            }
          }

          .external-net-address {
            max-width: 90px !important;
          }
        }

        .status {
          max-width: 100px !important;
        }
      }
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1300px)  {

  .server-components-tree-list {

    .server-component-row {
      .cpu {
        max-width: 100px !important;
      }
    }

    .system-cpu {
      .percentage-text {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1000px)  {

  .server-components-tree-list {
    .server-component-row {
      .cpu {
        max-width: 70px !important;
      }

      .clm {
        .txt {
          font-size: 11px !important;
        }
      }
    }

    .system-cpu {
      .percentage-ruler {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1000px)  {
  .system-cpu {
    .percentage-ruler {
      display: none;
    }
  }
}
