<tr data-uid='#: uid #'>
  <td>
    <div class="server-component-row">
      <div class="clm component-type  level-{{dataItem.level}}">
        <div class="type-name title-primary">


          <span ng-if="!dataItem.isAppServer  && !dataItem.isMediaProcessor && !dataItem.isBrokerRC && !dataItem.isSolrNode" bubble="{{dataItem.mainTitleBubble}}">{{dataItem.mainTitle}}
          </span>


          <span ng-if="dataItem.isBrokerRC"  class="dropdown dropdown-wrapper" >
            <span  class="dropdown-toggle" data-toggle="dropdown" bubble="{{dataItem.mainTitleBubble}}">
              {{dataItem.mainTitle}}
              <i class="caret ng-hide"></i>
            </span>
             <ul class="dropdown-menu" >
                <li><a class="btn btn-link btn-xs" href="/active-mq-url" target="_blank"  ><span class="fa fa-envira"></span>&nbsp; Open ActiveMQ console</a></li>
            </ul>
          </span>


          <span ng-if="dataItem.isAppServer"  class="dropdown dropdown-wrapper" >
            <span  class="dropdown-toggle" data-toggle="dropdown" bubble="{{dataItem.mainTitleBubble}}">
              {{dataItem.mainTitle}}
              <i class="caret ng-hide"></i>
            </span>
             <ul class="dropdown-menu" >
                <li><a class="btn btn-link btn-xs" ng-href="/api/logs/fetch" target="_self" ><span class="fa fa-wrench"></span>&nbsp; Get Logs</a></li>
                <li><a class="btn btn-link btn-xs" ng-href="/api/logs/fetchErrMon" target="_self" ><span class="fa fa-wrench"></span>&nbsp; Get Error Logs</a></li>
            </ul>
          </span>

          <span ng-if="dataItem.isSolrNode"  class="dropdown dropdown-wrapper" >
            <span  class="dropdown-toggle" data-toggle="dropdown" bubble="{{dataItem.mainTitleBubble}}">
              {{dataItem.mainTitle}}
              <i class="caret ng-hide"></i>
            </span>
             <ul class="dropdown-menu" >
                <li><a class="btn btn-link btn-xs" ng-href="/api/sys/components/logs/component/{{ dataItem.claComponentDto.id }}" target="_self" ><span class="fa fa-wrench"></span>&nbsp; Get Logs</a></li>
            </ul>
          </span>


          <span ng-if="dataItem.isMediaProcessor"  class="dropdown {{ !dataItem.isStatePending ? 'dropdown-wrapper' : '' }}" >
            <span  class="dropdown-toggle" data-toggle="dropdown" bubble="{{dataItem.mainTitleBubble}}">
              <span class="mp-main-title"> {{dataItem.mainTitle}}</span>
              <i ng-if="!dataItem.isStatePending" class="mp-caret caret ng-hide"></i>
            </span>
             <ul class="dropdown-menu" ng-if="!dataItem.isStatePending">
                <li><a class="btn btn-link btn-xs" ng-href="/api/sys/components/logs/fetchMP/{{dataItem.claComponentDto.instanceId}}" target="_self" ><span class="fa fa-wrench"></span>&nbsp; Get Logs</a></li>

            </ul>
          </span>

        </div>
        <div class="external-net-address long-and-truncated"> {{dataItem.subTitle }} </div>
      </div>
      <div class="clm centerText  second-column">


        <div ng-if="dataItem.isAppServer && dataItem.extraMetrics  && dataItem.extraMetrics.optimizeIndexesRunning == true">
          <div class="title-third" title="Optimize indexes">Optimizing</div>
          <div class="title-secondary">
            <span>Running</span>
          </div>
        </div>


        <div ng-if="(dataItem.isSolrRootNode && dataItem.diskSizeWarning)|| (dataItem.isDataCenter && dataItem.diskSizeWarning) || dataItem.isSolrNode || dataItem.isAppServer || dataItem.isMediaProcessor">
          <div class="title-third">Disk space utilization</div>

          <div class="title-secondary">
             <span>
               <span bubble="{{dataItem.diskSizeTooltip}}">{{ dataItem.solrDiskSpace }}</span>
               <span ng-if="dataItem.diskSizeWarning"  bubble="Free disk space for device is bellow threshold"  class="fa fa-exclamation-triangle notice-info"> </span>
             </span>
          </div>
        </div>



        <div ng-if="dataItem.isBrokerInfo || dataItem.isBroker">
          <div class="title-third">Pending</div>
          <div class="title-secondary">
           <span bubble="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Map:</div>
                  <div class='col right'>{{(dataItem.scanEnqueueCount !== null && dataItem.scanDequeueCount !== null )? (dataItem.scanEnqueueCount - dataItem.scanDequeueCount > 0 ? dataItem.scanEnqueueCount - dataItem.scanDequeueCount : 0 ) : ''}}</div>
                </div>
                <div class='row'>
                  <div class='col'>Ingest:</div>
                  <div class='col right'>{{(dataItem.ingestEnqueueCount !== null && dataItem.ingestDequeueCount  !== null )? (dataItem.ingestEnqueueCount - dataItem.ingestDequeueCount > 0 ? dataItem.ingestEnqueueCount - dataItem.ingestDequeueCount : 0 ) : ''}}</div>
                </div>
            </div>">
            <span>{{(dataItem.scanEnqueueCount !== null && dataItem.scanDequeueCount !== null)? (dataItem.scanEnqueueCount - dataItem.scanDequeueCount > 0 ? dataItem.scanEnqueueCount - dataItem.scanDequeueCount : 0) : ''}}</span> / <span>{{(dataItem.ingestEnqueueCount !== null &&  dataItem.ingestDequeueCount !== null)? (dataItem.ingestEnqueueCount - dataItem.ingestDequeueCount > 0 ? dataItem.ingestEnqueueCount - dataItem.ingestDequeueCount : 0 ): ''}}</span>
           </span>
          </div>
        </div>


      </div>


      <div class="clm centerText second-column">
        <!-- div ng-if="dataItem.isDataCenterExist && dataItem.claComponentDto.customerDataCenterDto.name">
          <div class="title-third">Data Center</div>
          <div class="title-secondary" ng-click="openEditDialog(dataItem.claComponentDto)"><a>{{dataItem.claComponentDto.customerDataCenterDto.name}}</a></div>
        </div>
        <div ng-if="dataItem.isDataCenterCandidate && !dataItem.isDataCenterExist" ng-click="openEditDialog(dataItem.claComponentDto)">
          <span>Add ...</span>
        </div  -->

        <div ng-if="dataItem.isMediaProcessor || dataItem.isDataCenter">
          <div class="title-third">Processed</div>
          <div class="title-secondary">
             <span bubble="
                <div class='table'>
                  <div class='row'>
                    <div class='col'>Map:</div>
                    <div class='col right'>{{dataItem.scanTaskFinished | number }}</div>
                  </div>
                  <div class='row'>
                    <div class='col'>Ingest:</div>
                    <div class='col right'>{{dataItem.ingestTaskFinished | number }}</div>
                  </div>
              </div>">
              <span>{{dataItem.scanTaskFinished | number }}</span> / <span>{{dataItem.ingestTaskFinished | number }}</span>
             </span>
          </div>
        </div>


        <div ng-if="dataItem.isAppServer && dataItem.extraMetrics">
          <div class="title-third">Processed</div>
          <div class="title-secondary" >
             <span bubble="
                <div class='table'>
                  <div class='row'>
                    <div class='col'>Ingest :</div>
                    <div class='col right'>{{dataItem.extraMetrics.ingestTaskRequestsFinished + dataItem.extraMetrics.ingestTaskRequestFailure | number:0}}</div>
                  </div>
                  <div class='row'>
                    <div class='col'>Analyzed :</div>
                    <div class='col right'>{{dataItem.extraMetrics.analyzedTaskRequestsFinished + dataItem.extraMetrics.analyzedTaskRequestFailure | number:0}}</div>
                  </div>
              </div>">
              <span>{{ dataItem.extraMetrics.ingestTaskRequestsFinished + dataItem.extraMetrics.ingestTaskRequestFailure | number:0}}</span> / <span>{{dataItem.extraMetrics.analyzedTaskRequestsFinished + dataItem.extraMetrics.analyzedTaskRequestFailure | number:0}}</span>
             </span>
          </div>
        </div>


        <div ng-if="(dataItem.isBrokerInfo || dataItem.isBroker)">
          <div class="title-third">Dequeued</div>
          <div class="title-secondary">
           <span bubble="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Map:</div>
                  <div class='col right'>{{dataItem.scanDequeueCount | number | checkNull}}</div>
                </div>
                <div class='row'>
                  <div class='col'>Ingest:</div>
                  <div class='col right'>{{dataItem.ingestDequeueCount | number | checkNull }}</div>
                </div>
            </div>">
            <span>{{dataItem.scanDequeueCount | number | checkNull}}</span> / <span>{{dataItem.ingestDequeueCount | number |checkNull}}</span>
           </span>
          </div>
        </div>
      </div>
      <div class="clm centerText third-column">
        <div ng-if="((dataItem.isAppServer || dataItem.isMediaProcessor) && dataItem.extraMetrics) || dataItem.isDataCenter">
          <div class="title-third">Throughput</div>
        </div>
        <div ng-if="(dataItem.isBrokerInfo  || dataItem.isBroker)">
          <div class="title-third">Enq. time</div>
        </div>


        <div class="title-secondary" ng-if="dataItem.isAppServer && dataItem.extraMetrics">
           <span bubble="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Ingest running rate:</div>
                  <div class='col right'>{{dataItem.extraMetrics.ingestRunningThroughput | limitBig : 8 }}</div>
                </div>
                <div class='row'>
                  <div class='col'>Analyzed running rate:</div>
                  <div class='col right'>{{dataItem.extraMetrics.analyzedRunningThroughput | limitBig : 8}}</div>
                </div>
            </div>">
            <span>{{dataItem.extraMetrics.ingestRunningThroughput | limitBig : 5}}</span> / <span>{{dataItem.extraMetrics.analyzedRunningThroughput | limitBig : 5}}</span>
           </span>
        </div>
        <div class="title-secondary" ng-if="(dataItem.isMediaProcessor && dataItem.extraMetrics) || dataItem.isDataCenter">
           <span bubble="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Map rate:</div>
                  <div class='col right'>{{dataItem.mapRate | number}}</div>
                </div>
                <div class='row'>
                  <div class='col'>Ingest rate:</div>
                  <div class='col right'>{{dataItem.ingestRate | number}}</div>
                </div>
            </div>">
            <span>{{dataItem.mapRate | number}}</span> / <span>{{dataItem.ingestRate | number}}</span>
           </span>
        </div>
        <div class="title-secondary" ng-if="dataItem.isBrokerInfo || dataItem.isBroker">
           <span bubble="
              <div class='table'>
                <div class='row'>
                  <div class='col'>Map average enqueue time:</div>
                  <div class='col right'>{{dataItem.scanAverageEnqueueTime | formatSpan}}</div>
                </div>
                <div class='row'>
                  <div class='col'>Ingest average enqueue time:</div>
                  <div class='col right'>{{dataItem.ingestAverageEnqueueTime | formatSpan}}</div>
                </div>
            </div>">
            <span>{{dataItem.scanAverageEnqueueTime | formatSpan}}</span> / <span>{{dataItem.ingestAverageEnqueueTime | formatSpan}}</span>
           </span>
        </div>
      </div>
      <div class="clm status centerText">
        <div class="title-third" ng-if="dataItem.claComponentDto.state">Status</div>
        <div class="data title-secondary long-and-truncated">
          <span ng-if="dataItem.isStateOk" class="fa fa-check label-primary"></span>
          <span ng-if="dataItem.isStateError" class="fa fa-times notice "></span>
          <span ng-if="dataItem.isStatePending" class="fa fa-pause "></span>
          <span ng-if="dataItem.isStateDisabled && !dataItem.isStateNone" class="fa fa-ban "></span>
          <span ng-if="dataItem.isStatePartial" class="fa fa-exclamation-triangle notice-info"></span>
          <span class="txt" bubble="{{dataItem.claComponentDto.state|translate}}">
             <span ng-if="dataItem.isStatePending">Pending</span>
             <span ng-if="!dataItem.isStatePending">{{dataItem.claComponentDto.state|translate}}</span>
           </span>
        </div>
      </div>
      <div class="clm last-response centerText">
        <div class="title-third" ng-if="dataItem.lastResponseElapsedTimeSpan">Last response</div>
        <div class="txt title-secondary" ng-if="dataItem.lastResponseElapsedTimeSpan">
          <span ng-if="dataItem.lastResponseElapsedTime > showNotificationWarinigPeriod" title="Component didn't response 10 minutes prior to the search" class="fa fa-exclamation-triangle notice"></span>
          <span bubble="{{ dataItem.claComponentDto.lastResponseDate | date: dateTimeFormat }}">{{ dataItem.lastResponseElapsedTimeSpan || '' }}</span>
        </div>
      </div>
      <div class="clm memory centerText">
        <div class="title-third" ng-if="dataItem.extraMetrics && dataItem.extraMetrics.usedPhysicalMemorySize && dataItem.extraMetrics.totalPhysicalMemorySize">Memory</div>
        <div ng-if="dataItem.extraMetrics && dataItem.extraMetrics.usedPhysicalMemorySize && dataItem.extraMetrics.totalPhysicalMemorySize">
          <span class="txt" bubble="<div class='table'>
            <div class='row'>
              <div class='col'>Used memory size:</div>
              <div class='col right'>{{dataItem.extraMetrics.usedPhysicalMemorySize | bytes}}</div>
            </div>
            <div class='row'>
               <div class='col'>Total memory size:</div>
               <div class='col right'>{{dataItem.extraMetrics.totalPhysicalMemorySize | bytes}}</div>
            </div>
          </div>">{{dataItem.extraMetrics.usedPhysicalMemorySize | bytes }} / {{dataItem.extraMetrics.totalPhysicalMemorySize | bytes }}</span>
        </div>
      </div>
      <div class="clm cpu centerText">
        <div class="title" ng-if="dataItem.extraMetrics && (dataItem.extraMetrics.systemCpuLoad !== null && dataItem.extraMetrics.systemCpuLoad !== undefined) ">CPU</div>
        <div ng-if="dataItem.extraMetrics && (dataItem.extraMetrics.systemCpuLoad !== null && dataItem.extraMetrics.systemCpuLoad !== undefined)" class="system-cpu" bubble="{{dataItem.extraMetrics.systemCpuLoad * 100 | number : 2 }}%">
          <div class="percentage-ruler">
            <div class="percentage" style="width:{{dataItem.extraMetrics.systemCpuLoad*100}}%"></div>
          </div>
          <div class="percentage-text txt">{{dataItem.extraMetrics.systemCpuLoad * 100 | number : 2 }}%</div>
        </div>
      </div>
      <div class="clm uptime centerText">
        <div class="title-third" ng-if=" dataItem.lastStateChangeElapsedTimeSpan">{{dataItem.claComponentDto.state == 'OK' ? 'Up time' : 'Down time'}}</div>
        <div class="txt title-secondary" ng-if=" dataItem.lastStateChangeElapsedTimeSpan"><span bubble="{{ dataItem.claComponentDto.stateChangeDate | date: dateTimeFormat }}">{{ dataItem.lastStateChangeElapsedTimeSpan || '' }}</span></div>
      </div>
    </div>
  </td>
</tr>

