<system-dashboard  *ngIf="showSystemDashboard"></system-dashboard>
<it-dashboard  *ngIf="showItDashboard"></it-dashboard>
<user-dashboard *ngIf="showUserDashboard"> </user-dashboard>
<dashboard-charts *ngIf="showChartWidgetsDashboard"> </dashboard-charts>
