<div class="setting-div">
  <ul class="nav nav-tabs" style="position:relative;">
    <li [ngClass]="{'nav-item-active nav-item': activeTab=='chartType', 'nav-item': activeTab!='chartType'}"><a
      class="nav-link" data-toggle="tab" (click)="setActiveTab('chartType')">Type <span class="error"
                                                                                       [ngStyle]="{'visibility': !selectedDisplayType ? 'visible' : 'hidden'}">*</span></a>
    </li>
    <li *ngIf="selectedDisplayType"
        [ngClass]="{'nav-item-active nav-item': activeTab=='mainParam', 'nav-item': activeTab!='mainParam'}"><a
      class="nav-link" data-toggle="tab" (click)="setActiveTab('mainParam')">Parameters <span class="error"
                                                                                              [ngStyle]="{'visibility': ((mainParamForm && mainParamForm.invalid) || !selectedDataUnit )  ? 'visible' : 'hidden'}">*</span></a>
    </li>
    <li *ngIf="selectedDisplayType"
      [ngClass]="{'nav-item-active nav-item': activeTab=='moreParam', 'nav-item': activeTab!='moreParam'}"><a
      class="nav-link" data-toggle="tab" (click)="setActiveTab('moreParam')">More <span class="error"
                                                                                        [ngStyle]="{'visibility': false ? 'visible' : 'hidden'}">*</span></a>
    </li>

  </ul>
  <div [hidden]="activeTab!='chartType'">

    <div class="select-display-type-div">
      <ng-template ngFor let-dtItem [ngForOf]="chartDisplayTypeList">
        <div class="display-type-item" *ngIf="(!dtItem.needFilters || filterList.length>0)"
             (click)="onDisplayTypeChanged(dtItem)" [ngClass]="{'selected' : dtItem == selectedDisplayType}">
                <span class="display-type-icon  {{ dtItem.icon}}">
                </span>
          <span class="display-type-text">
                  <div class="display-type-name">{{ dtItem.name}}</div>
                  <div class="display-type-description">{{ dtItem.description}}</div>
                </span>
        </div>
      </ng-template>
    </div>
  </div>

  <div [hidden]="activeTab!='mainParam'">
    <form *ngIf="userViewDataDtoItem" class="form-horizontal modal-form-md" name="mainParamForm" #mainParamForm="ngForm"
          role="form">

      <div  class="form-group form-group-position-relative">
        <label class="control-label" for="userViewName">Chart title:</label>
        <div class="control-field">
          <input type="text" class="form-control" maxlength="255" id="userViewName" name="userViewName" (change)="updatePreview(chartInfo, true)" (keyup)="updatePreview(chartInfo, true)" [(ngModel)]="userViewDataDtoItem.name" required minlength="1" #userViewName="ngModel" >
        </div>
        <div class="error error-position" *ngIf="userViewName.invalid">*</div>
      </div>

      <div class="form-group form-group-position-relative">
        <label class="control-label">Group by:</label>
        <div class="control-field">
          <da-select-input [options]="groupByList"
                           [selectedName]="groupByList[0].name"></da-select-input>
        </div>
      </div>

      <div  class="form-group form-group-position-relative">
        <label class="control-label" >Units:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onDataUnitChanged($event)" [options]="dataUnitList" [selectedName]="selectedDataUnit && selectedDataUnit.name" ></da-select-input>
        </div>
        <div class="error error-position" *ngIf="!selectedDataUnit">*</div>
      </div>

      <div  class="form-group form-group-position-relative" >
        <label class="control-label" >Filter:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onFilterChanged($event)" [withNoneValue]="true" [options]="filterList" [selectedName]="selectedFilter.name" ></da-select-input>
        </div>
      </div>

      <div  class="form-group form-group-position-relative" >
        <label class="control-label" >Depth start level:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onMinDepthChanged($event)"
                           [canChooseNotOnlyFromList]="true" [options]="minDepthList" [emptyValueMsg]="'0'" [selectedName]="minDepth" ></da-select-input>

        </div>
      </div>

    </form>
  </div>

  <div [hidden]="activeTab!='moreParam'">
    <form class="form-horizontal modal-form-md" name="moreParamForm"
          #moreParamForm="ngForm" role="form">

      <div  class="form-group form-group-position-relative" >
        <label class="control-label" >Max slices:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onItemNumberChanged($event)" style="width: 60px;"
                           [canChooseNotOnlyFromList]="true" [options]="itemNumberList" [selectedName]="itemNumber" ></da-select-input>

        </div>
        <div class="error error-position" *ngIf="!itemNumber">*</div>
      </div>

      <div  class="form-group form-group-position-relative" >
        <label class="control-label" >Max depth:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onMaxDepthChanged($event)" style="width: 60px;"
                           [canChooseNotOnlyFromList]="true" [options]="maxDepthList" [emptyValueMsg]="'10'" [selectedName]="maxDepth" ></da-select-input>

        </div>
      </div>

      <div  class="form-group form-group-position-relative" >
        <label class="control-label" >Max child items:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onMaxChildItemsChanged($event)" style="width: 60px;"
                           [canChooseNotOnlyFromList]="true" [options]="maxChildItemsList" [emptyValueMsg]="'10'" [selectedName]="maxChildItems" ></da-select-input>

        </div>
      </div>

      <div  class="form-group form-group-position-relative" >
        <label class="control-label" >Color palette:</label>
        <div class="control-field">
          <da-select-input (itemSelected)="onColorPaleteChanged($event)" [options]="colorPaletteList" [selectedName]="selectedColorPalete && selectedColorPalete.name" ></da-select-input>
        </div>
        <div class="error error-position" *ngIf="!selectedColorPalete">*</div>
      </div>

      <div  class="form-group form-group-position-relative" >
        <label class="control-label" >Pagination:</label>
        <div class="control-field pagination-div"  (click)="withPagenation = !withPagenation;updatePreview(chartInfo);">
          <span class="pagination-check fa" [ngClass]="{'fa-check-square-o':withPagenation,'fa-square-o':!withPagenation}"> </span>
          <span>Enable</span>
        </div>
      </div>

      <div class="form-group form-group-position-relative" >
        <label class="control-label">Data labels:</label>
        <div class="control-field pagination-div"  (click)="withLabels = !withLabels;updatePreview(chartInfo);">
          <span class="pagination-check fa" [ngClass]="{'fa-check-square-o':withLabels,'fa-square-o':!withLabels}"> </span>
          <span>Enable</span>
        </div>
      </div>

      <div  class="form-group form-group-position-relative" >
        <label class="control-label" >Show other:</label>
        <div class="control-field pagination-div"  (click)="showOther = !showOther;updatePreview(chartInfo);">
          <span class="pagination-check fa" [ngClass]="{'fa-check-square-o':showOther,'fa-square-o':!showOther}"> </span>
          <span>Enable</span>
        </div>
      </div>

    </form>
  </div>

</div>
