edit-tree-map-chart {
  .select-display-type-div{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-top: 8px;

    .display-type-item {
      flex: 1 0 45px;
      padding-top: 2px;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 2px;
      cursor: pointer;
      padding-left: 10px;
    }

    .display-type-item.selected {
      background-color: rgb(221,222,235) !important;
    }

    .display-type-item:last-child {
      border-bottom: none;
    }

    .display-type-item:hover {
      background-color: #EFEFEF;
    }

    .display-type-icon {
      font-size: 26px;
      display: inline-block;
      width: 35px;
      padding-top: 10px;
    }

    .display-type-text {
      display: inline-block;
      vertical-align: top;
    }

    .display-type-name {
      font-size: 14px;
      font-weight: bold;
    }

    .display-type-description {
      font-size: 14px;
      font-weight: normal;
    }
  }

  .show-other-main-span {
    padding-left: 20px;
    padding-top: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .show-other-check {
    width:20px;
  }


  .add-new-series-btn {
    height: 21px;
    padding-top: 1px;
    font-size: 12px;
  }

  .form-group-position-relative {
    padding-right: 5px;
    margin-right: 5px;
  }
  .form-group {
    align-items: start;
    .control-label {
      padding-top: 7px;
      padding-right: 20px;
    }
  }

  .modal-form-md {
    min-height: 300px !important;
    height:auto !important;
    height: 300px;
  }



  .setting-div {
    width : 400px;
    height: 100%;
    overflow-y: auto;
    transition: width 0.2s;
  }


  .total-segment-div {
    font-size: 13px;
    color: #222222;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 7px;

    .total-segment-div-check {
      width: 20px;
    }
  }

  .histogram-div {
    .control-label {
    }

    .histogram-value{
      width: 100%;
      padding-top: 3px;
    }

    .segment-item {
      padding-bottom: 10px;

      .segment-item-input{
        display: inline-block;
        width: 100%;
        position: relative;
        padding-right: 20px;

        .error-position {
          right : 10px;
        }
      }

      .remove-segment {
        position: absolute;
        right: 0px;
        font-size: 18px;
        padding-top: 7px;
        color: #aaaaaa;
        cursor: pointer;
      }
    }

    .add-histogram-div {
      color : darkblue;
      font-size: 14px;
      cursor: pointer;
      padding-top: 10px;
    }
  }

  .form-group-radio {
    margin-left: 170px;
  }


  .select-display-type-div{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-top: 8px;

    .display-type-item {
      flex: 1 0 45px;
      padding-top: 2px;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 2px;
      cursor: pointer;
      padding-left: 10px;
    }

    .display-type-item.selected {
      background-color: rgb(221,222,235) !important;
    }

    .display-type-item:last-child {
      border-bottom: none;
    }

    .display-type-item:hover {
      background-color: #EFEFEF;
    }

    .display-type-icon {
      font-size: 26px;
      display: inline-block;
      width: 35px;
      padding-top: 10px;
    }

    .display-type-text {
      display: inline-block;
      vertical-align: top;
    }

    .display-type-name {
      font-size: 14px;
      font-weight: bold;
    }

    .display-type-description {
      font-size: 14px;
      font-weight: normal;
    }
  }


  ::-webkit-input-placeholder { /* Edge */
    color: #cccccc !important;
  }

  :-ms-input-placeholder { /* Internet Explorer */
    color: #cccccc !important;
  }

  ::placeholder {
    color: #cccccc !important;
  }

  .names-tab-label {
    padding-top: 8px !important;
  }

  .pagination-div {
    margin-top: 7px;

    .pagination-check {
      width: 15px;
      padding-top:  5px;
      cursor: pointer;
    }
  }


}
