

.button-menu-ddl
{
  .btn;
  .btn-xs;
  .btn-link;
  font-size: 14px;

}
.grid-list-item
{
  margin-left: 5px;

  &:after{
    content: ',';
  }
  &:last-child:after{
    content: '';
  }
}
ul.highlightedContent
{

    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
    max-height: 300px;
    overflow-y: auto;
    padding: 0 5px 0 13px;
    //color:@text-color;


  & li {
    &::after {
      content: '...'
    }
    line-height: 28px;
    white-space: pre-line;
  }
  & span{
    font-weight: 700;
   // padding: 0 1px;
  }
  & .term1{
    background: yellow;
  }
  & .term2{
    background: aquamarine;
  }
  & .term3{
    background: lightskyblue;
  }
  & .term4{
    background: lightsalmon;
  }
  & .term5{
    background: pink;
  }
  & .term6{
    background: orange;
  }
  & .term7{
    background: lime;
  }
  & .term8{
    background: lightcyan;
  }
  & .term9{
    background: lightyellow;
  }
  & .term10{
    background: lightgoldenrodyellow;
  }
}
span.disabled{
  color:#cacaca;
}
.tags-menu { //for accordion
  & .panel-body ul
  {
    padding-left: 15px;
    padding-top:10px;
    list-style:none;
    a {
      color: inherit;
    }
  }
  //& .form-control{
  //  width: 80%;
  //  margin: 10px auto;
  //  border-radius:8px;
  //  border:1px solid #e5e5e5;
  //  font-size: 12px;
  //  height: auto;
  //}
  & .panel-heading
  {
    background-color: transparent;

  }
  & .panel-title
  {
    font-weight: 400;
  }
  & .panel
  {
    border:none;
  }
}
.dropdown-menu {
  max-width: 220px;
  //max-height: 260px;
 & .no-linkable {
    cursor: default;
  }
  & a{
    .ellipsis;
  }

}
.input-group .dropdown-menu {
  max-width: 520px;
  padding: 4px;
}
.ui-select-match-text{
  & span{
    vertical-align: middle;
  }
}
.ui-select-dropdown
{
  &.dropdown-menu {
    max-width: 100% !important;
  }
}

.modal-dialog{

  & .ibox
  {
    margin-bottom: 0;
  }
}

.modal-dialog{

  &.modal-sm {
    .modal-body {
      overflow: hidden;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
}

.modal-dialog {

  .text-primary,.text-success,.text-info,.text-warning ,.text-danger, .text-muted {
    color: @text-color;
  }

}
.dialog-header-confirm { background-color: @header-bg; }

.dialog-form-title {
  display: block;
  padding-bottom: 10px;
}

.dropdown-menu
{
  li a {
    overflow: hidden;
  }
}

.modal-content-height{
  .modal-dialog {
    &.modal-lg {
      min-height: 350px;
      height: auto;
    }
  }
}
.modal-dialog
{
  &.modal-lg{
    min-height: 90%;
    height: 90%;
  }

  &.modal-sm {
    .modal-body {
      min-height: 70px;
    }
  }
  .modal-content{
    height:100%;
  }

  .modal-body {
    // padding: 0 10px;
    min-height: 260px;
    height: calc(~"100% - " 115px);
    &.height-md {
      min-height: 350px;
    }
    &.height-xs {
      min-height: 150px;
    }

    &.tabbed-dialog {
      margin: 0 35px;
      .nav-tabs {
        margin-bottom: 20px;
      }
    }
    &.wide-tabbed-dialog {
      margin: 0 15px;
      .nav-tabs {
        margin-bottom: 20px;
      }
    }
  }
}

.light-font-weight
{
  font-weight: 400;
}

.assinments-toolbar {
  white-space: normal;
  padding-top: 10px;
}

.confidence-level
{
  white-space:nowrap;
  &.High
  {
    color: @body-bg;
  }
  &.Medium
  {
    color: @body-bg;
  }
  &.Low
  {
    color: @body-bg;
  }
}
.datepicker {
  & th .btn-default {
    border: none;
    background-color: transparent;
    color:#676a6c;
  }
  & .btn-default {
    & .text-info
    {
      color:@navy;
    }
  }
  & .btn-info {
    .btn-flat;
   // .btn-xs;
  }
  & .btn-danger {
    .btn-flat;
//    .btn-xs;
  }
  & .btn-success {
    .btn-flat;
  //  .btn-xs;
  }
  &  .btn:disabled {
  //   color: gray;
  }
  &  .btn:enabled {

  //  color:#676a6c;
  }
}

.confidence-level
{
  white-space:nowrap;
  &.High
  {
    color: @body-bg;
  }
  &.Medium
  {
    color: @body-bg;
  }
  &.Low
  {
    color: @body-bg;
  }
}

.da-i {
  display: inline-block;
  //height: 50px;
  //width: 50px;
  &.da-i-sm
  {
    height: 15px;
    width: 15px;
  }
  &.da-i-md
  {
    height: 25px;
    width: 25px;
  }
  &.da-i-lg
  {
    height: 4em;
    width: 4em;
  }

  //&:before {
  //  content: '';
  //  display: block;
    //  background: url('/assets/svgmin/svg-defs.svg');
   // height: 100%;
  //  width: 100%;
  //  float: left;

 // }




}



.icon-grid {
  width: 30px;
  height: 30px;
}
td.icon-wrap-2-line
{

  padding: 3px 6px !important;
  vertical-align: middle !important;
}
.icon-wrap-1-line {
  width: 21px;
  height: 21px;
  font-size: 21px;
  line-height: 21px !important;
}
.icon-wrap-2-lines {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
}
.icon-wrap {
 color: rgba(120, 10, 20, .7);;
  & svg {
    width:100%;
    height: 100%;
    fill: rgba(120, 10, 20, .7);
    stroke: #000;
  }
  & svg:hover {
    fill: rgba(107, 207, 30, .7);
  }
  &:hover, &.da-i:hover  {
    color:  rgba(107, 207, 30, .7);
  }
  //& svg:hover path {
  //  fill: rgba(0, 0, 0, .7);
  //}
  //
  //& path {
  //  fill: green;
  //}
}


.highchart-div{
  width : 100%;
  height: 100%;
}


.icon-with-text {
  color: #444444;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 13px;
  left: 7px;
  background-color: white;
  line-height: 1;
  font-style: normal;
}

.icon-with-duplications-main-icon {
  position: relative;
}

.icon-with-duplications {
  position: absolute;
  top: 3px;
  left: 4px;
}
.icon-with-duplications-inner-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  color: black;
}
