@media (min-width: 768px) {
  .form-horizontal {
    .control-label-value {
      text-align: left;
    }
    .control-text {
      padding-top: (@padding-base-vertical + 1); // Default padding plus a border
    }
  }

}
