
.form-control {
  background-color: #fff;
  border: 1px solid @pane-border-color;
  border-radius: 4px;
  color: @text-color;
 font-weight: 400;
  font-size: inherit;
 // display: block;
  padding: 3px 5px;
  box-sizing: border-box;
//  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
 // width: 100%;
 // font-size:14px
  &:focus {
    border-color: @navy;
  }


}


.form-control
{
  &.form-control-sm{
    height: 26px;
  }
  &.notice
  {
    .notice;
  }
}
.input-light{
  border-left:none ;
  border-right:none ;
  border-top:none ;
  border-radius:0 ;
}
.login-box .form-control {
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 14px;
}


.input-container
{
  box-sizing: border-box;
 & textarea
 {
   padding-right: 20px;
 }
  & .toolbar
  {
    width: 20px;
  }
}

.header-search-container{

  position: relative;
 // overflow: hidden;
  border: 1px solid @pane-border-color;
  background-color: lighten(@page-title-bg, 4%);
  border-radius: 4px;
  box-sizing: border-box;
  max-width:420px;
  min-width:420px;
  margin: 0 auto;
  padding: 4px 2px;
  & .search-icon
  {

    padding: 0 12px;
  }
    & .ddl
    {

     & .btn-sm
      {
        padding:0 12px 0 0;
      }
    }

  form
  {
    float: left;
    width: 220px;
  }
  input
  {
    float: left;
    display: block;
    margin: 0;
    border: none;
    background: none;
    width: 100%;
    &:focus
    {
      outline: 0;
    }

  }
  & .btn-sm
  {
    padding-top: 0px;
    padding-bottom: 0px;
  }

}
.header-search {
  & small {
    vertical-align: top;
    position: absolute;
    left: 18px;
    top: 30px;
  }
}


.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
  box-shadow: none;
}
.form-control
{
  &.has-right-icon
  {
    padding-right: 30px;
  }
  &.has-right-two-icons
  {
    padding-right: 60px;
  }
  &.has-left-icon
  {
    padding-left: 30px;
  }

}


.right-btn-outside
{
  .btn{
    float: right;
  }
  div {
    overflow: hidden;
    padding-right: 3px;
  }
}


.has-success .form-control {
  border-color: @navy;
}

.has-warning .form-control {
  border-color: @yellow;
}

.has-error .form-control {
  border-color: @red;
}
.form-control.error {
  border: 1px dotted #cc5965;
}

.ui-jqgrid .form-control {
  height: 10px;
  width: auto;
  display: inline;
  padding: 10px 12px;
}

.checkbox-group
{
  & .checkbox{
    display: inline-block;
    margin-right: 10px;
  }
  span.bigcheck {
    display: block;
    padding: 0.5em;;

  }
  span.bigcheck-target {
    font-family: FontAwesome; /* use an icon font for the checkbox */
    font-size: 2em; /* set this to whatever size you want */

  }
  input[type='radio'].bigcheck {
    position: relative;
    left: -999em; /* hide the real checkbox */
  }

  input[type='radio'].bigcheck + span.bigcheck-target:after {
    content: "\f096"; /* In fontawesome, is an open square (fa-square-o) */
  }
  input[type='radio'].bigcheck:checked + span.bigcheck-target:after {
    content: "\f046"; /* fontawesome checked box (fa-check-square-o) */
    color:@navy
  }
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]
{
  margin-left:-15px;
}
.radio-group {
  & ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ccc;
  }

  & ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
  }

 & ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 20px 25px 25px 60px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }

  & ul li:hover label {
    color: #aaa;
  }

  & ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }

 &  ul li:hover .check {
    border: 5px solid #555;
  }

  & ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 9px;
    width: 9px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }

 & input[type=radio]:checked ~ .check {
    border: 5px solid @navy;
  }

 & input[type=radio]:checked ~ .check::before {
    background:  @navy;
  }

  & input[type=radio]:checked ~ label {
    color: @navy;
  }
}

.radio-group2 {
  /* HTML5 Boilerplate accessible hidden styles */
  [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  /* One radio button per line */
  label {
    display: block;
    cursor: pointer;
    line-height: 2.5;
  //  font-size: 1.5em;
  }

  [type="radio"] + span {
    display: block;
  }

  /* the basic, unchecked style */
  [type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.15em #000;
    margin-right: 0.75em;
    transition: 0.5s ease all;
  }

  /* the checked style using the :checked pseudo class */
  [type="radio"]:checked + span:before {
    background: green;
    box-shadow: 0 0 0 0.25em #000;
  }

  /* never forget focus styling */
  [type="radio"]:focus + span:after {
    content: '\0020\2190';
    font-size: 1.5em;
    line-height: 1;
    vertical-align: -0.125em;
  }


  fieldset {
    font-size: 1em;
    border: 2px solid #000;
    padding: 2em;
    border-radius: 0.5em;
  }

  legend {
    color: #fff;
    background: #000;
    padding: 0.25em 1em;
    border-radius: 1em;
  }

  .p {
    text-align: center;
    font-size: 14px;
    padding-top: 120px;
  }
}

