.fill-height {
 // min-height: 100%;
  height: 100%;
}

.fill-width {
  width: 100%;
}
.h-align
{
  margin-left:auto;
  margin-right:auto;
}
.layout-horizontal{
  display:inline-block;
}

.overflow-hidden{
  overflow: hidden;
}

.off-canvas{
  margin: 0 0 0 @sidebar-width;
}

.table
{
  display: table;

}
.table-wrap
{
  display: table;

}

.table-cell{
  display: table-cell;
}

.table-row{
  display: table-row;
}

.width-half
{
  width: 50%;
}

.panel-narrow
{
  width:250px;
}

.top-most-1
{
  z-index: 2000;
}
.top-most-2
{
  z-index: 1000;
}



.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  &.right {
      overflow:hidden !important;
      width: 60px;
      direction:rtl !important;
      TEXT-ALIGN:right!important;
      margin-left:15px!important;
      white-space: nowrap!important;

    &:after{
      position:absolute;left:0px; content:"...";
    }
  }
}
.visible{
  visibility: visible;
}
.no-visible{
  visibility: hidden;
}
.top-right-position {
  position:absolute;
  right:1px;
  top:0px;
}

.top-left-position {
  position:absolute;
  left:1px;
  top:0px;
}

.middle-left-position {
  position:absolute;
  left:0px;
  top:44%;
}

.middle-right-position {
  position:absolute;
  right:0px;
  top:44%;
}

.right-position-ddl-button {
  position:absolute;
  right:1px;
  top:4px;
}

.right-position {
  position:absolute;
  right:1px;

}

.top-right-rel-position {
  position:relative;
  right:1px;
  top:0px;
}
.print-page-break	{ page-break-before: always; }

.vertical-align-flex
{
  display: flex;
  align-items: center;
}
.size-a4-width {
  width: 8.3in;

}
.size-a4 {
  width: 8.3in;
  height: 11.7in;
}
.centerText
{
  text-align: center;
}
.middleText
{
  vertical-align: middle;
}
.noWrap
{
  white-space: nowrap;
}

.no-h-padding{
  padding-left:0 ;
  padding-right:0 ;
}
.hidden-md-mid1-up {
  @media(max-width: 1700px)   {
    .responsive-invisibility();
  }
}

.flex-container-row {
  display: flex;
  flex-flow: row nowrap;
  & .flex-4 {
    flex: 4;
  }

  & .flex-2 {
    flex: 2;
  }

  & .flex-1 {  //flex-grow | flex-shrink | flex-basis
    flex: 1;
  }

  & .auto {
    flex: auto;  //flex: 1 1 auto
  }
  & .initial {
    flex: initial; //flex: 0 1 auto  shrink to min size but does not grow
  }
  & .none {
    flex: none;  //flex: 0 0 auto
  }
  & .end{
    justify-content:flex-end;
  }
  & .start{
    justify-content:flex-start;
  }
  & .right{
    text-align: right;
  }
}

.hidden-md-mid1 {
  @media(min-width:992px) and (max-width: 1029px)   {
    .responsive-invisibility();
  }
}
.hidden-md-mid2 {
  @media (min-width: 1030px) and (max-width: 1199px) {
  .responsive-invisibility();
}
}

.panels-mini {
  .ibox-title {
    white-space: normal;
    line-height: 23px;

  }
  .panel-header .header-item
  {
    vertical-align: super;

  }
}

.dropdown-menu {

  background: white;
  li a {
    &.has-right-icon {
      padding-right: 30px;
    }
    &.has-right-two-icons {
      padding-right: 60px;
    }
    &.has-left-icon {
      padding-left: 30px;
    }
    & .top-right-position {
      right: 5px;
      top: 2px;
    }
  }

  &.fixed-icon {
     li a {
       display: flex;
       flex-direction: row;
       padding: 3px 17px 3px 0px;

       .icon {
         min-width: 22px;
         display: flex;
         justify-content: center;
         align-items: center;
       }
     }
  }
}

.break-text {
  -ms-word-wrap: break-word; /*ie11*/
  word-wrap: break-word; /*edge*/
  word-break: break-word; /*chrome*/
  overflow-wrap: break-word; /*firefox*/
}




