.main-grid
{
  .navbar-nav li  {
    padding: 0 5px;
  }

}
.navbar-inverse  .navbar-nav > .active > a
{
  background-color: @body-bg;
  &:hover
  {
    background-color: @body-bg;
  }
}
.nav > li > a {
  color: @nav-text-color;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav.nav-items-md> li > a {
   padding: 8px;
}

.nav.navbar-right > li > a {
  color: #999c9e;
  &.notice{  // expiration alert
    background: rgba(255, 255, 255, 0.7);
    color: red;
    margin-top: 1px;
    border-radius: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

.loginexpired .nav-expired {
    display: none !important;
}

.nav > li.active > a {
  color: #ffffff;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: darken(@nav-bg, 3%);
  color: white;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
 // background: #fff;
}

.nav.navbar-top-links > li > a:hover, .nav.navbar-top-links > li > a:focus {
  background-color: transparent;
}

.nav > li > a i {
  margin-right: 6px;
}

.navbar {
  border: 0;
}

.navbar-default {
  background-color: transparent;
  border-color: @nav-bg;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 40px;
}

.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}

.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  border-radius: 2px;
}

.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
}

.dropdown-menu > li > a.font-bold {
  font-weight: 600;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.dropdown-messages, .dropdown-alerts {
  padding: 10px 10px 10px 10px;
}

.dropdown-messages li a, .dropdown-alerts li a {
  font-size: 12px;
}

.dropdown-messages li em, .dropdown-alerts li em {
  font-size: 10px;
}

.nav.navbar-top-links .dropdown-alerts a {
  font-size: 12px;
}

.nav-header {
  background: @nav-profil-pattern;
}

.pace-done .nav-header {
  transition:all 0.5s;
}

.nav > li.active{
  border-left: 4px solid darken(@orange, 2%);
  background: darken(@nav-bg, 3%);
}

.nav > li a.inactive {
  color: @disabled-text-color !important;
}

.nav-second-level {
  //  transition-duration: 0.5s;
}

.nav.nav-second-level > li.active {
  border: none;

  ::after {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      border-color: transparent transparent transparent @orange ;
      border-image: none;
      border-style: solid;
      border-width: 14px 10px;
      content: "";
      display: block;
      position: absolute !important;
      left: 0;
      top: 4px;
  }
}

.nav.nav-second-level.collapse[style] {
  height: auto !important;
}

.nav-header a {
  color: #DFE4ED;
}

.nav-header .text-muted {
  color: #8095a8;
}

.minimalize-styl-2 {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
}

.navbar-form-custom {
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
  display: inline-table;
}

.navbar-form-custom .form-group {
  margin-bottom: 0;
}

.nav.navbar-top-links a {
  font-size: 14px;
}

.navbar-form-custom .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 14px;
  height: 60px;
  margin: 0;
  z-index: 2000;
}

.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 12px;
}

.arrow {
  float: right;
}

.fa.arrow:before {
  content: "\f104";
}

.active > a > .fa.arrow:before {
  content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}

.nav-second-level li a {
  padding: 7px 10px 7px 10px;
  padding-left: 52px;
}

.nav-third-level li a {
  padding-left: 62px;
}

.nav-second-level li:last-child {
  margin-bottom: 10px;
}

body:not(.fixed-sidebar).mini-navbar .nav li:hover > .nav-second-level, .mini-navbar .nav li:focus > .nav-second-level {
  display: block;
  border-radius: 0 2px 2px 0;
  min-width: 140px;
  height: auto;
}

body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
  font-size: 12px;
  border-radius: 3px;
}

.fixed-nav .slimScrollDiv #side-menu {
  padding-bottom: 60px;
}

.mini-navbar .nav-second-level li a {
  padding: 10px 10px 10px 15px;
}

.mini-navbar .nav-second-level {
  position: absolute;
  left: 70px;
  top: 0px;
  background-color: @nav-bg;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
}

.mini-navbar li.active .nav-second-level {
  left: 65px
}

.navbar-default .special_link a {
  background: @orange;
  color: white;
}
.navbar-default .special_link a:hover {
  background: #17987e !important;
  color: white;
}
.navbar-default .special_link a span.label{
  background: #fff;
  color: @navy;
}

.navbar-default .landing_link a {
  background: lighten(@navy, 3%);
  color: white;
}
.navbar-default .landing_link a:hover {
  background: @navy !important;
  color: white;
}
.navbar-default .landing_link a span.label{
  background: #fff;
  color: lighten(@navy, 3%);
}

.logo-element {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: none;
  padding: 18px 0;
}

.pace-done .navbar-static-side, .pace-done .nav-header, .pace-done li.active, .pace-done .off-canvas, .pace-done .footer {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-fixed-top {
  background: @header-bg;
  transition-duration: 0.5s;
  border-bottom: 1px solid #e7eaec !important
}

.navbar-logo {
  max-width: 120px;
  width: 40px;
  margin-top: -5px;
  margin-left: -5px;
  background: @header-bg;
}

.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}

.body-small .navbar-fixed-top {
  margin-left: 0px;
}

body.mini-navbar .navbar-static-side {
  width: 70px;
}

body.mini-navbar .profile-element, body.mini-navbar .nav-label, body.mini-navbar .navbar-default .nav li a span {
  display: none;
}

body:not(.fixed-sidebar).mini-navbar .nav-second-level {
  display: none;
}

body.mini-navbar .navbar-default .nav > li > a {
  font-size: 16px;
}

body.mini-navbar .logo-element {
  display: block;
}

body.mini-navbar .nav-header {
  padding: 0;
  background-color: @orange;
}

body.mini-navbar .off-canvas {
  margin: 0 0 0 70px;
}

body.fixed-sidebar.mini-navbar .footer {
  margin: 0 0 0 0px;
}

body.mini-navbar .off-canvas {
  margin: 0 0 0 70px;
}

body.fixed-sidebar .navbar-static-side {
  position: fixed;
  width: @sidebar-width;
  z-index: 101;
  height: 100%;
}

body.fixed-sidebar.mini-navbar .navbar-static-side {
  width: 0px;
}

body.fixed-sidebar.mini-navbar .off-canvas {
  margin: 0 0 0 0px;
}

body.body-small.fixed-sidebar.mini-navbar .off-canvas {
  margin: 0 0 0 @sidebar-width;
}

body.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
  width: @sidebar-width;
}

.fixed-sidebar.mini-navbar .nav li:focus > .nav-second-level {
  display: block;
  height: auto;
}

body.fixed-sidebar.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
  font-size: 12px;
  border-radius: 3px;
}

.fixed-sidebar.mini-navbar .nav-second-level li a {
  padding: 10px 10px 10px 15px;
}

.fixed-sidebar.mini-navbar .nav-second-level {
  position: relative;
  padding: 0;
  font-size: 13px;
}

.fixed-sidebar.mini-navbar li.active .nav-second-level {
  left: 0px
}

body.fixed-sidebar.mini-navbar .navbar-default .nav > li > a {
  font-size: 13px;
}

body.fixed-sidebar.mini-navbar .nav-label,
body.fixed-sidebar.mini-navbar .navbar-default .nav li a span {
  display: inline;
}

.fixed-sidebar.mini-navbar .nav-second-level li a {
  padding: 7px 10px 7px 52px
}

.fixed-sidebar.mini-navbar .nav-second-level {
  left: 0px
}


/* Horizontal Top navigation */
.top-navigation .off-canvas {
  margin-left: 0;
}

.top-navigation .pace .pace-progress {
  left: 0;
}

.top-navigation .navbar-nav .dropdown-menu > .active > a {
  background: white;
  color: @navy;
  font-weight: bold;
}

.white-bg .navbar-fixed-top, .white-bg .navbar-static-top {
  background: #fff;
}

.top-navigation .navbar {
  margin-bottom: 0;
}

.top-navigation .nav > li > a {
  padding: 15px 20px;
  color: #676a6c;
}

.top-navigation .nav > li a:hover, .top-navigation .nav > li a:focus {
  background: #fff;
  color: @orange;
}

.top-navigation .nav > li.active {
  background: #fff;
  border: none;
}
.top-navigation .nav > li.active > a {
  color: @orange;
}
.top-navigation .navbar-right {
  margin-right: 10px;
}

.top-navigation .navbar-nav .dropdown-menu {
  box-shadow: none;
  border: 1px solid #e7eaec;
  z-index: 2000;
}

.top-navigation .dropdown-menu > li > a {
  margin: 0;
  padding: 7px 20px;
}

.navbar .dropdown-menu {
  margin-top: 0px;
}

.top-navigation .navbar-brand {
  background: @navy;
  color: #fff;
  padding: 15px 25px;
}

.top-navigation .navbar-top-links li:last-child {
  margin-right: 0;
}

.top-navigation .navbar-header {
  /*display: inline-block;*/
  /*float: none;*/
}

.top-navigation.mini-navbar .off-canvas, .top-navigation.body-small.fixed-sidebar.mini-navbar .off-canvas, .mini-navbar .top-navigation .off-canvas, .body-small.fixed-sidebar.mini-navbar .top-navigation .off-canvas {
  margin: 0;
}

.top-navigation.fixed-nav #wrapper, .fixed-nav #wrapper.top-navigation {
  margin-top: 50px;
}

.top-navigation .footer.fixed {
  margin-left: 0 !important;
}

.top-navigation .wrapper.wrapper-content {
  padding: 40px;
}
.top-navigation.body-small .wrapper.wrapper-content, .body-small  .top-navigation .wrapper.wrapper-content {
  padding: 40px 0px 40px 0px;
}

.navbar-toggle {
  background-color: @orange;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
}

.top-navigation .navbar-nav .open .dropdown-menu > li > a, .top-navigation .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 10px 15px 10px 20px;
}

@media (min-width: 768px) {
  .top-navigation ul.nav.navbar-nav li.dropdown:hover > ul.dropdown-menu {
    /*display: block;*/
  }
}

@media (max-width: 768px) {
  .top-navigation .navbar-header {
    display: block;
    float: none;
  }
}

.menu-visible-lg, .menu-visible-md {
  display: none !important;
}

@media (min-width: 1200px) {
  .menu-visible-lg {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .menu-visible-md {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .menu-visible-md {
    display: block !important;
  }
  .menu-visible-lg {
    display: block !important;
  }
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: inherit;
  border:none;
}

.nav.navbar-nav-vertical
{
  & li.active {
    background: transparent;
    & a {
      color: @text-color;
    }
  }
  & li a {
    color: @text-color;
  }
}
