.panels-container
{
  background-color: transparent;
  .main-panels
  {
    background-color: transparent;
  }
}
.panel-header {
 // overflow: hidden; is disturbing dropdown from appearing
  white-space: nowrap;
  padding: 10px 10px 5px 10px;
  width: 100%;
  display: inline-block;
  box-sizing:border-box;
  //  display: table-row;
  &.ibox-title {

    height:auto;
    padding: 5px 10px 0px 20px;
  }
  .header-item {
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
    padding: 0 3px; ;
    & h4{
      display: inline-block;
    }
    &:first-child {
      padding-left: 0px;

    }
    &:last-child {
      padding-right: 0px;

    }
    .btn-link {

    }


  }
}
.panels-mini{
  & .ibox-title {

   padding: 14px 0px 7px;
  }
}
.panels-container {
  //display: table;
  padding-bottom: 5px;
  box-sizing:border-box;
  .panel-resizable {
    overflow-y: hidden;
    overflow-x: auto;
    box-sizing:border-box;


    .panel-body{
      padding: 0;
    //  height: 100%;

    }
  }
}
.panel-header {



  .selected-item-name {
    // font-style: oblique;
    color: @navy;

  }

  .header-item-title{
    max-width: 50%;
    position:relative;margin: 0;line-height: 26px;vertical-align: top;

  }
  @media only screen and (max-width: 1481px)
  {
    .header-item-title{
      max-width: 38%;
    }
  }
  @media only screen and (max-width: 1024px)
  {
    .header-item-title{
      max-width: 18%;
    }
  }

}
.panels-container {

  .panel-resizable {
    background-color: @panel-background-color;
    border-radius: 3px;
  //  border: 1px solid @pane-border-color;
    padding: 0px;
    &.active
    {
  //    border: 2px solid red;
    }

  }
}




