.search-box {
  position: relative;
  width: 220px;

  &:focus {
    outline: 1px solid red;
  }

  input {
 //   border: 1px solid #c0bbbb;
 //   border-radius: 4px;
    padding-right: 25px;
    padding-left: 25px;
    box-sizing: border-box;
    width: 100%;
  //  line-height: 20px;
    display: inline-block;

    &:focus {
      outline: none;
   //   border: 1px solid #29B194;
    }
  }

  .icon {
    position: absolute;
    left: 7px;
    top: 3px;
    cursor: pointer;
    font-size: 12px;
  }

  &.search-box-no-search-on-enter{
    .icon {
      cursor: unset;
    }
  }


  .clear {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;

    &:before {
      content:"\2715";
    }
  }
}
.dropdown-menu{
  .search-box.search-box-full-width{
    margin: 10px;
  }
}
.isIE .search-box {
  input{
  //  padding-right:0 ;
  }
  .clear {
   // display: none;
  }
}

.increase-popover-width {
  max-width: 500px;
  min-width: 500px;
}
