.toggle  {
  position: relative;
  width: 45px;
  background: #fff;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.toggle-checkbox {
  display: none;
}
.toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #a29e9e;
  border-radius: 20px;
}
.toggle-inner {
  display: block;
  margin-left: 2px;
  transition: margin 0.3s ease-in 0s;
}
.toggle-inner:before, .toggle-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 18px;
  padding: 0;
  line-height: 18px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial,
  sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.toggle-inner:before {
  content: "";
  padding-left: 10px;
  color: #FFFFFF;
}
.toggle-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #FFFFFF;
  color: #FFFFFF;
  text-align: right;
}
.toggle-switch {
  display: block;
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #FFFFFF;
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 22px;
  border: 1px solid #bcbcbc;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  margin-left: 0;
}
.toggle-checkbox:checked + .toggle-label .toggle-switch {
  right: 0px;
  background: #5e80a0;
  border-color: #5e80a0;
}
