//--------------------------------------------------------------------------------------
// inspired by: https://github.com/Intellipharm/angular-tooltips
//--------------------------------------------------------------------------------------

@da-toolbar-color: #1d1d1d;
@da-toolbar-bg-color: #FFFFF2;
@da-toolbar-border-color: #8d8d8d;
@da-tooltip-arrow-margin-top: -6px;
@da-tooltip-arrow-border-width: 6px;

.da-tooltip {
  position: absolute;
  background: @da-toolbar-bg-color;
  z-index: 999999999999999999;
  padding: 3px;
  border: 1px solid @da-toolbar-border-color;
  color: @da-toolbar-color;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 250px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  word-wrap:break-word;
}
.da-tooltip:before, .da-tooltip:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
.da-tooltip:before {
  border-color: transparent;
  border-width: 8px; }
.da-tooltip:after {
  border-color: transparent;
  border-width: @da-tooltip-arrow-border-width; }
.da-tooltip.da-tooltip-top:before, .da-tooltip.da-tooltip-top:after, .da-tooltip.da-tooltip-top-center:before, .da-tooltip.da-tooltip-top-center:after, .da-tooltip.da-tooltip-top-middle:before, .da-tooltip.da-tooltip-top-middle:after {
  top: 100%;
  left: 50%; }
.da-tooltip.da-tooltip-top:before, .da-tooltip.da-tooltip-top-center:before, .da-tooltip.da-tooltip-top-middle:before {
  margin-left: -8px;
  border-top-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-top:after, .da-tooltip.da-tooltip-top-center:after, .da-tooltip.da-tooltip-top-middle:after {
  margin-left: @da-tooltip-arrow-margin-top;
  border-top-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-top-right:before, .da-tooltip.da-tooltip-top-right:after {
  top: 100%;
  right: calc(100% - 8px); }
.da-tooltip.da-tooltip-top-right:before {
  margin-right: -8px;
  border-top-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-top-right:after {
  margin-right: @da-tooltip-arrow-margin-top;
  border-top-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-right-top:before, .da-tooltip.da-tooltip-right-top:after {
  top: calc(100% - 8px);
  right: 100%; }
.da-tooltip.da-tooltip-right-top:before {
  margin-top: -8px;
  border-right-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-right-top:after {
  margin-top: @da-tooltip-arrow-margin-top;
  border-right-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-right:before, .da-tooltip.da-tooltip-right:after, .da-tooltip.da-tooltip-right-center:before, .da-tooltip.da-tooltip-right-center:after, .da-tooltip.da-tooltip-right-middle:before, .da-tooltip.da-tooltip-right-middle:after {
  top: 50%;
  right: 100%; }
.da-tooltip.da-tooltip-right:before, .da-tooltip.da-tooltip-right-center:before, .da-tooltip.da-tooltip-right-middle:before {
  margin-top: -8px;
  border-right-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-right:after, .da-tooltip.da-tooltip-right-center:after, .da-tooltip.da-tooltip-right-middle:after {
  margin-top: @da-tooltip-arrow-margin-top;
  border-right-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-right-bottom:before, .da-tooltip.da-tooltip-right-bottom:after {
  bottom: calc(100% - 8px);
  right: 100%; }
.da-tooltip.da-tooltip-right-bottom:before {
  margin-bottom: -8px;
  border-right-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-right-bottom:after {
  margin-bottom: @da-tooltip-arrow-margin-top;
  border-right-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-bottom-right:before, .da-tooltip.da-tooltip-bottom-right:after {
  bottom: 100%;
  right: calc(100% - 8px); }
.da-tooltip.da-tooltip-bottom-right:before {
  margin-right: -8px;
  border-bottom-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-bottom-right:after {
  margin-right: @da-tooltip-arrow-margin-top;
  border-bottom-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-bottom:before, .da-tooltip.da-tooltip-bottom:after, .da-tooltip.da-tooltip-bottom-center:before, .da-tooltip.da-tooltip-bottom-center:after, .da-tooltip.da-tooltip-bottom-middle:before, .da-tooltip.da-tooltip-bottom-middle:after {
  bottom: 100%;
  left: 50%; }
.da-tooltip.da-tooltip-bottom:before, .da-tooltip.da-tooltip-bottom-center:before, .da-tooltip.da-tooltip-bottom-middle:before {
  margin-left: -8px;
  border-bottom-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-bottom:after, .da-tooltip.da-tooltip-bottom-center:after, .da-tooltip.da-tooltip-bottom-middle:after {
  margin-left: @da-tooltip-arrow-margin-top;
  border-bottom-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-bottom-left:before, .da-tooltip.da-tooltip-bottom-left:after {
  bottom: 100%;
  left: calc(100% - 8px); }
.da-tooltip.da-tooltip-bottom-left:before {
  margin-left: -8px;
  border-bottom-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-bottom-left:after {
  margin-left: @da-tooltip-arrow-margin-top;
  border-bottom-color: #000000; }
.da-tooltip.da-tooltip-left-bottom:before, .da-tooltip.da-tooltip-left-bottom:after {
  bottom: calc(100% - 8px);
  left: 100%; }
.da-tooltip.da-tooltip-left-bottom:before {
  margin-bottom: -8px;
  border-left-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-left-bottom:after {
  margin-bottom: @da-tooltip-arrow-margin-top;
  border-left-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-left:before, .da-tooltip.da-tooltip-left:after, .da-tooltip.da-tooltip-left-center:before, .da-tooltip.da-tooltip-left-center:after, .da-tooltip.da-tooltip-left-middle:before, .da-tooltip.da-tooltip-left-middle:after {
  top: 50%;
  left: 100%; }
.da-tooltip.da-tooltip-left:before, .da-tooltip.da-tooltip-left-center:before, .da-tooltip.da-tooltip-left-middle:before {
  margin-top: -8px;
  border-left-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-left:after, .da-tooltip.da-tooltip-left-center:after, .da-tooltip.da-tooltip-left-middle:after {
  margin-top: @da-tooltip-arrow-margin-top;
  border-left-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-left-top:before, .da-tooltip.da-tooltip-left-top:after {
  top: calc(100% - 8px);
  left: 100%; }
.da-tooltip.da-tooltip-left-top:before {
  margin-top: -8px;
  border-left-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-left-top:after {
  margin-top: @da-tooltip-arrow-margin-top;
  border-left-color: @da-toolbar-bg-color; }
.da-tooltip.da-tooltip-top-left:before, .da-tooltip.da-tooltip-top-left:after {
  top: 100%;
  left: calc(100% - 8px); }
.da-tooltip.da-tooltip-top-left:before {
  margin-left: -8px;
  border-top-color: @da-toolbar-border-color; }
.da-tooltip.da-tooltip-top-left:after {
  margin-left: @da-tooltip-arrow-margin-top;
  border-top-color: @da-toolbar-bg-color;
}

//----------------------------------------------

.da-tooltip .table{
   display: table-cell;

  .row {
    display: table-row;

    .col {
      display: table-cell;
      text-align: left;
      padding:3px 5px 3px 0;

      &.right {
        padding:3px 0;
        text-align: right;
      }
    }
  }
}



////////////////////////////////////////////// temp

.da-fix-ul{
  position: absolute;
  background: white;
  z-index: 9999;
  padding: 3px;
  display: block !important;
  border: 1px solid @da-toolbar-border-color;
  color: @da-toolbar-color;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 250px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}


// Base class
.tooltip {
  &.tapped {
    position: fixed !important;
    right: 0 !important;
    top: 40px !important;
    left: auto !important;
    background-color: #ffffff !important;
    opacity: 1 !important;

    .small-detail {
      display: none !important;
    }

    .big-detail {
      display: inline-block !important;
    }

    #tackTooltip {
      color: #F47521;
    }
  }
}
