<div class="modal-header"  [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">View chart widget</span>
  <a  class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <dashboard-widget [disableOperations]="true" [userViewDataDto]="userViewDataDtoItem"></dashboard-widget>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group" *ngIf="data.enableSave"><button type="button" class="btn btn-primary" (click)="save()" >Save</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="close()">Close</button></div>
  </div>
</div>
