
<!-- Main view  -->
<div ng-init="Init()" class="fill-height overflow-hidden">
  <div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-11">
      <h2>File groups - <strong>{{groupName}}</strong> <span class="small">({{groupId}})</span></h2>
      <ol class="breadcrumb">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/groups/grouping_report">Grouping Report</a>
        </li>
        <li class="active">
          <strong>File groups</strong>
        </li>
      </ol>
    </div>
  </div>
  <div ng-if="alerts" ><alert ng-repeat="alert in alerts.alerts" type="{{alert.type}}" close="alerts.closeAlert($index)">{{alert.msg}}</alert></div>

  <files-info-grid group-info-id="$stateParams.groupId" ></files-info-grid>


</div>
