.file-grid-item {

  display: flex;
  font-size: 11px;
  color: gray;

  .from {
    display: flex;
    margin-right: 20px;

    .dd-wrapper-from {
      max-width: 170px;

      .dropdown-toggle {
        display:flex;
        cursor: pointer;
        align-items: center;
      }
    }
  }

  .to {
    display: flex;
    flex: 1;
  }

  .from, .to {
    .title {
      color: lightgray;
      padding-right: 5px;

      .icon {
        color: #cdcdcd;
      }
    }
  }

  .recipient-count {
    padding-left: 5px;
    font-weight: 600;
    color: #b4b3b3;
  }
}

.k-state-selected {
  .file-grid-item {
    color: #666465;

    .from, .to {
      .icon, .title {
        color: #3c3c3c;
      }

    }

    .recipient-count {
      color: #000;
    }

  }
}
