<div class="flex-container-col  dashboard-item-simple">
  <div class="header-panel">

    <div class="header-line" >
      <div class="left-panel">
        <div class="header-item"  >
          <h3>
            <span class="breadcrumb-current-step">Search </span>
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <div class="search-container">
      <textarea id="someInput" class="search-text-input" [(ngModel)]='searchText' (keydown)="searchKeyDown($event)"  type="text"></textarea>
      <div class="auto-complete-div" *ngIf="acOptions.length > 0 ">
        <div *ngFor="let acOption of acOptions;let ind = index" class="auto-complete-item" (click)="selectACItem(acOption)" [ngClass]="{'selected' : ind == selectedSearchIndex}">
          {{ acOption }}
        </div>
      </div>

      <button class="btn btn-flat btn-xs search-btn" (click)="doSearch()" >
        Search
      </button>
    </div>


    <!-- mwl-text-input-autocomplete-container>
      <textarea
        placeholder="Type @ to search..."
        class="form-control"
        rows="5"
        [(ngModel)]="formControlValue"
        mwlTextInputAutocomplete
        [findChoices]="findChoices"
        [getChoiceLabel]="getChoiceLabel">
      </textarea>
    </mwl-text-input-autocomplete-container -->
  </div>

  <div class="search-results-div">
    <tree-grid  *ngIf="currentData"
                [treeGridData]="currentData"
                [treeGridEvents]="treeGridEvents"
                [treeGridItemComponent]="FilesItemGridComponent" >
    </tree-grid>
  </div>
</div>
