@import "../../../common/discover/components/item-grids/files-item-grid/files-item-grid";

search-page {
  .search-container {
    width: 100%;
    padding: 10px;
    height: 80px;
    padding-right: 70px;
    position: relative;
  }

  .search-text-input {
    width: 100%;
    border : solid 1px #cccccc;
    height: 100%;
  }

  .auto-complete-div {
    background-color: white;
    border : solid 1px #cccccc;
    position: absolute;
    left: 10px;
    right: 70px;
    margin-top: -7px;
    z-index: 1111;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .auto-complete-item {
    padding: 10px;
  }

  .auto-complete-item.selected {
    background-color: #5c9ccc;
    color: #ffffff;
  }

  .auto-complete-item:hover {
    background-color: #efefef;
  }

  .auto-complete-item.selected:hover {
    background-color: #5c9ccc;
  }

  .search-btn {
    position: absolute;
    right:10px;
    bottom:10px;
  }

  .search-results-div {
    position: absolute;
    top: 120px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

}
