<div class="grid-header grid-header-basic">
  <div class="item fieldName" [attr.data-col-name]="'name'" [attr.data-col-sortable]="true">Name</div>
  <div class="item fieldDescription">Description</div>
</div>

