<div class="main-da-select-input-div" ngbDropdown ngbDropdownReposition [placement]="openInTop ? 'top' : 'bottom'" (openChange)="onDropDownOpenChanged($event)"  #myDrop="ngbDropdown" >
  <span  class="selected-text" ngbDropdownAnchor [ngClass]="{'disabled' : disabled, 'not-clickable' : onlyForDisplay}"  *ngIf="!inUpdateMode" (click)="!disabled && !onlyForDisplay && changeToUpdateMode()">
    <span class="selected-text-span no-special-tooltip" title="{{ selectedName ? selectedName : emptyValueMsg}}">{{ selectedName ? selectedName : emptyValueMsg }}</span>
    <span class="selected-arrow fa fa-caret-down" [ngClass]="{'fa-caret-up' :  openInTop,  'fa-caret-down' : !openInTop}"></span>
  </span>
  <input *ngIf="inUpdateMode" #selectInputBox ngbDropdownAnchor (keydown.enter)="onEnterClick()" class="form-control search-input" [(ngModel)]="searchText"  >
  <div (mousedown)="ddMenuMouseDown($event)"  *ngIf="availableOptions.length > 0 || newPopupComponent" class="da-select-input-options-box" ngbDropdownMenu >
      <div *ngIf="newPopupComponent" class="create-new-btn">
        <span class="btn btn-flat btn-sm" (mousedown)="openNewPopup()" >Create new</span>
      </div>
      <span *ngFor="let aOption of availableOptions" (click)="(aOption[displayedTextField] || aOption[idField]) && doSelectItem(aOption)" title="{{ aOption[displayedTextField] }}" class="input-option no-special-tooltip" [ngClass]="{'selected' : aOption[displayedTextField] == selectedName, 'empty-line' : (!aOption[displayedTextField] && !aOption[idField]) }">
        <span *ngIf="aOption[displayedTextField] || aOption[idField]">{{ aOption[displayedTextField] }}</span>
      </span>
  </div>
</div>
