da-select-input {
  width:100%;

  .dropdown-toggle::after {
    display:none !important;
  }

  .not-clickable {
    cursor: default !important;
    .fa-caret-down {
      display: none;
    }
  }

  .selected-text-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  .main-da-select-input-div {
    width:100%;
    position: relative;
    display: grid;
  }


  .selected-text {
    width:100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #676a6c;
    font-weight: 400;
    font-size: inherit;
    padding: 6px 5px;
    box-sizing: border-box;
    height : calc(1.9725rem + 2px);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
    display: flex;

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }

    .selected-arrow {
      position: absolute;
      right:10px;
      top: 8px;
    }
  }

}

.da-select-input-options-box {
  width: 100%;
  max-height: 150px;
  z-index: 1000;
  position: absolute;
  margin-top: -1px;
  border-left: solid 1px #18a689 ;
  border-right: solid 1px #18a689 ;
  border-bottom: solid 1px #18a689 ;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow-y: auto !important;
  padding: 0px;

  .input-option {
    display: block;
    padding: 6px 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.selected {
      background-color:  #428bca;
      color : #ffffff;
    }

    &.empty-line {
      border-top: solid 1px #cccccc;
      height: 2px;
      margin: 1px 0px;
      display: inline-block;
      width: 100%;
      padding: 0px;
    }
  }

  .input-option:hover {
    background-color: #EFEFEF;
  }

  .input-option.selected:hover {
    background-color:  #428bca;
  }

  .create-new-btn {
    color : #0b93d5;
    text-decoration: underline;
    padding: 6px 10px;
    cursor: pointer;

    .btn {
      font-size: 12px;
    }
  }
}
