
<div class="flex-container-col">
  <div class="header-panel">
    <toolbar *ngIf="isMngScansConfigUser" [exportActionItem]="exportActionItem" [settingsActionItems]="settingsActionItems" [title]="'Date partitions'" [totalElements]="totalElements"></toolbar>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid
      [treeGridData]="dateFilterData"
      [inTreeMode]="false"
      [treeGridEvents]="treeGridEvents"
      [hostComponent]="this"
      [keepOpenNodes]="true"
      [treeGridHeaderComponent]="DateFilterGridHeaderComponent"
      [treeGridItemComponent]="DataFilterItemGridComponent">
    </tree-grid>
  </div>
</div>

