biz-list-monitor {
  biz-list-monitor-grid-header {
    width: 100%;
    .grid-header {
      .item {
        &.bizListName {
          flex: 1 0 165px;
        }
        &.activeOrInactive {
          flex: 0 1 60px;
        }
        &.bizListType {
          flex: 0 1 100px;
        }
        &.bizListMembersNum {
          flex: 0 1 150px;
        }
        &.state {
          flex: 0 1 200px;
        }
        &.searchPhase {
          flex: 0 1 100px;
        }
        &.searchMember {
          flex: 0 1 300px;
        }

      }
    }
  }
}
