<div class="grid-header grid-header-basic">
  <div class="item bizListName" >{{ 'BIZ_LIST_MON.HEADER.NAME' | translate}}</div>
  <div class="item activeOrInactive">{{ 'BIZ_LIST_MON.HEADER.ACTIVE' | translate}}</div>
  <div class="item bizListType" >{{ 'BIZ_LIST_MON.HEADER.TYPE' | translate}}</div>
  <div class="item bizListMembersNum" >{{ 'BIZ_LIST_MON.HEADER.MEMBERS' | translate}}</div>
  <div class="item state" >{{ 'BIZ_LIST_MON.HEADER.STATUS' | translate}}</div>
  <div class="item searchMember">{{ 'BIZ_LIST_MON.HEADER.PROGRESS' | translate}}</div>
</div>
