<div #el class="grid-row">
  <div class="item fieldName  title-primary">
    <i class="ion-clock" style="padding-right: 10px ; font-size: 18px"></i>
    <a [queryParams]="{findId : this.dataItem.item.scheduleGroupDto.id}" [routerLink]="['/'+RouteUrls.SettingsScheduleGroups]" class="da-link-btn"  >{{  dataItem.item.scheduleGroupDto.name }}</a>
    <span style="margin-left: 4px;" *ngIf="dataItem.item.runStatus == ERunStatus.RUNNING" class="fa fa-cog fa-spin " title="{{ RUNNING_ICON_TITLE | translate}}"></span>
  </div>
  <div class="item folders">
    <i class="ion-ios-briefcase-outline" style="padding-right: 10px ; font-size: 18px"></i>
    <a  class="da-link-btn" [routerLink]="['/scanni/ActiveScans']" [queryParams]="{scheduleGroup : dataItem.item.scheduleGroupDto.id,scheduleGroupName : dataItem.item.scheduleGroupDto.name }">{{dataItem.item.scheduleGroupDto.rootFolderIds.length | number }}</a>
  </div>
  <div class="item status" >
    <status-icon [status]="dataItem.item.runStatus"></status-icon>
    <span>{{'STATUS.'+dataItem.item.runStatus | translate }}</span>
  </div>
  <div class="item period">
    {{ summaryText }}
  </div>
  <div class="item nextScan" title="{{ dataItem.item.nextPlannedWakeup | date:'dd-MMM-yy HH:mm'  }}">{{   nextScanTime| period }}</div>

  <div class="item reScan" >
    <div class="title-secondary"   (click)="setActive(!dataItem.item.scheduleGroupDto.active)">
      <span *ngIf="dataItem.item.scheduleGroupDto.active"  title="{{ dataItem.item.scheduleGroupDto.name}} is active"><span class="fa fa-toggle-on icon-item " ></span> </span>
      <span *ngIf="!dataItem.item.scheduleGroupDto.active"   title="{{ dataItem.item.scheduleGroupDto.name}} is not active" class="notice"><span class="fa fa-toggle-off notice icon-item" ></span> </span>
    </div>
  </div>


  <div class="item lastScan" title="">
    <span *ngIf="dataItem.item.lastCrawlRunDetails">{{   dataItem.item.lastCrawlRunDetails.scanStartTime| date: CommonConfig.dateTimeFormat }}</span>
    <span *ngIf="this.lastScanTime" title="Ended at {{  this.lastEndTime | date:'dd-MMM-yy HH:mm'  }}"> ( {{  this.lastScanTime | period }} )</span>
  </div>

  <div class="item actions ddl-cell" title="">

    <span  class="icon-button play" *ngIf="!afterStartLoading && dataItem.item.runStatus && (dataItem.item.runStatus != ERunStatus.RUNNING && dataItem.item.runStatus != ERunStatus.PAUSED && dataItem.item.runStatus != ERunStatus.SUSPENDED)" title="{{ 'SGROUPS.TITLE.RUN' | translate }}" (click)="runScanGroup()"><i class="fa fa-play"></i></span>
    <span class="icon-button play" *ngIf="afterStartLoading && dataItem.item.runStatus && (dataItem.item.runStatus != ERunStatus.RUNNING && dataItem.item.runStatus != ERunStatus.PAUSED && dataItem.item.runStatus != ERunStatus.SUSPENDED)"><i class="fa fa-spinner fa-spin"></i></span>

    <span  class="icon-button play"  *ngIf="!afterResumeLoading && dataItem.item.runStatus && (dataItem.item.runStatus == ERunStatus.PAUSED || dataItem.item.runStatus == ERunStatus.SUSPENDED)" (click)="resumeScanGroup()"  title="{{ 'SGROUPS.TITLE.RESUME' | translate }}" ><i class="fa fa-play"></i></span>
    <span  class="icon-button play"  *ngIf="afterResumeLoading && dataItem.item.runStatus && (dataItem.item.runStatus == ERunStatus.PAUSED || dataItem.item.runStatus == ERunStatus.SUSPENDED)"><i class="fa fa-spinner fa-spin"></i></span>


    <span  class="icon-button stop"  *ngIf="!afterStopLoading && dataItem.item.runStatus && (dataItem.item.runStatus == ERunStatus.PAUSED || dataItem.item.runStatus == ERunStatus.SUSPENDED)" (click)="stopScanGroup()"  title="{{ 'SGROUPS.TITLE.STOP' | translate }}" ><i class="fa fa-stop"></i></span>
    <span  class="icon-button stop"  *ngIf="afterStopLoading && dataItem.item.runStatus && (dataItem.item.runStatus == ERunStatus.PAUSED|| dataItem.item.runStatus == ERunStatus.SUSPENDED) "><i class="fa fa-spinner fa-spin"></i></span>


    <span  class="icon-button pause"  *ngIf="!afterPauseLoading && dataItem.item.runStatus && dataItem.item.runStatus == ERunStatus.RUNNING " title="{{ 'SGROUPS.TITLE.PAUSE' | translate }}"  (click)="pauseScanGroup()"><i class="fa fa-pause"></i></span>
    <span  class="icon-button pause"  *ngIf="afterPauseLoading && dataItem.item.runStatus && dataItem.item.runStatus == ERunStatus.RUNNING "><i class="fa fa-spinner fa-spin"></i></span>

    <da-drop-down [openOnLeft]="true" [alsoOpenInTop]="true" [withArrow]="false" [enabled]="true" [dropDownItems]="additionalDropDownItems" style="float: right;">
      <span  class="icon-button options" title="{{ 'SGROUPS.TITLE.MORE' | translate }}"  ><i class="fa fa-ellipsis-v"></i></span>
    </da-drop-down>


    <!-- span  class="icon-button arrow-right"  (click)="viewRootFolder()"><i class="fa fa-arrow-right"></i></span-->

  </div>
</div>

