schedule-group {
  schedule-group-item-grid {
    width: calc(100% - 23px);
    .item {
      &.fieldName {
        flex: 1 0 150px;
        word-break: break-all;
      }
      &.folders {
        flex: 0 1 100px;
      }
      &.period {
        flex: 0 1 250px;
      }
      &.status {
        flex: 0 1 120px;
      }
      &.nextScan {
        flex: 0 1 130px;
      }
      &.reScan {
        flex: 0 1 70px;

        .title-secondary {
          cursor: pointer;
        }
      }
      &.lastScan {
        flex: 0 1 250px;
      }
      &.actions {
        flex: 0 0 100px;
        min-width: 100px;
      }
    }
  }
}
