departments-item-grid {
  width: 100%;
  position: relative;
  .item {
    &.fieldName {
      flex: 1 0 125px;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      max-width: 760px;
    }
    &.fieldDescription {
      flex: 1 0 150px;
      margin-right: 100px;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      max-width: 900px;
    }
  }
}
