<div #el class="grid-row">
  <div class="item fieldName title-primary">
    <i class="icon fa fa-building grid-field-icon tag-{{getDepartmentStyleId(dataItem.item)}} opacity-depth-{{getDepartmentStyleId(dataItem.item)}}" style="padding-right: 10px ; font-size: 14px"></i>
    <a class="no-special-tooltip" title="{{dataItem.item.name}}">{{dataItem.item.name}}</a>
  </div>

  <div class="item fieldDescription">
    <a>{{ dataItem.item.description }}</a>
  </div>
</div>
