<div class="top-line" >

</div>

<div class="main-div">
  <div class="main-div-tree-div">
    <div  class="da-dashboard-item">
      <loader [show]="loading"></loader>
      <div class="da-item-header">
        Server Components

        <da-drop-down *ngIf="!isExporting" style="float: right" [openOnLeft]="true" [enabled]="true" [dropDownItems]="rootFolderDropDownItems">
          <span class="fa fa-bars header-options-btn" ></span>
        </da-drop-down>
        <span class="header-options-spinner  da-right-spinner" *ngIf="isExporting"><i class="fa fa-spinner fa-spin"></i></span>


      </div>
      <div class="da-item-body" style="overflow-y: auto">
        <div style="right: 0;position: absolute;left: 0;top: 0;bottom: 0;">
          <tree-grid
            [keepOpenNodes]="true"
            [treeGridConfig]="treeConfig"
            [treeGridData]="currentData"
            [treeGridItemComponent]="SystemComponentGridComponent">
          </tree-grid>
        </div>
      </div>
    </div>
  </div>
</div>
