<div>
  <a class="btn btn-link btn-xs"  ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length>1||selectedListItemsToOperate.length==0}" ng-click="openEditItemsDialog();"><i class="fa fa-pencil"></i>&nbsp;Edit
  </a>
  &nbsp;
  <a class="btn btn-link btn-xs"  ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length==0}" ng-click="openDeleteItemsDialog()">
    <i class="fa fa-trash-o"></i>&nbsp;Delete</a>
  &nbsp;
  <a class="btn btn-flat btn-xs" style="padding: 0 8px;" ng-click="openNewItemDialog();">
    <i class="fa fa-plus"></i>&nbsp;Add</a>
  &nbsp;&nbsp;
  <!--<a class="btn btn-flat btn-xs" ng-click="openUploadItemsDialog();" title="Import items from file"> <da-icon href="import"></da-icon>&nbsp;Import-->
  <!--</a>-->
</div>
