<div>
  <div class="panel-header">
    <div class="header-item pull-right" style="position:relative" role="export">
       <div class="btn-group dropdown">
        <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export options">
          <i class="fa fa-download"></i>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right"  >
          <li> <a ng-click="onExportToExcel();" title="Download data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp; As Excel</a></li>
        </ul>
      </div>
    </div>
    <div class="header-item " style="margin-right: 10px;" >
      <h4 style="margin-top: 1px;margin-bottom: 0;"> Ldap connections ({{totalListItemElements}})</h4>
    </div>
    <div class="header-item " style="margin-left: 30px;" >
      <ldap-connection-manage-menu  reload-data="reloadDataListItems" selected-list-items-to-operate="ldapConnectionSelectedItems" refresh-display="refreshConnectionsGridDisplay"
        first-selected-list-item-to-operate="ldapConnectionSelectedItem" grid-find-id="gridFindId"  style="display:inline-block"></ldap-connection-manage-menu>
    </div>
  </div>
  <div class="clearfix "></div>
  <ldap-connections-grid   ng-show="initiated" total-elements="totalListItemElements" filter-data="filterData" refresh-data="reloadDataListItems" find-id="gridFindId" reload-data-to-grid="refreshConnectionsGridDisplay"
    item-selected="onLdapConnectionSelectItem" items-selected="onLdapConnectionSelectItems" change-selected-item="changeSelectedItem" export-to-excel="exportToExcel" process-export-finished="exportToExcelCompleted"  template-view="!changeGridView">
  </ldap-connections-grid>
</div>
