ran-scan-dialog {
  .scan-dialog-option-label {
    padding-left: 10px;
    position: relative;
    top: -2px;
    cursor: pointer;
  }

  .scan-dialog-option {
    cursor: pointer;
    padding-bottom: 10px;
  }


  .info-btn {
    padding-left: 5px;
    position: relative;
    top: -2px;
    color : #666666;
  }

  .info-btn:hover {
    color : #000000;
  }
}
