<div class="modal-header"  [daDraggable] draggableSelector=".modal-content" >
  <span class="modal-title">Advance scan options</span>
  <a  class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <div class="top-msg">Select scan option for {{   data.selectedName }} </div>

  <div class="scan-dialog-option" *ngFor="let option of optionsList">
    <input type="radio" id="{{ option.value }}" value="{{ option.value }}" [(ngModel)]="selectOption" name="scanPart">
    <label class="scan-dialog-option-label" for="{{ option.value }}"> {{ option.displayText }}</label>
    <span class="info-btn fa fa-info-circle"    popoverTitle="{{ option.displayText }}"  triggers="mouseenter:mouseleave" placement="top" ngbPopover="{{ option.description}}"></span>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" [ngClass]="{'disabled' : !selectOption }" (click)="selectOption  && runScan()">Ok</button>
  <button type="button" class="btn btn-primary" (click)="close()">Cancel</button>
</div>

