<div class="main-div" *ngIf="gridOptions">
  <gridster [options]="gridOptions">
    <button type="button" class="btn btn-primary" style="margin-bottom: 10px" (click)="resetWidgets()">Reset widgets</button>

    <gridster-item [item]="gridItems['totalFiles']" id="totalFiles">
      <dashboard-item class="dashboard-total-files" [gridItem]="gridItems['totalFiles']" chartTitle="Total files found" >
              <div class="cell left" *ngIf="scannedFilesCounter">
                  <h1 class="no-margins"><span>{{scannedFilesCounter.counter | number}}</span></h1>
                  <small>Mapped</small>
              </div>
              <div class="cell right" *ngIf="aggregatedProcessedSize && aggregatedProcessedSize.counter > 0">
                  <h1 class="no-margins"><span>{{aggregatedProcessedSize.counter * 1024 * 1024 | bytes }}</span></h1>
                  <small title="{{processedFilesCount.counter| number }} processed files">{{processedFilesCount.counter | number}} Processed {{processedFilesPercentStr}}</small>
                  <small title="{{analyzedFilesCounter.counter | number}} processed files">{{analyzedFilesCounter.counter | number}} Analyzed {{analyzedFilesPercentStr}}</small>
              </div>
      </dashboard-item>
    </gridster-item>


    <gridster-item [item]="gridItems['sensitiveFiles']" id="sensitiveFiles"  *ngIf="!gridItems['sensitiveFiles'].isHidden">
        <item-report   [gridItem]="gridItems['sensitiveFiles']" [value]="sensitiveFilesCounter && sensitiveFilesCounter.counter | number" caption="Sensitive data files "></item-report>
    </gridster-item>

    <gridster-item [item]="gridItems['sensitiveStatistics']" id="sensitiveStatistics"  *ngIf="!gridItems['sensitiveStatistics'].isHidden">
      <dashboard-chart [gridItem]="gridItems['sensitiveStatistics']"  [chartType]="ChartTypes && ChartTypes.PERCENTAGE_BAR" [chartData]="sensitiveHistogram && sensitiveHistogram.data" chartTitle="Sensitive files statistics"></dashboard-chart>
    </gridster-item>


    <gridster-item [item]="gridItems['scanStatistics']" id="scanStatistics"  *ngIf="!gridItems['scanStatistics'].isHidden">
        <list-report  [gridItem]="gridItems['scanStatistics']"   [reportCounterData]="scanStatisticsAcls"  caption="Scan statistics"></list-report>
    </gridster-item>


    <gridster-item [item]="gridItems['specificScan']" id="specificScan"  *ngIf="!gridItems['specificScan'].isHidden">
      <dashboard-item class="dashboard-total-files" [gridItem]="gridItems['specificScan']" chartTitle="Specific scan criteria" >
            <multi-list-report  *ngIf="scanCriteria && scanCriteria.type=='LIST'" [reportData]="scanCriteria" ></multi-list-report>
      </dashboard-item>
    </gridster-item>

    <gridster-item [item]="gridItems['scanConfiguration']" id="scanConfiguration"  *ngIf="!gridItems['scanConfiguration'].isHidden">
      <list-report  [gridItem]="gridItems['scanConfiguration']" [stringReport]="scanConfiguration"  caption="Scan configuration"></list-report>
    </gridster-item>

    <gridster-item [item]="gridItems['rfStatus']" id="rfStatus"  *ngIf="!gridItems['rfStatus'].isHidden">
      <dashboard-item class="dashboard-total-files" [gridItem]="gridItems['rfStatus']" chartTitle="Root folders status" >
          <div class="da-item-body-centered">
            <root-folder-list >
            </root-folder-list>
          </div>
      </dashboard-item>
    </gridster-item>

    <gridster-item [item]="gridItems['fileCountPerGroup']" id="fileCountPerGroup"  *ngIf="!gridItems['fileCountPerGroup'].isHidden">
      <dashboard-chart [gridItem]="gridItems['fileCountPerGroup']" [chartType]="ChartTypes && ChartTypes.BAR" [chartData]="groupSizeHistogram && groupSizeHistogram.data" chartTitle="File count per group size range"></dashboard-chart>
    </gridster-item>

    <gridster-item [item]="gridItems['fileCountPerModification']" id="fileCountPerModification"  *ngIf="!gridItems['fileCountPerModification'].isHidden">
      <dashboard-chart [gridItem]="gridItems['fileCountPerModification']" [chartType]="ChartTypes && ChartTypes.BAR" [chartData]="fileAccessHistogram && fileAccessHistogram.data" chartTitle="Files count per modification date"></dashboard-chart>
    </gridster-item>

    <gridster-item [item]="gridItems['scannedFileTypes']" id="scannedFileTypes"  *ngIf="!gridItems['scannedFileTypes'].isHidden">
      <dashboard-chart [gridItem]="gridItems['scannedFileTypes']"  [chartType]="ChartTypes && ChartTypes.PIE" [chartData]="fileTypeHistogram && fileTypeHistogram.data" chartTitle="Scanned file types"></dashboard-chart>
    </gridster-item>


  </gridster>
</div>
