date-filter-grid-header {
  width: 100%;
  position: relative;
  .grid-header {
    .item {
      &.fieldIcon {
        flex: 0 0 20px;
      }
      &.fieldName {
        flex: 0 1 300px;
      }
      &.items {
        flex: 1 0 100px;
        cursor: pointer;
      }
    }
  }
}
