<div class="grid-header grid-header-basic">
  <div class="item fieldIcon"></div>
  <div class="item fieldName"  [attr.data-col-name]="'name'" [attr.data-col-sortable]="false">Name</div>
  <div class="item items">Periods</div>
</div>

