.isMsIe11 {
  tree-grid .scrollable-panel-wrapper.tree-mode .scrollable-panel tree-grid-painter > ul > li {
    min-width: 1500px;
  }
}

  doc-types {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 30px;
  left: 210px;
  bottom: 30px;
  overflow: hidden;


  tree-grid .scrollable-panel-wrapper.tree-mode .scrollable-panel tree-grid-painter > ul > li {
    min-width: 1350px;
  }

  tree-grid {
    .header-panel {
      min-width: 600px !important;
    }
    .content-panel {
      min-width: 600px !important;
      overflow-x: auto;
    }

    tree-grid-painter {
      width: 2000px;
    }
  }

  .header-title {
    margin-right: 10px;
    padding-top: 7px;

    h4 {
      margin-top: 1px;
      margin-bottom: 0;
      display: inline-block;
    }
  }

  .doc-type-main-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    width: 100%;
    background: white;

    .header-line {
      position: relative;
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      border-bottom: 1px solid #e7eaec;
      width: 100%;
      min-width: 1200px;
      align-items: center;
      height: 40px;
      z-index: 1;

      .left-panel {
        display: flex;
        flex: 1;

        .actions {
          display: flex;
          align-items: center;
          padding-left: 20px;
          padding-top: 2px;

          .btn-flat {
            margin-right: 3px;
          }

          .btn-link {
            margin-left: 8px;
            &:hover {
              color: #6f98ad !important;
            }
          }
        }

        .doc-type-tags-main-btn {

          position: absolute;
          display: flex;
          left: calc(100% - 1032px);
          top: 7px;

          .btn-save {
            height: 22px;
            padding: 1px 5px;
            font-size: 12px;
            margin: 2px 5px;
          }

          .saving-icon {
            padding: 3px 5px;
          }

          .btn-show-flags {
            font-size: 12px;
            margin-right: 10px;

            &:hover {
              color: #6F97AA;
            }
          }

          .btn-choose-tag {
            margin-left: 7px;
            float: none;
            margin-top: 2px;
            border-left: 0;
            display: flex;
            align-items: center;
          }
        }

        .ddl-tag-type-menu {
          max-height: 300px;
          overflow: auto;
          padding: 0 13px;

          .tag-type {
            display: flex;
            padding: 10px 0;
            font-size: 12px;
            color: #555;
            cursor: pointer;

            &:hover {
              background: #f8f8f8;
            }

            .tag {
              padding: 2px 5px 0 0;

              .flag {
                padding-left: 2px;
                padding-right: 5px
              }
            }

            .name {
              padding-top: 1px;
              width: 150px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }

      .right-panel {
        display: flex;
        margin-left: auto;

      }

      .header-item {
        margin-left: 10px;
        &:last-child {
          margin-left: 10px;
        }
      }

      .move-msg {
        padding: 0 15px;
    //    position: absolute;

        .move-here, .cancel-btn {
          cursor: pointer;
          padding: 0 5px;
          color: #FF5722;
        }
      }
    }
  }

  .grid-wrapper {
    tree-grid {
      .content-panel {
        min-width: 1236px !important;
        padding-top: 40px !important;
      }
    }
  }
}

//.isMsIe11 {
//  .doc-type-main-container {
//    min-width: 1200px !important;
//  }
//}

//------------------------------------------
// media queries
//------------------------------------------


@media only screen and (max-width: 1800px) {

  doc-types {
    .doc-type-tags-main-btn {
      left: calc(100% - 790px) !important;
    }

    doctype-item-grid {
      .desc-column {
        width: 350px !important;
      }

      .tag-items-column {
        width: 350px !important;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {

  doc-types {
    .doc-type-tags-main-btn {
      left: calc(100% - 789px) !important;
    }

    doctype-item-grid {
      .desc-column {
        width: 320px !important;
      }

      .tag-items-column {
        width: 375px !important;
      }
    }
  }
}


@media only screen and (max-width: 1400px) {

  doc-types {
    .doc-type-tags-main-btn {
      left: calc(100% - 855px) !important;
    }

    doctype-item-grid {
      .tag-items-column {
        width: 400px !important;
      }

      .desc-column {
        width: 365px !important;
      }
    }
  }
}

