
<div class="header">
  <div class="header-title" style=""><h4 class="ng-binding">DocTypes <span *ngIf="docTypes">({{( (filterCount!== null && filterCount < docTypes.totalElements) ? filterCount+"/"+docTypes.totalElements : docTypes.totalElements )}})</span></h4></div>
</div>
<div class="doc-type-main-container">
  <loader *ngIf="loading" [show]="loading"></loader>

  <div class="header-line">
    <div class="left-panel move-msg" *ngIf="moveMode">
      <span>Move: Please choose new parent or click</span>
      <a class="move-here" (click)="moveDocTypeAsFirstLevel()" title="Set as top level">here</a>
      <span>to set as top level DocType </span>
      <a class="cancel-btn" title="Cancel move" (click)="cancelMove()" ><i class="fa fa-times"></i></a>
    </div>
    <div class="left-panel" [hidden]="moveMode">
      <div class="actions" *ngIf="isMngDocTypeConfigUser" >
        <button class="btn btn-flat btn-xs" (click)="openNewDocTypeDialog()">
          <i class="fa fa-plus"></i><span style="padding-left:3px">Add</span>
        </button>
        <a class="btn btn-link btn-xs" ngClass="{disabled:((!selectedDocTypesItems)||selectedDocTypesItems.length==0)}" (click)="openEditDocTypeDialog()"><da-icon href="edit"></da-icon>&nbsp;Edit </a>
        <a class="btn btn-link btn-xs" ngClass="{disabled:((!selectedDocTypesItems)||selectedDocTypesItems.length==0)}" (click)="openDeleteDocTypeDialog()"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
        <a class="btn btn-link btn-xs" ngClass="{disabled:((!selectedDocTypesItems)||selectedDocTypesItems.length==0)}" (click)="onMoveClick()"> Move</a>
      </div>
      <div class="doc-type-tags-main-btn" >
        <a class="btn btn-link btn-sm btn-show-flags" (click)="toggleFlags()" title="{{showFlags ? 'Hide tags' : 'Show tags'}}">
          <i *ngIf="showFlags" style="padding-right: 2px;" class="fa fa-check-square-o"></i>
          <i *ngIf="!showFlags" style="padding-right: 2px;" class="fa fa fa-square-o"></i>
          <span style="padding-right:5px;">Show</span> <span class="tag"> <span class="fa fa-flag"></span></span>
        </a>
        <div ngbDropdown>
          <button class="btn btn-flat btn-xs dropdown-toggle btn-choose-tag" ngbDropdownToggle  title="Select tag type column">
            <div *ngIf="!selectedTagType">Choose tag type</div>
            <div *ngIf="selectedTagType" style="padding-right:5px">
              <i style="width: 20px; padding-right: 5px; display: inline-block;">
               <span class="tag tag-{{getTagStyleId(selectedTagType.fileTagTypeDto)}}">
                 <span class="fa fa-flag"></span>
               </span>
              </i>
              <span>{{selectedTagType.fileTagTypeDto.name}}</span>
            </div>
          </button>
          <ul ngbDropdownMenu class="dropdown-menu ddl-tag-type-menu dropdown-menu-right">
            <div *ngFor="let tagType of tagTypes" class="tag-type" (click)="toggleTagType(tagType.fileTagTypeDto.id)">
              <div class="tag tag-{{getTagStyleId(tagType.fileTagTypeDto)}}">
                <span class="fa fa-flag"></span>
              </div>
              <div class="name">{{tagType.fileTagTypeDto.name}}</div>
            </div>
          </ul>
        </div>
        <div *ngIf="docTypesChanges.length > 0" class="btn btn-primary btn-xs btn-save" (click)="onSaveChangesClick()">
          <span>Save</span>
        </div>
        <div class="saving-icon" *ngIf="doSaving && isMngDocTypeConfigUser"><i class="fa fa-spinner fa-spin"></i></div>
      </div>
    </div>
    <div class="right-panel" style="padding-top: 8px">
      <search-box [boxPlaceholder]="'Search name'" (searchChanged)="onSearchChanged($event)" [notifyOnKeyup]="false"></search-box>

      <div class="export-btn" >
        <span class="nav-item dropdown" ngbDropdown  placement="bottom-left">
           <a class="btn btn-link dropdown-toggle" ngbDropdownToggle title="Export options">
             <i class="fa fa-download"></i>
           </a>
           <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-location dropdown-menu-right">
             <a class="dropdown-item" href="javascript:void(0)" (click)="exportData()">
                <i class="fa fa-file-excel-o" style="padding-right: 10px"></i>
               As Excel
             </a>
           </ul>
        </span>
      </div>

    </div>
  </div>
  <div class="header-panel" style="display: none">
    <toolbar [title]="'DocTypes'" [totalElements]="totalElements" [settingsActionItems]="actionItems" [exportActionItem]="exportActionItem"></toolbar>
  </div>
  <div class="main-panel">
    <tree-grid *ngIf="!loading"
      [localFilterFunction]="localFilterFunction"
      (onFilteredCountChanged)="filterCountChange($event)"
      [treeGridData]="docTypes"
      [keepOpenNodes]="true"
      [inTreeMode]="true"
      [treeGridEvents]="treeGridEvents"
      [hostComponent]="this"
      [treeGridConfig]="treeConfig"
      [treeGridItemComponent]="DocTypeItemGridComponent"></tree-grid>
  </div>
</div>


