<div  class="fill-height " ng-init="init()">

  <div   class="container">
    <div role="" class="row " >
       <div role="root-folders-grid-toolbar">
          <div class="panel-header clearfix" >
            <div role="toolbar-row"  >
              <h3 style="display: inline-block;" >Root folders
                  <span ng-if="rootTotalElements">
                  ({{rootTotalElements |number}})
                </span></h3>


            </div>
          </div>
          <div class="panel-header ibox-title clearfix">
            <div class="header-item pull-right " style="position:relative;" role="export" >
              <i ng-show="exportRootFoldersToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
              <div class="btn-group dropdown">
                <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Download data in Excel format"
                   ng-class="{'disabled':exportRootFoldersToExcelInProgress}" ng-disabled="exportRootFoldersToExcelInProgress">
                  <span class="fa fa-download"></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right" >
                  <li> <a ng-click="onExportRootFoldersToExcel();" title="Export {{right}} data to Excel" class="btn btn-link" >Export to Excel</a></li>
                  <!--<li> <a ng-click="onExportExcludedFoldersToExcel();" title="Export {{right}} data to Excel" class="btn btn-link" >Export excluded folders</a></li>-->
                </ul>
              </div>
            </div>
            <div class="header-item pull-right " role="search rootfolder" >
              <span class="search-box " style="margin-top: 0;">
              <input type="text" title="{{searchText}}" placeholder="Search root folder" class="form-control form-control-sm" ng-model="searchText" ng-enter="searchRootFolders()" ng-change="searchRootFolderChanged()">
              <span class="icon fa fa-search" ng-click="searchRootFolders()"></span>
              <span class="clear" ng-show="searchText" ng-click="clearSearchText()"></span>
            </span>
            </div>
            <div class="header-item " ng-show="isMngScanConfigUser">
              <root-folders-manage-menu selected-list-item-to-operate="selectedRootFolder"  refresh-display="refreshRootFoldersDisplay"
                                        reload-data="reloadRootFoldersData" selected-list-items-to-operate="selectRootFolders" grid-find-id="gridFindId" ></root-folders-manage-menu>
            </div>


          </div>
         <div class="clearfix"></div>

        </div>
        <div role="root-folders-grid" class="root-folders-grid" ng-show="initiated">
          <root-folders-grid full-details="true" items-selected="onSelectRootFolders" item-selected="onSelectRootFolder" change-page="changePage" export-to-excel="exportRootFoldersToExcel" template-view="!changeGridView"
                             page-changed="rootFolderPageChanged" refresh-data="reloadRootFoldersData" refresh-data-silently="syncRootFoldersData" reload-data-to-grid="refreshRootFoldersDisplay"  change-selected-item="changeSelectedItem" total-elements="rootTotalElements"
                             filter-data="filterData" find-id="findId" filter-by-search-text="rootFolderFilterBySearchText" event-name="rootFolderActionsEventName" process-export-finished="exportRootFoldersToExcelCompleted"></root-folders-grid>

        </div>
     </div>

  </div>
</div>
