<div>
  <a class="btn btn-link btn-xs"  ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length>1||selectedListItemsToOperate.length==0||selectedListItemsToOperate[0].rootFolderDto.deleted}"
     ng-click="openEditRootFolderDialog(selectedListItemToOperate);"> <span class="fa fa-pencil"></span>&nbsp;Edit
  </a>
  &nbsp;
  <a class="btn btn-link btn-xs" ng-class="{disabled:!showDeleteBtn()}" ng-click="openDeleteRootFoldersDialog()">
    <span class="fa fa-trash-o"></span>&nbsp;Delete
  </a>

  &nbsp;&nbsp;
  <a ng-if="!disableAdd" class="btn btn-flat btn-xs"  ng-click="openNewRootFolderDialog();"> <span class="fa fa-plus"></span>&nbsp;Add
  </a>
  &nbsp;&nbsp;
  <a ng-if="!disableAdd" class="btn btn-flat btn-xs" ng-click="openUploadItemsDialog();" title="Import items from file"> <span class="fa fa-upload"></span>&nbsp;Import
  </a>
</div>
