<div>

  <a class="btn btn-link btn-xs" ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length==0}" ng-click="openDeleteSelectedItems()">
    <i class="fa fa-trash-o"></i>&nbsp;Delete</a>
   &nbsp;&nbsp;
  <a class="btn btn-flat btn-xs"  ng-click="openNewItemDialog();"><i class="fa fa-plus"></i>&nbsp;Add
  </a>
  <a class="btn btn-flat btn-xs" ng-click="openUploadBizListItemsDialog();" title="Import items from file"><i class="fa fa-upload"></i>&nbsp;Import
  </a>


</div>
