.root-folders-grid {
  .data-center-col {

    .title-secondary {
      white-space: nowrap;
      display: flex;
      justify-content: center;

      .data-center-name {
        max-width: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 3px;
      }

      .department-name {
        padding-left: 3px;
      }

      .not-ready {
        color: red;
      }
    }
  }

  .freezeRow {
    .btn-dropdown {
      pointer-events: none;
    }

    .active-toggle-btn {
      pointer-events: none;
    }

    a {
      pointer-events: none;
    }
  }

  table {
    min-width: 900px !important;
  }
}

.rootfolder-run-history-grid {
  .nick-name-col {
    cursor: pointer;
  }
}

