regulation-grid-header {
  width: 100%;
  position: relative;
  .grid-header {
    .item {
      &.fieldIcon {
        flex: 0 0 30px;
      }
      &.fieldName {
        flex: 1 1 200px;
        word-break: break-all;
      }
      &.active {
        flex: 1 0 70px;
        cursor: pointer;
      }
    }
  }
}
