<div class="grid-header grid-header-basic">
  <div class="item fieldIcon"></div>
  <div class="item fieldName"  [attr.data-col-name]="'name'" [attr.data-col-sortable]="true">Name</div>
  <div [attr.data-col-name]="'active'"  [attr.data-col-sortable]="true" class="item active">Active</div>
</div>
