<div class="flex-container-col">
  <div class="header-panel">
    <toolbar *ngIf="isMngScanConfigUser"  [exportActionItem]="exportActionItem" [settingsActionItems]="settingsActionItems" [title]="'Schedule groups'" [totalElements]="totalElements"></toolbar>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid
       [treeGridData]="treeGridData"
       [treeGridEvents]="treeGridEvents"
       [hostComponent]="this"
       [treeGridConfig]="treeConfig"
       [treeGridHeaderComponent]="scheduleGroupsGridHeaderComponent"
       [treeGridItemComponent]="scheduleGroupsItemGridComponent"
       [initialSortDirection] = "initialSortDirection"
       [initialSortFieldName]="initialSortFieldName">
    </tree-grid>
  </div>
</div>


