<div>
  <discover-item-list (listPageChanged)="onPageChanged($event)" [hideHeader]="true" [inViewMode]="true" [parameters]="inViewParams" [discoverType]="DiscoverType.ROOT_FOLDERS_STATUS">
  </discover-item-list>
</div>
