tree-grid-painter  {
  width: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding-left: 25px;

      .sub-items {
        display: none;

        .tree-grid-item {
          .k-icon {
            flex: 0 0 15px !important;
            padding-left: 2px !important;
            max-width: 15px;
          }
          .expand-arrow-place {
            flex: 0 0 15px !important;
            max-width: 15px;
          }
        }
      }

      &.open {
        > .sub-items {
          display: block;
        }
      }
    }
  }
}





