<ul *ngFor="let treeGridItem of treeGridItems">
  <li [ngClass]="{'open' : treeGridItem && treeGridItem.isOpen}">
    <tree-grid-item
       [inTreeMode]="inTreeMode"
       [hostComponent]="hostComponent"
       [hostComponentParams]="hostComponentParams"
       [dataItem]="treeGridItem"
       [treeGridItemComponent]="treeGridItemComponent"
       [treeGridContextMenuComponent]="treeGridContextMenuComponent"
       [treeGridConfig]="treeGridConfig"
       [selectionMode]="selectionMode"
       [parent]="parent">
    </tree-grid-item>
    <div class="sub-items">
      <tree-grid-painter
        [inTreeMode]="inTreeMode"
        [hostComponent]="hostComponent"
        [hostComponentParams]="hostComponentParams"
        [treeGridItems]="treeGridItem.children"
        [treeGridItemComponent]="treeGridItemComponent"
        [treeGridContextMenuComponent]="treeGridContextMenuComponent"
        [treeGridConfig]="treeGridConfig"
        [selectionMode]="selectionMode"
        [parent]="parent"
        *ngIf="treeGridItem.children && treeGridItem.isOpen"></tree-grid-painter>
    </div>
  </li>
</ul>

