<div class=" btn-group assinments-toolbar" >
  <a class="btn btn-flat btn-xs" ng-click="toggleMinimizeToolbar()" ng-attr-title="{{(minimizeToolbar?'Expand':'Collapse') +' toolbar'}}"><i ng-show="minimizeToolbar" class="fa fa-caret-right"></i>
    <i  class="{{getBizListIcon()}} tag-{{activeSelectedBizListAssociationItem.id}}  " ></i>
  </a>
  <div class="btn-group dropdown" role="choose item" ng-show="!minimizeToolbar">
    <button  class="btn btn-flat btn-xs dropdown-toggle "   data-toggle="dropdown" ng-disabled="disabledMenu||!isClientsBizList() ||!isAssignBizListUser"
             role="selected tag"  title="Add /remove {{bizListType|translate}} association / extraction from selected rows">

      {{bizListType|translate}}
      <span class="caret" ng-show="isClientsBizList()"></span>
    </button>
    <ul  class="dropdown-menu" role="menu" aria-labelledby="split-button" >

      <li ng-if="(!bizLists||bizLists.length==0)"><a>No lists yet</a></li>
      <li  ng-repeat="recentlyUsedBizListAssociation in savedRecentlyUsedBizListAssociationItems" ng-disabled="disabled" ng-class="{disabled:disabled}"
           title="Toggle selected item with: '{{getBizListAssociationPath(recentlyUsedBizListAssociation)}}'">
        <a class="btn btn-link btn-sm " ng-click="toggleBizListAssociationToSelectedItemsFromRecentlyUsed(recentlyUsedBizListAssociation)">
          <i  class="{{associationIcon}}  tag tag-{{recentlyUsedBizListAssociation.bizListId}}  " ></i>
          &nbsp;<span class="btn1 tag1 label1 label1-tag-{{recentlyUsedBizListAssociation.state}} ">
               {{recentlyUsedBizListAssociation.bizListItemName}}</span></a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedBizListAssociationItems.length>0&&isClientsBizList()"></li>
      <li   ng-repeat="bizList in bizLists">
        <a ng-click="openSelectBizListAssociationsDialog(bizList);">Choose from  <span class="tag tag-{{bizList.id}}"><span class={{bizListTypeIcon(bizList.bizListItemType)}}></span></span> {{bizList.name}} ...</a>
      </li></span>
     </ul>
  </div>
  <div class="btn-group dropdown" role="filter" ng-show="!minimizeToolbar">
    <button role="filter ddl" class="btn btn-flat btn-xs dropdown-toggle " title="Filter by {{bizListType|translate}} association"  data-toggle="dropdown">
      <i class="fa fa-filter"></i>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="split-button" >
      <li  ng-if="isClientsBizList()"  ng-repeat="recentlyUsedBizListAssociation in savedRecentlyUsedBizListAssociationItems" ng-disabled="disabled" ng-class="{disabled:disabled}" title="Filter by: '{{getBizListAssociationPath(recentlyUsedBizListAssociation)}}'">
        <a class="btn btn-link btn-sm " ng-click="doBizListAssociationFilter(recentlyUsedBizListAssociation.bizListItemId,getBizListAssociationPath(recentlyUsedBizListAssociation));">
          <i class="fa fa-filter"></i> &nbsp;
          <i  class="{{associationIcon}} tag-{{recentlyUsedBizListAssociation.bizListId}} " ></i>
          &nbsp;<span class="btn1 tag1 label1 label1-tag-{{recentlyUsedBizListAssociation.state}}  ">
               {{recentlyUsedBizListAssociation.bizListItemName}}</span></a>
      </li>
      <li ng-if="!bizLists||bizLists.length==0"><a>No lists yet</a></li>
      <li  class="divider " ng-if="savedRecentlyUsedBizListAssociationItems.length>0&& isClientsBizList()"></li>
      <li ng-if="isClientsBizList()"  ng-repeat="bizList in bizLists">
        <a ng-click="openBizListAssociationFilterBy(bizList)"><i class="fa fa-filter"></i>&nbsp;Choose from <span class="tag tag-{{bizList.id}}"> <span class={{bizListTypeIcon(bizList.bizListItemType)}}></span></span> {{bizList.name}} ... </a>
      </li>
      <li class="divider"  ng-if="isClientsBizList()"></li>
      <li >
        <a ng-click="filterByBizListType(bizListType)"><i class="fa fa-filter"></i>&nbsp;Filter by  {{selectedUserFilterOption.value|translate}} {{bizListType|translate}} </a>
      </li>
      <li class="divider" ng-if="isClientsBizList()" ></li>
      <li ng-if="isClientsBizList()" ng-repeat="filterOption in userFilterOptions" >
        <a ng-click="setSelectedFilterOptionMode(filterOption);$event.stopPropagation();">
        <i class="fa fa-check" ng-show="selectedUserFilterOption.value == filterOption.value"></i>
         Filter {{filterOption.value|translate}}
        </a>
      </li>
    </ul>
  </div>
  <div class="btn-group dropdown" ng-if="isMngBizListsConfigUser" role="settings" ng-show="!minimizeToolbar">
    <button role="buttons settings ddl" class="btn btn-flat btn-xs dropdown-toggle "  data-toggle="dropdown" title="Manage lists">
      <i class="fa fa-cog"></i>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="split-button" >
      <li ng-if="!bizLists||bizLists.length==0"><a ng-click="openManageAssociationPage();">Add clients list</a></li>
      <li  ng-repeat="bizList in bizLists">
        <a ng-click="openManageAssociationPage(bizList.id,lastSelectedBizListAssociationItemId);">Manage <span class="tag tag-{{bizList.id}}"> <span class={{bizListTypeIcon(bizList.bizListItemType)}}></span></span> {{bizList.name}} ...</a>
      </li>
    </ul>
  </div>
</div>
