<div class=" btn-group assinments-toolbar" >
  <a class="btn btn-flat btn-xs" ng-click="toggleMinimizeToolbar()" ng-attr-title="{{(minimizeToolbar?'Expand':'Collapse') +' Department toolbar'}}"><i ng-show="minimizeToolbar" class="fa fa-caret-right"></i>
    <i class="{{iconClass}} tag-{{getDepartmentStyleId(activeSelectedDepartmentItem)}} opacity-depth-{{getDepartmentDepth(activeSelectedDepartmentItem)}} " ></i>
  </a>
  <div class="btn-group" role="choose item" ng-show="!minimizeToolbar">
     <button  class="btn btn-flat btn-xs dropdown-toggle" data-toggle="dropdown" ng-disabled="!isAssignEnabled" role="selected tag"  title="Add /remove Department from selected rows">
       Department
       <span class="caret"></span>
    </button>
    <ul class="dropdown-menu labels-list-no-buttons" role="menu" aria-labelledby="split-button">

      <li  ng-repeat="recentlyUsedDepartment in savedRecentlyUsedDepartmentItems"  title="Toggle selected item with Department: '{{recentlyUsedDepartment.fullName}}'">
        <!--a ng-click="saveActiveSelectedDepartment(recentlyUsedDepartment);toggleDepartmentToSelectedItems(recentlyUsedDepartment);" -->
        <a ng-click="toggleDepartmentToSelectedItems(recentlyUsedDepartment);" >
          <i class="{{iconClass}} tag-{{getDepartmentStyleId(recentlyUsedDepartment)}} opacity-depth-{{getDepartmentDepth(recentlyUsedDepartment)}}"></i>
          &nbsp;<span class="btn tag1 label label-tag-{{getDepartmentStyleId(recentlyUsedDepartment)}} opacity-depth-{{getDepartmentDepth(recentlyUsedDepartment)}} ">{{recentlyUsedDepartment.name}}</span>
        </a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedDepartmentItems.length>0"></li>
      <li><a ng-click="selectDepartmentDialog(false, addDepartmentToSelectedItems)">Choose Department...</a></li>
    </ul>
  </div>
  <div class="btn-group" role="filter by" ng-show="!minimizeToolbar">
     <button role="filter ddl" class="btn btn-flat btn-xs dropdown-toggle " title="Filter by Departments"  data-toggle="dropdown">
         <i class="fa fa-filter"></i>
    </button>
    <ul class="dropdown-menu labels-list-no-buttons" role="menu" aria-labelledby="split-button">
      <li  ng-repeat="recentlyUsedDepartment in savedRecentlyUsedDepartmentItems"  title="filter by Department: '{{recentlyUsedDepartment.fullName}}'">
        <a ng-click="doDepartmentFilter(recentlyUsedDepartment,true);">
          <i class="fa fa-filter"></i> &nbsp;
          <i  class="{{iconClass}} tag-{{getDepartmentStyleId(recentlyUsedDepartment)}} opacity-depth-{{getDepartmentDepth(recentlyUsedDepartment)}} " ></i>
          &nbsp;<span class="btn tag1 label label-tag-{{getDepartmentStyleId(recentlyUsedDepartment)}} opacity-depth-{{getDepartmentDepth(recentlyUsedDepartment)}} ">
               {{recentlyUsedDepartment.name}}</span></a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedDepartmentItems.length>0"></li>
      <li><a ng-click="doDepartmentFilterBy()"><i class="fa fa-filter"></i>&nbsp;Choose Department... </a></li>
      <li class="divider "></li>
      <li><a ng-click="doUnAssociationFilterBy()" bubble="Filter all files which do not have associated department"><i class="fa fa-filter"></i>&nbsp;Unassociated files </a></li>
    </ul>
  </div>
  <div class="btn-group" ng-if="isMngDepartmentConfigUser" role="settings" ng-show="!minimizeToolbar" title="Open Department settings page in a new tab ">
    <button role="buttons settings ddl" ng-click1="openManagePage()"  class="btn btn-flat btn-xs dropdown-toggle"  data-toggle="dropdown">
       <i class="fa fa-cog"></i>
   </button>
    <ul class="dropdown-menu">
      <li><a ng-click="openManagePage()"><i class="fa fa-cogs" ></i>&nbsp; Open Department settings...</a></li>
    </ul>
  </div>
</div>
