<div class=" btn-group assinments-toolbar" >
  <a class="btn btn-flat btn-xs" ng-click="toggleMinimizeToolbar()" ng-attr-title="{{(minimizeToolbar?'Expand':'Collapse') +' DocType toolbar'}}"><i ng-show="minimizeToolbar" class="fa fa-caret-right"></i>
    <i  class="{{iconClass}} tag-{{getDocTypeStyleId(activeSelectedDocTypeItem)}} opacity-depth-{{getDocTypeDepth(activeSelectedDocTypeItem)}} " ></i>
  </a>
  <div class="btn-group" role="choose item" ng-show="!minimizeToolbar">
     <button  class="btn btn-flat btn-xs dropdown-toggle "   data-toggle="dropdown" ng-disabled="!isAssignEnabled"
              role="selected tag"  title="Add /remove DocType from selected rows">

        DocTypes
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu labels-list-no-buttons" role="menu" aria-labelledby="split-button">

      <li  ng-repeat="recentlyUsedDocType in savedRecentlyUsedDocTypeItems"  title="Toggle selected item with DocType: '{{recentlyUsedDocType.fullName}}'">
        <a ng-click="saveActiveSelectedDocType(recentlyUsedDocType);toggleDocTypeToSelectedItems(recentlyUsedDocType);" >
          <i  class="{{iconClass}} tag-{{getDocTypeStyleId(recentlyUsedDocType)}} opacity-depth-{{getDocTypeDepth(recentlyUsedDocType)}} " ></i>
          &nbsp;<span class="btn tag1 label label-tag-{{getDocTypeStyleId(recentlyUsedDocType)}} opacity-depth-{{getDocTypeDepth(recentlyUsedDocType)}} ">
               {{recentlyUsedDocType.name}}</span></a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedDocTypeItems.length>0"></li>
      <li><a ng-click="openSelectDocTypesDialog(false);">Choose DocType...</a></li>
    </ul>
  </div>
  <div class="btn-group" role="filter by" ng-show="!minimizeToolbar">
     <button role="filter ddl" class="btn btn-flat btn-xs dropdown-toggle " title="Filter by DocTypes"  data-toggle="dropdown">
         <i class="fa fa-filter"></i>
    </button>
    <ul class="dropdown-menu labels-list-no-buttons" role="menu" aria-labelledby="split-button">
      <li  ng-repeat="recentlyUsedDocType in savedRecentlyUsedDocTypeItems"  title="filter by DocType: '{{recentlyUsedDocType.fullName}}'">
        <a ng-click="doDocTypeFilter(recentlyUsedDocType,true);">
          <i class="fa fa-filter"></i> &nbsp;
          <i  class="{{iconClass}} tag-{{getDocTypeStyleId(recentlyUsedDocType)}} opacity-depth-{{getDocTypeDepth(recentlyUsedDocType)}} " ></i>
          &nbsp;<span class="btn tag1 label label-tag-{{getDocTypeStyleId(recentlyUsedDocType)}} opacity-depth-{{getDocTypeDepth(recentlyUsedDocType)}} ">
               {{recentlyUsedDocType.name}}</span></a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedDocTypeItems.length>0"></li>
      <li><a ng-click="doDocTypeFilterBy()"><i class="fa fa-filter"></i>&nbsp;Choose DocType... </a></li>
      <li class="divider "></li>
      <li><a ng-click="doUnAssociationFilterBy()" bubble="Filter all files which do not have associated docType"><i class="fa fa-filter"></i>&nbsp;Unassociated files </a></li>
    </ul>
  </div>
  <div class="btn-group" ng-if="isMngDocTypeConfigUser" role="settings" ng-show="!minimizeToolbar" title="Open DocTypes settings page in a new tab ">
    <button role="buttons settings ddl" ng-click1="openManagePage();"  class="btn btn-flat btn-xs dropdown-toggle"  data-toggle="dropdown">
       <i class="fa fa-cog"></i>
   </button>
    <ul class="dropdown-menu">
      <li><a ng-click="openManagePage();"><i class="fa fa-cogs" ></i>&nbsp; Open DocTypes settings...</a></li>
    </ul>
  </div>
</div>
