.doc-type-tags-main-menu {
  max-height: 250px;
  overflow: auto;
  padding-top: 5px;

  li {
    width: 100%;
    a {
      display: flex;
      margin: 2px 0;
      line-height: normal;
      padding: 4px 0;

      .tag-wrapper {
        width: 15px;
        display: inline-block;
      }

      .tag-name-span {
        padding-left: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.tag-types-tree-list {
    tr {
      td:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
}
