<div class=" btn-group assinments-toolbar" >
  <a class="btn btn-flat btn-xs" ng-click="toggleMinimizeToolbar()" ng-attr-title="{{(minimizeToolbar?'Expand':'Collapse') +' calendar toolbar'}}"><i ng-show="minimizeToolbar" class="fa fa-caret-right"></i>
    <i  class="{{iconClass(selectedUserFilterOption)}} "></i>
  </a>
  <div class="btn-group shrink-if-no-space" role="choose item" ng-show="!minimizeToolbar">
    <button  class="btn btn-flat btn-xs dropdown-toggle" ng-disabled="!isAssignTagUser"   data-toggle="dropdown"
             role="selected tag"  >
     <span ng-show="selectedPartition"> Date partitions&nbsp;</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="split-button" style="overflow: auto; max-height: 220px;">
      <li  style="position: relative;" ng-repeat="partition in partitions">
      <a class="btn btn-link btn-sm"  ng-click="selectPartition(partition);" title="Change to date partition {{partition.name}}">
        <span class="{{iconClass(selectedUserFilterOption)}}"></span>&nbsp;{{partition.name}}&nbsp;&nbsp; </a></li>
    </ul>
  </div>
  <div class="btn-group" role="filter" ng-show="!minimizeToolbar">
    <button role="filter ddl" data-toggle="dropdown"  title="Filter by date partitions"  class="btn btn-flat btn-xs  dropdown-toggle">
      <i class="fa fa-filter"></i>
    </button>
    <ul class="dropdown-menu">
      <li  ng-repeat="recentlyUsedDateRange in savedRecentlyUsedDateRangeItems"  title="filter by {{recentlyUsedDateRange.fieldType.value|translate}}: {{recentlyUsedDateRange.name}}">
        <a ng-click="doRecentlyUsedDateFilter(recentlyUsedDateRange);" >
          <i  class="{{iconClass(recentlyUsedDateRange.fieldType)}}" ></i>
          &nbsp; <span class="btn1 tag1 label1 ">
               {{recentlyUsedDateRange.name}}</span></a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedDateRangeItems.length>0"></li>
      <li role="filter by user date range"><a ng-click="doDateRangeCustomFilter();"><i class=" fa fa-filter"></i>&nbsp;Custom date filter...</a></li>
      <li class="divider"></li>
      <li class="dropdown-submenu">
        <a ng-click="$event.preventDefault();$event.stopPropagation();"><i class="fa fa-pencil"></i>&nbsp;{{selectedPartition.name}}</a>
        <ul role="menu" class="dropdown-menu">
          <li ng-repeat="rangeItem in partitionRangeItems" ng-if="rangeItem.name && !($index == partitionRangeItems.length -1 && rangeItem.start.type == 'RELATIVE' &&  rangeItem.start.relativePeriodAmount ==0) && !($index == 0 && rangeItem.start.type ===  'UNAVAILABLE')" ng-click="doDateFilter(rangeItem);" title="{{rangeItem.name}}"><a>
            &nbsp;  <i class="fa fa-filter"></i>&nbsp;{{rangeItem.name}}</a></li>
        </ul>
      </li>
      <li class="divider" ></li>
      <li ng-repeat="filterOption in userFilterOptions" >
        <a ng-click="setSelectedFilterOptionMode(filterOption);$event.stopPropagation();">
          <i class="fa fa-check" ng-show="selectedUserFilterOption.value == filterOption.value"></i>&nbsp;&nbsp;
          <i class="{{iconClass(filterOption)}}"></i>
          Filter {{filterOption.value|translate}}
        </a>
      </li>
    </ul>
  </div>
  <div ng-if="isMngTagConfigUser" class="btn-group" role="settings" ng-show="!minimizeToolbar">
    <button role="buttons settings ddl"  title="Manage date partitions" data-toggle="dropdown" class="btn btn-flat btn-xs  dropdown-toggle">
      <i class="fa fa-cog"></i>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a ng-click="openDateFiltersPage();"><i class="fa fa-cogs" ></i>&nbsp; Open date filters settings...</a></li>
      <li><a class=" btn btn-xs" style="margin: 5px;z-index: 2"
             ng-click="openNewDatePartitionDialog()"><i class="fa fa-plus"></i>&nbsp;Add partition</a></li>
      <li class="dropdown-submenu ">
        <a ng-click="$event.preventDefault();$event.stopPropagation();"><i class="fa fa-pencil"></i>&nbsp;Edit partition</a>
        <ul role="menu" class="dropdown-menu pull-right" aria-labelledby="split-button" style="max-height: 240px;overflow-y: auto">
          <li class="show-on-hover1" style="position: relative;" ng-repeat="partition in partitions" ng-if1="partition.id!=deafultPartition.id">
            <a class="btn btn-link btn-sm"  ng-click="openEditDatePartitionDialog(partition)">
                <span class="{{iconClass(selectedUserFilterOption)}}"></span>&nbsp;{{partition.name}}&nbsp;&nbsp;
                 <!--<span class="top-right-position" >-->
                    <!--<span class="btn btn-link  btn-xs"><i  class="fa fa-trash-o" ng-click="openDeleteDatePartitionDialog(partition);$event.stopPropagation()"></i></span>-->
                    <!--<span class="btn btn-link  btn-xs"> <i  class="fa fa-pencil" ng-click="openEditDatePartitionDialog(partition);$event.stopPropagation()"></i></span>-->
                  <!--</span>-->
            </a>
          </li>
        </ul>
      </li>

    </ul>

  </div>
</div>
