<span  role="filter state ddl" class="btn-group filter filter-component pin-to-top" style="padding-left: 0;">
  <button class="btn btn-xs dropdown-toggle btn-filter1" ng-class="{'btn-flat':!activeFiltersOnly,'btn-link':activeFiltersOnly }"  data-toggle="dropdown">
    <span ng-if="!activeFiltersOnly" >Filter&nbsp;&nbsp;</span>
    <i class="fa fa-filter " ng-class="{'notice':!activeFiltersOnly }" ng-show="hasFilter" title="Display data is filtered" ></i>
    <i class="fa fa-filter" ng-show="!hasFilter" title="No filter yet" ></i>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu filter-tags-menu" ng-class1="{readonly:readOnly}" role="menu" style="line-height: normal; padding: 10px;white-space: nowrap;text-overflow: ellipsis;" aria-labelledby="split-button" ng-init="initFilterTags()">
    <li>
      <ul style="padding: 0;overflow: auto; max-height: 120px;">
        <li ng-if="hasFilter" class="tag1 label1 label-info1"   ng-repeat="tag in pageRestricationFilterTags">
          <a  class="no-linkable" style="position:relative;" >
            <i ng-if="isInvertedFilter(ptag)" class="fa fa-exclamation"> </i>&nbsp{{tag.displayedFilterType|translate}} : {{tag.displayedText|translate}}
            <span  ng-click="removePageRestrictionFilterTag(tag)"  class="btn btn-link btn-xs right-position" style="top:5px;" title="Remove this from filter"><i class="fa fa-times"></i></span>
          </a>
        </li>
        <li ng-if="hasFilter"  ng-repeat="ptag in pagefilterTags" class="filter-tags-menu-item">
          <div  class="text long-and-truncated" title="{{isInvertedFilter(ptag)?'NOT ':''}}{{getFilterDisplayedName(ptag)|translate}} :  {{ptag.displayedText|translate}}">
            <i ng-if="isInvertedFilter(ptag)" class="fa fa-exclamation"> </i>
            <i class="{{getIconName(ptag)}}"> </i>
            <span>{{getFilterDisplayedName(ptag)|translate}} : <span  ng-if="isOperatorContains(ptag.operator)">Contains</span>  {{ptag.displayedText|translate}}</span>
          </div>
          <div class="actions" ng-if="!activeFiltersOnly">
            <span ng-show="isInvertedFilterEnabled(ptag)" ng-click="toggleOperatorFilterTag(ptag)" class="not-operator btn btn-link btn-xs" title="{{isInvertedFilter(ptag)  ? 'Remove NOT operator' : 'Add NOT operator'}}"><i class="fa fa-exclamation"></i></span>
            <span ng-click="removePageFilterTag(ptag)" class="btn btn-link btn-xs" title="Remove this from filter"><i class="fa fa-times"></i></span>
          </div>
        </li>
        <li ng-if="userSearchFilterTag" class="filter-tags-menu-item" >
          <div  class="text long-and-truncated" title="{{isInvertedFilter(ptag)?'NOT ':''}}{{sampleUserFilter.displayedFilterType|translate}} : {{sampleUserFilter.displayedText|translate}}</span>">
            <i  ng-show="isInvertedFilter(ptag)" class="fa fa-exclamation"> </i>
            <span>{{sampleUserFilter.displayedFilterType|translate}} :  {{sampleUserFilter.displayedText|translate}}</span>
          </div>
          <div class="actions"  ng-if="!activeFiltersOnly">
            <span ng-show="isInvertedFilterEnabled(ptag)" ng-click="toggleOperatorFilterTag(sampleUserFilter)" class="not-operator btn btn-link btn-xs" title="{{!isFilterEqual(sampleUserFilter)  ? 'Remove NOT operator' : 'Add NOT operator'}}"><i class="fa fa-exclamation"></i></span>
            <span ng-click="clearUserSearch()" class="btn btn-link btn-xs"><i class="fa fa-times"></i></span>
          </div>
        </li>
        <li ng-if="hasFilter" class="filter-tags-menu-item" ng-repeat="ptag in pageUserUniqueFiltersTag" >
          <div   class="text long-and-truncated"  title="{{isInvertedFilter(ptag)?'NOT ':''}}{{ptag.displayedFilterType|translate}} : {{ptag.displayedText|translate}}</span>">
            <i ng-if="isInvertedFilter(ptag)" class="fa fa-exclamation"> </i>
            <span>{{ptag.displayedFilterType|translate}} :  {{ptag.displayedText|translate}}</span>
          </div>
          <div class="actions">
            <span ng-show="isInvertedFilterEnabled(ptag)"  ng-click="toggleOperatorFilterTag(ptag)" class="not-operator btn btn-link btn-xs" title="{{!isContains(ptag)  ? 'Remove NOT operator' : 'Add NOT operator'}}"><i class="fa fa-exclamation"></i></span>
            <span ng-click="removePageUserFilterTag(ptag)" class="btn btn-link btn-xs" title="Remove this from filter"><i class="fa fa-times"></i></span>
          </div>
        </li>
      </ul>
    </li>
    <li ng-if="hasFilter && !activeFiltersOnly">
      <a class="no-linkable">
        <span class="btn btn-flat btn-xs"  ng-click="removeAll()" title="Remove these filters">Clear all</span>&nbsp;&nbsp;
        <span ng-if="!readOnly" class="btn btn-flat btn-xs" ng-click="addNewSaveFilterDialog();" title="Save this filter in saved filters list"><i class="fa fa-floppy-o"></i>&nbsp;Save as</span>&nbsp;&nbsp;
      </a>
    </li>
    <li ng-if="hasFilter && !activeFiltersOnly" class="divider"></li>
    <li id="savedFilter" ng-if="!activeFiltersOnly"><a ng-click="$event.preventDefault();$event.stopPropagation();" style="overflow: inherit">
      <input-param name="saved" id="saved" options="true" single-selection="true" on-items-selected="onSavedFilterSelected" action-name="{{'Saved filter'}}"
                   class-type="saved filter" placeholder-text="'Load saved filter'" create-new-selected-item-from-text1="" leave-text-after-selection="false" load-option-items="getSavedFilters"
                   no-create-new-object-button="true" create-new-option-from-item="createSavedFilterParamOption" required="true" placeholder-always-visible="true" control="savedFiltersListCtrl"></input-param>
    </a></li>
    <li id="predefinedFilter" ng-if="!activeFiltersOnly"><a ng-click="$event.preventDefault();$event.stopPropagation();" style="overflow: inherit">
      <input-param name="predefined" id="predefined" options="true" single-selection="true" on-items-selected="onPredefinedFilterSelected" action-name="{{'Predefined filter'}}"
                   class-type="predefined filter" placeholder-text="'Add filter component'" create-new-selected-item-from-text1="" leave-text-after-selection="false" load-option-items="getPredefinedFilters"
                   no-create-new-object-button="true" create-new-option-from-item="createPredefinedFilterParamOption" required="true" placeholder-always-visible="true"></input-param>
    </a></li>
  </ul>
</span>
