<div class="search-box discover-searchbox">
  <input class="form-control form-control-sm" ng-change="searchTextChange()" ng-enter="doSearchText()" ng-model="searchText" placeholder="Search root folder by text"  type="text">
  <!--<input class="form-control form-control-sm has-right-two-icons" ng-change="searchTextChange()" ng-enter="doEntitySearchText()" ng-model="searchText" placeholder="Search" style="padding-right:100px;"  type="text">-->
  <!--<span class="icon fa fa-search btn-link" ng-click="doEntitySearchText()"></span>-->
  <span class="icon fa fa-search btn-link" ng-click="doSearchText()"></span>
  <span class="clear top-right-position" ng-click="clearSearchText()" ng-show="searchText"></span>
  <!--<span class="btn btn-link btn-sm top-right-position" ng-click="doEntitySearchText()">{{displayType.value|translate}} <i class="caret"></i></span>-->

</div>
