.filter-component {
  &.active-filters-only {
    .btn-filter {
      background: transparent !important;
      border: none !important;

      .fa-filter{
          color: #676a6c !important;
      }
    }
  }
}
.filter-tags-menu {
  min-width: 400px;

  .filter-tags-menu-item, .saved-filters-menu-item {
    display: flex;
    flex-direction: row;
    min-width: 295px;

    .text {
      flex: 1;
      padding: 6px 0 6px 12px;
    }

    .actions {
      display: none;
      padding-top: 3px;
    }

    &:hover {
      color: #262626;
      background-color: #f5f5f5;

      .actions {
        display: flex;
      }
    }
  }

  .saved-filters-menu-item {
    padding: 5px;
    cursor: pointer;
  }

  &.readonly {
    .filter-tags-menu-item {
      display: flex;
      flex-direction: row;
      max-width: 195px;

      .text {
        flex: 1;
        padding: 6px 0 6px 12px;
      }

      .actions {
        display: none;
        padding-top: 3px;
      }

      &:hover {
        .actions {
          display: none;
        }
      }
    }
  }


  a {
    padding: 3px 10px 3px 7px !important
  }
}

.active-filters-pane{
   white-space: initial;
   padding-left: 20px;
   flex:1;

  .filter-tags-menu-item {
    display: inline-flex;
    background:white;
    margin-right:10px;
    line-height: 22px;

    .text {
      padding: 0 5px;
      font-size: 12px;
    }
    .actions {
      display: inline-table;
      color: #e8dede;

      .not-operator , .btn-remove {
        &:hover {
          cursor: pointer;
          color: #6f98ad;
        }
      }
      .btn-remove {
        padding: 0 5px 0 2px;
      }
      .not-operator {
        padding: 0 4px;
      }
    }
  }
}


