<div class="active-filters-pane">
  <div ng-if="hasFilter" class="tag1 label1 label-info1"   ng-repeat="tag in pageRestricationFilterTags">
      <a class="no-linkable" style="position:relative;" >
           <i ng-if="isInvertedFilter(ptag)" class="fa fa-exclamation" style="padding-right:5px" > </i>
        &nbsp{{tag.displayedFilterType|translate}} : {{tag.displayedText|translate}}
        <span  ng-click="removePageRestrictionFilterTag(tag)"  class="btn btn-link btn-xs right-position" style="top:5px;" title="Remove this from filter"><i class="fa fa-times"></i></span>
     </a>
  </div>
  <div ng-if="hasFilter"  ng-repeat="ptag in pagefilterTags" class="filter-tags-menu-item">
    <div class="text" style="display:inline-flex; align-items: center" title="{{isInvertedFilter(ptag)?'NOT ':''}}{{getFilterDisplayedName(ptag)|translate}} : {{ptag.displayedText|translate}}">
      <i ng-if="isInvertedFilter(ptag)" class="fa fa-exclamation" style="padding-right:5px" > </i>
      <i ng-if="getIconName(ptag)" class="{{getIconName(ptag)}}" style="padding-right:5px"> </i>
      <div class=" long-and-truncated" style="max-width:200px">{{getFilterDisplayedName(ptag)|translate}} :  <span class="small" ng-if="isOperatorContains(ptag.operator)">Contains</span> {{ptag.displayedText|translate}}</div>
    </div>
     <div class="actions" ng-if="!activeFiltersOnly">
         <span ng-show="isInvertedFilterEnabled(ptag)" ng-click="toggleOperatorFilterTag(ptag)" class="not-operator" title="{{isInvertedFilter(ptag)  ? 'Remove NOT operator' : 'Add NOT operator'}}"><i class="fa fa-exclamation"></i></span>
         <span ng-click="removePageFilterTag(ptag)" class="btn-remove" title="Remove this from filter"><i class="fa fa-times"></i></span>
     </div>
  </div>
  <div ng-if="userSearchFilterTag" class="filter-tags-menu-item" >
         <div class="text" title="{{isInvertedFilter(ptag)?'NOT ':''}}{{sampleUserFilter.displayedFilterType|translate}} : {{sampleUserFilter.displayedText|translate}}</span>">
            <i  ng-show="isInvertedFilter(ptag)" style="padding-right:5px" class="fa fa-exclamation"> </i>
            <div class="long-and-truncated" style="max-width:200px">{{sampleUserFilter.displayedFilterType|translate}} : {{sampleUserFilter.displayedText|translate}}</div>
         </div>
         <div class="actions"  ng-if="!activeFiltersOnly">
             <span ng-show="isInvertedFilterEnabled(ptag)" ng-click="toggleOperatorFilterTag(sampleUserFilter)" class="not-operator" title="{{!isFilterEqual(sampleUserFilter)  ? 'Remove NOT operator' : 'Add NOT operator'}}"><i class="fa fa-exclamation"></i></span>
             <span ng-click="clearUserSearch()" class="btn-remove" title="Remove this from filter"><i class="fa fa-times"></i></span>
         </div>
      </div>
  <div ng-if="hasFilter" class="filter-tags-menu-item" ng-repeat="ptag in pageUserUniqueFiltersTag" >
         <div class="text" style="display:inline-flex;" title="{{isInvertedFilter(ptag)?'NOT ':''}}{{ptag.displayedFilterType|translate}} : {{ptag.displayedText|translate}}</span>">
           <i  ng-if="isInvertedFilter(ptag)" style="padding-right:5px"  class="fa fa-exclamation"> </i>
           <div class="long-and-truncated" style="max-width:200px">{{ptag.displayedFilterType|translate}} : {{ptag.displayedText|translate}}</div>
         </div>
         <div class="actions">
             <span ng-show="isInvertedFilterEnabled(ptag)"  ng-click="toggleOperatorFilterTag(ptag)" class="not-operator" title="{{!isContains(ptag)  ? 'Remove NOT operator' : 'Add NOT operator'}}"><i class="fa fa-exclamation"></i></span>
             <span ng-click="removePageUserFilterTag(ptag)" class="btn-remove" title="Remove this from filter"><i class="fa fa-times"></i></span>
         </div>
      </div>
</div>
