<div class=" btn-group assinments-toolbar" >
  <a class="btn btn-flat btn-xs" ng-click="toggleMinimizeToolbar()" ng-attr-title="{{(minimizeToolbar?'Expand':'Collapse') +' Data Roles toolbar'}}"><i ng-show="minimizeToolbar" class="fa fa-caret-right"></i>
    <i  class="{{iconClass}}" ></i>
  </a>
  <div class="btn-group" role="choose item" ng-show="!minimizeToolbar">
     <button  class="btn btn-flat btn-xs dropdown-toggle "   data-toggle="dropdown" ng-disabled="disabled || !isAssignFunctionalUser"
              role="selected tag"  title="Add /remove Data Roles from selected rows">
        Data roles
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu labels-list-no-buttons" role="menu" aria-labelledby="split-button">
      <li  ng-repeat="recentlyUsedFunctionalRole in savedRecentlyUsedFunctionaRoles" ng-disabled="disabled" ng-class="{disabled:disabled}">
        <a ng-click="toggleFunctionalRoleToSelectedItems(recentlyUsedFunctionalRole);" >
          <i  class="{{iconClass}} tag-{{getStyleId(recentlyUsedFunctionalRole)}}"></i>
          &nbsp;<span class="btn tag1 label label-tag-{{getStyleId(recentlyUsedFunctionalRole)}}">
               {{recentlyUsedFunctionalRole.name}}</span></a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedFunctionaRoles.length>0"></li>
      <li ng-disabled="disabled" ng-class1="{disabled:disabled}"><a ng-click="openSelectDialog(false);">Choose data role</a></li>

    </ul>
  </div>
  <div class="btn-group" role="filter by" ng-show="!minimizeToolbar">
     <button role="filter ddl" class="btn btn-flat btn-xs dropdown-toggle " title="Filter by data roles"  data-toggle="dropdown">
         <i class="fa fa-filter"></i>
    </button>
    <ul class="dropdown-menu labels-list-no-buttons" role="menu" aria-labelledby="split-button">
      <li  ng-repeat="recentlyUsedFunctionalRole in savedRecentlyUsedFunctionaRoles"  title="Filter by this data role">
        <a ng-click="doFilter(recentlyUsedFunctionalRole);">
          <i class="fa fa-filter"></i> &nbsp;
          <i  class="{{iconClass}} tag-{{getStyleId(recentlyUsedFunctionalRole)}}"></i>
          &nbsp;<span class="btn tag1 label label-tag-{{getStyleId(recentlyUsedFunctionalRole)}}">
               {{recentlyUsedFunctionalRole.name}}</span></a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedFunctionaRoles.length>0"></li>
      <li><a ng-click="doFilterBy()"><i class="fa fa-filter"></i>&nbsp;Choose data role... </a></li>

    </ul>
  </div>
  <div ng-if="isMngRolesConfigUser" class="btn-group" role="settings" ng-show="!minimizeToolbar" title="Open Data Roles settings page in a new tab ">
    <button role="buttons settings ddl" ng-click1="openManagePage();"  class="btn btn-flat btn-xs dropdown-toggle"  data-toggle="dropdown">
       <i class="fa fa-cog"></i>
   </button>
    <ul class="dropdown-menu">
      <li><a ng-click="openManagePage();"><i class="fa fa-cogs" ></i>&nbsp; Open settings...</a></li>
    </ul>
  </div>
</div>
