<span>
  <a ng-show="fileSnippets" style="vertical-align: top;" ng-click="showFileSearchSinippets=!showFileSearchSinippets" class="btn btn-link btn-xs" title="expand/collapse highlighting file data results"><span class="fa fa-chevron-{{showFileSearchSinippets?'up':'down'}}"></span></a>
  <b ng-if="fileModifiedSinceScanned" class="notice"  style="margin-top: 10px;margin-left: 30px;" title ="File was modified since scanned. Results here are up-to-date">* </b>

  <span ng-show="showFileSearchSinippets" style="display: block">
    <!--<h3 ng-show="filehighlightedContentHtml" style="margin-left: 40px;">{{filehighlightedContentHtml.length}} result found for {{searchText}}</h3>-->
    <span ng-show="fileSnippets==null" style="margin-top: 15px;">
      Processing highlights...
      <span class="fa fa-spinner fa-spin"></span>
    </span>
    <span ng-show="fileSnippets.length>0" style="margin-top: 15px;"><b>{{searchText}} highlights: </b>
    </span>
    <span ng-if="fileSnippets.length==0" style="margin-top: 10px;">
      Could not highlight
      <span ng-show="searchText"><b>{{searchText}}</b></span>
    </span>
    <ul  class="highlightedContent">
      <li ng-repeat=" res in fileSnippets track by $index" ng-bind-html="res"></li>
    </ul>
    <hr ng-if="excelLocations.length>0" style="margin:0 0 5px 0" />
    <a ng-show="excelLocations.length>0" ng-click="showExcelLocations=!showExcelLocations" class="btn btn-link btn-xs">
      <b>Locations:
        <span class="fa fa-chevron-{{showExcelLocations?'up':'down'}}"></span>
      </b>
    </a>
    <span  ng-show="showExcelLocations" style="margin-left: 15px;max-height:200px;overflow-y: auto">
      <span ng-repeat=" location in excelLocations  track by $index" style="display: block;margin-bottom: 0" >
        <a ng-click="showExcelSheetLocations=!showExcelSheetLocations" class="btn btn-link btn-sm" style="display: block;text-align: left;">
          <span class1="fa fa-{{!showExcelSheetLocations?'plus':'minus'}}"></span>
          Sheet
          <b> {{location.sheetName}} </b>
        </a>
        <span ng-show="showExcelSheetLocations" style="max-height: 150px; overflow-y: auto;margin: 0px;margin-left: 20px;display: block;margin-bottom: 10px ">
          <span ng-repeat="cell in location.cells">{{cell}}<br /></span>
        </span>
      </span>
    </span>
  </span>
</span>