<div class=" btn-group assinments-toolbar" >
  <a class="btn btn-flat btn-xs" ng-click="toggleMinimizeToolbar()" ng-attr-title="{{(minimizeToolbar?'Expand':'Collapse') +' marked groups toolbar'}}"><i ng-show="minimizeToolbar" class="fa fa-caret-right"></i>
    <i  class="{{iconClass}} tag-3" ></i>
  </a>
  <div class="btn-group" role="choose item" ng-show="!minimizeToolbar">
    <button  class="btn btn-flat btn-xs dropdown-toggle "   data-toggle="dropdown" ng-disabled="disabled"
             role="selected tag"  title="Marked groups for common actions">

      Marked groups ({{savedRecentlyUsedMarkedItemItems?savedRecentlyUsedMarkedItemItems.length:'?'}})
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">

      <li  ng-repeat="recentlyUsedMarkedItem in savedRecentlyUsedMarkedItemItems" ng-disabled="disabled" class="show-on-hover1" ng-class="{disabled:disabled}" title="Locate '{{recentlyUsedMarkedItem.name}}'" style="position: relative">
        <a ng-click="saveRecentlyUsedMarkedItems([recentlyUsedMarkedItem]);locateRecentlyUsedMarkedItem(recentlyUsedMarkedItem);">
          <span  class="{{getIconName(recentlyUsedMarkedItem.entity)}}"></span>&nbsp;<span class=""> {{recentlyUsedMarkedItem.name}}</span>

           <span class="btn btn-link  btn-xs top-right-position" style="top: 4px;"><i class="fa fa-trash-o" ng-click="removeRecentlyUsedMarkedItem(recentlyUsedMarkedItem);$event.stopPropagation();"></i></span>
         </a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedMarkedItemItems.length>0"></li>
      <li ng-disabled="!enableMarkItem()" ng-class="{disabled:!enableMarkItem()}"><a ng-click="addSelectedItemToMarkedItems();"><i class="{{iconClass}} tag-3"> </i>&nbsp; Mark group</a></li>
   </ul>
  </div>
  <!--<div class="btn-group" role="filter by" ng-show="!minimizeToolbar">-->
    <!--<button role="filter ddl" class="btn btn-flat btn-xs dropdown-toggle " title="Filter by doc types"  data-toggle="dropdown">-->
      <!--<i class="fa fa-filter"></i>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="split-button">-->
      <!--<li  ng-repeat="recentlyUsedMarkedItem in savedRecentlyUsedMarkedItemItems"  title="filter by MarkedItem: '{{recentlyUsedMarkedItem.name}}'" style="position: relative;">-->
        <!--<a ng-click="doMarkedItemFilter(recentlyUsedMarkedItem);">-->
          <!--<i   class="{{getIconName(recentlyUsedMarkedItem.entity)}}" ></i>&nbsp;{{recentlyUsedMarkedItem.name}}</span>-->
          <!--<span class="btn btn-link  btn-xs top-right-position"><i class="fa fa-map-marker" ng-click="locateRecentlyUsedMarkedItem(recentlyUsedMarkedItem);$event.stopPropagation();"></i></span>-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<div class="btn-group" role="settings" ng-show="!minimizeToolbar">-->
    <!--<button role="buttons settings ddl" ng-click="openSelectMarkedItemsDialog(true);"  class="btn btn-flat btn-xs  ">-->
      <!--<i class="fa fa-cog"></i>-->
    <!--</button>-->
  <!--</div>-->
</div>
