<div class=" btn-group assinments-toolbar" >
  <a class="btn btn-flat btn-xs" ng-click="toggleMinimizeToolbar()" ng-attr-title="{{(minimizeToolbar?'Expand':'Collapse') +' Matter toolbar'}}"><i ng-show="minimizeToolbar" class="fa fa-caret-right"></i>
    <i class="{{iconClass}} tag-{{getMatterStyleId(activeSelectedMatterItem)}} opacity-depth-{{getMatterDepth(activeSelectedMatterItem)}} " ></i>
  </a>
  <div class="btn-group" role="choose item" ng-show="!minimizeToolbar">
     <button  class="btn btn-flat btn-xs dropdown-toggle" data-toggle="dropdown" ng-disabled="!isAssignEnabled" role="selected tag"  title="Add /remove Department from selected rows">
       Matter
       <span class="caret"></span>
    </button>
    <ul class="dropdown-menu labels-list-no-buttons" role="menu" aria-labelledby="split-button">

      <li  ng-repeat="recentlyUsedMatter in savedRecentlyUsedMatterItems"  title="Toggle selected item with Matter: '{{recentlyUsedMatter.fullName}}'">
        <a ng-click="toggleMatterToSelectedItems(recentlyUsedMatter);" >
          <i class="{{iconClass}} tag-{{getMatterStyleId(recentlyUsedMatter)}} opacity-depth-{{getMatterDepth(recentlyUsedMatter)}}"></i>
          &nbsp;<span class="btn tag1 label label-tag-{{getMatterStyleId(recentlyUsedMatter)}} opacity-depth-{{getMatterDepth(recentlyUsedMatter)}} ">{{recentlyUsedMatter.name}}</span>
        </a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedMatterItems.length>0"></li>
      <li><a ng-click="selectMatterDialog(false, addMatterToSelectedItems)">Choose Matter...</a></li>
    </ul>
  </div>
  <div class="btn-group" role="filter by" ng-show="!minimizeToolbar">
     <button role="filter ddl" class="btn btn-flat btn-xs dropdown-toggle " title="Filter by Matters"  data-toggle="dropdown">
         <i class="fa fa-filter"></i>
    </button>
    <ul class="dropdown-menu labels-list-no-buttons" role="menu" aria-labelledby="split-button">
      <li  ng-repeat="recentlyUsedMatter in savedRecentlyUsedMatterItems"  title="filter by Matter: '{{recentlyUsedMatter.fullName}}'">
        <a ng-click="doMatterFilter(recentlyUsedMatter,true);">
          <i class="fa fa-filter"></i> &nbsp;
          <i  class="{{iconClass}} tag-{{getMatterStyleId(recentlyUsedMatter)}} opacity-depth-{{getMatterDepth(recentlyUsedMatter)}} " ></i>
          &nbsp;<span class="btn tag1 label label-tag-{{getMatterStyleId(recentlyUsedMatter)}} opacity-depth-{{getMatterDepth(recentlyUsedMatter)}} ">
               {{recentlyUsedMatter.name}}</span></a>
      </li>
      <li class="divider " ng-if="savedRecentlyUsedMatterItems.length>0"></li>
      <li><a ng-click="doMatterFilterBy()"><i class="fa fa-filter"></i>&nbsp;Choose Matter... </a></li>
      <li class="divider "></li>
      <li><a ng-click="doUnAssociationFilterBy()" bubble="Filter all files which do not have associated matter"><i class="fa fa-filter"></i>&nbsp;Unassociated files </a></li>
    </ul>
  </div>
  <div class="btn-group" ng-if="isMngMatterConfigUser" role="settings" ng-show="!minimizeToolbar" title="Open Matter settings page in a new tab ">
    <button role="buttons settings ddl" ng-click1="openManagePage()"  class="btn btn-flat btn-xs dropdown-toggle"  data-toggle="dropdown">
       <i class="fa fa-cog"></i>
   </button>
    <ul class="dropdown-menu">
      <li><a ng-click="openManagePage()"><i class="fa fa-cogs" ></i>&nbsp; Open Matter settings...</a></li>
    </ul>
  </div>
</div>
