<span class="navigate-by-drop-down btn-group dropdown shrink-if-no-space">
  <button class="{{className }} dropdown-toggle" ng-disabled="btnDisabled"  data-toggle="dropdown" >{{ title }}
    <span class="caret"></span>
  </button>
  <ul aria-labelledby="split-button" class="dropdown-menu"  role="menu" style="overflow-y: auto;max-height: 320px;min-height:100px">
    <li>
      <span class="search-box search-box-no-search-on-enter"  ng-click="$event.stopPropagation()">
        <input class="navigate-by-input form-control form-control-sm input-light" ng-click="$event.stopPropagation()" ng-keydown="checkArrowKeys($event)" ng-model="searchNavBy" placeholder="Search"  style="margin-top: 5px;" type="text">
        <span class="icon fa fa-search" ></span>
        <a class="clear" ng-click="searchNavBy=undefined;$event.stopPropagation()" ng-show="searchNavBy"></a>
      </span>
    </li>
    <li ng-class="{'go-index-highlight' : ($index == goIndex), disabled:viewDisabled  && viewDisabled(opt)}" ng-repeat="opt in viewOptions  | filter: {title : searchNavBy} | orderBy: 'title' " ng-show="viewPermitted(opt)"  title="{{opt.tooltip}}">
      <a ng-click="onChangeFunc(opt)">{{opt.title}}</a>
    </li>
  </ul>
</span>
