<!--<div class="header-search-container">-->
<form   name="searchForm" class="" style="position: relative; line-height: 17px;">
   <span class=" top-left-position" style="margin-top:2px;">
               <a  class="btn btn-link btn-sm search-icon1 " ng-click="doUserSearch(searchTerm);"><i class="fa fa-search" ></i></a>
  </span>
  <input  class="form-control has-right-two-icons has-left-icon" focus-if1="true;" name="search" ng-class="{'notice':badSearchText&&!userTypingSearchTerm}" ng-enter="onEnter()" ng-model="searchTerm" select-text-if="badSearchText"
          ng-keydown="userSubmittedSearch=false;userTypingSearchTerm=true"
          ng-minlength="{{searchMinLength}}"   placeholder="Search"
          style="padding-right: 163px;" type="text"  >
  <span  class="btn-group top-right-position" style="top:2px; background: #fff;margin-right: 1px">
     <a  ng-show="searched" class="btn btn-link btn-sm "  ng-click="clearUserSearch()" bubble="Clear search" tooltip-direction="bottom"><i class="fa fa-times"></i></a>
    <button class="btn btn-link btn-sm " ng-show="searched" ng-click="startNewUserSearch()" bubble="Create new search" tooltip-direction="bottom">
      <i class="fa fa-filter"></i><i class="fa fa-plus" style="font-size: 8px;margin-top: 1px;"></i></button>


    <span class="btn-group dropdown">
      <a  class="btn btn-link btn-sm dropdown-toggle " data-toggle="dropdown">
       {{selectedUserSearchOption.value}} &nbsp{{selectedUserSearchMode.value}}&nbsp
       <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu"   style="min-width:60px;" >
            <li ng-repeat="searchMode in userSearchModes">
                  <a ng-click="setSelectedUserSearchMode(searchMode)">
                     <i class="fa fa-check" ng-show="selectedUserSearchMode == searchMode"></i>
                     {{searchMode.value}}
                   </a>
             </li>
            <li class="divider"></li>
            <li ng-repeat="searchOption in userSearchOptions">
                <a ng-click="setSelectedSearchOptionMode(searchOption)">
                   <i class="fa fa-check" ng-show="selectedUserSearchOption == searchOption"></i>
                {{searchOption.value}}
                </a>
            </li>
      </ul>
    </span>
      <button ng-if="showGoogleLikeSearch" class="btn btn-flat btn-sm" popover-class="increase-popover-width"  popover-is-open="isOpen"
              popover-placement="bottom" popover-title="Add filter term" type="button"  uib-popover-template="'myPopoverTemplate.html'">Advanced</button>

    <script id="myPopoverTemplate.html" type="text/ng-template" >
       <div class="row" >
          <div class="col-md-4" ng-repeat="term in filterTerms" style="padding: 10px;"><a ng-click="addSearchTerm(term.term)" >{{term.title}} </a></div>
       </div>
    </script>
 </span>

  <small>
  <span class="notice" ng-show="userSubmittedSearch&&searchForm.search.$error.minlength">Minimum {{searchMinLength}} chars for search!</span>
  <span class="notice" ng-show="userSubmittedSearch&&badSearchText">Bad search text</span>
  </small>

</form>
<!--<div  style="position: relative;" class="header-item header-search" role="search">-->
  <!--<div class="header-search-container">-->

    <!--<div class="pull-left">-->
      <!--<a  class="btn btn-link search-icon " ng-click="doSearch(searchTerm);"><i class="fa fa-search" ></i></a>-->

    <!--</div>-->
    <!--<div class="pull-right">-->
    <!--<span style="vertical-align: middle;">-->
      <!--<span class="btn-group ddl" uib-dropdown>-->
             <!--<a  class="btn btn-link dropdown-toggle btn-sm " uib-dropdown-toggle>-->
               <!--{{selectedUserSearchOption.value}} &nbsp{{selectedUserSearchMode.value}}&nbsp-->
               <!--<span class="caret"></span>-->
             <!--</a>-->
            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="split-button">-->
              <!--<li ng-repeat="searchMode in userSearchModes">-->
                <!--<a ng-click="setSelectedUserSearchMode(searchMode)">-->
                  <!--<i class="fa fa-check" ng-show="selectedUserSearchMode == searchMode"></i>-->
                  <!--{{searchMode.value}}-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="divider"></li>-->
              <!--<li ng-repeat="searchOption in userSearchOptions">-->
                <!--<a ng-click="setSelectedSearchOptionMode(searchOption)">-->
                  <!--<i class="fa fa-check" ng-show="selectedUserSearchOption == searchOption"></i>-->
                  <!--{{searchOption.value}}-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
         <!--</span>-->
   <!--</span>-->
<!--</div>-->
    <!--<div class="pull-right" style="padding-left: 0;padding-right: 4px;">-->
      <!--<span style="vertical-align: middle">|</span>-->
    <!--</div>-->
    <!--<div class="pull-right">-->
      <!--<a  ng-show="searched" class="btn btn-link btn-xs " style="padding-top: 2px;" ng-click="clearUserSearch()" title="Clear search"><i class="fa fa-times"></i></a>-->
      <!--<button class="btn btn-link btn-xs pull-right" ng-show="searched" ng-click="startNewUserSearch()" title="Create new search">-->
        <!--<i class="fa fa-filter"></i><i class="fa fa-plus" style="font-size: 8px;margin-top: 1px;"></i></button>-->
    <!--</div>-->
    <!--<form   name="searchForm" style="position: relative">-->
      <!--<input  name="search" style="margin-top:1px;" class="full-width" ng-class="{'notice':badSearchText&&!userTypingSearchTerm}" ng-model="searchTerm" ng-enter="doUserSearch(searchTerm);userSubmittedSearch=true;" type="text"-->
              <!--ng-keydown="userSubmittedSearch=false;userTypingSearchTerm=true"-->
             <!--ng-minlength="{{searchMinLength}}"   placeholder="Search"-->
              <!--focus-if="badSearchText" select-text-if="badSearchText"-->
      <!--&gt;-->


      <!--</form>-->

    <!--<span class="clearfix"></span>-->
    <!--<small>-->
      <!--<span class="notice" ng-show="userSubmittedSearch&&searchForm.search.$error.minlength">Minimum {{searchMinLength}} chars for search!</span>-->
      <!--<span class="notice" ng-show="userSubmittedSearch&&badSearchText">Bad search text</span>-->
    <!--</small>-->



  <!--</div>-->
<!--</div>-->
