.isMsIe11 {
  split-view-filter {
    .choose-doc-type-area {
      .docType-name {
        width: 150px !important;
      }
    }
  }
}

.split-view-main-header {
  align-items: center;
  padding-left: 7px;

  .split-view-main-header-title {
    font-weight: bold;
    font-size: 16px;
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .split-view-main-header-btn {
    margin-bottom: 5px;
  }

  .split-view-main-header-btn-dropdown {
    padding: 0;
    margin-top: -5px;
  }
}

.split-view-toolbar-header {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
  box-sizing: border-box;
  vertical-align: top;
  padding-top: 0;
  display: flex;
  flex-direction: row-reverse;

  &.row-mode {
    flex-direction: column !important;

    .filters-wrapper {
      flex:1 1 auto;
      margin: 8px 5px 5px 0;
      width: 100%;
    }

    .tags-wrapper {
      flex:1 1 auto;
    }

    .title-wrapper {
      flex:1 1 auto;
    }
  }

  .filters-wrapper {
    vertical-align: middle;
    display: flex;
    margin: 0 0 0 0;
    width: 100px;
    align-items: center;
  }

  .tags-wrapper {
    margin-bottom: 0;
    display: flex;
    flex: 1;
  }

  .title-wrapper {
    margin-bottom: 0;
    display: flex;
  }
}


split-view-filter {
  .splitter-element {
    .panel {
      .panel-header {
        .title {
          .discover-searchbox {
            position: absolute;
            right: 0;
            top: 8px;
            padding: 1px;


            input {
          //    line-height: 26px;
           //   height: 28px;
            }
            .icon {
              top: 8px;
              left: 8px;
            }

            .clear {
              top: 5px;
              right: 7px;
            }
          }
        }
      }
    }
  }
}

.disable-focus-display:focus {
  outline: 0;
}

.go-index-highlight {
  a {
    background-color: #dedede !important;
  }
}



