<div class="panels-container fill-height fill-width" ng-init="init()" resize>
  <div class="split-view-main-header" >
    <a ng-show="!editTitleMode" class="split-view-main-header-title" ng-click="openManageViewsPage(selectedView.id)">{{viewTitle}}</a>
    <a ng-show="allowEditViewTitle()" class="btn btn-link btn-sm" ng-click="editTitleMode = !editTitleMode" style="padding-right: 50px;padding-bottom: 10px;"><i class="fa fa-pencil"></i></a>
    <input ng-show="editTitleMode" focus-if="editTitleMode" select-text-if="editTitleMode" ng-click="$event.stopPropagation();" style="position: absolute; top: 0; left: 0; max-width: 250px;" class="form-control" ng-model="newViewTitle" ng-enter="editViewTitle()" ng-esc="editTitleMode = !editTitleMode;newViewTitle=''" ng-blur1="editViewTitle()" type="text" placeholder="New title"/>
    <a ng-if="allowEditSavedView()" class="btn btn-flat btn-xs split-view-main-header-btn" title="Save view" ng-click="onSaveView(false)"><span>&nbsp;Save</span></a>&nbsp
    <a class="btn btn-flat btn-xs split-view-main-header-btn" title="Save new view" ng-click="onSaveView(true)"><span>&nbsp;Save as</span></a>&nbsp;

    <div role="toolbar settings button" class="btn-group pull-right split-view-main-header-btn-dropdown">
      <a class="btn btn-link dropdown-toggle" title="Options" data-toggle="dropdown"><span class="fa fa-ellipsis-v"></span></a>
      <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation();">
        <li ng-click="setMainToolbar()" title="Show/Hide toolbar">
          <a><i class="fa" ng-class="{'fa-check-square-o':!hideMainToolbar,'fa-square-o':hideMainToolbar}"></i>&nbsp;&nbsp;Toolbar</a>
        </li>
        <li ng-click="setFilterPane()" title="Show/Hide filter bar">
          <a><i class="fa" ng-class="{'fa-check-square-o':isFiltersPaneVisible,'fa-square-o':!isFiltersPaneVisible}"></i>&nbsp;&nbsp;Filter bar</a>
        </li>
      </ul>
    </div>

    <!-- div role="toolbar chart button" class="btn-group pull-right split-view-main-header-btn-dropdown" style="padding-top: 2px">
      <a class="btn btn-link btn-sm" ng-click="createDashboardWidget();" title="Add new widget">
        <i class="fa fa-bar-chart "></i>
      </a>
    </div -->

  </div>
  <div  ng-if="!hideToolbarHeader"  class="split-view-toolbar-header panel-header upper-header" ng-class="{'row-mode': isFiltersPaneVisible}">
    <div class="tags-wrapper" >
      <split-view-settings-toolbar ng-show="!hideToolbarHeader && !hideMainToolbar" ng-show1="showToolbarsActive"  style="min-height: 30px;padding-right:20px;width:100%">
            <div class="header-item " ng-if="isViewTagsUser" ng-init="showTagsToolbar=true"   role="tags"  order-toolbars="1" split-view-toolbar="Tag types" show-toolbar="showTagsToolbar" multiple-toolbars="tagTypes" icon-class="{{tagTypeIconClass}}">
              <tags-menu disabled="(isTagDisabled(leftPaneType)&&activePan=='left')||(isTagDisabled(rightPaneType)&&activePan=='right')" tag-toolbars="tagTypes"   open-manage-page="openManageTagTypesPage"
                         refresh-needed="isActivePanTagsRefreshNeeded()"  reload-data="reloadDataActivePan" refresh-data="refreshDataLeftPan" display-type="activePanType" selected-items-to-tag="selectItemsActivePan"
                         added-filter="tagMenuFilter"></tags-menu>

            </div>
        <div class="header-item" ng-if="isViewDepartmentUser" role="department" order-toolbars="2" split-view-toolbar="Department" show-toolbar="showDepartmentToolbar" show-by-default icon-class="{{departmentIconClass}}">
          <department-menu disabled="(isDepartmentDisabled(leftPaneType)&&activePan=='left')||(isDepartmentDisabled(rightPaneType)&&activePan=='right')" open-manage-page="openManageDepartmentPage"
                           refresh-needed="isActivePanTagsRefreshNeeded()" reload-data="reloadDataActivePan" refresh-data="refreshDataActivePan" display-type="activePanType" selected-department-item-to-tag="selectItemsActivePan" style="display:inline-block"></department-menu>
        </div>
        <div class="header-item" ng-if="isViewMatterUser" role="matter" order-toolbars="2" split-view-toolbar="Matter" show-toolbar="showMatterToolbar" show-by-default icon-class="{{matterIconClass}}">
          <matter-menu disabled="(isDepartmentDisabled(leftPaneType)&&activePan=='left')||(isDepartmentDisabled(rightPaneType)&&activePan=='right')" open-manage-page="openManageMatterPage"
                           refresh-needed="isActivePanTagsRefreshNeeded()" reload-data="reloadDataActivePan" refresh-data="refreshDataActivePan" display-type="activePanType" selected-matter-item-to-tag="selectItemsActivePan" style="display:inline-block"></matter-menu>
        </div>
            <div class="header-item" ng-if="isViewDocTypesUser"  role="doc-types"  order-toolbars="3"  split-view-toolbar="DocTypes" show-toolbar="showDocTypesToolbar"  show-by-default icon-class="{{docTypeIconClass}}">
                <doc-Types-menu disabled="(isDocTypeDisabled(leftPaneType)&&activePan=='left')||(isDocTypeDisabled(rightPaneType)&&activePan=='right')"
                                open-manage-page="openManageDocTypesPage"
                                refresh-needed="isActivePanTagsRefreshNeeded()" reload-data="reloadDataActivePan"  refresh-data="refreshDataActivePan" display-type="activePanType"    selected-doc-types-items-to-tag="selectItemsActivePan" style="display:inline-block"></doc-Types-menu>
              </div>
              <div class="header-item" ng-if="isViewFunctionalRolesUser" role="functional-roles" order-toolbars="4" style="margin-left: 3px" split-view-toolbar="Data roles" show-toolbar="showFunctionalRolesToolbar"  show-by-default icon-class="{{funcRoleIconClass}}">
                <functional-roles-menu disabled="(isFunctionalRoleDisabled(leftPaneType)&&activePan=='left')||(isFunctionalRoleDisabled(rightPaneType)&&activePan=='right')"
                                open-manage-page="openManageFunctionalRolesPage"
                                refresh-needed="isActivePanTagsRefreshNeeded()" reload-data="reloadDataActivePan"  refresh-data="refreshDataActivePan" display-type="activePanType"  selected-functional-roles-items-to-tag="selectItemsActivePan" style="display:inline-block"></functional-roles-menu>
              </div>
              <div class="header-item"  class="header-item" ng-if="isViewBizListUser"  order-toolbars="5" role="client associations" split-view-toolbar="Clients association" show-toolbar="showAssociationsToolbar" icon-class="{{associationIconClass}}" show-by-default>
                <biz-list-association-menu disabled-menu="(isBizListAssociationDisabled(leftPaneType)&&activePan=='left')||(isBizListAssociationDisabled(rightPaneType)&&activePan=='right')"
                                           refresh-needed="isActivePanTagsRefreshNeeded()"  refresh-data="refreshDataActivePan"
                                           reload-data="reloadDataActivePan" display-type="activePanType"
                                           biz-list-type="bizListAssociationMenuType"
                                           open-manage-association-page="openManageAssociationPage"
                                           change-grid-view="changeGridView"
                                           selected-items-to-biz-list-associate="selectItemsActivePan" style="display:inline-block"></biz-list-association-menu>
              </div>
              <div class="header-item "   ng-if="isViewBizListUser" order-toolbars="6" role="extraction rules" split-view-toolbar="Consumer extractions" show-toolbar="showExtractionsToolbar" icon-class="{{extractionIconClass}}" >
                <biz-list-association-menu disabled-menu="(isBizListAssociationDisabled(leftPaneType)&&activePan=='left')||(isBizListAssociationDisabled(rightPaneType)&&activePan=='right')"
                                           refresh-needed="isActivePanTagsRefreshNeeded()"  refresh-data="refreshDataActivePan"
                                           reload-data="reloadDataActivePan" display-type="activePanType"
                                           biz-list-type="bizListExtractionRulesMenuType"
                                           open-manage-association-page="openManageAssociationPage"
                                           change-grid-view="changeGridView"
                                           selected-items-to-biz-list-associate="selectItemsActivePan" style="display:inline-block"></biz-list-association-menu>
              </div>
              <div class="header-item "  ng-if="isRolesInitiated" order-toolbars="7"  role="file-dates"  split-view-toolbar="Date partitions" show-toolbar="showDatePartitionsToolbar" icon-class="{{datePartitionsIconClass}}">
                <file-dates-menu
                                refresh-needed="isActivePanTagsRefreshNeeded()" reload-data="reloadDataActivePan"  refresh-data="refreshDataActivePan" display-type="activePanType"  ></file-dates-menu>
              </div>
              <div class="header-item "  ng-if="isRolesInitiated"   order-toolbars="8" role="file-dates" split-view-toolbar="Marked groups" show-toolbar="showMarkedItemsToolbar" icon-class="{{markedItemIconClass}}"  show-by-default>
                  <marked-items-menu selected-items-to-tag="selectItemsActivePan" open-new-tab-fn="openNewTab"
                      refresh-needed="isActivePanTagsRefreshNeeded()" reload-data="reloadDataActivePan"  refresh-data="refreshDataActivePan" display-type="activePanType" not-active-display-type="activePanType==rightPaneType?leftPaneType:rightPaneType" ></marked-items-menu>
            </div>

      </split-view-settings-toolbar>
      <!--<div class="full-width">-->
       <!--<a class="btn btn-xs btn-flat pull-right" ng-show="!showToolbarsActive" ng-click="showToolbarsActive=!showToolbarsActive"> Show toolbars</a>-->
      <!--</div>-->
    </div>
    <div class="filters-wrapper">
      <span class="header-item"  role="filter" style="margin:-1px 0 0 4px">
        <page-filter-tags  left="true" get-filter-name="getFilterDisplayedName" left-pane-type="leftPaneType" right-pane-type="rightPaneType"
          view-left-options="viewLeftOptions" view-right-options="viewRightOptions" view-right-disabled="viewRightDisabled" filter-bar-option="true" is-filters-pane-visible="isFiltersPaneVisible"></page-filter-tags>
      </span>
      <active-filters-pane ng-show="isFiltersPaneVisible"  filter-service="getFilterService" ></active-filters-pane>
    </div>
  </div>
  <split-view-filter >
    <div  kendo-splitter="splitter1"  class="splitter-element" role="main-view"  k-orientation="'horizontal'" ng-style1="{height:contentHeight(-160)}"
          k-panes='[{ collapsible: true, size: leftPanWidth }
                                                      , { collapsible: true }]'   >

      <div class="left-view-panel panel panel-resizable fill-height left disable-focus-display" ng-class="{'not-active':activePan=='right'}"  ng-keydown="checkTabKey($event)" role="left-view" style="margin-bottom: 0; "  tabindex="0">
        <div ng-if="!hideToolbarHeader" class="panel-header " >
          <div role="toolbar-row" class="full-width title" >

            <div class="header-item pull1-right" role="viewLeft ddl">
              <navigate-by-menu class-name="btn navigate-by-drop-menu  dropdown-toggle  btn-flat btn-xs btn-main-opeartion" on-change-func="viewLeftChanged" title="Navigate by" view-options="viewLeftOptions" view-permitted="viewPermitted"></navigate-by-menu>
            </div>
            <!-- div class="header-item "  role="show only unassigned" style="margin-left: 40px">
              <a ng-click="toggleShowOnlyUnassigned()" class="btn btn-link btn-xs"  style="margin-top: 3px">
                <i ng-show="showOnlyUnassigned" class="fa fa-check-square-o " title="Show only unassigned " ></i>
                <i ng-show="!showOnlyUnassigned" title="Show only unassigned"  class="fa fa-square-o" ></i>
                &nbsp;Show Only Unassigned
              </a>
            </div -->

            <div class="header-item "  style="margin-left: 15px;"  >
              <filter-by-text  display-type="activePanType" style="margin-top:-3px;"></filter-by-text>
            </div>
          </div>
        </div>
        <div class="panel-header ibox-title" style="padding-bottom: 2px;">
          <div class="header-item pull-right " style="position:relative;" role="export">
            <i ng-show="exportLeftToExcelInProgress" class="fa fa-spinner fa-spin" style="margin: 7px 20px 7px 10px"></i>
            <div ng-show="!exportLeftToExcelInProgress" class="btn-group dropdown">
              <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Download data in Excel format" ng-class="{'disabled':exportLeftToExcelInProgress||isExportToExcelDisabled(leftPaneType)}" ng-disabled="exportLeftToExcelInProgress">
                <i class="fa fa-download"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu pull-right"  >
                <li> <a ng-click="onExportLeftToExcel();" title="Export {{left}} data to Excel"  >Export to Excel</a></li>
              </ul>
            </div>
          </div>


          <div  class="header-item pull-right" role="chart" style="position:relative;">
            <div class=" btn-group " style="margin: 0 4px;" ng-if="!isChartDisabled(leftPaneType)">
              <div class="btn-group" role="choose item" ng-show="!minimizeToolbar[$index]">
                <button role="tag list ddl" ng-if="isShowSunburstEnabled(leftPaneType)" data-toggle="dropdown"  ng-disabled="createChartLeftInProgress" title="Save chart that is created from all {{left}}s"  class="btn btn-flat btn-xs dropdown-toggle">
                  View as chart
                  <span class="caret"></span>
                </button>
                <button role="tag list ddl" ng-if="!isShowSunburstEnabled(leftPaneType)" ng-disabled="createChartLeftInProgress" ng-click="!createChartLeftInProgress && createDashboardWidget();" title="Save chart that is created from all {{left}}s"  class="btn btn-flat btn-xs ">
                  View as chart
                </button>
                <ul class="dropdown-menu" ng-if="isShowSunburstEnabled(leftPaneType)">
                  <li>
                    <a class="btn btn-link btn-sm" ng-click="showSunburstWidget();"  title="View as sunbusrt chart"> <span>
                      </span>Treemap chart</a>
                  </li>
                </ul>
              </div>

              <div class="btn-group" role="settings" >
                <button role="buttons settings ddl"  title="Open chart" class="btn btn-flat btn-xs "  ng-click="!createChartLeftInProgress && createDashboardWidget();" >
                  <i ng-if="!createChartLeftInProgress" class="fa fa-bar-chart "></i>
                  <i ng-if="createChartLeftInProgress" class="fa fa-spinner fa-spin" style="padding-top: 2px"></i>
                </button>
              </div>
            </div>
          </div>



          <div class="header-item " style="white-space: nowrap;min-width: 120px;" role="viewLeft ddl">
            <h4 style="margin-right:10px">{{left}} {{(isDirectFilesToggleEnabled(leftPaneType)&&includeSubEntityDataLeft?' subtree':'')|translate}}  </h4>


          <!--<div class="header-item "   role="file-dates" ng-if="isFilterDatesEnabled(leftPaneType)" >-->
            <select-date-partition  ng-if="isFilterDatesEnabled(leftPaneType)" disabled-menu1="(isDocTypeDisabled(leftPaneType)&&activePan=='left')||(isDocTypeDisabled(rightPaneType)&&activePan=='right')"
                                   refresh-needed="isActivePanTagsRefreshNeeded()" on-select-partition="onSelectEntityTypeIdLeft" reload-data="reloadDataActivePan"  refresh-data="refreshDataActivePan" display-type="activePanType"  ></select-date-partition>
          <!--</div>-->
          </div>
          <div  class="header-item" style="margin-left: 12px;" ng-show="isDirectFilesToggleEnabled(leftPaneType)" role="direct files/ all files">
            <a class="btn btn-flat btn-xs" ng-click="toggleIncludeSubEntityDataLeft()"  style="min-width: 60px;"><i class="{{!includeSubEntityDataLeft?'fa fa-sitemap':'ion-android-folder-open'}}"></i>&nbsp;{{!includeSubEntityDataLeft?'All':'Direct'}}</a>
          </div>


          <div  class="header-item" style="margin-left: 12px;" ng-show="isShowPatternButton(leftPaneType)" role="All Patterns/ Only multiple patterns">
            <a class="btn btn-flat btn-xs" ng-click="toggleLeftPatternButton(leftPaneType)"  style="min-width: 60px;"><i class="fa fa-flag"></i>&nbsp;{{ isShowMultiplePatterns(leftPaneType)?'All patterns':'Only multiple patterns'}}</a>
          </div>


          <div role="fully contained" class="header-item" style="margin-left: 2px;" ng-show="isFullyContainedToggleEnabled(leftPaneType,rightPaneType)"  >
               <span class="btn-group dropdown" >
                  <button class="btn btn-flat btn-xs dropdown-toggle " data-toggle="dropdown" title="Filter by groups which are&#10; fully contained within a folder">
                    <i class="{{isFullyContainedFilter()?'ion-ios-flask':isNotFullyContainedFilter()?'ion-ios-flask-outline': 'ion-erlenmeyer-flask'}}"></i>
                    &nbsp;Contained
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="split-button" >
                    <li ng-repeat="fullyContainedState in fullyContainesStates" ><a ng-click="setIncludeFullyContainedDataLeft(fullyContainedState)">
                      <i class="fa fa-check" ng-show="includeFullyContainedDataLeft == fullyContainedState"></i>&nbsp;{{('state_'+fullyContainedState.toString())|translate}}
                    </a></li>

                  </ul>
                </span>
          </div>


          <div class="header-item"  role="Attestation" ng-if="isAttestationEnabled(leftPaneType)&& isDemoUser" style="margin-left: 2px;">
            <div class="btn-group dropdown" >
              <button  title="Perform actions on files" data-toggle="dropdown"  ng-disabled="!selectedLeftId"  class="btn btn-flat btn-xs dropdown-toggle" title="Add remove read only access rights from folder">
                Attestation
                <span class="caret"></span>
              </button>
              <!--<ul class="dropdown-menu">-->
            <permissions-immediate-actions-menu-items selected-items-to-execute-on="selectItemsLeft" total-effected-entities="totalElementsLeft"
                                                        get-current-url="getLeftUrl" get-current-filter="getLeftFilter" auto-import-params="leftPaneType" > </permissions-immediate-actions-menu-items>
              <!--</ul>-->
            </div>
          </div>
          <div class="header-item"  role="findBy" ng-if="isFindByEnabled(leftPaneType)">
            <find-by-input tooltip-text="Locate folder by path" text="Locate" placeholder="Path to locate" find-by="findByLeft"></find-by-input>
          </div>
          <div class="header-item" role="sorter" class="pull-right" style="display:none" ng-if="!showFolders">
            <label>Sort by&nbsp;</label>
            <select ng-model="selectedGroupSort" ng-options="groupSort.name for groupSort in groupSorts" ng-change="groupsSortBy(selectedGroupSort.value.field,selectedGroupSort.value.descDirection)">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="clearfix"></div>
        <div ng-if="isRolesInitiated" class="panel-body left-panel-body leftBody"  >

        </div>

      </div>
      <div class="panel panel-resizable fill-height right-view-panel" ng-class="{'not-active':activePan=='left'}" ng-keydown="checkTabKey($event)" role="right-view"  style="margin-bottom: 0">
        <div ng-if="!hideToolbarHeader"  class="panel-header ">
          <div role="toolbar-row" class="full-width title " style="overflow: visible">
            <div class="header-item " role="viewRight ddl">
              <navigate-by-menu class-name="btn navigate-by-drop-menu  dropdown-toggle  btn-flat btn-xs btn-main-opeartion" on-change-func="viewRightOptionHandlerClick" title="View" view-disabled="isRightViewItemDisabled" view-options="viewRightOptions"  view-permitted="viewPermitted"></navigate-by-menu>
            </div>
            <div class="header-item " role="FollowUp ddl" style="margin-left: 4px">
              <navigate-by-menu on-change-func="doFollowUp" class-name="btn btn-flat btn-xs dropdown-toggle" title="Drill down" btn-disabled="isFollowUpDisabled(leftPaneType, rightPaneType)||(!selectItemsRight||selectItemsRight.length<1)" view-disabled="isFollowUpOptionDisabled" view-options="followUpOptions"  view-permitted="viewPermitted"></navigate-by-menu>
            </div>
            <div class="header-item " role="switch panes" style="margin-left: 4px">
              <a href="#" ng-click="switchPanes()" class="btn btn-flat btn-xs" title="Switch views" ng-class="{disabled:isSwitchViewsDisabled(leftPaneType,rightPaneType)}">
                <i class="fa fa-exchange "></i>&nbsp;Switch views
              </a>
            </div>

            <!--<page-filter-tags left="false" update-filter="setFilterToGrids" on-update-filter="filterUpdateDirty" search-side="setShouldSearchSide"></page-filter-tags>-->
           </div>
          </div>
          <div class="panel-header ibox-title" style="padding-bottom: 2px;  ">
            <div class="header-item pull-right" style="position:relative;" role="export" >

              <i ng-if="exportRightToExcelInProgress" class="fa fa-spinner fa-spin" style="margin: 7px 20px 7px 10px"></i>
              <!--<a href="#" ng-class="{'disabled':exportRightToExcelInProgress}" ng-click="onExportRightToExcel()" title="Download data in Excel format" class="btn btn-link"> <i class="fa fa-download "></i></a>-->
              <div ng-if="!exportRightToExcelInProgress" class="btn-group dropdown ">
                <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Download data in Excel format" ng-class="{'disabled':exportRightToExcelInProgress||isExportToExcelDisabled(rightPaneType)}" ng-disabled="exportRightToExcelInProgress">
                  <i class="fa fa-download"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right" >
                  <li> <a ng-click="onExportRightToExcel();" title="Export {{right}} data to Excel"  >Export to Excel</a></li>
                  <li><a ng-click="onExportRightAsFilesToExcel();" title="Export files data to Excel." >Export files to Excel</a></li>
                </ul>
              </div>
            </div>

            <div  class="header-item pull-right" role="chart" style="position:relative;">
              <div class=" btn-group " style="margin: 0 4px;" ng-if="!isChartDisabled(rightPaneType) || isShowSunburstEnabled(leftPaneType)">
                <div class="btn-group" role="choose item" ng-show="!minimizeToolbar[$index]">

                  <button role="tag list ddl" ng-if="isShowSunburstEnabled(leftPaneType)" data-toggle="dropdown"  ng-disabled="createChartRightInProgress" title="Save chart that is created from all {{right}}s"  class="btn btn-flat btn-xs dropdown-toggle">
                    View as chart
                    <span class="caret"></span>
                  </button>

                  <button role="tag list ddl" ng-if="!isShowSunburstEnabled(leftPaneType)" ng-disabled="createChartRightInProgress" title="Save chart that is created from all {{right}}s"  class="btn btn-flat btn-xs"  ng-click="!createChartRightInProgress && createRightDashboardWidget();">
                    View as chart
                  </button>

                  <ul class="dropdown-menu"  ng-if="isShowSunburstEnabled(leftPaneType)">
                    <li>
                      <a class="btn btn-link btn-sm" ng-click="showSunburstWidgetRight();"  title="View as sunbusrt chart"> <span>
                        </span>Treemap chart</a>
                    </li>
                  </ul>
                </div>

                <div class="btn-group" role="settings" >
                  <button role="buttons settings ddl"  title="Open chart" class="btn btn-flat btn-xs "  ng-disabled="isChartDisabled(rightPaneType)"  ng-click="!createChartRightInProgress && createRightDashboardWidget()" >
                    <i ng-if="!createChartRightInProgress" class="fa fa-bar-chart "></i>
                    <i ng-if="createChartRightInProgress" class="fa fa-spinner fa-spin" style="padding-top: 2px"></i>
                  </button>
                </div>
              </div>
            </div>


            <div  class="header-item pull-right"  role="immediate actions"  ng-if="isRunActionsUser&&!hideToolbarHeader&&(!isImmediateActionsDisabled(rightPaneType)||!isCreatePolicyObjectDisabled(rightPaneType))"  style="position:relative;" >
              <div class="btn-group dropdown shrink-if-no-space" >
                <button  title="Perform actions on files" data-toggle="dropdown"  ng-disabled="disabled"  class="btn btn-flat btn-xs dropdown-toggle">
                  Actions
                  <span class="caret"></span>
                </button>
                <!--<ul class="dropdown-menu">-->

                <immediate-actions-menu ng-if="!isImmediateActionsDisabled(rightPaneType)" selected-items-to-execute-on="selectItemsRight" total-effected-entities="totalElementsRight"
                                        get-current-url="getRightUrl" get-current-filter="getRightFilter"></immediate-actions-menu>
                <permissions-immediate-actions-menu-items ng-if="!isCreatePolicyObjectDisabled(rightPaneType)" selected-items-to-execute-on="selectItemsRight" total-effected-entities="totalElementsRight"m
                                                          get-current-url="getRightUrl" get-current-filter="getRightFilter" auto-import-params="rightPaneType" >

                  <add-policy-object-menu ng-if="isDemoUser && !isCreatePolicyObjectDisabled(rightPaneType)" selected-items-to-execute-on="selectItemsRight" total-effected-entities="totalElementsRight"
                                          proposed-object-name="{{selectedLeftName}} {{left.toLowerCase()}}"  policy-type="dataGovernancePolicyObjectType" import-object-values-url="getRightUrl" import-object-values-filter="getRightFilter"></add-policy-object-menu>

                </permissions-immediate-actions-menu-items>
                <!--</ul>-->
              </div>
            </div>
            <div class="header-item " role="title" style=" display: inline;">

              <h4 ng-show="!selectedLeftId" >    {{rightTxt()}}</h4>
              <h4 ng-show="selectedLeftId" >
                {{rightTxt()}}
              </h4>&nbsp;
              <disable-page-filter-tags ng-if="!hideToolbarHeader" ></disable-page-filter-tags>
              <span class="da-cond-show" ng-if="totalElementsRight" >
                ({{totalElementsRight}})
              </span>
              <div class="header-item pull-right1"   role="file-dates" ng-if="isFilterDatesEnabled(rightPaneType)" style="position:relative;margin-right: 10px;">
                <select-date-partition  disabled-menu1="(isDocTypeDisabled(leftPaneType)&&activePan=='left')||(isDocTypeDisabled(rightPaneType)&&activePan=='right')"
                                        refresh-needed="isActivePanTagsRefreshNeeded()" on-select-partition="onSelectEntityTypeIdRight" reload-data="reloadDataActivePan"  refresh-data="refreshDataActivePan" display-type="activePanType"  ></select-date-partition>
              </div>
              <span ng-show="selectedLeftId"> of </span>&nbsp;
              <h4 class="selected-item-name show-on-hover ellipsis header-item-title" style="position:relative;">
                <a ng-if="isDirectFilesToggleEnabled(leftPaneType)"  ng-click="toggleIncludeSubEntityDataLeft()" class="{{includeSubEntityDataLeft?'fa fa-sitemap':'ion-android-folder-open'}}" title="Toggle direct/ subtree of folder"></a>
                <span title="{{selectedLeftName}}">{{selectedLeftName}}</span>
                <!--<a class="btn btn-link btn-xs " style="position:absolute; top:1px; z-index:99999;" ng-click="unselectLeft();" style="padding-left: 0" title="Unselect"><i class="fa fa-times"></i></a>-->
              </h4>
               <span ng-if="isFullyContainedToggleEnabled(leftPaneType,rightPaneType)&&fullyContainedDataLeftHasFilter()"  >
                  <a class=" dropdown-toggle " data-toggle="dropdown" title="{{right}} {{'state_'+includeFullyContainedDataLeft.toString()|translate|lowercase}} in {{left|lowercase}}">
                   <i class="{{isFullyContainedFilter()?'ion-ios-flask':isNotFullyContainedFilter()?'ion-ios-flask-outline': 'ion-erlenmeyer-flask'}}"></i> ({{'state_'+includeFullyContainedDataLeft.toString()|translate|lowercase}})
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="split-button" >
                    <li ng-repeat="fullyContainedState in fullyContainesStates" ><a ng-click="setIncludeFullyContainedDataLeft(fullyContainedState)">
                      <i class="fa fa-check" ng-show="includeFullyContainedDataLeft == fullyContainedState"></i>&nbsp;{{('state_'+fullyContainedState.toString())|translate}}
                    </a></li>

                  </ul>
                </span>

               <span ng-if="isCollapsedDataRightEnabled(rightPaneType)"
                     title="{{right}} include {{'collapsedData_'+collapsedDataRight.toString()|translate|lowercase}}. Click to toggle ">
                        <a ng-click="toggleCollapsedDataRight()">    &nbsp;(<i class="fa fa-toggle-{{!collapsedDataRight?'on':'off'}}" ></i> {{'collapsedData_'+collapsedDataRight.toString()|translate|lowercase}} )</a>
                </span>
            </div>


            <div class="header-item"  role="Attestation" ng-if="isAttestationEnabled(rightPaneType) && isDemoUser">
               <div class="btn-group dropdown" >
                <button  title="Perform actions on files" data-toggle="dropdown"  ng-disabled="!selectedRightId"  class="btn btn-flat btn-xs dropdown-toggle" title="Add remove read only access rights from folder">
                  Attestation
                  <span class="caret"></span>
                </button>
                <!--<ul class="dropdown-menu">-->
              <permissions-immediate-actions-menu-items selected-items-to-execute-on="selectItemsRight" total-effected-entities="totalElementsRight"m
                                                          get-current-url="getRightUrl" get-current-filter="getRightFilter" auto-import-params="rightPaneType" >          </permissions-immediate-actions-menu-items>
                <!--</ul>-->
              </div>
            </div>
            <div class="header-item"  role="findBy" ng-if="isFindByEnabled(rightPaneType)" style="margin-left: 12px;margin-top: 2px">
              <find-by-input tooltip-text="Locate folder by path" text="Locate" placeholder="Path to locate" find-by="findByRight"></find-by-input>
            </div>

            <div  class="header-item" style="margin-left: 12px;" ng-show="isShowPatternButton(rightPaneType)" role="All Patterns/ Only multiple patterns">
              <a class="btn btn-flat btn-xs" ng-click="toggleRightPatternButton(rightPaneType)"  style="min-width: 60px;"><i class="fa fa-flag"></i>&nbsp;{{ isShowMultiplePatterns(rightPaneType)?'All patterns':'Only multiple patterns'}}</a>
            </div>

          </div>
        <div ng-if="isRolesInitiated" class="panel-body right-panel-body rightBody" style="clear: both;"></div>
      </div>
    </div>
  </split-view-filter>
</div>
