<div class="tags-menu" style="display: inline-block;">
   <div class=" btn-group assinments-toolbar" style="margin: 0 4px;" ng-repeat="recentlyUsedType in savedRecentlyUsedTagTypeItems track by $index">
     <a class="btn btn-flat btn-xs" ng-click="toggleMinimizeToolbar($index)" ng-attr-title="{{(minimizeToolbar[$index]?'Expand':'Collapse') +' tag '+recentlyUsedType.name+' toolbar'}}">
       <i ng-show="minimizeToolbar[$index]" class="fa fa-caret-right"></i>
       <i class="{{icon_tagType}}  tag-{{getTagTypeStyleId(recentlyUsedType)}} " ></i>
     </a>
     <div class="btn-group" role="choose item" ng-show="!minimizeToolbar[$index]">
      <button role="tag list ddl"  title="{{isAssignBySelection() ? 'Tag / Untag selected rows with '+recentlyUsedType.name : 'Apply '+recentlyUsedType.name+' tag on files'}}  {{recentlyUsedType.singleValueTag?'(Single value tag type)':''}}" data-toggle="dropdown"  ng-disabled="!selectedItemsToTag.length || disabled || (!isAssignEnabled && isTagFilesDisabled())" class="btn btn-flat btn-xs lab1el label-tag-{{getTagTypeStyleId(recentlyUsedType)}} dropdown-toggle">
           {{recentlyUsedType.name}}&nbsp;({{recentlyUsedType.tagItemsCount!=null?recentlyUsedType.tagItemsCount:'?'}})
           <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
          <li><a ng-show="tagList[recentlyUsedType.id].length==0">No items</a></li>
          <li ng-repeat="tagItem in savedRecentlyUsedTagItemsPerType[recentlyUsedType.id] track by $index| limitTo:MAX_RECENTLY_USED_ITEMS_PER_TOOLBAR " ng-disabled="disabled || (!isAssignEnabled && isTagFilesDisabled())" ng-class="{disabled:disabled || (!isAssignEnabled && isTagFilesDisabled())}">
            <a class="btn btn-link btn-sm" ng-click="toggleTagToSelectedItems(tagItem)" title="{{isAssignBySelection() && isAssignEnabled ? 'Tag / Untag selected rows with '+tagItem.name : 'Apply '+tagItem.name+' tag on files'}}"> <span
                class="tag-{{getTagTypeStyleId(recentlyUsedType)}}"><i class="{{icon_tag}}"></i></span>&nbsp;&nbsp;{{tagItem.name}}</a>
          </li>
          <li ng-if="tagList[recentlyUsedType.id].length>0" class="dropdown-submenu ">
            <a ng-click="$event.stopPropagation();">All ({{recentlyUsedType.tagItemsCount}}) tags..</a>
            <ul class="dropdown-menu" style="max-height: 210px;overflow-y: auto">
              <li ng-repeat="tagItem in tagList[recentlyUsedType.id]" ng-disabled="disabled || (!isAssignEnabled && isTagFilesDisabled())" ng-class="{disabled:disabled || (!isAssignEnabled && isTagFilesDisabled())}">
                <a class="btn btn-link btn-sm" ng-click="toggleTagToSelectedItems(tagItem)" title="{{isAssignBySelection() && isAssignEnabled ? 'Tag / Untag selected rows with '+tagItem.name : 'Apply '+tagItem.name+' tag on files'}}"> <span
                    class="tag-{{getTagTypeStyleId(recentlyUsedType)}}"><i class="{{icon_tag}}"></i></span>&nbsp;&nbsp;{{tagItem.name}}</a>
              </li>
            </ul>
          </li>
         <li ng-if="isAssignBySelection() && isAssignEnabled && tagList[recentlyUsedType.id].length>0 && displayType.toString() != 'files'" class="dropdown-submenu ">
           <a ng-click="$event.stopPropagation();">Assign tags to files..</a>
           <ul class="dropdown-menu" style="max-height: 210px;overflow-y: auto">
             <li ng-repeat="tagItem in tagList[recentlyUsedType.id]" ng-disabled="disabled || isTagFilesDisabled()" ng-class="{disabled:disabled || isTagFilesDisabled()}">
               <a class="btn btn-link btn-sm" ng-click="openAddRemoveTagDialog(tagItem)" title="Apply {{tagItem.name}} tag on files">
                 <span class="tag-{{getTagTypeStyleId(recentlyUsedType)}}"><i class="{{icon_tag}}"></i></span>&nbsp;&nbsp;{{tagItem.name}}</a>
             </li>
           </ul>
         </li>
        </ul>
     </div>
     <div class="btn-group" role="filter" ng-show="!minimizeToolbar[$index]">
       <button role="filter ddl" data-toggle="dropdown"  title="Filter by tags"  class="btn btn-flat btn-xs lab1el labe1l-tag-{{recentlyUsedType.id}} dropdown-toggle">
            <i class="fa fa-filter"></i>
       </button>
       <ul class="dropdown-menu">
         <li role="filter by type"><a ng-click="doTagTypeFilter(recentlyUsedType);"><i class=" fa fa-filter"></i>&nbsp;Filter
           by <span
               class="tag-{{getTagTypeStyleId(recentlyUsedType)}}"> &nbsp; <i class="{{icon_tagType}}"></i></span>
           &nbsp; <span class="btn tag label label-tag-{{getTagTypeStyleId(recentlyUsedType)}}"> {{recentlyUsedType.name}}</span></a>
         </li>
         <li role="filter by one tag" class="dropdown-submenu "  ng-class="{disabled:tagList[recentlyUsedType.id]==null || tagList[recentlyUsedType.id].length==0}"  ng-disabled="tagList[recentlyUsedType.id]==null || tagList[recentlyUsedType.id].length==0"><a
             ng-click="$event.preventDefault();$event.stopPropagation();"><i class="fa fa-filter"></i>&nbsp; Filter by
           <span class="tag-{{getTagTypeStyleId(recentlyUsedType)}}"><i class="{{icon_tag}}"></i></span></a>
           <ul class="dropdown-menu" ng-click="$event.stopPropagation()" style="max-height: 210px;overflow-y: auto">
             <li ng-repeat="tagItem in tagList[recentlyUsedType.id] track by $index"><a class="btn btn-link btn-sm"
                                                                         ng-click="doFilter([tagItem])" title="{{tagItem.name}}">
               <span class="tag-{{getTagTypeStyleId(recentlyUsedType)}}" ><i class="{{icon_tag}}"></i></span>&nbsp{{tagItem.name}}</a>
             </li>
           </ul>
         </li>
         <!--<li  role="filter by type mismatch" class="dropdown-submenu "><a-->
             <!--ng-click="$event.preventDefault();$event.stopPropagation();">-->
           <!--<i class="fa fa-filter"></i>&nbsp; Filter by &nbsp;<span class="tag-{{getTagTypeStyleId(recentlyUsedType)}}"><i-->
             <!--class="{{icon_tagType}}"></i></span>&nbsp;mismatch </a>-->
           <!--<ul class="dropdown-menu" ng-click="$event.stopPropagation();" style="overflow-y: scroll;height: 320px;">-->
             <!--<li ng-repeat="tagType in tagTypes track by $index" ng-click="doTagTypeMismatchFilter(tagType); "><a title="{{tagType.name}}"> <span-->
                 <!--class="tag-{{getTagTypeStyleId(tagType)}}"><i class="{{icon_tagType}}"></i></span>-->
               <!--&nbsp {{tagType.name}}</a></li>-->
           <!--</ul>-->
         <!--</li>-->

       </ul>
     </div>
     <div ng-if="isMngTagConfigUser" class="btn-group" role="settings" ng-show="!minimizeToolbar[$index]">

        <button role="buttons settings ddl"  title="Manage tags" data-toggle="dropdown" class="btn btn-flat btn-xs la1bel lab1el-tag-{{getTagTypeStyleId(recentlyUsedType)}}  dropdown-toggle">
           <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu">


         <li class="dropdown-submenu ">
           <a ng-click="$event.preventDefault();$event.stopPropagation();"><i class="fa fa-pencil" ></i>&nbsp;Edit tags</a>
           <ul role="menu" class="dropdown-menu" aria-labelledby="split-button" style="max-height: 240px;overflow-y: auto">
              <li><a class="pull-right1 btn btn-xs btn-flat1" style="margin: 5px;z-index: 2"
                    ng-click="openNewTagDialog(recentlyUsedType)"><i class="fa fa-plus"></i>&nbsp;Add</a></li>
             <li class="show-on-hover1" style="position: relative;" ng-repeat="tagItem in tagList[recentlyUsedType.id] track by $index" >
               <a class="btn btn-link btn-sm has-right-two-icons"  ng-click="openEditTagDialog(tagItem,recentlyUsedType)" title="{{tagItem.name}}"> <span class="tag-{{getTagTypeStyleId(recentlyUsedType)}}">
                     <span class="{{icon_tag}}"></span></span>&nbsp;{{tagItem.name}}
                <span class="top-right-position" ng-if="!readOnly">
                    <span class="btn btn-link  btn-xs"><i  class="fa fa-trash-o" ng-click="openDeleteTagDialog(tagItem);$event.stopPropagation();"></i></span>
                    <span class="btn btn-link  btn-xs"> <i  class="fa fa-pencil" ng-click="openEditTagDialog(tagItem,recentlyUsedType);$event.stopPropagation();"></i></span>
                  </span>
               </a>

             </li>
           </ul>
         </li>
          <li><a ng-click="openManagePage(recentlyUsedType.id);"><i class="fa fa-cogs" ></i>&nbsp; Open tags settings...</a></li>
         <!--<li class="divider"></li>-->
          <!--<li class="dropdown-submenu ">-->
            <!--<a ng-click="$event.preventDefault();$event.stopPropagation();">Tag types</a>-->
            <!--<ul role="menu" class="dropdown-menu" aria-labelledby="split-button" style="max-height: 240px;overflow-y: auto">-->
              <!--<li><a class="pull-right1 btn btn-xs btn-flat1" style="margin: 5px;z-index: 2"-->
                     <!--ng-click="openNewTagTypeDialog()"><i class="fa fa-plus"></i>&nbsp;Add new</a></li>-->
              <!--<li class="show-on-hover1" style="position: relative;" ng-repeat="tagType in tagTypes" >-->
                <!--<a class="btn btn-link btn-sm"  ng-click="openEditTagTypeDialog(tagType)"> <span class="tag-{{getTagTypeStyleId(tagType)}}">-->
                     <!--<span class="{{icon_tagType}}"></span></span>&nbsp;{{tagType.name}}&nbsp;&nbsp;&nbsp;&nbsp;-->
                <!--<span class="top-right-position" ng-if="!readOnly">-->
                    <!--<span class="btn btn-link  btn-xs"><i  class="fa fa-trash-o" ng-click="openDeleteTagTypeDialog(tagType);$event.stopPropagation();"></i></span>-->
                    <!--<span class="btn btn-link  btn-xs"> <i  class="fa fa-pencil" ng-click="openEditTagTypeDialog(tagType);$event.stopPropagation();"></i></span>-->
                  <!--</span>-->
                <!--</a>-->

              <!--</li>-->
            <!--</ul>-->
          <!--</li>-->
         <!--<li class="dropdown-submenu ">-->
           <!--<a ng-click="$event.preventDefault();">Toolbars</a>-->
           <!--<ul class="dropdown-menu" ng-click="$event.stopPropagation();" style="overflow-y: scroll;height: 320px;">-->
             <!--<li ng-repeat="tagType in tagTypes" ng-click="toggleRecentlyUsedButton(tagType)">-->
               <!--<a><i class="fa fa fa{{isTagTypeInRecentlyUsed(tagType.id)?'-check':''}}-square-o"></i> <span class="tag-{{getTagTypeStyleId(tagType)}}"><i class="{{icon_tagType}}"></i></span>-->
               <!--&nbsp {{tagType.name}}&nbsp;({{tagType.tagItemsCount}}) </a></li>-->
           <!--</ul>-->
         <!--</li>-->

       </ul>
     </div>
  </div>
</div>
