
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal" name="myForm" role="form">

    <div class="form-group">
      <label class="control-label col-sm-3" for="name">Name:</label>
      <div class="col-sm-8">
        <span class="error top-right-position" ng-show=" myForm.name.$error.required">*</span>
        <input  ng-click="$event.stopPropagation();" id="name" focus-if="initiated"  name="name" required  class="block form-control" ng-model="searchPatternItem.name"
                type="text"/>
      </div>

    </div>
    <div class="form-group" >
      <label class="control-label col-sm-3" >Description:</label>
      <div class="col-sm-8" >
        <input  ng-click="$event.stopPropagation();"   class="block form-control" ng-model="searchPatternItem.description"
                type="text"/>

      </div>
    </div>
    <div class="form-group" >
      <label class="control-label col-sm-3" >State:</label>
      <div class="col-sm-8 radio-group2" >
        <label ng-repeat="stateOption in states" >
          <input type="radio"   ng-model="$parent.searchPatternItem.active"  ng-value="stateOption.value" >
          <span>{{stateOption.text|translate}}</span>
        </label>
      </div>
    </div>
    <div class="form-group" >
      <label class="control-label col-sm-3" >Type:</label>
      <div class="control-label col-sm-8" style="text-align: left"> <span>{{('SearchPatterns_'+searchPatternItem.patternType)|translate}}</span> </div>
    </div>
    <div class="form-group" >
      <label class="control-label col-sm-3" >Pattern</label>
      <div class="col-sm-8" >
        <span class="error top-right-position" ng-show=" myForm.pattern.$error.required">*</span>
        <input  ng-readonly="isPredifined"  ng-click="$event.stopPropagation();" ng-required="!isPredifined" name="pattern"  class="block form-control" ng-model="searchPatternItem.pattern"
                type="text"/>

      </div>

    </div>

  </form>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>