<div class="ibox  fill-height ddl-cell">
  <div ng-if="!hideTitle" class="ibox-title ">
    <h4 style="display: inline-block;">{{chartTitle |translate}}</h4>
    <div class="btn-group dropdown pull-right">
      <a class="btn btn-link dropdown-toggle btn-sm"  data-toggle="dropdown" title="Export chart" >
        <i class="fa fa-download"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu"  style="width: 130px;">
        <li> <a ng-click="saveAsExcel();" title="Download chart data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>
        <li><a ng-click="saveAsImage();" title="Download chart data as image" class="btn btn-link"><i class="fa fa-image"></i>&nbsp;As image</a></li>
        <li  ng-if="!msie11"><a ng-click="saveAsPdf();" title="Download chart data as pdf" class="btn btn-link"><i class="fa fa-file-pdf-o"></i>&nbsp;As PDF</a></li>
      </ul>


    </div>
  </div>
  <div class="ibox-content no-padding"  ng-style="{height: myHeight+'px'}">
    <div ng-style1="chartReady &&{'visibility':'visible'}||{'visibility':'hidden'}" style="width:100%;height:100%" >
      <div class="highchart-div {{elementName}}"></div>
    </div>
  </div>
</div>
