<div class="ibox float-e-margins {{boxClass}}" ng-init="init()">
  <div class="ibox-title">
    <span class="label {{labelClass | translate}} pull-right" translate>{{label }}</span>
    <h4>{{caption | translate}}&nbsp{{titileTextValue | translate}}</h4>
  </div>
  <div class="ibox-content" ng-style="myHeight && {height: myHeight+'px'}">
    <h1 class="no-margins"><span>{{textValue|translate}}</span><span ng-bind-html="valueHtml"></span></h1>
    <!--<div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>-->
    <small>{{subTitle | translate}}</small><span ng-bind-html="subTitleHtml"></span>
  </div>
</div>
