<div class="ibox float-e-margins" ng-init="init()">
  <div class="ibox-title">
    <span class="label {{labelClass | translate}} pull-right" translate>{{label }}</span>
    <h4 >{{caption | translate}}</h4>
  </div>
  <div class="ibox-content"  ng-style="myHeight && {height: myHeight+'px'}">
    <div class="row">
        <div class="col-xs-4" ng-repeat="report in reportCounterData">
          <h5>{{ report.name | translate}}</h5>
          <h4 ng-bind-html="parseCounterText(report.counter)"></h4>
        </div>
    </div>
        <div ng-if="stringListReport">
          <div ng-repeat="r in stringListReport">
            <div><h5>{{ r.name |translate}}: </h5></div>
            <div>{{ r.description}}</div>
            <div ng-repeat="reportString in r.stringList">
              {{ reportString}}
            </div>
          </div>
          <br/>
        </div>
        <div ng-repeat="str in stringReport" >
          {{ str.name |translate}} : {{ str.value|translate}}
        </div>

        <table ng-if="countReport" class="list-report-count-table">
          <tr ng-repeat="countObj in countReport"  class="list-report-count-item">
            <td ng-if="countObj.name && (countObj.counter >= 0)" class="list-report-name-td">{{ countObj.name |translate}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
            <td ng-if="countObj.name && (countObj.counter >= 0) " class="list-report-value-td"> <B>{{ countObj.counter | number}}</B></td>
            <td ng-if="!countObj.name"></td>
            <td ng-if="!countObj.name"></td>
          </tr>
        </table>

        <div ng-if="countCenterReport" class="list-center-report-count-div">
          <div ng-repeat="countObj in countCenterReport"  class="list-report-center-count-item-div">
            <div>{{ countObj.name |translate}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
            <div> <B>{{ countObj.counter | number}}</B></div>
          </div>
        </div>





  </div>

</div>
