<div class="ibox  fill-height"  style="margin-bottom: 0px">
  <div ng-if="!hideTitle" class="ibox-title">
    <h4 style="display: inline-block;">{{chartTitle |translate}}</h4>
    <div class="btn-group dropdown pull-right">

      <a class="btn btn-link dropdown-toggle btn-sm"  data-toggle="dropdown" title="Export chart" >
        <i class="fa fa-download"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu"  style="width: 130px;">
        <li> <a ng-click="saveAsExcel();" title="Download chart data to Excel" class="btn btn-link" ><i class="fa fa-file-excel-o"></i>&nbsp;As Excel</a></li>
        <li  ng-if="!msie11 && !msedge"><a ng-click="saveAsImage();" title="Download chart data as image" class="btn btn-link"><i class="fa fa-image"></i>&nbsp;As image</a></li>
        <li ng-if="!msie11"><a ng-click="saveAsPdf();" title="Download chart data as pdf" class="btn btn-link"><i class="fa fa-file-pdf-o"></i>&nbsp;As Pdf</a></li>
      </ul>
    </div>
    <button class="btn-link" ng-click="expandAll()">Expand all</button>
    <button class="btn-link" ng-click="collapseAll()">Collapse all</button>
  </div>

  <div class="ibox-content no-padding"  ng-style="{height: myHeight+'px'}">
    <div class="bp-navBar ng-hide" style="left:20px;">
      <ul class="bp-navigation clearfix" style="list-style-type:none">
        <li id="federalButton" class="button selected">Federal</li>
        <li id="stateButton" class="button">State</li>
        <li id="localButton" class="button">Local</li>
      </ul>
    </div>
    <div class="tree-chart" style="overflow-x: auto">
      <div id="toolTip" class="tooltip" style="opacity:0;">
        <div style="min-height: 32px;">
            <div class="pull-right" >
              <span class="header-expand-node" style="cursor:pointer; padding-right:5px;display:none;"><i class="fa fa-arrows-alt"></i></span>
              <a class="btn btn-link btn-sm " title="Pinned the tooltip to the right top corner" id="tackTooltip" ><i class="fa fa-thumb-tack"></i></a>
              <a class="btn btn-flat btn-sm " title="Open discover page, filtered by this docType subTree" id="drillDownLink" href="" target="_blank"><i class="fa fa-search"></i></a>
            </div>
            <div>{{ tooltipData.tmpText }}</div>
            <div id="head" class="header"></div>
            <div id="header2" class="header2"></div>
          <div id="header5" class="header5"></div>
        </div>
        <div style="">
          <div id="stateTip" class="tip" style="width:225px;">
            <div class="header3"><br># Files - all (direct)</div>
            <div class="header-rule"></div>
            <div id="tree-graph-node-desc"></div>
            <div id="stateSpend" class="header4"></div>
            <div id="header51" class="header5"></div>
            <div id="tree-graph-node-extra-info"></div>
          </div>

          <div id="federalTip" class="tip" style="width:225px; ">
            <!--<div class="header3"><br># All files</div>-->
            <!--<div class="header-rule"></div>-->
            <!--<div id="fedSpend" class="header4"></div>-->
          </div>
          <div id="localTip" class="tip" style1="width:225px;">
            <!--<div class="header3"><br>Direct # Files</div>-->
            <!--<div class="header-rule"></div>-->
            <!--<div id="localSpend" class="header4"></div>-->
          </div>
        </div>
        <div class="tooltipTail"></div>
      </div>
    </div>
  </div>
</div>
