<div class="ibox float-e-margins">
  <div class="ibox-title">
    <span ng-if="wLabel" class="label label-warning pull-right" translate>{{wLabel}}</span>
    <h5 translate>{{wTitle}}</h5>
  </div>
  <div class="ibox-content box-body">

  </div>
</div>
