tree-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
  border: 1px solid #dedbdb;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;

  .scrollable-panel-wrapper {
    display: flex;
    flex:1;
    position: relative;

    .scrollable-panel {
      position:absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom:0;
      display: flex;
      z-index:0;
      flex-direction:column;
      overflow-x: auto;

      .header-panel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index:10;
        min-width: 300px;
      }
      .content-panel {
        display: flex;
        flex:1;
        position: relative;
        padding-top: 25px;
        min-width: 300px;

        tree-grid-painter > ul > li {
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }

    .tree-grid-item:hover {
      .da-show-hover {
        display: inline-block;
      }
    }

    &.tree-mode {
      .scrollable-panel {
        left: -25px;

        tree-grid-painter > ul > li {
          padding-left: 25px !important;
        }
      }
    }

    &.no-header {
      .content-panel {
        padding-top: 0 !important;
      }
    }
  }
}
