<div class="scrollable-panel-wrapper"  [ngClass]="{'tree-mode' : inTreeMode, 'no-header':!treeGridHeaderComponent}">
  <div #el class="scrollable-panel" >
    <div class="header-panel" >
      <tree-grid-header *ngIf="treeGridHeaderComponent"
        [parent]="this"
        [treeGridConfig]="treeGridConfig"
        [treeGridHeaderComponent]="treeGridHeaderComponent"
        [hostHeaderParams] = "hostHeaderParams"
        [initialSortFieldName]="initialSortFieldName"
        [initialSortDirection]="initialSortDirection" >
      </tree-grid-header>
    </div>
    <div class="content-panel">
      <tree-grid-painter
      [inTreeMode]="inTreeMode"
      [treeGridItems]="treeGridData.items"
      [treeGridContextMenuComponent]="treeGridContextMenuComponent"
      [treeGridItemComponent]="treeGridItemComponent"
      [treeGridConfig]="treeGridConfig"
      [parent]="this"
      [hostComponent]="hostComponent"
      [selectionMode]="selectionMode"
      [hostComponentParams]="hostComponentParams"
      *ngIf="treeGridData">
    </tree-grid-painter>
    </div>
  </div>
</div>

<tree-grid-pager
  [paging]="treeGridData.paging"
  [parent]="this"
  *ngIf="treeGridData">
</tree-grid-pager>


