
<div class="scan-wrapper container fill-width" ng-init="init()">

  <div role="scan summary cubes" class="row">

    <div class="scan-box" >
      <h4 class="ibox-title">
        <span>Root Folders</span>
        <span><a ng-click='locateRootFolderAtGrids(activeRun.rootFolderId,activeRun.scheduleGroupId)'>{{activeRun.nickName}}</a></span>
      </h4>
      <div class="ibox-content root-folders-summary-box">
        <div class="total">
          <span>{{rootFoldersAggregatedSummaryInfo.totalRootFoldersCount}}</span>
          <i class='fa fa-check-square primary'></i>
        </div>
        <div class="details">
          <span>{{rootFoldersAggregatedSummaryInfo.scannedRootFoldersCount}}</span>
          <span>scanned, </span>
          <span>{{rootFoldersAggregatedSummaryInfo.newRootFoldersCount}}</span>
          <span>new, </span>
          <span>{{rootFoldersAggregatedSummaryInfo.runningRootFoldersCount}}</span>
          <span>running ,</span>
          <span>{{rootFoldersAggregatedSummaryInfo.pausedRootFoldersCount}}</span>
          <span>paused</span>
        </div>
      </div>
    </div>

    <div ng-repeat="activeRun in activeRuns" class="scan-box col-md-5 col-lg-4" >
      <h4 class="ibox-title">
        <span ng-if="!activeRun.isManualRun" ng-click='locateRootFolderAtGrids(null,activeRun.scheduleGroupId)' title="{{activeRun.scheduleGroupName}}"><i class="ion-clock"></i></span>
        <span ng-if="activeRun.isManualRun"><i class="scanning-icon fa fa-play"></i></span>
        <span>Scanning</span>
        <span class="elapsedTime">{{activeRun.elapsedTime | formatSpan }}</span>
      </h4>
      <div class="ibox-content" style="clear: both">
        <div class="folder-name">
          <span class="folder-icon ion-ios-briefcase-outline"></span>
          <a ng-click='locateRootFolderAtGrids(activeRun.rootFolderId,activeRun.scheduleGroupId)'>{{activeRun.nickName}}</a>
        </div>
        <div class="job-type"><i class="fa fa-tasks"></i>
          <span ng-if="activeRun.jobType.length > 0" title="Current phase: {{activeRun.jobName}}">Current phase: {{activeRun.jobType}}</span>
          <span ng-if="activeRun.jobType.length == 0">Idle</span>
        </div>
        <div ng-if="activeRun.currentPhaseProgressFinishMark == 0" class="progressbar-row">
          <div class="da-progress-bar">
            <div class="indeterminate"></div>
          </div>
          <div class="progress-info">
            <div class="counter" ng-show="activeRun.currentPhaseProgressCounter>0">
              <span>Processing ({{activeRun.currentPhaseProgressCounter}})</span>
            </div>
          </div>
        </div>
        <div ng-if="activeRun.currentPhaseProgressFinishMark > 0" class="progressbar-row">
          <div  title="progress: {{activeRun.currentPhaseProgressCounter}}/{{activeRun.currentPhaseProgressFinishMark}} {{activeRun.currentPhaseProgressPercentageStr}}">
            <uib-progressbar max="100"  value="activeRun.currentPhaseProgressPercentage" style="height: 5px;margin: 0;"> </uib-progressbar>
            <div class="progress-info">
              <div class="counter" ng-show="activeRun.currentPhaseProgressCounter>0">
                <span>{{activeRun.currentPhaseProgressCounter}}</span>
                <span ng-if="activeRun.currentPhaseProgressFinishMark > 0">
                  <span>/{{activeRun.currentPhaseProgressFinishMark}}</span>
                  <span ng-show="activeRun.currentPhaseProgressPercentage>0">&nbsp({{activeRun.currentPhaseProgressPercentage}}%)</span>
                </span>
              </div>
              <div class="rate" ng-if="activeRun.tasksPerSecRate > 10" title="{{activeRun.tasksPerSecRunningRate | number : 1}}"> rate:&nbsp;{{activeRun.tasksPerSecRate| number : 1}}</div>
              <div class="timeToEnd" ng-if="activeRun.estimatedPhaseFinish">
                <span>End time: </span>
                <span title="Estimated phase end time: {{activeRun.estimatedPhaseFinish}}"> {{activeRun.estimatedPhaseFinish}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div role="schedule groups grid" class="row" >

    <div class="panel-header ibox-title"  style="padding-bottom: 2px;">
      <div class="header-item pull-right " role="collapse expand grid" >
        <a class="btn btn-link btn-sm" ng-click="showScheduleGroupsGrid=!showScheduleGroupsGrid" title ="Expand / collapse this section"><i class="fa {{showScheduleGroupsGrid?'fa-chevron-up':'fa-chevron-down'}} "></i></a>
      </div>
      <div  class="header-item pull-right " role="export" style="position:relative;"  >
        <i ng-show="exportScheduleGroupsToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <div class="btn-group dropdown">
          <a class="btn btn-link dropdown-toggle btn-sm "  data-toggle="dropdown" title="Download data in Excel format"
            ng-class="{'disabled':exportScheduleGroupsToExcelInProgress}" ng-disabled="exportScheduleGroupsToExcelInProgress">
            <i class="fa fa-download"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu " >
            <li> <a ng-click="onExportScheduleGroupsToExcel();" title="Export {{right}} data to Excel" class="btn btn-link" >Export to Excel</a></li>
          </ul>
        </div>
      </div>
      <div class="header-item pull-right" ng-if="isRunScansUser" role="actions" style="margin-right: 30px;">
        <div class="btn-group dropdown test-btn" >
          <button  title="Perform actions on schedule groups" data-toggle="dropdown"    class="btn btn-flat btn-xs dropdown-toggle">
            Actions
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu rich">
            <li ng-show="selectedScheduleGroupIsRunning" ><a ng-click="pauseSelectedScheduleGroupRuns()" title="Pause scan for selected schedule groups"><i class="fa fa-pause notice-info icon"></i>Pause scan</a></li>
            <li ng-show="selectedScheduleGroupIsPaused" ><a ng-click="continueRunSelectedScheduleGroups()" title="Resume paused scan for selected schedule groups"><i class="fa fa-repeat icon"></i>Resume scan</a></li>
            <li ng-show="selectedScheduleGroupIsPaused" ><a ng-click="stopRunSelectedScheduleGroups()" title="stop scan for selected schedule groups"><i class="fa fa-stop icon"></i>Stop scan</a></li>

            <li ng-class="{disabled:!selectedScheduleGroupIsReadyForScan}" ng-show="selectedScheduleGroupIsReadyForScan"><a ng-click="scanSelectedScheduleGroups(false,false,false,false)" title="Run all steps for selected schedule groups"><i class="fa fa-play icon"></i>Scan</a></li>
            <li class="divider" ng-show="selectedScheduleGroupIsReadyForScan"></li>
            <li ng-show="selectedScheduleGroupIsReadyForScan"><a ng-click="scanSelectedScheduleGroups(true,false,false,false)" title="Run map only for selected schedule groups"><i class="fa fa-play icon"></i>Map</a></li>
            <li ng-show="selectedScheduleGroupIsReadyForScan"><a ng-click="scanSelectedScheduleGroups(false,false,false,true)" title="Run only extract all for selected schedule groups"><i class="fa fa-external-link icon"></i>Extract business lists</a></li>
            <li class="divider" ></li>
            <li><a ng-click="pauseAllRuns()" title="Pause all schedule groups"><i class="fa fa-pause notice-info icon"></i>Pause all</a></li>
            <li><a ng-click="resumeAllRuns()" title="Resume all paused rootFolders in all schedule groups"><i class="fa fa-repeat icon"></i>Resume all</a></li>
            <li ng-if="isTechSupportUser" class="divider" ></li>
            <li ng-if="isTechSupportUser"  class="dropdown-submenu" ng-init="initScanStrategyData()">
              <a><span>Scan strategy</span></a>
              <ul class="dropdown-menu fixed-icon">
                <li>
                  <a ng-click="updateScanStrategy('FAIR')"  class="scan-strategy-item">
                    <span class="icon-wrapper">
                      <i ng-show="jobProcessingMode == 'FAIR'" class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span class="lbl">Normal</span>
                  </a>
                </li>
                <li>
                  <a ng-click="updateScanStrategy('AUTO_EXCLUSIVE')"  class="scan-strategy-item">
                    <span class="icon-wrapper">
                      <i ng-show="jobProcessingMode == 'AUTO_EXCLUSIVE'" class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span class="lbl">Auto (exclusive)</span>
                  </a>
                </li>
                <li>
                  <a ng-click="updateScanStrategy('INGEST_ONLY')" class="scan-strategy-item">
                    <span class="icon-wrapper">
                      <i ng-show="jobProcessingMode == 'INGEST_ONLY'" class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span class="lbl">Ingest only</span>
                  </a>
                </li>
                <li>
                  <a ng-click="updateScanStrategy('ANALYZE_ONLY')" class="scan-strategy-item">
                    <span class="icon-wrapper">
                      <i ng-show="jobProcessingMode == 'ANALYZE_ONLY'" class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span class="lbl">Analyze only</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="header-item " style="min-width: 120px;;" role="viewNav ddl">
        <h4 >Schedule groups
          <span ng-if="scheduleGroupTotalElements">
                  ({{scheduleGroupTotalElements}})
                </span>
        </h4>
      </div>
      <div class="header-item "  role="show only withroot folders" style="margin-left: 40px">
        <a ng-click="toggleShowAllScheduleGroups()" class="btn btn-link btn-xs"  style="margin-top: 3px">
          <i ng-show="showAllScheduleGroups " class="fa fa-check-square-o " title="Show only schedule groups with root folders" ></i>
          <i ng-show="!showAllScheduleGroups" title="Show only schedule groups without root folders"  class="fa fa-square-o" ></i>
          &nbsp;Show Unused
        </a>
      </div>
      <div ng-if="isMngScanConfigUser" class="header-item " role="edit" style="position:relative;margin-left: 40px;"  >
        <schedules-manage-menu-edit reload-data="reloadScheduleGroupsData" selected-list-item-to-operate="selectedScheduleGroup" selected-list-items-to-operate="selectedScheduleGroups"></schedules-manage-menu-edit>
      </div>

    </div>
    <div class="clearfix"></div>
    <div ng-show="showScheduleGroupsGrid" >
      <schedule-groups-grid fix-height="244px" include-sub-entity-data="showAllScheduleGroups" items-selected="onSelectScheduleGroups" item-selected="onSelectScheduleGroup" change-page="changeScheduleGroupsPage" export-to-excel="exportScheduleGroupsToExcel"
        page-changed="scheduleGroupPageChanged" template-view="true"   change-selected-item="changeScheduleGroupSelectedItem" total-elements="scheduleGroupTotalElements"
        find-id="findIdScheduleGroup"    refresh-data="reloadScheduleGroupsData" refresh-data-silently="syncScheduleGroupData" reload-data-to-grid="refreshScheduleGroupDisplay"
        filter-data="filterData" process-export-finished="exportScheduleGroupsToExcelCompleted" ></schedule-groups-grid>
    </div>

  </div>
  <div  role="root folders grid" class="root-folders-grid row" style="margin-top: 25px;">

    <div class="root-folders-header panel-header ibox-title">
      <div class="header-item ">
        <h4 ng-show="selectedScheduleGroupId">Root folders
          <span ng-if="rootFolderTotalElements || rootFolderTotalElements==0">
                  ({{rootFolderTotalElements}})
          </span> </h4>&nbsp; of&nbsp;
        <h4 class="selected-item-name"> {{selectedScheduleGroupName}}</h4>&nbsp;
      </div>
      <div class="middle-items">
        <div ng-if="isMngScanConfigUser" class="header-item "style="margin-left: 20px;">
          <root-folders-manage-menu reload-data="onRootFolderEdit" refresh-display="refreshRootFoldersDisplay" selected-list-item-to-operate="selectedRootFolder"
            disable-add="true" disable-delete="true"      reload-schedule-data="reloadScheduleGroupAndRootFolderData" selected-list-items-to-operate="selectRootFolders" grid-find-id="gridFindId" ></root-folders-manage-menu>
        </div>
        <div class="header-item "  role="grid filters" style="margin-right: 10px">
          <div class="btn-group dropdown" >
            <button bubble="{{selectedStateTooltip}}" data-toggle="dropdown"  class="btn btn-flat btn-xs dropdown-toggle">
              <div class="state-btn" >
                <div style="max-width:150px;padding-right: 5px" class="long-and-truncated">{{selectedState}}</div><i class="caret"></i>
              </div>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="option in filterRootFoldersStatusOptions"  class="btn btn-link btn-xs"  style="margin-top: 3px; display: block; text-align: left">
                <a ng-click="toggleRootFoldersStatusFilteredBy($event, option)" class="btn btn-link btn-xs" >
                  <i ng-show="option.selected" class="fa fa-check-square-o "  ></i>
                  <i ng-show="!option.selected"   class="fa fa-square-o" ></i>
                  <span style="padding-left:5px">{{option.value|translate}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header-item " ng-show="!selectedRootFoldersStatusFilters.filter[0]"  role="grid sort">
             <span class="btn-group dropdown" >
                  <button class="btn btn-flat btn-xs dropdown-toggle " data-toggle="dropdown" style="min-width:130px ">Sort by: {{sortRootFoldersSelectedOption.text|translate}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="split-button" style="overflow-y: scroll;">
                    <li ng-repeat="opt in sortRootFoldersOptions" ><a ng-click="sortRootFoldersBy(opt)">{{opt.text|translate}}</a></li>
                  </ul>
             </span>

          <a class="btn btn-flat btn-xs dropdown" style="margin-left:10px" ng-click="toggleRootFoldersSortDir()">{{descRootFoldersDirection?'decs':'asc'}}</a>
        </div>
      </div>

      <div style="margin-left: auto;">
        <div class="header-item  pull-right " role="collapse expand grid" >

          <a class="btn btn-link btn-sm" ng-click="showRootFoldersGrid=!showRootFoldersGrid" title ="Expand / collapse this section"><i class="fa {{showRootFoldersGrid?'fa-chevron-up':'fa-chevron-down'}} "></i></a>
        </div>
        <div class="header-item pull-right "  style="position:relative;" role="export" >
          <i ng-show="exportRootFoldersToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
          <!--<a href="#" ng-class="{'disabled':exportRightToExcelInProgress}" ng-click="onExportRightToExcel()" title="Download data in Excel format" class="btn btn-link"> <i class="fa fa-download "></i></a>-->
          <div class="btn-group ">
            <a class="btn btn-link dropdown-toggle btn-sm "  data-toggle="dropdown" title="Download data in Excel format"
              ng-class="{'disabled':exportRootFoldersToExcelInProgress}" ng-disabled="exportRootFoldersToExcelInProgress">
              <i class="fa fa-download"></i>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu " >
              <li> <a ng-click="onExportRootFoldersToExcel();" title="Export {{right}} data to Excel" class="btn btn-link" >Export to Excel</a></li>
            </ul>
          </div>
        </div>
        <div class="header-item pull-right" ng-show="isRunScansUser" style="margin-right: 5px">
          <div class="btn-group dropdown" >
            <button  title="Perform actions on root folders" data-toggle="dropdown"    class="btn btn-flat btn-xs dropdown-toggle">
              Actions
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu rich">
              <li ng-show="selectedRootFolderIsRunning" ><a ng-click="pauseSelectedRootFolderRuns()" title="Pause scan for selected root folders"><i class="fa fa-pause notice-info icon"></i>Pause scan</a></li>
              <li ng-show="selectedRootFolderIsPaused" ><a ng-click="continueRunSelectedRootFolder()" title="Resume paused scan for seleced root folders"><i class="fa fa-repeat icon"></i>Resume scan</a></li>
              <li ng-show="selectedRootFolderIsPaused" ><a ng-click="stopRunSelectedRootFolder()" title="stop scan for seleced root folders"><i class="fa fa-stop icon"></i>Stop scan</a></li>
              <li ng-class="{disabled:!selectedRootFolderIsNew}" ng-show="selectedRootFolderIsNew"><a ng-click="scanSelectedRootFolders(false,false,false,false)" title="Run all steps for selected root folders"><i class="fa fa-play icon"></i>Scan</a></li>
              <li class="divider" ng-if="selectedRootFolderIsNew"></li>
              <li ng-show="selectedRootFolderIsNew"><a ng-click="scanSelectedRootFolders(true,false,false,false)" title="Run map only for selected root folders"><i class="fa fa-play icon"></i>Map</a></li>
              <li ng-show="selectedRootFolderIsNew"><a ng-click="scanSelectedRootFolders(false,false,false,true)" title="Extract all active biz lists for the selected root folders"><i class="fa fa-external-link icon"></i>Extract business lists</a></li>
            </ul>
          </div>
        </div>
        <div class="search-box header-item pull-right"  style="margin-right: 15px; margin-top: 1px;">
          <input type="text" title="={{searchText}}" placeholder="Search by text" ng-model="searchText" ng-enter="searchRootFolders()" ng-change="searchRootFolderChange()">
          <span class="icon fa fa-search" ng-click="searchRootFolders()"></span>
          <span class="clear" ng-show="searchText" ng-click="clearSearchText()"></span>
        </div>
      </div>
    </div>
    <div class="active-scan-root-folders-grid" ng-show="showRootFoldersGrid" >
      <root-folders-grid fix-height="342px"  full-details="true" include-sub-entity-data="selectedRootFoldersStatusFilters"  include-running-details="true" restrictedEntityDisplayTypeName="scheduleGroup"  items-selected="onSelectRootFolders" item-selected="onSelectRootFolder" change-page="changeRootFodlersPage"
        restricted-entity-id="selectedScheduleGroupId" template-view="true"  refresh-data="reloadRootFoldersData" refresh-data-silently="syncRootFoldersData" reload-data-to-grid="refreshRootFoldersDisplay"  find-id="findIdRootFolder"
        page-changed="rootFolderPageChanged"  change-selected-item="changeRootFolderSelectedItem" total-elements="rootFolderTotalElements" export-to-excel="exportRootFoldersToExcel"
        filter-data="filterData" filter-by-search-text="rootFolderFilterBySearchText" process-export-finished="exportRootFoldersToExcelCompleted" local-data-bound="rootFoldersLocalDataBound"
        force-select-first-row-by-default="true" event-name="rootFolderActionsEventName"></root-folders-grid>
    </div>
  </div>
  <div  role="last run phases grid" class="row" style="margin-top: 25px;margin-bottom: 25px;">
    <div class="panel-header ibox-title"  style="padding-bottom: 2px;">
      <div class="header-item  pull-right " role="collapse expand grid" >
        <a class="btn btn-link btn-sm" ng-click="showPhasesGrid=!showPhasesGrid" title ="Expand / collapse this section"><i class="fa {{showPhasesGrid?'fa-chevron-up':'fa-chevron-down'}} "></i></a>
      </div>
      <div class="header-item pull-right " style="position:relative;" role="export" >
        <i ng-show="exportPhasesToExcelInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <!--<a href="#" ng-class="{'disabled':exportRightToExcelInProgress}" ng-click="onExportRightToExcel()" title="Download data in Excel format" class="btn btn-link"> <i class="fa fa-download "></i></a>-->
        <div class="btn-group dropdown">
          <a class="btn btn-link dropdown-toggle btn-sm "  data-toggle="dropdown" title="Download data in Excel format"
            ng-class="{'disabled':exportPhasesToExcelInProgress}" ng-disabled="exportPhasesToExcelInProgress">
            <i class="fa fa-download"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu " >
            <li> <a ng-click="onExportPhasesToExcel();" title="Export {{right}} data to Excel" class="btn btn-link" >Export to Excel</a></li>
          </ul>
        </div>
      </div>
      <div class="header-item pull-right" ng-if="isTechSupportUser" role="actions" style="margin-right: 30px;">
        <div class="btn-group dropdown" >
          <button  title="Perform actions on job" data-toggle="dropdown"    class="btn btn-flat btn-xs dropdown-toggle">
            Actions
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li  ng-class="{'disabled':!selectedPhasesDataIsRunning || !selectedPhaseData}" ><a ng-click="pauseSelectedJobs()" title="Pause selected jobs">Pause job</a></li>
            <li   ng-class="{'disabled':!selectedPhasesDataIsPaused || !selectedPhaseData}"  ><a ng-click="resumeSelectedJobs()" title="Resume selected jobs">Resume job</a></li>
            <li class="divider"></li>
            <li  ng-class="{'disabled': !selectedPhaseData}"><a ng-click="forceRerunEnqueuedTasksForSelectedJob()" title="Force selected job enqueued tasks back to 'new state'">Force selected jobs enqueued tasks </a></li>
            <li ng-class="{'disabled':!selectedRootFolderLastRunDetailsId}"><a ng-click="forceRerunEnqueuedTasksForRun()" title="Force all run jobs enqueued tasks back to 'new state'">Force all enqueued tasks</a></li>
          </ul>
        </div>
      </div>

      <div class="header-item" >
        <h4 ng-show1="selectedRootFolderId" > Last scan phases  <span ng-if="phasesTotalElements">
                  ({{phasesTotalElements}})
                </span>
        </h4> &nbsp;of&nbsp;
        <h4 class="selected-item-name" style="position:relative;" title="{{selectedRootFolderName}}">
          {{selectedRootFolderNickName?selectedRootFolderNickName:selectedRootFolderName}}
        </h4>&nbsp;&nbsp;
        <span ng-if="selectedRootFolderLastRunTriggeredBy" >  Triggered by <h4>&nbsp;<da-icon href="scheduleGroup"></da-icon>&nbsp; <span class="title-primary" title="Triggered by {{selectedRootFolderLastRunTriggeredBy}} schedule group {{selectedRootFolderLastRunTriggeredByMaunal?'maunally':'system'}}">{{selectedRootFolderLastRunTriggeredBy}}</span></h4></span>
      </div>

    </div>
    <div ng-show="showPhasesGrid">

      <rootfolder-run-jobs-grid fix-height="380px" restrictedEntityDisplayTypeName="rootFolder" items-selected="onSelectPhasesData" item-selected="onSelectPhaseData" restricted-entity-id="selectedRootFolderLastRunDetailsId" export-to-excel="exportPhasesToExcel"
        refresh-data="reloadPhasesData" refresh-data-silently="syncPhasesData" change-selected-item="changePhaseDataSelectedItem" process-export-finished="exportPhasesToExcelCompleted" total-elements="phasesTotalElements"
      ></rootfolder-run-jobs-grid>
    </div>
  </div>
</div>

