.scan-wrapper {

  .scan-box {
    margin-bottom: 20px;
    padding-right: 10px !important;
    padding-left: 0 !important;
    width: 25%;
    float: left;

    &:nth-child(4n+4) {
      padding-right: 0 !important;
    }

    .ibox-title {
      .scanning-icon{
        font-size: 14px;
        color: #26a69a;
        padding-right: 3px;
      }
      .elapsedTime {
        float: right;
        font-weight: 500;
      }
    }

    .ibox-content {
      height: 110px;

      .folder-name {
        .folder-icon {
          padding-right: 3px;
        }
      }
      .job-type {
        padding: 7px 0;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;

        i {
          padding-right:5px;
        }
      }
      .progressbar-row {

        .progress-info {
          padding-top: 3px;
           display: flex;
           flex-direction: row;
           font-size: 11px;

           .rate {
             display: flex;
             flex: 1;
             justify-content: center;
           }

          .timeToEnd {
            display: flex;
            margin-left: auto;
          }
        }
      }
    }

    .root-folders-summary-box {
      .total {
        font-size:30px;
        padding-bottom: 10px;
      }
    }
  }

  .da-progress-bar {
    background: #777777;
  }

  .root-folders-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 2px;

    .state-btn {
      display: flex;
      align-items: center;
      flex-direction: row;
      cursor: pointer;
    }
  }
}

.scan-strategy-item {
  .icon-wrapper {
    width: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 1650px)  {
  .scan-box {
    width: 33% !important;
  }
}


@media only screen and (max-width: 1300px)  {
  .scan-wrapper {
    .scan-box {
      width: 50% !important;
    }

    .root-folders-header {
      height: 90px;
      position: relative;

      .middle-items {
        position: absolute;
        top: 47px;
        right: 91px;
      }
    }
  }
}

//@media only screen and (max-width: 1300px) and (min-width: 990px) {
//  .scan-wrapper {
//    .scan-box {
//      width: 50% !important;
//    }
//
//    .root-folders-header {
//      height: 90px;
//      position: relative;
//
//      .middle-items {
//        position: absolute;
//        top: 47px;
//        right: 91px;
//      }
//    }
//  }
//}


@media only screen and (max-width: 990px)  {
  .scan-box {
    width: 100% !important;
  }
}
