<div  class="fill-height " style="padding-top: 2px;">
  <div ng-show="isApplyToSolrRunning" style="display: inline-block; margin: 0 8px;" title="{{currentApplyToSolrProgressPercentage}}% applying: {{applyStatus.applyCounter}} / {{applyStatus.applyCounterMaxMark}}">

      Apply assignments&nbsp;


        <div   style="width: 200px;display: inline-block; vertical-align: top;margin-top: 8px;" >
          <uib-progressbar max="100"  value="currentApplyToSolrProgressPercentage" style="height: 5px;margin: 0;">

          </uib-progressbar>
         </div>

      <button ng-show="!enableStartApplyButton" class="btn btn-link btn-sm" ng-click="stopApplyTagsToSolr()" title = "Stop applying" style="padding: 0;vertical-align: top;">
        <i class="fa fa-times"></i>
      </button>
    </div>

  <div  ng-show="isRunning" style="display: inline-block; margin: 0 8px;"
        title="Progress: {{currentPhaseProgressCounter}}/{{currentPhaseProgressFinishMark}} {{currentPhaseProgressPercentageStr}}">

      {{phaseName}}&nbsp;

      <div  style="width: 200px;display: inline-block; vertical-align: top;margin-top: 8px;" >
        <uib-progressbar max="100"  value="currentPhaseProgressPercentage" style="height: 5px;margin: 0;">

        </uib-progressbar>

      </div>

      <button ng-show="enableStopScanRunButton" class="btn btn-link btn-sm" ng-click="stopScanRun()" title = "Stop processing" style="padding: 0;vertical-align: top;">
        <i class="fa fa-times"></i>
      </button>

  </div>
</div>
