<div class="actions">
  <div *ngFor="let action of actionItems">
    <!--a class="btn btn-xs" [ngClass]="{'disabled':action.disabled}" (click)="onClickAction(action)" title="{{action.title}}"><da-icon href="{{action.href}}"></da-icon></a-->
    <a (click)="onClickAction(action)" [ngClass]="{'btn-flat': action.btnType == 'flat', 'btn-link': action.btnType != 'flat', 'disabled':action.disabled}" class="btn btn-flat btn-xs" title="{{action.title}}">
      <da-icon href="{{action.href}}"></da-icon>
      <span>&nbsp;{{action.name}}</span>
    </a>&nbsp;
  </div>
</div>
