
<div class="flex-container-col">
  <div class="header-panel">
    <toolbar [title]="'Regulations'" [totalElements]="totalElements" [settingsActionItems]="settingsActionItems" [exportActionItem]="exportActionItem"></toolbar>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid
               [treeGridData]="regulationsData"
               [inTreeMode]="false"
               [treeGridEvents]="treeGridEvents"
               [hostComponent]="this"
               [keepOpenNodes]="true"
               [initialSortDirection] = "initialSortDirection"
               [initialSortFieldName]="initialSortFieldName"
               [treeGridHeaderComponent]="RegulationGridHeaderComponent"
               [treeGridItemComponent]="RegulationsItemGridComponent">
    </tree-grid>
  </div>
</div>


