@import "item-grid/regulations-item-grid";
@import "grid-header/regulation-grid-header";
regulations {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 30px;
  left: 210px;
  bottom: 30px;
}



