<div *ngFor="let mList of tagsList" class="discover-filter-block">
  <div class="filter-item-name">
    <i class="fa fa-flag tag-{{ mList[0].item.type.id}}"  ></i>
    {{ mList[0].item.type.name }}
  </div>
  <div  *ngFor="let mItem of mList" class="filter-field-item" (click)="selectMItem(mItem)">
    <i class="fa metadata-item-check" [ngClass]="{'fa-square-o' : !mItem.selected , 'fa-check-square-o' : mItem.selected}"> </i>
    <span>{{ mItem.item.name}}</span>
  </div>
</div>
