<div class="modal-header"  [daDraggable] draggableSelector=".modal-content">
  <h4 class="modal-title" id="modal-basic-title">Doc Types</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeMe()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="doc-type-chart-popup-body modal-body">
  <!-- chart [options]="chartOptions">
  </chart -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeMe()">Cancel</button>
</div>
