edit-server-component-dialog {

  .modal-body {
    min-height: 190px !important;
    padding: 25px 0 0 0 !important;
  }

  .main-form {
    padding: 5px 0 10px 0;

    label {
      font-weight: bold;
    }

    .data-center-item {
      padding: 10px;
      &.selected {
        background-color: #0b58a2;
        color: #ffffff;
      }
    }

    .data-center-item:hover {
      background-color: #efefef;
    }

    .form-group {
      display: flex;
      align-items: center;

      .toggle-btn {
        cursor: pointer;
        padding-top: 5px;
      }

      .control-label {
        width: 180px;
        justify-content: flex-end;
        display: flex;
        padding-right: 30px;
        margin: 0;
      }

      .item-name {
        padding-left: 10px;
      }
      .control-field {
        width: 290px;
        padding-bottom: 5px;
      }

      .error {
        color: red;
        padding-left: 5px;
      }


      .special-drop-down-button {
        padding: 5px 10px;
        border: solid 1px #cccccc;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
