<div class="modal-header" >
  <span class="modal-title">Edit server component</span>
  <a  class="close" aria-label="Close" (click)="cancel($event)">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <form class="main-form form-horizontal" #tagItemForm="ngForm" role="form">
    <div class="form-group">
      <label class="control-label" >Component type:</label>
      <div class="control-field">
        <span class="item-name">{{data.claComponentType | translate}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" >Instance ID:</label>
      <div class="control-field">
        <span class="item-name">{{data.instanceId}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="loc">Location:</label>
      <div class="control-field name-field" >
        <input class="form-control" (click)="$event.stopPropagation();" #tagItemName id="loc" name="loc"  type="text" [(ngModel)]="data.location" minlength="1" #name="ngModel" placeholder=""/>
      </div>
      <div class="error" *ngIf="name.invalid">*</div>
    </div>


    <div class="form-group">
      <label class="control-label" >Active:</label>
      <div class="control-field name-field" >
        <div class="toggle-btn"   (click)="data.active = !data.active">
          <span *ngIf="data.active"  title="{{ data.componentType | translate }} is active"><span class="fa fa-toggle-on icon-item " ></span> </span>
          <span *ngIf="!data.active"   title="{{ data.componentType | translate }} is not active" class="notice"><span class="fa fa-toggle-off notice icon-item" ></span> </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" >Datacenter:</label>
      <div class="control-field" >
        <span  ngbDropdown>
          <span ngbDropdownToggle class="special-drop-down-button">
            {{ data.customerDataCenterDto.name}}

          </span>
          <div ngbDropdownMenu>
            <div *ngIf="dataCenterList">
              <div *ngFor="let dcObj of dataCenterList"  (click)="data.customerDataCenterDto = dcObj" class="data-center-item" [ngClass]="{'selected' : data.customerDataCenterDto.id == dcObj.id}">
                {{ dcObj.name }}
              </div>
            </div>
            <div *ngIf="!dataCenterList">
              Loading list...
            </div>
          </div>
        </span>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="save($event)">Save </button>
  <button type="button" class="btn btn-default" (click)="cancel($event)">Cancel</button>
</div>


