selectBtnFilter {

  .ng-select {
    .ng-select-container{
      min-height: 30px;
    }
  }

  .ng-select-clear-all {
    padding: 2px 0px 0px;
    color: #0b58a2;
    text-decoration: underline;
    cursor: pointer;
  }

  .filter-area-div {
    padding: 5px 0px 0px;
    color : rgb(111, 152, 173);
  }

  .filter-item-name {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #666666;
    cursor: pointer;
    position: relative;

    .clear-filters {
      display: none;
      position: absolute;
      right: 10px;
      top: 3px;
      color: #444444;
      font-size: 14px;
    }
  }

  .filter-item-name:hover {
    .clear-filters {
      display: inline-block;
    }
  }


  .filter-item-name.is-filtered {
    color : red;
  }

  .ng-select.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          display: none;
        }
      }
    }
  }

  .ng-select .ng-has-value .ng-placeholder {
    display: initial;
  }

  .ng-select.ng-select-filtered .ng-placeholder {
    display: none;
  }

  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option {
        overflow-x: visible;
      }
    }
  }

  .collapse-title {
    cursor: pointer;
  }

  .cbox-collapse-icon {
    width: 10px;
  }
}

.filter-field-check {
  width: 20px !important;
}




