<div class="filter-area-div">
  <div *ngIf="filterTitle" class="filter-item-name" [ngClass]="{'collapse-title' : collapsible, 'is-filtered': selectedItems && selectedItems.length > 0 }" >
    <span *ngIf="collapsible" class="cbox-collapse-icon fa" [ngClass]="{'fa-caret-down' : !isCollapsed , 'fa-caret-right' : isCollapsed}" (click)="changeCollapse()"></span>
    <span (click)="changeCollapse()"> {{ filterTitle }}</span>
    <span  *ngIf="withClearAll && selectedItems && selectedItems.length>0"  (click)="clearAll()" class="clear-filters fa fa-trash-o" title="Clear filters"></span>
  </div>
  <div *ngIf="!isCollapsed">
    <ng-select
        [items]="filterOptions"
        [multiple]="true"
        [closeOnSelect]="false"
        [hideSelected]="false"
        bindLabel="displayText"
        appendTo="body"
        (open)="onOpenSelect()"
        (close)="onCloseSelect()"
        [clearable] = "false"
        [placeholder]="'Select '+(shortTitle ? shortTitle : filterTitle)"
        [(ngModel)]="selectedItems">

      <ng-template ng-option-tmp let-item="item">
        <div class="ng-select-menu-item-div no-special-tooltip" title="{{item.tooltipText? item.tooltipText : item.displayText}}">
          <span *ngIf="item.selected" class="filter-field-check fa fa-check-square-o no-special-tooltip"></span>
          <span *ngIf="!item.selected"   class="filter-field-check fa fa-square-o no-special-tooltip"></span>
          <span>{{item.displayText}}</span>
        </div>
      </ng-template>

    </ng-select>
    <!-- div class="ng-select-clear-all" (click)="clearAll()"  *ngIf="withClearAll && selectedItems && selectedItems.length>0">Clear</div -->
    <checkBoxFilter [filterOptions]="selectedItems" (filterChanged)="onFilterChanged()">
    </checkBoxFilter>
  </div>
</div>
