<div class="open-request-actions">
  <a *ngIf="!currentPath || currentPath == 'open-workflows' "class="btn btn-flat edit"  [ngClass]="{'disabled': !this.selectedItem}" (click)="goToEdit()" ><i class="fa fa-pencil"></i> Edit</a>

  <a *ngIf="!currentPath || currentPath == 'open-workflows' " class="btn btn-flat add" (click)="goToAdd()"><i class="fa fa-plus"></i> Add</a>
  <button class="btn btn-primary open" [disabled]="!this.selectedItem" (click)="goToOpen()"><i class="fa fa-open"></i> Open</button>
</div>

<div ngbDropdown class="d-inline-block">
  <button class="btn btn-secondary " type="button" ngbDropdownToggle >
    Actions
  </button>
  <div ngbDropdownMenu>
    <a class="dropdown-item" title="Go to discover files page" (click)="goToDiscover()">View discover</a>
    <a class="dropdown-item" *ngIf="currentPath == 'approval-workflows' " title="Set as in resolve stage" (click)="setAsInProgress()">Revert to in progress</a>
    <a class="dropdown-item" title="Delete the selected workflow" (click)="deleteWorkflow()">Delete</a>
    <a class="dropdown-item" title="Clear of files from the selected workflow" (click)="clearDiscoveredFiles('')">Clear discovered files</a>
    <a class="dropdown-item" title="Revert resolved actions from all files" (click)="clearAllActionsFromFiles('')">Clear resolved action</a>
  </div>
</div>
