loader {
  .loader-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
    z-index: 500;





  .loader-icon {
    background-color: #5bc0de;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -15px;
    width:100px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    animation: progress-bar-stripes 1s linear infinite;
  }

/*
    .loader-icon {
      font-size: 92px;
      left: 50%;
      top: 50%;
      color: #000000;
      position: absolute;
      margin-left: -50px;
      margin-top: -50px;
    }

    */
  }
}
