<div class="pager-wrapper">
  <div class="pager-icon pager-icon-first" [ngClass]="{'disabled':currentPage == 1}" (click)="(currentPage != 1) && moveToPage('first')"></div>
  <div class="pager-icon pager-icon-prev" [ngClass]="{'disabled':currentPage == 1}" (click)="(currentPage != 1) && moveToPage('prev')"></div>
  <input type="text" (keypress)="verifyKey($event)" class="form-control page-num-input" id="pageNumInput" name="pageNumInput" maxlength="10" [(ngModel)]="displayPageNumber" required minlength="1" #pageNum="ngModel" placeholder="">
  <span class="pager-text-total" *ngIf="totalPages">/ {{ totalPages }}</span>
  <div class="pager-icon pager-icon-next" [ngClass]="{'disabled':currentPage == totalPages}" (click)="(currentPage != totalPages) && moveToPage('next')"></div>
  <div *ngIf="totalPages" class="pager-icon pager-icon-last" [ngClass]="{'disabled':currentPage == totalPages }" (click)="(currentPage != totalPages) && moveToPage('last')"></div>
</div>
