<form class="form-horizontal modal-form-md" name="uploadSuccessForm" #uploadSuccessForm="ngForm" role="form">
  <div class="form-group">
    <label class="control-label">File name:</label>
    <div class="control-text">
      {{file.name}}
    </div>
  </div>
  <!--div class="alert alert-info">
    <strong>Note: </strong> {{validationInfo.importedRowCount + validationInfo.duplicateRowCount + validationInfo.warningRowCount}} {{ component | lowercase }} found
  </div-->
  <div class="form-group">
    <label class="control-label">Found:</label>
    <div class="control-text">
      {{validationInfo.importedRowCount + validationInfo.duplicateRowCount + validationInfo.warningRowCount}} {{ component | lowercase }}
    </div>
  </div>
  <hr>
  <div class="form-group">
    <label class="control-label">Valid:</label>
    <div class="control-text">
      {{validationInfo.importedRowCount}}&nbsp;&nbsp;
      <i *ngIf="validationInfo.importedRowCount > 0" class="fa fa-check-square primary inner-control-label-icon"></i>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Warnings:</label>
    <div class="control-text">
      {{validationInfo.warningRowCount}}
    </div>
  </div>
  <!--div class="form-group">
    <label class="control-label">Duplicates:</label>
    <div class="control-text">
      {{validationInfo.duplicateRowCount}}&nbsp;&nbsp;
      <input *ngIf="validationInfo.duplicateRowCount > 0" type="checkbox" name="updateDuplicates" (click)="checkUpdateDuplicates()">&nbsp;Update duplicates
    </div>
  </div-->
  <div class="form-group" *ngIf="allowDuplicates">
    <label class="control-label">Duplicates:</label>
    <div class="control-text">
      {{validationInfo.duplicateRowCount}}&nbsp;&nbsp;
      <span *ngIf="validationInfo.duplicateRowCount > 0">
        <span class="checkbox">
          <input (click)="checkUpdateDuplicates()" class="control-field-checkbox-position" name="updateDuplicates" type="checkbox">&nbsp;Update duplicates
        </span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Faulty:</label>
    <div class="control-text">
      {{validationInfo.errorRowCount}}
    </div>
  </div>
</form>
