<div class="grid-header grid-header-basic">
  <div class="item fieldIcon"></div>
  <div class="item fieldName"  [attr.data-col-name]="'name'" [attr.data-col-sortable]="true">Name</div>
  <div class="item active" [attr.data-col-name]="'active;name'" [attr.data-col-sortable]="true">Active</div>
  <div class="item category"  [attr.data-col-name]="'sCat.parent.name;sCat.name;name'" [attr.data-col-sortable]="true">Category</div>
  <div class="item subCategory"  [attr.data-col-name]="'sCat.name;name'" [attr.data-col-sortable]="true">Sub-Category</div>
  <div class="item regulations">Regulations</div>
</div>

