search-pattern-admin-grid-header {
  width: 100%;
  position: relative;
  .grid-header {
    .item {
      &.fieldIcon {
        flex: 0 0 30px;
      }
      &.category {
        flex: 0 0 150px;
      }
      &.active {
        flex: 0 0 60px;
        cursor: pointer;
      }
      &.subCategory {
        flex: 0 0 150px;
      }
      &.fieldName {
        flex: 1 1 300px;
      }
      &.regulations {
        flex: 1 1 200px;
      }
    }
  }
}
