<div class="da-dashboard-item" >
  <div class="da-item-header" (mousedown)="onMouseDown($event)">
    <span class="dashboard-drag-icon" >
      <i class="fa fa-window-restore"></i>
    </span>
    <span>{{chartTitle}}</span>
    <da-drop-down style="float: right" class="gridster-item-content" [openOnLeft]="true" [enabled]="true" [dropDownItems]="chartOptions">
      <span class="fa fa-bars header-options-btn" ></span>
    </da-drop-down>
    <span class="da-right-spinner" *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></span>
  </div>
  <div class="da-item-body gridster-item-content">
    <chart-component *ngIf="!disabled && chartData" [chartTitle]="chartTitle" [chartType]="chartType" [chartData]="chartData"></chart-component>
  </div>
</div>
