@import "../../../common/discover/components/item-grids/group-item-grid/group-item-grid";
@import "../../../common/discover/components/item-grids/doc-type-item-grid/doc-type-item-grid";
@import "../../../common/discover/components/item-grids/files-item-grid/files-item-grid";

discover-split-page {

  .header-split-div {
    position: absolute;
    top: 23px;
    height: 30px;
    left: 15px;
    right: 10px;
  }

  .split-div-header-item {
    padding-right: 10px;
    cursor: pointer;
  }


  .main-split-div {
    position: absolute;
    background-color: #ffffff;
    top: 50px;
    bottom: 50px;
    left: 10px;
    right: 10px;
  }

  .discover-left-area {
    position: relative;
    height: 100%;
    overflow-y: auto;
  }

  .discover-left-area-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .discover-right-area {
    position: relative;
    height: 100%;
  }

  .discover-right-area-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
