<!-- div class="header-split-div">
  <span  class="split-div-header-item" (click)="showFilterDiv = !showFilterDiv">
    <i class="fa metadata-item-check" [ngClass]="{'fa-square-o' : !showFilterDiv, 'fa-check-square-o' : showFilterDiv}"> </i>
    <span>Show Filter</span>
  </span>

  <span  class="split-div-header-item"  (click)="showRightDiv = !showRightDiv">
    <i class="fa metadata-item-check" [ngClass]="{'fa-square-o' : !showRightDiv, 'fa-check-square-o' : showRightDiv}"> </i>
    <span>Show Right Part</span>
  </span>
</div -->

<!-- div class="main-split-div" *ngIf="metadataLoaded">

  <vertical-split-pane
    primary-component-minsize="50"
    secondary-component-minsize="100"
    local-storage-key="split-pane"
    primary-component-initialratio="0.7">

  <div class="split-pane-content-primary discover-left-area">
    <div class="discover-left-area-div" >


      <vertical-split-pane
        primary-component-minsize="0"
        secondary-component-minsize="200"
        local-storage-key="split-pane2"
        primary-component-initialratio="0.2">

        <div class="split-pane-content-primary  discover-left-area">
          <div class="discover-left-area-div">
             <discover-filter (filterChanged)="filterChanged()" [discoverType]="leftType"  [filterData]="currFilter">
             </discover-filter>
          </div>
        </div>
        <div class="split-pane-content-secondary  discover-right-area">
          <div class="discover-right-area-div" >
            <discover-item-list [parameters]="leftParams" [discoverType]="leftType" (selectedItemChanged)="onLeftPageSelectedChanged($event)" (listPageChanged)="onLeftPageChanged($event)">
            </discover-item-list>
          </div>
        </div>

      </vertical-split-pane>
    </div>
  </div>

  <div class="split-pane-content-secondary  discover-left-area">
    <div class="discover-right-area-div">
      <discover-item-list *ngIf="rightType != DiscoverType.GROUP_DETAILS"  [parameters]="rightParams" [discoverType]="rightType" (selectedItemChanged)="onRightPageSelectedChanged($event)" (listPageChanged)="onRightPageChanged($event)">
      </discover-item-list>
      <discover-detail-page [displayObject]="selectLeftItem" *ngIf="rightType == DiscoverType.GROUP_DETAILS" [discoverType]="rightType"  >
      </discover-detail-page>
    </div>
  </div>

  </vertical-split-pane>

</div -->
