<div class="flex-container-col">
  <div class="header-panel">
    <div class="header-line header-line-basic">
      <toolbar-title [title]="'Search patterns'" [totalElements]="totalElements" ></toolbar-title>
      <div class="toolbar-spacer"></div>
      <div class="left-panel">
        <toolbar-actions [actionItems]="settingsActionItems"></toolbar-actions>
        <div class="toolbar-spacer"></div>
        <filterBox  (filterChanged)="onRegulationFilterChanged($event)" allMsg="Any Regulation" noneMsg="Regulations" noneTooltipMsg="Filter by regulations" [filterOptions]="filterRegulationOptions">
        </filterBox>
      </div>
      <div class="right-panel">
        <search-box [searchTerm]="searchBoxInput.searchTerm" [boxTitle]="searchBoxInput.title" [boxPlaceholder]="searchBoxInput.placeholder" (searchChanged)="onSearchChanged($event)"></search-box>
        <toolbar-export-action [actionItem]="exportActionItem"></toolbar-export-action>
      </div>
      <!-- toolbar [title]="'Search patterns'" [totalElements]="totalElements" [settingsActionItems]="settingsActionItems" [searchBox]="searchBoxInput"  [exportActionItem]="exportActionItem"></toolbar -->
    </div>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid
               [treeGridData]="treeGridData"
               [inTreeMode]="false"
               [treeGridEvents]="treeGridEvents"
               [hostComponent]="this"
               [initialSortDirection] = "initialSortDirection"
               [initialSortFieldName]="initialSortFieldName"
               [treeGridHeaderComponent]="SearchPatternGridHeaderComponent"
               [treeGridItemComponent]="SearchPatternItemGridComponent">

    </tree-grid>
  </div>
</div>


