@import "item-grid/search-pattern-admin-item-grid";
@import "grid-header/search-pattern-admin-grid-header";


search-pattern-admin {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 30px;
  left: 210px;
  bottom: 30px;


  checkBoxFilter .checkbox-filter-option {
    max-width: 300px;
  }
}



