<div class="grid-header grid-header-basic">
  <div class="item fieldName" [attr.data-col-name]="'name'" [attr.data-col-sortable]="true">{{ 'SGROUPS.HEADER.NAME' | translate }}</div>
  <div class="item folders" >{{ 'SGROUPS.HEADER.ROOT_FOLDERS' | translate }}</div>
  <div class="item status" >{{ 'SGROUPS.HEADER.STATUS' | translate }}</div>
  <div class="item period">{{ 'SGROUPS.HEADER.DESCRIPTION' | translate }}</div>
  <div class="item nextScan" >{{ 'SGROUPS.HEADER.NEXT_SCAN' | translate }}</div>
  <div class="item reScan" [attr.data-col-name]="'active'" [attr.data-col-sortable]="true">{{ 'SGROUPS.HEADER.RESCAN' | translate }}</div>
  <div class="item lastScan" [attr.data-col-name]="'lastRunStartTime'" [attr.data-col-sortable]="true">{{ 'SGROUPS.HEADER.LAST_SCAN' | translate }}</div>
  <div class="item actions" >{{ 'SGROUPS.HEADER.ACTIONS' | translate }}</div>
</div>

