schedule-group {
  schedule-group-grid-header {
    width: calc(100% - 23px);
    .grid-header {
      .item {
        &.fieldName {
          flex: 1 0 150px;
        }
        &.folders {
          flex: 0 1 100px;
        }
        &.period {
          flex: 0 1 250px;
        }
        &.status {
          flex: 0 1 120px;
        }
        &.nextScan {
          flex: 0 1 130px;
        }
        &.reScan {
          flex: 0 1 70px;
        }
        &.lastScan {
          flex: 0 1 250px;
        }
        &.actions {
          flex: 0 0 100px;
          min-width: 100px;
        }

      }
    }
  }
}
