<div class="modal-header">
  <span class="modal-title">{{title}}</span>
  <a  class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body modal-body-md">
  <form class="form-horizontal modal-form-md" name="dashboardGeneralForm" #dashboardGeneralForm="ngForm" role="form">

    <div  class="form-group form-group-position-relative">
      <label class="control-label" for="dashboardName">Name:</label>
      <div class="control-field">
        <input type="text" class="form-control" maxlength="255" id="dashboardName" name="dashboardName" [(ngModel)]="dashboardItem.name" required minlength="1" #dashboardName="ngModel" placeholder="Dashboard name">
      </div>
      <div class="error error-position" *ngIf="dashboardName.invalid">*</div>
    </div>

    <!-- div class="form-group form-group-radio">
        <div class="dialog-option">
          <input type="radio" id="private" value="false" [(ngModel)]="globalFilter" name="private">
          <label for="private"> Private</label>
        </div>
        <div class="dialog-option">
          <input type="radio" id="public" value="true" [(ngModel)]="globalFilter" name="public">
          <label for="public"> Public</label>
        </div>
      </div -->

  </form>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group"><button type="button" class="btn btn-primary" (click)="save()" >Save</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="cancel()">Cancel</button></div>
  </div>
</div>
