<div class="grid-header grid-header-basic">
  <div class="item iconSpace"></div>
  <div class="item icon-column"></div>
  <div class="item fieldName" [attr.data-col-name]="'NICKNAME'" [attr.data-col-sortable]="true" >{{ 'ROOTFOLDER.HEADER.NAME' | translate }}</div>
  <div class="item status"  [attr.data-col-name]="'RUN_STATUS'" [attr.data-col-sortable]="true" >{{ 'ROOTFOLDER.HEADER.STATUS' | translate }}</div>
  <!-- div class="item runningEllapsedTime"  >Running time</div -->
  <div class="item phase" >{{ 'ROOTFOLDER.HEADER.PHASE' | translate }}</div>
  <div class="item scanProgress" >{{ 'ROOTFOLDER.HEADER.PROGRESS' | translate }}</div>
  <div class="item phaseRate">{{ 'ROOTFOLDER.HEADER.RATE' | translate }}</div>
  <div class="item phaseTime" title="{{ 'ROOTFOLDER.TITLE.END_TIME' | translate }}">{{ 'ROOTFOLDER.HEADER.END_TIME' | translate }}</div>
  <div class="item processedFiles"  [attr.data-col-name]="'FILE_NUM'" [attr.data-col-sortable]="true" >{{ 'ROOTFOLDER.HEADER.PROCESSED' | translate }}</div>
  <!-- div class="item dataCenter"  >Datacenter</div>
  <div class="item scheduleGroup"  >Schedule Group</div>
  <div class="item estimatedTime" >Estimated time</div>
  <div class="item phase" >Phase</div>
  <div class="item mediaType" [attr.data-col-name]="'MEDIA_TYPE'" [attr.data-col-sortable]="true"  >Media type</div -->
  <div class="item mediaType"></div>
  <div class="item lastScan" >{{ 'ROOTFOLDER.HEADER.LAST_SCANNED' | translate }}</div>
  <div class="item actions" >{{ 'ROOTFOLDER.HEADER.ACTIONS' | translate }}</div>
</div>
