root-folder-item-grid-header {
  width: 100%;
  .grid-header {
    .item {
      &.fieldName {
        flex: 1 0 127px;
      }

      &.status {
        flex: 0 0 110px;
        max-width: 110px;
      }
      &.runningEllapsedTime {
        flex: 0 0 100px;
        max-width: 100px;
      }
      &.phase {
        flex: 0 0 100px;
        flex-grow: 0;
        flex-shrink: 0;
        width:100px;
        max-width: 100px;
        min-width: 100px;
        border-left: solid 1px #eaeaea !important;

      }
      &.scanProgress {
        flex: 0 0 150px;
        max-width: 150px;
      }
      &.phaseRate {
        flex: 0 0 80px;
        max-width: 80px;
      }
      &.phaseTime {
        flex: 0 0 80px;
        max-width: 80px;
      }
      &.processedFiles {
        flex: 0 0 170px;
        max-width: 170px;
        border-left: solid 1px #eaeaea !important;
      }
      &.lastScan {
        flex: 0 0 130px;
        max-width: 130px;
      }
      &.actions {
        flex: 0 0 95px;
        max-width: 95px;
      }
      &.dataCenter {
        flex: 0 0 100px;
        max-width: 100px;
      }
      &.scheduleGroup {
        flex: 0 0 100px;
        max-width: 100px;
      }
      &.iconSpace {
        flex: 0 0 20px;
        max-width: 20px;
      }
      &.viewBtn {
        flex: 0 0 60px;
        max-width: 60px;
      }
      &.mediaType {
        flex: 0 0 30px;
        max-width: 30px;
      }
    }
  }
}
