<div class="discover-filter-block">
  <div class="filter-item-name">{{ filterTypeObject.name }}</div>
  <ng-template ngFor let-mItem [ngForOf]="filterTypeObject.list">
    <div class="filter-field-item" (click)="selectMItem(mItem)">
      <i class="fa metadata-item-check" [ngClass]="{'fa-square-o' : !mItem.selected , 'fa-check-square-o' : mItem.selected}"> </i>
      <span>{{ mItem.name}}</span>
    </div>

    <div *ngIf="mItem.children"  class="padd-level-1">
      <div  *ngFor="let mItemChild of mItem.children" class="filter-field-item"(click)="selectMItem(mItemChild)">
        <i class="fa metadata-item-check" [ngClass]="{'fa-square-o' : !mItemChild.selected , 'fa-check-square-o' : mItemChild.selected}"> </i>
        <span>{{ mItemChild.name}}</span>
      </div>
    </div>

  </ng-template>
</div>
