checkbox-filter {

  .metadata-item-check {
    width: 15px;
  }

  .metadata-item-icon {
    width: 15px;
  }

  .padd-level-1 {
    padding-left: 10px;
  }

  .padd-level-1 {
    padding-left: 20px;
  }
}
