<div class="modal-header"  >
  <span class="modal-title">Drill down</span>
  <a  class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <div class="drill-down-top-msg">View {{ data.selectionName }} in:</div>
  <div>
      <da-select-input (itemSelected)="onDrillDownChoose($event)" [options]="dataTypeList" [selectedName]="drillDownSelectName" emptyValueMsg="-- Select --"></da-select-input>
  </div>
</div>
<div class="modal-footer">
  <div class="right-panel">
    <div class="btn-group" *ngIf="selectDrillDown"><button type="button" class="btn btn-primary" (click)="save()" >View</button></div>
    <div class="btn-group"><button type="button" class="btn btn-default" (click)="close()">Close</button></div>
  </div>
</div>
