discover-filter {
  .filter-item {
    width: 100%;
  }

  .filter-field-item {
    cursor: pointer;
    font-size: 12px;
    padding-top: 3px;
  }


  .discover-filter-block {
    width: 100%;
    padding: 10px;
    border-bottom: solid 1px #cccccc;
  }

  .filter-item-name {
    font-weight: 500;
  }


  .discover-header-line {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    position: relative;

  }

  .discover-body-line {
    position: absolute;
    top:40px;
    bottom: 0px;
    width: 100%;
    &.top-border {
      border-top: solid 1px #cccccc;
    }
  }

  .discover-header-title {
    font-size: 13px;
    display: inline-block;
    padding-left: 10px;
    height: 100%;
    margin: 10px 0px;
  }
}
