<loader [show]="loading"></loader>

<div class="discover-header-line  top-border">
    <span class="discover-header-title" >
      Filter
    </span>
</div>

<div class="discover-body-line  top-border"  *ngIf="discoverTypeObject">
      <div *ngFor="let filterItem of discoverTypeObject.filtersList"  class="filter-item">
          <metadata-filter *ngIf="filterItem.type == FilterType.METADATA" (filterChanged)="onFilterChanged()" [filterData]="filterData" [filterField]="filterItem.filterField"  [filterTypeObject]="filterItem">
          </metadata-filter>

          <input-filter *ngIf="filterItem.type == FilterType.INPUT" (filterChanged)="onFilterChanged()" [filterData]="filterData" [filterField]="filterItem.filterField"  [filterTypeObject]="filterItem">
          </input-filter>

          <tag-filter *ngIf="filterItem.type == FilterType.TAG" (filterChanged)="onFilterChanged()" [filterData]="filterData" [filterField]="filterItem.filterField" [filterTypeObject]="filterItem">
          </tag-filter>
      </div>
</div>


