@import "item-grid/ingestError-item-grid";
@import "grid-header/ingestError-grid-header";

ingestError-module {



  .export-btn {

    .spinner-wrapper {
      position: relative;
      padding-right: 5px;

      .fa {
        position: absolute;
        top: 10px;
      }
    }
  }



  .remove-rf-filter {
    font-size: 18px;
  }

  .clear-date-btn {
    padding: 5px 0px;

  }
}
