<div class="flex-container-col">
  <div class="header-panel">
    <h3>
                  <span *ngFor="let breadcrumbItem of breadCrumbs; let ind = index" >
                    <span [ngClass]="{'breadcrumb-choose-step' : breadcrumbItem.clickFunc , 'breadcrumb-current-step' :  !breadcrumbItem.clickFunc}" (click)="breadcrumbItem.clickFunc && breadcrumbItem.clickFunc()">
                      {{ breadcrumbItem.title }}
                    </span>
                    <span  *ngIf="!breadcrumbItem.clickFunc && totalItems > 0">({{totalItems |number}})</span>
                    <span *ngIf="ind < breadCrumbs.length-1" class="breadcrumb-choose-step-seperator"> > </span>
                  </span>
    </h3>
    <div class="header-line" >
      <div class="left-panel">
        <div class="header-item"  >
          <div class="btn-group" style="padding: 6px 10px">
            <button class="btn btn-flat btn-xs" (click)="chooseDates()" >
              {{ dateFrom ?  'Change Date' : 'Choose Date' }}
            </button>
          </div>
          <div *ngIf="dateFrom" class="btn-group" style="padding: 3px 10px">
            <span > {{ dateFrom | date :CommonConfig.dateTimeFormat }}  to {{  dateTo ? (dateTo | date :CommonConfig.dateTimeFormat ) : 'now'}}</span>
          </div>
          <a *ngIf="dateFrom" class="btn btn-link btn-xs clear-date-btn" (click)="clearDate()" >
            <span class="fa fa-close" ></span>
          </a>
        </div>
        <div class="header-item"  >
          <filterBox  (filterChanged)="onErrorTypeFilterChanged($event)" [filterOptions]="filterErrorTypeOptions" allMsg="All Types" noneMsg="Error type" noneTooltipMsg="Filter by error type">
          </filterBox>
        </div>

        <div class="header-item"  >
          <filterBox  (filterChanged)="onMediaTypeFilterChanged($event)" [filterOptions]="filterMediaTypeOptions" allMsg="All Types" noneMsg="Media type" noneTooltipMsg="Filter by media type">
          </filterBox>
        </div>
      </div>
      <div class="right-panel">
        <div class="export-btn">
          <span class="spinner-wrapper"*ngIf="isExporting"><i class="fa fa-spinner fa-spin"></i></span>
          <span class="nav-item dropdown" ngbDropdown   placement="bottom-left">
           <a class="btn btn-link dropdown-toggle" ngbDropdownToggle >
             <i class="fa fa-download"></i>
           </a>
           <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-location dropdown-menu-right">
             <a class="dropdown-item" href="javascript:void(0)" (click)="exportData()">Export to Excel</a>
           </ul>
         </span>
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid
      [treeGridData]="currentData"
      [treeGridEvents]="treeGridEvents"
      [treeGridItemComponent]="IngestErrorItemGridComponent"
      [treeGridHeaderComponent]="IngestErrorGridHeaderComponent"
      [initialSortDirection] = "initialSortDirection"
      [initialSortFieldName]="initialSortFieldName">
    </tree-grid>
</div>
</div>
