<div *ngIf="(initiate$ | async) && (isLoginExpired() || isScanExpired() || willScanExpire() || willLoginExpire())">
  <a (click)="openLicenseKeyDialog();" class="notice">
    <span *ngIf="willScanExpire()">    Scan license will expire in {{daysToScanExpiration}} days
    </span>
    <span *ngIf="isScanExpired()">
      Scan license expired
    </span>
    <br *ngIf="isScanExpired()"/>
    <span *ngIf="willLoginExpire()">
  User login license will expire in {{daysToLoginExpiration}} days
  </span>
    <span *ngIf="isLoginExpired()">
    User login license expired
  </span>
  </a>
</div>
