:host {
  div {
    margin-top: 1px;
    border-radius: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 14px;
    font-weight: 600;
    width: 238px;
    &:hover {
      background-color: #293846;

    }
    background: rgba(255, 255, 255, 0.7);
    a {
      color: red;
      text-decoration: none;
      font-size: 12px;
      &:hover {
        color: white;
      }

    }
  }
}
