<div #el>
  <div class="input" (click)="showDropdown()">
    <div class="caption uppercase">{{initialVal}}</div>
    <div class="caret-wrapper"><span class="caret"></span></div>
  </div>
  <div class="list" [ngClass]="{'show': isDropdownOpen}" (clickOutside)="closeDropdown($event)">
    <div class="inner-list browser-scroll always-visible thin y-only">
      <div *ngFor="let item of items;" class="item-list" (click)="onItemClick(item)">
        <div class="fa fa-bell ddl-icon"></div>
        <div>{{item.val}}</div>
      </div>
    </div>
  </div>
</div>

