<li class="nav-item notifications">
  <a class="nav-link " (click)="clearRunErrors()" (dblclick)="clearRunFatals()">

    <i class="fa fa-bell" ></i>&nbsp;

    <span class="counter" *ngIf="notification" [ngClass]="{'label-danger': notification.fatal}" >{{(notification.error || 0) + (notification.fatal  || 0)}}</span>
  </a>
</li>

