
@import '../../../../styles/variables';
:host {

  .notifications {
    position: relative;

    .counter {
      position: absolute;
      min-width: 16px;
      text-align: center;
      background: $navy;
      color: white;
      line-height: 13px;
      font-size: 12px;
      border-radius: 3px;
      padding: 2px 5px;
      right: 2px;
      top: 4px;
    }
    .label-danger, .badge-danger {
      background-color: $red;
      color: white;
    }
  }

}
