:host {
  .show-dialog {
    .action-dialog {
      display: block;
    }
  }

  .action-dialog {
    display: none;
    position: absolute;
    top: 35px;
    background: white;
    border:1px solid #ccc;
    width: 525px;
    z-index: 200;
    padding: 20px;

    .title {
      font-weight: bold;
      padding: 10px 0;
    }

    .comment {
      padding-bottom: 20px;

      textarea {
        height: 100px;
      }
    }
    .footer {
      float: right;
    }
  }
}
