<div class="btn-approval" [ngClass]="{'show-dialog': showDialog}">
  <button class="btn btn-main-opeartion btn-md " [attr.data-dialogopen]="true" (click)="onCommentClicked()">{{buttonText}}</button>
  <div class="action-dialog" (clickOutside)="onCloseClicked(false)">
    <div class="comment">
      <div class="title">Comment</div>
      <div><textarea class="form-control" name="actionComment" [(ngModel)]="comment" required
                     maxlength="3200"></textarea></div>
    </div>
    <div class="footer">
      <button class="btn btn-flat" (click)="onCloseClicked(false);">Cancel</button>
      <button class="btn btn-main-opeartion btn-md" (click)="onCloseClicked(true);">Submit</button>
    </div>
  </div>
</div>
