<context-menu #logLeveContextMenu>
  <ng-template contextMenuItem (execute)="edit()">Edit</ng-template>
  <ng-template contextMenuItem let-item (execute)="delete()">Delete</ng-template>
</context-menu>
