<span class="da-dashboard-item-line root-folder-summary-separator" *ngIf="summaryObject">
    <span class="root-folder-summary-span" (click)="openFilter(ERunStatus.RUNNING)">
      <span class="summary-key">{{ 'STATUS.RUNNING' | translate }}</span>
      <span class="summary-value" [ngClass]="{'good-run': summaryObject.runningRootFoldersCount>0}">{{  summaryObject.runningRootFoldersCount | number }}</span>
    </span>
    <span class="root-folder-summary-span "  (click)="openFilter(ERunStatus.PAUSED)">
      <span class="summary-key">{{ 'STATUS.PAUSED' | translate }}</span>
      <span class="summary-value"  [ngClass]="{'not-finished-run': summaryObject.pausedRootFoldersCount>0}">{{  summaryObject.pausedRootFoldersCount | number  }}</span>
    </span>
    <span class="root-folder-summary-span "  (click)="openFilter(ERunStatus.SUSPENDED)">
      <span class="summary-key">{{ 'STATUS.SUSPENDED' | translate }}</span>
      <span class="summary-value"  [ngClass]="{'bad-run': summaryObject.suspendedRootFoldersCount>0}">{{  summaryObject.suspendedRootFoldersCount | number }}</span>
    </span>
</span>
<span class="da-dashboard-item-line root-folder-summary-separator" *ngIf="summaryObject">
    <span class="root-folder-summary-span "  (click)="openFilter(ERunStatus.NEW)">
      <span class="summary-key">{{ 'STATUS.NEW' | translate }}</span>
      <span class="summary-value" [ngClass]="{'not-finished-run': summaryObject.newRootFoldersCount>0}" >{{  summaryObject.newRootFoldersCount | number }}</span>
    </span>
    <span class="root-folder-summary-span "  (click)="openFilter(ERunStatus.FINISHED_SUCCESSFULLY)">
      <span class="summary-key">{{ 'STATUS.OK' | translate }}</span>
      <span class="summary-value"  [ngClass]="{'good-run': summaryObject.scannedRootFoldersCount>0}">{{  summaryObject.scannedRootFoldersCount | number }}</span>
    </span>
    <span class="root-folder-summary-span "  (click)="openFilter(ERunStatus.STOPPED)">
      <span class="summary-key">{{ 'STATUS.STOPPED' | translate }}</span>
      <span class="summary-value" [ngClass]="{'not-finished-run': summaryObject.stoppedRootFoldersCount>0}">{{  summaryObject.stoppedRootFoldersCount | number }}</span>
    </span>
    <span class="root-folder-summary-span "  (click)="openFilter(ERunStatus.FAILED)">
      <span class="summary-key">{{ 'STATUS.FAILED' | translate }}</span>
      <span class="summary-value" [ngClass]="{'bad-run': summaryObject.failedRootFoldersCount>0}">{{  summaryObject.failedRootFoldersCount | number }}</span>
    </span>
</span>
