root-folder-summary  {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;


  .root-folder-summary-separator {
    flex : 1 0 50px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
  }
  .root-folder-summary-separator:first-child {
    margin-right: 10px;
  }

  .root-folder-summary-title {
    font-size: 14px;
    padding-right: 20px;
  }
  .root-folder-summary-span {
    font-size: 13px;
    color: #666666;
    flex : 1 0 0px;
    cursor: pointer;

    .summary-value {
      font-size: 13px;
      font-weight: bold;
      padding-left: 10px;
    }

    .summary-key{
      text-decoration: underline;
    }
  }

  .good-run {
    color: #209e91;
  }

  .bad-run {
    color: #e85656;
  }

  .not-finished-run {
    color: #666666;
  }
}
