date-range-dialog {
  .date-select-div {
    padding-right: 5px;
  }

  .date-input {
    width: 180px !important;
  }

  .date-select-label {
    padding: 20px 0px 5px;
  }

  .time-chooser-div {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 200px;
  }

  ngb-timepicker {
    display: inline-block;
    .form-control {
      display: block !important;
      width: 100% !important;
    }
  }

  .invalid-indication {
    color: red;
    display: inline-block;
    margin-left: 5px;

    &.time  {
      position: relative;
      top : -8px;
    }
  }

  .invalid-msg {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -2px;
    left:10px;
  }
}
