<div class="modal-header"  [daDraggable] draggableSelector=".modal-content">
  <span class="modal-title">Choose period</span>
  <a  class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <form class="form-inline" #myForm="ngForm" >
    <div class="form-group">

      <div class="date-select-div">
        <div class="date-select-label">
          From date:
        </div>
        <div class="input-group" style="margin-right: 10px">
          <input class="form-control  date-input" required placeholder="yyyy-mm-dd"
                 name="fromD" (select)="invalidMsg = null" (navigate)="invalidMsg = null" [(ngModel)]="fromDate" #cFTime="ngModel"  ngbDatepicker #fromD="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="fromD.toggle()" type="button"></button>
          </div>
          <span class="invalid-indication" *ngIf="!cFTime.valid">*</span>
        </div>
        <div class="date-select-label">
          From time:
        </div>
        <div>
          <ngb-timepicker (change)="invalidMsg = null" required name="fTime" [(ngModel)]="fromTime" [spinners]="false" #fTime="ngModel" ></ngb-timepicker>
          <span class="time invalid-indication" *ngIf="!fTime.valid">*</span>
        </div>
      </div>

      <div class="date-select-div">
        <div class="date-select-label">
          To date:
        </div>
        <div class="input-group">
          <input class="form-control date-input"  placeholder="yyyy-mm-dd"
                 name="toD" (select)="invalidMsg = null" (navigate)="invalidMsg = null" [(ngModel)]="toDate" #cTTime="ngModel"   ngbDatepicker #toD="ngbDatepicker">

          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="toD.toggle()" type="button"></button>
          </div>
          <!-- span class="invalid-indication" *ngIf="(toTime != null && toDate == null)">*</span -->
        </div>

        <div class="date-select-label">
          To time:
        </div>
        <div>
          <ngb-timepicker (change)="invalidMsg = null"  name="tTime" [(ngModel)]="toTime"  [spinners]="false" #tTime="ngModel"  ></ngb-timepicker>
          <span class="time invalid-indication" *ngIf="(toTime == null && toDate != null)">*</span>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="invalidMsg"  class="invalid-msg">* {{ invalidMsg }}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="saveDate()">OK</button>
  <button type="button" class="btn btn-primary" (click)="close()">Cancel</button>
</div>

