<div class="flex-container-col">
  <div class="header-panel">
    <toolbar *ngIf="isMngMattersUser" [exportActionItem]="exportActionItem" [settingsActionItems]="actionItems" [title]="'MATTERS.TITLE' | translate" [totalElements]="totalElements" [searchBox]="searchBoxConfig"></toolbar>
  </div>

  <div class="main-panel">
    <loader *ngIf="loading"  [show]="loading"></loader>
    <tree-grid *ngIf="!loading"
               [localFilterFunction]="localFilterFunction"
               (onFilteredCountChanged)="filterCountChange($event)"
               [treeGridData]="matters"
               [keepOpenNodes]="true"
               [inTreeMode]="true"
               [treeGridEvents]="treeGridEvents"
               [hostComponent]="this"
               [treeGridHeaderComponent]="mattersGridHeaderComponent"
               [treeGridItemComponent]="mattersItemGridComponent">
    </tree-grid>
  </div>
</div>


