matters {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 42px;
  right: 30px;
  left: 210px;
  bottom: 30px;

  .header-panel .header-line {
    background-color: #f3f3f4;

    .header-title {
      margin-right: 10px;
      padding-top: 20px;
      padding-bottom: 28px;

      h4 {
        margin-top: 12px;
        margin-bottom: 0;
        display: inline-block;
      }
    }
  }
}
