
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}} for {{userItem.name}}
  </h4>
</div>
<div class="modal-body height-xs">
  <form class="form-horizontal" name="myForm" role="form" style="margin-top: 25px;">


    <div class="form-group">
      <label class="control-label col-sm-4" for="oldPwd">Old password:</label>
      <div class="col-sm-5" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.oldPwd.$error.required" >*</span>
        <input  type="password" ng-click="$event.stopPropagation();" required focus-if="initiated" id="oldPwd" name="oldPwd" class="block form-control" ng-model="oldPwd" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="oldPwd">New password:</label>
      <div class="col-sm-5" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.newPwd.$error.required" >*</span>
        <input type="password" ng-click="$event.stopPropagation();" required id="newPwd" name="newPwd" class="block form-control" ng-model="newPwd"  />

      </div>
      <div class="col-sm-3" style="position: relative">
        <ul check-password-strength  ng-model="newPwd"></ul>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="oldPwd">Confirm password:</label>
      <div class="col-sm-5" style="position: relative">
        <span class="error top-right-position" ng-show=" myForm.confirmPwd.$error.required" >*</span>

        <input type="password" ng-click="$event.stopPropagation();" required  id="confirmPwd" name="confirmPwd" class="form-control" password-match-check="newPwd"  ng-model="confirmPwd"  />


      </div>
      <div class="col-sm-3" style="position: relative">
        <span class="error " ng-show="myForm.confirmPwd.$error.pwmatch&&!myForm.confirmPwd.$error.required">No match</span>
        </div>
    </div>


  </form>
</div>
<div class="modal-footer" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>