<div>
  <a class="btn btn-flat btn-xs"  ng-click="openNewItemDialog();"><i class="fa fa-plus"></i>&nbsp;Add
  </a>
  &nbsp;
   <a class="btn btn-link btn-xs"  ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length==0 || isSelectedUserAdmin || ldapUsers.length > 0}" ng-click="openDeleteSelectedItems()">
    <i class="fa fa-trash-o"></i>&nbsp;Delete</a>
  &nbsp;
  <a class="btn btn-link btn-xs ng-hide"   ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length==0}" ng-click="toggleActivateSelectedItems();"><i class="ion-power"></i>&nbsp;{{toggleToActivateState|translate}}
  </a>
  &nbsp;&nbsp;
  <a class="btn btn-link btn-xs"  ng-class="{disabled:!selectedListItemsToOperate||selectedListItemsToOperate.length>1||selectedListItemsToOperate.length==0||selectedItemIsLdapUser}" ng-click="openEditSelectedItemsDialog();"><i class="fa fa-pencil"></i>&nbsp;Edit
  </a>


</div>
