<div  class="fill-height " ng-init="init()">
  <div   class="container">
    <div role="" class="row " >
      <div role="templateRoles-grid-toolbar">
        <div class="panel-header clearfix" >
          <div role="toolbar-row"  >
            <h3 style="display: inline-block;" >{{'TemplateRoles'|translate}}
                      <span ng-if="rolesTotalElements">
                      ({{rolesTotalElements}})
                    </span></h3>
          </div>
        </div>
        <div class="panel-header ibox-title clearfix">
          <div class="header-item pull-right" style="position:relative" role="export">
            <a href="#" class="btn btn-link" ng-click="onExportToExcel()" title="Download data in Excel format"> <i class="fa fa-download "></i></a>
          </div>
          <div ng-if="isMngRolesUser" class="header-item" ng-if="" >
            <template-roles-grid-manage-menu  reload-data="reloadTemplateRolesDataListItems" selected-list-items-to-operate="templateRoleSelectedItems" refresh-display="refreshTemplateRoleGridDisplay"
                                first-selected-list-item-to-operate="templateRoleSelectedItem" grid-find-id="gridRolesFindId"  style="display:inline-block"></template-roles-grid-manage-menu>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div  >
        <template-roles-grid  filter-data="filterRolesData"  refresh-data="reloadTemplateRolesDataListItems" find-id="gridRolesFindId" reload-data-to-grid="refreshTemplateRoleGridDisplay"
          template-view="!changeRolesGridView" total-elements="rolesTotalElements"
          page-changed="pageChanged" item-selected="onTemplateRolesSelectItem" items-selected="onTemplateRoleSelectItems" change-selected-item="changeSelectedItem" change-page="changePage" export-to-excel="exportToExcel">
        </template-roles-grid>
      </div>

    </div>
  </div>
</div>
