<div  class="fill-height " ng-init="init()">
  <div   class="container">
    <div role="" class="row " >
      <div role="users-grid-toolbar">
        <div class="panel-header clearfix" >
          <div role="toolbar-row"  >
            <h3 style="display: inline-block;" >Users
                      <span ng-if="usersTotalElements">
                      ({{usersTotalElements}})
                    </span></h3>


          </div>
        </div>
        <div class="panel-header ibox-title clearfix">
          <div class="header-item pull-right" style="position:relative" role="export">
            <a href="#" class="btn btn-link" ng-click="onExportToExcel()" title="Download data in Excel format"> <i class="fa fa-download "></i></a>
          </div>
          <div ng-if="isMngUsersUser||isMngUserRolesUser" class="header-item" >
            <users-manage-menu  reload-data="reloadUserDataListItems" selected-list-items-to-operate="userSelectedItems" refresh-display="refreshUsersGridDisplay"
                                first-selected-list-item-to-operate="userSelectedItem" grid-find-id="gridFindId"  style="display:inline-block"></users-manage-menu>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div role="users-grid" >
          <users-grid    filter-data="filterData" refresh-data="reloadUserDataListItems" find-id="gridFindId" reload-data-to-grid="refreshUsersGridDisplay"
                       template-view="!changeGridView" total-elements="usersTotalElements"
                        page-changed="pageChanged" item-selected="onUserSelectItem" items-selected="onUserSelectItems" change-selected-item="changeSelectedItem" change-page="changePage" export-to-excel="exportToExcel">

          </users-grid>
      </div>

    </div>
  </div>
</div>
