<div  class="fill-height " ng-init="init()">
  <div   class="container">
    <div role="" class="row " >
      <div role="bizRoles-grid-toolbar">
        <div class="panel-header clearfix" >
          <div role="toolbar-row"  >
            <h3 style="display: inline-block;" >{{'BizRoles'|translate}}
                      <span ng-if="rolesTotalElements">
                      ({{rolesTotalElements}})
                    </span></h3>


          </div>
        </div>
        <div class="panel-header ibox-title clearfix">
          <div class="header-item pull-right" style="position:relative" role="export">
            <a href="#" class="btn btn-link" ng-click="onExportToExcel()" title="Download data in Excel format"> <i class="fa fa-download "></i></a>
          </div>
          <div ng-if="isMngRolesUser" class="header-item" >
            <biz-roles-manage-menu  reload-data="reloadBizRolesDataListItems" selected-list-items-to-operate="bizRoleSelectedItems" refresh-display="refreshBizRoleGridDisplay"
                                first-selected-list-item-to-operate="bizRoleSelectedItem" grid-find-id="gridRolesFindId"  style="display:inline-block"></biz-roles-manage-menu>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div role="bizRoles-grid" >
        <biz-roles-grid  filter-data="filterRolesData" refresh-data="reloadBizRolesDataListItems" find-id="gridRolesFindId" reload-data-to-grid="refreshBizRoleGridDisplay"
          template-view="!changeRolesGridView" total-elements="rolesTotalElements"
          page-changed="pageChanged" item-selected="onBizRolesSelectItem" items-selected="onBizRoleSelectItems" change-selected-item="changeSelectedItem" change-page="changePage" export-to-excel="exportToExcel">
        </biz-roles-grid>
      </div>

    </div>
  </div>
</div>
