
<div class="modal-header dialog-header-confirm" draggable draggable-element-class="modal-dialog" handle-element-class="modal-header" style="width: 610px;">
  <button type="button" class="close" ng-click="cancel()">×</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body tabbed-dialog new-user-dialog-body" style="width: 610px; background: white; margin: inherit; min-height: 300px;">
  <ul class="nav nav-tabs">
    <li> <a class="btn btn-sm" ng-click="setActiveTab('general')" ng-show="tabEnabled.general" ng-class="{'btn-flat':activeTab=='general'}">General <span class="error " ng-visible=" !generalForm.$valid" >*</span></a></li>
    <li> <a class="btn btn-sm" ng-click="setActiveTab('password')" ng-show="tabEnabled.password" ng-class="{'btn-flat':activeTab=='password'}">Password <span class="error " ng-visible=" !passwordForm.$valid" >*</span></a></li>
    <li> <a class="btn  btn-sm" ng-click="setActiveTab('roles')"  ng-show="tabEnabled.roles" ng-class="{'btn-flat':activeTab=='roles'}">Operational roles <span class="error " ng-visible=" !isBizRolesValid()" >*</span></a></li>
    <li> <a class="btn  btn-sm" ng-click="setActiveTab('functionalRoles')"  ng-show="tabEnabled.functionalRoles" ng-class="{'btn-flat':activeTab=='functionalRoles'}">Data Roles <span class="error " ng-visible=" !isFunctionalRolesValid()" >*</span></a></li>

  </ul>
  <div ng-show="activeTab=='general'&&tabEnabled.general" class="col-sm-11 ">
    <form class="form-horizontal" name="generalForm" role="form">
      <div class="form-group" >
        <label class="control-label col-sm-3" for="name" style="text-align:left">Name:</label>
        <div class="col-sm-7">
          <span class="error top-right-position" ng-show=" generalForm.name.$error.required">*</span>
          <input  ng-click="$event.stopPropagation();" id="name" focus-if="initiated"  name="name" required  class="block form-control" ng-model="userItem.name"
                  type="text"/>
        </div>

      </div>
      <div class="form-group" >
        <label class="control-label col-sm-3" for="username"  style="text-align:left">Username:</label>
        <div ng-if="!editMode" class="col-sm-7">
          <span class="error top-right-position" ng-show=" generalForm.username.$error.required">*</span>
          <span class="error top-right-position" ng-show=" generalForm.username.$error.pattern" title="User name contains the illegal character @ ">*</span>
          <input  ng-click="$event.stopPropagation();" pattern="[^@]+"  id="username"  name="username" required  class="block form-control" ng-model="userItem.username"
                  type="text"/>
        </div>
        <div ng-if="editMode" class="col-sm-7 control-label control-label-value">
          {{userItem.username}}
        </div>
      </div>
      <div class="form-group" >
        <label class="control-label col-sm-3"  style="text-align:left" for="email">E-Mail:</label>
        <div class="col-sm-7">
          <span class="error top-right-position" ng-show=" generalForm.email.$error.required">*</span>
          <input  ng-click="$event.stopPropagation();" id="email"  name="email" required  class="block form-control" ng-model="userItem.email"
                  type="email"/>
        </div>
        <span class="error" ng-show="generalForm.email.$error.email">Not valid email</span>
      </div>

      <div class="form-group"  ng-if="!profileMode">
        <label class="control-label col-sm-3"  style="text-align:left" >State:</label>
        <div class="state">
          <div class="active">
            <div ng-if="!isCurrentUser" class="radio-group21" >
              <a ng-click="toggleUserActiveState()" class="btn btn-link "  >
                <i ng-show="isUserActive() " class="fa fa-check-square-o primary" title="User is active" ></i>
                <i ng-show="!isUserActive()" class="fa fa-square-o"  title="User is disabled"  ></i>
                <span>{{'Users_state_ACTIVE'|translate}}</span>
              </a>
            </div>
            <div class="control-label control-label-value" style="padding-left:15px;" ng-if="isCurrentUser">
              <span>{{'Users_state_'+userItem.userState|translate}}</span>
            </div>
          </div>
          <div class="lock" ng-click='openLock()' ng-if="!userItem.accountNonLocked">
            <span class="fa fa-lock"  ></span>
          </div>
          <div class="unlock" ng-if="userUnlocked" >
            <span class="fa fa-unlock"></span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div ng-show="activeTab=='password'&&tabEnabled.password" class="col-sm-11 ">
    <form class="form-horizontal" role="form" name="passwordForm">
         <div class="form-group" ng-if1="resetPasswordMode ||(!profileMode&&!editMode)" >
          <label class="control-label col-sm-3" style="text-align: left;">Password:</label>
          <div class="col-sm-7 " >
            <span class="error top-right-position" ng-show="passwordForm.password1.$error.required">*</span>
            <input  ng-click="$event.stopPropagation();"   id="password1" required  name="password1"  class="block form-control" ng-model="userItem.password" />
            <a ng-click="autoGeneratePassword()" style="font-size: 12px;">Auto generate password</a>
          </div>
          <div class="col-sm-4" style="position: relative">
            <ul check-password-strength  ng-model="userItem.password"></ul>
          </div>
        </div>

    </form>
  </div>
  <div ng-show="activeTab=='roles'&&tabEnabled.roles"  class="col-sm-8">
    <form class="form-horizontal" role="form" name="rolesForm" style="margin-top: 10px;">
         <input-param options="true" single-selection="false"  on-items-selected="onBizRoleItemSelected" action-name="{{'Operational Roles'}}"
                         class-type=""  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewBizRoleDialog"
                         saved-selected-items="userBizRolesSavedSelectedItems" load-option-items="loadBizRoleOptionItems"
                         create-new-option-from-item="createBizRoleParamOption"></input-param>


    </form>
  </div>
  <div ng-show="activeTab=='functionalRoles'&&tabEnabled.functionalRoles"  class="col-sm-8">
    <form class="form-horizontal" role="form" name="rolesForm" style="margin-top: 10px;">
      <input-param options="true" single-selection="false"  on-items-selected="onFunctionalRoleItemSelected" action-name="{{'Data Roles'}}"
                   class-type=""  create-new-selected-item-from-text1="" leave-text-after-selection="true" open-new-object-dialog="openNewFunctionalRoleDialog"
                   saved-selected-items="userFunctionalRolesSavedSelectedItems" load-option-items="loadFunctionalRoleOptionItems"
                   create-new-option-from-item="createFunctionalRoleParamOption"></input-param>
    </form>
  </div>
</div>
<div class="modal-footer" style="width: 610px;background: white;" >
  <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

</div>
