.users-grid {
  .sys-roles-item {
    white-space:nowrap;
    display: inline-block;

    .role-icon {
      padding: 0 4px 0 10px;
    }
  }
}

.sys-roles-tooltip  {
   padding: 0 4px 4px 0;
   text-align: left;

    .sys-roles-tooltip-item {
      line-height: 25px;
      .icon {
        padding: 0 9px 0 5px;
      }
    }
 }


.profile-template-tooltip {
  display: flex;
  flex-direction: row;

  .icon {
    width: 20px;
    justify-content: center;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 5px;

    .name {
      text-align: left;
      font-weight: bold;
    }
    .desc {
      color: gray;
    }
  }
}


.user-template-role-item-tooltip  {
  .name {
    padding-left: 5px;
  }
}

.new-user-dialog-body {

  .state {
    display:flex;
    width:295px;

    .active {
      display:flex;
      flex:1;
    }

    .lock, .unlock {
      display: flex;
      width: 25px;
      align-items: center;
      justify-content: center;
      background: #f1f1f1;
      border-radius: 4px;
    }

    .lock {
      cursor: pointer;
      &:hover {
        background: #ebebeb;
      }
    }
  }
}

