<div ng-init="init()" class="ibox float-e-margins col-lg-6 col-lg-offset-3 col-sx-10 col-sx-offset-1 " >
    <div class="ibox-title panel-header">
      <div class="header-item pull-right" style="position:relative" role="export">
        <i ng-show="exportToTextInProgress" class="fa fa-spinner fa-spin" style="position: absolute;top: 9px;"></i>
        <div class="btn-group dropdown">
          <a class="btn btn-link dropdown-toggle btn-sm noFixPosition"  data-toggle="dropdown" title="Export to File" ng-class="{'disabled':exportToTextInProgress}" ng-disabled="exportToTextInProgress">
            <i class="fa fa-download"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu pull-right"  >
            <li> <a ng-click="exportToText()" title="Download Access Token to Text File" class="btn btn-link" ><i class="fa fa-file-o"></i>&nbsp; as Text</a></li>
          </ul>
        </div>
      </div>
      <div class="header-item " >
         <h4 style="margin-top: 1px;margin-bottom: 0;">{{user.name}}</h4>
      </div>
      <div class="header-item " style="margin-left: 30px;">

        <users-edit-profile-menu  reload-data="reloadUserData" current-user="user"></users-edit-profile-menu>
      </div>
    </div>
    <div class="ibox-content">
      <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3" >Username:</label>
            <div class="col-sm-8 control-label control-label-value">
              <i class="fa fa-user " style="font-size: 50px; margin-right: 30px;"></i><h1>   {{user.username}}</h1>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" >E-Mail:</label>
            <div class="col-sm-8 control-label control-label-value">
              {{user.email}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" >Roles:</label>
            <div class="col-sm-8 control-label control-label-value">
              <div ng-bind-html="bizRoles"></div>
              <div ng-bind-html="funcRoles"></div>
           </div>
          </div>
          <div class="form-group" ng-if="!user.ldapUser">
            <label class="control-label col-sm-3" >Password:</label>
            <div class="col-sm-8 control-label control-label-value">
              <a   ng-click="openCurrentUserChangePasswordDialog()" >Change...</a>
            </div>
            <div class="col-sm-8 col-sm-offset-3" ng-if="lastPasswordChangeTimeStamp"><small>Last password changed at {{lastPasswordChangeTimeStamp|date:dateFormat}}</small></div>
          </div>
      </div>

    </div>

</div>
