ingestError-module {
  ingestError-item-grid {
    width:100%;
    .file-type-icon {
      font-size: 22px;
      text-align: center;
      &.fa-file-excel-o {
        color: #408f40;
      }
      &.fa-file-pdf-o {
        color: #964848;
      }
      &.fa-file-pdf-o.scanned-pdf {
        color: #B75B5B;
      }
      &.fa-file-word-o {
        color: #4d717d;
      }
    }
    .baseName-btn-bar {
      position:absolute;
      right: 0px;
      top: 5px;
      visibility: hidden;

      .btn-link {
        margin: 0px;
        padding: 0px;
      }
    }
    .item {
      &.baseName{
        flex: 0 1 250px;
        position: relative !important;
        display: inline-block;

        .baseName-title {
          padding-right: 20px;
          word-break: break-word;
          display: inline-block;
          word-wrap: break-word;
        }
      }
      &.baseName:hover{
        .baseName-btn-bar {
          visibility: visible;
        }
      }
      &.fileType{
        flex: 0 0 70px;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      &.fileExtension{
        flex: 0 0 100px;
        word-break: break-word;
        display: inline-block;
        word-wrap: break-word;
      }
      &.rootFolder{
        flex: 0 1 200px;
        position: relative;

        .rootFolder-name {
          padding-right: 12px;
          word-break: break-word;
          display: inline-block;
          word-wrap: break-word;
        }

        .rootFolder-buttons {
          display: none;
          position: absolute;
          right: 0px;
          top:5px;
        }
      }
      &.rootFolder:hover{
        .rootFolder-buttons {
          display: inline-block;
        }
      }
      &.folder{
        flex: 0 1 150px;
      }
      &.text{
        flex: 0 1 100px;
        word-break: break-word;
      }
      &.errorType{
        flex: 0 1 150px;
        word-break: break-all;
      }
      &.mediaType{
        flex: 0 0 90px;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      &.detailText{
        flex: 1 0 150px;
      }
      &.timeStamp{
        flex: 0 1 150px;
      }
    }
  }
}
