<div #el class="grid-row">
  <div class="item baseName  title-primary  lower-case-capitalized">
    <span class='baseName-title' >{{dataItem.item.baseName}}</span>

    <span class='baseName-btn-bar' >
          <!-- a class='btn btn-link btn-xs da-cond-show ' target='_blank' ui-sref='details({ id: dataItem.id, context:contextName,name:dataItem.fileName})'><i   class='fa fa-info ng-hide'></i></a -->
          <a *ngIf="canViewfiles" class=' btn btn-link btn-xs' title='Open file' href='{{openFileUrl(dataItem)}}' target='{{openFileUrlTarget(dataItem)}}'><i class='fa fa-download ng-hide' ></i></a>
          <a class=' btn btn-link btn-xs' (click)="copyFileNameToClipboard(dataItem)" text='dataItem.item.fileName' title='Copy path to clipboard'><i class='fa fa-copy ng-hide' ></i></a>
    </span>

  </div>
  <div class="item fileType ">
    <span title="{{ dataItem.item.fileType | translate }}" class="file-type-icon  {{getFileTypeClassName(dataItem.item.fileType)}}"></span>
  </div>
  <div class="item fileExtension">{{dataItem.item.extension}}</div>
  <div class="item rootFolder">
    <span class="rootFolder-name">{{dataItem.item.rootFolder}}</span>
    <span class='rootFolder-buttons' >
      <a class=' btn btn-link btn-xs' (click)="copyRootFolderToClipboard(dataItem)" text='dataItem.item.rootFolder' title='Copy path to clipboard'><i class='fa fa-copy ng-hide' ></i></a>
    </span>
  </div>
  <div class="item folder">{{dataItem.item.folder}}</div>
  <div class="item text">{{dataItem.item.text}}</div>
  <div class="item errorType">{{  errorType }}</div>
  <div class="item mediaType">
    <span class="media-type-icon {{ dataItem.item.mediaType }}" title="{{ (dataItem.item.mediaType | translate) }}">
    </span>
  </div>
  <div class="item detailText">{{dataItem.item.detailText}}</div>
  <div class="item timeStamp">{{dataItem.item.timeStamp| date:myEnvironment.dateTimeFormat}}</div>
</div>
