<header scroll-y-offset-element="" class="header header-fixed" ng-controller="HeaderCtrl" >
  <section class="navbar navbar-inverse docs-navbar-primary ng-scope" ng-if="showHeader">
    <div class="container">
      <div class="row">
        <div class="col-md-9 header-branding">
          <nav role="top navigation" class="navbar navbar-default navbar-fixed-top ">
            <div class="container">
              <div  class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"  ng-click="isCollapsed = !isCollapsed">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
             <a ng-class="{'disabled':isLoginExpired}"   class="navbar-brand" rel="home" ui-sref="dashboard" title="DocAuthority">
                  <da-icon class="navbar-logo" href="logo_sq.png" ></da-icon>
                </a>
              </div>
              <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
                <ul role="middle navbar" class="nav navbar-nav nav-expired">

                  <li ui-sref-active="active">
                    <a ui-sref="dashboard"><i class="fa fa-th-large"></i><span class="nav-label">{{ 'DASHBOARD' | translate }}</span></a>
                  </li>
                  <!--<li class="dropdown" ng-class="{active: $state.includes('groups')||$state.includes('categories')||$state.includes('files')||$state.includes('folders')||$state.includes('foldersView')||$state.includes('ownersView')}">-->
                  <li >
                    <a class=" dropdown-toggle noFixPosition" data-toggle="dropdown"><span>{{ 'DISCOVER' | translate }}</span><b class="caret"></b></a>
                    <ul class="dropdown-menu ">
                      <li ng-repeat="savedView in savedViews"><a ng-click="loadSavedFilter(savedView)" title="User custom discover report">{{savedView.name}}</a></li>
                      <li ng-show="savedViews && savedViews.length>0" class="divider"></li>

                      <li><a  ui-sref="report({left:'groups',right:'files', filter:'none'})" ui-sref-opts="{reload: false,inherit:false}">File groups</a></li>
                      <li><a  ui-sref="report({left:'folders',right:'files', filter:'none'})" ui-sref-opts="{reload: false,inherit:false}">Folders</a></li>

                      <li class="divider"></li>
                      <li class="dropdown-submenu">
                        <a ng-click="$event.preventDefault();$event.stopPropagation();">Advanced</a>
                        <ul class="dropdown-menu">


                            <li class="dropdown-submenu">
                            <a ng-click="$event.preventDefault();$event.stopPropagation();">Files by</a>
                            <ul class="dropdown-menu">
                              <li><a ng-href="report/groups/files">Group</a></li>
                              <li><a ng-href="report/folders/files">Folder</a></li>
                              <li><a ng-href="report/folders_flat/files">Folder list</a></li>
                            </ul>
                            </li>
                            <li class="dropdown-submenu">
                              <a ng-click="$event.preventDefault();$event.stopPropagation();">Groups by</a>
                              <ul class="dropdown-menu">
                                <li><a ng-href="report/folders/groups">Folder</a></li>
                                <li><a ng-href="report/folders_flat/groups">Folder list</a></li>
                                <li><a ng-href="report/owners/groups">Owner</a></li>
                                <li><a ng-href="report/acl_reads/groups">Read ACL</a></li>
                                <li><a ng-href="report/acl_writes/groups">Write ACL</a></li>
                              </ul>
                            </li>
                            <li class="dropdown-submenu">
                              <a ng-click="$event.preventDefault();$event.stopPropagation();">Folders by</a>
                              <ul class="dropdown-menu">
                                <li><a ng-href="report/groups/folders">Group</a></li>
                                <li><a ng-href="report/owners/folders">Owner</a></li>
                                <li><a ng-href="report/acl_reads/folders">Read ACL</a></li>
                                <li><a ng-href="report/acl_writes/folders">Write ACL</a></li>
                              </ul>
                            </li>
                            <li class="dropdown-submenu">
                              <a ng-click="$event.preventDefault();$event.stopPropagation();">Owners by</a>
                              <ul class="dropdown-menu">
                                <li><a ng-href="report/folders/owners">Folder</a></li>
                                <li><a ng-href="report/groups/owners">Group</a></li>
                              </ul>
                            </li>


                            <li class="dropdown-submenu">
                              <a ng-click="$event.preventDefault();$event.stopPropagation();">Read ACLs by</a>
                              <ul class="dropdown-menu">
                                <li><a ng-href="report/groups/acl_reads">Group</a></li>
                                <li><a ng-href="report/folders/acl_reads">Folder</a></li>
                                <li><a ng-href="report/folders_flat/acl_reads">Folder list</a></li>
                              </ul>
                            </li>

                            <li class="dropdown-submenu">
                              <a ng-click="$event.preventDefault();$event.stopPropagation();">Write ACLs by</a>
                              <ul class="dropdown-menu">
                                <li><a ng-href="report/groups/acl_writes">Group</a></li>
                                <li><a ng-href="report/folders/acl_writes">Folder</a></li>
                                <li><a ng-href="report/folders_flat/acl_writes">Folder list</a></li>
                              </ul>
                            </li>


                        </ul>
                      </li>

                    </ul>
                </li>

                  <li style="display: none;" class="dropdown" ng-class="{active: $state.includes('provision')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ 'PROVISION' | translate }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li ui-sref-active="active"><a ui-sref="provision.groups">{{'GROUPS' | translate}}</a></li>
                      <li ui-sref-active="active"><a ui-sref="provision.users">{{'USERS' | translate}}</a></li>

                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      -
                      <li ui-sref-active="active"><a ui-sref="provision.doc-storage">{{'DOC-STORAGE' | translate }}</a>
                      </li>
                    </ul>
                  </li>
                  <li ng-if="isViewReportsUser">
                      <a class=" dropdown-toggle noFixPosition" data-toggle="dropdown"><span><i class="fa fa-bar-chart"></i>Reports</span><b class="caret"></b></a>
                      <ul class="dropdown-menu " >
                        <li class="dropdown-submenu" ng-show="savedChartsForTopMenu && savedChartsForTopMenu.length>0">
                          <a href="#">Custom charts</a>
                          <ul class="dropdown-menu " style="overflow-y:auto; max-height:320px; max-width:217px;width:217px;">
                            <li ng-repeat="savedChart in savedChartsForTopMenu"><a ng-click="loadSavedChart(savedChart)" title="{{savedChart.name}}">{{savedChart.name}}</a></li>
                          </ul>
                        </li>
                        <li class="dropdown-submenu" ng-show="trendChartsForTopMenu && trendChartsForTopMenu.length>0">
                          <a href="#">Custom trend-charts</a>
                          <ul class="dropdown-menu " style="overflow-y:auto; max-height:320px; max-width:217px;width:217px;">
                          <li ng-repeat="trendChart in trendChartsForTopMenu"><a ng-click="loadTrendChart(trendChart)" title="{{trendChart.name}}">{{trendChart.name}}</a></li>
                          </ul>
                        </li>
                        <li ng-show="(savedChartsForTopMenu && savedChartsForTopMenu.length>0)||(trendChartsForTopMenu && trendChartsForTopMenu.length>0)" class="divider"></li>
                        <li><a ui-sref="docTypesHier">Datamap</a></li>
                        <li class="divider" ng-if="isMngReportsUser"></li>
                        <li ng-if="isMngReportsUser"><a ng-href="charts">Manage charts</a></li>
                        <li ng-if="isMngReportsUser"><a ng-href="trendCharts">Manage trend charts</a></li>
                      </ul>
                  </li>
                  <li ng-show="isDemoUser">
                    <a class=" dropdown-toggle noFixPosition" data-toggle="dropdown"><span>Policy</span><b class="caret"></b></a>
                    <ul class="dropdown-menu ">
                           <li><a ui-sref="policyManagement">Manage</a></li>
                    </ul>
                  </li>
                  <li ng-show="isDemoUser">
                    <a class=" dropdown-toggle noFixPosition" data-toggle="dropdown"><span>GDPR</span><b class="caret"></b></a>
                    <ul class="dropdown-menu ">
                         <li ><a  ui-sref="GDPRErasureManagement" >Erasure</a></li>
                         <li ><a  ui-sref="GDPRErasureManagement" >Update</a></li>
                         <li ><a  ui-sref="GDPRErasureManagement" >Disclose</a></li>
                    </ul>
                  </li>
                  <li ng-show="isRunScansUser || isMngScanConfigUser ||isMngBizListsUser">
                    <a class=" dropdown-toggle noFixPosition" data-toggle="dropdown"><span>Scan</span><b class="caret"></b></a>
                    <ul class="dropdown-menu ">

                      <li ng-show="isRunScansUser || isMngScanConfigUser"><a ui-sref="{{getRoute('activeScans')}}">Active scans</a></li>
                      <li ng-if="isRunScansUser"><a ui-sref="{{getRoute('scanHistory')}}">Scans history</a></li>
                      <li ng-show="isRunScansUser || isMngScanConfigUser"><a ui-sref="rootFoldersManagement">Root folders</a></li>
                      <li ng-if="isRunScansUser"><a ui-sref="serverComponentsMonitor">System Components</a></li>
                      <li class="divider" ng-if="(isRunScansUser || isMngScanConfigUser) && (isMngScanConfigUser || isMngBizListsUser)"></li>
                      <li class="dropdown-submenu" ng-show="isMngScanConfigUser || isMngBizListsUser">
                        <a href="#">Configuration</a>
                        <ul class="dropdown-menu">

                          <li ng-show="isMngScanConfigUser"><a ui-sref="searchPatternsManagement">Search patterns</a></li>
                          <li ng-show="isMngBizListsUser"><a ui-sref="bizListsManagement">Business lists</a></li>
                        </ul>
                      </li>

                    </ul>
                  </li>
                </ul>
                <ul role="right navbar" class="nav navbar-nav navbar-right">
                  <li ng-show="licenseUserMessage" ><a ng-click="openLicenseKeyDialog();" class="notice" ng-bind-html="licenseUserMessage"></a></li>

                  <li  role="settings toolbar">
                    <a class="dropdown-toggle noFixPosition" data-toggle="dropdown">
                      <span class="clear block username">{{userName}}<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu">
                      <!--<li><a ui-sref="profile.me">Profile</a></li>-->
                      <!--<li><a ui-sref="contacts">Contacts</a></li>-->
                      <!--<li><a ui-sref="contacts">Contacts</a></li>-->
                      <!--<li class="divider"></li>-->
                      <!--<li class="dropdown-submenu">-->
                        <!--<a href="#">View Settings..</a>-->
                        <!--<ul class="dropdown-menu">-->
                          <!--<li><a mode="template" template-view-mode><i class="fa fa-check"></i>Template view</a></li>-->
                          <!--<li><a mode="grid" default-value="true" template-view-mode><i class="fa fa-check"></i>Grid view</a></li>-->
                         <!--</ul>-->
                      <!--</li>-->
                      <!--<li class="divider"></li>-->
                      <li ng-show="!isLoginExpired"><a  ng-click="startApplyToSolr()">Apply assignment</a></li>
                      <li ng-show="isDemoUser&&!isLoginExpired"><a  ng-click="startApplyTagsToFiles()">Apply policy tags to files...</a></li>
                      <li class="dropdown-submenu" ng-show="(isRunScansUser||isGeneralAdminUser)&&!isLoginExpired">
                        <a ng-click="$event.preventDefault();$event.stopPropagation();">System</a>
                        <ul class="dropdown-menu">
                          <!--<li ng-if="isRunScansUser"><a  ui-sref="run">Processing details</a>-->
                          <li ng-if="isRunScansUser"><a  ng-href="processingErrors/ingestion">Ingestion errors</a>
                          <li ng-if="isRunScansUser"><a  ng-href="processingErrors/scan">Map errors</a>
                          <li  class="da-cond-show" ng-show="!isLoginExpired"><a  ng-click="startResyncSolr()">Rebuild indexes...</a></li>
                          <li ng-if="isRunScansUser" class="da-cond-show"><a ng-href="processingErrors/changelog">Change log</a>
                          <li ng-if="isViewAuditTrailUser" ><a ui-sref="auditTrail">Audit trail</a>
                          <!--<li><a  ui-sref="docTypes">docTypes</a>-->
                          <li ng-if="isRunScansUser || isGeneralAdminUser" class="divider"></li>
                          <li ng-if="isGeneralAdminUser"><a  ng-href="/api/logs/fetchErrMon" target="_self">Get error log</a></li>
                          <li ng-if="isGeneralAdminUser"><a  ng-href="/api/logs/fetch" target="_self">Get logs</a></li>
                          <li ng-if="isGeneralAdminUser"><a  ng-href="/api/logs/fetchAll" target="_self">Get all logs</a></li>
                        </ul>
                      </li>
                      <li ng-show="!isLoginExpired" ><a ui-sref="settings"><i class="fa fa-cogs" ></i>&nbsp;Settings</a></li>
                      <li class="dropdown-submenu " ng-show="!isLoginExpired&&isDemoUser">
                        <a  class="" ng-click="$event.preventDefault();$event.stopPropagation();">Adv. settings</a>
                        <ul class="dropdown-menu">
                          <li class="da-cond-show"><a ng-click="toggleNewLook()">Toggle new look</a></li>
                          <li class="da-cond-show"> <a ng-click="toggleTagIcons();"   >Toggle tags icons</a></li>
                          <li class="da-cond-show"> <a ng-click="toggleDocTypeIcons();"   >Toggle docType icons</a></li>
                          <!--<li ng-show="isDemoUser" class="divider"></li>-->
                          <li ng-show="isDemoUser"><a ng-click="toggleLabelingSet()">Toggle labeling set</a></li>
                          <li  class="da-cond-show "><a ng-click="clearRunErrors()">Clear server errors</a></li>
                        </ul>
                      </li>
                      <li class="divider" ng-show="!isLoginExpired"></li>
                      <li><a ng-if="isGeneralAdminUser" ng-click="openLicenseKeyDialog();">License key...</a></li>
                      <li ><a ng-if="isMngUserAndRolesUser || isGeneralAdminUser" ng-click="openLDapSettingsDialog()">LDAP settings</a>
                      <li class="dropdown-submenu" ng-if="isGeneralAdminUser || isRunScansUser"><a>Mail notifications</a>
                        <ul class="dropdown-menu">

                          <li ng-if="isRunScansUser"><a ng-click="sendHealthReportNow();">Send report NOW</a></li>
                          <li  ng-if="isRunScansUser"><a  href="/api/communication/email/notification/sample" target="_blank">View report</a></li>
                          <li  ng-if="isGeneralAdminUser && isRunScansUser" class="divider"></li>
                          <li  ng-if="isGeneralAdminUser"><a ng-click="openMailSettingsDialog();">Settings...</a></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu " ng-if="isViewUsersUser||isMngUserAndRolesUser" ng-show="!isLoginExpired">
                        <a  class="" ng-click="$event.preventDefault();$event.stopPropagation();">Users & Roles</a>
                        <ul class="dropdown-menu">
                          <li ng-if="isMngUserAndRolesUser || isViewUsersUser"><a  ui-sref="usersManagement"><da-icon href="user"></da-icon>&nbsp;Users</a></li>
                          <li ng-if="isMngUserAndRolesUser"><a  ui-sref="templateRolesManagement"><da-icon href="templateRole"></da-icon>&nbsp;Role templates</a></li>
                          <li ng-if="isMngUserAndRolesUser"><a  ui-sref="bizRolesManagement"><da-icon href="bizRole"></da-icon>&nbsp;Operational Roles</a></li>
                          <li ng-if="isMngUserAndRolesUser"><a  ui-sref="functionalRolesManagement"><da-icon href="funcRole"></da-icon>&nbsp;Data Roles</a></li>
                        </ul>
                      </li>
                      <li><a ui-sref="profile">Profile</a></li>
                      <li class="divider"></li>
                      <li><a ng-click="logout()" target="_top">Logout</a></li>
                    </ul>
                  </li>

                  <li ng-if="isGeneralAdminUser" class="dropdown" role="alerts list">
                    <a  class="dropdown-toggle count-info" >
                      <i class="fa fa-bell" ng-dblclick="clearFatalRunErrors()"></i> <span  ng-click="clearRunErrors()"  class="label label-primary" ng-class="{'label-danger':(user.fatals>0)}">{{user.alerts}}</span>
                    </a>

                  </li>
                  <li class="da-cond-indicate" role="hidden items indicator">
                    <i class="fa fa-bolt"></i>
                  </li>
                  <!--<li  role="Configuration Settings">-->
                    <!--<a class="btn-lg" ng-href="settings" >-->
                      <!--<i class="fa fa-cog"></i>-->
                    <!--</a>-->
                  <!--</li>-->
                </ul>

              </div>
            </div>
          </nav>
        </div>

      </div>
    </div>

  </section>
  <section class="sup-header" ng-hide="isLoginExpired" >
    <div class="left-margin"></div>
    <div class="right-margin"></div>
    <div class="container full-width main-grid main-header-grid " style="position: relative;" >
      <div class="row">
        <div class="col-md-4 col-xs-3 ellipsis">
         <ul class="nav layout-horizontal full-width">
          <li class="page-title ellipsis full-width" page-title></li>
         </ul>
        </div>
        <!--<div ui-view="bbbb"></div>-->
        <div ui-view="centerSupHeader"  class="col-md-5 col-xs-6">
        </div>
        <div ui-view="rightToolbarSupHeader" >
        </div>
        <div  class="container-fluid top-right-position" ng-show="notifications.getCurrent().length" style="width:30%;white-space: normal ">
        <div ng-class="['alert', 'alert-'+notification.type]" ng-repeat="notification in notifications.getCurrent()" style="margin: 0;">
          <button class="close" ng-click="removeNotification(notification)">x</button>
          {{notification.message}}
        </div>
      </div>
      <!--<div ng-if="$state.includes('report')" class="col-md-5 col-xs-6">-->
        <!--<ul class="nav layout-horizontal full-width">-->
          <!--<li>-->
            <!--<user-search-box ></user-search-box>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div ng-show="$state.includes('report')" class="">-->
          <!--<ul class="nav pull-right layout-horizontal">-->
              <!--<li><span class="hidden-sm">View: &nbsp</span>-->
                <!--<button mode="left" toggle-kendo-splitter class="btn btn-flat"><i class="fa fa-list-alt"></i></button>-->
                <!--<button mode="both" toggle-kendo-splitter class="btn btn-flat active"><i class="fa fa-columns"></i></button>-->
                <!--<button mode="right" toggle-kendo-splitter class="btn btn-flat"><i class="fa fa-list-alt"></i></button>-->
                <!--<button ng-hide="true" class="btn btn-flat" ng-click="testBug()"><i class="fa fa-bug"></i></button>-->
              <!--</li>-->
           <!--</ul>-->
        <!--</div>-->
      </div>
    </div>
  </section>
</header>
