<div class="main-div" (window:resize)="onResize()">
  <loader *ngIf="loading"  [show]="loading"></loader>
  <div class="main-button-div" >
    <span class="main-dashboard-title no-special-tooltip" *ngIf="dashboardItem" title="{{ dashboardItem.name }}">
      {{ dashboardItem.name }}
    </span>
    <span class="main-filter-div-title">Filter:</span>
    <span class="main-filter-div" *ngIf="selectedFilter">
        <da-select-input  (itemSelected)="onMainFilterChanged($event)" [withNoneValue]="true" [options]="filterList" [selectedName]="selectedFilter.name" ></da-select-input>
    </span>

    <span class="right-button-item"  ></span>

    <span *ngIf="currUserIsDashboardOwner" (click)="createNewChart()" class="icon-button" title="Add new widget"><i class="fa fa-plus"></i></span>

    <span *ngIf="widgetItemKeys.length > 0"  (click)="refreshCharts()" class="icon-button"  title="Refresh charts data"><i class="fa fa-refresh"></i></span>

    <div>
      <da-drop-down dropDownWidth="215px" [openOnLeft]="true" [enabled]="true" [dropDownItems]="dropDownItems">
        <span  class="icon-button options"  title="Options"><i class="fa fa-ellipsis-v"></i></span>
      </da-drop-down>
    </div>

  </div>
  <div class="gridster-area-div" *ngIf="gridOptions">
    <gridster [options]="gridOptions">
      <ng-template ngFor let-widgetItemKey [ngForOf]="widgetItemKeys">
        <gridster-item [item]="gridItems[widgetItemKey]" *ngIf="gridItems[widgetItemKey] && !gridItems[widgetItemKey].isHidden"   id="{{ widgetItemKey }}">
          <dashboard-widget (mainLoaderUpdated)="updateLoader($event)" (widgetItemAdded)="afterAddWidget($event)" (widgetItemRemoved)="afterRemoveWidget($event)" (widgetListUpdated)="onWidgetListChanged()" (widgetStatusChanged)="onWidgetStatusChanged()" [currUserIsDashboardOwner]="currUserIsDashboardOwner" [filterList]="filterList"  [filter]="selectedFilter.filterDescriptor" [gridItem]="gridItems[widgetItemKey]" [userViewDataDto]="widgetItemsMap[widgetItemKey]"></dashboard-widget>
        </gridster-item>
      </ng-template>
    </gridster>
  </div>
</div>
