dashboard-charts {
  .main-div {
    position: absolute;
    left : 0;
    right : 0 ;
    top: 0 ;
    bottom: 0;
  }

  .main-filter-div-title {
    display: inline-block;
    margin-left: 20px;
  }

  .main-filter-div {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
  }

  .main-button-div {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 10px 7px;
    background-color: #f8f8f8;
    border-bottom: solid 1px #cccccc;

    .main-dashboard-title {
      font-weight: bold;
      padding-right: 50px;
      font-size: 16px;
      max-width: 500px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .right-button-item {
      margin-left: auto;
    }

    .icon-button  {
      font-size: 16px;
    }
  }

  .gridster-area-div {
    position: absolute;
    top : 52px;
    bottom: 0px;
    left: 0px;
    right : 0px;
  }

  gridster {
    background-color: transparent;
  }

  gridster-item {
    background-color: transparent;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
  }
}
